<input type="checkbox" class="sr-only sidebar-ctrler" id="v-nav-primary" checked>
<div class="vertical_nav sidebar sidebar--primary">
    <div class="sidebar__header media">
        <div class="logo-left">
            <h1 class="logo">
				<a class="logo__link" href="/">
					<strong>NTU</strong>System
				</a>
			</h1>
        </div>
        <div class="media-body text-right">
            <label class="sidebar-ctrler--label" for="v-nav-primary"><i class="fa fa-ellipsis-v"></i></label>
        </div>
    </div>
    <div class="menu">
        <div class="sidebar-scroll">
            <ul class="nav">
                <li>
                    <a class="waves-effect" href="#">
                        <i class="fa fa-tachometer" title="Dashboard"></i>
                        <span class="menu-label">Dashboard</span>
						<p class="nav-brief"><%= lorem_sentence %></p>
                    </a>
                </li>
                <li>
                    <a class="waves-effect current" href="###">
                        <i class="fa fa-list-ul" title="推薦學生名單"></i>
                        <span class="menu-label">Recommended list</span>
                        <p class="nav-brief"><%= lorem_sentence %></p>
                    </a>
                </li>
                <li>
                    <a class="waves-effect" href="###">
                        <i class="fa fa-cloud-upload" title="推薦信上傳"></i>
                        <span class="menu-label">Letter of Recommendation</span>
                        <p class="nav-brief"><%= lorem_sentence %></p>
                    </a>
                </li>
				<li>
                    <a class="waves-effect" href="###">
                        <i class="fa fa-graduation-cap" title="學生申請結果查詢"></i>
                        <span class="menu-label">Application Result</span>
                        <p class="nav-brief"><%= lorem_sentence %></p>
                    </a>
                </li>
				<li>
                    <a class="waves-effect" href="###">
                        <i class="fa fa-calendar" title="歷年申請結果查詢"></i>
                        <span class="menu-label">Archive</span>
                        <p class="nav-brief"><%= lorem_sentence %></p>
                    </a>
                </li>
				<li>
                    <a class="waves-effect" href="###">
                        <i class="fa fa-university" title="學校簡介"></i>
                        <span class="menu-label">School Information</span>
                        <p class="nav-brief"><%= lorem_sentence %></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
