<!-- TPEAA: 個人資料 獎懲紀錄 -->

<main class="main">
    <div class="page-header">
        <h2>個人資料</h2>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-block">
                <div class="block-header has-border"><h3>獎懲紀錄</h3></div>
                <div class="block-content expansion">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th></th>
									<th>發布日期</th>
									<th>事由</th>
									<th>依據</th>
									<th>額度</th>
									<th>備註</th>
								</tr>   
							</thead>
							<tbody>
								<% 5.times do %>
								<tr>
									<td>
										<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#basicExampleModal">
										    開啟確認
										</button>
									</td>
									<td><%= lorem_date("%Y/%m/%d", 2018..2019) %></td>
									<td><%= lorem_sentence %></td>
									<td><%= lorem_word %></td>
									<td><%= lorem_word %></td>
									<td></td>
								</tr>
								<% end %>
								<tr>
									<td>
										<button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#basicExampleModal2">
										    已確認
										</button>
									</td>
									<td><%= lorem_date("%Y/%m/%d", 2018..2019) %></td>
									<td><%= lorem_sentence %></td>
									<td><%= lorem_word %></td>
									<td><%= lorem_word %></td>
									<td>確認日期 2017/11/11 11:11</td>
								</tr>
							</tbody>
						</table>
					</div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">獎懲確認</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		  <img id="u25076_img" class="rp-img" src="https://d2v8ggac1o0f6z.cloudfront.net/gsc/W5P7U3/e9/87/e5/e987e5588fa4472093ab1b8d621f6f92/images/預覽套印結果/u15450.png?token=6ed3eca33f94ae2fdb6384e356a3755b">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">關閉</button>
        <button type="button" class="btn btn-primary">確認</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">獎懲確認</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		  <img id="u25076_img" class="rp-img" src="https://d2v8ggac1o0f6z.cloudfront.net/gsc/W5P7U3/e9/87/e5/e987e5588fa4472093ab1b8d621f6f92/images/預覽套印結果/u15450.png?token=6ed3eca33f94ae2fdb6384e356a3755b">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>