<!-- oia-nkust: 短期 - 單一課程介紹  -->

<div class="container">
	<h4 class="mb-4">2018 第七屆高科暑期陸生實訓營</h4>
	<ul class="info-item menu-item mb-5">
	    <li class=row>
		    <span class="col-2 label">Course date</span>
			<span class="col-10">2018-01-01 ~ 2018-01-02</span>
		</li>
		<li class=row>
		    <span class="col-2 label">Registration time</span>
			<span class="col-10">2018-01-01 ~ 2018-01-02</span>
		</li>
		<li class=row>
		    <span class="col-2 label">Quota limit</span>
			<span class="col-10">10 人</span>
		</li>
		<li class=row>
		    <span class="col-2 label">Note</span>
			<span class="col-10"><%= lorem_sentences(3) %></span>
		</li>
	</ul>
	<div class="mb-5">
		<h5>課程簡介</h4>
		<p><%= lorem_sentences(6) %></p>
		<p><%= lorem_sentences(4) %></p>
	</div>
	<div class="mb-5">
		<h5>費用說明</h4>
		<p><%= lorem_sentences(6) %></p>
		<p><%= lorem_sentences(4) %></p>
	</div>
	<div class="mb-5">
		<h5>聯絡人</h4>
		<ul class="info-item menu-item mb-5">
			<li class=row>
				<span class="col-2 label">姓名</span>
				<span class="col-10">王曉明</span>
			</li>
			<li class=row>
				<span class="col-2 label">電話</span>
				<span class="col-10">0912345678</span>
			</li>
			<li class=row>
				<span class="col-2 label">email</span>
				<span class="col-10">123@gmail.com</span>
			</li>
		</ul>
	</div>
	<hr />
	<div class="text-center mt-5">
	    <a class="btn btn-rounded blue-gradient btn-lg" href="#">我要報名</a>
		<a class="btn btn-link btn-lg" href="#">回列表</a>
	</div>
</div>