<!-- admin-page: 內部問答 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="col-block block-tabs">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">基本資料</a></li>
            <li class="nav-item"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">功能</a></li>
            <li class="nav-item"><a href="#internal-qa" class="active" aria-controls="internal-qa" role="tab" data-toggle="tab">問答</a></li>
        </ul>
        <div class="block-content tab-content">
            <div role="tabpanel" class="tab-pane" id="home">
                <h4 class="push">Block Tabs With Options</h4>
                <p><%= lorem_paragraphs(2) %></p>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile"><p><%= lorem_paragraphs(2) %></p></div>
            
            <div role="tabpanel" class="tab-pane active" id="internal-qa">
                
                <div class="internal-wrapper">
                    
                    <div class="col-topic">
                        
                        <!-- 麻煩協助鍵盤 Enter 搜尋 -->
                        <div class="form-group form-search">
                            <input type="text" class="form-control" id="" />
                            <i class="fa fa-search"></i>
                        </div>
                        
                        <div class="topic-list-group">
                            <div class="unread-group">
                                <h4>未讀 <span class="badge badge-pill badge-danger">2</span></h4>
                                
                                <!-- 沒有用 a，觸發請綁在 .list-item -->
                                <% (1..2).map do |i| %>
                                <div class="list-item">
                                    <div class="item-head">
                                        <div class="instigator">
                                            <div class="avatar-wrap">
                                                <div class="avatar">
                                                    <img alt="Pic" src="https://i2.wp.com/short-biography.com/wp-content/uploads/blake-lively/Blake-Ellender-Brown.jpg">
                                                </div>
                                                <div class="name">布蕾克</div>
                                            </div>
                                            <div class="date">2024/10/12 10:00</div>
                                        </div>
                                        <span class="message">
                                            5 <i class="fa fa-commenting-o"></i>
                                        </span>
                                    </div>
                                    <div class="item-bd">
                                        <span class="object">@金鋼狼</span>
                                        <span><%= lorem_sentence %></span>
                                    </div>
                                </div>
                                <% end %>
                                
                            </div>
                            
                            <% (1..4).map do |i| %>
                            <div class="list-item">
                                <div class="item-head">
                                    <div class="instigator">
                                        <div class="avatar-wrap">
                                            <div class="avatar">
                                                <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                                            </div>
                                            <div class="name">史佳蕾</div>
                                        </div>
                                        <div class="date">2024/10/12 10:00</div>
                                    </div>
                                    <span class="message">
                                        5 <i class="fa fa-commenting-o"></i>
                                    </span>
                                </div>
                                <div class="item-bd">
                                    <span class="object">@萊恩雷諾斯</span>
                                    <span><%= lorem_sentence %></span>
                                </div>
                            </div>
                            <% end %>
                            
                        </div>
                        
                    </div>
                    
                    <div class="col-content">
                        <div class="content-head">
                            <button type="button" class="btn btn-sm btn-primary btn-rounded">新增</button>
                            <button type="button" class="btn btn-sm btn-danger btn-rounded">刪除</button>
                        </div>
                        
                        <div class="messages-wrap">
                            <div class="row-hd">
                                <h5>ROW: 專案啟動及專案規劃</h5>
                                <a href="#"><span>專案</span> 113年膳食會高教深耕雙向交換生系統維護案</a>
                            </div>
                            
                            <div class="admin-messages scrollbar-inner">
                                <div class="messages">

                                    <div class="character align-items-start">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar">
                                                <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                                            </div>
                                            <div>
                                                <spa class="symbol">Scarlett Johansson</span>
                                                <span class="text-clock">剛剛</span>
                                            </div>
                                        </div>
                                        <div class="messages-item">
                                            <p>@人名 autocomplete 為示意，實際架構依套件或開發再做調整。</p>
                                            <div class="photo-group">
                                                <div class="mdb-lightbox">
                                                    <figure>
                                                        <a href="../assets/fake/c01.jpg" data-size="800x600">
                                                            <img alt="Pic" src="../assets/fake/c01.jpg"  class="img-fluid">
                                                        </a>
                                                    </figure>
                                                    <figure>
                                                        <a href="../assets/fake/k05.jpg" data-size="542x800">
                                                            <img alt="Pic" src="../assets/fake/k05.jpg"  class="img-fluid">
                                                        </a>
                                                    </figure>
                                                    <figure>
                                                        <a href="../assets/fake/chat.gif" data-size="30x23">
                                                            <img alt="Pic" src="../assets/fake/chat.gif"  class="img-fluid">
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-reply" title="回覆">
                                                <i class="fa fa-reply"></i>
                                            </button>
                                        </div>
                                        <div class="reply-wrap">
                                            <div class="character align-items-start oneself">
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar">
                                                        <img alt="Pic" src="../assets/default-avatar.svg">
                                                    </div>
                                                    <div>
                                                        <spa class="symbol">我</span>
                                                        <span class="text-clock">1 分鐘前</span>
                                                    </div>
                                                </div>
                                                <div class="messages-item">
                                                    <p>自己的發言不用出現名字</p>
                                                    <button type="button" class="btn btn-reply" title="回覆">
                                                        <i class="fa fa-reply"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-action row_tooltip">
                                                        <i class="fa fa-ellipsis-v"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="character align-items-start">
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar">
                                                        <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                                                    </div>
                                                    <div>
                                                        <spa class="symbol">Scarlett Johansson</span>
                                                        <span class="text-clock">1 分鐘前</span>
                                                    </div>
                                                </div>
                                                <div class="messages-item">
                                                    <p>Ok, Understood!</p>
                                                    <button type="button" class="btn btn-reply" title="回覆">
                                                        <i class="fa fa-reply"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="character align-items-start oneself">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar">
                                                <img alt="Pic" src="../assets/default-avatar.svg">
                                            </div>
                                            <div>
                                                <spa class="symbol">我</span>
                                                <span class="text-clock">3 分鐘前</span>
                                            </div>
                                        </div>
                                        <div class="messages-item">
                                            <p>tooltip 套件 <a href="https://www.heteroclito.fr/modules/tooltipster/">Tooltipster</a></p>
                                            <p>檔案名稱過長時會截字元</p>
                                            <div class="file-wrap">
                                                <a href="#" class="pdf-file">檔案名稱.pdf</a>
                                                <a href="#" class="excel-file">Tempore nostrum voluptatem repellat eaque cumque.xls</a>
                                                <a href="#" class="doc-file">檔案名稱.docx</a>
                                                <a href="#" class="text-file">檔案名稱.txt</a>
                                                <a href="#" class="zip-file">壓縮檔名稱.zip</a>
                                            </div>
                                            <button type="button" class="btn btn-reply" title="回覆">
                                                <i class="fa fa-reply"></i>
                                            </button>
                                            <button type="button" class="btn btn-action row_tooltip">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="character align-items-start">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar">
                                                <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                                            </div>
                                            <div>
                                                <spa class="symbol">Scarlett Johansson</span>
                                                <span class="text-clock">5 分鐘前</span>
                                            </div>
                                        </div>
                                        <div class="messages-item">
                                            <p><span class="at-style">@fire</span>at 樣式</p>
                                            <p>換行</p>
                                            <button type="button" class="btn btn-reply" title="回覆">
                                                <i class="fa fa-reply"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="character align-items-start oneself">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar">
                                                <img alt="Pic" src="../assets/default-avatar.svg">
                                            </div>
                                            <div>
                                                <spa class="symbol">我</span>
                                                <span class="text-clock">10 分鐘前</span>
                                            </div>
                                        </div>
                                        <div class="messages-item">
                                            <p>You’ll receive notifications for all issues, pull requests!</p>
                                            <div class="photo-group">
                                                <div class="mdb-lightbox">
                                                    <figure>
                                                        <a href="../assets/fake/c01.jpg" data-size="800x600">
                                                            <img alt="Pic" src="../assets/fake/c01.jpg"  class="img-fluid">
                                                        </a>
                                                    </figure>
                                                    <figure>
                                                        <a href="../assets/fake/k05.jpg" data-size="542x800">
                                                            <img alt="Pic" src="../assets/fake/k05.jpg"  class="img-fluid">
                                                        </a>
                                                    </figure>
                                                    <figure>
                                                        <a href="../assets/fake/chat.gif" data-size="30x23">
                                                            <img alt="Pic" src="../assets/fake/chat.gif"  class="img-fluid">
                                                        </a>
                                                    </figure>
                                                    <figure>
                                                        <a href="../assets/fake/c01.jpg" data-size="800x600">
                                                            <img alt="Pic" src="../assets/fake/c01.jpg"  class="img-fluid">
                                                        </a>
                                                    </figure>
                                                    <figure>
                                                        <a href="../assets/fake/k05.jpg" data-size="542x800">
                                                            <img alt="Pic" src="../assets/fake/k05.jpg"  class="img-fluid">
                                                        </a>
                                                    </figure>
                                                    <figure>
                                                        <a href="../assets/fake/chat.gif" data-size="30x23">
                                                            <img alt="Pic" src="../assets/fake/chat.gif"  class="img-fluid">
                                                        </a>
                                                    </figure>
                                                    <figure>
                                                        <a href="../assets/fake/c01.jpg" data-size="800x600">
                                                            <img alt="Pic" src="../assets/fake/c01.jpg"  class="img-fluid">
                                                        </a>
                                                    </figure>
                                                    <figure>
                                                        <a href="../assets/fake/k05.jpg" data-size="542x800">
                                                            <img alt="Pic" src="../assets/fake/k05.jpg"  class="img-fluid">
                                                        </a>
                                                    </figure>
                                                    <figure>
                                                        <a href="../assets/fake/chat.gif" data-size="30x23">
                                                            <img alt="Pic" src="../assets/fake/chat.gif"  class="img-fluid">
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-reply" title="回覆">
                                                <i class="fa fa-reply"></i>
                                            </button>
                                            <button type="button" class="btn btn-action row_tooltip">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </button>
                                        </div>
                                        <div class="reply-wrap">

                                            <div class="character align-items-start">
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar">
                                                        <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                                                    </div>
                                                    <div>
                                                        <spa class="symbol">Scarlett Johansson</span>
                                                        <span class="text-clock">1 分鐘前</span>
                                                    </div>
                                                </div>
                                                <div class="messages-item">
                                                    <div class="photo-group">
                                                        <div class="mdb-lightbox">
                                                            <figure>
                                                                <a href="../assets/fake/c01.jpg" data-size="800x600">
                                                                    <img alt="Pic" src="../assets/fake/c01.jpg"  class="img-fluid">
                                                                </a>
                                                            </figure>
                                                            <figure>
                                                                <a href="../assets/fake/k05.jpg" data-size="542x800">
                                                                    <img alt="Pic" src="../assets/fake/k05.jpg"  class="img-fluid">
                                                                </a>
                                                            </figure>
                                                            <figure>
                                                                <a href="../assets/fake/chat.gif" data-size="30x23">
                                                                    <img alt="Pic" src="../assets/fake/chat.gif"  class="img-fluid">
                                                                </a>
                                                            </figure>
                                                            <figure>
                                                                <a href="../assets/fake/c01.jpg" data-size="800x600">
                                                                    <img alt="Pic" src="../assets/fake/c01.jpg"  class="img-fluid">
                                                                </a>
                                                            </figure>
                                                            <figure>
                                                                <a href="../assets/fake/k05.jpg" data-size="542x800">
                                                                    <img alt="Pic" src="../assets/fake/k05.jpg"  class="img-fluid">
                                                                </a>
                                                            </figure>
                                                            <figure>
                                                                <a href="../assets/fake/chat.gif" data-size="30x23">
                                                                    <img alt="Pic" src="../assets/fake/chat.gif"  class="img-fluid">
                                                                </a>
                                                            </figure>
                                                            <figure>
                                                                <a href="../assets/fake/c01.jpg" data-size="800x600">
                                                                    <img alt="Pic" src="../assets/fake/c01.jpg"  class="img-fluid">
                                                                </a>
                                                            </figure>
                                                            <figure>
                                                                <a href="../assets/fake/k05.jpg" data-size="542x800">
                                                                    <img alt="Pic" src="../assets/fake/k05.jpg"  class="img-fluid">
                                                                </a>
                                                            </figure>
                                                            <figure>
                                                                <a href="../assets/fake/chat.gif" data-size="30x23">
                                                                    <img alt="Pic" src="../assets/fake/chat.gif"  class="img-fluid">
                                                                </a>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="btn btn-reply" title="回覆">
                                                        <i class="fa fa-reply"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="character align-items-start">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar">
                                                <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                                            </div>
                                            <div>
                                                <spa class="symbol">Scarlett Johansson</span>
                                                <span class="text-clock">1 小時前</span>
                                            </div>
                                        </div>
                                        <div class="messages-item">
                                            <p>You can unwatch this repository immediately by clicking here: <a href="#">https://github.com</a></p>
                                            <button type="button" class="btn btn-reply" title="回覆">
                                                <i class="fa fa-reply"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="character align-items-start oneself">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar">
                                                <img alt="Pic" src="../assets/default-avatar.svg">
                                            </div>
                                            <div>
                                                <spa class="symbol">我</span>
                                                <span class="text-clock">3 小時前</span>
                                            </div>
                                        </div>
                                        <div class="messages-item">
                                            <p>Discover what students who viewed Learn Figma - UI/UX Design. Essential Training also viewed</p>
                                            <button type="button" class="btn btn-reply" title="回覆">
                                                <i class="fa fa-reply"></i>
                                            </button>
                                            <button type="button" class="btn btn-action row_tooltip">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="character align-items-start">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar">
                                                <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                                            </div>
                                            <div>
                                                <spa class="symbol">Scarlett Johansson</span>
                                                <span class="text-clock">2 天前</span>
                                            </div>
                                        </div>
                                        <div class="messages-item">
                                            <p>Most purchased Business courses during this sale!</p>
                                            <button type="button" class="btn btn-reply" title="回覆">
                                                <i class="fa fa-reply"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="character align-items-start oneself">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar">
                                                <img alt="Pic" src="../assets/default-avatar.svg">
                                            </div>
                                            <div>
                                                <spa class="symbol">我</span>
                                                <span class="text-clock">3 天前</span>
                                            </div>
                                        </div>
                                        <div class="messages-item">
                                            <p>Company BBQ to celebrate the last quater achievements and goals. Food and drinks provided</p>
                                            <button type="button" class="btn btn-reply" title="回覆">
                                                <i class="fa fa-reply"></i>
                                            </button>
                                            <button type="button" class="btn btn-action row_tooltip">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            
                            <div class="wrap-ft">
                                <div class="messages-textarea">
                                    <textarea class="form-control" rows="2" placeholder="輸入訊息" style="height: 100px;"></textarea>
                                    <div class="widget-autocomplete">
                                        <div class="scrollbar-inner">
                                            <ul class="menu-item">
                                                <% (1..4).map do |i| %>
                                                <li>
                                                    <a>
                                                        <div class="avatar">
                                                            <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                                                        </div>
                                                        <div class="userid">IDname</div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <div class="avatar">
                                                            <img alt="Pic" src="../assets/default-avatar.svg">
                                                        </div>
                                                        <div class="userid">IDname</div>
                                                    </a>
                                                </li>
                                                <% end %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="controlbar">
                                    <div class="comments-tool">
                                        <button type="button"><i class="fa fa-at"></i></button>
                                        <button type="button"><i class="fa fa-paperclip"></i></button>
                                        <button type="submit" class="btn-submit"><i class="fa fa-paper-plane"></i></button>
                                    </div>
                                    <div><button class="btn btn-sm btn-dark btn-rounded" type="button">插入功能</button></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="col-content">
                        <div class="add-content">
                            <div class="form-group">
                                <label for="exampleInput">標題</label>
                                <input type="text" class="form-control" id="exampleInput" />
                            </div>
                            <label for="exampleInput">內容</label>
                            <div class="textarea-form-group">
                                <div class="form-group">
                                    <div class="messages-textarea">
                                        <textarea class="form-control" rows="20" placeholder="輸入訊息"></textarea>
                                    </div>
                                </div>
                                <div class="controlbar">
                                    <div class="comments-tool">
                                        <button type="button"><i class="fa fa-at"></i></button>
                                        <button type="button"><i class="fa fa-paperclip"></i></button>
                                        <button type="submit" class="btn-submit"><i class="fa fa-paper-plane"></i></button>
                                    </div>
                                    <div><button class="btn btn-sm btn-dark btn-rounded" type="button">插入功能</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
    </div>
</main>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const topicListGroup = document.querySelector('.topic-list-group');
    const listItems = topicListGroup.querySelectorAll('.list-item');

    listItems.forEach(item => {
        item.addEventListener('click', () => {
            // 移除其他項的 .select-item 類
            listItems.forEach(otherItem => {
                otherItem.classList.remove('select-item');
            });
            
            // 給當前點擊的項添加 .select-item 類
            item.classList.add('select-item');
        });
    });
});
</script>
<% content_for :js do %>
<% end %>