<!-- admin-page: 專案資訊 -->

<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="information-layer">
        <div class="information-wrapper">
            
            <div class="project-bar">
                <h4 class="bar-title">我的客戶</h4>
                
                <!-- 麻煩協助鍵盤 Enter 搜尋 -->
                <div class="form-group project-search">
                    <input type="text" class="form-control" id="" />
                    <i class="fa fa-search"></i>
                </div>
                
                <div id="webixtree" class="webixtree-bar"></div>
                
                <ul class="project-menu">
                    <li><a class="item-link" href="#">link 1</a></li>
                    <li><a class="item-link" href="#">link 2</a></li>
                    <li><a class="item-link" href="#">link 3</a></li>
                </ul>
            </div>
            
            <div class="information-stage">
                <div class="stage-head">
                    
                    <div class="block-back">
                        <button type="button" class="btn btn-back">
                            <i class="fa fa-long-arrow-left"></i>
                        </button>
                    </div>
                    
                    <div class="hd-right">
                        <div class="block-title">國立台灣大學 \ 國際事務處 \ 校園環境保護暨職業安全衛生中心</div>

                        <div class="block-switch">
                            
                            <!-- 只有按鈕，實際跳出日曆選日期功能請協助處理 -->
                            <button type="button" class="btn btn-date">
                                <i class="fa fa-calendar"></i>
                                2024/01/03 - 今天
                            </button>
                            
                            <!-- 麻煩協助鍵盤 Enter 搜尋 -->
                            <div class="form-group switch-search">
                                <input type="text" class="form-control" id="" />
                                <i class="fa fa-search"></i>
                            </div>        
                        </div>
                    </div>
                    
                </div>
                <div class="stage-container">
                    
                    <div class="filter-bar container-col">
                        <div class="scrollbar-macosx">
                                
                            <div class="item-sort">
                                <h5>未讀 <strong>999</strong></h5>
                                <div class="checkbox-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">全部標示已讀</label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="item-sort">
                                <h5>系統 <strong>2</strong></h5>
                                <div class="checkbox-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">海外僑生報名系統</label>
                                        <span class="badge badge-pill badge-danger">9</span>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck7">
                                        <label class="custom-control-label" for="customCheck7">學生出國進修報名繳費及食宿繳費系統</label>
                                        <span class="badge badge-pill badge-danger">99</span>
                                    </div>
                                </div>
                            </div>

                            <div class="item-sort">
                                <h5>開發專案 <strong>8</strong></h5>
                                <div class="checkbox-group">
                                    <% (11..18).map do |i| %>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck<%= i %>">
                                        <label class="custom-control-label" for="customCheck<%= i %>"><%= lorem_words(3) %></label>
                                    </div>
                                    <% end %>
                                </div>
                            </div>

                            <div class="item-sort">
                                <h5>維護專案 <strong>5</strong></h5>
                                <div class="checkbox-group">
                                    <% (21..25).map do |i| %>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck<%= i %>">
                                        <label class="custom-control-label" for="customCheck<%= i %>"><%= lorem_words(3) %></label>
                                    </div>
                                    <% end %>
                                </div>
                            </div>

                            <div class="item-sort">
                                <h5>增修專案 <strong>8</strong></h5>
                                <div class="checkbox-group">
                                    <% (31..38).map do |i| %>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck<%= i %>">
                                        <label class="custom-control-label" for="customCheck<%= i %>"><%= lorem_words(3) %></label>
                                    </div>
                                    <% end %>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <div class="main-stage container-col">
                        <div class="scrollbar-macosx">
                            
                            <div class="information-item information-meeting">
                                <div class="item-head">
                                    <div class="instigator">
                                        <div class="avatar-wrap">
                                            <div class="avatar">
                                                <img alt="Pic" src="https://i2.wp.com/short-biography.com/wp-content/uploads/blake-lively/Blake-Ellender-Brown.jpg">
                                            </div>
                                            <div class="name">布蕾克</div>
                                        </div>
                                        <div class="date">2024/10/12 10:00 - 15:00</div>
                                    </div>
                                    <div class="item-route">
                                        <div class="route-project">
                                            <span>專案</span>
                                            <a href="#">113年膳食會高教深耕雙向交換生系統維護案</a>
                                        </div>
                                        <div class="route-system">
                                            <span>系統</span>
                                            <a href="#">膳食會高教深耕管理系統</a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="item-topic">
                                    <span class="item-category">會議</span>
                                    <div class="item-title">
                                        <h5>系統開發規格確認 / 臺大校園保全系統第一次會議</h5>
                                        <div class="badge-group">
                                            <span class="badge badge-pill badge-danger badge-unread">未讀</span>
                                        </div>
                                    </div>
                                </a>
                                <div class="item-bd">
                                    <div class="item-describe">
                                        <%= lorem_paragraph %>
                                    </div>
                                    <div class="info-wrap">
                                        <div class="avatar-list">
                                            <a href="#" class="avatar" data-toggle="tooltip" data-placement="top" title="布蕾克"><img alt="Pic" src="https://i2.wp.com/short-biography.com/wp-content/uploads/blake-lively/Blake-Ellender-Brown.jpg"></a>
                                            <a href="#" class="avatar" data-toggle="tooltip" data-placement="top" title="史佳蕾"><img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg"></a>
                                            <a href="#" class="avatar" data-toggle="tooltip" data-placement="top" title="萊恩雷諾斯"><img alt="Pic" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTyyBoYhVwx-m23M0dlzxJYoAAmIAVZSMnlK9ND_sYK_iq8-Yup"></a>
                                            <a href="#" class="avatar" data-toggle="tooltip" data-placement="top" title="傑克曼"><img alt="Pic" src="https://cdn-icons-png.flaticon.com/512/168/168726.png"></a>
                                        </div>
                                        
                                        <div class="file-list">
                                            <a href="#" class="link-file">
                                                <i class="fa fa-file-pdf-o"></i>
                                                開發規格參考資料.pdf
                                            </a>
                                            <a href="#" class="link-file">
                                                <i class="fa fa-file-word-o"></i>
                                                會議記錄.docx
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="information-item information-event">
                                <div class="item-head">
                                    <div class="instigator">
                                        <div class="avatar-wrap">
                                            <div class="avatar">
                                                <img alt="Pic" src="https://i2.wp.com/short-biography.com/wp-content/uploads/blake-lively/Blake-Ellender-Brown.jpg">
                                            </div>
                                            <div class="name">布蕾克</div>
                                        </div>
                                        <div class="date">2024/10/12 10:00 - 15:00</div>
                                    </div>
                                    <div class="item-route">
                                        <div class="route-project">
                                            <span>專案</span>
                                            <a href="#">113年膳食會高教深耕雙向交換生系統維護案</a>
                                        </div>
                                        <div class="route-system">
                                            <span>系統</span>
                                            <a href="#">膳食會高教深耕管理系統</a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="item-topic">
                                    <span class="item-category">事項</span>
                                    <div class="item-title">
                                        <h5>臺大.膳委網.113.M1.24-03-26.1</h5>
                                        <div class="badge-group">
                                            <span class="badge badge-pill badge-danger">SD1.資安文件協作</span>
                                            <span class="badge badge-pill badge-primary"><i class="fa fa-play-circle"></i> 處理中</span>
                                            <span class="badge badge-pill badge-primary">優先：中</span>
                                            <span class="badge badge-pill badge-warning">重要：中</span>
                                            <span class="badge badge-pill badge-danger badge-unread">未讀</span>
                                        </div>
                                    </div>
                                </a>
                                <div class="item-bd">
                                    <div class="item-describe">
                                        <h5>弱掃報告和處理</h5>
                                    </div>
                                    <div class="info-wrap">
                                        <div class="file-list">
                                            <a href="#" class="link-file">
                                                <i class="fa fa-file-pdf-o"></i>
                                                google.com.tw 系統弱點掃描報告.pdf
                                            </a>
                                            <a href="#" class="link-file">
                                                <i class="fa fa-file-word-o"></i>
                                                午牛習定意加造子布直飽朵實葉外你尤助.pdf
                                            </a>
                                        </div>
                                    </div>
                                    <div class="event-list">
                                        <% (1..3).map do |i| %>
                                        <div class="event-item">
                                            <a href="#" class="link-event">
                                                <span class="event-subject">事件種類名稱</span>
                                                <span class="event-origin">國際工程辦事處 林小姐</span>
                                                <span class="event-date">2024/10/12 10:00</span>
                                            </a>
                                        </div>
                                        <% end %>
                                        <div class="event-item">
                                            <a href="#" class="link-event">
                                                <span class="event-subject">頁聲米木即上斥活了草因屋爬鳥牙神平木記公面光念即新讀</span>
                                                <span class="event-origin">國際工程辦事處 林小姐</span>
                                                <span class="event-date">2024/10/12 10:00</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-ft">
                                    <ul class="menu-item">
                                        <li>
                                            <span>任務</span>
                                            <span>3</span>
                                        </li>
                                        <li>
                                            <span>訊息</span>
                                            <span>2</span>
                                        </li>
                                        <li>
                                            <span>功能</span>
                                            <span>99</span>
                                        </li>
                                        <li>
                                            <span>測試</span>
                                            <span>99</span>
                                        </li>
                                        <li>
                                            <span>檔案</span>
                                            <span>8</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="information-item information-task">
                                <div class="item-head">
                                    <div class="instigator">
                                        <div class="avatar-wrap">
                                            <div class="avatar">
                                                <img alt="Pic" src="https://i2.wp.com/short-biography.com/wp-content/uploads/blake-lively/Blake-Ellender-Brown.jpg">
                                            </div>
                                            <div class="name">布蕾克</div>
                                        </div>
                                        <div class="date">2024/10/12 10:00 - 15:00</div>
                                    </div>
                                    <div class="item-route">
                                        <div class="route-project">
                                            <span>專案</span>
                                            <a href="#">113年膳食會高教深耕雙向交換生系統維護案</a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="item-topic">
                                    <span class="item-category">任務</span>
                                    <div class="item-title">
                                        <span class="title-note">工單完成</span>
                                        <h5>臺大.膳委網.113.M1.24-03-26.1</h5>
                                        <div class="badge-group">
                                            <span class="badge badge-pill badge-primary"><i class="fa fa-play-circle"></i> 處理中</span>
                                            <span class="badge badge-pill badge-primary">優先：中</span>
                                            <span class="badge badge-pill badge-warning">重要：中</span>
                                        </div>
                                    </div>
                                </a>
                                <div class="item-bd">
                                    <div class="item-describe">
                                        <h5>弱掃報告和處理</h5>
                                    </div>
                                    <div class="info-wrap">
                                        <div class="file-list">
                                            <a href="#" class="link-file">
                                                <i class="fa fa-file-pdf-o"></i>
                                                google.com.tw 系統弱點掃描報告.pdf
                                            </a>
                                            <a href="#" class="link-file">
                                                <i class="fa fa-file-word-o"></i>
                                                午牛習定意加造子布直飽朵實葉外你尤助.pdf
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="information-item information-quote">
                                <div class="item-head">
                                    <div class="instigator">
                                        <div class="avatar-wrap">
                                            <div class="avatar">
                                                <img alt="Pic" src="https://i2.wp.com/short-biography.com/wp-content/uploads/blake-lively/Blake-Ellender-Brown.jpg">
                                            </div>
                                            <div class="name">布蕾克</div>
                                        </div>
                                        <div class="date">2024/10/12 10:00 - 15:00</div>
                                    </div>
                                    <div class="item-route">
                                        <div class="route-project">
                                            <span>專案</span>
                                            <a href="#">113年膳食會高教深耕雙向交換生系統維護案</a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="item-topic">
                                    <span class="item-category">報價</span>
                                    <div class="item-title">
                                        <h5>臺大.膳委網.113.M1.24-03-26.1</h5>
                                    </div>
                                </a>
                                <div class="item-bd">
                                    <div class="item-describe">
                                        <h5>弱掃報告和處理</h5>
                                    </div>
                                    <div class="info-wrap">
                                        <div class="file-list">
                                            <a href="#" class="link-file">
                                                <i class="fa fa-file-pdf-o"></i>
                                                規格書.pdf
                                            </a>
                                            <a href="#" class="link-file">
                                                <i class="fa fa-file-word-o"></i>
                                                報價單.pdf
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="information-item information-contract">
                                <div class="item-head">
                                    <div class="instigator">
                                        <div class="avatar-wrap">
                                            <div class="avatar">
                                                <img alt="Pic" src="https://i2.wp.com/short-biography.com/wp-content/uploads/blake-lively/Blake-Ellender-Brown.jpg">
                                            </div>
                                            <div class="name">布蕾克</div>
                                        </div>
                                        <div class="date">2024/10/12 10:00 - 15:00</div>
                                    </div>
                                    <div class="item-route">
                                        <div class="route-system">
                                            <span>系統</span>
                                            <a href="#">膳食會高教深耕管理系統</a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="item-topic">
                                    <span class="item-category">簽約</span>
                                    <div class="item-title">
                                        <h5>臺大.膳委網.113.M1.24-03-26.1</h5>
                                    </div>
                                </a>
                                <div class="item-bd">
                                    <div class="item-describe">
                                        <h5>弱掃報告和處理</h5>
                                    </div>
                                    <div class="info-wrap">
                                        <div class="file-list">
                                            <a href="#" class="link-file">
                                                <i class="fa fa-file-pdf-o"></i>
                                                規格書.pdf
                                            </a>
                                            <a href="#" class="link-file">
                                                <i class="fa fa-file-word-o"></i>
                                                報價單.pdf
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="information-item information-project">
                                <div class="item-head">
                                    <div class="instigator">
                                        <div class="avatar-wrap">
                                            <div class="avatar">
                                                <img alt="Pic" src="https://i2.wp.com/short-biography.com/wp-content/uploads/blake-lively/Blake-Ellender-Brown.jpg">
                                            </div>
                                            <div class="name">布蕾克</div>
                                        </div>
                                        <div class="date">2024/10/12 10:00 - 15:00</div>
                                    </div>
                                    <div class="item-route">
                                        <div class="route-system">
                                            <span>系統</span>
                                            <a href="#">膳食會高教深耕管理系統</a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="item-topic">
                                    <span class="item-category">專案</span>
                                    <div class="item-title">
                                        <h5>雪身直記員力士定鳥院雨知別更朋品入消給地專案建立</h5>
                                    </div>
                                </a>
                                <div class="item-bd">
                                    <div class="item-describe">
                                        <h6>各階段期程</h6>
                                        <div class="table-responsive">
                                            <table class="table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">階段</th>
                                                        <th>標題</th>
                                                        <th>說明</th>
                                                        <th class="text-right">預計完成日期</th>
                                                        <th class="text-right">實際完成日期</th>
                                                        <th class="text-right">客戶確認完成/驗收日期</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% (1..3).map do |i| %>
                                                    <tr>
                                                        <td class="text-center"><%= i %></td>
                                                        <td>一次性驗收</td>
                                                        <td>一次性驗收</td>
                                                        <td class="text-right">2024/10/12</td>
                                                        <td class="text-right">2024/10/12</td>
                                                        <td class="text-right">2024/10/12</td>
                                                    </tr>
                                                    <% end %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="info-wrap">
                                        <div class="file-list">
                                            <a href="#" class="link-file">
                                                <i class="fa fa-file-pdf-o"></i>
                                                規格書.pdf
                                            </a>
                                            <a href="#" class="link-file">
                                                <i class="fa fa-file-word-o"></i>
                                                報價單.pdf
                                            </a>
                                            <a href="#" class="link-file">
                                                <i class="fa fa-file-word-o"></i>
                                                合約書.pdf
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="information-item information-progress">
                                <div class="item-head">
                                    <div class="instigator">
                                        <div class="avatar-wrap">
                                            <div class="avatar">
                                                <img alt="Pic" src="https://i2.wp.com/short-biography.com/wp-content/uploads/blake-lively/Blake-Ellender-Brown.jpg">
                                            </div>
                                            <div class="name">布蕾克</div>
                                        </div>
                                        <div class="date">2024/10/12 10:00 - 15:00</div>
                                    </div>
                                    <div class="item-route">
                                        <div class="route-system">
                                            <span>系統</span>
                                            <a href="#">膳食會高教深耕管理系統</a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="item-topic">
                                    <span class="item-category">進度</span>
                                    <div class="item-title">
                                        <h5>臺大.膳委網.113.M1.24-03-26.1</h5>
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="matter-bar container-col">
                        <div class="scrollbar-macosx">
                            
                            <div class="item-matter">
                                <h5>專案事項</h5>
                                <div class="checkbox-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck41">
                                        <label class="custom-control-label" for="customCheck41">會議<strong>35</strong></label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck42">
                                        <label class="custom-control-label" for="customCheck42">任務完成通知<strong>12 / 100</strong></label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck43">
                                        <label class="custom-control-label" for="customCheck43">驗收通知</label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="item-matter">
                                <h5>維護事項</h5>
                                <div class="checkbox-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck41">
                                        <label class="custom-control-label" for="customCheck41">需求提出<strong>35</strong></label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck42">
                                        <label class="custom-control-label" for="customCheck42">維護事項<strong>12 / 100</strong></label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck43">
                                        <label class="custom-control-label" for="customCheck43">驗收通知</label>
                                    </div>
                                </div>
                            </div>
                            
                            <% (1..4).map do |i| %>
                            <div class="item-matter">
                                <h5>更多事項</h5>
                                <div class="checkbox-group">
                                    <% (51..54).map do |i| %>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck<%= i %>">
                                        <label class="custom-control-label" for="customCheck<%= i %>"><%= lorem_words(3) %></label>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                            <% end %>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</main>

<!-- 專案資訊 -->
<script>
document.addEventListener("DOMContentLoaded", function() {
    const informationLayer = document.querySelector('.information-layer');
    const projectBar = informationLayer.querySelector('.project-bar');
    const informationStage = informationLayer.querySelector('.information-stage');
    const backButton = informationLayer.querySelector('.btn-back');
    const itemLinks = informationLayer.querySelectorAll('.item-link');

    itemLinks.forEach(link => {
        link.addEventListener('click', () => {
            projectBar.classList.add('bar-hide');
            informationStage.classList.add('stage-show');
        });
    });

    backButton.addEventListener('click', () => {
        projectBar.classList.remove('bar-hide');
        informationStage.classList.remove('stage-show');
    });
});
</script>

<!-- Webix -->
<script src="../javascripts/webix.js"></script>
<script>
webix.ui({
    container: "webixtree",
    view: "tree",
    select: true,
    css: "webix_view",
    data: [
        {
            id: "root",
            value: "Cars",
            open: true,
            data: [
                {
                    id: "1",
                    open: true,
                    value: "國立臺灣大學",
                    data: [
                        { id: "1.1", value: "校園環境保護暨職業安全衛生中心" },
                        { id: "1.2", value: "Corolla" },
                        { id: "1.3", value: "Camry" },
                    ],
                },
                {
                    id: "2",
                    value: "Skoda",
                    open: true,
                    data: [
                        { id: "2.1", value: "Octavia" },
                        { id: "2.2", value: "Superb" },
                    ],
                },
            ],
        },
    ],
});
</script>

<% content_for :js do %>

<% end %>

