<!-- admin-page: 提案時數評估 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="proposal-wrapper">
        <aside class="proposal-side">
		    <div class="side-hd">
				<span class="badge badge-pill badge-dark">新案</span>
			    <h5 class="project-client">
				    <span>國立臺灣大學</span>
					<span>國際事務處</span>
				</h5>
				<h3 class="project-system">外國學位生申請審查系統</h3>
				<p class="description">系統自動取得需求規格第一個說明 Dignissimos quam esse quisquam illum adipisci beatae expedita reprehenderit tempore. Ipsa incidunt qui fuga aut sunt cum id ex corrupti non velit.</p>
			</div>
			<div class="project-detail">
			    <ul class="menu-item">
				    <li class="detail-item">
					    <span class="detail-lable">負責人</span>
						<span class="detail-content">陳曉明</span>
					</li>
					<li class="detail-item">
					    <span class="detail-lable">提案時限</span>
						<span class="detail-content">09/01 - 09/30</span>
					</li>
					<li class="detail-item">
					    <span class="detail-lable">專案開始</span>
						<span class="detail-content">2021/10/01</span>
					</li>
					<li class="detail-item">
					    <span class="detail-lable">驗收日期</span>
						<span class="detail-content">2022/01/35</span>
					</li>
					<li class="detail-item">
					    <span class="detail-lable">計算基準</span>
						<span class="detail-content">工作天</span>
					</li>
					<li class="detail-item">
					    <span class="detail-lable">專案工作天</span>
						<span class="detail-content">250 天</span>
					</li>
					<li class="detail-item">
					    <span class="detail-lable">維護保固</span>
						<span class="detail-content">24 個月</span>
					</li>
					<li class="detail-item">
					    <span class="detail-lable">維護方式</span>
						<span class="detail-content">遠端桌面</span>
					</li>
					<li class="detail-item status">
					    <span class="detail-lable">等級</span>
						<span class="detail-content">
						    <span class="badge badge-danger">高</span>
						</span>
					</li>
					<li class="detail-item status">
					    <span class="detail-lable">狀態</span>
						<span class="detail-content">
						    <span class="badge badge-success">執行中</span>
						</span>
					</li>
				</ul>
			</div>
			<section>
			    <h5 class="section-title">評估進度</h5>
				<ul class="menu-item object-schedule">
				    <li>
						<div class="schedule-pie"><canvas id="BA-chart-job-error" width="80" height="80"></canvas></div>
						<div class="object">
						    <span class="neme">Eason</span>
							<span>專案部經理</span>
						</div>
					</li>
					<li>
						<div class="schedule-pie"><img class="" src="../assets/fake/pie.png" alt=""></div>
						<div class="object">
						    <span class="neme">Amber</span>
							<span>專案經理</span>
						</div>
					</li>
					<li>
						<div class="schedule-pie"><img class="" src="../assets/fake/pie.png" alt=""></div>
						<div class="object">
						    <span class="neme">Jason</span>
							<span>系統架構師</span>
						</div>
					</li>
					<li>
						<div class="schedule-pie"><img class="" src="../assets/fake/pie.png" alt=""></div>
						<div class="object">
						    <span class="neme">文潔</span>
							<span>會計</span>
						</div>
					</li>
				</ul>
			</section>
			<section>
			    <h5 class="section-title">整體進度</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
			</section>
			<hr />
			<button type="submit" class="btn btn-lg btn-block btn-primary">送出</button>
		</aside>
		<div class="proposal-content">
            <div class="col-block block-tabs proposal-tabs">
				
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a href="#proposal_dashborad" class="active" aria-controls="proposal_dashborad" role="tab" data-toggle="tab">總攬</a></li>
                    <li class="nav-item"><a href="#proposal_basic" aria-controls="proposal_basic" role="tab" data-toggle="tab">基本資料</a></li>
					<li class="nav-item"><a href="#proposal_project" aria-controls="proposal_project" role="tab" data-toggle="tab">專案工作</a></li>
					<li class="nav-item"><a href="#proposal_spec" aria-controls="proposal_spec" role="tab" data-toggle="tab">需求規格</a></li>
					<li class="nav-item"><a href="#proposal_maintain" aria-controls="proposal_maintain" role="tab" data-toggle="tab">維護工作</a></li>
                </ul>
				
                <div class="block-content tab-content">
                    <div role="tabpanel" class="tab-pane active" id="proposal_dashborad">
                        <h4 class="push">Block Tabs With Options</h4>
                        <%= lorem_sentences(5) %>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="proposal_basic">
						<%= render :partial => "/partials/proposal_basic" %>
					</div>
					<div role="tabpanel" class="tab-pane" id="proposal_project">
					    <%= render :partial => "/partials/proposal_project" %>
					</div>
					<div role="tabpanel" class="tab-pane" id="proposal_spec">
						<%= render :partial => "/partials/proposal_spec" %>
					</div>
					<div role="tabpanel" class="tab-pane" id="proposal_maintain">
						<%= render :partial => "/partials/proposal_maintain" %>
					</div>
                </div>
				
            </div>
		</div>
    </div>
</main>

<% content_for :js do %>

<% end %>