<!-- admin-page: 主題徵案管理 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>第一個主題徵案</h2>
    </div>
    <div class="col-block block-tabs">

        <ul class="nav nav-tabs nav-tabs-lg" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="ex1-tab-1" data-bs-toggle="tab" href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1" aria-selected="true">徵案基本設定</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-2" data-bs-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2" aria-selected="false">主題資訊內容</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-3" data-bs-toggle="tab" href="#ex1-tabs-3" role="tab" aria-controls="ex1-tabs-3" aria-selected="false">老師 <span class="badge rounded-pill text-bg-warning">105</span></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-4" data-bs-toggle="tab" href="#ex1-tabs-4" role="tab" aria-controls="ex1-tabs-4" aria-selected="false">協作平台</a>
            </li>
        </ul>

        <div class="block-content tab-content" id="ex1-content">
            
            <!-- 徵案基本設定 -->
            <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                <div class="narrow-wrapper">
                    <div class="form-group">
                        <label class="form-label" for="exInput_01"><span class="required">*</span> 主題名稱</label>
                        <input type="text" id="exInput_01" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="exInput_01"><span class="required">*</span> 主題開放維護起訖時間</label>
                        <div class="d-flex">
                            <div>
                                <div class="input-group date" id="datepicker">
                                    <input class="form-control" placeholder="MM/DD/YYYY" />
                                    <span class="input-group-append input-group-addon">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="ms-2">
                                <div class="input-group date" id="datepicker2">
                                    <input class="form-control" placeholder="MM/DD/YYYY" />
                                    <span class="input-group-append input-group-addon">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="exInput_01"><span class="required">*</span> 主題活動起訖時間</label>
                        <div class="d-flex">
                            <div>
                                <div class="input-group date" id="datepicker">
                                    <input class="form-control" placeholder="MM/DD/YYYY" />
                                    <span class="input-group-append input-group-addon">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="ms-2">
                                <div class="input-group date" id="datepicker2">
                                    <input class="form-control" placeholder="MM/DD/YYYY" />
                                    <span class="input-group-append input-group-addon">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <section class="section">
                        <div class="section-title">
                            <h5>主題平台所屬學校設定</h5>
                        </div>
                        <div class="d-flex mb-4">
                            <span class="me-2" style="min-width: 210px;">
                                <select class="form-select" id="single-select-field" data-placeholder="請選擇">
                                    <option></option>
                                    <option>政治大學</option>
                                    <option>Solution</option>
                                    <option>Conglomeration</option>
                                    <option>Algoritm</option>
                                    <option>Holistic</option>
                                </select>
                            </span>
                            <span class="me-2">
                                <button type="button" class="btn btn-info"><i class="fas fa-plus"></i> 加入</button>
                            </span>
                        </div>
                        <table class="table table-bordered align-middle">
                            <thead>
                                <tr>
                                    <th>學校名稱</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>學校1</td>
                                    <td class="text-end"><button type="button" class="btn btn-danger">刪除</button></td>
                                </tr>
                                <tr>
                                    <td>學校2</td>
                                    <td class="text-end"><button type="button" class="btn btn-danger">刪除</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    
                    <div class="h4 text-danger my-5">
                        以下省略重複區塊
                    </div>
                    
                    <section class="section">
                        <div class="section-title">
                            <h5>本次調查各項題目說明文字資訊</h5>
                        </div>
                        <div class="mb-5">
                            <h4 class="text-badge-hd"><span class="badge bg-secondary">技術類型</span></h4>
                            <div class="section-editor">editor</div>
                            <div class="form-group">
                                <label for="formFile" class="form-label">範本檔案上傳</label>
                                <input class="form-control" type="file" id="formFile">
                            </div>
                        </div>
                        <div class="mb-5">
                            <h4 class="text-badge-hd"><span class="badge bg-secondary">目標TA</span></h4>
                            <div class="section-editor">editor</div>
                            <div class="form-group">
                                <label for="formFile" class="form-label">範本檔案上傳</label>
                                <input class="form-control" type="file" id="formFile">
                            </div>
                        </div>
                    </section>
                    
                    <div class="h4 text-danger my-5">
                        以下省略重複區塊
                    </div>
                    
                    <div class="form-action">
                        <button type="submit" class="btn btn-lg btn-primary">儲存</button>
                    </div>
                    
                </div>
            </div>
            
            <!-- 主題資訊內容 -->
            <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                <div class="row">
                    
                    <!-- 請依圖表寬度需求調整 col-x -->
                    <div class="col-7">
                        <div class="mb-4">
                            <img src="https://placehold.co/1600x900" class="img-fluid">
                        </div>
                        <div class="bg-light p-4 mb-4">
                            <ul class="menu-item">
                                <li><span class="d-inline-block pe-2 fw-bold">活動期間：</span>YYYY年MM月DD日 至 YYYY年MM月DD日</li>
                                <li><span class="d-inline-block pe-2 fw-bold">學校：</span>清華大學</li>
                                <li><span class="d-inline-block pe-2 fw-bold">合作機構：</span>金百利克拉克公司</li>
                                <li><span class="d-inline-block pe-2 fw-bold">主題技術範圍：</span>選取的技術項目顯示</li>
                            </ul>
                        </div>
                        
                        <div class="row">
                            <!-- 請依圖表寬度需求調整 col-x -->
                            <div class="col-7">chart</div>
                            <div class="col-5">chart</div>
                        </div>
                    </div>
                    <div class="col-5">chart</div>
                    
                </div>
            </div>
            
            <!-- 老師 -->
            <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                元件參考 <a href="https://webix.com/demos/query/">https://webix.com/demos/query/</a>
            </div>
            
            <!-- 協作平台 -->
            <div class="tab-pane fade" id="ex1-tabs-4" role="tabpanel" aria-labelledby="ex1-tab-4">
                <div class="collaboration-wrapper">
                    <div class="collaboration-dialogue">
                        
                        <!-- scrollbar js 不 work 煩請檢查 -->
                        <div class="scrollbar-inner">
                            
                            <% (1..3).map do |i| %>
                            <div class="dialogue-item">
                                <div class="item-hd">
                                    <span class="author">王曉輝</span>
                                    <span class="date">YYYY-MM-DD HH:mm</span>
                                </div>
                                <div class="item-comment"><%= lorem_sentence %></div>
                            </div>

                            <div class="dialogue-item">
                                <div class="item-hd">
                                    <span class="author">高小君</span>
                                    <span class="date">YYYY-MM-DD HH:mm</span>
                                </div>
                                <div class="item-comment"><%= lorem_paragraph %></div>
                            </div>

                            <div class="dialogue-item self">
                                <div class="item-hd">
                                    <span class="author">陳曉明</span>
                                    <span class="date">YYYY-MM-DD HH:mm</span>
                                </div>
                                <div class="item-comment"><%= lorem_sentence %></div>
                            </div>

                            <div class="dialogue-item">
                                <div class="item-hd">
                                    <span class="author">王曉輝</span>
                                    <span class="date">YYYY-MM-DD HH:mm</span>
                                </div>
                                <div class="item-comment"><%= lorem_sentence %></div>
                            </div>
                            <% end %>
                            
                        </div>
                    </div>
                    
                    <div class="messages-textarea">
                        <textarea class="form-control" rows="2" placeholder="輸入訊息" style="height: 100px;"></textarea>
                        <div class="text-end mt-2">
                            <button type="submit" class="btn btn-lg btn-primary">送出</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</main>

<% content_for :js do %>

<% end %>