<!-- ietw: 一般內文 -->

<%= render :partial => "/partials/breadcrumb" %>
<div class="sidenav-overlay"></div>
<div class="content-wrapper">
    <div class="container">
	    <div class="pages-row">
			
			<%= render :partial => "/partials/sidenav" %>

            <!-- 主要內容 -->
            <main class="main">
                <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

                <article class="page-article">
					<div class="post-head">
						<div class="post-title">
                            <h2>【活動新聞】 韓國觀光公社台北支社與臺灣國際教育旅行聯盟 2.0簽訂合作備忘錄簽署儀式</h2>
						</div>
						<div class="post-date">2021-12-23 17:29:11</div>
					</div>
					
					<div class="post-content">
						<div id="dfree-body">
							<p>以下為範例，連結與圖片還須加上 <code>title</code> 以及 <code>alt</code> 方能符合無障礙</p>
							<h2>h2 title 標題</h3>
                            <h3>h3 title 標題加一般段落</h3>
                            <p><%= zh_lorem_paragraphs(2) %></p>

                            <h3>UL 列表</h3>
                            <ul>
                                <li><%= zh_lorem_sentence %></li>
                                <li><%= zh_lorem_sentence %></li>
                                <li><%= zh_lorem_sentence %></li>
                            </ul>

                            <h3>OL 列表</h3>
                            <ol>
                                <li><%= zh_lorem_sentence %></li>
                                <li><%= zh_lorem_sentence %></li>
                                <li><%= zh_lorem_sentence %></li>
                            </ol>
							
							<h3>檔案下載</h3>
							<div class="download-wrapper">
                                <a href="#" class="dl-item" title="下載{檔案名稱}">下載：教育部中小學國際教育全球資訊網.pdf</a>
                            </div>
                            <div class="download-wrapper">
                                <a href="#" class="dl-item" title="下載{檔案名稱}">下載：SIEP-NC成果報告填報說明.pdf</a>
								<a href="#" class="dl-item" title="下載{檔案名稱}"> 下載：Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.pdf</a>
								<a href="#" class="dl-item" title="下載{檔案名稱}">下載：SIEP-NC成果報告填報說明.pdf</a>
                            </div>
							<div class="video-wrapper">
                                <div class="videobox">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/kt4Z2AA5Kj0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <h3>大圖加段落</h3>
                            <p>文章內圖片因應 rwd 會自動 100% 寬，當螢幕寬度變化時才能自動縮放，除非設定如下方示範的文繞圖，在外層容器加上 <code>.text-runaround</code> 或 <code>.text-runaround .right</code></p>
                            <img src="../assets/fake/03.jpg" alt="測試" title="測試">
                            <p><%= zh_lorem_paragraphs(5) %></p>

                            <p><%= zh_lorem_paragraphs(5) %></p>

                            <div class="text-runaround">
                                <h3>文繞圖置左</h3>
                                <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                                <p><%= zh_lorem_paragraphs(10) %></p>
                            </div>

                            <div class="text-runaround right">
                                <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                                <p><%= zh_lorem_paragraphs(10) %></p>
                            </div>

                            <h3>關於 table</h3>
                            <p>文章內所有 table 須加上 <code>.table</code>，特性為寬度 100% 以及基本樣式，更多樣式可參考 <a href="https://mdbootstrap.com/docs/jquery/tables/basic/">MDBootstrap</a>，另外所有 table 需在外層包一層 <code>.table-responsive</code>，可設定系統自動生或使用者自行 coding</p>

                            <h3>表格</h3>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <% 5.times do %>
                                            <th>測試用表格</th>
                                            <% end %>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% 5.times do %>
                                        <tr>
                                            <% 5.times do %>
                                            <td><%= zh_lorem_sentence %></td>
                                            <% end %>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>

                            <h3>表格內容不斷行</h3>
                            <p>容器加上 <code>.text-nowrap</code></p>
                            <div class="table-responsive text-nowrap">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <% 5.times do %>
                                            <th>測試用表格</th>
                                            <% end %>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% 5.times do %>
                                        <tr>
                                            <% 5.times do %>
                                            <td><%= zh_lorem_sentence %></td>
                                            <% end %>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                            <div class="photo-gallery">
                                <h3>多圖並列</h3>
                                <div class="img-group">
                                    <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                                    <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                                    <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                                    <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                                    <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                                </div>
                                <p>圖片固定為三張一列，不足的右邊會被空出來，使用者上傳的照片長寬比例必須一致，請在後台標註讓使用者知道這點，否則排列有可能會爛掉。</p>
                            </div>

                            <div class="photo-gallery upright">
                                <h3>直立多圖並列</h3>
                                <div class="img-group">
                                    <img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
                                    <img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
                                    <img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
                                    <img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
                                    <img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
                                </div>
                                <p>圖片固定為四張一列，不足的右邊會被空出來，使用者上傳的照片長寬比例必須一致，請在後台標註讓使用者知道這點，否則排列有可能會爛掉。</p>
                            </div>
						</div>
						<div class="text-center">
                            <button type="button" class="btn btn-secondary btn-previous"><i class="fas fa-long-arrow-alt-left"></i> 回上一頁</button>
						</div>
					</div>
				</article>
				
            </main>
			
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>




