<!-- ietw: 單一工具包檢視 - 教學活動與評量 -->

<%= render :partial => "/partials/breadcrumb" %>
<div class="sidenav-overlay"></div>
<div class="content-wrapper">
    <div class="container">
		
		<div class="pages-head">
			<hgroup class="st">
                <h5>屏東縣私立南榮國民中學</h5>
                <h2>南榮雙E行五洲 在地食農傳播愛</h2>
			</hgroup>
		</div>
		
	    <div class="pages-row">
			
            <div class="sidenav sidenav-retrieval">
                <div class="scrollbar-inner">
                    <a accesskey="L" href="#accesskey_left_nav" tabindex="0" title="左側目錄" id="accesskey_left_nav" class="ackey d-none d-xl-block">:::</a>
                    <div id="accordian_nav" class="sidenav-inner">
                        <h5 class="fw-bold nav-title">屏東縣私立南榮國民中學</h5>
                        <div class="dl-toolkit">
                            <span>工具包下載</span>
                            <a href="#" title="下載{校名}工具包"><i class="fas fa-cloud-download-alt"></i></a>
                        </div>
                        <ul>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">課程概覽</a>
                                </h4>
                            </li>
                            <li class="has-child">
                                <h4>
                                    <a href="#" title="{連結名稱}">情境分析與課程目標</a>
                                </h4>
                                <ul>
                                    <li><a href="#" title="{連結名稱}">學校資源盤點</a></li>
                                    <li><a href="#" title="{連結名稱}">國際教育現況分析</a></li>
                                    <li><a href="#" title="{連結名稱}">本學年度推動目標</a></li>
                                    <li><a href="#" title="{連結名稱}">組織分工</a></li>
                                </ul>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" class="current" title="{連結名稱}">教學活動與評量</a>
                                </h4>
                            </li>
                            <li class="has-child">
                                <h4>
                                    <a href="#" title="{連結名稱}">課程實施與成效評估</a>
                                </h4>
                                <ul>
                                    <li><a href="#" title="{連結名稱}">課程實施歷程</a></li>
                                    <li><a href="#" title="{連結名稱}">學生學習成果</a></li>
                                    <li><a href="#" title="{連結名稱}">成效評估</a></li>
                                </ul>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">相關資源</a>
                                </h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 主要內容 -->
            <main class="main">
                <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

                <div class="single-content education-content">
					
					<%= render :partial => "/partials/landing-wrap" %>
					
					<h3>示範教學活動與評量 <span class="badge rounded-pill bg-primary">4</span></h3>

                    <ul class="nav nav-pills education-tabs" id="educationTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="e1-tab" data-bs-toggle="tab" data-bs-target="#e1" type="button" role="tab" aria-controls="e1" aria-selected="true" title="{連結名稱}">水資源：「非」懂不「渴」與關懷行動</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="e2-tab" data-bs-toggle="tab" data-bs-target="#e2" type="button" role="tab" aria-controls="e2" aria-selected="false" title="{連結名稱}">在地食農 傳播愛</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="e3-tab" data-bs-toggle="tab" data-bs-target="#e3" type="button" role="tab" aria-controls="e3" aria-selected="false" title="{連結名稱}">新冠肺炎COVID-19看全球防疫與成效</button>
                        </li>
						<li class="nav-item" role="presentation">
                            <button class="nav-link" id="e4-tab" data-bs-toggle="tab" data-bs-target="#e4" type="button" role="tab" aria-controls="e4" aria-selected="false" title="{連結名稱}">對抗飢餓之「非」常「體」驗—台非玉米比一比</button>
                        </li>
                    </ul>

                    <div class="tab-content education_tab-content" id="educationTabContent">
                        <div class="tab-pane fade show active" id="e1" role="tabpanel" aria-labelledby="e1-tab">
							<%= render :partial => "/partials/education_tab1" %>
						</div>
						
                        <div class="tab-pane fade" id="e2" role="tabpanel" aria-labelledby="e2-tab">
						    <p>內容與前 tab 大同小異，以下不再重複。</p>
						</div>
						
                        <div class="tab-pane fade" id="e3" role="tabpanel" aria-labelledby="e3-tab">
						    <%= render :partial => "/partials/education_tab1" %>
						</div>
						
						<div class="tab-pane fade" id="e4" role="tabpanel" aria-labelledby="e4-tab">
						    <%= render :partial => "/partials/education_tab1" %>
						</div>
                    </div>
					
				</div>
				
            </main>
			
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>




