<!-- ietw: 單一工具包檢視 - 課程概覽 -->

<%= render :partial => "/partials/breadcrumb" %>
<div class="sidenav-overlay"></div>
<div class="content-wrapper">
    <div class="container">
		
		<div class="pages-head">
			<hgroup class="st">
                <h5>新北市立江翠國民中學</h5>
                <h2>剩食、聖食、永續 Finding solution to Hunger</h2>
			</hgroup>
		</div>
		
	    <div class="pages-row">
			
			<%= render :partial => "/partials/sidenav_toolkit" %>

            <!-- 主要內容 -->
            <main class="main">
                <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

                <div class="single-content">
				    <div class="row">
                        <div class="col-lg-4">
							<section class="section">
							    <div class="section-title">
								    <h5>學校基本資料</h5>
								</div>
								<div class="section-content">
								    <ul class="menu-item basic-info">
									    <li>
										    <span class="label">學習階段與類型</span>
											<span class="output">國民中學</span>
										</li>
										<li>
										    <span class="label">學校規模</span>
											<span class="output">
											    <span>50 班</span>
												<span>學生數 1096 人</span>
												<span>教師數 125 人</span>
											</span>
										</li>
										<li>
										    <span class="label">進行方式</span>
											<span class="output">議題融入</span>
										</li>
										<li>
										    <span class="label">課程類型</span>
											<span class="output">部定課程、校訂課程</span>
										</li>
										<li>
										    <span class="label">融入領域</span>
											<span class="output">語文、數學、社會、自然科學、綜合活動、科技、藝術、健康與體育</span>
										</li>
									</ul>
								</div>
							</section>
                        </div>
						<div class="col-lg-8">
							<section class="section">
							    <div class="section-title">
								    <h5>工具包簡介</h5>
								</div>
								<div class="section-content">
								    <p>本校國際教育課程以「蘭雅i國際—全球公民責任」為整體課程計畫總稱，強調「立足蘭雅，走出臺灣，將世界帶回來」，目的在培育學生成為具有關鍵能力的世界公民。</p>
									<p>透過「蘭雅i國際」課程發展與教學計畫，規劃校本各領域課程教學活動，將國際教育議題融入課程，分為i文化、i生態、i人權三個面向，內含15個課程，持續滾動式修正，期許建構全方位面對全球議題及未來世界的學生關鍵素養能力。</p>
									<p><img alt="" src="../assets/fake/test2.jpg"></p>
                                    <div class="video-wrapper">
										<div class="videobox">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/kt4Z2AA5Kj0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
										</div>
                                    </div>
								</div>
							</section>
                        </div>
					</div>
					
                    <section class="section">
                        <div class="section-title">
                            <h5>課程架構圖</h5>
                        </div>
                        <div class="section-content">
							<p><%= lorem_paragraphs(3) %></p>
							<h5><%= lorem_word %></h5>
							<p><%= lorem_paragraphs(2) %></p>
							<p><img alt="" src="../assets/fake/test.png"></p>
							<div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">First</th>
                                            <th scope="col">Last</th>
                                            <th scope="col">Handle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td colspan="2">Larry the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
							</div>
                        </div>
                    </section>
				</div>
				
            </main>
			
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>




