<!-- ietw: 單一工具包檢視 - 情境分析與課程目標 - 學校資源盤點 -->

<%= render :partial => "/partials/breadcrumb" %>
<div class="sidenav-overlay"></div>
<div class="content-wrapper">
    <div class="container">
		
		<div class="pages-head">
			<hgroup class="st">
                <h5>新北市立江翠國民中學</h5>
                <h2>剩食、聖食、永續 Finding solution to Hunger</h2>
			</hgroup>
		</div>
		
	    <div class="pages-row">
			
            <div class="sidenav sidenav-retrieval">
                <div class="scrollbar-inner">
                    <a accesskey="L" href="#accesskey_left_nav" tabindex="0" title="左側目錄" id="accesskey_left_nav" class="ackey d-none d-xl-block">:::</a>
                    <div id="accordian_nav" class="sidenav-inner">
                        <h5 class="fw-bold nav-title">新北市立江翠國民中學</h5>
                        <div class="dl-toolkit">
                            <span>工具包下載</span>
                            <a href="#" title="下載{校名}工具包"><i class="fas fa-cloud-download-alt"></i></a>
                        </div>
                        <ul>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">課程概覽</a>
                                </h4>
                            </li>
                            <li class="has-child active">
                                <h4>
                                    <a href="#" title="{連結名稱}">情境分析與課程目標</a>
                                </h4>
                                <ul>
                                    <li><a href="#" class="current" title="{連結名稱}">學校資源盤點</a></li>
                                    <li><a href="#" title="{連結名稱}">國際教育現況分析</a></li>
                                    <li><a href="#" title="{連結名稱}">本學年度推動目標</a></li>
                                    <li><a href="#" title="{連結名稱}">組織分工</a></li>
                                </ul>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">教學活動與評量</a>
                                </h4>
                            </li>
                            <li class="has-child">
                                <h4>
                                    <a href="#" title="{連結名稱}">課程實施與成效評估</a>
                                </h4>
                                <ul>
                                    <li><a href="#" title="{連結名稱}">課程實施歷程</a></li>
                                    <li><a href="#" title="{連結名稱}">學生學習成果</a></li>
                                    <li><a href="#" title="{連結名稱}">成效評估</a></li>
                                </ul>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">相關資源</a>
                                </h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 主要內容 -->
            <main class="main">
                <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

                <div class="single-content">
                    <section class="section">
                        <div class="section-head">
							<div class="inner">
                                <span class="icon"><img src="../assets/icon/book.png" alt=""></span>
                                <h5>學校課程</h5>
							</div>
                        </div>
                        <div class="section-content">
							<div class="inner-row">
							    <div class="s-col">
								    <h6>特色課程</h6>
									<div class="instruction">
									    <ol>
										    <li>富山國小地處偏鄉，為阿美族原住民重點學校，近年來因少子化及部落人口外流的衝擊，學生人數逐年下降。本校體察此一趨勢，積極規劃轉型成為「提供優質的國際教育雙語環境，讓孩子具備走出部落鏈結國際能力」的教育場所。</li>
											<li>105學年度申請辦理以「國際教育」為主軸的實驗教育學校。</li>
											<li>結合在地化特色，105-106學年度<strong>已發展完成「國際教育」為主軸的校本課程目標、課程架構、課程內容、教學模組與評量方式</strong>。</li>
											<li>國際教育課程內容以在地阿美族群出發，研發<strong>「站在阿美族的高度看世界」</strong>的國際教育校本課程。</li>
										</ol>
									</div>
								</div>
								<div class="s-col">
								    <h6>相關課程計畫</h6>
									<div class="instruction">
									    <ol>
											<% (1..8).map do |i| %>
										    <li><%= lorem_sentence %></li>
											<% end %>
										</ol>
									</div>
								</div>
							</div>
                        </div>
                    </section>
					
					<section class="section">
                        <div class="section-head">
							<div class="inner">
                                <span class="icon"><img src="../assets/icon/networking.png" alt=""></span>
                                <h5>教師社群</h5>
							</div>
                        </div>
                        <div class="section-content">
							<div class="inner-row">
							    <div class="s-col">
								    <h6>國際教育知能</h6>
									<div class="instruction">
									    <ol>
											<% (1..7).map do |i| %>
										    <li><%= lorem_sentence %></li>
											<% end %>
										</ol>
									</div>
								</div>
								<div class="s-col">
								    <h6>國際教育相關社群運作</h6>
									<div class="instruction">
									    <ol>
											<% (1..5).map do |i| %>
										    <li><%= lorem_sentence %></li>
											<% end %>
										</ol>
									</div>
								</div>
							</div>
                        </div>
                    </section>
					
					<section class="section">
                        <div class="section-head">
							<div class="inner">
                                <span class="icon"><img src="../assets/icon/boy-with-cap.png" alt=""></span>
                                <h5>學生背景</h5>
							</div>
                        </div>
                        <div class="section-content">
							<div class="inner-row">
							    <div class="s-col">
								    <h6>多元文化背景</h6>
									<div class="instruction">
									    <ol>
											<% (1..3).map do |i| %>
										    <li><%= lorem_sentence %></li>
											<% end %>
										</ol>
									</div>
								</div>
								<div class="s-col">
								    <h6>探究能力</h6>
									<div class="instruction">
										<p><strong>106-109學年度學生進行國際教育議題專題研究</strong></p>
									    <ul>
										    <li>108年專題研究-「不塑之客的無塑之旅」</li>
											<li>學生國際教育議題專題研究參加金車文教基金會「愛讓世界轉動兒少公益行動徵選」: <strong>藉由課程設計發展學生解決問題能力</strong>
												<ul>
													<% (1..4).map do |i| %>
												    <li><%= lorem_sentence %></li>
													<% end %>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
                        </div>
                    </section>
					
					<section class="section">
                        <div class="section-head">
							<div class="inner">
                                <span class="icon"><img src="../assets/icon/search.png" alt=""></span>
                                <h5>外部資源</h5>
							</div>
                        </div>
                        <div class="section-content">
							<div class="inner-row">
							    <div class="s-col">
								    <h6>家長參與</h6>
									<div class="instruction">
									    <p>本校有80%學生為跨學區就讀，外籍學生佔約8%，家長有各行各業及外籍人士，絕大部分家長選擇富山就讀原因為富山推動國際教育，所以家長都相當重視學校發展及教學品質，主動積極參與度高，能有效協助校務發展。</p>
										<p>家長會組織健全，與學校互動良好。家長普遍認同與支持國際交流活動，教師教學認真，學生學習成效受社區家長肯定，建立良好口碑。</p>
									</div>
								</div>
								<div class="s-col">
								    <h6>社區與組織</h6>
									<div class="instruction">
									    <p>本校鄰近台東市區與都蘭，學區內外籍人士眾多，學校與社區互動良好，建立良好溝通管道，學校也定期會進行社區環境維護清潔，一起共好，學校家長會組織健全，相當支持學校的校務發展，只要學校有相關的活動需要人力支援，皆不遺餘力。</p>
									</div>
								</div>
							</div>
                        </div>
                    </section>
				</div>
				
            </main>
			
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>




