<!-- ietw: 學習目標檢索 -->

<%= render :partial => "/partials/breadcrumb" %>
<div class="sidenav-overlay"></div>
<div class="content-wrapper">
    <div class="container">
	    <div class="pages-row">
			
			<%= render :partial => "/partials/sidenav" %>

            <!-- 主要內容 -->
            <main class="main">
                <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

                <article class="page-article">
					<div class="post-head">
						<div class="post-title">
							<img src="../assets/title_img04.png" alt="學習目標檢索">
                            <h2>學習目標檢索</h2>
						</div>
					</div>
					
					<div class="post-content">
						
                        <div class="page-content_note">
                            <div class="wrap">
								<span class="icon"><img src="../assets/search_icon02.png" alt="學習目標檢索"></span>
								<span class="text">藉由國際教育議題實質內涵，搜尋對應之學習目標，並連線至課程工具包。請點選對應之議題實質內涵。</span>
							</div>
                        </div>
						
						<div class="objective-wrapper">
							
							<div class="categories-wrap">
							    <div class="categories-hd">
                                    <a class="btn-collapse" data-bs-toggle="collapse" href="#collapse_01" role="button" aria-expanded="true" aria-controls="collapse_01">
                                        <span class="h4">彰顯國家價值</span>
										<span class="symbol"><i class="fas fa-chevron-up"></i></span>
                                    </a>
								</div>
								<div class="categories-bd">
                                    <div class="collapse show" id="collapse_01">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <h5 class="group-title">國小(E)</h5>
                                                <ul class="menu-item cate-list">
                                                    <% (1..2).map do |i| %>
                                                    <li>
                                                        <a href="#" class="item-link" title="{完整標題}">
                                                            <span class="cate"><span>國E0<%= i %></span></span>
                                                            <span class="sub">了解我國與世界其他國家的文化特質</span>
                                                        </a>
                                                    </li>
                                                    <% end %>
													<li>
                                                        <a href="#" class="item-link" title="{完整標題}">
                                                            <span class="cate"><span>國E03</span></span>
                                                            <span class="sub">從歷史脈絡中理解我國在國際社會的角色與處境的角色與處境</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4">
                                                <h5 class="group-title">國中(J)</h5>
                                                <ul class="menu-item cate-list">
                                                    <% (1..3).map do |i| %>
                                                    <li>
                                                        <a href="#" class="item-link" title="{完整標題}">
                                                            <span class="cate"><span>國J0<%= i %></span></span>
                                                            <span class="sub">展現認同我國國家價值的行動</span>
                                                        </a>
                                                    </li>
                                                    <% end %>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4">
                                                <h5 class="group-title">高中(U)</h5>
                                                <ul class="menu-item cate-list">
                                                    <% (1..3).map do |i| %>
                                                    <li>
                                                        <a href="#" class="item-link" title="{完整標題}">
                                                            <span class="cate"><span>國U0<%= i %></span></span>
                                                            <span class="sub">參與我國永續發展的行動</span>
                                                        </a>
                                                    </li>
                                                    <% end %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
								</div>
							</div>
							
							<div class="categories-wrap">
							    <div class="categories-hd">
                                    <a class="btn-collapse" data-bs-toggle="collapse" href="#collapse_02" role="button" aria-expanded="true" aria-controls="collapse_02">
                                        <span class="h4">尊重多元文化與國際理解</span>
										<span class="symbol"><i class="fas fa-chevron-up"></i></span>
                                    </a>
								</div>
								<div class="categories-bd">
                                    <div class="collapse show" id="collapse_02">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <h5 class="group-title">國小(E)</h5>
                                                <ul class="menu-item cate-list">
                                                    <% (4..6).map do |i| %>
                                                    <li>
                                                        <a href="#" class="item-link" title="{完整標題}">
                                                            <span class="cate"><span>國E0<%= i %></span></span>
                                                            <span class="sub">了解國際文化的多樣性</span>
                                                        </a>
                                                    </li>
                                                    <% end %>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4">
                                                <h5 class="group-title">國中(J)</h5>
                                                <ul class="menu-item cate-list">
                                                    <% (4..6).map do |i| %>
                                                    <li>
                                                        <a href="#" class="item-link" title="{完整標題}">
                                                            <span class="cate"><span>國J0<%= i %></span></span>
                                                            <span class="sub">評估衝突的情境並提出解決方案</span>
                                                        </a>
                                                    </li>
                                                    <% end %>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4">
                                                <h5 class="group-title">高中(U)</h5>
                                                <ul class="menu-item cate-list">
                                                    <% (4..6).map do |i| %>
                                                    <li>
                                                        <a href="#" class="item-link" title="{完整標題}">
                                                            <span class="cate"><span>國U0<%= i %></span></span>
                                                            <span class="sub">分析我國在全球競合關係中的地位</span>
                                                        </a>
                                                    </li>
                                                    <% end %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
								</div>
							</div>
							
							<div class="categories-wrap">
							    <div class="categories-hd">
                                    <a class="btn-collapse" data-bs-toggle="collapse" href="#collapse_03" role="button" aria-expanded="true" aria-controls="collapse_03">
                                        <span class="h4">強化國際移動力</span>
										<span class="symbol"><i class="fas fa-chevron-up"></i></span>
                                    </a>
								</div>
								<div class="categories-bd">
                                    <div class="collapse show" id="collapse_03">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <h5 class="group-title">國小(E)</h5>
                                                <ul class="menu-item cate-list">
                                                    <% (7..9).map do |i| %>
                                                    <li>
                                                        <a href="#" class="item-link" title="{完整標題}">
                                                            <span class="cate"><span>國E0<%= i %></span></span>
                                                            <span class="sub">體認國際能力養成的重要性</span>
                                                        </a>
                                                    </li>
                                                    <% end %>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4">
                                                <h5 class="group-title">國中(J)</h5>
                                                <ul class="menu-item cate-list">
                                                    <% (7..9).map do |i| %>
                                                    <li>
                                                        <a href="#" class="item-link" title="{完整標題}">
                                                            <span class="cate"><span>國J0<%= i %></span></span>
                                                            <span class="sub">覺察外語與探究學習對國際能力養成的重要性</span>
                                                        </a>
                                                    </li>
                                                    <% end %>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4">
                                                <h5 class="group-title">高中(U)</h5>
                                                <ul class="menu-item cate-list">
                                                    <% (7..9).map do |i| %>
                                                    <li>
                                                        <a href="#" class="item-link" title="{完整標題}">
                                                            <span class="cate"><span>國U0<%= i %></span></span>
                                                            <span class="sub">反思自我國際能力的學習歷程與成果</span>
                                                        </a>
                                                    </li>
                                                    <% end %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
								</div>
							</div>
							
							<div class="categories-wrap">
							    <div class="categories-hd">
                                    <a class="btn-collapse" data-bs-toggle="collapse" href="#collapse_04" role="button" aria-expanded="true" aria-controls="collapse_04">
                                        <span class="h4">善盡全球公民責任</span>
										<span class="symbol"><i class="fas fa-chevron-up"></i></span>
                                    </a>
								</div>
								<div class="categories-bd">
                                    <div class="collapse show" id="collapse_04">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <h5 class="group-title">國小(E)</h5>
                                                <ul class="menu-item cate-list">
                                                    <% (10..12).map do |i| %>
                                                    <li>
                                                        <a href="#" class="item-link" title="{完整標題}">
                                                            <span class="cate"><span>國E<%= i %></span></span>
                                                            <span class="sub">認識世界基本人權與道德責任</span>
                                                        </a>
                                                    </li>
                                                    <% end %>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4">
                                                <h5 class="group-title">國中(J)</h5>
                                                <ul class="menu-item cate-list">
                                                    <% (10..12).map do |i| %>
                                                    <li>
                                                        <a href="#" class="item-link" title="{完整標題}">
                                                            <span class="cate"><span>國J<%= i %></span></span>
                                                            <span class="sub">尊重與維護不同文化群體的人權與尊嚴</span>
                                                        </a>
                                                    </li>
                                                    <% end %>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4">
                                                <h5 class="group-title">高中(U)</h5>
                                                <ul class="menu-item cate-list">
                                                    <% (10..12).map do |i| %>
                                                    <li>
                                                        <a href="#" class="item-link" title="{完整標題}">
                                                            <span class="cate"><span>國U<%= i %></span></span>
                                                            <span class="sub">發展解決全球議題方案與評價行動的能力</span>
                                                        </a>
                                                    </li>
                                                    <% end %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
								</div>
							</div>
							
						</div>
						
						<!--div class="text-center">
                            <button type="button" class="btn btn-secondary btn-previous"><i class="fas fa-long-arrow-alt-left"></i> 回上一頁</button>
						</div-->
						
					</div>
				</article>
				
            </main>
			
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>




