<!-- ietw: 客製化列表 -->

<%= render :partial => "/partials/breadcrumb" %>
<div class="sidenav-overlay"></div>
<div class="content-wrapper">
    <div class="container">
	    <main class="main">
            <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>
            <div class="row">
                <% (1..11).map do |i| %>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="block-list-item">
                        <div class="block-head">
                            <h5><%= zh_lorem_words(8) %></h5>
                        </div>
                        <!-- 後台欄位請註明，上傳圖檔標準比例 16:9，e.g. 1600 x 900、800 x 450 -->
                        <img src="https://placehold.co/1600x900" alt="{圖片描述}" class="img-fluid">
                        <ul class="menu-item">
                            <% (1..2).map do |i| %>
                            <li>
                                <a href="#"><%= zh_lorem_words(8) %></a>
                            </li>
                            <li>
                                <a href="#"><%= zh_lorem_words(10) %></a>
                            </li>
                            <li>
                                <a href="#"><%= zh_lorem_words(6) %></a>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
                <% end %>
            </div>
		</main>
	</div>
</div>




