<!-- event-page: 常見問題 -->

<div class="container">
    <div class="searchbar">
		<div class="qa-search">
			<i class="fa fa-search" aria-hidden="true"></i>
		    <input class="form-control" type="text" placeholder="請輸入關鍵字">
		</div>
    </div>
</div>

<main class="main">
	<div class="container">
        <div class="accordion md-accordion qa-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab" id="qaheading1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#qacollapse1" aria-expanded="true" aria-controls="qacollapse1">
                        <h5>請問申請華僑身分證明書應具備什麼條件？ <i class="fa fa-angle-down rotate-icon"></i></h5>
                    </a>
                </div>

                <div id="qacollapse1" class="collapse show" role="tabpanel" aria-labelledby="qaheading1" data-parent="#accordionEx">
                    <div class="card-body">
                        <div class="awell">
							<p><%= lorem_sentence %></p>
						    <p><%= lorem_paragraph %></p>
							<ul>
							    <li><%= lorem_sentence %></li>
								<li><%= lorem_sentence %></li>
								<li><%= lorem_sentence %></li>
							</ul>
						</div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" role="tab" id="qaheading2">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#qacollapse2" aria-expanded="false" aria-controls="qacollapse2">
                        <h5><%= lorem_sentence %> <i class="fa fa-angle-down rotate-icon"></i></h5>
                    </a>
                </div>

                <div id="qacollapse2" class="collapse" role="tabpanel" aria-labelledby="qaheading2" data-parent="#accordionEx">
                    <div class="card-body">
                        <div class="awell">
							<p><%= lorem_sentence %></p>
						    <p><%= lorem_paragraph %></p>
							<ol>
							    <li><%= lorem_sentence %></li>
								<li><%= lorem_sentence %></li>
								<li><%= lorem_sentence %></li>
							</ol>
							<p><%= lorem_paragraph %></p>
							<ul>
							    <li><%= lorem_sentence %></li>
								<li><%= lorem_sentence %></li>
								<li><%= lorem_sentence %></li>
							</ul>
							<p><%= lorem_paragraph %></p>
							<p><%= lorem_paragraph %></p>
						</div>
                    </div>
                </div>
            </div>
			
			<% (3..10).map do |i| %>
            <div class="card">
                <div class="card-header" role="tab" id="qaheading<%= i %>">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#qacollapse<%= i %>" aria-expanded="false" aria-controls="qacollapse<%= i %>">
                        <h5><%= lorem_sentence %> <i class="fa fa-angle-down rotate-icon"></i></h5>
                    </a>
                </div>

                <div id="qacollapse<%= i %>" class="collapse" role="tabpanel" aria-labelledby="qaheading<%= i %>" data-parent="#accordionEx">
                    <div class="card-body">
                        <div class="awell">
						    <p><%= lorem_paragraph %></p>
							<p><%= lorem_paragraph %></p>
							<ul>
							    <li><%= lorem_sentence %></li>
								<li><%= lorem_sentence %></li>
								<li><%= lorem_sentence %></li>
							</ul>
							<p><%= lorem_sentence %></p>
							<p><%= lorem_paragraph %></p>
						</div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>

        <nav class="page-navigation">
            <ul class="pagination pg-teal justify-content-center">
                <li class="page-item">
                    <a class="page-link" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link">1</a></li>
                <li class="page-item active">
                    <a class="page-link">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link">3</a></li>
                <li class="page-item">
                    <a class="page-link">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</main>
<a id="backtop"></a>


<% content_for :js do %>
	<!-- Back to top -->
	<script>
        var btn = $('#backtop');

        $(window).scroll(function() {
          if ($(window).scrollTop() > 600) {
            btn.addClass('show');
          } else {
            btn.removeClass('show');
          }
        });

        btn.on('click', function(e) {
          e.preventDefault();
          $('html, body').animate({scrollTop:0}, '300');
        });
	</script>
<% end %>
