<!-- TCU-AE: 總召審查委員 - 單一項次審查  -->

<div class="container">
    <div class="mb-3">
        <h2 class="project-title">可溶性 P-選擇素對小鼠受損組織的保護機制</h2>
        <p>請完成下列各項次的審查後，按下"預覽並送出審查結果"，完成審查作業</p>
        <div class="card p-4 un-shadows blue-grey lighten-5">
            <h5 class="mb-4">總召委員整體審查結果</h5>
            <form class="form-inline">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">通過</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">不通過</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <label class="form-check-label" for="inlineRadio3">應改善後複審</label>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
	    <div class="col-12">
		    <table class="table table-roles">
                <thead>
                    <tr>
                        <th></th>
                        <th>審查項次</th>
                        <th>委員 1 審查結果</th>
                        <th>委員 2 審查結果</th>
                        <th>總召委員審查結果</th>
                        <th>申請人回覆</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>申請人、單位</td>
                        <td><span class="red-text">應改善後複審</span></td>
                        <td><span class="green-text">通過</span></td>
                        <td><span class="red-text">應改善後複審</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>計畫/課程/試驗名稱、經費來源、執行期限</td>
                        <td><span class="green-text">通過</span></td>
                        <td><span class="green-text">通過</span></td>
                        <td><span class="green-text">通過</span></td>
                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>進行動物實驗之相關人員資料</td>
                        <td><span class="green-text">通過</span></td>
                        <td><span class="green-text">通過</span></td>
                        <td><span class="green-text">通過</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>實驗所需之動物</td>
                        <td><span class="green-text">通過</span></td>
                        <td><span class="red-text">應改善後複審</span></td>
                        <td><span class="red-text">應改善後複審</span></td>
                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>動物飼養</td>
                        <td><span class="green-text">通過</span></td>
                        <td><span class="green-text">通過</span></td>
                        <td><span class="green-text">通過</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>請簡述本研究之目的</td>
                        <td><span class="green-text">通過</span></td>
                        <td><span class="green-text">通過</span></td>
                        <td><span class="green-text">通過</span></td>
                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>請以動物實驗應用3Rs之替代及減量原則，說明動物實驗試驗設計、實驗動物需求、動物種別及數量之必要性</td>
                        <td><span class="red-text">應改善後複審</span></td>
                        <td><span class="green-text">通過</span></td>
                        <td><span class="red-text">應改善後複審</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>請以實驗動物應用3Rs之精緻化原則，說明實驗中所進行之動物實驗內容</td>
                        <td><span class="green-text">通過</span></td>
                        <td><span class="green-text">通過</span></td>
                        <td><span class="green-text">通過</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>請說明實驗結束後動物之處置方式</td>
                        <td><span class="green-text">通過</span></td>
                        <td><span class="green-text">通過</span></td>
                        <td><span class="green-text">通過</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>有無進行危險性實驗，如具生物危害 (含感染性物質、致癌藥物、基因重組)、放射線及化學危害(含毒物) 實驗？</td>
                        <td><span class="green-text">通過</span></td>
                        <td><span class="green-text">通過</span></td>
                        <td><span class="green-text">通過</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>本申請表是否與過去七年內審核通過之實驗內容相似？</td>
                        <td><span class="green-text">通過</span></td>
                        <td><span class="green-text">通過</span></td>
                        <td><span class="green-text">通過</span></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
		</div>
    </div>
    <div class="row">
		<div class="col">
			<div class="list-wrap">
				<form>
					<div class="tabs-wrapper"> 
						<ul class="nav" role="tablist">
							<li class="nav-item">
								<a class="nav-link waves-light active" data-toggle="tab" href="#panel51" role="tab">申請項次內容</a>
							</li>
							<li class="nav-item">
								<a class="nav-link waves-light" data-toggle="tab" href="#panel52" role="tab">委員 1 審查意見</a>
							</li>
                            <li class="nav-item">
								<a class="nav-link waves-light" data-toggle="tab" href="#panel53" role="tab">委員 2 審查意見</a>
							</li>
                            <li class="nav-item">
								<a class="nav-link waves-light" data-toggle="tab" href="#panel54" role="tab">申請人回復</a>
							</li>
                            <li class="nav-item">
								<a class="nav-link waves-light" data-toggle="tab" href="#panel55" role="tab">總召審查結果</a>
							</li>
						</ul>
					</div>
					<div class="tab-content card un-shadows">
						<div class="tab-pane fade in show active" id="panel51" role="tabpanel">
                            申請項次內容
                            <p>表單省略</p>
                            <p><%= lorem_sentences 20 %></p>
                            <p><%= lorem_sentences 10 %></p>
						</div>
						<div class="tab-pane fade" id="panel52" role="tabpanel">
                            委員 1 審查意見
                            <p>表單省略</p>
                            <p><%= lorem_sentences 15 %></p>
                            <p><%= lorem_sentences 15 %></p>
						</div>
                        <div class="tab-pane fade" id="panel53" role="tabpanel">
                            委員 2 審查意見
                            <p>表單省略</p>
                            <p><%= lorem_sentences 10 %></p>
                            <p><%= lorem_sentences 10 %></p>
						</div>
                        <div class="tab-pane fade" id="panel54" role="tabpanel">
                            申請人回復
                            <p>表單省略</p>
                            <p><%= lorem_sentences 10 %></p>
                            <p><%= lorem_sentences 10 %></p>
						</div>
                        <div class="tab-pane fade" id="panel55" role="tabpanel">
                            總召審查結果
                            <p>表單省略</p>
                            <p><%= lorem_sentences 15 %></p>
                            <p><%= lorem_sentences 15 %></p>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
    <div class="form-action text-center">
        <button type="button" class="btn btn-white">回列表</button>
        <button type="button" class="btn blue-gradient">預覽並送出審查結果</button>
    </div>
</div>