<% I18n.locale = "zh-TW" %>
<!doctype html>
<html lang="<%= I18n.locale %>" class="no-js">
<head>
    <%= render :partial => "/partials/head" %>
</head>
<body>
	<div class="workspace" canvas="container">
        <div class="pages">
            <%= render :partial => "/partials/header" %>
            <div class="content">
                <%= yield %>
            </div>
			<a id="backtop"></a>
        </div>
        <%= render :partial => "/partials/footer" %>
	</div>

	<%= render :partial => "/partials/top_search" %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../javascripts/popper.min.js"></script>
    <script src="../javascripts/bootstrap.bundle.js"></script>
	<script src="../javascripts/slick.min.js"></script>
	<script src="../javascripts/jquery.scrollbar.js"></script>
	
	<!-- 首頁 slick-->
    <script>
        $('.single-item').slick({
            draggable: true,
            arrows: true,
            dots: true,
            fade: true,
            speed: 900,
            autoplay: true,
            autoplaySpeed: 6000,
            infinite: true,
            cssEase: 'cubic-bezier(0.7, 0, 0.3, 1)',
            touchThreshold: 100
        })
        $(".slick-center").slick({
            dots: true,
            infinite: true,
            centerMode: true,
            autoplay: true,
            autoplaySpeed: 6000,
            slidesToShow: 5,
            slidesToScroll: 3,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true,
                    },
                },
                {
                    breakpoint: 680,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                    },
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                    },
                },
            ],
        });
    </script>
	
	<!-- 側欄 sidenav -->
	<script>
        $(document).ready(function () {
            $("#accordian_nav a").click(function () {
                var link = $(this);
                var closest_ul = link.closest("ul");
                var parallel_active_links = closest_ul.find(".active");
                var closest_li = link.closest("li");
                var link_status = closest_li.hasClass("active");
                var count = 0;

                closest_ul.find("ul").slideUp(function () {
                    if (++count == closest_ul.find("ul").length) parallel_active_links.removeClass("active");
                });

                if (!link_status) {
                    closest_li.children("ul").slideDown();
                    closest_li.addClass("active");
                }
            });
        });
	</script>
	
	<!-- Back to top -->
	<script>
        var btn = $('#backtop');

        $(window).scroll(function() {
          if ($(window).scrollTop() > 600) {
            btn.addClass('show');
          } else {
            btn.removeClass('show');
          }
        });

        btn.on('click', function(e) {
          e.preventDefault();
          $('html, body').animate({scrollTop:0}, '300');
        });
	</script>
	
	<!-- SideNav -->
	<script>
        $(".sidenav-collapse").click(function () {
            $(".sidenav").toggleClass("active");
            $(".sidenav-overlay").toggleClass("visible");
        });

        $(".sidenav-overlay").click(function () {
            $(".sidenav").toggleClass("active");
            $(".sidenav-overlay").toggleClass("visible");
        });
	</script>
	<script>
        $(document).ready(function () {
            // SideNav Scrollbar Initialization
            var sideNavScrollbar = document.querySelector(".custom-scrollbar");
            var ps = new PerfectScrollbar(sideNavScrollbar);
        });
	</script>
	
	<!-- jQuery Scrollbar -->
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('.scrollbar-inner').scrollbar();
        });
    </script>
    
    <%= yield :js %>
</body>
</html>
