<!-- oia-yuntech: 甄選首頁 / 檢視列印 / 結果查詢 / 心得上傳 -->

<div class="container">
	<div class="main-wrap">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="review_print-tab" data-toggle="tab" href="#review_print" role="tab" aria-controls="review_print" aria-selected="false">檢視申請資料</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="admission_result-tab" data-toggle="tab" href="#admission_result" role="tab" aria-controls="admission_result" aria-selected="false">甄選結果</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="upload_documents-tab" data-toggle="tab" href="#upload_documents" role="tab" aria-controls="upload_documents" aria-selected="false">心得上傳</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">

			<div class="tab-pane fade show active" id="review_print" role="tabpanel" aria-labelledby="review_print-tab">
				<div class="awall mb-5">
					<h4 class="awall-title">列印申請表後請送院系核章</h4>
					<p>您已完成106學年度交換學生甄選申請，請務必於 109 年 06 月 01 日 - 06 月 30 日至國際事務室繳交相關申請文件與繳費收據影本。其他重要日程與注意事項，請詳閱甄選簡章。</p>
				</div>

                <%= render :partial => "/partials/application_review" %>

                <div class="form-action">
					<button class="btn btn-lg btn-rounded peach-gradient">列印</button>
                </div>
			</div>
			
			<div class="tab-pane fade" id="admission_result" role="tabpanel" aria-labelledby="admission_result-tab">
				<div class="mb-4">
					<div class="result-hd">
                        <h5 class="font-weight-bold">錄取哥倫比亞大學大學 109-1 交換 1 學期</h5>
						<div class="choose"><span class="giveup">放棄</span></div>
					</div>
                    <div class="awall mb-5">
                        <p>錄取學生須於 109 年 06 月 01 日上午 10:00-12:00 及下午 14:00-16:00 至管院一號館 9 樓 903 室繳交計畫費繳費收據影本及「錄取資格確認書」完成錄取資格確認。</p>
						<p>注意事項</p>
						<ol>
						    <li>持有中華民國行政主管機關開立之低收入戶證明或中低收入補助證明者得免繳計畫費。</li>
							<li>逾期未繳交確認書者，視同放棄錄取資格，不得以任何理由要求保留資格；若委託他人代為繳交，須檢附委託書(<a href="#">點選下載</a>)。</li>
							<li>「錄取資格確認書」及計畫費繳交後不得以任何理由要求退費、撤回或變更。</li>
							<li>同時錄取其他如校級、系/所級交換學生計畫者，僅得擇一確認錄取資格，不得選擇各交換一學期。</li>
							<li>若錄取同學放棄資格，所有本年度缺額將開放予本年度甄選放棄錄取資格及未錄取同學申請。</li>
							<li>因故無法取得家長/監護人簽名，須檢附切結書(<a href="#">點選下載</a>)。</li>
						</ol>
						<p>Accepted students must complete and submit the ‘Acceptance Confirmation Form’ and the receipt of NTD 2,000 administration fee to confirm acceptance. Submissions are to be made in person on XX, XX, 2016 (10:00-12:00 & 14:00-16:00) to the Office of International Affairs, Room 903, Building I, College of Management. An authorization form is required if the accepted students cannot submit the confirmation form in person.</p>
						<p>Note</p>
						<ol>
						    <li><%= lorem_sentences(2) %></li>
							<li><%= lorem_sentences(2) %></li>
							<li><%= lorem_sentences(1) %></li>
							<li><%= lorem_sentences(1) %></li>
							<li><%= lorem_sentences(2) %></li>
							<li><%= lorem_sentences(1) %></li>
							<li><%= lorem_sentences(1) %></li>
						</ol>
                    </div>
				</div>
				
				<!-- 未錄取 -->
				<!-- div class="mb-4">
					<div class="result-hd">
                        <h5 class="font-weight-bold">未錄取</h5>
					</div>
                    <div class="awall mb-5">
                        <p>第二階段學校申請預定於10X年X月X日公告，限本年度甄選放棄錄取資格、未錄取同學、且未於校級、系級交換學生計畫辦理錄取報到之學生申請。詳情請參閱本院國際事務室網站。</p>
						<p>Announcement of available slots for Second-Round Application to be announced before 17:00 on XX XX, 201X on the College of Management website.</p>
						<p>Only students who do not confirm first-round acceptance by the deadline OR are not accepted in the first-round OR have not confirmed acceptance at university/department level exchange program are eligible to apply for Second-Round Application.</p>
                    </div>
				</div-->
				<div class="text-center">
					<a href="/" class="btn btn-default mr-2">確認錄取</a>
					<a href="/" class="btn btn-link">放棄</a>
				</div>
			</div>
			
			<div class="tab-pane fade" id="upload_documents" role="tabpanel" aria-labelledby="upload_documents-tab">
				<form>
                    <div class="awall">
                        <div class="experience-upload">
                            <div class="document-item">
                                <div class="document-hd">
                                    <div class="title-wrap">
                                        <h5>心得上傳</h5>
                                    </div>
                                </div>
                                <div class="document-ft md-form">
                                    <div class="file-field">
                                        <a class="btn-floating btn-sm btn-blue-grey mt-0 float-left">
                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                            <input type="file">
                                        </a>
                                        <div class="file-path-wrapper">
                                           <input class="file-path validate" type="text" placeholder="上傳">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- div class="document-item">
                                <div class="document-hd">
                                    <div class="title-wrap">
                                        <h5>心得上傳</h5>
                                    </div>
                                    <p class="upload-time">上傳時間
                                        <i class="fa fa-clock-o"></i>
                                        <span class="date">2020/02/28 18:20</span>
                                    </p>
                                </div>
                                <div class="document-ft md-form">
                                    <a href="#" class="btn btn-info btn-xs">檢視</a>
                                    <a href="#" class="btn btn-warning btn-xs">修改</a>
                                </div>
                            </div-->

                        </div>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="experiencePublic">
                        <label class="custom-control-label" for="experiencePublic">同意學校公開使用</label>
                    </div>
					<div class="form-action">
					    <button type="button" class="btn btn-default">送出</button>
					</div>
				</form>
			</div>
			
		</div>
	</div>
</div>

