<!-- oia-yuntech: 學校說明 -->

<div class="container">
	<div class="school-fullname">
	    <h3>福斯堡州立大學 Frostburg State University</h3>
		<a class="btn btn-sm btn-white un-shadows" href="selection-list.html"><i class="fa fa-long-arrow-left"></i> 回列表</a>
	</div>
	<div class="school-info">
		<h4 class="block-title">名額</h4>
		<div class="school-info-inner">
		    上學期 8 名，下學期 9 名
		</div>
	</div>
	<div class="school-info">
		<h4 class="block-title">注意事項</h4>
		<div class="school-info-inner">
		    <p><%= lorem_sentences(3) %></p>
			<p><%= lorem_sentences(3) %></p>
			<p><%= lorem_sentences(3) %></p>
			<h5><%= lorem_sentence %></h5>
			<p><%= lorem_sentences(6) %></p>
			<p><%= lorem_sentences(3) %></p>
			<ul>
			    <li><%= lorem_sentences(3) %></li>
				<li><%= lorem_sentences(3) %></li>
			</ul>
		</div>
	</div>
	<div class="school-info">
		<h4 class="block-title">其他資訊</h4>
		<div class="school-info-inner">
		    <h5><%= lorem_sentence %></h5>
		    <p><%= lorem_sentences(3) %></p>
			<ul>
			    <li><%= lorem_sentences(3) %></li>
				<li><%= lorem_sentences(3) %></li>
				<li><%= lorem_sentences(3) %></li>
				<li><%= lorem_sentences(3) %></li>
			</ul>
			<p><%= lorem_sentences(3) %></p>
		</div>
	</div>
</div>

