<!-- News -->

<div class="post-container">
    <header>
        <%= render :partial => "/partials/header" %>
    </header>
    
    <div class="container">
        <div class="news-wrapper">
            <h3 class="news-title"><%= zh_lorem_sentences 2 %></h3>
            <p class="date">2018-01-24</p>
            <article class="news-content">
                <p><%= zh_lorem_sentences 10 %></p>
                <p><%= zh_lorem_sentences 20 %></p>
                <p><img src="<%= lorem_image("800x600") %>" alt="Responsive image" class="img-fluid mx-auto d-block"></p>
                <p><%= zh_lorem_sentences 10 %></p>
            </article>
        </div>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>