<% I18n.locale = "zh-TW" %>
<!doctype html>
<html lang="<%= I18n.locale %>" class="no-js">
<head>
    <%= render :partial => "/partials/head" %>
</head>
<body>
	<div class="workspace" canvas="container">
        <div class="pages general-pages">
            <%= render :partial => "/partials/header_loader" %>
            <div class="content tab-content">
                <%= yield %>
            </div>
            <a id="backtop" title="回到頁首"></a>
        </div>
		<%= render :partial => "/partials/footer" %>
	</div>
    
    <!-- pg -->
    <div class="loader loader--active">
        <div class="loader__tile"></div>
        <div class="loader__tile"></div>
        <div class="loader__tile"></div>
        <div class="loader__tile"></div>
        <div class="loader__tile"></div>
    </div>
    
    <!-- offcanvas-search -->
    <%= render :partial => "/partials/offcanvas-search" %>
    
    <!-- 手機橫向提示 -->
    <div id="orientationOverlay" class="overlay">
        <div class="overlay-content">
            <svg class="icon-phone" width="200px" height="200.00px" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <path
                    fill="#fff"
                    d="M350.321714 76.893274c-41.631166 0-75.558883 33.827433-75.558883 75.475995L274.762831 871.614357c0 41.627073 33.926694 75.491345 75.558883 75.491345l323.756685 0c41.557488 0 75.466786-33.864272 75.466786-75.491345L749.545184 152.36927c0-41.648562-33.910321-75.475995-75.466786-75.475995L350.321714 76.893274 350.321714 76.893274zM703.650925 795.23069 320.692906 795.23069l0-566.461379 382.958018 0L703.650925 795.23069 703.650925 795.23069zM473.188043 867.8885c0-21.515013 17.47807-39.029922 38.938847-39.029922 21.577434 0 39.146579 17.514909 39.146579 39.029922 0 21.585621-17.569144 39.138392-39.146579 39.138392C490.666112 907.026892 473.188043 889.474121 473.188043 867.8885L473.188043 867.8885zM549.691437 153.348574c4.930289 0 8.908904 3.966335 8.908904 8.875135 0 4.801353-3.979638 8.767688-8.908904 8.767688l-74.992995 0c-4.854565 0-8.876158-3.962242-8.876158-8.767688 0-4.9088 4.021593-8.875135 8.876158-8.875135L549.691437 153.348574 549.691437 153.348574zM549.691437 153.348574"
                />
            </svg>
            <div class="media-tip-text">為了更好的觀看體驗，請將裝置直立瀏覽</div>
        </div>
    </div>
	
    <script src="../javascripts/jquery-3.6.0.min.js"></script>
    <script src="../javascripts/popper.min.js"></script>
    <script src="../javascripts/bootstrap.bundle.js"></script>
    
    <!-- Back to top -->
    <script>
        var btn = $('#backtop');

        $(window).scroll(function() {
          if ($(window).scrollTop() > 600) {
            btn.addClass('show');
          } else {
            btn.removeClass('show');
          }
        });

        btn.on('click', function(e) {
          e.preventDefault();
          $('html, body').animate({scrollTop:0}, '300');
        });
    </script>
	
    <!-- sidenav scrollbar -->
    <script src="../javascripts/jquery.scrollbar.min.js"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('.scrollbar-inner').scrollbar();
        });
	</script>

    <!-- sidenav open -->
	<script>
        (function () {
          'use strict'

          document.querySelector('#navbarSideCollapse').addEventListener('click', function () {
            document.querySelector('.offcanvas-collapse').classList.toggle('open')
          })
        })()
	</script>

    <!-- sidenav close -->
    <script>
        $("#widget-overlay").click(function(){
            $(".offcanvas-collapse").removeClass("open");
        });
	</script>
    
    <!-- Gallery background-image -->
	<script>
        let galleryLinks = document.querySelectorAll('.gallery-link')

        galleryLinks.forEach(item=>{
          let imgSrc = item.querySelector('img').src
          item.style.backgroundImage = `url(${imgSrc})`;
        })
    </script>
    
    <!-- Tab change url & Loader -->
    <script>
        var hash = window.location.hash;
        var $loader = document.querySelector(".loader");
        //  畫面 loading 完成 移除 loader
        window.onload = function () {
            $loader.classList.remove("loader--active");
        };

        $(".nav-item,.menu__item,.exhibition-list-wrapper")
            .find("a")
            .each(function (key, value) {
                if (hash === $(value).attr("href")) {
                    var tabTrigger = $($(value).attr("href"));
                    tabTrigger.addClass('active')
                } else if (hash == '') {
                    $('#index').addClass('active')
                }

                $(value).click(function (e) {
                    e.preventDefault();
                    history.pushState(null, null, $(this).attr("href"));
                    // 動畫
                    $loader.classList.add("loader--active");
                    window.setTimeout(function () {
                        var tabTrigger = $($(value).attr("href") == '#' ? "#index" : $(value).attr("href"));
                        // 移除所有 active
                        $('.tab-pane').removeClass('active')
                        // 所點選頁面加上 active
                        tabTrigger.addClass('active')
                        $loader.classList.remove("loader--active");
                    }, 1500);
                });
            });



        // 手機版選單 點選關閉選單
        $(".menu__item")
            .find("a")
            .each(function (key, value) {
                $(value).click(function (e) {
                    $("#main-navigation-toggle").prop("checked", false);
                });
            });
    </script>
    
    <!-- Main nav open -->
	<script>
        // 選取 #main-navigation-toggle 元素
        var toggleCheckbox = document.getElementById("main-navigation-toggle");

        // 監聽 #main-navigation-toggle 元素的變化事件
        toggleCheckbox.addEventListener("change", function() {
            // 選取 .mobile-only 元素
            var mobileOnlyElement = document.querySelector(".mobile-only");

            // 如果 #main-navigation-toggle 的狀態是 checked
            if (toggleCheckbox.checked) {
                // 給 .mobile-only 元素新增 class name .nav-open
                mobileOnlyElement.classList.add("nav-open");
            } else {
                // 如果 #main-navigation-toggle 的狀態不是 checked，移除 .nav-open class name
                mobileOnlyElement.classList.remove("nav-open");
            }
        });
    </script>

    <!-- 手機橫向提示 --> 
    <script>
        // 檢查手機螢幕方向並執行相應的操作
        function checkOrientation() {
            if (window.orientation === 90 || window.orientation === -90) {
                // 手機處於橫向，顯示遮罩
                document.getElementById("orientationOverlay").style.display = "block";
            } else {
                // 手機處於直向，隱藏遮罩
                document.getElementById("orientationOverlay").style.display = "none";
            }
        }

        // 監聽視窗方向變化事件
        window.addEventListener("orientationchange", checkOrientation);

        // 初始化檢查方向
        checkOrientation();
    </script>
  
    <%= yield :js %>
</body>
</html>
