<% I18n.locale = "zh-TW" %>
<!doctype html>
<html lang="<%= I18n.locale %>" class="no-js">
<head>
    <%= render :partial => "/partials/head" %>
</head>
<body>
    <div class="pages">
        <div class="content">
            <div class="content-wrapper">
                <%= render :partial => "/partials/officer_header" %>
                <%= yield %>
            </div>
        </div>
    </div>
    <%= render :partial => "/partials/footer" %>
    <script src="../javascripts/jquery-3.3.1.min.js"></script>
    <script src="../javascripts/popper.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/mdb.min.js"></script>
    <%= yield :js %>
</body>
</html>
