<!-- template: 按鈕顏色測試 -->

<div class="container-fluid">
	<div class="page-content">
		<main class="main">
			<div class="page-title">
			    <h3>按鈕顏色測試</h3>
			</div>
            <div class="notice-wrapper">
                <p class="mb-0">覆蓋 bootstrap 按鈕 primary, success, warning, info 四色，新增 btn-third 以及半圓樣式按鈕。</p>
				<p class="mb-0">因為預設顏色不好用</p>
            </div>
			<section class="section">
                <div class="section-title">
                    <h4>Button color</h4>
                </div>
                <div class="mb-5">
                    <button type="button" class="btn btn-primary">Primary</button>
                    <button type="button" class="btn btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-success">Success</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                    <button type="button" class="btn btn-warning">Warning</button>
                    <button type="button" class="btn btn-info">Info</button>
                    <button type="button" class="btn btn-light">Light</button>
                    <button type="button" class="btn btn-dark">Dark</button>
                    <button type="button" class="btn btn-link">Link</button>
                </div>
                <div class="mb-5">
                    <button type="button" class="btn btn-outline-primary">Primary</button>
                    <button type="button" class="btn btn-outline-secondary">Secondary</button>
                    <button type="button" class="btn btn-outline-success">Success</button>
                    <button type="button" class="btn btn-outline-danger">Danger</button>
                    <button type="button" class="btn btn-outline-warning">Warning</button>
                    <button type="button" class="btn btn-outline-info">Info</button>
                    <button type="button" class="btn btn-outline-light">Light</button>
                    <button type="button" class="btn btn-outline-dark">Dark</button>
                </div>
                <div class="mb-5">
                    <button type="button" class="btn btn-primary btn-rounded">Primary</button>
                    <button type="button" class="btn btn-secondary btn-rounded">Secondary</button>
                    <button type="button" class="btn btn-success btn-rounded">Success</button>
                    <button type="button" class="btn btn-danger btn-rounded">Danger</button>
                    <button type="button" class="btn btn-warning btn-rounded">Warning</button>
                    <button type="button" class="btn btn-info btn-rounded">Info</button>
                    <button type="button" class="btn btn-light btn-rounded">Light</button>
                    <button type="button" class="btn btn-dark btn-rounded">Dark</button>
                    <button type="button" class="btn btn-link btn-rounded">Link</button>
                </div>
                <div class="mb-5">
                    <button type="button" class="btn btn-outline-primary btn-rounded">Primary</button>
                    <button type="button" class="btn btn-outline-secondary btn-rounded">Secondary</button>
                    <button type="button" class="btn btn-outline-success btn-rounded">Success</button>
                    <button type="button" class="btn btn-outline-danger btn-rounded">Danger</button>
                    <button type="button" class="btn btn-outline-warning btn-rounded">Warning</button>
                    <button type="button" class="btn btn-outline-info btn-rounded">Info</button>
                    <button type="button" class="btn btn-outline-light btn-rounded">Light</button>
                    <button type="button" class="btn btn-outline-dark btn-rounded">Dark</button>
                </div>
				<div class="mb-5">
                    <button type="button" class="btn btn-primary"><%= zh_lorem_words(3) %></button>
                    <button type="button" class="btn btn-secondary"><%= zh_lorem_words(3) %></button>
                    <button type="button" class="btn btn-success"><%= zh_lorem_words(3) %></button>
                    <button type="button" class="btn btn-danger"><%= zh_lorem_words(3) %></button>
                    <button type="button" class="btn btn-warning"><%= zh_lorem_words(3) %></button>
                    <button type="button" class="btn btn-info"><%= zh_lorem_words(3) %></button>
                    <button type="button" class="btn btn-light"><%= zh_lorem_words(3) %></button>
                    <button type="button" class="btn btn-dark"><%= zh_lorem_words(3) %></button>
                    <button type="button" class="btn btn-link"><%= zh_lorem_words(3) %></button>
                </div>
				<div class="mb-5">
                    <button type="button" class="btn btn-outline-primary"><%= zh_lorem_words(3) %></button>
                    <button type="button" class="btn btn-outline-secondary"><%= zh_lorem_words(3) %></button>
                    <button type="button" class="btn btn-outline-success"><%= zh_lorem_words(3) %></button>
                    <button type="button" class="btn btn-outline-danger"><%= zh_lorem_words(3) %></button>
                    <button type="button" class="btn btn-outline-warning"><%= zh_lorem_words(3) %></button>
                    <button type="button" class="btn btn-outline-info"><%= zh_lorem_words(3) %></button>
                    <button type="button" class="btn btn-outline-light"><%= zh_lorem_words(3) %></button>
                    <button type="button" class="btn btn-outline-dark"><%= zh_lorem_words(3) %></button>
                </div>
				<hr class="hr-lg">
				<div class="mb-5">
				    <h5>新樣式</h5>
					<button type="button" class="btn btn-third">Third</button>
					<button type="button" class="btn btn-outline-third">Third</button>
					<button type="button" class="btn btn-third btn-rounded">Third</button>
					<button type="button" class="btn btn-outline-third btn-rounded">Third</button>
					<button type="button" class="btn btn-third"><%= zh_lorem_words(3) %></button>
					<button type="button" class="btn btn-outline-third"><%= zh_lorem_words(3) %></button>
				</div>
			</section>
			
		</main>
	</div>
</div>



<% content_for :js do %>
    <script>
        var stickEl = $('.side-sticky'),
          stickyElTop = stickEl.offset().top;

        var sticky = function(){  
          var scrollTop = $(window).scrollTop();  

          if (stickyElTop < scrollTop+20) {   
              stickEl.addClass('is-fixed');  
          } else {  
              stickEl.removeClass('is-fixed');   
          }  
        };

        $(window).scroll(function() {
          sticky();
        }); 
    </script>
<% end %>
