<!-- template: 尋活動 - 單篇 -->

<%= render :partial => "/partials/breadcrumb" %>

<main class="main">

    <div class="main-head">
        <div class="main-container">
            <div class="head-media">
                <img src="http://placebeard.it/1280/720" class="img-cover" alt="{圖片描述}" />
            </div>
            <div class="head-introduce">
                <div class="introduce-title">
                    <h3 class="achievement-title">從國外經驗看臺灣教科書的審定制度</h3>
                    <ul class="menu-item action-options">
                        <li>
                            <a title="分享" class="btn-action btn-share"><i class="fas fa-share-alt"></i></a>
                            <div class="social-share">
                                <a href="#" class="item-social" title="{連結名稱}"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="item-social" title="{連結名稱}"><i class="fab fa-line"></i></a>
                                <a href="#" class="item-social" title="{連結名稱}"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="item-social" title="{連結名稱}"><i class="fas fa-envelope"></i></a>
                            </div>
                        </li>
                        <li><a href="#" title="列印" class="btn-action"><i class="fas fa-print"></i></a></li>
                    </ul>
                </div>
                <div class="achievement-detail">
                    <div class="detail-piece">
                        <span class="label">活動日期</span>
                        <span class="output">
                            <span class="date">112年9月25日</span>
                        </span>
                    </div>
                    <div class="detail-piece">
                        <span class="label">主辦單位</span>
                        <span class="output">國家教育研究院</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="main-container">
        
        <article class="article general-article">
            <h3 class="fw-medium"><%= zh_lorem_sentence %></h3>
            <p><%= zh_lorem_paragraphs(3) %></p>
            <p><%= zh_lorem_paragraphs(3) %></p>
            <h3 class="fw-medium"><%= zh_lorem_sentence %></h3>
            <p><%= zh_lorem_paragraph %></p>
            <p><%= zh_lorem_paragraphs(3) %></p>
            <p><%= zh_lorem_paragraph %></p>
            <!--div class="creativecommons-wrap">
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="創用 CC 授權條款" style="border-width: 0;" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
                <span>本著作係採用<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">創用 CC 姓名標示 4.0 國際 授權條款</a>授權.</span>
            </div-->
        </article>
        
        <div class="related-wrapper">
            <div class="related-topics related-keywords">
                <span class="topics-label">關鍵字</span>
                <div class="topics-bd">
                    <ul class="menu-item menu-keywords">
                        <li>
                            <a href="#" title="{連結名稱}">數學素養導向試題</a>
                        </li>
                        <li>
                            <a href="#" title="{連結名稱}">問題解決</a>
                        </li>
                        <li>
                            <a href="#" title="{連結名稱}">溝通表達</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="related-topics related-link">
                <span class="topics-label">相關連結</span>
                <div class="topics-bd">
                    <ul class="menu-item menu-link">
                        <li>
                            <a href="#" title="{連結名稱}">學生在數學素養導向試題的表現</a>
                        </li>
                        <li>
                            <a href="#" title="{連結名稱}">新課綱系統影響力與社會設計對話暨閉幕式</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--div class="related-topics related-files">
                <span class="topics-label">附加檔案</span>
                <div class="topics-bd">
                    <ul class="menu-item menu-files">
                        <li>
                            <a href="#" title="{連結名稱}">學生在數學素養導向試題的表現.pdf</a>
                        </li>
                        <li>
                            <a href="#" title="{連結名稱}">問題解決.pdf</a>
                        </li>
                        <li>
                            <a href="#" title="{連結名稱}">問題解決導向試題的表現.pdf</a>
                        </li>
                    </ul>
                </div>
            </div-->
        </div>
        
        <div class="link-control">
            <a href="#" class="link-more link-back" title="回專區首頁"><span>回專區首頁</span></a>
        </div>
    </div>
    
    
</main>


<% content_for :js do %>

<!-- 分享按鈕 -->
<script>
  // 取得所有帶有 .item-social 這個 CSS 類別的按鈕元素
  const buttons = document.querySelectorAll('.btn-share');

  // 針對每個按鈕設置 click 事件監聽器
  buttons.forEach((button) => {
    button.addEventListener('click', () => {
      // 切換 .active 這個 CSS 類別
      button.classList.toggle('active');
    });
  });
</script>


<!-- Gallery 正方形 -->
<script>
  // 獲取所有的 .gallery-link 元素
  const galleryLinks = document.querySelectorAll('.gallery-link');

  // 監聽視窗大小變化事件
  window.addEventListener('resize', () => {
    // 遍歷所有的 .gallery-link 元素
    galleryLinks.forEach((link) => {
      // 獲取 .gallery-link 元素的寬度
      const width = link.offsetWidth;
      // 將寬度值設定為 .gallery-link 的內嵌樣式
      link.style.cssText = `width: ${width}px; height: ${width}px;`;
    });
  });

  // 頁面載入完成時觸發一次，以初始化 .gallery-link 寬度
  window.addEventListener('load', () => {
    // 觸發視窗大小變化事件，進行初始化
    window.dispatchEvent(new Event('resize'));
  });
</script>

<!-- Lightbox2 -->
<script src="../javascripts/lightbox.min.js"></script>
<script>
    lightbox.option({
      'resizeDuration': 300
    })
</script>

<% end %>

