<!-- template: 尋活動 - 列表 -->

<%= render :partial => "/partials/breadcrumb" %>

<!-- 修正 date picker 絕對位置 -->
<style>
@media (max-width: 1611px) {
    .date-picker-wrapper {
        margin: 3px 0 0 67px;
    }
}
@media (max-width: 1199px) {
    .date-picker-wrapper {
        margin: 0;
    }
}
</style>

<main class="main main-list-wrapper" id="maincontent">

        <div class="main-container">
            
            <div class="list-toolbar-wrapper">
                <button type="button" class="btn btn-filter" id="filterButton"><i class="fas fa-filter"></i></button>
                <div class="list-toolbar" id="list-toolbar">
                    <div class="toolbar-part">
                        <select class="form-select form-select-xxxl" aria-label="全部">
                            <option selected>全部</option>
                            <option value="1">學術活動</option>
                            <option value="2">原住民教育</option>
                            <option value="3">實驗教育</option>
                        </select>
                    </div>
                    <div class="toolbar-part">
                        <select class="form-select form-select-xxxl" aria-label="主辦單位">
                            <option selected>主辦單位</option>
                            <option value="1">熱門</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="toolbar-part">
                        <div class="form-group">
                            <input id="date-range" class="form-control form-control-xxxl form-date-range" value="" placeholder="選擇日期區間" />
                        </div>
                    </div>
                    <div class="toolbar-part flex-fill">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-xxxl" placeholder="請輸入關鍵字" aria-label="Recipient's username" aria-describedby="button-addon2" />
                            <button class="btn btn-xxxl btn-gold" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            
            <%= render :partial => "/partials/list-table" %>
            
            <!--div class="row list-tabs">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs" id="eventsTab" role="tablist">
                        <li class="nav-item" role="presentation">
                             <button class="nav-link active" id="showhand-tab" data-bs-toggle="tab" data-bs-target="#showhand-tab-pane" type="button" role="tab" aria-controls="showhand-tab-pane" aria-selected="true">全部</button>
                        </li>
                        <li class="nav-item" role="presentation">
                             <button class="nav-link" id="academic-tab" data-bs-toggle="tab" data-bs-target="#academic-tab-pane" type="button" role="tab" aria-controls="academic-tab-pane" aria-selected="true">學術活動</button>
                        </li>
                        <li class="nav-item" role="presentation">
                             <button class="nav-link" id="aborigines-tab" data-bs-toggle="tab" data-bs-target="#aborigines-tab-pane" type="button" role="tab" aria-controls="aborigines-tab-pane" aria-selected="true">原住民教育</button>
                        </li>
                        <li class="nav-item" role="presentation">
                             <button class="nav-link" id="experimental-tab" data-bs-toggle="tab" data-bs-target="#experimental-tab-pane" type="button" role="tab" aria-controls="experimental-tab-pane" aria-selected="true">實驗教育</button>
                        </li>
                        <li class="nav-item" role="presentation">
                             <button class="nav-link" id="textbook-tab" data-bs-toggle="tab" data-bs-target="#textbook-tab-pane" type="button" role="tab" aria-controls="textbook-tab-pane" aria-selected="true">教科書發展</button>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <div class="tab-content" id="eventsTabContent">
                        <div class="tab-pane fade show active" id="showhand-tab-pane" role="tabpanel" aria-labelledby="showhand-tab" tabindex="0">
                            <%= render :partial => "/partials/list-table" %>
                        </div>
                        
                        <div class="tab-pane fade" id="academic-tab-pane" role="tabpanel" aria-labelledby="academic-tab" tabindex="0">
                            <%= render :partial => "/partials/list-table" %>
                        </div>
                        
                        <div class="tab-pane fade" id="aborigines-tab-pane" role="tabpanel" aria-labelledby="aborigines-tab" tabindex="0">
                            <%= render :partial => "/partials/list-table" %>
                        </div>
                        
                        <div class="tab-pane fade" id="experimental-tab-pane" role="tabpanel" aria-labelledby="experimental-tab" tabindex="0">
                            <%= render :partial => "/partials/list-table" %>
                        </div>
                        <div class="tab-pane fade" id="textbook-tab-pane" role="tabpanel" aria-labelledby="textbook-tab" tabindex="0">
                            <%= render :partial => "/partials/list-table" %>
                        </div>
                    </div>
                    
                </div>
            </div-->
            
        </div>

</main>


<% content_for :js do %>

<!-- 分享按鈕 -->
<script>
  // 取得所有帶有 .item-social 這個 CSS 類別的按鈕元素
  const buttons = document.querySelectorAll('.btn-share');

  // 針對每個按鈕設置 click 事件監聽器
  buttons.forEach((button) => {
    button.addEventListener('click', () => {
      // 切換 .active 這個 CSS 類別
      button.classList.toggle('active');
    });
  });
</script>

<!-- 塞選按鈕 -->
<script>
    const filterButton = document.getElementById("filterButton");
    const toolbar = document.getElementById("list-toolbar");

    filterButton.addEventListener("click", () => {
        filterButton.classList.toggle("active");
        toolbar.classList.toggle("show");
    });
</script>

<!-- 日期範圍 -->
<script src="../javascripts/moment.min.js"></script>
<script src="../javascripts/jquery.daterangepicker.js"></script>
<script>
$.dateRangePickerLanguages['custom'] =
{
    'selected': '已選擇：',
    'days': '天',
    'apply': '關閉',
    'week-1' : '一',
    'week-2' : '二',
    'week-3' : '三',
    'week-4' : '四',
    'week-5' : '五',
    'week-6' : '六',
    'week-7' : '日',
    'month-name': ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
    'shortcuts' : '快速選擇',
    'past': '過去',
    '7days' : '7天',
    '14days' : '14天',
    '30days' : '30天',
    'next' : '未來',
    'next-week' : '週',
    'next-month' : '月',
    'next-year' : '年',
    'previous' : '過去',
    'prev-week' : '週',
    'prev-month' : '一個月',
    'prev-quarter' : '季',
    'prev-year' : '一年',
    'less-than' : '日期範圍應該超過 %d 天',
    'more-than' : '日期範圍應該少於 %d 天',
    'default-more' : '請選擇超過 %d 天的日期範圍',
    'default-less' : '請選擇少於 %d 天的日期範圍',
    'default-range' : '請選擇 %d 至 %d 天的日期範圍',
    'default-default': '請選擇日期範圍'
};
$('#date-range').dateRangePicker(
{
    language: 'custom',
    separator: ' 至 ',
    showShortcuts: true,
	shortcuts: 
	{
		//'prev-days': [1,3,5,7],
		//'next-days': [3,5,7],
		'prev' : ['month','year'],
		//'next' : ['month','year']
	},
});
</script>
<% end %>

