<!-- we: mockup -->

<div class="editor-layout">
	<div class="layout-head">
	    <div class="top-bar-header">
		    <div class="bar-right">
			    <span><strong>LOGO</strong></span>
				<span class="">Menu</span>
			</div>
			<div class="bar-right">
			    <span>儲存</span>
				<span>預覽</span>
				<span>發佈</span>
			</div>
		</div>
		<div class="top-bar-function">
		    <div class="bar-right">
			    <span>{當前頁面}</span>
				<span class="">功能切換</span>
			</div>
			<div class="bar-right">
			    <span>右功能</span>
			</div>
		</div>
	</div>
	
	<div class="layout-body">
		<div class="editor-content-wrapper">
            <div class="layout-left-bar">
				<button type="button" class="btn btn-round btn-light"><i class="fas fa-plus"></i></button>
				<a href="#" class="fun-button"><i class="fas fa-file-alt"></i></a>
				<a href="#" class="fun-button"><i class="fas fa-pen-nib"></i></a>
            </div>
            <div class="layout-editing-area">
                <div class="editing-area">
					<div class="sidebar">
						<h5><%= lorem_words(4) %></h5>
                        <a href="#" class="d-block">menu 1</a>
                        <a href="#" class="d-block">menu 2</a>
					    <p><%= lorem_paragraph %></p>
					</div>
                    <div class="scrollable-container">
                        <div class="editor-stage theme-stage">
                            <% (1..10).map do |i| %>
                            <section class="section">
                                <div class="container">
								    <div class="inner">
										<h2><%= i %></h2>
										<%= lorem_paragraphs(4) %>
									</div>
								</div>
								<div class="edit-box">
								    <ul class="menu-item">
									    <li><a href="#">變更背景</a></li>
										<li><a href="#"><i class="fas fa-pen-fancy"></i></a></li>
										<li><a href="#"><i class="fas fa-question-circle"></i></a></li>
									</ul>
								</div>
                            </section>
                            <% end %>
							<section class="section section-select">
                                <div class="container">
								    <div class="inner">
										<h2>11 區塊被選擇的樣式</h2>
										<%= lorem_paragraphs(4) %>
									</div>
								</div>
								<div class="edit-box">
								    <ul class="menu-item">
									    <li><a href="#">變更背景</a></li>
										<li><a href="#"><i class="fas fa-pen-fancy"></i></a></li>
										<li><a href="#"><i class="fas fa-question-circle"></i></a></li>
									</ul>
								</div>
                            </section>
							<section class="section">
                                <div class="container">
								    <div class="inner">
										<h2>12</h2>
										<%= lorem_paragraphs(4) %>
									</div>
								</div>
								<div class="edit-box">
								    <ul class="menu-item">
									    <li><a href="#">變更背景</a></li>
										<li><a href="#"><i class="fas fa-pen-fancy"></i></a></li>
										<li><a href="#"><i class="fas fa-question-circle"></i></a></li>
									</ul>
								</div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>

<% content_for :js do %>

<% end %>




