<!-- we: Sidebar - 網站頁面 -->

<div class="editor-layout">
	<div class="layout-head">
	    <div class="top-bar-header">
		    <div class="bar-start">
			    <div class="logo">
                    <img src="../assets/logo.png">
                </div>
                <nav class="navigation">
                    <ul class="menu-item">
                        <li>
                            <a class="btn dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Menu One</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="btn dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Menu Two</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="btn" href="#">Menu Three</a>
                        </li>
                    </ul>
                </nav>
			</div>
			<div class="bar-end">
                <button type="button" class="btn btn-link">儲存</button>
                <button type="button" class="btn btn-link">預覽</button>
                <button type="button" class="btn btn-rounded btn-primary btn-launch">發佈</button>
			</div>
		</div>
		<div class="top-bar-function">
		    <div class="bar-start">
			    <div class="page-select has-border">
                    <label>頁面</label>
                    <div class="dropdown-select">
                        <div class="select">
                            <span>首頁</span>
                            <i class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="page_select" />
                        <ul class="dropdown-select-menu">
                            <li id="page-home">首頁</li>
                            <li id="page-about">關於我們</li>
                            <li id="page-portfolio">作品集</li>
                            <li id="page-jobs">職缺</li>
                        </ul>
                    </div>
                </div>
                <div class="device-viewpoint has-border">
                    <button type="button" class="btn btn-link current" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="桌機網頁版">
                        <img src="../assets/device-desktop.svg">
                    </button>
                    <button type="button" class="btn btn-link" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="轉換到行動裝置">
                        <img src="../assets/device-mobile.svg">
                    </button>
                </div>
			</div>
			<div class="bar-end">
                <div class="undo-redo has-border">
                    <button type="button" class="btn btn-link" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="復原">
                        <img src="../assets/arrow-back-up.svg">
                    </button>
                    <button type="button" class="btn btn-link" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="重做">
                        <img src="../assets/arrow-forward-up.svg">
                    </button>
                </div>
                <div class="fun-block has-border">
                    <button type="button" class="btn btn-link">按鈕</button>
                </div>
                <div class="fun-block has-border">
                    <button type="button" class="btn btn-link">更多按鈕</button>
                </div>
			</div>
		</div>
	</div>
	
	<div class="layout-body">
		<div class="editor-content-wrapper">
            <div class="layout-left-bar">
				<button type="button" class="btn btn-round" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="新增元件"><i class="fas fa-plus"></i></button>
                <button type="button" class="btn btn-round current" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="選單與網頁"><i class="fas fa-file-alt"></i></button>
                <button type="button" class="btn btn-round" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="<%= zh_lorem_words(4) %>"><i class="fas fa-pen-nib"></i></button>
                <button type="button" class="btn btn-round" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="<%= zh_lorem_words(4) %>"><i class="fas fa-th-large"></i></button>
                <button type="button" class="btn btn-round" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="<%= zh_lorem_words(4) %>"><i class="fas fa-image"></i></button>
            </div>
            <div class="layout-editing-area">
                <div class="editing-area">
                    
                    <!-- 擴展介面 -->
					<div class="expanded-bar show">
                        <div class="expanded-bar-inner">
                            <div class="bar-head">
                                <span class="bar-title">新增元件</span>
                                <span>
                                    <button type="button" class="btn-close" aria-label="Close">
                                        <img src="../assets/x.svg">
                                    </button>
                                </span>
                            </div>

                            <div class="bar-body">

                                <!-- 如要改變區塊寬度可寫 inline css -->
                                <div class="wild-bar">
                                    <div class="scrollbar-inner">
                                        <div class="bar-section">
                                            <div class="section-hd">
                                                <h6 class="mb-0">網站選單</h6>
                                                <button type="button" class="btn btn-add" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="新增頁面"><i class="fas fa-plus"></i> 新增 </button>
                                            </div>
                                            <div class="section-bd">
                                                <div class="dragpage-list">

                                                    <div class="dragpage-item current">
                                                        <div class="flex-inner">
                                                            <div class="item-hd">
                                                                <i class="fas fa-home"></i>
                                                                <span>首頁</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="dragpage-item">
                                                        <div class="flex-inner">
                                                            <div class="item-hd">
                                                                <i class="fas fa-users"></i>
                                                                <span>關於我們</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="dragpage-item">
                                                        <div class="flex-inner">
                                                            <div class="item-hd">
                                                                <i class="fas fa-palette"></i>
                                                                <span>作品</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
                    
                    <div class="scrollable-container">
                        <div class="editor-stage theme-stage">
                            <% (1..10).map do |i| %>
                            <section class="section">
                                <div class="container">
								    <div class="inner">
										<h2><%= i %></h2>
										<%= lorem_paragraphs(4) %>
									</div>
								</div>
								<div class="edit-box">
								    <ul class="menu-item">
									    <li><a href="#">變更背景</a></li>
										<li><a href="#"><i class="fas fa-pen-fancy"></i></a></li>
										<li><a href="#"><i class="fas fa-question-circle"></i></a></li>
									</ul>
								</div>
                            </section>
                            <% end %>
							<section class="section section-select">
                                <div class="container">
								    <div class="inner">
										<h2>11 區塊被選擇的樣式</h2>
										<%= lorem_paragraphs(4) %>
									</div>
								</div>
								<div class="edit-box">
								    <ul class="menu-item">
									    <li><a href="#">變更背景</a></li>
										<li><a href="#"><i class="fas fa-pen-fancy"></i></a></li>
										<li><a href="#"><i class="fas fa-question-circle"></i></a></li>
									</ul>
								</div>
                            </section>
							<section class="section">
                                <div class="container">
								    <div class="inner">
										<h2>12</h2>
										<%= lorem_paragraphs(4) %>
									</div>
								</div>
								<div class="edit-box">
								    <ul class="menu-item">
									    <li><a href="#">變更背景</a></li>
										<li><a href="#"><i class="fas fa-pen-fancy"></i></a></li>
										<li><a href="#"><i class="fas fa-question-circle"></i></a></li>
									</ul>
								</div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>

<% content_for :js do %>

<script>
    /*Dropdown Menu*/
    $(".dropdown-select").click(function () {
        $(this).attr("tabindex", 1).focus();
        $(this).toggleClass("active");
        $(this).find(".dropdown-select-menu").slideToggle(300);
    });
    $(".dropdown-select").focusout(function () {
        $(this).removeClass("active");
        $(this).find(".dropdown-select-menu").slideUp(300);
    });
    $(".dropdown-select .dropdown-select-menu li").click(function () {
        $(this).parents(".dropdown-select").find("span").text($(this).text());
        $(this).parents(".dropdown-select").find("input").attr("value", $(this).attr("id"));
    });
    
    /*bootstrap tooltips*/
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

</script>

<% end %>




