<!-- admin-page: demo / form -->
<%= render :partial => "/partials/admin_breadcrumb" %>
<main class="main">
    <div class="col-block block-tabs">
        
        <ul class="nav nav-tabs" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="ex1-tab-1" data-bs-toggle="tab" href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1" aria-selected="true">基本資料</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-2" data-bs-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2" aria-selected="false" tabindex="-1">來訪人資料</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-3" data-bs-toggle="tab" href="#ex1-tabs-3" role="tab" aria-controls="ex1-tabs-3" aria-selected="false" tabindex="-1">禮品資料</a>
            </li>
            
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-4" data-bs-toggle="tab" href="#ex1-tabs-4" role="tab" aria-controls="ex1-tabs-4" aria-selected="true">陪同人資料</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-5" data-bs-toggle="tab" href="#ex1-tabs-5" role="tab" aria-controls="ex1-tabs-5" aria-selected="false" tabindex="-1">拜訪行程</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-6" data-bs-toggle="tab" href="#ex1-tabs-6" role="tab" aria-controls="ex1-tabs-6" aria-selected="false" tabindex="-1">照片上傳</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-7" data-bs-toggle="tab" href="#ex1-tabs-7" role="tab" aria-controls="ex1-tabs-7" aria-selected="false" tabindex="-1">附件上傳</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-8" data-bs-toggle="tab" href="#ex1-tabs-8" role="tab" aria-controls="ex1-tabs-8" aria-selected="false" tabindex="-1">郵件記錄</a>
            </li>
        </ul>
        
        <div class="block-content tab-content" id="ex1-content">
            <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                <h4 class="my-3">基本資料</h4>
                
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3 row">
                            <label for="exe-01" class="col-3 col-form-label text-end">是否顯示在網站</label>
                            <div class="col-9 py-2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
                                    <label class="form-check-label" for="inlineRadio1">是</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
                                    <label class="form-check-label" for="inlineRadio2">否</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3 row">
                            <label class="col-3 col-form-label text-end">是否顯示介紹網頁</label>
                            <div class="col-9 py-2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio3" value="option1" />
                                    <label class="form-check-label" for="inlineRadio3">是</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio4" value="option2" />
                                    <label class="form-check-label" for="inlineRadio4">否</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3 row">
                            <label class="col-3 col-form-label text-end"><span class="required">*</span>最高接待行政單位/長官</label>
                            <div class="col-9">
                                <select class="form-select form-select-sm" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3 row">
                            <label class="col-3 col-form-label text-end"><span class="required">*</span>來訪機構</label>
                            <div class="col-9">
                                <select class="form-select form-select-sm" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3 row">
                            <label class="col-3 col-form-label text-end">來訪日期</label>
                            <div class="col-9">
                                <div class="d-flex align-items-center">
                                    <span class="flex-grow-1">
                                        <div class="input-group date" id="datepicker">
                                            <input class="form-control form-control-sm" placeholder="MM/DD/YYYY" />
                                            <span class="input-group-append input-group-addon">
                                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                            </span>
                                        </div>
                                    </span>
                                    <span class="px-2">至</span>
                                    <span class="flex-grow-1">
                                        <div class="input-group time timepicker" id="timepicker">
                                            <input class="form-control form-control-sm" placeholder="HH:MM AM/PM" />
                                            <span class="input-group-append input-group-addon">
                                                <span class="input-group-text"><i class="fa fa-clock"></i></span>
                                            </span>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3 row">
                            <label for="exe-001" class="col-3 col-form-label text-end">姊妹校</label>
                            <div class="col-9">
                                <input type="text" class="form-control form-control-sm" id="exe-001" value="否" disabled readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3 row">
                            <label class="col-3 col-form-label text-end"><span class="required">*</span>訪賓人數</label>
                            <div class="col-9">
                                <select class="form-select form-select-sm" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3 row">
                            <label for="exe-01" class="col-3 col-form-label text-end">是否為國際事務處主辦</label>
                            <div class="col-9 py-2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions03" id="inlineRadio5" value="option1" />
                                    <label class="form-check-label" for="inlineRadio5">是</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions03" id="inlineRadio6" value="option2" />
                                    <label class="form-check-label" for="inlineRadio6">否</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3 row">
                            <label class="col-3 col-form-label text-end">國際處承辦人</label>
                            <div class="col-9">
                                <select class="form-select form-select-sm" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3 row">
                            <label class="col-3 col-form-label text-end">承辦單位</label>
                            <div class="col-9">
                                <select class="form-select form-select-sm" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3 row">
                            <label class="col-3 col-form-label text-end">國別設定</label>
                            <div class="col-9">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        <select class="form-select form-select-sm" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="flex-grow-1 px-2">
                                        <select class="form-select form-select-sm" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="flex-grow-1">
                                        <select class="form-select form-select-sm" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3 row">
                            <label class="col-3 col-form-label text-end">來訪目的</label>
                            <div class="col-9 py-2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
                                    <label class="form-check-label" for="inlineCheckbox1">考察訪問</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                                    <label class="form-check-label" for="inlineCheckbox2">研究合作</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" />
                                    <label class="form-check-label" for="inlineCheckbox3">短期授課</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4" />
                                    <label class="form-check-label" for="inlineCheckbox4">發表論文/演講</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5" />
                                    <label class="form-check-label" for="inlineCheckbox5">出席活動/典禮</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6" />
                                    <label class="form-check-label" for="inlineCheckbox6">其他</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <h4 class="my-3">會晤資料</h4>
                
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3 row">
                            <label class="col-3 col-form-label text-end"><span class="required">*</span>會晤性質</label>
                            <div class="col-9 py-2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
                                    <label class="form-check-label" for="inlineCheckbox1">主動來訪</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                                    <label class="form-check-label" for="inlineCheckbox2">本校邀訪</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" />
                                    <label class="form-check-label" for="inlineCheckbox3">政府部會引介</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4" />
                                    <label class="form-check-label" for="inlineCheckbox4">其他</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3 row">
                            <label class="col-3 col-form-label text-end"><span class="required">*</span>會晤內容</label>
                            <div class="col-9 py-2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
                                    <label class="form-check-label" for="inlineCheckbox1">禮貌性拜會</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                                    <label class="form-check-label" for="inlineCheckbox2">洽談合作事項</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" />
                                    <label class="form-check-label" for="inlineCheckbox3">簽訂合約</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4" />
                                    <label class="form-check-label" for="inlineCheckbox4">其他</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <h4 class="my-3">聯絡人</h4>
                <p>請至少填寫一名聯絡人資料</p>
                
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3 row">
                            <label for="exe-008" class="col-3 col-form-label text-end">姓名</label>
                            <div class="col-9">
                                <input type="text" class="form-control form-control-sm" id="exe-008">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3 row">
                            <label for="exe-009" class="col-3 col-form-label text-end">職稱</label>
                            <div class="col-9">
                                <input type="text" class="form-control form-control-sm" id="exe-009">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3 row">
                            <label for="exe-010" class="col-3 col-form-label text-end">單位</label>
                            <div class="col-9">
                                <input type="text" class="form-control form-control-sm" id="exe-010">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3 row">
                            <label for="exe-011" class="col-3 col-form-label text-end">email</label>
                            <div class="col-9">
                                <input type="email" class="form-control form-control-sm" id="exe-011">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3 row">
                            <label for="exe-012" class="col-3 col-form-label text-end">電話</label>
                            <div class="col-9">
                                <input type="text" class="form-control form-control-sm" id="exe-012">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3 row">
                            <label for="exe-013" class="col-3 col-form-label text-end">傳真</label>
                            <div class="col-9">
                                <input type="text" class="form-control form-control-sm" id="exe-013">
                            </div>
                        </div>
                    </div>
                </div>
                
                <h4 class="my-3">其他資料</h4>
                
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3 row">
                            <label for="exe-015" class="col-3 col-form-label text-end">備註</label>
                            <div class="col-9">
                                  <textarea class="form-control form-control-sm" id="exe-015" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3 row">
                            <label for="exe-016" class="col-3 col-form-label text-end">院系拜訪行程</label>
                            <div class="col-9">
                                  <textarea class="form-control form-control-sm" id="exe-016" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row border-top py-4 mt-4">
                    <div class="col-6">
                        <button type="button" class="btn btn-primary offset-3">儲存</button>
                        <button type="button" class="btn btn-secondary">取消</button>
                    </div>
                </div>
                
            </div>
            
            <% (2..8).map do |i| %>
            <div class="tab-pane fade" id="ex1-tabs-<%= i %>" role="tabpanel" aria-labelledby="ex1-tab-<%= i %>">
                <p><%= lorem_paragraphs(5) %><p>
                <p><%= lorem_paragraphs(5) %><p>
                <p><%= lorem_paragraphs(5) %><p>
                <p><%= lorem_paragraphs(5) %><p>
            </div>
            <% end %>

        </div>
        
    </div>
</main>

<% content_for :js do %>

<% end %>