<!-- template: 首頁 Loader -->


<!-- 首頁 -->
<div id="index" class="tab-pane index-content">
	<div class="container-fluid">
        
        <div class="main-carousel">
            <div id="carouselEtalkCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselEtalkCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselEtalkCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselEtalkCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="item-inner">
                            <div class="item-photo"><img src="../assets/fake/1600x900.jpg" class="d-block w-100" alt="{圖片描述}" /></div>
                            <div class="item-text">
                                <div class="text-inner">
                                    <div class="text-position">
                                        
                                        <!-- 後台欄位請限制 22 個全形字元 -->
                                        <h2>國家教育研究院教育播客站</h2>
                                        
                                        <!-- 後台欄位請限制 80 個全形字元 -->
                                        <p>在節目中我們將深入探討與介紹教學現場的現況，你我關心的教育問題，並提供國內外教育研究新知及最新發展趨勢，用輕鬆活潑交談方式帶你進入「播客站」的教育領域！</p>
                                        <div class="link-control">
                                            <a href="#" class="link-more" title="閱覽內容"><span>MORE</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="item-inner">
                            <div class="item-photo"><img src="../assets/fake/1280x720.jpg" class="d-block w-100" alt="{圖片描述}" /></div>
                            <div class="item-text">
                                <div class="text-inner">
                                    <div class="text-position">
                                        
                                        <!-- 後台欄位請限制 22 個全形字元 -->
                                        <h2>數位世代青少年發展研究合作</h2>
                                        
                                        <!-- 後台欄位請限制 80 個全形字元 -->
                                        <p>中央研究院社會學研究所在國家科學及技術委員會經費的補助下，「臺灣數位世代青少年的成長歷程追蹤研究」（簡稱TIGPS）計畫以「數位生態系統理論」探討臺灣數位世代青少年的自我概念。</p>
                                        <div class="link-control">
                                            <a href="#" class="link-more" title="閱覽內容"><span>MORE</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="item-inner">
                            <div class="item-photo"><img src="../assets/fake/1280x720_2.jpg" class="d-block w-100" alt="{圖片描述}" /></div>
                            <div class="item-text">
                                <div class="text-inner">
                                    <div class="text-position">
                                        
                                        <!-- 後台欄位請限制 22 個全形字元 -->
                                        <h2>教育領導的理論探究與實踐經驗發展研究合作</h2>
                                        
                                        <!-- 後台欄位請限制 80 個全形字元 -->
                                        <p>中央研究院社會學研究所在國家科學及技術委員會經費的補助下，「臺灣數位世代青少年的成長歷程追蹤研究」（簡稱TIGPS）計畫以「數位生態系統理論」探討臺灣數位世代。</p>
                                        <div class="link-control">
                                            <a href="#" class="link-more" title="閱覽內容"><span>MORE</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
	</div>
    
    <div class="landing-navigation">
        
        <ul class="menu-item landing-menu">
            <li class="nav-item">
                <a href="#discussion" class="main-link" title="論教育">
                    <div class="nav-flex">
                        <div class="nav-start">
                            <h3 class="nav-subject">論<span>教育</span></h3>
                            <div class="turn-end">
                                <h4 class="turn-package">
                                    <span class="chip">教育觀點</span>
                                    <span class="chip">透徹分析</span>
                                </h4>
                            </div>
                        </div>
                        <div class="nav-end">
                            <span class="package">
                                <span class="chip">教育觀點</span>
                                <span class="chip">透徹分析</span>
                            </span>
                            <div class="turn-start">
                                <div class="turn-subject">論<span>教育</span></div>
                            </div>
                        </div>
                        
                        <!-- 背景圖片可更換，上傳後的圖片名稱必須不同，才不用要求使用者清 cookie 才能看到更新結果，因此圖片為 inline css 方便更新檔名 -->
                        
                        <!-- 後台請標註上傳尺寸，960px * 240px，並註明建議使用 jpg -->
                        
                        <span class="nav-image" style="background-image: url('../assets/nav/demo-01.jpg');"></span>
                    </div>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="#interview" class="main-link" title="訪人物">
                    <div class="nav-flex">
                        <div class="nav-start">
                            <h3 class="nav-subject">訪<span>人物</span></h3>
                            <div class="turn-end">
                                <h4 class="turn-package">
                                    <span class="chip">人物專訪</span>
                                    <span class="chip">深度對話</span>
                                </h4>
                            </div>
                        </div>
                        <div class="nav-end">
                            <span class="package">
                                <span class="chip">人物專訪</span>
                                <span class="chip">深度對話</span>
                            </span>
                            <div class="turn-start">
                                <div class="turn-subject">訪<span>人物</span></div>
                            </div>
                        </div>
                        
                        <!-- 背景圖片可更換，上傳後的圖片名稱必須不同，才不用要求使用者清 cookie 才能看到更新結果，因此圖片為 inline css 方便更新檔名 -->
                        <span class="nav-image" style="background-image: url('../assets/nav/demo-02.jpg');"></span>
                    </div>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="#trends" class="main-link" title="創趨勢">
                    <div class="nav-flex">
                        <div class="nav-start">
                            <h3 class="nav-subject">創<span>趨勢</span></h3>
                            <div class="turn-end">
                                <h4 class="turn-package">
                                    <span class="chip">開創未來</span>
                                    <span class="chip">引領趨勢</span>
                                </h4>
                            </div>
                        </div>
                        <div class="nav-end">
                            <span class="package">
                                <span class="chip">開創未來</span>
                                <span class="chip">引領趨勢</span>
                            </span>
                            <div class="turn-start">
                                <div class="turn-subject">創<span>趨勢</span></div>
                            </div>
                        </div>
                        
                        <!-- 背景圖片可更換，上傳後的圖片名稱必須不同，才不用要求使用者清 cookie 才能看到更新結果，因此圖片為 inline css 方便更新檔名 -->
                        <span class="nav-image" style="background-image: url('../assets/nav/demo-03.jpg');"></span>
                    </div>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="#events" class="main-link" title="尋活動">
                    <div class="nav-flex">
                        <div class="nav-start">
                            <h3 class="nav-subject">尋<span>活動</span></h3>
                            <div class="turn-end">
                                <h4 class="turn-package">
                                    <span class="chip">多元活動</span>
                                    <span class="chip">百花齊放</span>
                                </h4>
                            </div>
                        </div>
                        <div class="nav-end">
                            <span class="package">
                                <span class="chip">多元活動</span>
                                <span class="chip">百花齊放</span>
                            </span>
                            <div class="turn-start">
                                <div class="turn-subject">尋<span>活動</span></div>
                            </div>
                        </div>
                        
                        <!-- 背景圖片可更換，上傳後的圖片名稱必須不同，才不用要求使用者清 cookie 才能看到更新結果，因此圖片為 inline css 方便更新檔名 -->
                        <span class="nav-image" style="background-image: url('../assets/nav/demo-04.jpg');"></span>
                    </div>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="#achievement" class="main-link" title="展成果">
                    <div class="nav-flex">
                        <div class="nav-start">
                            <h3 class="nav-subject">展<span>成果</span></h3>
                            <div class="turn-end">
                                <h4 class="turn-package">
                                    <span class="chip">精選成果</span>
                                    <span class="chip">歷年展示</span>
                                </h4>
                            </div>
                        </div>
                        <div class="nav-end">
                            <span class="package">
                                <span class="chip">精選成果</span>
                                <span class="chip">歷年展示</span>
                            </span>
                            <div class="turn-start">
                                <div class="turn-subject">展<span>成果</span></div>
                            </div>
                        </div>
                        
                        <!-- 背景圖片可更換，上傳後的圖片名稱必須不同，才不用要求使用者清 cookie 才能看到更新結果，因此圖片為 inline css 方便更新檔名 -->
                        <span class="nav-image" style="background-image: url('../assets/nav/demo-05.jpg');"></span>
                    </div>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="#comments" class="main-link" title="暢留言">
                    <div class="nav-flex">
                        <div class="nav-start">
                            <h3 class="nav-subject">暢<span>留言</span></h3>
                            <div class="turn-end">
                                <h4 class="turn-package">
                                    <span class="chip">交流分享</span>
                                    <span class="chip">暢所欲言</span>
                                </h4>
                            </div>
                        </div>
                        <div class="nav-end">
                            <span class="package">
                                <span class="chip">交流分享</span>
                                <span class="chip">暢所欲言</span>
                            </span>
                            <div class="turn-start">
                                <div class="turn-subject">暢<span>留言</span></div>
                            </div>
                        </div>
                        
                        <!-- 背景圖片可更換，上傳後的圖片名稱必須不同，才不用要求使用者清 cookie 才能看到更新結果，因此圖片為 inline css 方便更新檔名 -->
                        <span class="nav-image" style="background-image: url('../assets/nav/demo-06.jpg');"></span>
                    </div>
                </a>
            </li>
            
        </ul>
    </div>
    
</div>

<!-- 論教育 -->
<div id="discussion" class="tab-pane">
    
    <%= render :partial => "/partials/breadcrumb" %>

    <div class="reveal-stand-wrapper">

        <!-- 最少六則，保持雙數 -->
        <div class="reveal-stand-list">
            <div class="stand-row">
                <div class="stand-item">
                    <div class="stand-item-inner">
                        <div class="item-content">
                            <h3 class="item-title">素養學習是什麼？如何因應新世代的學習</h3>
                            <ul class="menu-item item-info">
                                <li>
                                    <span class="label">日期</span>
                                    <span class="output">112年12月25日</span>
                                </li>
                                <li>
                                    <span class="label">地點</span>
                                    <span class="output">國家教育研究院臺北院區十樓國際會議廳</span>
                                </li>
                            </ul>
                        </div>
                        <div class="item-media">
                            <div class="media-inner">
                                <a href="/general/discussion_sessions.html" class="btn btn-more">more <i class="fas fa-long-arrow-alt-right"></i></a>
                                <img src="https://picsum.photos/1280/720" class="item-img" alt="{圖片描述}" />
                            </div>
                        </div>
                    </div>
                    <span class="icon-plus"></span>
                </div>
                <div class="stand-item">
                    <div class="stand-item-inner">
                        <div class="item-content">
                            <h3 class="item-title">國小教師需要什麼支持，才能更加落實國小科技教育及資訊教育課程？</h3>
                            <ul class="menu-item item-info">
                                <li>
                                    <span class="label">日期</span>
                                    <span class="output">112年12月25日</span>
                                </li>
                                <li>
                                    <span class="label">地點</span>
                                    <span class="output">國家教育研究院臺北院區十樓國際會議廳</span>
                                </li>
                            </ul>
                        </div>
                        <div class="item-media">
                            <div class="media-inner">
                                <a href="/general/discussion_sessions.html" class="btn btn-more">more <i class="fas fa-long-arrow-alt-right"></i></a>
                                <img src="https://picsum.photos/1600/900" class="item-img" alt="{圖片描述}" />
                            </div>
                        </div>
                    </div>
                    <span class="icon-plus"></span>
                </div>
            </div>

            <% (1..2).map do |i| %>
            <div class="stand-row">
                <div class="stand-item">
                    <div class="stand-item-inner">
                        <div class="item-content">
                            <h3 class="item-title"><%= lorem_sentence %></h3>
                            <ul class="menu-item item-info">
                                <li>
                                    <span class="label">日期</span>
                                    <span class="output">112年12月25日</span>
                                </li>
                                <li>
                                    <span class="label">地點</span>
                                    <span class="output">國家教育研究院臺北院區十樓國際會議廳</span>
                                </li>
                            </ul>
                        </div>
                        <div class="item-media">
                            <div class="media-inner">
                                <a href="/general/discussion_sessions.html" class="btn btn-more">more <i class="fas fa-long-arrow-alt-right"></i></a>
                                <img src="https://placehold.co/1280x720" class="item-img" alt="{圖片描述}" />
                            </div>
                        </div>
                    </div>
                    <span class="icon-plus"></span>
                </div>
                <div class="stand-item">
                    <div class="stand-item-inner">
                        <div class="item-content">
                            <h3 class="item-title"><%= lorem_sentence %></h3>
                            <ul class="menu-item item-info">
                                <li>
                                    <span class="label">日期</span>
                                    <span class="output">112年12月25日</span>
                                </li>
                                <li>
                                    <span class="label">地點</span>
                                    <span class="output">國家教育研究院臺北院區十樓國際會議廳</span>
                                </li>
                            </ul>
                        </div>
                        <div class="item-media">
                            <div class="media-inner">
                                <a href="/general/discussion_sessions.html" class="btn btn-more">more <i class="fas fa-long-arrow-alt-right"></i></a>
                                <img src="https://placehold.co/1600x900" class="item-img" alt="{圖片描述}" />
                            </div>
                        </div>
                    </div>
                    <span class="icon-plus"></span>
                </div>
            </div>
            <% end %>
        </div>

        <div class="link-control control-end">
            <a href="/general/discussion_list.html" class="link-more link-end" title="文章列表"><span>MORE</span></a>
        </div>
    </div>
    
</div>

<!-- 訪人物 -->
<div id="interview" class="tab-pane">
    
    <%= render :partial => "/partials/breadcrumb" %>
    
    <div class="respondents-list" id="respondents-list">
        <a href="/general/interview_single.html" class="respondents-item">
            <div class="avatar">

                <!-- 後台請註明，受訪者與主持人照片皆為正方形，解析度最少 640 x 640 -->
                <img src="https://placekeanu.com/640/640/" class="item-img" alt="{圖片描述}">
            </div>
            <div class="info">
                <h3 class="title">為真愛單身20年！充滿故事的臉龐絕對是男人型格典範</h3>
                <div class="figure">
                    <span>加拿大男演員基奴李維</span>
                </div>
            </div>
        </a>
        <a href="/general/interview_single.html" class="respondents-item">
            <div class="avatar">
                <img src="https://picsum.photos/640" class="item-img" alt="{圖片描述}">
            </div>
            <div class="info">
                <h3 class="title">口述歷史應用於教科書研究：以統編本國中公民教科書發展史為例</h3>
                <div class="figure">
                    <span>課程及教學研究中心洪詠善研究員</span>
                    <span>教科書研究中心朱美珍研究員</span>
                </div>
            </div>
        </a>
        <a href="/general/interview_single.html" class="respondents-item">
            <div class="avatar">
                <img src="https://picsum.photos/800" class="item-img" alt="{圖片描述}">
            </div>
            <div class="info">
                <h3 class="title"><%= lorem_sentence %></h3>
                <div class="figure">
                    <span>教育制度及政策研究中心阮孝齊助理研究員</span>
                </div>
            </div>
        </a>
        <% (1..5).map do |i| %>
        <a href="/general/interview_single.html" class="respondents-item">
            <div class="avatar">
                <img src="https://placehold.co/1280x1280" class="item-img" alt="{圖片描述}">
            </div>
            <div class="info">
                <h3 class="title"><%= lorem_sentence %></h3>
                <div class="figure">
                    <span><%= lorem_words(8) %></span>
                </div>
            </div>
        </a>
        <% end %>
    </div>
    
    <div class="link-control control-end">
        <a href="/general/interview_list.html" class="link-more link-end" title="專訪列表"><span>MORE</span></a>
    </div>
    
</div>

<!-- 創趨勢 -->
<div id="trends" class="tab-pane">
    
    <%= render :partial => "/partials/breadcrumb" %>

    <main class="main main-trends-list">

        <div class="list-toolbar-wrapper trends-toolbar">
            <div class="main-container">
                <button type="button" class="btn btn-filter" id="filterButton"><i class="fas fa-filter"></i></button>
                <div class="list-toolbar" id="list-toolbar">
                    <div class="toolbar-part">
                        <div class="select-wrap">
                            <div class="years-wrap">
                                <select class="form-select years-select form-select-xxxl" aria-label="選擇年度">
                                    <option selected>選擇年度</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="period-wrap">
                                <select class="form-select period-select form-select-xxxl" aria-label="選擇期數" disabled>
                                    <option selected>選擇期數</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="toolbar-part">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-xxxl" placeholder="請輸入關鍵字" aria-label="Recipient's username" aria-describedby="button-addon2" />
                            <button class="btn btn-xxxl btn-white" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="trends-list-wrapper">
            <div class="main-container">
                <div class="trends-item">
                    <div class="item-img">
                        <img src="https://picsum.photos/1280/720" class="img-cover" alt="{圖片描述}" />
                    </div>
                    <div class="item-info">
                        <div class="info-content">
                            <h3 class="trend-title">國小教師需要什麼支持，才能更加落實國小科技教育及資訊教育課程？</h3>

                            <!-- 後台欄位請限制字數，全形最多 120 -->
                            <p class="trend-brief">為國家教育智庫，長期關注的研究主軸包括「課程教學」、「教育人力」、「公平/素質」以及「績效責任」等領域。透過整合型研究計畫，前瞻國家教育發展需求，掌握全球教育脈動與理念思潮，系統性蒐集長期資料並客觀分析評估，以證據為本提出政策建言。</p>
                        </div>
                        <div class="link-control control-end">
                            <a href="/general/trends_single.html" class="link-more sm-more link-end" title="閱覽全文"><span>MORE</span></a>
                        </div>
                    </div>
                </div>

                <% (1..5).map do |i| %>
                <div class="trends-item">
                    <div class="item-img">
                        <img src="https://placehold.co/1600x900" class="img-cover" alt="{圖片描述}" />
                    </div>
                    <div class="item-info">
                        <div class="info-content">
                            <h3 class="trend-title">英國中小學學校教育革新之相關計畫與策略</h3>

                            <!-- 後台欄位請限制字數，全形最多 120 -->
                            <p class="trend-brief">學生看到素養導向試題就自動投降嗎？他們是否能有效、正確的運用數學知識回答問題？是否具備良好的數學溝通與表達能力？是否能提供合理的解釋與說明？是否具有多元的問題解決能力？本文將帶你一探究竟。</p>
                        </div>
                        <div class="link-control control-end">
                            <a href="/general/trends_single.html" class="link-more sm-more link-end" title="閱覽全文"><span>MORE</span></a>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>

    </main>
    
</div>

<!-- 尋活動 -->
<div id="events" class="tab-pane">
    
    <%= render :partial => "/partials/breadcrumb" %>
    
    <div class="reveal-stand-wrapper">

        <!-- 最少六則，保持雙數 -->
        <div class="reveal-stand-list">
            <div class="stand-row">
                <div class="stand-item">
                    <div class="stand-item-inner">
                        <div class="item-content">
                            <h3 class="item-title">聲量音創學院 1500聲量音樂祭大師講座系列-音樂創作與遊戲音樂產業的經驗分享</h3>
                            <ul class="menu-item item-info">
                                <li>
                                    <span class="label">活動日期</span>
                                    <span class="output">112年12月25日</span>
                                </li>
                                <li>
                                    <span class="label">主辦單位</span>
                                    <span class="output">教育部</span>
                                </li>
                            </ul>
                        </div>
                        <div class="item-media">
                            <div class="media-inner">
                                <a href="/general/events_single.html" class="btn btn-more">more <i class="fas fa-long-arrow-alt-right"></i></a>
                                <img src="https://picsum.photos/1280/720" class="item-img" alt="{圖片描述}" />
                            </div>
                        </div>
                    </div>
                    <span class="icon-plus"></span>
                </div>
                <div class="stand-item">
                    <div class="stand-item-inner">
                        <div class="item-content">
                            <h3 class="item-title">2020 年自主學習資源的發展與應用國際學術研討會</h3>
                            <ul class="menu-item item-info">
                                <li>
                                    <span class="label">活動日期</span>
                                    <span class="output">112年12月25日</span>
                                </li>
                                <li>
                                    <span class="label">主辦單位</span>
                                    <span class="output">國家教育研究院</span>
                                </li>
                            </ul>
                        </div>
                        <div class="item-media">
                            <div class="media-inner">
                                <a href="/general/events_single.html" class="btn btn-more">more <i class="fas fa-long-arrow-alt-right"></i></a>
                                <img src="https://picsum.photos/1600/900" class="item-img" alt="{圖片描述}" />
                            </div>
                        </div>
                    </div>
                    <span class="icon-plus"></span>
                </div>
            </div>

            <% (1..2).map do |i| %>
            <div class="stand-row">
                <div class="stand-item">
                    <div class="stand-item-inner">
                        <div class="item-content">
                            <h3 class="item-title"><%= lorem_sentence %></h3>
                            <ul class="menu-item item-info">
                                <li>
                                    <span class="label">活動日期</span>
                                    <span class="output">112年12月25日</span>
                                </li>
                                <li>
                                    <span class="label">主辦單位</span>
                                    <span class="output">國家教育研究院臺北院區</span>
                                </li>
                            </ul>
                        </div>
                        <div class="item-media">
                            <div class="media-inner">
                                <a href="/general/events_single.html" class="btn btn-more">more <i class="fas fa-long-arrow-alt-right"></i></a>
                                <img src="https://placehold.co/1600x900" class="item-img" alt="{圖片描述}" />
                            </div>
                        </div>
                    </div>
                    <span class="icon-plus"></span>
                </div>
                <div class="stand-item">
                    <div class="stand-item-inner">
                        <div class="item-content">
                            <h3 class="item-title"><%= lorem_sentence %></h3>
                            <ul class="menu-item item-info">
                                <li>
                                    <span class="label">活動日期</span>
                                    <span class="output">112年12月25日</span>
                                </li>
                                <li>
                                    <span class="label">主辦單位</span>
                                    <span class="output">教育部</span>
                                </li>
                            </ul>
                        </div>
                        <div class="item-media">
                            <div class="media-inner">
                                <a href="events_single.html" class="btn btn-more">more <i class="fas fa-long-arrow-alt-right"></i></a>
                                <img src="https://placehold.co/1280x720" class="item-img" alt="{圖片描述}" />
                            </div>
                        </div>
                    </div>
                    <span class="icon-plus"></span>
                </div>
            </div>
            <% end %>
        </div>

        <div class="link-control control-end">
            <a href="/general/events_list.html" class="link-more link-end" title="文章列表"><span>MORE</span></a>
        </div>
    </div>
    
</div>

<!-- 展成果 -->
<div id="achievement" class="tab-pane">

    <%= render :partial => "/partials/breadcrumb" %>
    
    <div class="reveal-stand-wrapper">

        <!-- 最少六則，保持雙數 -->
        <div class="reveal-stand-list">
            <div class="stand-row">
                <div class="stand-item">
                    <div class="stand-item-inner">
                        <div class="item-content">
                            <h3 class="item-title">聲量音創學院 1500聲量音樂祭大師講座系列-音樂創作與遊戲音樂產業的經驗分享</h3>
                            <ul class="menu-item item-info">
                                <li>
                                    <span class="label">活動日期</span>
                                    <span class="output">112年12月25日</span>
                                </li>
                                <li>
                                    <span class="label">主辦單位</span>
                                    <span class="output">教育部</span>
                                </li>
                            </ul>
                        </div>
                        <div class="item-media">
                            <div class="media-inner">
                                <a href="/general/achievement_single.html" class="btn btn-more">more <i class="fas fa-long-arrow-alt-right"></i></a>
                                <img src="https://picsum.photos/1280/720" class="item-img" alt="{圖片描述}" />
                            </div>
                        </div>
                    </div>
                    <span class="icon-plus"></span>
                </div>
                <div class="stand-item">
                    <div class="stand-item-inner">
                        <div class="item-content">
                            <h3 class="item-title">2020 年自主學習資源的發展與應用國際學術研討會</h3>
                            <ul class="menu-item item-info">
                                <li>
                                    <span class="label">活動日期</span>
                                    <span class="output">112年12月25日</span>
                                </li>
                                <li>
                                    <span class="label">主辦單位</span>
                                    <span class="output">國家教育研究院</span>
                                </li>
                            </ul>
                        </div>
                        <div class="item-media">
                            <div class="media-inner">
                                <a href="/general/achievement_single.html" class="btn btn-more">more <i class="fas fa-long-arrow-alt-right"></i></a>
                                <img src="https://picsum.photos/1600/900" class="item-img" alt="{圖片描述}" />
                            </div>
                        </div>
                    </div>
                    <span class="icon-plus"></span>
                </div>
            </div>

            <% (1..2).map do |i| %>
            <div class="stand-row">
                <div class="stand-item">
                    <div class="stand-item-inner">
                        <div class="item-content">
                            <h3 class="item-title"><%= lorem_sentence %></h3>
                            <ul class="menu-item item-info">
                                <li>
                                    <span class="label">活動日期</span>
                                    <span class="output">112年12月25日</span>
                                </li>
                                <li>
                                    <span class="label">主辦單位</span>
                                    <span class="output">國家教育研究院</span>
                                </li>
                            </ul>
                        </div>
                        <div class="item-media">
                            <div class="media-inner">
                                <a href="/general/achievement_single.html" class="btn btn-more">more <i class="fas fa-long-arrow-alt-right"></i></a>
                                <img src="https://placehold.co/1600x900" class="item-img" alt="{圖片描述}" />
                            </div>
                        </div>
                    </div>
                    <span class="icon-plus"></span>
                </div>
                <div class="stand-item">
                    <div class="stand-item-inner">
                        <div class="item-content">
                            <h3 class="item-title"><%= lorem_sentence %></h3>
                            <ul class="menu-item item-info">
                                <li>
                                    <span class="label">活動日期</span>
                                    <span class="output">112年12月25日</span>
                                </li>
                                <li>
                                    <span class="label">主辦單位</span>
                                    <span class="output">教育部</span>
                                </li>
                            </ul>
                        </div>
                        <div class="item-media">
                            <div class="media-inner">
                                <a href="/general/achievement_single.html" class="btn btn-more">more <i class="fas fa-long-arrow-alt-right"></i></a>
                                <img src="https://placehold.co/1280x720" class="item-img" alt="{圖片描述}" />
                            </div>
                        </div>
                    </div>
                    <span class="icon-plus"></span>
                </div>
            </div>
            <% end %>
        </div>

        <div class="link-control control-end">
            <a href="/general/achievement_list.html" class="link-more link-end" title="文章列表"><span>MORE</span></a>
        </div>
    </div>
    
</div>

<!-- 暢留言 -->
<div id="comments" class="tab-pane">

    <%= render :partial => "/partials/breadcrumb" %>
    
    <main class="main main-comments-list">

        <div class="list-toolbar-wrapper comments-toolbar-wrapper">
            <div class="main-container">
                <div class="list-toolbar comments-toolbar">
                    <div class="toolbar-part">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-xxxl" placeholder="關鍵字檢索" aria-label="Recipient's username" aria-describedby="button-addon2" />
                            <button class="btn btn-xxxl btn-white" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    <div class="toolbar-part comments-end">
                        
                        <!-- 尚未登入則進入登入頁面 -->
                        <a href="/general/comments_form.html" class="btn btn-xxxl btn-main">
                            <i class="fas fa-plus"></i>
                            <span>我要留言</span>
                        </a>

                        <!-- 只在登入後出現 -->
                        <div class="dropdown">
                            <button class="btn btn-xxxl btn-user dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">修改密碼</a></li>
                                <li><a class="dropdown-item" href="#">登出</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="comments-wrapper">
            <div class="main-container">

                <% (1..5).map do |i| %>
                <div class="comment-item">
                    <dl>
                        <dt>主題</dt>
                        <dd>歷年活動成果專區</dd>
                        <dt>留言時間</dt>
                        <dd>2023/07/10 19:26:32</dd>
                        <dt>問題描述</dt>
                        <dd>十二年國民基本教育健康與體育領域課程學習內容「DbIV-3 性別多樣性的了解與尊重。」與「多元性別」、 「性別多樣性」概念的異同為何？</dd>
                        <dt>回覆</dt>
                        <dd>為達成領域內科目名稱的一致性，並深化「綜合活動」學習歷程的體驗、省思、實踐、創新等統整學習，第四學習階段將九年一 貫課綱中的童軍活動、輔導活動、家政活動等科目之「活動」二字刪除，內容符合體驗、省思、創新，改稱家政、童軍、輔導，與高 中科目名稱相呼應；同時將團體活動之內涵改列入校訂課程實施，並避免與十二年國教第五學習階段之「團體活動時間」（原綜合活動科）之名稱混淆。</dd>
                    </dl>
                </div>
                <% end %>

                <div class="comment-item">
                    <dl>
                        <dt>主題</dt>
                        <dd>歷年活動成果專區</dd>
                        <dt>留言時間</dt>
                        <dd>2023/07/10 19:26:32</dd>
                        <dt>問題描述</dt>
                        <dd>留言者設定不公開</dd>
                        <dt>回覆</dt>
                        <dd><span>待回覆...</span></dd>
                    </dl>
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item"><a class="page-link" href="#">上一頁</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">下一頁</a></li>
                    </ul>
                </nav>

            </div>
        </div>

    </main>
    
</div>

<!-- 特展 -->
<div id="exhibition" class="tab-pane">

    <%= render :partial => "/partials/breadcrumb" %>
    
    <main class="main main-exhibition-list">

        <div class="exhibition-list-wrapper">

            <a href="../exhibition/theme_1.html" class="exhibition-link" title="{活動名稱}">
                <div class="item-exhibition">
                    <div class="inner-wrapper">
                        <div class="exhibition-link-cover">
                            <img src="http://picsum.photos/1600/900" class="img-cover" alt="{圖片描述}" />
                        </div>
                        <div class="item-info">
                            <h3 class="title">音樂創作與遊戲音樂產業的經驗分享</h3>
                            <ul class="menu-item info-menu">
                                <li>
                                    <span class="label">主題類別</span>
                                    <span class="output">台灣未來教育怎麼走</span>
                                </li>
                                <li>
                                    <span class="label">活動時間</span>
                                    <span class="output">
                                        <span>2023年10月15日 至</span>
                                        <span>2023年12月15日</span>
                                    </span>
                                </li>
                                <li>
                                    <span class="label">活動地點</span>
                                    <span class="output">三峽總院區實體展</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="exhibition-link" title="{活動名稱}">
                <div class="item-exhibition">
                    <div class="inner-wrapper">
                        <div class="exhibition-link-cover">
                            <img src="http://picsum.photos/800/450" class="img-cover" alt="{圖片描述}" />
                        </div>
                        <div class="item-info">
                            <h3 class="title">自主學習資源的發展與應用國際學術研討會</h3>
                            <ul class="menu-item info-menu">
                                <li>
                                    <span class="label">主題類別</span>
                                    <span class="output">台灣未來教育怎麼走</span>
                                </li>
                                <li>
                                    <span class="label">活動時間</span>
                                    <span class="output">
                                        <span>2023年10月15日 至</span>
                                        <span>2023年12月15日</span>
                                    </span>
                                </li>
                                <li>
                                    <span class="label">活動地點</span>
                                    <span class="output">三峽總院區實體展</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </a>

            <!-- 當無特展資料時才出現，javascript 寫在下方 (No Data hide&show) 請拿掉註解即可 -->
            <div class="nodata">
                <span>抱歉，暫無資料</span>
                <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" viewBox="0 0 100 100">
                    <defs>
                        <style>
                            @keyframes rotate {
                                100% {
                                    transform: rotate(360deg);
                                }
                            }
                            .out-top {
                                animation: rotate 20s linear infinite;
                                transform-origin: 13px 25px;
                            }
                            .in-top {
                                animation: rotate 10s linear infinite;
                                transform-origin: 13px 25px;
                            }
                            .out-bottom {
                                animation: rotate 25s linear infinite;
                                transform-origin: 84px 93px;
                            }
                            .in-bottom {
                                animation: rotate 15s linear infinite;
                                transform-origin: 84px 93px;

                            }
                        </style>
                    </defs>
                    <path fill="#d3c2ba" class="out-top" d="M37-5C25.1-14.7,5.7-19.1-9.2-10-28.5,1.8-32.7,31.1-19.8,49c15.5,21.5,52.6,22,67.2,2.3C59.4,35,53.7,8.5,37-5Z"/>
                    <path fill="#32657f" class="in-top" d="M20.6,4.1C11.6,1.5-1.9,2.5-8,11.2-16.3,23.1-8.2,45.6,7.4,50S42.1,38.9,41,24.5C40.2,14.1,29.4,6.6,20.6,4.1Z"/>
                    <path fill="#32657f" class="out-bottom" d="M105.9,48.6c-12.4-8.2-29.3-4.8-39.4.8-23.4,12.8-37.7,51.9-19.1,74.1s63.9,15.3,76-5.6c7.6-13.3,1.8-31.1-2.3-43.8C117.6,63.3,114.7,54.3,105.9,48.6Z"/>
                    <path fill="#d3c2ba" class="in-bottom" d="M102,67.1c-9.6-6.1-22-3.1-29.5,2-15.4,10.7-19.6,37.5-7.6,47.8s35.9,3.9,44.5-12.5C115.5,92.6,113.9,74.6,102,67.1Z"/>
                </svg>
            </div>

        </div>

    </main>
    
</div>

<!-- 關於本站 -->
<div id="about" class="tab-pane">

    <%= render :partial => "/partials/breadcrumb" %>
    
    <!-- footer 隱私權、資安、宣告等等皆可使用此樣板，標題很長的不行 -->
    <main class="main main-article">

        <div class="article-wrapper">
            <div class="main-container">
                <div class="article-head">
                    <h3 class="article-title">關於本站</h3>
                    <span class="action-wrap">
                        <ul class="menu-item action-options">
                            <li>
                                <a title="分享" class="btn-action btn-share"><i class="fas fa-share-alt"></i></a>
                                <div class="social-share">
                                    <a href="#" class="item-social" title="{連結名稱}"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#" class="item-social" title="{連結名稱}"><i class="fab fa-line"></i></a>
                                    <a href="#" class="item-social" title="{連結名稱}"><i class="fab fa-twitter"></i></a>
                                    <a href="#" class="item-social" title="{連結名稱}"><i class="fas fa-envelope"></i></a>
                                </div>
                            </li>
                            <li><a href="#" title="列印" class="btn-action"><i class="fas fa-print"></i></a></li>
                        </ul>
                    </span>
                </div>
                <article class="article-content">
                    <% (1..4).map do |i| %>
                    <p><%= lorem_paragraphs(3) %></p>
                    <% end %>
                </article>
            </div>
        </div>

    </main>
    
</div>

<!-- 網站地圖 -->
<div id="sitemap" class="tab-pane">
    
    <%= render :partial => "/partials/breadcrumb" %>

    <main class="main">

        <div class="sitemap-wrapper">

            <div class="map-info">
                <div class="main-container">
                    <p>本網站依無障礙網頁設計原則建置，網站的主要內容分為三大區塊：<br>1. 上方功能區塊、2. 中央內容區塊、3.下方功能區塊。
                    </p>
                    <p>本網站的快速鍵﹝Accesskey﹞設定如下：</p>
                    <ul class="menu-item">
                        <li>Alt+U：右上方功能區塊，包括分區連結、網站導覽、網站搜尋等。</li>
                        <li>Alt+C：中央內容區塊，為本頁主要內容區。</li>
                        <li>Alt+S：網站搜尋。</li>
                        <li>Alt+Z：下方功能區塊。</li>
                    </ul>
                    <p>如果您的瀏覽器是Firefox，快速鍵的使用方法是 Shift+Alt+(快速鍵字母)，例如 Shift+Alt+C會跳至網頁中央區塊，以此類推。</p>
                </div>
            </div>

            <div class="main-container">
                <ul class="menu-item sitemap-list">
                    <li>
                        <a href="../homepage/index_loader.html#discussion" class="h4" title="論教育">論教育</a>
                        <a href="discussion_list.html" class="h5" title="論教育列表">論教育列表</a>
                    </li>
                    <li>
                        <a href="../homepage/index_loader.html#discussion" class="h4" title="訪人物">訪人物</a>
                        <a href="interview_list.html" class="h5" title="訪人物列表">訪人物列表</a>
                    </li>
                    <li>
                        <a href="../homepage/index_loader.html#trends" class="h4" title="創趨勢">創趨勢</a>
                        <a href="trends_list.html" class="h5" title="創趨勢列表">創趨勢列表</a>
                    </li>
                    <li>
                        <a href="../homepage/index_loader.html#events" class="h4" title="尋活動">尋活動</a>
                        <a href="events_list.html" class="h5" title="尋活動列表">尋活動列表</a>
                    </li>
                    <li>
                        <a href="../homepage/index_loader.html#achievement" class="h4" title="展成果">展成果</a>
                        <a href="achievement_list.html" class="h5" title="展成果列表">展成果列表</a>
                    </li>
                    <li>
                        <a href="../homepage/index_loader.html#comments" class="h4" title="暢留言">暢留言</a>
                    </li>
                    <li>
                        <a href="../homepage/index_loader.html#exhibition" class="h4" title="特展">特展</a>
                    </li>
                    <li>
                        <a href="../homepage/index_loader.html#about" class="h4" title="關於本站">關於本站</a>
                    </li>
                </ul>
            </div>
        </div>

    </main>
    
</div>


<% content_for :js do %>

<!-- Carousel Options -->
<script>
    const carouselEtalkCaptionsElement = document.querySelector('#carouselEtalkCaptions')
    const carousel = new bootstrap.Carousel(carouselEtalkCaptionsElement, {
        interval: 9000
    })
</script>

<!-- 分享按鈕 -->
<script>
  // 取得所有帶有 .item-social 這個 CSS 類別的按鈕元素
  const buttons = document.querySelectorAll('.btn-share');

  // 針對每個按鈕設置 click 事件監聽器
  buttons.forEach((button) => {
    button.addEventListener('click', () => {
      // 切換 .active 這個 CSS 類別
      button.classList.toggle('active');
    });
  });
</script>

<!-- Stand -->
<script>
    // 獲取所有的 .stand-item 元素
    const standItems = document.querySelectorAll(".stand-item");

    // 定義點擊事件處理函式
    function handleClick(event) {
        // 如果點擊的目標是 .btn 開頭的元素，則不處理點擊事件
        if (event.target.classList.contains("btn")) {
            return;
        }

        // 獲取點擊的 .stand-item 元素
        const clickedItem = event.currentTarget;
        const standRow = clickedItem.parentElement;

        // 檢查是否已經有 .active 或 .unactive 類別
        const isActive = clickedItem.classList.contains("active");
        const isUnactive = clickedItem.classList.contains("unactive");

        // 原先 unclick 的 width 過 0.3s 後移除 width
        const unactiveItem = document.querySelector(".unactive>.stand-item-inner");
        setTimeout(() => {
            unactiveItem.style.width = "auto";
        }, 200);

        // 移除所有 .stand-item 的 .active 和 .unactive 類別
        standItems.forEach((item) => {
            item.classList.remove("active", "unactive");
        });

        if (!isActive && !isUnactive) {
            // 同一個 .stand-row 容器內其他 .stand-item 加上 .unactive 類別
            standRow.querySelectorAll(".stand-item").forEach((item) => {
                if (item !== clickedItem) {
                    item.classList.add("unactive");
                }
            });
            // 點選後才設定壓縮區塊的寬度
            updateStandItemInnerWidth();

            // 沒有 .active 和 .unactive 類別時，添加 .active 類別
            clickedItem.classList.add("active");
        }
    }

    // 為每個 .stand-item 元素添加點擊事件監聽器
    standItems.forEach((item) => {
        item.addEventListener("click", handleClick);
    });

    // 獲取所有的 .stand-item-inner 元素
    const standItemInners = document.querySelectorAll(".stand-item-inner");

    // 更新 .stand-item-inner 的寬度
    function updateStandItemInnerWidth() {
        const unactiveItem = document.querySelector(".unactive>.stand-item-inner");

        if (unactiveItem) {
            const itemContentWidth = unactiveItem.querySelector(".item-content").offsetWidth;
            const itemMediaWidth = unactiveItem.querySelector(".item-media img").offsetWidth;
            const totalWidth = itemContentWidth + itemMediaWidth;
            unactiveItem.style.width = `${totalWidth}px`;
        }
    }
    // 固定 .stand-item 高度
    function setItemHeight() {
        standItems.forEach((item) => {
            item.style.height = `auto`;
            setTimeout(() => {
                let standItemsHeight = document.querySelector(".stand-item").offsetHeight;
                item.style.height = `${standItemsHeight}px`;
            }, 3000);
        });
    }
    setItemHeight();
    window.addEventListener("resize", setItemHeight);
</script>

<!-- Hover Effect -->
<script>
document.getElementById("respondents-list").onmousemove = e => {
  for(const card of document.getElementsByClassName("respondents-item")) {
    const rect = card.getBoundingClientRect(),
          x = e.clientX - rect.left,
          y = e.clientY - rect.top;

    card.style.setProperty("--mouse-x", `${x}px`);
    card.style.setProperty("--mouse-y", `${y}px`);
  };
}
</script>

<!-- Bootstrap5 Datepicker -->
<script src="../javascripts/moment.min.js"></script>
<script src="../javascripts/bootstrap-datetimepicker.min.js"></script>
<script>
    $(".datepicker").datetimepicker({
        useCurrent: false,
        format: "DD-MMM-YYYY",
        showTodayButton: true,
        icons: {
            next: "fa fa-chevron-right",
            previous: "fa fa-chevron-left",
            today: "todayText",
        },
    });
</script>

<!-- 塞選按鈕 -->
<script>
    const filterButton = document.getElementById("filterButton");
    const toolbar = document.getElementById("list-toolbar");

    filterButton.addEventListener("click", () => {
        filterButton.classList.toggle("active");
        toolbar.classList.toggle("show");
    });
</script>

<!-- select -->
<script>
// 獲取年度選擇框和期數選擇框
const yearsSelect = document.querySelector(".years-select");
const periodWrap = document.querySelector(".period-wrap");

// 監聽年度選擇框的變化事件
yearsSelect.addEventListener("change", function () {
    // 檢查所選值
    if (yearsSelect.value !== "選擇年度") {
        // 如果選擇的值不是預設值，則顯示期數選擇框
        periodWrap.style.display = "block";
        // 啟用期數選擇框
        periodWrap.querySelector(".period-select").removeAttribute("disabled");
    } else {
        // 如果選擇的值是預設值，則隱藏期數選擇框並禁用它
        periodWrap.style.display = "none";
        periodWrap.querySelector(".period-select").setAttribute("disabled", "disabled");
    }
});
</script>

<!-- No Data hide&show -->
<!--
<script>
    // 取得展覽連結的 NodeList
    const exhibitionLinks = document.querySelectorAll('.exhibition-link');

    // 取得 no data 元素
    const noDataElement = document.querySelector('.nodata');

    // 根據展覽連結的數量來顯示或隱藏 no data 元素
    if (exhibitionLinks.length > 0) {
        noDataElement.style.display = 'none'; // 隱藏 no data
    } else {
        noDataElement.style.display = 'block'; // 顯示 no data
    }
</script>
-->

<% end %>

