<!-- template: 首頁 -->

<div class="container-lg">
	<div class="index-content">
	    <main class="main">
            <div class="page-title">
                <h3>公告</h3>
            </div>
			<div class="text-content">
			    <p><%= lorem_paragraphs(3) %></p>
				<p><%= lorem_paragraphs(3) %></p>
				<p><%= lorem_paragraphs(3) %></p>
			</div>
		</main>
		<aside class="aside">
			<div class="schedule-wrapper">
                <div class="schedule-item">
                    <h5>申請開放日期</h5>
                    <div class="date">
                        <i class="far fa-calendar-minus"></i>
                        2022-09-01 ~ 2022-11-30
                    </div>
                </div>
				<div class="schedule-item">
                    <h5>資格初審日期</h5>
                    <div class="date">
                        <i class="far fa-calendar-minus"></i>
                        2022-10-01 ~ 2022-12-31
                    </div>
                </div>
			</div>
		</aside>
	</div>
    <ul class="menu-item">
        <% (1..10).map do |i| %>
        <li><%= lorem_paragraph %></li>
        <% end %>
    </ul>
    <div class="row mb-5">
        <% (1..2).map do |i| %>
        <div class="col-6"><%= lorem_paragraph %></div>
        <% end %>
    </div>
    <div class="row mb-5">
        <% (1..2).map do |i| %>
        <div class="col-4"><%= lorem_paragraph %></div>
        <% end %>
        <div class="col-4">
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">請選擇登入身分</label>
    <div class="d-flex">
        <div class="me-2">
            <select class="form-select" aria-label="Default select example">
                <option selected>請選擇</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="flex-fill">
            <select class="form-select" aria-label="Default select example">
                <option selected>請選擇單位</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">請輸入email</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">請輸入密碼</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
    <label for="loginInput4" class="form-label">Verification code</label>
    <div class="d-flex align-items-center">
        <span class="me-1"><input type="text" class="form-control" id="loginInput4"></span>
        <span class="me-1"><img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image"></span>
        <span>
            <button class="btn btn-xs btn-outline-primary" type="button"><i class="fas fa-sync-alt"></i></button>
        </span>
    </div>
</div>
<button type="button" class="btn btn-lg btn-block btn-primary">登入</button>
<p class="my-4 text-center"><a href="#">忘記密碼？</a></p>
        </div>
    </div>
    <div class="row">
        <% (1..4).map do |i| %>
        <div class="col-3"><%= lorem_paragraph %></div>
        <% end %>
    </div>
</div>



<% content_for :js do %>

<% end %>

