<!-- template: 活動頁 -->

<div class="container-lg">
	<div class="event-content">
		<aside class="event-aside">
			<h5 class="aside-title"><span>報名資訊</span></h5>
		    <ul class="menu-item event-detail">
				<li>
				    <span class="label">活動地點</span>
					<span class="info">
						<i class="fas fa-map-marker-alt"></i>
						No. 1, Sec. 2, Da Hsueh Rd., Shoufeng, Hualien 974301, Taiwan, R.O.C.
					</span>
				</li>
				<li>
				    <span class="label">報名截止日</span>
					<span class="info">
						<i class="fas fa-calendar-minus"></i>
						2022-10-01
					</span>
				</li>
				<li>
				    <span class="label">活動開始日</span>
					<span class="info">
						<i class="fas fa-calendar-check"></i>
						2022-10-15
					</span>
				</li>
				<li>
				    <span class="label">活動結束日</span>
					<span class="info">
						<i class="fas fa-calendar-times"></i>
						2022-11-30
					</span>
				</li>
				<li>
				    <span class="label">聯絡人</span>
					<span class="info">
						<i class="fas fa-user"></i>
						Steven Spielberg
					</span>
				</li>
				<li>
				    <span class="label">聯絡信箱</span>
					<span class="info">
						<i class="fas fa-envelope"></i>
						getbootstrap@gmail.com
					</span>
				</li>
				<li>
				    <span class="label">電話</span>
					<span class="info">
						<i class="fas fa-phone-alt"></i>
						02-12345678#123
					</span>
				</li>
			</ul>
		</aside>
		<main class="event-main">
            <div class="event-description">
                <h2>h2 title 標題</h3>
                <h3>h3 title 標題加一般段落</h3>
                <p><%= zh_lorem_paragraphs(5) %></p>

                <h3>UL 列表</h3>
                <ul>
                    <li><%= zh_lorem_sentence %></li>
                    <li><%= zh_lorem_sentence %></li>
                    <li><%= zh_lorem_sentence %></li>
                </ul>

                <h3>OL 列表</h3>
                <ol>
                    <li><%= zh_lorem_sentence %></li>
                    <li><%= zh_lorem_sentence %></li>
                    <li><%= zh_lorem_sentence %></li>
                </ol>

                <h3>大圖加段落</h3>
                <p>文章內圖片因應 rwd 會自動 100% 寬，當螢幕寬度變化時才能自動縮放，除非設定如下方示範的文繞圖，在外層容器加上 <code>.text-runaround</code> 或 <code>.text-runaround .right</code></p>
                <img src="../assets/fake/03.jpg" alt="測試" title="測試">
                <p><%= zh_lorem_paragraphs(5) %></p>

                <p><%= zh_lorem_paragraphs(5) %></p>

                <div class="text-runaround">
                    <h3>文繞圖置左</h3>
                    <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                    <p><%= zh_lorem_paragraphs(10) %></p>
                </div>

                <div class="text-runaround right">
                    <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                    <p><%= zh_lorem_paragraphs(10) %></p>
                </div>

                <h3>關於 table</h3>
                <p>文章內所有 table 須加上 <code>.table</code>，特性為寬度 100% 以及基本樣式，更多樣式可參考 <a href="https://mdbootstrap.com/docs/jquery/tables/basic/">MDBootstrap</a>，另外所有 table 需在外層包一層 <code>.table-responsive</code>，可設定系統自動生或使用者自行 coding</p>

                <h3>表格</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <% 5.times do %>
                                <th>測試用表格</th>
                                <% end %>
                            </tr>
                        </thead>
                        <tbody>
                            <% 5.times do %>
                            <tr>
                                <% 5.times do %>
                                <td><%= zh_lorem_sentence %></td>
                                <% end %>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>

                <h3>表格內容不斷行</h3>
                <p>容器加上 <code>.text-nowrap</code>，或等 991px 時自動導入樣式。</p>
                <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <% 5.times do %>
                                <th>測試用表格</th>
                                <% end %>
                            </tr>
                        </thead>
                        <tbody>
                            <% 5.times do %>
                            <tr>
                                <% 5.times do %>
                                <td><%= zh_lorem_sentence %></td>
                                <% end %>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <div class="photo-gallery">
                    <h3>多圖並列</h3>
                    <div class="img-group">
                        <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                        <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                        <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                        <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                        <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                    </div>
                    <p>圖片固定為三張一列，不足的右邊會被空出來，使用者上傳的照片長寬比例必須一致，請在後台標註讓使用者知道這點，否則排列有可能會爛掉。</p>
                </div>

                <div class="photo-gallery upright">
                    <h3>直立多圖並列</h3>
                    <div class="img-group">
                        <img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
                        <img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
                        <img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
                        <img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
                        <img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
                    </div>
                    <p>圖片固定為四張一列，不足的右邊會被空出來，使用者上傳的照片長寬比例必須一致，請在後台標註讓使用者知道這點，否則排列有可能會爛掉。</p>
                </div>
            </div>
		</main>
	</div>
</div>



<% content_for :js do %>

<% end %>
