<!-- admin-page: 前端 - 徵案網頁瀏覽 -->

<div class="page">
    <div class="page-inner">
        <div class="page-wrapper">
            <header class="header">
                <img class="img-fluid" src="../assets/logo_stpi.png">
            </header>
            <div class="content-wrapper">
                <section class="element-section section-title">
                    <h1><%= lorem_sentence %></h1>
                </section>
                <section class="element-section section-cover">
                    <img class="img-fluid" src="https://placehold.co/1600x900">
                </section>
                <section class="element-section section-info">
                    <ul class="info-menu menu-item">
                        <li class="calendar">
                            <span class="label">活動期間</span>
                            <span class="info">2023 年 09 月 15 日 至 <span>2023 年 12 月 15 日</span></span>
                        </li>
                        <li class="school">
                            <span class="label">學校</span>
                            <span class="info">清華大學</span>
                        </li>
                        <li class="organization">
                            <span class="label">合作機構</span>
                            <span class="info">金百利克拉克公司</span>
                        </li>
                    </ul>
                </section>
                <section class="element-section section-copywriting">
                    <h3><%= lorem_sentence %></h3>
                    <p><%= lorem_paragraph %></p>
                    <p><%= lorem_paragraphs(2) %></p>
                    <h4><%= lorem_sentence %></h4>
                    <p><%= lorem_paragraph %></p>
                    <p><%= lorem_paragraph %></p>
                </section>
                <div class="bottom-action">
                    <span class="submit-time"><span>送出時間 YYYY-MM-DD HH:mm</span></span>
                    <!-- span><button type="button" class="btn btn-dark">修改調查表內容</button></span -->
                    <!-- span><button type="button" class="btn btn-danger">不願意參加</button></span -->
                    <span><button type="button" class="btn btn-primary">我想參加</button></span>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-inner">
                <ul class="menu-item">
                    <li>106214 臺北市大安區和平東路二段106號3樓 <a class="ps-1" href="#"><i class="fas fa-map-marker-alt"></i></a></li>
                    <li>電話：02-2737-8000</li>
                    <li>傳真：02-2737-8044</li>
                    <li>E-mail：service@narlabs.org.tw</li>
                </ul>
                <address>Copyright © 2023 財團法人國家實驗研究院版權所有</address>
            </div>
        </footer>
    </div>
</div>
<% content_for :js do %>

<% end %>