<!-- template: 出國: 學生 - 申請文件電子檔上傳 -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <%= render :partial => "/partials/header-outgoing" %>
        
        <div class="content">
            <div class="container-lg">
                <div class="page-content has-sticky">
                    
                    <%= render :partial => "/partials/outgoing-app-sidebar" %>
                    
                    <main class="main">
                        
                        <!-- 當 section 上方沒有其他內容時，只有第一筆需要給 .mt-0 -->
                        <section class="section mt-0">
                            <div class="section-title">
                                <h4>申請文件電子檔上傳</h4>
                            </div>
                            
                            <div class="upload-wrapper fluid-wrapper">
                                <!-- 檔案上傳後多出 .file-pill，當再次上傳時則覆蓋上一筆，點選檔名另開視窗觀看文件 -->
                                
                                <% (1..3).map do |i| %>
                                <div class="upload-item">
                                    <h4><%= zh_lorem_words(4) %></h4>
                                    <p><%= zh_lorem_paragraph %></p>
                                    <p class="form-text">檔案格式限制：pdf，檔案大小限制：10mb</p>
                                    <div class="form-group">
                                          <input class="form-control" type="file" id="photoFile">
                                    </div>
                                    <div class="ft-action">
                                        <span>
                                            <button type="button" class="btn btn-secondary">上傳</button>
                                        </span>
                                        <span>
                                            <div class="file-pill">
                                                <!-- 避免檔名過長有限制最大寬度 140px，超出時會字元會省略，但切記標籤加上 title -->
                                                <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg">避免檔名過長有限制最大寬度.jpg</a>
                                                <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <% end %>
                            </div>
                        </section>
                        
                        <section class="section">
                            <div class="section-title">
                                <h4>語文能力證明</h4>
                            </div>
                            
                            <div class="upload-wrapper fluid-wrapper">
                                <!-- 檔案上傳後多出 .file-pill，當再次上傳時則覆蓋上一筆，點選檔名另開視窗觀看文件 -->
                                
                                <% (1..2).map do |i| %>
                                <div class="upload-item">
                                    <h4><%= lorem_words(4) %></h4>
                                    <p><%= zh_lorem_sentence %></p>
                                    <p class="form-text">檔案格式限制：pdf，檔案大小限制：10mb</p>
                                    <div class="form-group">
                                          <input class="form-control" type="file" id="photoFile">
                                    </div>
                                    <div class="ft-action">
                                        <span>
                                            <button type="button" class="btn btn-secondary">上傳</button>
                                        </span>
                                        <span>
                                            <div class="file-pill">
                                                <!-- 避免檔名過長有限制最大寬度 140px，超出時會字元會省略，但切記標籤加上 title -->
                                                <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg">避免檔名過長有限制最大寬度.jpg</a>
                                                <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <% end %>
                            </div>
                        </section>
                        
                        <section class="section">
                            <div class="section-title">
                                <h4>姊妹校額外要求文件</h4>
                            </div>
                            
                            <div class="upload-wrapper fluid-wrapper">
                                <!-- 檔案上傳後多出 .file-pill，當再次上傳時則覆蓋上一筆，點選檔名另開視窗觀看文件 -->
                                
                                <% (1..2).map do |i| %>
                                <div class="upload-item">
                                    <h4><%= lorem_words(4) %></h4>
                                    <p><%= lorem_sentence %></p>
                                    <p class="form-text">檔案格式限制：pdf，檔案大小限制：10mb</p>
                                    <div class="form-group">
                                          <input class="form-control" type="file" id="photoFile">
                                    </div>
                                    <div class="ft-action">
                                        <span>
                                            <button type="button" class="btn btn-secondary">上傳</button>
                                        </span>
                                        <span>
                                            <div class="file-pill">
                                                <!-- 避免檔名過長有限制最大寬度 140px，超出時會字元會省略，但切記標籤加上 title -->
                                                <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg">避免檔名過長有限制最大寬度.jpg</a>
                                                <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <% end %>
                            </div>
                        </section>
                        
                        <section class="section">
                            <div class="section-title">
                                <h4>其他</h4>
                            </div>
                            
                            <div class="upload-wrapper fluid-wrapper">
                                <!-- 檔案上傳後多出 .file-pill，當再次上傳時則覆蓋上一筆，點選檔名另開視窗觀看文件 -->
                                
                                <% (1..3).map do |i| %>
                                <div class="upload-item">
                                    <h4><%= lorem_words(4) %></h4>
                                    <p><%= lorem_sentence %></p>
                                    <p class="form-text">檔案格式限制：pdf，檔案大小限制：10mb</p>
                                    <div class="form-group">
                                          <input class="form-control" type="file" id="photoFile">
                                    </div>
                                    <div class="ft-action">
                                        <span>
                                            <button type="button" class="btn btn-secondary">上傳</button>
                                        </span>
                                        <span>
                                            <div class="file-pill">
                                                <!-- 避免檔名過長有限制最大寬度 140px，超出時會字元會省略，但切記標籤加上 title -->
                                                <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg">避免檔名過長有限制最大寬度.jpg</a>
                                                <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <% end %>
                            </div>
                        </section>
                        
                        <section class="section">
                            <div class="section-title">
                                <h4>申請費繳費收據</h4>
                            </div>
                            
                            <div class="bg-light p-3 mb-4">
                                <p>請執行【列印】下載繳費單，並完成繳費後上傳系統</p>
                                <button type="button" class="btn btn-outline-primary btn-rounded"><i class="fas fa-print"></i> 列印</button>
                            </div>
                            
                            <div class="upload-wrapper fluid-wrapper">
                                <!-- 檔案上傳後多出 .file-pill，當再次上傳時則覆蓋上一筆，點選檔名另開視窗觀看文件 -->
                                
                                <div class="upload-item">
                                    <h4>申請費繳費單收據上傳</h4>
                                    <p><%= lorem_sentence %></p>
                                    <p class="form-text">檔案格式限制：pdf，檔案大小限制：10mb</p>
                                    <div class="form-group">
                                          <input class="form-control" type="file" id="photoFile">
                                    </div>
                                    <div class="ft-action">
                                        <span>
                                            <button type="button" class="btn btn-secondary">上傳</button>
                                        </span>
                                        <span>
                                            <div class="file-pill">
                                                <!-- 避免檔名過長有限制最大寬度 140px，超出時會字元會省略，但切記標籤加上 title -->
                                                <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg">避免檔名過長有限制最大寬度.jpg</a>
                                                <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            </div>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </section>
                        
                        <div class="form-action">
                            <span class="backhome"><button type="button" class="btn btn-lg btn-light"><i class="fas fa-chevron-left"></i> 上一步</button></span>
                            <button type="submit" class="btn btn-lg btn-primary">儲存</button>
                            <button type="submit" class="btn btn-lg btn-dark">預覽送出申請</button>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>

<% end %>
