<!-- template: 出國: 學生 - 瀏覽申請紀錄 -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <%= render :partial => "/partials/header-outgoing" %>
        
        <div class="content">
            <div class="container-lg">
                <div class="page-content has-sticky">
                    
                    <%= render :partial => "/partials/outgoing-result-sidebar" %>
                    
                    <!-- 多一個 .application-review -->
                    <main class="main application-review">
                        <div class="page-title">
                            <h3>瀏覽申請紀錄</h3>
                        </div>
                        
                        
                        <!-- review html 架構與原始版面稍有不同，請注意註解 -->
                        <section class="section">
                            <div class="section-title">
                                <h4>個人資料</h4>
                            </div>
                            
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">中文姓名</label>
                                        <input class="form-control" type="text" value="妮可基嫚" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">英文姓</label>
                                        <input class="form-control" type="text" value="Kidman" disabled readonly>
                                        <div class="form-text">與護照相同</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">英文名</label>
                                        <input class="form-control" type="text" value="Nicole" disabled readonly>
                                        <div class="form-text">與護照相同</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">生日</label>
                                        <input class="form-control" type="text" value="2006/01/01" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">國籍</label>
                                        <input class="form-control" type="text" value="阿爾及利亞民主人民共和國" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">性別</label>
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="msMale" value="option1" checked disabled>
                                                <label class="form-check-label" for="msMale">男</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="ms-wrapper">
                                        <div class="form-group">
                                            <label class="form-label">兵役狀態</label>
                                            <div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions002" id="inlineRadio2" value="option2" checked disabled>
                                                    <label class="form-check-label" for="inlineRadio2">役畢</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">雙重國籍</label>
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions003" id="inlineRadio1" value="option1" checked disabled>
                                                <label class="form-check-label" for="inlineRadio1">否</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">NTU信箱</label>
                                        <input class="form-control" type="email" value="N12345@ntu.edu.tw" disabled readonly>
                                    </div>
                                </div>
                                
                                <!-- 輸入備用信箱後認證 js 不會寫，麻煩工程師協助 -->
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="outgoingInput01" class="form-label">備用信箱</label>
                                        <input class="form-control" type="email" value="N12345@ntu.edu.tw" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">備用信箱認證</label>
                                        <input class="form-control" type="text" value="已完成認證 2024/09/30 08:00" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="" class="form-label">手機號碼</label>
                                        <input class="form-control" type="text" value="1234567890" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">中、低收入戶</label>
                                        <div class="mt-1">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineOptions005" id="inlineRadio2" value="option2" checked disabled>
                                                <label class="form-check-label" for="inlineRadio2">是</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="form-group">
                                        <label class="form-label">住家地址</label>
                                        <div class="row">
                                            <div class="col-3">
                                                <input class="form-control" type="text" value="100" disabled readonly>
                                            </div>
                                            <div class="col-9">
                                                <input class="form-control" type="text" value="台北市中正區重慶南路一段122號" disabled readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">住家電話</label>
                                        <div class="row">
                                            <div class="col-4">
                                                <input class="form-control" type="text" value="02" disabled readonly>
                                            </div>
                                            <div class="col-8">
                                                <input class="form-control" type="text" value="23113731" disabled readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">戶籍地址</label>
                                        <div class="mb-2 form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1" checked disabled/>
                                            <label class="form-check-label" for="exampleCheck1">與住家地址相同</label>
                                        </div>
                                        <div class="row">
                                            <div class="col-2">
                                                <input class="form-control" type="text" value="100" disabled readonly>
                                            </div>
                                            <div class="col-10">
                                                <input class="form-control" type="text" value="台北市中正區重慶南路一段122號" disabled readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">緊急連絡人</label>
                                        <div class="row">
                                            <div class="col-6">
                                                <input class="form-control" type="text" value="湯姆克魯斯" disabled readonly>
                                            </div>
                                            <div class="col-6">
                                                <input class="form-control" type="text" value="前夫" disabled readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">緊急連絡人電話</label>
                                        <div class="row">
                                            <div class="col-4">
                                                <input class="form-control" type="text" value="02" disabled readonly>
                                            </div>
                                            <div class="col-8">
                                                <input class="form-control" type="text" value="23113731" disabled readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">緊急連絡人手機</label>
                                        <input class="form-control" type="text" value="0123456789" disabled readonly>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        <section class="section">
                            <div class="section-title">
                                <h4>在學資料</h4>
                            </div>
                            
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <label class="form-label">學號</label>
                                        <input class="form-control" type="text" value="B10412033" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label class="form-label">學位</label>
                                        <input class="form-control" type="text" value="學士" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">系所</label>
                                        <input class="form-control" type="text" value="衛生福利部暨國立臺灣大學傳染病防治研究及教育中心" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label class="form-label">年級</label>
                                        <input class="form-control" type="text" value="大一" disabled readonly>
                                    </div>
                                </div>
                                
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="" class="form-label">大學就讀學校</label>
                                        <input class="form-control" type="text" value="<%= lorem_words(4) %>" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="" class="form-label">大學就讀學校系所</label>
                                        <input class="form-control" type="text" value="<%= lorem_words(4) %>" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">是否可接受交換校只提供學士課程?</label>
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="outgoingRadio008" id="outgoingR01" value="option1" disabled checked>
                                                <label class="form-check-label" for="outgoingR01">否</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- 題目整組結構抽出 -->
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">是否為轉系生</label>
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="outgoingRadio02" id="transmigrationNo" value="option1" disabled checked>
                                                <label class="form-check-label" for="transmigrationNo">否</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8"></div>
                            </div>
                            
                            <!-- 題目整組結構抽出 -->
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">是否為延修生</label>
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="outgoingRadio03" id="extensionYes" value="option2" disabled checked>
                                                <label class="form-check-label" for="extensionYes">是</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="extension-wrapper">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="" class="form-label">雙修系所</label>
                                                    <input class="form-control" type="text" value="<%= lorem_words(4) %>" disabled readonly>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="" class="form-label">輔系系所</label>
                                                    <input class="form-control" type="text" value="<%= lorem_words(4) %>" disabled readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">已修過幾門管院英語授課課程</label>
                                        <input class="form-control" type="text" value="100" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">參加過幾次管院 Buddy program</label>
                                        <input class="form-control" type="text" value="100" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">全職工作經驗幾年</label>
                                        <input class="form-control" type="text" value="100 年" disabled readonly>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        <section class="section">
                            <div class="section-title">
                                <h4>獎學金</h4>
                            </div>
                            <div class="form-group">
                                <label class="form-label">是否有意願申請出國獎學金</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="outgoingRadio04" id="outgoingR07" value="option1" disabled checked>
                                        <label class="form-check-label" for="outgoingR07">是</label>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        <section class="section">
                            <div class="section-title">
                                <h4>上一學年成績</h4>
                            </div>
                            <p><span class="fw-bold">班級人數</span> 與 <span class="fw-bold">全班排名百分比%</span> 碩士生為非必填。</p>
                            
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="form-label">學年</label>
                                        <input class="form-control" type="text" value="113" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="" class="form-label">名次排名</label>
                                        <input class="form-control" type="text" value="100" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="" class="form-label">班級人數</label>
                                        <input class="form-control" type="text" value="100" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="form-label">全班排名百分比%</label>
                                        <input class="form-control" type="text" value="100" disabled readonly>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        <section class="section">
                            <div class="section-title">
                                <h4>各學期 GPA 成績</h4>
                            </div>
                            <p>若無碩士成績，GPA請填寫大學總成績</p>
                            <div class="gpa-history-wrapper">
                                <ul class="menu-item">
                                    <li>
                                        <div class="me-3">
                                            <label class="form-label">學年期別</label>
                                            <input class="form-control" type="text" value="2" disabled readonly>
                                        </div>
                                        <div>
                                            <label for="exInput03" class="form-label">GPA</label>
                                            <input class="form-control" type="text" value="100" disabled readonly>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="me-3">
                                            <label class="form-label">學年期別</label>
                                            <input class="form-control" type="text" value="2" disabled readonly>
                                        </div>
                                        <div>
                                            <label for="exInput03" class="form-label">GPA</label>
                                            <input class="form-control" type="text" value="100" disabled readonly>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="d-flex">
                                <div class="pe-3">
                                    <div class="form-group">
                                        <label class="form-label">歷年平均 GPA</label>
                                        <input class="form-control" type="text" value="999" disabled readonly>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group">
                                        <label for="exInput04" class="form-label">歷年成績有幾個不及格科目</label>
                                        <input class="form-control" type="text" value="99" disabled readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">學士學位與哪些領域相關</label>
                                <div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault3" disabled checked/>
                                        <label class="form-check-label" for="radioDefault3">
                                            以上皆非
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        <section class="section">
                            <div class="section-title">
                                <h4>中文語文能力</h4>
                            </div>
                            <div class="form-group pt-2">
                                <div class="d-flex">
                                    <span class="fw-bold pe-5 ps-1">聽：</span>
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chtOptions" id="chtRadio1" value="option1" disabled checked />
                                            <label class="form-check-label" for="chtRadio1">精通</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="d-flex">
                                    <span class="fw-bold pe-5 ps-1">說：</span>
                                    <div class="">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chtOptions2" id="chtRadio8" value="option4" disabled checked />
                                            <label class="form-check-label" for="chtRadio8">無法溝通</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="d-flex">
                                    <span class="fw-bold pe-5 ps-1">讀：</span>
                                    <div class="">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chtOptions3" id="chtRadio9" value="option1" disabled checked />
                                            <label class="form-check-label" for="chtRadio9">精通</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="d-flex">
                                    <span class="fw-bold pe-5 ps-1">寫：</span>
                                    <div class="">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chtOptions4" id="chtRadio13" value="option1" disabled checked />
                                            <label class="form-check-label" for="chtRadio13">精通</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        <section class="section">
                            <div class="section-title">
                                <h4>語文能力證明</h4>
                            </div>

                            <div class="form-group mb-5">
                                <div class="d-flex">
                                    <div class="pt-2">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="lanCheckbox1" value="option1" disabled checked />
                                            <label class="form-check-label" for="lanCheckbox1">英語</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="lanCheckbox2" value="option2" checked disabled />
                                            <label class="form-check-label" for="lanCheckbox2">日語</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="prove-wrapper">
                                <h5 class="fw-bold"><span>英語能力證明</span></h5>
                                <div class="mb-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="enToelfProve" checked disabled />
                                        <label class="form-check-label fw-bold" for="enToelfProve">TOEFL iBT</label>
                                    </div>
                                    <div class="entoelf-wrapper pb-4">
                                        <div class="five-col mt-2">
                                            <div class="form-group">
                                                <label for="" class="form-label">讀</label>
                                                <input class="form-control" type="text" value="100" disabled readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="form-label">聽</label>
                                                <input class="form-control" type="text" value="100" disabled readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="form-label">說</label>
                                                <input class="form-control" type="text" value="100" disabled readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="form-label">寫</label>
                                                <input class="form-control" type="text" value="100" disabled readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="enInput05" class="form-label">總分</label>
                                                <input type="text" id="enInput05" class="form-control" value="100" disabled readonly>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="form-label">測試日期</label>
                                                    <div class="d-flex">
                                                        <div class="flex-grow-1 me-2">
                                                            <input class="form-control" type="text" value="2022" disabled readonly>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <input class="form-control" type="text" value="12" disabled readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="form-label">是否為 Home Edition</label>
                                                    <div class="mt-1">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="heRadio" id="heYes" value="option1" checked disabled>
                                                            <label class="form-check-label" for="heYes">是</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-secondary">不得填入 My Best Scores，相關介紹請參考美國 <a href="#">ETS 官網</a></div>
                                    </div>
                                </div>
                                
                                <div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="enIeltsProve" checked disabled />
                                        <label class="form-check-label fw-bold" for="enIeltsProve">IELTS (Academic)</label>
                                    </div>
                                    <div class="enIelts-wrapper pb-4">
                                        <div class="five-col mt-2">
                                            <div class="form-group">
                                                <label for="" class="form-label">讀</label>
                                                <input class="form-control" type="text" value="100" disabled readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="form-label">聽</label>
                                                <input class="form-control" type="text" value="100" disabled readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="form-label">說</label>
                                                <input class="form-control" type="text" value="100" disabled readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="form-label">寫</label>
                                                <input class="form-control" type="text" value="100" disabled readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="form-label">總分</label>
                                                <input type="text" id="enInput10" class="form-control" value="100" disabled readonly>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group mb-0">
                                                    <label class="form-label">測試日期</label>
                                                    <div class="d-flex">
                                                        <div class="flex-grow-1 me-2">
                                                            <input class="form-control" type="text" value="2022" disabled readonly>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <input class="form-control" type="text" value="08" disabled readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="prove-wrapper">
                                <h5 class="fw-bold"><span>日語能力證明</span></h5>
                                <div class="row">
                                    <div class="col-8">
                                        <div>
                                            <label class="form-label">通過日語檢定</label>
                                            <input class="form-control" type="text" value="3" disabled readonly>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div>
                                            <label class="form-label">測試日期</label>
                                            <div class="d-flex">
                                                <div class="flex-grow-1 me-2">
                                                    <input class="form-control" type="text" value="2022" disabled readonly>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <input class="form-control" type="text" value="12" disabled readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="prove-wrapper">
                                <h5 class="fw-bold"><span>其他</span></h5>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1" checked disabled />
                                    <label class="form-check-label" for="exampleCheck1">學士或碩士學位於英語系國家取得者，得免附英語能力證明</label>
                                </div>
                            </div>
                        </section>
                        
                        <section class="section">
                            <div class="section-title">
                                <h4>線上選填志願</h4>
                            </div>
                            
                            <div class="optional-wrapper optional-review">
                                <div class="optional-item optional-head">
                                    <div class="item-order">志願序</div>
                                    <div class="item-nation">國家</div>
                                    <div class="item-school">學校</div>
                                    <div class="item-semester">交換學期</div>
                                </div>
                                <div class="optional-dragarea">
                                    <% (1..10).map do |i| %>
                                    <div class="optional-item">
                                        <div class="item-order">
                                            <span><%= i %></span>
                                        </div>
                                        <div class="item-nation">
                                            <input class="form-control" type="text" value="<%= lorem_words(5) %>" disabled readonly>
                                        </div>
                                        <div class="item-school">
                                            <input class="form-control" type="text" value="<%= lorem_words(5) %>" disabled readonly>
                                        </div>
                                        <div class="item-semester">
                                            <input class="form-control" type="text" value="2" disabled readonly>
                                        </div>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                        </section>
                        
                        <section class="section">
                            <div class="section-title">
                                <h4>申請文件電子檔上傳</h4>
                            </div>
                            
                            <div class="upload-wrapper fluid-wrapper">

                                <% (1..3).map do |i| %>
                                <div class="upload-item">
                                    <h4><%= zh_lorem_words(4) %></h4>
                                    <p><%= zh_lorem_paragraph %></p>
                                    <a href="#" class="btn btn-link"><%= lorem_word %>_<%= lorem_word %>_<%= lorem_word %>.pdf</a>
                                </div>
                                <% end %>
                            </div>
                        </section>
                        
                        <section class="section">
                            <div class="section-title">
                                <h4>語文能力證明</h4>
                            </div>
                            
                            <div class="upload-wrapper fluid-wrapper">
                                <% (1..2).map do |i| %>
                                <div class="upload-item">
                                    <h4><%= lorem_words(4) %></h4>
                                    <p><%= zh_lorem_sentence %></p>
                                    <a href="#" class="btn btn-link"><%= lorem_word %>_<%= lorem_word %>_<%= lorem_word %>.pdf</a>
                                </div>
                                <% end %>
                            </div>
                        </section>
                        
                        <section class="section">
                            <div class="section-title">
                                <h4>姊妹校額外要求文件</h4>
                            </div>
                            
                            <div class="upload-wrapper fluid-wrapper">
                                <% (1..2).map do |i| %>
                                <div class="upload-item">
                                    <h4><%= lorem_words(4) %></h4>
                                    <p><%= lorem_sentence %></p>
                                    <a href="#" class="btn btn-link"><%= lorem_word %>_<%= lorem_word %>_<%= lorem_word %>.pdf</a>
                                </div>
                                <% end %>
                            </div>
                        </section>
                        
                        <section class="section">
                            <div class="section-title">
                                <h4>其他</h4>
                            </div>
                            
                            <div class="upload-wrapper fluid-wrapper">
                                <% (1..3).map do |i| %>
                                <div class="upload-item">
                                    <h4><%= lorem_words(4) %></h4>
                                    <p><%= lorem_sentence %></p>
                                    <a href="#" class="btn btn-link"><%= lorem_word %>_<%= lorem_word %>_<%= lorem_word %>.pdf</a>
                                </div>
                                <% end %>
                            </div>
                        </section>
                        
                        <section class="section">
                            <div class="section-title">
                                <h4>申請費繳費收據</h4>
                            </div>
                            
                            <div class="upload-wrapper fluid-wrapper">
                                
                                <div class="upload-item">
                                    <h4>申請費繳費單收據上傳</h4>
                                    <p><%= lorem_sentence %></p>
                                    <a href="#" class="btn btn-link"><%= lorem_word %>_<%= lorem_word %>_<%= lorem_word %>.pdf</a>
                                </div>

                            </div>
                        </section>

                    </main>
                </div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>

<% end %>
