<!-- template: 出國: 學生 - 回國資料上傳 -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <%= render :partial => "/partials/header-outgoing" %>
        
        <div class="content">
            <div class="container-lg">
                <div class="page-content has-sticky">
                    
                    <%= render :partial => "/partials/outgoing-result-sidebar" %>
                    
                    <main class="main">
                        <div class="page-title">
                            <h3>回國資料上傳</h3>
                        </div>
                        
                        <div class="upload-wrapper fluid-wrapper">
                            <div class="upload-item">
                                <h4>心得</h4>
                                <p><%= zh_lorem_paragraph %></p>
                                <p class="form-text">檔案格式限制：pdf，檔案大小限制：10mb</p>
                                <div class="ft-action">
                                    <span>
                                        <div class="file-pill ms-0">
                                            <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg">避免檔名過長有限制最大寬度.jpg</a>
                                            <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除">
                                                <i class="fas fa-times"></i>
                                            </button>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            
                            <div class="upload-item">
                                <h4>成績單</h4>
                                <p><%= zh_lorem_paragraph %></p>
                                <p class="form-text">檔案格式限制：pdf，檔案大小限制：10mb</p>
                                <div class="ft-action">
                                    <span>
                                        <div class="file-pill ms-0">
                                            <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg">避免檔名過長有限制最大寬度.jpg</a>
                                            <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除">
                                                <i class="fas fa-times"></i>
                                            </button>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                        <!-- 非役男拿掉以下 section -->
                        <section class="section">
                            <div class="section-title">
                                <h4>請學院承辦人簽署文件上傳</h4>
                            </div>
                            <div class="form-group">
                                <label for="outgoingInput11" class="form-label">需求說明</label>
                                <input id="outgoingInput11" class="form-control" type="text">
                                <div class="form-text">限制 80 中文字</div>
                            </div>
                            <div class="upload-wrapper fluid-wrapper">
                                <div class="upload-item">
                                    <h4>上傳掃描檔案</h4>
                                    <p class="form-text">檔案格式限制：pdf，檔案大小限制：10mb</p>
                                    <div class="ft-action">
                                        <span>
                                            <div class="file-pill ms-0">
                                                <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg">避免檔名過長有限制最大寬度.jpg</a>
                                                <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        <div class="form-action">
                            <button type="submit" class="btn btn-lg btn-primary">錄取資格確認</button>
                        </div>
                        
                    </main>
                </div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>

<% end %>

