<!-- template: 申請紀錄 -->

<div class="container-lg">
    <div class="page-content d-block">
        
        <div class="gambit-wrapper">
            <div class="inner">
                <a href="#" class="btn btn-lg btn-rounded btn-primary">開始申請</a>
                <a href="#" class="btn btn-lg btn-link">
                    <span class="circle"><i class="fas fa-arrow-down"></i></span>
                    <span>操作手冊下載</span>
                </a>
            </div>
        </div>
        
        <div>
			<div class="page-title">
			    <h3>申請紀錄瀏覽</h3>
			</div>
            <div class="d-flex align-items-center flex-wrap mb-3">
                <div class="mb-2 me-2">
                    <select class="form-select" aria-label="Default select example">
                        <option value="2023">2023</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="mb-2 me-2">
                    <select class="form-select" aria-label="Default select example">
                        <option value="2023">已申請及已取消</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="mb-2 me-2">
                    <div class="input-group">
                        <input type="text" class="form-control" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" data-bs-toggle="tooltip" data-bs-title="申請序號、使用單位、財物使用人、聯絡人"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            
            <div class="table-responsive">
                <table class="table table-striped align-middle">
                    <thead class="keep-all">
                        <tr>
                            <th></th>
                            <th>申請序號</th>
                            <th>狀態</th>
                            <th>使用單位</th>
                            <th>聯絡人<br>連絡電話</th>
                            <th>使用人</th>
                            <th>備註</th>
                            <th class="text-end">取消、補件、修改</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="#" class="btn btn-dark btn-rounded">瀏覽</a>
                            </td>
                            <td>YYYY00001</td>
                            <td>待處理</td>
                            <td>生物環境系統工程學系</td>
                            <td>
                                <span class="d-block"><%= zh_lorem_name %></span>
                                <span class="d-block">0285555166</span>
                            </td>
                            <td><%= zh_lorem_name %></td>
                            <td></td>
                            <td class="text-end">
                                <a href="#" class="btn btn-outline-secondary">修改</a>
                                <a href="#" class="btn btn-outline-danger">取消</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="btn btn-dark btn-rounded">瀏覽</a>
                            </td>
                            <td>YYYY00002</td>
                            <td>補件</td>
                            <td>生物環境系統工程學系</td>
                            <td>
                                <span class="d-block"><%= zh_lorem_name %></span>
                                <span class="d-block">0285555166</span>
                            </td>
                            <td><%= zh_lorem_name %> 等 99999 人</td>
                            <td></td>
                            <td class="text-end">
                                <a href="#" class="btn btn-outline-secondary">上傳補件資料</a>
                                <a href="#" class="btn btn-outline-danger">取消</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="btn btn-dark btn-rounded">瀏覽</a>
                            </td>
                            <td>YYYY00003</td>
                            <td>更換單據</td>
                            <td>生物環境系統工程學系</td>
                            <td>
                                <span class="d-block"><%= zh_lorem_name %></span>
                                <span class="d-block">0285555166</span>
                            </td>
                            <td><%= zh_lorem_name %></td>
                            <td><%= lorem_sentence %></td>
                            <td class="text-end">
                                <a href="#" class="btn btn-outline-secondary">上傳更換單據</a>
                                <a href="#" class="btn btn-outline-danger">取消</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="btn btn-dark btn-rounded">瀏覽</a>
                            </td>
                            <td>YYYY00004</td>
                            <td>更正單位或使用人</td>
                            <td>生物環境系統工程學系</td>
                            <td>
                                <span class="d-block"><%= zh_lorem_name %></span>
                                <span class="d-block">0285555166</span>
                            </td>
                            <td><%= zh_lorem_name %></td>
                            <td></td>
                            <td class="text-end">
                                <a href="#" class="btn btn-outline-secondary">更正單位或使用人</a>
                                <a href="#" class="btn btn-outline-danger">取消</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="btn btn-dark btn-rounded">瀏覽</a>
                            </td>
                            <td>YYYY00005</td>
                            <td>通過</td>
                            <td>生物環境系統工程學系</td>
                            <td>
                                <span class="d-block"><%= zh_lorem_name %></span>
                                <span class="d-block">0285555166</span>
                            </td>
                            <td><%= zh_lorem_name %></td>
                            <td></td>
                            <td class="text-end">
                                <a href="#" class="btn btn-outline-danger">取消</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="btn btn-dark btn-rounded">瀏覽</a>
                            </td>
                            <td>YYYY00006</td>
                            <td>退件</td>
                            <td>生物環境系統工程學系</td>
                            <td>
                                <span class="d-block"><%= zh_lorem_name %></span>
                                <span class="d-block">0285555166</span>
                            </td>
                            <td><%= zh_lorem_name %></td>
                            <td></td>
                            <td class="text-end"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        
    </div>
</div>



<% content_for :js do %>

<% end %>

