<!-- tmu: index -->

<div class="container">
    <div class="banner">
		<div class="banner-text">Welcome to TMU Admission System</div>
        <img src="../assets/banner.jpg" />
    </div>
	<main class="main">
	    <h3 class="main-text">2022 Admission</h3>
		<div class="round-wrapper">
            <div class="round-item">
                <h4 class="round-title"><span>Round 1 (<%= lorem_words(3) %>)</span></h4>
                <div class="intro">
                    <p><strong><%= lorem_words(3) %>:</strong> <%= lorem_sentence %></p>
                    <p><strong><%= lorem_words(2) %>:</strong> <%= lorem_sentence %></p>
                </div>
                <a href="#" class="btn btn-lg btn-unique"><%= lorem_words(3) %></a>
            </div>
            <div class="round-item">
                <h4 class="round-title"><span>Round 2 (<%= lorem_words(4) %>)</span></h4>
                <div class="intro">
                    <p><strong><%= lorem_words(3) %>:</strong> <%= lorem_sentence %></p>
                    <p><strong><%= lorem_words(2) %>:</strong> <%= lorem_sentence %></p>
                </div>
                <a href="#" class="btn btn-lg btn-unique"><%= lorem_words(3) %></a>
            </div>
		</div>
	</main>
</div>

<% content_for :js do %>

<% end %>