<!-- ntu: 教授成績審查 - 列表 -->

<%= render :partial => "/partials/title-wrapper-menu" %>

<div class="container-lg container-fixed">
	<div class="dashboard-container">
	    
	    <div class="sidenav offcanvas-collapse">
			<div class="scrollbar-inner">
                <ul class="navigation menu-item">
                    <li>
						<a class="nav-item current" href="#">
							全部 <span class="badge rounded-pill bg-danger">999</span>
						</a>
					</li>
					<li>
						<a class="nav-item" href="#">
							未評分 <span class="badge rounded-pill bg-danger">0</span>
						</a>
					</li>
					<li>
						<a class="nav-item" href="#">
							已評分 <span class="badge rounded-pill bg-danger">35</span>
						</a>
					</li>
                </ul>
				<div class="chart-nav">
                    <div class="inner-group">
                        <h5>履歷表成績</h5>
                        <ul class="menu-item">
                            <li>
                                <a href="#" class="btn-modal" data-bs-toggle="modal" data-bs-target="#chartModal"><i class="fas fa-user"></i> 個人統計</a>
                            </li>
                            <li>
                                <a href="#" class="btn-modal" data-bs-toggle="modal" data-bs-target="#chartModal"><i class="fas fa-users"></i> 全體統計</a>
                            </li>
                        </ul>
                    </div>
                    <div class="inner-group">
                        <h5>出國交換計畫書成績</h5>
                        <ul class="menu-item">
                            <li>
                                <a href="#" class="btn-modal" data-bs-toggle="modal" data-bs-target="#chartModal"><i class="fas fa-user"></i> 個人統計</a>
                            </li>
                            <li>
                                <a href="#" class="btn-modal" data-bs-toggle="modal" data-bs-target="#chartModal"><i class="fas fa-users"></i> 全體統計</a>
                            </li>
                        </ul>
                    </div>
				</div>
			</div>
		</div>
	    <div id="widget-overlay"></div>
		
        <main class="main">
            <section class="section">
                <div class="section-title">
                    <h4 class="title">書面資料分數輸入</h4>
                </div>
				<div class="review-wrapper">
					
					<div class="card">
					    <div class="card-hd">
						    <a href="#" class="serial" data-bs-toggle="modal" data-bs-target="#exampleModal" title="學生基本資料">E001</a>
							<div class="name">
							    <span>史嘉蕾</span>
								<span>大三</span>
							</div>
						</div>
						<div class="card-file">
						    <h6 class="fw-bold mb-3">檔案合併</h6>
							<a href="#" class="pdf">
								<i class="fas fa-file-pdf"></i> 線上檢視(PDF)
							</a>
							<a href="#" class="dl">
								<i class="fas fa-file-download"></i> 合併下載
							</a>
							<span class="slash">/</span>
							<a href="#" class="dl">備用合併下載</a>
						</div>
						<div class="card-score">
						    <h6 class="fw-bold mb-3">評分</h6>
							<div class="row">
							    <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">履歷表</label>
                                        <div class="row">
                                            <div class="col-6">
                                                <select class="form-select form-select-sm" aria-label="Default select example">
                                                    <option selected="">未評分</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <div class="col-6"><span class="text-danger">缺件</span></div>
                                        </div>
                                    </div>
								</div>
								<div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">出國交換計畫書</label>
                                        <div class="row">
                                            <div class="col-6">
                                                <select class="form-select form-select-sm" aria-label="Default select example">
                                                    <option selected="">未評分</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <div class="col-6"><a href="#" class="btn btn-sm btn-secondary">下載</a></div>
                                        </div>
                                    </div>
								</div>
								<div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">歷年成績單</label>
                                        <span class="text-danger">缺件</span>
                                    </div>
								</div>
								<div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">系所推薦表</label>
                                        <span class="text-danger">缺件</span>
                                    </div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="card">
					    <div class="card-hd">
						    <a href="#" class="serial" data-bs-toggle="modal" data-bs-target="#exampleModal" title="Student Information">E002</a>
							<div class="name">
							    <span>Scarlett Johansson</span>
								<span>Junior year</span>
							</div>
						</div>
						<div class="card-file">
						    <h6 class="fw-bold mb-3">File merge</h6>
							<a href="#" class="pdf">
								<i class="fas fa-file-pdf"></i> Online (PDF)
							</a>
							<a href="#" class="dl">
								<i class="fas fa-file-download"></i> Merge downloads
							</a>
							<span class="slash">/</span>
							<a href="#" class="dl">Backup</a>
						</div>
						<div class="card-score">
						    <h6 class="fw-bold mb-3">Score</h6>
							<div class="row">
							    <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">Resume</label>
                                        <div class="row">
                                            <div class="col-6">
                                                <select class="form-select form-select-sm" aria-label="Default select example">
                                                    <option selected="">Not rated</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <div class="col-6"><span class="text-danger">Lack of parts</span></div>
                                        </div>
                                    </div>
								</div>
								<div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">Overseas exchange plan</label>
                                        <div class="row">
                                            <div class="col-6">
                                                <select class="form-select form-select-sm" aria-label="Default select example">
                                                    <option selected="">未評分</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <div class="col-6"><a href="#" class="btn btn-sm btn-secondary">Download</a></div>
                                        </div>
                                    </div>
								</div>
								<div class="col-6">
								    <div class="form-group">
                                        <label class="form-label">List of papers</label>
                                        <span class="text-danger">None</span>
                                    </div>
								</div>
								<div class="col-6">
								    <div class="form-group">
                                        <label class="form-label">Transcripts of previous years</label>
                                        <a href="#" class="btn btn-sm btn-secondary">Download</a>
									</div>
								</div>
								<div class="col-6">
								    <div class="form-group">
                                        <label class="form-label">Department Recommendation Form</label>
                                        <a href="#" class="btn btn-sm btn-secondary">Download</a>
                                    </div>
								</div>
								<div class="col-6">
								    <div class="form-group">
                                        <label class="form-label">Advisor Recommendation Form</label>
                                        <a href="#" class="btn btn-sm btn-secondary">Download</a>
                                    </div>
								</div>
								<div class="col-6">
								    <div class="form-group">
                                        <label class="form-label">English TOEFL test certificate</label>
                                        <a href="#" class="btn btn-sm btn-secondary">Download</a>
                                    </div>
								</div>
								<div class="col-6">
								    <div class="form-group">
                                        <label class="form-label">Native language 1</label>
                                        <a href="#" class="btn btn-sm btn-secondary">Download</a>
                                    </div>
								</div>
							</div>  
						</div>
					</div>
					
					<% (3..10).map do |i| %>
					<div class="card">
					    <div class="card-hd">
						    <a href="#" class="serial" data-bs-toggle="modal" data-bs-target="#exampleModal" title="學生基本資料">E00<%= i %></a>
							<div class="name">
							    <span><%= lorem_name %></span>
								<span>大三</span>
							</div>
						</div>
						<div class="card-file">
						    <h6 class="fw-bold mb-3">檔案合併</h6>
							<a href="#" class="pdf">
								<i class="fas fa-file-pdf"></i> 線上檢視(PDF)
							</a>
							<a href="#" class="dl">
								<i class="fas fa-file-download"></i> 合併下載
							</a>
							<span class="slash">/</span>
							<a href="#" class="dl">備用合併下載</a>
						</div>
						<div class="card-score">
						    <h6 class="fw-bold mb-3">評分</h6>
							<div class="row">
							    <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">履歷表</label>
                                        <div class="row">
                                            <div class="col-6">
                                                <select class="form-select form-select-sm" aria-label="Default select example">
                                                    <option selected="">未評分</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <div class="col-6"><span class="text-danger">缺件</span></div>
                                        </div>
                                    </div>
								</div>
								<div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">出國交換計畫書</label>
                                        <div class="row">
                                            <div class="col-6">
                                                <select class="form-select form-select-sm" aria-label="Default select example">
                                                    <option selected="">未評分</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <div class="col-6"><a href="#" class="btn btn-sm btn-secondary">下載</a></div>
                                        </div>
                                    </div>
								</div>
								<div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">歷年成績單</label>
                                        <a href="#" class="btn btn-sm btn-secondary">下載</a>
                                    </div>
								</div>
								<div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">系所推薦表</label>
                                        <span class="text-danger">缺件</span>
                                    </div>
								</div>
							</div>
						</div>
					</div>
					<% end %>
                    <nav aria-label="...">
                        <ul class="pagination pagination-sm justify-content-end">
                            <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
				</div>
            </section>
			<div class="form-action d-flex justify-content-between">
			    <button type="submit" class="btn btn-lg btn-primary">儲存</button>
				<button type="submit" class="btn btn-lg btn-ntu">確定送出</button>
			</div>
        </main>
	</div>
</div>

<!-- Modal -->
<%= render :partial => "/partials/student-Information" %>

<!-- Modal -->
<%= render :partial => "/partials/chart" %>


<% content_for :js do %>
    <!-- sidenav scrollbar -->
    <script src="../javascripts/jquery.scrollbar.min.js"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('.scrollbar-inner').scrollbar();
        });
	</script>

    <!-- sidenav open -->
	<script>
        (function () {
          'use strict'

          document.querySelector('#navbarSideCollapse').addEventListener('click', function () {
            document.querySelector('.offcanvas-collapse').classList.toggle('open')
          })
        })()
	</script>

    <!-- sidenav close -->
    <script>
        $("#widget-overlay").click(function(){
            $(".offcanvas-collapse").removeClass("open");
        });
	</script>
<% end %>