
<!-- ntu: 在學生 - 報名紀錄查詢 -->

<div class="container-lg">
	<div class="page-content">
	    <aside class="aside offcanvas-collapse">
			<div class="scrollbar-inner">
				<div class="user-wrapper">
				    <p><i class="far fa-user-circle"></i></p>
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Angela Winson
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Change password</a></li>
                            <li><a class="dropdown-item" href="#">Log out</a></li>
                        </ul>
                    </div>
				</div>
		        <div class="sidenav">
                    <ul class="navigation menu-item">
                        <li><a class="nav-item" href="#">首頁</a></li>
                        <li><a class="nav-item current" href="#">報名紀錄查詢</a></li>
						<li><a class="nav-item" href="#">繳費作業</a></li>
                        <li><a class="nav-item" href="#">獎學金資料上傳</a></li>
						<li><a class="nav-item" href="#">表單申請紀錄</a></li>
                    </ul>
				</div>
			</div>
		</aside>
		<div id="widget-overlay"></div>
		<main class="main">
			<h2 class="mb-4">報名紀錄查詢</h2>
            <section class="application-section resume-section">
				<h4 class="section-title unafter">
                    <span>四季班報名紀錄</span>
                </h4>
                <div class="rwd-container">
                    <div class="record-table">
                        <div class="record-cell">
                            <span class="record-row">課程名稱</span>
                            <span class="record-row">2022 春季班</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">上課日期</span>
                            <span class="record-row">2022/06/01 ~ 2022/09/31</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">班級</span>
                            <span class="record-row">A1</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">教師</span>
                            <span class="record-row">安德魯</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">操作</span>
                            <span class="record-row">
                                <a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#syllabusModal">課綱瀏覽</a>
								<a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#scoreModal">單季成績</a>
                            </span>
                        </div>
                    </div>
                </div>
				<div class="rwd-container">
                    <div class="record-table">
                        <div class="record-cell">
                            <span class="record-row">課程名稱</span>
                            <span class="record-row">2022 夏季班</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">上課日期</span>
                            <span class="record-row">2022/06/01 ~ 2022/09/31</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">班級</span>
                            <span class="record-row">A1</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">教師</span>
                            <span class="record-row">安東尼</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">操作</span>
                            <span class="record-row">
                                <a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#syllabusModal">課綱瀏覽</a>
								<a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#scoreModal">單季成績</a>
                            </span>
                        </div>
                    </div>
                </div>
            </section>
			
			<section class="application-section resume-section">
				<h4 class="section-title unafter">
                    <span>個人班報名紀錄</span>
                </h4>
				<div class="rwd-container">
                    <div class="record-table">
                        <div class="record-cell">
                            <span class="record-row">課程名稱</span>
                            <span class="record-row">2022 夏季班</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">上課日期</span>
                            <span class="record-row">2022/06/01 ~ 2022/09/31</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">班級</span>
                            <span class="record-row">A2</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">教師</span>
                            <span class="record-row">陶斯</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">操作</span>
                            <span class="record-row">
                                <a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#syllabusModal">課綱瀏覽</a>
								<a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#scoreModal">單季成績</a>
                            </span>
                        </div>
                    </div>
                </div>
            </section>
			
			<section class="application-section resume-section">
				<h4 class="section-title unafter">
                    <span>客製化班報名紀錄</span>
                </h4>
				<div class="rwd-container">
                    <div class="record-table">
                        <div class="record-cell">
                            <span class="record-row">課程名稱</span>
                            <span class="record-row">2022 夏季班</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">上課日期</span>
                            <span class="record-row">2022/06/01 ~ 2022/09/31</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">班級</span>
                            <span class="record-row">A3</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">教師</span>
                            <span class="record-row">布魯斯</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">操作</span>
                            <span class="record-row">
                                <a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#syllabusModal">課綱瀏覽</a>
								<a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#scoreModal">單季成績</a>
                            </span>
                        </div>
                    </div>
                </div>
            </section>
			
		</main>
	</div>
</div>

<!-- 課綱瀏覽 Modal -->
<div class="modal fade" id="syllabusModal" tabindex="-1" aria-labelledby="syllabusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="syllabusModalLabel">課綱瀏覽</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
				
                <div class="form-group">
                    <label class="form-label fw-bold">課程平台與雲端空間</label>
                    <div class="output">https://fireapp.kkbox.com/doc/tw/index.html</div>
                </div>
				<div class="form-group">
                    <label class="form-label fw-bold">課程目標與課程說明</label>
                    <div class="output"><%= lorem_paragraph %></div>
                </div>
				<div class="form-group">
                    <label class="form-label fw-bold">使用教材</label>
                    <div class="output"><%= lorem_sentence %></div>
                </div>
				<div class="form-group">
                    <label class="form-label fw-bold">課程進度</label>
                    <div class="output"><%= lorem_paragraph %></div>
                </div>
				<div class="form-group">
                    <label class="form-label fw-bold">課程要求</label>
                    <div class="output"><%= lorem_paragraph %></div>
                </div>
				<div class="form-group">
                    <label class="form-label fw-bold">考試與作業方式</label>
                    <div class="output"><%= lorem_paragraph %></div>
                </div>
				<div class="form-group">
                    <label class="form-label fw-bold">評分標準與計算方法</label>
                    <div class="output">
					    <p><%= lorem_paragraph %></p>
						<ul>
							<% (1..3).map do |i| %>
						    <li><%= lorem_sentence %></li>
							<% end %>
						</ul>
					</div>
                </div>
				
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- 單季成績 Modal -->
<div class="modal fade" id="scoreModal" tabindex="-1" aria-labelledby="scoreModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scoreModalLabel">單季成績</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
				<h5>YYYY 春季班  A02  高OO  成績</h5>
				<fieldset disabled>
                    <div class="form-group">
                        <label class="form-label">課程參與 20%</label>
                        <input type="text" class="form-control" value="20">
                    </div>
					<div class="form-group">
                        <label class="form-label">平時考 20%</label>
                        <input type="text" class="form-control" value="20">
                    </div>
					<div class="form-group">
                        <label class="form-label">期中考 20%</label>
                        <input type="text" class="form-control" value="20">
                    </div>
					<div class="form-group">
                        <label class="form-label">期末考 20%</label>
                        <input type="text" class="form-control" value="20">
                    </div>
					<div class="form-group">
                        <label class="form-label">作業 20%</label>
                        <input type="text" class="form-control" value="19">
                    </div>
					<div class="form-group">
                        <label class="form-label">總成績</label>
                        <input type="text" class="form-control" value="99">
                    </div>
					<div class="form-group">
                        <label class="form-label">Grade</label>
                        <input type="text" class="form-control" value="2">
                    </div>
				</fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<% content_for :js do %>
    <!-- sidenav scrollbar -->
    <script src="../javascripts/jquery.scrollbar.min.js"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('.scrollbar-inner').scrollbar();
        });
	</script>

    <!-- sidenav open -->
	<script>
        (function () {
          'use strict'

          document.querySelector('#navbarSideCollapse').addEventListener('click', function () {
            document.querySelector('.offcanvas-collapse').classList.toggle('open')
          })
        })()
	</script>

    <!-- sidenav close -->
    <script>
        $("#widget-overlay").click(function(){
            $(".offcanvas-collapse").removeClass("open");
        });
	</script>
<% end %>

