<!-- template: case -->

<%= render :partial => "/partials/header" %>

<div class="content page-content">
    <div class="container-lg">
        
        <div class="filters filter-button-group">
            <ul class="menu-item">
                <li class="active" data-filter="*">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                        <g>
                            <path d="M30.765,7.262L19.222,0.747c-1.571-0.887-4.271-0.888-5.845,0L1.834,7.262
                                C0.951,7.761,0.466,8.459,0.466,9.229s0.486,1.468,1.368,1.966l11.543,6.516c0.786,0.444,1.824,0.688,2.922,0.688
                                c1.099,0,2.137-0.245,2.923-0.688l11.543-6.516c0.883-0.498,1.369-1.196,1.369-1.966S31.647,7.761,30.765,7.262z M30.239,10.265
                                l-11.543,6.516c-1.238,0.699-3.556,0.7-4.794,0L2.359,10.265C1.835,9.969,1.535,9.591,1.535,9.229c0-0.363,0.3-0.74,0.824-1.037
                                l11.543-6.516c0.619-0.35,1.493-0.55,2.396-0.55c0.904,0,1.778,0.201,2.397,0.55l11.543,6.516c0.524,0.296,0.825,0.674,0.825,1.037
                                C31.064,9.591,30.764,9.969,30.239,10.265z"/>
                            <path d="M30.765,14.099c-0.256-0.145-0.582-0.055-0.729,0.203c-0.145,0.257-0.054,0.583,0.203,0.728
                                c0.524,0.296,0.825,0.674,0.825,1.036s-0.301,0.74-0.825,1.036l-11.543,6.516c-1.298,0.733-3.494,0.734-4.794,0L2.359,17.102
                                c-0.524-0.296-0.824-0.674-0.824-1.036s0.3-0.74,0.824-1.036c0.257-0.145,0.348-0.471,0.203-0.728
                                c-0.146-0.258-0.473-0.349-0.729-0.203c-0.883,0.498-1.368,1.197-1.368,1.967s0.485,1.469,1.368,1.967l11.543,6.516
                                c0.819,0.462,1.871,0.694,2.922,0.694c1.052,0,2.104-0.231,2.923-0.694l11.543-6.516c0.883-0.498,1.369-1.197,1.369-1.967
                                S31.647,14.597,30.765,14.099z"/>
                            <path d="M30.765,20.804c-0.256-0.145-0.582-0.055-0.729,0.203c-0.145,0.257-0.054,0.583,0.203,0.728
                                c0.524,0.296,0.825,0.674,0.825,1.036c0,0.362-0.301,0.74-0.825,1.037l-11.543,6.516c-1.298,0.733-3.494,0.734-4.794,0
                                L2.359,23.807c-0.524-0.296-0.824-0.674-0.824-1.037c0-0.362,0.3-0.74,0.824-1.036c0.257-0.145,0.348-0.471,0.203-0.728
                                c-0.146-0.257-0.473-0.349-0.729-0.203C0.952,21.302,0.466,22,0.466,22.771s0.485,1.469,1.368,1.967l11.543,6.516
                                c0.819,0.462,1.871,0.694,2.922,0.694c1.052,0,2.104-0.231,2.923-0.694l11.543-6.516c0.883-0.499,1.369-1.197,1.369-1.967
                                S31.647,21.302,30.765,20.804z"/>
                        </g>
                    </svg>
                    <span>全部</span>
                </li>
                <li data-filter=".application_review">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 33 32" enable-background="new 0 0 33 32" xml:space="preserve">
                        <g>
                            <path d="M1.5,32h21c0.827,0,1.5-0.673,1.5-1.5V23c0-0.01-0.005-0.018-0.006-0.028
                                c0.055-0.035,0.112-0.068,0.166-0.105l7.986,7.986C32.244,30.951,32.372,31,32.5,31s0.256-0.049,0.354-0.146
                                c0.195-0.195,0.195-0.512,0-0.707l-7.913-7.913C26.205,21.047,27,19.366,27,17.5c0-2.297-1.201-4.316-3.006-5.472
                                C23.995,12.018,24,12.01,24,12V9.5c0-0.017-0.008-0.031-0.009-0.047c-0.002-0.023-0.008-0.043-0.013-0.065
                                c-0.017-0.071-0.046-0.135-0.09-0.191c-0.007-0.009-0.006-0.02-0.013-0.029l-8-9c-0.003-0.003-0.007-0.003-0.01-0.006
                                c-0.06-0.065-0.137-0.108-0.223-0.134c-0.019-0.006-0.036-0.008-0.056-0.011C15.557,0.012,15.53,0,15.5,0h-14
                                C0.673,0,0,0.673,0,1.5v29C0,31.327,0.673,32,1.5,32z M26,17.5c0,3.033-2.468,5.5-5.5,5.5S15,20.533,15,17.5s2.468-5.5,5.5-5.5
                                S26,14.467,26,17.5z M16,1.815L22.387,9H16.5C16.28,9,16,8.58,16,8.25V1.815z M1,1.5C1,1.224,1.225,1,1.5,1H15v7.25
                                C15,9.059,15.655,10,16.5,10H23v1.501C22.23,11.179,21.386,11,20.5,11c-1.838,0-3.496,0.77-4.679,2H5.5C5.224,13,5,13.224,5,13.5
                                S5.224,14,5.5,14h9.532c-0.565,0.879-0.922,1.901-1.006,3H5.5C5.224,17,5,17.224,5,17.5S5.224,18,5.5,18h8.525
                                c0.084,1.099,0.442,2.121,1.006,3H5.5C5.224,21,5,21.224,5,21.5S5.224,22,5.5,22h10.25c0.021,0,0.039-0.009,0.06-0.012
                                C16.994,23.225,18.657,24,20.5,24c0.886,0,1.73-0.179,2.5-0.502V30.5c0,0.276-0.225,0.5-0.5,0.5h-21C1.22,31,1,30.78,1,30.5V1.5z"
                                />
                            <path d="M5.5,10h6c0.276,0,0.5-0.224,0.5-0.5S11.776,9,11.5,9h-6C5.224,9,5,9.224,5,9.5S5.224,10,5.5,10z"/>
                            <path d="M5.5,26h13c0.276,0,0.5-0.224,0.5-0.5S18.776,25,18.5,25h-13C5.224,25,5,25.224,5,25.5S5.224,26,5.5,26z"/>
                        </g>
                    </svg>
                    <span>申請審查</span>
                </li>
                <li data-filter=".international_exchange">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 25 32" enable-background="new 0 0 25 32" xml:space="preserve">
                        <g>
                            <path d="M13.552,22c5.79,0,10.5-4.71,10.5-10.5S19.342,1,13.552,1s-10.5,4.71-10.5,10.5S7.762,22,13.552,22z
                                 M13.552,2c5.238,0,9.5,4.262,9.5,9.5s-4.262,9.5-9.5,9.5s-9.5-4.262-9.5-9.5S8.313,2,13.552,2z"/>
                            <path fill="#828282" d="M9.052,28c-1.141,0-2,0.859-2,2v1.5c0,0.276,0.224,0.5,0.5,0.5h12c0.276,0,0.5-0.224,0.5-0.5v-1.425
                                c0-1.164-0.879-2.075-2-2.075H9.052z M19.052,30.075V31h-11v-1c0-0.589,0.411-1,1-1h9C18.622,29,19.052,29.462,19.052,30.075z"/>
                            <path d="M13.055,24.978c0,0.006-0.003,0.01-0.003,0.016v1.604c0,0.276,0.224,0.5,0.5,0.5s0.5-0.224,0.5-0.5v-1.604
                                c0-0.007-0.004-0.013-0.004-0.02c3.233-0.129,6.268-1.376,8.638-3.581l1.18,1.179c0.195,0.195,0.512,0.195,0.707,0
                                s0.195-0.512,0-0.707l-1.526-1.526c-0.195-0.195-0.512-0.195-0.707,0C19.978,22.7,16.839,24,13.5,24s-6.478-1.3-8.839-3.661
                                S1,14.839,1,11.5s1.3-6.478,3.661-8.839c0.195-0.195,0.195-0.512,0-0.707L3.135,0.428c-0.195-0.195-0.512-0.195-0.707,0
                                s-0.195,0.512,0,0.707l1.179,1.18C1.276,4.818,0,8.062,0,11.5c0,3.605,1.404,6.996,3.954,9.546
                                C6.398,23.49,9.617,24.867,13.055,24.978z"/>
                        </g>
                    </svg>
                    <span>國際交流</span>
                </li>
                <li data-filter=".school_administration">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 34 32" enable-background="new 0 0 34 32" xml:space="preserve">
                        <g>
                            <path d="M5.587,31.867c2.015,0,4.183-1.026,5.707-2.551l16.883-17.169c0.866-0.866,1.348-2.014,1.356-3.231
                                c0.009-1.22-0.459-2.364-1.316-3.222c-1.768-1.767-4.661-1.751-6.462,0.048L8.814,19.272c-0.203,0.213-0.196,0.552,0.018,0.756
                                c0.213,0.204,0.55,0.196,0.756-0.017L22.52,6.489c1.373-1.374,3.591-1.391,4.941-0.04c0.653,0.653,1.01,1.526,1.003,2.458
                                c-0.006,0.935-0.377,1.816-1.046,2.486L10.535,28.563c-1.776,1.775-5.426,3.385-7.615,1.194c-1.037-1.037-1.557-2.309-1.503-3.679
                                c0.053-1.36,0.693-2.72,1.807-3.833L22.52,2.661c1.026-1.026,2.629-1.62,4.396-1.626c0.011,0,0.021,0,0.032,0
                                c1.752,0,3.333,0.577,4.342,1.586c1.016,1.015,1.594,2.609,1.587,4.374c-0.007,1.767-0.601,3.369-1.634,4.402L16.348,26.882
                                c-0.205,0.213-0.198,0.551,0.015,0.756c0.212,0.204,0.551,0.198,0.755-0.015l14.888-15.478c1.225-1.224,1.932-3.1,1.939-5.146
                                c0.009-2.047-0.684-3.919-1.899-5.134c-1.208-1.208-3.064-1.9-5.098-1.9c-0.012,0-0.024,0-0.036,0
                                c-2.047,0.008-3.923,0.715-5.15,1.942L2.465,21.492c-2.701,2.701-2.827,6.495-0.301,9.021C3.111,31.459,4.318,31.867,5.587,31.867z
                                "/>
                        </g>
                    </svg>
                    <span>校務行政</span>
                </li>
                <li data-filter=".functional_analysis">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                        <g>
                            <path d="M29,17.518c0-0.276-0.224-0.5-0.5-0.5H15V3.5C15,3.224,14.776,3,14.5,3C6.505,3,0,9.495,0,17.479
                                C0,25.757,6.243,32,14.521,32C22.234,32,29,25.232,29,17.518z M1,17.479c0-7.266,5.787-13.206,13-13.47v13.509
                                c0,0.276,0.224,0.5,0.5,0.482h13.49c-0.283,6.99-6.455,13-13.469,13C6.813,31,1,25.188,1,17.479z"/>
                            <path d="M17.5,15h13.999C31.775,15.018,32,14.776,32,14.5C32,6.505,25.495,0,17.5,0C17.224,0,17,0.224,17,0.5
                                v14.018C17,14.794,17.224,15.018,17.5,15z M18,1.009c7.063,0.259,12.759,5.97,12.994,13.009H18V1.009z"/>
                        </g>
                    </svg>
                    <span>職能分析</span>
                </li>
                <li data-filter=".admissions_exam">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 28 32" enable-background="new 0 0 28 32" xml:space="preserve">
                        <g>
                            <path d="M1.5,32h25c0.869,0,1.5-0.631,1.5-1.5v-28C28,1.631,27.369,1,26.5,1h-4C22.224,1,22,1.224,22,1.5
                                S22.224,2,22.5,2h4C26.813,2,27,2.187,27,2.5v28c0,0.313-0.187,0.5-0.5,0.5h-25C1.187,31,1,30.813,1,30.5v-28
                                C1,2.187,1.187,2,1.5,2h4C5.776,2,6,1.776,6,1.5S5.776,1,5.5,1h-4C0.631,1,0,1.631,0,2.5v28C0,31.369,0.631,32,1.5,32z"/>
                            <path d="M5.5,5C5.776,5,6,4.776,6,4.5S5.776,4,5.5,4h-2C3.224,4,3,4.224,3,4.5v24C3,28.776,3.224,29,3.5,29h21
                                c0.276,0,0.5-0.224,0.5-0.5v-24C25,4.224,24.776,4,24.5,4h-2C22.224,4,22,4.224,22,4.5S22.224,5,22.5,5H24v23H4V5H5.5z"/>
                            <path d="M9,7h10c1.215,0,2-0.785,2-2V0.5C21,0.224,20.776,0,20.5,0h-13C7.224,0,7,0.224,7,0.5V5
                                C7,6.215,7.785,7,9,7z M8,1h12v4c0,0.664-0.337,1-1,1H9C8.337,6,8,5.664,8,5V1z"/>
                            <path d="M8.5,16h11c0.276,0,0.5-0.224,0.5-0.5S19.776,15,19.5,15h-11C8.224,15,8,15.224,8,15.5S8.224,16,8.5,16z"/>
                            <path d="M8.5,12h11c0.276,0,0.5-0.224,0.5-0.5S19.776,11,19.5,11h-11C8.224,11,8,11.224,8,11.5S8.224,12,8.5,12z"/>
                            <path d="M8.5,20h11c0.276,0,0.5-0.224,0.5-0.5S19.776,19,19.5,19h-11C8.224,19,8,19.224,8,19.5S8.224,20,8.5,20z"/>
                            <path d="M8.5,24h11c0.276,0,0.5-0.224,0.5-0.5S19.776,23,19.5,23h-11C8.224,23,8,23.224,8,23.5S8.224,24,8.5,24z"/>
                        </g>
                    </svg>
                    <span>招生考試</span>
                </li>
                <li data-filter=".award_grant">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 28 32" enable-background="new 0 0 28 32" xml:space="preserve">
                        <g>
                            <path d="M1.5,9C1.224,9,1,9.224,1,9.5v20.946c0,0.665,0.316,1.039,0.582,1.235C1.9,31.917,2.274,32,2.608,32
                                c0.201,0,0.387-0.03,0.538-0.077c2.929-0.895,9.345-7.482,10.973-9.19c1.587,1.718,7.805,8.295,10.734,9.19
                                c0.404,0.124,1.055,0.135,1.564-0.243C26.684,31.484,27,31.111,27,30.446V9.5C27,9.224,26.776,9,26.5,9S26,9.224,26,9.5v20.946
                                c0,0.27-0.101,0.375-0.177,0.431c-0.178,0.132-0.484,0.15-0.677,0.091c-3.04-0.929-10.575-9.22-10.65-9.303
                                c-0.094-0.104-0.227-0.164-0.367-0.165c-0.127-0.001-0.273,0.056-0.369,0.159c-0.078,0.083-7.862,8.378-10.906,9.309
                                c-0.192,0.059-0.499,0.041-0.677-0.091C2.101,30.821,2,30.715,2,30.446V9.5C2,9.224,1.776,9,1.5,9z"/>
                            <path d="M28,6.5v-5C28,0.673,27.327,0,26.5,0h-25C0.673,0,0,0.673,0,1.5v5C0,6.776,0.224,7,0.5,7h27
                                C27.776,7,28,6.776,28,6.5z M27,6H1V1.5C1,1.224,1.224,1,1.5,1h25C26.776,1,27,1.224,27,1.5V6z"/>
                        </g>
                    </svg>
                    <span>獎補助金</span>
                </li>
                <li data-filter=".ai_applications">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                        <g>
                            <g>
                                <path class="st0" d="M28,64h2V52h-2V64z M34,64h2V52h-2V64z M40,64h2V52h-2V64z M22,64h2V52h-2V64z M28,12h2V0h-2V12z M34,12h2V0
                                    h-2V12z M40,12h2V0h-2V12z M22,12h2V0h-2V12z M0,30h12v-2H0V30z M0,36h12v-2H0V36z M0,42h12v-2H0V42z M0,24h12v-2H0V24z M52,30h12
                                    v-2H52V30z M52,36h12v-2H52V36z M52,42h12v-2H52V42z M52,22v2h12v-2H52z"/>
                            </g>
                        </g>
                        <path class="st1" d="M20,12h24c4.4,0,8,3.6,8,8v24c0,4.4-3.6,8-8,8H20c-4.4,0-8-3.6-8-8V20C12,15.6,15.6,12,20,12z"/>
                        <path class="st1" d="M22,22h20v20H22V22z"/>
                    </svg>
                    <span>AI 應用</span>
                </li>
                <li data-filter=".online_form">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 42 32" enable-background="new 0 0 42 32" xml:space="preserve">
                        <g>
                            <path d="M41.5,10c-0.276,0-0.5,0.224-0.5,0.5v20c0,0.276-0.224,0.5-0.5,0.5h-39C1.224,31,1,30.776,1,30.5v-20
                                C1,10.224,0.776,10,0.5,10S0,10.224,0,10.5v20C0,31.327,0.673,32,1.5,32h39c0.827,0,1.5-0.673,1.5-1.5v-20
                                C42,10.224,41.776,10,41.5,10z"/>
                            <path d="M40.5,0h-39C0.673,0,0,0.673,0,1.5v6C0,7.776,0.224,8,0.5,8h41C41.776,8,42,7.776,42,7.5v-6
                                C42,0.673,41.327,0,40.5,0z M41,7H1V1.5C1,1.224,1.224,1,1.5,1h39C40.776,1,41,1.224,41,1.5V7z"/>
                            <path d="M17.5,28c0.276,0,0.5-0.224,0.5-0.5v-16c0-0.276-0.224-0.5-0.5-0.5h-13C4.224,11,4,11.224,4,11.5v16
                                C4,27.776,4.224,28,4.5,28H17.5z M5,12h12v15H5V12z"/>
                            <path d="M22.5,15h15c0.276,0,0.5-0.224,0.5-0.5S37.776,14,37.5,14h-15c-0.276,0-0.5,0.224-0.5,0.5
                                S22.224,15,22.5,15z"/>
                            <path d="M22.5,20h15c0.276,0,0.5-0.224,0.5-0.5S37.776,19,37.5,19h-15c-0.276,0-0.5,0.224-0.5,0.5
                                S22.224,20,22.5,20z"/>
                            <path d="M22.5,25h15c0.276,0,0.5-0.224,0.5-0.5S37.776,24,37.5,24h-15c-0.276,0-0.5,0.224-0.5,0.5
                                S22.224,25,22.5,25z"/>
                            <circle cx="4" cy="4" r="1"/>
                            <circle cx="8" cy="4" r="1"/>
                            <circle cx="12" cy="4" r="1"/>
                        </g>
                    </svg>
                    <span>電子表單</span>
                </li>
            </ul>
        </div>
        
        <div class="filter-grid">
            <% (1..6).map do |i| %>
            <div class="application_review grid-item">
                <a href="project.html" class="grid-link">
                    <img src="../assets/icon/search.svg">
                    <h5>學位生申請審查系統</h5>
                    <p>以全球視角來看每家好萊塢電影公司與發行商都開始大量投資內容</p>
                </a>
            </div>
            <div class="international_exchange grid-item">
                <a href="project.html" class="grid-link">
                    <img src="../assets/icon/globe.svg">
                    <h5><%= zh_lorem_words(5) %></h5>
                    <p><%= zh_lorem_sentence %></p>
                </a>
            </div>
            <div class="school_administration grid-item">
                <a href="project.html" class="grid-link">
                    <img src="../assets/icon/paperclip.svg">
                    <h5><%= zh_lorem_words(6) %></h5>
                    <p><%= zh_lorem_sentence %></p>
                </a>
            </div>
            <div class="functional_analysis grid-item">
                <a href="project.html" class="grid-link">
                    <img src="../assets/icon/piechart.svg">
                    <h5><%= zh_lorem_words(4) %></h5>
                    <p><%= zh_lorem_sentence %></p>
                </a>
            </div>
            <div class="admissions_exam grid-item">
                <a href="project.html" class="grid-link">
                    <img src="../assets/icon/clipboard.svg">
                    <h5><%= zh_lorem_words(4) %></h5>
                    <p><%= zh_lorem_sentence %></p>
                </a>
            </div>
            <div class="award_grant grid-item">
                <a href="project.html" class="grid-link">
                    <img src="../assets/icon/ribbon.svg">
                    <h5><%= zh_lorem_words(4) %></h5>
                    <p><%= zh_lorem_sentence %></p>
                </a>
            </div>
            <div class="ai_applications grid-item">
                <a href="project.html" class="grid-link">
                    <img src="../assets/icon/chip.svg">
                    <h5><%= zh_lorem_words(5) %></h5>
                    <p><%= zh_lorem_sentence %></p>
                </a>
            </div>
            <div class="online_form grid-item">
                <a href="project.html" class="grid-link">
                    <img src="../assets/icon/browser.svg">
                    <h5><%= zh_lorem_words(4) %></h5>
                    <p><%= zh_lorem_sentence %></p>
                </a>
            </div>
            <% end %>
        </div>
        
    </div>
</div>



<% content_for :js do %>

<% end %>

