<!-- template: project -->

<%= render :partial => "/partials/header" %>

<div class="content page-content">
    <div class="container-xl">
        
        <div class="project-wrapper">
            
            <div id="project-banner" class="project-banner">
                <div class="project-classification">
                    <h3>碩博考試入學</h3>
                    <p>透過線上系統提供，各類線上申請、審查及後續各項作業</p>
                </div>
                <div class="img-banner" style="background: url(../assets/banner/b01.jpg) center center no-repeat;"></div>
            </div>
            
            <div class="main-wrapper">
                <div class="project-introduction">
                    本案的設計概念，主要是依據內政部承辦人員、各職業團體計畫承辦人員、目的事業主管機關審查人員等工作角色，設計其系統工作流程，並就其不同的使用頻率及使用功能，規劃設置計畫辦公室管理系統、委員審查系統及職業團體計畫申請管理系統等 3個子系統，提供更簡便的搜尋、引導說明與使用方式，提昇上述使用者的使用效率。
                </div>
                <div class="project-client">
                    <span class="label">客戶案例</span>
                    <ul class="menu-item client-list">
                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="教育部"><img src="../assets/client/edu.png"></li>
                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="國立臺灣大學"><img src="../assets/client/ntu.png"></li>
                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="元智大學"><img src="../assets/client/yzu.png"></li>
                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="國家教育研究院"><img src="../assets/client/naer.svg"></li>
                    </ul>
                </div>
            </div>
            
            <section class="section">
                <div class="section-title">
                    <h3>常見問題</h3>
                </div>
                
                <div class="list-wrap">
                    <div class="wrap-item">
                        <h4>訪談中證實他已經從電影產業正式退休儘管有傳聞他將會回歸坐鎮透露</h4>
                        <p class="caption">日前喬治·米勒為電影芙莉歐莎：瘋狂麥斯傳奇篇章接受媒體訪談時，被詢問玩家未來是否能夠期望瘋狂麥斯系列能夠被改編成電玩遊戲，而喬治·米勒導演則回憶起 2015 年推出的同名電玩作品</p>
                        <button type="button" class="btn-tooltip" title="<img src='../assets/fake/f01.png' />" data-bs-toggle="tooltip" data-bs-html="true"></button>
                        <img class="item-img" src='../assets/fake/f01.png' />
                    </div>
                    <div class="wrap-item">
                        <h4>如果沒有辦法做到最好達到期望的樣子，那寧可放棄不要做這件事</h4>
                        <p class="caption">小島秀夫的帳號轉發了不少《芙莉歐莎》的宣傳影片或新聞，簡直當成粉絲帳號在發。事實上，這已經不是他第一次表達對喬治米勒的崇拜。2015 年他有幸第一次與偶像會面，當時他就告白表示，他的遊戲中有非常多喬治米勒的基因：「因為喬治米勒，才成就了現在的我。」喬治米勒本人也是《死亡擱淺》遊戲的死忠粉絲，甚至在《死亡擱淺 2》遊戲中現身客串。</p>
                    </div>
                    <div class="wrap-item">
                        <h4>喬治米勒也在專訪表示他並不是一個喜歡</h4>
                        <p class="caption"><%= lorem_paragraph %></p>
                        <button type="button" class="btn-tooltip" title="<img src='../assets/fake/f02.png' />" data-bs-toggle="tooltip" data-bs-html="true"></button>
                        <img class="item-img" src='../assets/fake/f02.png' />
                    </div>
                </div>
            </section>
            
            <section class="section">
                <div class="section-title">
                    <h3>系統規劃重點</h3>
                </div>
                <div class="list-wrap">
                    <% (1..5).map do |i| %>
                    <div class="wrap-item">
                        <h4><%= lorem_sentence %></h4>
                        <p class="caption"><%= lorem_paragraph %></p>
                        <button type="button" class="btn-tooltip" title="<img src='../assets/fake/f03.jpg' />" data-bs-toggle="tooltip" data-bs-html="true"></button>
                        <img class="item-img" src='../assets/fake/f03.jpg' />
                    </div>
                    <% end %>
                </div>
            </section>
            
            <section class="section">
                <div class="section-title">
                    <h3>應用效益</h3>
                </div>
                <div class="list-wrap">
                    <% (1..2).map do |i| %>
                    <div class="wrap-item">
                        <h4><%= lorem_sentence %></h4>
                        <p class="caption"><%= lorem_paragraph %></p>
                        <button type="button" class="btn-tooltip" title="<img src='../assets/fake/f03.jpg' />" data-bs-toggle="tooltip" data-bs-html="true"></button>
                        <img class="item-img" src='../assets/fake/f03.jpg' />
                    </div>
                    <% end %>
                </div>
            </section>
            
        </div>
        
    </div>
</div>



<% content_for :js do %>

<% end %>

