<!-- OIA-ES: 申請 - 說明  -->

<div class="container">
    <div class="row">
		<div class="col-12">
		    <main class="main-block">
			    <h3>來校訪問申請說明</h3>
                <p><%= lorem_sentences(5) %></p>
                <p><%= lorem_sentences(10) %></p>
                <p><%= lorem_sentences(3) %></p>
                <p><%= lorem_sentences(5) %></p>
                <p><%= lorem_sentences(8) %></p>
                <p><%= lorem_sentences(3) %></p>
                <div class="text-center">
                    <button class="btn btn-primary btn-lg" type="submit">我已閱讀說明內容</button>
                </div>
			</main>
		</div>
	</div>
</div>

<% content_for :js do %>
    <script>
		 $('.panel-collapse').on('show.bs.collapse', function() {
			 $(this).siblings('.panel-heading').addClass('active');
		 });

		 $('.panel-collapse').on('hide.bs.collapse', function() {
			 $(this).siblings('.panel-heading').removeClass('active');
		 });
    </script>
<% end %>