<!-- template: 最新消息 -->

<!-- 麵包屑 -->
<nav aria-label="breadcrumb" class="nav-breadcrumb">
    <div class="container-lg">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" title="{連結名稱}">首頁</a></li>
            <li class="breadcrumb-item"><a href="#" title="{連結名稱}">雙月刊</a></li>
            <li class="breadcrumb-item active" aria-current="page">第 152 期校友雙月刊</li>
        </ol>
    </div>
</nav>

<div class="container-lg">
    
    <div class="news-wrapper">
        
        <article class="article">
            
            <div class="article-head">
                <h3 class="article-title">臺中市國立臺灣大學校友會戀戀南洋小琉球之旅三日遊</h3>
                <span class="date"><i class="far fa-calendar-alt"></i> 2024-01-12</span>
            </div>
            
            <!-- 以下為編輯器內容 -->
            <div class="article-body">

                <p><%= zh_lorem_paragraphs(3) %></p>
                <h3>h3. Bootstrap heading</h3>
                <h4>h4. Bootstrap heading</h4>
                <h5>h5. Bootstrap heading</h5>
                <p><%= zh_lorem_paragraphs(5) %></p>

                <h3>UL 列表</h3>
                <ul>
                    <li><%= zh_lorem_sentence %></li>
                    <li><%= zh_lorem_sentence %></li>
                    <li><%= zh_lorem_sentence %></li>
                </ul>

                <h3>OL 列表</h3>
                <ol>
                    <li><%= zh_lorem_sentence %></li>
                    <li><%= zh_lorem_sentence %></li>
                    <li><%= zh_lorem_sentence %></li>
                </ol>

                <h3>大圖加段落</h3>
                <img src="../assets/fake/03.jpg" alt="{圖片描述}">
                <p><%= zh_lorem_paragraphs(5) %></p>

                <div class="text-runaround">
                    <img src="../assets/fake/promo-2.jpg" alt="{圖片描述}">
                    <p><%= zh_lorem_paragraphs(10) %></p>
                </div>

                <h3>關於 table</h3>
                <p>文章內所有 table 須加上 <code>.table</code>，另外所有 table 需在外層包一層 <code>.table-responsive</code></p>

                <h3>表格</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <% 5.times do %>
                                <th>測試用表格</th>
                                <% end %>
                            </tr>
                        </thead>
                        <tbody>
                            <% 5.times do %>
                            <tr>
                                <% 5.times do %>
                                <td><%= zh_lorem_sentence %></td>
                                <% end %>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>

                <p><%= zh_lorem_paragraphs(5) %></p>
            </div>

            <!-- 檔案下載 -->
            <div class="files-wrapper">
                <ul class="menu-item dl-fils">

                    <% (1..3).map do |i| %>
                    <li><a href="#" class="item-fils">附加檔案名稱.pdf</a></li>
                    <% end %>

                </ul>
            </div>
        </article>
        
        <div class="page-back">
            <a href="#" class="btn btn-rounded btn-dark" title="{連結名稱}">回消息列表</a>
        </div>

    </div>

</div>


<% content_for :js do %>

<% end %>

