<!-- ietw: 導航網站 - 縣市 -->

<div class="content-wrapper">
    <div class="container-xl">
        
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" title="{連結名稱}">國際教育旅行導航網站</a></li>
                <li class="breadcrumb-item active">澎湖縣</li>
            </ol>
        </nav>
        
        <div class="page-row">
            <aside class="sidenav">
                <a accesskey="L" href="#accesskey_left_nav" tabindex="0" title="左側目錄" id="accesskey_left_nav" class="ackey d-none d-xl-block">:::</a>
                
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-sdgs-tab" data-bs-toggle="pill" data-bs-target="#v-pills-sdgs" type="button" role="tab" aria-controls="v-pills-sdgs" aria-selected="true">各景點學習對應SDGs</button>
                    <button class="nav-link" id="v-pills-history-tab" data-bs-toggle="pill" data-bs-target="#v-pills-history" type="button" role="tab" aria-controls="v-pills-history" aria-selected="false">各景點與國家的文化歷史連結</button>
                    <button class="nav-link" id="v-pills-school-tab" data-bs-toggle="pill" data-bs-target="#v-pills-school" type="button" role="tab" aria-controls="v-pills-school" aria-selected="false">可以接待各國之各級學校清單</button>
                </div>
            </aside>
            <main class="main">
                <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>
                
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-sdgs" role="tabpanel" aria-labelledby="v-pills-sdgs-tab">
                        <h3 class="page-title">各景點學習對應SDGs</h3>
                        <section class="section">
                            <h4 class="section-title">景點一</h4>
                            <h3 class="amazeing-title">南寮社區──永續旅遊與農村社區再造</h3>
                            <p><%= lorem_paragraphs(2) %></p>
                            <div class="row lightbox-wrapper">
                                <a href="../assets/fake/nav-01.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4">
                                    <img src="../assets/fake/nav-01.jpg" class="img-fluid">
                                </a>
                                <a href="../assets/fake/nav-02.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4">
                                    <img src="../assets/fake/nav-02.jpg" class="img-fluid">
                                </a>
                            </div>
                        </section>
                        <section class="section">
                            <h4 class="section-title">景點二</h4>
                            <h3 class="amazeing-title">風櫃蛇頭山──荷法日海上歷史景點</h3>
                            <% (1..6).map do |i| %>
                            <p><%= lorem_paragraphs(2) %></p>
                            <% end %>
                            <div class="row lightbox-wrapper">
                                <a href="../assets/fake/nav-03.jpg" data-toggle="lightbox" data-gallery="example2-gallery" class="col-md-4">
                                    <img src="../assets/fake/nav-03.jpg" class="img-fluid">
                                </a>
                                <a href="../assets/fake/nav-04.jpg" data-toggle="lightbox" data-gallery="example2-gallery" class="col-md-4">
                                    <img src="../assets/fake/nav-04.jpg" class="img-fluid">
                                </a>
                                <a href="../assets/fake/nav-05.jpg" data-toggle="lightbox" data-gallery="example2-gallery" class="col-md-4">
                                    <img src="../assets/fake/nav-05.jpg" class="img-fluid">
                                </a>
                            </div>
                        </section>
                    </div>
                    
                    <div class="tab-pane fade" id="v-pills-history" role="tabpanel" aria-labelledby="v-pills-history-tab">
                        <h3 class="page-title">各景點與國家的文化歷史連結</h3>
                        <section class="section">
                            <h4 class="section-title">景點一</h4>
                            <h3 class="amazeing-title">南寮社區──永續旅遊與農村社區再造</h3>
                            <p><%= lorem_paragraphs(2) %></p>
                            <div class="row lightbox-wrapper">
                                <a href="../assets/fake/nav-01.jpg" data-toggle="lightbox" data-gallery="example3-gallery" class="col-md-4">
                                    <img src="../assets/fake/nav-01.jpg" class="img-fluid">
                                </a>
                                <a href="../assets/fake/nav-02.jpg" data-toggle="lightbox" data-gallery="example3-gallery" class="col-md-4">
                                    <img src="../assets/fake/nav-02.jpg" class="img-fluid">
                                </a>
                                <a href="../assets/fake/nav-03.jpg" data-toggle="lightbox" data-gallery="example3-gallery" class="col-md-4">
                                    <img src="../assets/fake/nav-03.jpg" class="img-fluid">
                                </a>
                                <a href="../assets/fake/nav-04.jpg" data-toggle="lightbox" data-gallery="example3-gallery" class="col-md-4">
                                    <img src="../assets/fake/nav-04.jpg" class="img-fluid">
                                </a>
                                <a href="../assets/fake/nav-05.jpg" data-toggle="lightbox" data-gallery="example3-gallery" class="col-md-4">
                                    <img src="../assets/fake/nav-05.jpg" class="img-fluid">
                                </a>
                            </div>
                        </section>
                    </div>
                    
                    <div class="tab-pane fade" id="v-pills-school" role="tabpanel" aria-labelledby="v-pills-school-tab">
                        <h3 class="page-title">可以接待各國之各級學校清單</h3>
                        <section class="section">
                            <h4 class="fw-bold">日本</h4>
                            <div class="table-responsive">
                                <table class="table align-middle table-bordered customize-striped">
                                    <thead>
                                        <tr>
                                            <th>教育階段</th>
                                            <th>校名</th>
                                            <th>承辦人</th>
                                            <th>聯絡 mail</th>
                                            <th>公務國際電話碼</th>
                                            <th>特色</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% (1..3).map do |i| %>
                                        <tr>
                                            <td><%= lorem_words(2) %></td>
                                            <td><%= lorem_words(4) %></td>
                                            <td class="text-nowrap"><%= lorem_name %></td>
                                            <td><%= lorem_email %></td>
                                            <td class="text-nowrap">123-456-000</td>
                                            <td><%= lorem_words(5) %></td>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <section class="section">
                            <h4 class="fw-bold">韓國</h4>
                            <div class="table-responsive">
                                <table class="table align-middle table-bordered customize-striped">
                                    <thead>
                                        <tr>
                                            <th>教育階段</th>
                                            <th>校名</th>
                                            <th>承辦人</th>
                                            <th>聯絡 mail</th>
                                            <th>公務國際電話碼</th>
                                            <th>特色</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% (1..8).map do |i| %>
                                        <tr>
                                            <td><%= lorem_words(2) %></td>
                                            <td><%= lorem_words(4) %></td>
                                            <td class="text-nowrap"><%= lorem_name %></td>
                                            <td><%= lorem_email %></td>
                                            <td class="text-nowrap">852 0011</td>
                                            <td><%= lorem_words(5) %></td>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                    
                </div>
            </main>
		</div>
	</div>
</div>


<% content_for :js do %>


<script src="../javascripts/bs5-lightbox.min.js"></script>
<% end %>




