<!-- edu-committee: 更換組別  -->

<div class="container">
	<div class="board-head">
		<div class="mission">
			<span class="year">111</span>
			留學獎學金書面審查委員推薦
		</div>
		<div class="deadline">
			開放登錄時間
			<span class="date">2020 04/10 12:00</span>
			<span class="to">-</span>
			<span class="date">2020 04/30 23:59</span>
		</div>
	</div>
	<div class="cg-container">
		<div class="dl-wrap">
            <a href="#" class="btn btn-sm btn-outline-secondary btn-rounded waves-effect z-depth-0 my-0 mx-0"><i class="fa fa-lg fa-cloud-download mr-1"></i>文史哲學群學生名單</a>
		</div>
		<div class="cg-well mt-5">
		    <p>注意事項說明：<%= lorem_paragraphs(2) %></p>
		</div>
		<div class="cg-group">
		    <h4 class="group-title"><span>建議更換組別登錄</span></h4>
            <table class="table table-vertical-middle mb-0">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>申請流水號</th>
                        <th>建議改分至學群</th>
                        <th>建議改分至學門</th>
                        <th>建議委員</th>
                        <th class="text-center">刪除</th>
                    </tr>
                </thead>
                <tbody>
					<% (1..3).map do |i| %>
                    <tr>
                        <th class="text-center"><%= i %></th>
                        <td><input type="text" id="" class="form-control"></td>
                        <td>
                            <select class="browser-default custom-select">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </td>
                        <td>
                            <select class="browser-default custom-select">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </td>
                        <td><%= lorem_name %></td>
                        <td class="text-center">
                            <a href="#" class="btn-delete" title="刪除"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
					<% end %>
                </tbody>
            </table>
            <a href="#" class="add-btn">
                <span class="add-inner">
                    <span class="btn-rounded waves-effect waves-light"><i class="fa fa-plus"></i> </span>
                    <span class="text">新增一筆</span>
                </span>
            </a>
		</div>
		
		<div class="cg-group">
		    <h4 class="group-title"><span>同學群更換紀錄瀏覽</span></h4>
			<p>每次進入讀取最新紀錄</p>
            <table class="table table-vertical-middle mb-0">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>申請流水號</th>
                        <th>建議改分至學群</th>
                        <th>建議改分至學門</th>
                        <th>建議委員</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-center">2</th>
                        <td>1111008004(暫存)</td>
                        <td>生命科學學群 (包括農林漁牧)</td>
                        <td>學門名稱</td>
                        <td><%= lorem_name %></td>
                    </tr>
					<tr>
                        <th class="text-center">1</th>
                        <td>1111008005(已送出)</td>
                        <td>數理化學群 (包括地球科學)</td>
                        <td>學門名稱</td>
                        <td><%= lorem_name %></td>
                    </tr>
                </tbody>
            </table>
		</div>
		
		<div class="text-center mt-5">
		    <button type="button" class="btn btn-primary">暫存</button>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#basicExampleModal">送出換組建議</button>
			<button type="button" class="btn btn-blue-grey">無換組建議</button>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">簽名</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>請在下方區塊中以滑鼠或手寫板簽名後，送出審查表。</p>
				<div class="sign-wrap">
				    <div class="btn-group">
					    <button type="button" class="btn btn-sm btn-white" title="復原">
							<i class="fa fa-lg fa-repeat"></i>
						</button>
						<button type="button" class="btn btn-sm btn-white" title="清除">
							<i class="fa fa-lg fa-times"></i>
						</button>
					</div>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary">送出</button>
            </div>
        </div>
    </div>
</div>


<% content_for :js do %>

<script src="../javascripts/select2.min.js"></script>
<script>
    $(".js-example-basic-single").select2({
      theme: "bootstrap4"
    });
</script>

<% end %>