<!-- edu-committee: 委員名單登錄  -->

<div class="container">
	<div class="board-head">
		<div class="mission">
			<span class="year">109</span>
			公費筆試命題委員推薦
		</div>
		<div class="deadline">
			開放登錄時間
			<span class="date">2020 04/10 12:00</span>
			<span class="to">-</span>
			<span class="date">2020 04/30 23:59</span>
		</div>
	</div>
	<div class="board-container">
		<form>
            <div class="row">
                <div class="col-3">
                    <ul class="nav nav-tabs board-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="personal-tab" data-toggle="tab" href="#personal" role="tab" aria-controls="personal" aria-selected="true"><span>國文作文</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="program-tab" data-toggle="tab" href="#program" role="tab" aria-controls="program" aria-selected="false"><span>文學概論</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="education-tab" data-toggle="tab" href="#education" role="tab" aria-controls="education" aria-selected="false"><span>英國文學</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="scholarship-tab" data-toggle="tab" href="#scholarship" role="tab" aria-controls="scholarship" aria-selected="false"><span>美國文學</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="language-tab" data-toggle="tab" href="#language" role="tab" aria-controls="language" aria-selected="false"><span>語言學概論</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="experience-tab" data-toggle="tab" href="#experience" role="tab" aria-controls="experience" aria-selected="false"><span>語言分析</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-9">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="personal-tab">
                            <%= render :partial => "/partials/study" %>
                        </div>
                        <div class="tab-pane fade" id="program" role="tabpanel" aria-labelledby="program-tab">
                           <%= render :partial => "/partials/study" %>
                        </div>
                        <div class="tab-pane fade" id="education" role="tabpanel" aria-labelledby="education-tab">
                           <%= render :partial => "/partials/study" %>
                        </div>
                        <div class="tab-pane fade" id="scholarship" role="tabpanel" aria-labelledby="scholarship-tab">
                           <%= render :partial => "/partials/study" %>
                        </div>
                        <div class="tab-pane fade" id="language" role="tabpanel" aria-labelledby="language-tab">
                            <%= render :partial => "/partials/study" %>
                        </div>
                        <div class="tab-pane fade" id="experience" role="tabpanel" aria-labelledby="experience-tab">
                            <%= render :partial => "/partials/study" %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="board-action">
				<button type="button" class="btn btn-link btn-lg">儲存</button>
				<button type="submit" class="btn blue-gradient btn-lg">送出申請</button>
            </div>
		</form>
	</div>
</div>

<% content_for :js do %>

<script src="../javascripts/select2.min.js"></script>
<script>
    $(".js-example-basic-single").select2({
      theme: "bootstrap4"
    });
</script>

<% end %>