<!-- template: 計畫網站 - 各中心成果與亮點 (內頁) -->

<nav aria-label="breadcrumb" style="margin-top: -3rem;" class="mb-5">
    <div class="container-lg">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </div>
</nav>

<div class="container-lg">
	<div class="page-content d-block">
        
        <hgroup class="hgroup">
            <h5>National Taiwan University of Science and Technology，Taiwan Tech</h5>
            <h4>Ocean Center: Adaptation and Response of Oceans and Aquaculture under Global Change</h4>
        </hgroup>
        
        <section class="section">
            <div class="section-title">
                <h4>Project introduction</h4>
            </div>
            <div>
                <p><%= lorem_paragraph %></p>
                <p><%= lorem_paragraphs(3) %></p>
                <p><%= lorem_paragraphs(2) %></p>
            </div>
        </section>
        
        <section class="section">
            <div class="section-title">
                <h4>Highlights</h4>
            </div>
            <div>
                <p><%= lorem_paragraph %></p>
                <p><%= lorem_paragraphs(3) %></p>
                <p><%= lorem_paragraphs(2) %></p>
            </div>
        </section>
        
        <div class="form-action">
            <span class="backhome"><a href="#" class="btn btn-lg btn-link"><i class="fas fa-long-arrow-alt-left"></i> Back</a></span>
        </div>
        
	</div>
</div>



<% content_for :js do %>

<% end %>

