<!-- ntu: News / Article template -->

<div class="container-lg">
	<div class="main-layout">
		<aside class="emba-aside">
			<%= render :partial => "/partials/accordian_nav" %>
		</aside>
		<main class="emba-main">
			<div class="news-wrapper">
				<article class="article-post">
					<div class="article-head">
                        <h2 class="article-title">EMBA Report-BBC NEWS - A Reluctant Family Successor: Joyce Chou’s Turn-around news</h2>
                        <span class="date">2022-05-11</span>
					</div>
                    <div class="article-body">
                        <h2>h2 title 標題</h3>
                        <h3>h3 title 標題加一般段落</h3>
                        <p><%= zh_lorem_paragraphs(5) %></p>

                        <h3>UL 列表</h3>
                        <ul>
                            <li><%= zh_lorem_sentence %></li>
                            <li><%= zh_lorem_sentence %></li>
                            <li><%= zh_lorem_sentence %></li>
                        </ul>

                        <h3>OL 列表</h3>
                        <ol>
                            <li><%= zh_lorem_sentence %></li>
                            <li><%= zh_lorem_sentence %></li>
                            <li><%= zh_lorem_sentence %></li>
                        </ol>

                        <h3>大圖加段落</h3>
                        <p>文章內圖片因應 rwd 會自動 100% 寬，當螢幕寬度變化時才能自動縮放，除非設定如下方示範的文繞圖，在外層容器加上 <code>.text-runaround</code> 或 <code>.text-runaround .right</code></p>
                        <img src="../assets/fake/03.jpg" alt="測試" title="測試">
                        <p><%= zh_lorem_paragraphs(5) %></p>

                        <p><%= zh_lorem_paragraphs(5) %></p>
						
						<h5>文繞圖在螢幕寬度小於 767px 時會自動滿版寬</h5>
                        <div class="text-runaround">
                            <h3>文繞圖置左</h3>
                            <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                            <p><%= zh_lorem_paragraphs(10) %></p>
                        </div>

                        <div class="text-runaround right">
                            <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                            <p><%= zh_lorem_paragraphs(10) %></p>
                        </div>

                        <h3>關於 table</h3>
                        <p>文章內所有 table 須加上 <code>.table</code>，特性為寬度 100% 以及基本樣式，更多樣式可參考 <a href="https://getbootstrap.com/docs/5.2/content/tables/">Bootstrap</a>，另外所有 table 需在外層包一層 <code>.table-responsive</code>，可設定系統自動生或使用者自行 coding</p>

                        <h3>表格</h3>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <% 5.times do %>
                                        <th>測試用表格</th>
                                        <% end %>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% 5.times do %>
                                    <tr>
                                        <% 5.times do %>
                                        <td><%= zh_lorem_sentence %></td>
                                        <% end %>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>

                        <div class="photo-gallery">
                            <h3>多圖並列</h3>
                            <div class="img-group">
                                <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                                <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                                <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                                <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                                <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                            </div>
                            <p>圖片固定為三張一列，不足的右邊會被空出來，使用者上傳的照片長寬比例必須一致，請在後台標註讓使用者知道這點，否版可能破版。</p>
                        </div>

                    </div>
				</article>
			</div>
			
			<%= render :partial => "/partials/page_share" %>
		</main>
	</div>
</div>

<% content_for :js do %>

<% end %>

