<!-- NTU-OSA: 首頁  -->

<div class="container">

	<div id="carousel-ntu" class="carousel slide carousel-fade section-container" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-ntu" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-ntu" data-slide-to="1"></li>
			<li data-target="#carousel-ntu" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active">
				<div class="view">
					<img class="d-block w-100" src="../assets/fake/01.jpg" alt="First slide" title="First slide">
				</div>
				<div class="carousel-caption">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
				</div>
			</div>
			<div class="carousel-item">
				<div class="view">
					<img class="d-block w-100" src="https://placekeanu.com/1110/410" alt="Second slide" title="Second slide">
				</div>
				<a class="loop_title_hover" href="#" title="Secondary text">
                    <div class="carousel-caption">
                        <p>PlaceKeanu.com For when you need a little more Keanu in your life (always)</p>
                    </div>
				</a>
			</div>
			<div class="carousel-item">
				<div class="view">
					<img class="d-block w-100" src="../assets/fake/03.jpg" alt="Third slide" title="Third slide">
				</div>
				<div class="carousel-caption">
					<p>Donec in eleifend ante. Nunc rutrum sit amet dolor vitae auctor. Etiam diam ex, egestas eget rhoncus ut, commodo a lacus. Phasellus ante quam, sagittis vitae porttitor et, tempus non mauris. Sed a leo mollis, consequat sem maximus, scelerisque sem. Suspendisse porta sem sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu aliquam est. Vestibulum at est nec sem porta vulputate non eu libero. Nunc vulputate, sem at elementum bibendum, enim augue volutpat risus, eu interdum arcu velit cursus orci. Nullam lobortis, magna eu vulputate rhoncus, dolor tortor consequat lorem, vitae accumsan nibh quam quis dui. Nam sed malesuada nunc. </p>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carousel-ntu" role="button" data-slide="prev">
			<i class="fa fa-angle-left" aria-hidden="true"></i>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carousel-ntu" role="button" data-slide="next">
			<i class="fa fa-angle-right" aria-hidden="true"></i>
			<span class="sr-only">Next</span>
		</a>
	</div>
	
	<section class="announcement-container section-container">
        <div class="section-title">
            <h3>最新消息</h3>
        </div>
		<div class="announcement-wrap">
            <ul class="nav nav-tabs" id="gocfsTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="scholarships-tab" data-toggle="tab" href="#scholarships" role="tab" aria-controls="scholarships" aria-selected="true" title="獎助學金">獎助學金</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="permits-tab" data-toggle="tab" href="#permits" role="tab" aria-controls="permits" aria-selected="false" title="僑生工作證">僑生工作證</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="insurance-tab" data-toggle="tab" href="#insurance" role="tab" aria-controls="insurance" aria-selected="false" title="健保卡">健保卡</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" id="servitor-tab" data-toggle="tab" href="#servitor" role="tab" aria-controls="servitor" aria-selected="true" title="僑生工讀">僑生工讀</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" id="recruit-tab" data-toggle="tab" href="#recruit" role="tab" aria-controls="recruit" aria-selected="true" title="徵才">徵才</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="true" title="活動">活動</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" id="other-tab" data-toggle="tab" href="#other" role="tab" aria-controls="other" aria-selected="true" title="其它">其它</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" id="news-tab" data-toggle="tab" href="#news" role="tab" aria-controls="news" aria-selected="true" title="最新消息">最新消息</a>
                </li>
            </ul>
			
            <div class="tab-content" id="gocfsTabContent">
                <div class="tab-pane fade show active" id="scholarships" role="tabpanel" aria-labelledby="scholarships-tab">
                    <ul class="announcement-list menu-item">
                        <% (1..4).map do |i| %>
                        <li class="announcement-item">
                            <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
                            <h5><a href="#" title="<%= zh_lorem_sentence %>"><%= zh_lorem_sentence %></a></h5>
                        </li>
                        <% end %>
                        <% (1..4).map do |i| %>
                        <li class="announcement-item">
                            <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
                            <h5><a href="#" title="<%= lorem_sentence %>"><%= lorem_sentence %></a></h5>
                        </li>
                        <% end %>
                    </ul>
                </div>
				
                <div class="tab-pane fade" id="permits" role="tabpanel" aria-labelledby="permits-tab">
                    <ul class="announcement-list menu-item">
                        <% (1..8).map do |i| %>
                        <li class="announcement-item">
                            <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
                            <h5><a href="#" title="<%= zh_lorem_sentence %>"><%= zh_lorem_sentence %></a></h5>
                        </li>
                        <% end %>
                    </ul>
				</div>
				
                <div class="tab-pane fade" id="insurance" role="tabpanel" aria-labelledby="insurance-tab">
                    <ul class="announcement-list menu-item">
                        <% (1..8).map do |i| %>
                        <li class="announcement-item">
                            <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
                            <h5><a href="#" title="<%= lorem_sentence %>"><%= lorem_sentence %></a></h5>
                        </li>
                        <% end %>
                    </ul>
				</div>
				
				<div class="tab-pane fade" id="servitor" role="tabpanel" aria-labelledby="servitor-tab">
                    <ul class="announcement-list menu-item">
                        <% (1..8).map do |i| %>
                        <li class="announcement-item">
                            <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
                            <h5><a href="#" title="<%= lorem_sentence %>"><%= lorem_sentence %></a></h5>
                        </li>
                        <% end %>
                    </ul>
                </div>
				
				<div class="tab-pane fade" id="recruit" role="tabpanel" aria-labelledby="recruit-tab">
                    <ul class="announcement-list menu-item">
                        <% (1..8).map do |i| %>
                        <li class="announcement-item">
                            <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
                            <h5><a href="#" title="<%= lorem_sentence %>"><%= lorem_sentence %></a></h5>
                        </li>
                        <% end %>
                    </ul>
                </div>
				
				<div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab">
                    <ul class="announcement-list menu-item">
                        <% (1..8).map do |i| %>
                        <li class="announcement-item">
                            <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
                            <h5><a href="#" title="<%= lorem_sentence %>"><%= lorem_sentence %></a></h5>
                        </li>
                        <% end %>
                    </ul>
                </div>
				
				<div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">
                    <ul class="announcement-list menu-item">
                        <% (1..8).map do |i| %>
                        <li class="announcement-item">
                            <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
                            <h5><a href="#" title="<%= lorem_sentence %>"><%= lorem_sentence %></a></h5>
                        </li>
                        <% end %>
                    </ul>
                </div>
				
				<div class="tab-pane fade" id="news" role="tabpanel" aria-labelledby="news-tab">
                    <ul class="announcement-list menu-item">
                        <% (1..8).map do |i| %>
                        <li class="announcement-item">
                            <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
                            <h5><a href="#" title="<%= lorem_sentence %>"><%= lorem_sentence %></a></h5>
                        </li>
                        <% end %>
                    </ul>
                </div>
            </div>
		</div>
        <div class="section-ft">
            <a href="#" class="btn btn-outline-info btn-rounded waves-effect un-shadows" title="更多消息">更多消息 <i class="fa fa-angle-right"></i></a>
        </div>
	</section>
	
	<section class="business-container section-container">
        <div class="section-title">
            <h3>業務快速連結</h3>
        </div>
		<ul class="business-list menu-item">
		    <li>
			    <a class="business-link" href="#">
				    <img alt="僑陸生社團"  title="僑陸生社團" src="../assets/icons/group.png">
					<span>僑陸生社團</span>
				</a>
			</li>
			<li>
			    <a class="business-link" href="#">
				    <img alt="僑陸生證件"  title="僑陸生證件" src="../assets/icons/application.png">
					<span>僑陸生證件</span>
				</a>
			</li>
			<li>
			    <a class="business-link" href="#">
				    <img alt="獎助學金"  title="獎助學金" src="../assets/icons/scholarship.png">
					<span>獎助學金</span>
				</a>
			</li>
			<li>
			    <a class="business-link" href="#">
				    <img alt="僑生工作證"  title="僑生工作證" src="../assets/icons/id-card.png">
					<span>僑生工作證</span>
				</a>
			</li>
			<li>
			    <a class="business-link" href="#">
				    <img alt="醫療保險"  title="醫療保險" src="../assets/icons/business-card.png">
					<span>醫療保險</span>
				</a>
			</li>
			<li>
			    <a class="business-link" href="#">
				    <img alt="緊急電話"  title="緊急電話" src="../assets/icons/phone-call.png">
					<span>緊急電話</span>
				</a>
			</li>
		</ul>
	</section>
	
	<section class="media-container section-container">
	    <div class="row">
		    <div class="col-12 col-xl-8 col-lg-6">
                <div class="google-maps">
                    <div class="section-title">
                        <h3>校園位置</h3>
                    </div>
                    <div class="map-inner">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.492930077537!2d121.53756311607424!3d25.01734048398008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a989fe322ea9%3A0x21750404ee1d7f66!2z6Ie654Gj5aSn5a24!5e0!3m2!1szh-TW!2stw!4v1566871606303!5m2!1szh-TW!2stw" width="600" height="360" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
			</div>
			<div class="col-12 col-xl-4 col-lg-6">
				<div class="activity_reveal-wrapper">
                    <div class="section-title">
                        <h3>近期活動</h3>
                    </div>
                    <div class="activity_reveal-inner">
						<ul class="activity_reveal-list menu-item">
						    <li class="activity_reveal-item">
							    <div class="period">
								    <span class="mon">Sep</span>
									<span class="date">02</span>
								</div>
								<div class="heading">
									<a href="#"><span><%= zh_lorem_sentence %></span></a>
								</div>
							</li>
							<li class="activity_reveal-item">
							    <div class="period">
								    <span class="mon">Aug</span>
									<span class="date">11</span>
								</div>
								<div class="heading">
									<a href="#"><span><%= zh_lorem_sentence %></span></a>
								</div>
							</li>
							<li class="activity_reveal-item">
							    <div class="period">
								    <span class="mon">Jul</span>
									<span class="date">28</span>
								</div>
								<div class="heading">
									<a href="#"><span><%= lorem_sentence %></span></a>
								</div>
							</li>
							<li class="activity_reveal-item">
							    <div class="period">
								    <span class="mon">Jun</span>
									<span class="date">31</span>
								</div>
								<div class="heading">
									<a href="#"><span><%= lorem_sentence %></span></a>
								</div>
							</li>
						</ul>
                    </div>
                    <div class="section-ft en-more">
                        <a href="#" class="more" title="更多活動">more <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
				</div>
			</div>
		</div>
	</section>
</div>


<% content_for :js do %>

<% end %>





















































