<!-- NTU-OSA: 首頁  -->

<div class="container">
    <div class="sticky mistaken-ui">
        <ul class="menu-item">
            <li>
                <a href="#">
                    <img src="../assets/icon/emergency.png" alt="緊急求助" title="緊急求助">
                    <span>緊急求助</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/icon/calendar.png" alt="初談預約" title="初談預約">
                    <span>初談預約</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/icon/network.png" alt="團體報名" title="團體報名">
                    <span>團體報名</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/icon/donation.png" alt="服務懶人包" title="服務懶人包">
                    <span>服務懶人包</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/icon/professor.png" alt="導師專區" title="導師專區">
                    <span>導師專區</span>
                </a>
            </li>
        </ul>
    </div>
	<div id="carousel-ntu" class="carousel slide carousel-fade section-container" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-ntu" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-ntu" data-slide-to="1"></li>
			<li data-target="#carousel-ntu" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active">
				<div class="view">
					<img class="d-block w-100" src="../assets/fake/01.jpg" alt="First slide" title="First slide">
				</div>
				<div class="carousel-caption">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
				</div>
			</div>
			<div class="carousel-item">
				<div class="view">
					<img class="d-block w-100" src="https://placekeanu.com/1110/410" alt="Second slide" title="Second slide">
				</div>
				<a class="loop_title_hover" href="#" title="Secondary text">
                    <div class="carousel-caption">
                        <p>PlaceKeanu.com For when you need a little more Keanu in your life (always)</p>
                    </div>
				</a>
			</div>
			<div class="carousel-item">
				<div class="view">
					<img class="d-block w-100" src="../assets/fake/03.jpg" alt="Third slide" title="Third slide">
				</div>
				<div class="carousel-caption">
					<p>Donec in eleifend ante. Nunc rutrum sit amet dolor vitae auctor. Etiam diam ex, egestas eget rhoncus ut, commodo a lacus. Phasellus ante quam, sagittis vitae porttitor et, tempus non mauris. Sed a leo mollis, consequat sem maximus, scelerisque sem. Suspendisse porta sem sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu aliquam est. Vestibulum at est nec sem porta vulputate non eu libero. Nunc vulputate, sem at elementum bibendum, enim augue volutpat risus, eu interdum arcu velit cursus orci. Nullam lobortis, magna eu vulputate rhoncus, dolor tortor consequat lorem, vitae accumsan nibh quam quis dui. Nam sed malesuada nunc. </p>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carousel-ntu" role="button" data-slide="prev">
			<i class="fa fa-angle-left" aria-hidden="true"></i>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carousel-ntu" role="button" data-slide="next">
			<i class="fa fa-angle-right" aria-hidden="true"></i>
			<span class="sr-only">Next</span>
		</a>
	</div>
	
	<section class="announcement-container section-container">
		<div class="row">
			<div class="col-12 col-xl-6">
                <div class="section-title">
                    <h3>重要公告</h3>
                </div>
				<ul class="announcement-card menu-item">
                    <li class="card-item">
						<div class="card-hd">
						    <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
							<span class="announcement-category">重要公告</span>
						</div>
						<div class="card-bd">
                            <h5><a href="#" title="<%= zh_lorem_sentence %>"><%= zh_lorem_sentence %></a></h5>
						</div>
                    </li>
					<li class="card-item">
						<div class="card-hd">
						    <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
							<span class="announcement-category">重要公告</span>
						</div>
						<div class="card-bd">
                            <h5><a href="#" title="<%= lorem_sentence %>"><%= lorem_sentences(3) %></a></h5>
						</div>
                    </li>
					<li class="card-item">
						<div class="card-hd">
						    <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
							<span class="announcement-category">重要公告</span>
						</div>
						<div class="card-bd">
                            <h5><a href="#" title="<%= lorem_sentence %>"><%= lorem_sentence %></a></h5>
						</div>
                    </li>
					<li class="card-item">
						<div class="card-hd">
						    <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
							<span class="announcement-category">重要公告</span>
						</div>
						<div class="card-bd">
                            <h5><a href="#" title="<%= zh_lorem_sentence %>"><%= zh_lorem_sentence %></a></h5>
						</div>
                    </li>
				</ul>
			</div>
			<div class="col-12 col-xl-6">
                <div class="announcement-wrap">
                    <ul class="nav nav-tabs" id="gocfsTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true" title="一般公告">一般公告</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="event-tab" data-toggle="tab" href="#event" role="tab" aria-controls="event" aria-selected="false" title="活動">活動</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="gocfsTabContent">
                        <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                            <ul class="announcement-list menu-item">
                                <% (1..3).map do |i| %>
                                <li class="announcement-item">
                                    <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
                                    <h5><a href="#" title="<%= zh_lorem_sentence %>"><%= zh_lorem_sentence %></a></h5>
                                </li>
                                <% end %>
                                <% (1..4).map do |i| %>
                                <li class="announcement-item">
                                    <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
                                    <h5><a href="#" title="<%= lorem_sentence %>"><%= lorem_sentence %></a></h5>
                                </li>
                                <% end %>
                            </ul>
                        </div>

                        <div class="tab-pane fade" id="event" role="tabpanel" aria-labelledby="event-tab">
                            <ul class="announcement-list menu-item">
                                <% (1..7).map do |i| %>
                                <li class="announcement-item">
                                    <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
                                    <h5><a href="#" title="<%= zh_lorem_sentence %>"><%= zh_lorem_sentence %></a></h5>
                                </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
			</div>
		</div>
        <div class="section-ft">
            <a href="#" class="btn btn-outline-info btn-rounded waves-effect un-shadows" title="更多公告">更多公告 <i class="fa fa-angle-right"></i></a>
        </div>
	</section>
	
	<section class="media-container section-container">
	    <div class="row">
		    <div class="col-sm-12 col-xl-8 col-lg-6 suckui-fixmapswidth">
                <div class="google-maps">
                    <div class="section-title">
                        <h3>校園位置</h3>
                    </div>
                    <div class="map-inner">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.492930077537!2d121.53756311607424!3d25.01734048398008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a989fe322ea9%3A0x21750404ee1d7f66!2z6Ie654Gj5aSn5a24!5e0!3m2!1szh-TW!2stw!4v1566871606303!5m2!1szh-TW!2stw" width="600" height="360" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
					<a href="#" class="outside" title="城中校區">
						<i class="fa fa-map-marker"></i> 城中校區
					</a>
                </div>
			</div>
			<div class="col-sm-12 col-xl-4 col-lg-6 suckui-fixemergencywidth">
				<div class="emergency-wrapper">
					<div class="group-wrapper mb-3">
                        <div class="emergency-hd">
                            <i class="fa fa-phone"></i> 校內 24 小時緊急求助電話
                        </div>
                        <div class="emergency-item">
                            <span class="emergency-leabl" title="校安中心">校安中心</span>
                            <span class="phone-number web-only" title="02-3366-9119">02-3366-9119</span>
							<a class="phone-number mobile-only" tel:+886-2-33669119>02-3366-9119</a>
                        </div>
                        <div class="emergency-item">
                            <span class="emergency-leabl" title="校警隊">校警隊</span>
                            <span class="phone-number web-only" title="02-3366-9110">02-3366-9110</span>
							<a class="phone-number mobile-only" tel:+886-2-33669110>02-3366-9110</a>
                        </div>
					</div>
					<div class="group-wrapper">
                        <div class="emergency-hd">
                            <i class="fa fa-phone"></i> 校外 24 小時緊急求助電話
                        </div>
                        <div class="emergency-item">
                            <span class="emergency-leabl" title="生命線">生命線</span>
                            <span class="phone-number web-only" title="1995">1995</span>
							<a class="phone-number mobile-only" tel:1995>1995</a>
                        </div>
                        <div class="emergency-item mb-0">
                            <span class="emergency-leabl" title="安心專線">安心專線</span>
                            <span class="phone-number web-only" title="1925">1925</span>
							<a class="phone-number mobile-only" tel:1925>1925</a>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</section>
    <section class="nav-container section-container">
        <div class="nav-inner">
            <div class="item-wrapper">
                <ul class="menu-item">
                    <li>
                        <a href="#" title="關於我們">關於我們</a>
                    </li>
                    <li>
                        <a href="#" title="中心簡介">中心簡介</a>
                    </li>
                    <li>
                        <a href="#" title="成員介紹">成員介紹</a>
                    </li>
                    <li>
                        <a href="#" title="中心位置">中心位置</a>
                    </li>
                </ul>
            </div>
            <div class="item-wrapper">
                <ul class="menu-item">
                    <li>
                        <a href="#" title="服務項目">服務項目</a>
                    </li>
                    <li>
                        <a href="#" title="個別諮詢">個別諮詢</a>
                    </li>
                    <li>
                        <a href="#" title="團體/工作坊">團體/工作坊</a>
                    </li>
                    <li>
                        <a href="#" title="講座活動">講座活動</a>
                    </li>
                    <li>
                        <a href="#" title="心理測驗">心理測驗</a>
                    </li>
                    <li>
                        <a href="#" title="學院輔導">學院輔導</a>
                    </li>
                </ul>
            </div>
            <div class="item-wrapper">
                <ul class="menu-item">
                    <li>
                        <a href="#" title="心衛宣傳">心衛宣傳</a>
                    </li>
                    <li>
                        <a href="#" title="影音資訊">影音資訊</a>
                    </li>
                    <li>
                        <a href="#" title="文章分享">文章分享</a>
                    </li>
                    <li>
                        <a href="#" title="站外連結">站外連結</a>
                    </li>
                </ul>
            </div>
            <div class="item-wrapper">
                <ul class="menu-item">
                    <li>
                        <a href="#" title="校外資源">校外資源</a>
                    </li>
                    <li>
                        <a href="#" title="特約醫師">特約醫師</a>
                    </li>
                    <li>
                        <a href="#" title="社區心衛資源">社區心衛資源</a>
                    </li>
                </ul>
            </div>
            <div class="item-wrapper">
                <ul class="menu-item">
                    <li>
                        <a href="#" title="網站連結">網站連結</a>
                    </li>
                    <li>
                        <a href="#" title="大專校院">大專校院</a>
                    </li>
                    <li>
                        <a href="#" title="民間機構">民間機構</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>

<% content_for :js do %>
<script>
$(function () {
	$(".sticky").sticky({
		topSpacing: 30,
		zIndex: 2,
		stopper: ".media-container",
		minWidth: 1
	});
    jQuery(document).ready(function($) {
        var alterClass = function() {
            var ww = document.body.clientWidth;
            if (ww < 767) {
                $('.sticky').addClass('sticky-mobile');
            } else if (ww >= 767) {
                $('.sticky').removeClass('sticky-mobile');
            };
        };
        $(window).resize(function() {
            alterClass();
        });
        //Fire it when the page first loads:
        alterClass();
    });
});
</script>
<% end %>





















































