<!-- admin-page: UI / Block -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h1>Block</h1>
        <p>使用 <code>.col-block</code> 加入白色背景，<code>.block-header .block-content .block-footer</code> 加入 content padding。 <code>.block-header</code> 以及 <code>.block-footer</code> 有三種樣式，一般、下框線、或有背景色，以及可加入 <code>.block-options</code></p>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="col-block">
                <div class="block-header has-border"><code>.block-header</code></div>
                <div class="block-content"><code>.block-content</code></div>
                <div class="block-footer has-border"><code>.block-footer</code></div>
            </div>
        </div>
        <div class="col-4">
            <div class="col-block">
                <div class="block-header has-border">
                    <div class="block-options">
                        <button class="clean active" data-action-mode="demo" data-action="refresh_toggle" data-toggle="block-option" type="button"><i class="fa fa-refresh"></i> Refresh</button>
                    </div>
                </div>
                <div class="block-content"><code>.block-content</code></div>
                <div class="block-footer has-bg"><code>.block-footer</code></div>
            </div>
        </div>
        <div class="col-4">
            <div>
                <div class="block-header">
                    <code>.block-header</code>
                    <div class="block-options float-end">
                        <button class="clean" title="block-options"><i class="fa fa-cog"></i> <code>.block-options .float-end</code></button>
                    </div>
                </div>
                <div class="block-content"><code>.block-content</code></div>
                <div class="block-footer"><code>.block-footer</code></div>
            </div>
        </div>
    </div>
    <h4 class="content-heading">Block Header</h4>
    <div class="row">
        <div class="col-4">
            <div class="col-block">
                <div class="block-header has-border">
                    <code>.block-header</code>
                    <div class="float-end">
                        <button type="button" class="btn btn-sm btn-primary">全選</button>
                        <button type="button" class="btn btn-sm btn-primary">全不選</button>
                        <button type="button" class="btn btn-sm btn-primary">重新整理</button>
                    </div>
                </div>
                <div class="block-content"><code>.block-content</code></div>
            </div>
        </div>
        <div class="col-4">
            <div class="col-block">
                <div class="block-header has-bg">
                    <code>.block-header</code>
                    <div class="btn-group btn-group-sm float-end">
                        <button type="button" class="btn btn-angel">Action</button>
                        <button type="button" class="btn btn-angel dropdown-toggle px-3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </div>
                <div class="block-content"><code>.block-content</code></div>
            </div>
        </div>
        <div class="col-4">
            <div class="col-block">
                <div class="block-header has-border">
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-angel">Middle</button>
                        <button type="button" class="btn btn-angel">Right</button>
                        <button type="button" class="btn btn-angel">Action</button>
                        <button type="button" class="btn btn-angel dropdown-toggle px-3" data-mdb-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                    <div class="block-options float-end">
                        <button class="clean" data-action-mode="demo" data-action="refresh_toggle" data-mdb-toggle="block-option" type="button"><i class="fas fa-sync-alt"></i></button>
                    </div>
                </div>
                <div class="block-content"><code>.block-content</code></div>
            </div>
        </div>
    </div>
    <h4 class="content-heading">Themed</h4>
    <div class="row">
        <div class="col-3">
            <div class="col-block">
                <div class="block-header bg-success lighten">Success</div>
                <div class="block-content">Block’s content..</div>
            </div>
        </div>
        <div class="col-3">
            <div class="col-block">
                <div class="block-header bg-info lighten">Info</div>
                <div class="block-content">Block’s content..</div>
            </div>
        </div>
        <div class="col-3">
            <div class="col-block">
                <div class="block-header bg-primary lighten">Primary</div>
                <div class="block-content">Block’s content..</div>
            </div>
        </div>
        <div class="col-3">
            <div class="col-block">
                <div class="block-header bg-warning lighten">Warning</div>
                <div class="block-content">Block’s content..</div>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-3">
            <div class="col-block">
                <div class="block-header bg-danger lighten">Danger</div>
                <div class="block-content">Block’s content..</div>
            </div>
        </div>
        <div class="col-3">
            <div class="col-block">
                <div class="block-header bg-darkgray">Darkgray</div>
                <div class="block-content">Block’s content..</div>
            </div>
        </div>
        <div class="col-3">
            <div class="col-block">
                <div class="block-header bg-muted">Muted</div>
                <div class="block-content">Block’s content..</div>
            </div>
        </div>
        <div class="col-3">
            <div class="col-block">
                <div class="block-header has-border">block title</div>
                <div class="block-content">Block’s content..</div>
            </div>
        </div>
    </div>
    <h4 class="content-heading">Transparent</h4>
    <div class="row">
        <div class="col-6">
            <div class="block-header"><h5><%= lorem_sentence %></h5></div>
            <div class="block-content"><%= lorem_sentences(5) %></div>
        </div>
        <div class="col-6">
            <div class="block-header"><%= lorem_sentence %></div>
            <div class="block-content"><%= lorem_sentences(5) %></div>
        </div>
    </div>
    <h4 class="content-heading">Block Expansion</h4>
    <div class="row">
        <div class="col-12">
            <div class="col-block">
                <div class="block-header">
                    Block Expansion
                    <code class="float-end">.block-content .expansion</code>
                </div>
                <div class="block-content expansion">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 50px;" class="text-center">#</th>
                                <th>Name</th>
                                <th style="width: 15%;" class="hidden-xs">Access</th>
                                <th style="width: 100px;" class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% (1..6).map do |i| %>
                            <tr>
                                <td class="text-center"><%= i %></td>
                                <td><%= lorem_name %></td>
                                <td class="hidden-xs">
                                    <% if i % 2 == 0 %>
                                    <span class="label label-warning"><%= lorem_word %></span>
                                    <% else %>
                                    <span class="label label-primary"><%= lorem_word %></span>
                                    <% end %>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group btn-group-sm unshadow">
                                        <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-white" data-original-title="Edit Client"><i class="fas fa-pencil-alt"></i></button>
                                        <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-white" data-original-title="Remove Client"><i class="fa fa-times"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<% content_for :js do %>
    
    <script>
    
        $('.dropdown-toggle').dropdown()
        
    </script>

<% end %>