<!-- admin-page: UI / Block Tabs -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>Block Tabs</h2>
    </div>
    <div class="row">
		<div class="col-6">
            <div class="col-block block-tabs">

                <ul class="nav nav-tabs" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="ex1-tab-1" data-mdb-toggle="tab" href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1" aria-selected="true">Tab 1</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ex1-tab-2" data-mdb-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2" aria-selected="false">Tab 2</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ex1-tab-3" data-mdb-toggle="tab" href="#ex1-tabs-3" role="tab" aria-controls="ex1-tabs-3" aria-selected="false">Tab 3</a>
                    </li>
                </ul>

                <div class="block-content tab-content" id="ex1-content">
                    <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                        <%= zh_lorem_sentences(5) %>
                    </div>
                    <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                        <%= lorem_sentences(5) %>
                    </div>
                    <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                        <%= lorem_sentences(5) %>
                    </div>
                </div>

            </div>
        </div>
		
		<div class="col-6">
            <div class="col-block block-tabs">

                <ul class="nav nav-tabs nav-fill" id="ex2" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="ex2-tab-1" data-mdb-toggle="tab" href="#ex2-tabs-1" role="tab" aria-controls="ex2-tabs-1" aria-selected="true">Tab 1</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ex2-tab-2" data-mdb-toggle="tab" href="#ex2-tabs-2" role="tab" aria-controls="ex2-tabs-2" aria-selected="false">Tab 2</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ex2-tab-3" data-mdb-toggle="tab" href="#ex2-tabs-3" role="tab" aria-controls="ex2-tabs-3" aria-selected="false">Tab 3</a>
                    </li>
                </ul>

                <div class="block-content tab-content" id="ex2-content">
                    <div class="tab-pane fade show active" id="ex2-tabs-1" role="tabpanel" aria-labelledby="ex2-tab-1">
                        <%= lorem_sentences(5) %>
                    </div>
                    <div class="tab-pane fade" id="ex2-tabs-2" role="tabpanel" aria-labelledby="ex2-tab-2">
                        <%= lorem_sentences(5) %>
                    </div>
                    <div class="tab-pane fade" id="ex2-tabs-3" role="tabpanel" aria-labelledby="ex2-tab-3">
                        <%= lorem_sentences(5) %>
                    </div>
                </div>

            </div>
        </div>
		
		<div class="col-6">
            <div class="col-block">
				<div class="block-header has-border">MDBootstrap Style</div>
                <div class="block-content">
                    <!-- Tabs navs -->
                    <ul class="nav nav-tabs" id="ex3" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="ex3-tab-1" data-mdb-toggle="tab" href="#ex3-tabs-1" role="tab" aria-controls="ex3-tabs-1" aria-selected="true">Tab 1</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="ex3-tab-2" data-mdb-toggle="tab" href="#ex3-tabs-2" role="tab" aria-controls="ex3-tabs-2" aria-selected="false">Tab 2</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="ex3-tab-3" data-mdb-toggle="tab" href="#ex3-tabs-3" role="tab" aria-controls="ex3-tabs-3" aria-selected="false">Tab 3</a>
                        </li>
                    </ul>
                    <!-- Tabs navs -->

                    <!-- Tabs content -->
                    <div class="tab-content" id="ex3-content">
                        <div class="tab-pane fade show active" id="ex3-tabs-1" role="tabpanel" aria-labelledby="ex3-tab-1">
                            <%= lorem_sentences(5) %>
                        </div>
                        <div class="tab-pane fade" id="ex3-tabs-2" role="tabpanel" aria-labelledby="ex3-tab-2">
                            <%= lorem_sentences(5) %>
                        </div>
                        <div class="tab-pane fade" id="ex3-tabs-3" role="tabpanel" aria-labelledby="ex3-tab-3">
                            <%= lorem_sentences(5) %>
                        </div>
                    </div>
                    <!-- Tabs content -->

                </div>

            </div>
        </div>
		
		<div class="col-6">
            <div class="col-block">
				<div class="block-header has-border">MDBootstrap Style</div>
                <div class="block-content">
                    <ul class="nav nav-tabs nav-fill" id="ex4-content">
                        <li class="nav-item">
							<a class="nav-link active" id="ex4-tab-1" data-mdb-toggle="tab" href="#ex4-tabs-1" role="tab" aria-controls="ex4-tabs-1" aria-selected="true">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-mdb-toggle="tab" href="#ex4-tabs-3" role="tab" aria-controls="ex4-tabs-3" aria-selected="false">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" data-mdb-toggle="tab" href="#ex4-tabs-4" role="tab" aria-controls="ex4-tabs-4" aria-selected="false">Disabled</a>
                        </li>
                    </ul>

                    <!-- Tabs content -->
                    <div class="tab-content" id="ex4-content">
                        <div class="tab-pane fade show active" id="ex4-tabs-1" role="tabpanel" aria-labelledby="ex4-tab-1">
                            <%= zh_lorem_sentences(5) %>
                        </div>
                        <div class="tab-pane fade" id="ex4-tabs-2" role="tabpanel" aria-labelledby="ex4-tab-2">
                            <%= lorem_sentences(5) %>
                        </div>
                        <div class="tab-pane fade" id="ex4-tabs-3" role="tabpanel" aria-labelledby="ex4-tab-3">
                            <%= lorem_sentences(5) %>
                        </div>
						<div class="tab-pane fade" id="ex4-tabs-4" role="tabpanel" aria-labelledby="ex4-tab-4">
                            <%= lorem_sentences(5) %>
                        </div>
                    </div>
                    <!-- Tabs content -->

                </div>

            </div>
        </div>
    </div>
</main>

<% content_for :js do %>
    <script>
		$('#myTabs a').click(function (e) {
			e.preventDefault()
			$(this).tab('show')
		})
    </script>
<% end %>