<!-- template: 法規、最新消息(單篇) -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container-lg">
	<div class="page-content d-block">
        
        <article class="article">
            
            <div class="article-title">
                <h3>臺中市玩具銀行玩具回收大作戰邀請您一起來參加</h3>
                <span class="date">上架日期：2022-01-01</span>
            </div>
            
            <div class="posted-wrapper">
                <h4><%= lorem_sentence %></h4>
                <h5><%= lorem_sentence %></h5>
                <% (1..2).map do |i| %>
                <p><%= lorem_paragraphs(2) %></p>
                <p><%= lorem_paragraphs(3) %></p>
                <% end %>
            </div>
            
            <div class="attach-files">
                <a href="#" title="{連結名稱}"><span>招收2足歲幼生幼兒園.pdf</span></a>
                <a href="#" title="{連結名稱}"><span>學前特教班.pdf</span></a>
                <a href="#" title="{連結名稱}"><span>非營利幼兒園.pdf</span></a>
            </div>
            
            <div class="text-center">
                <button type="button" class="btn btn-lg btn-dark btn-rounded">
                    <i class="fas fa-long-arrow-alt-left"></i>
                    返回
                </button>
            </div>
            
        </article>
        
	</div>
</div>


<% content_for :js do %>


<% end %>










