<!-- template: 登記報名 - 送出申請 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container-lg">
    
    <!-- review 或補件時增加 .submit-content -->
	<div class="page-content submit-content d-block">
        
        <!--div class="page-title">
            <h3>送出申請</h3>
        </div-->
        
        <div class="step-wrapper">
            <div class="scrollbar-inner">
                <ul class="step-menu menu-item">
                    <li class="step-item done">
                        <span class="number">1</span>
                        <span class="description">申請人驗證</span>
                    </li>
                    <li class="step-item done">
                        <span class="number">2</span>
                        <span class="description">申請表</span>
                    </li>
                    <li class="step-item done">
                        <span class="number">3</span>
                        <span class="description">選擇托育機構</span>
                    </li>
                    <li class="step-item done">
                        <span class="number">4</span>
                        <span class="description">選擇身分別</span>
                    </li>
                    <li class="step-item done">
                        <span class="number">5</span>
                        <span class="description">上傳佐證資料</span>
                    </li>
                    <li class="step-item current">
                        <span class="number">6</span>
                        <span class="description">送出申請</span>
                    </li>
                </ul>
            </div>
        </div>
        
        <section class="section">
            <div class="section-title">
                <h4>幼兒</h4>
            </div>
            
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="form-label">幼兒姓名</label>
                        <input type="text" class="form-control" value="<%= zh_lorem_name %>" disabled readonly />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="form-label">身分證字號</label>
                        <input type="text" class="form-control" value="B123456789" disabled readonly />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="form-label">生日</label>
                        <input type="text" class="form-control" value="2019-08-18" disabled readonly />
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="form-label">幼兒於候補期間照顧情形 <span class="required">*</span></label>
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="careSituation" id="careSituation1" checked disabled />
                        <label class="form-check-label" for="careSituation1">
                            父母或監護人自行照顧
                        </label>
                    </div>
                    <div class="check-situation">
                        <label class="form-label">是否育嬰留職停薪</label>
                        <div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="careSuspension" checked disabled />
                                <label class="form-check-label" for="careSuspensionYes">
                                    是
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="form-label">幼兒報名其他公托情形</label>
                <div>
                    <span class="childcare-span">臺中市森林種籽托嬰中心</span>
                    <span class="childcare-span">居家托育嬰幼兒教室</span>
                </div>
            </div>
            
            <div class="form-group">
                <label class="form-label">戶籍地址 <span class="required">*</span></label>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="mb-2">
                            <input type="text" class="form-control" value="台中市" disabled readonly />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" value="北屯區" disabled readonly />
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-2">
                            <input type="text" class="form-control" value="平德路82巷5號" disabled readonly />
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="form-label">通訊地址 <span class="required">*</span></label>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" id="flexCheckDefault" checked disabled />
                    <label class="form-check-label" for="flexCheckDefault">
                        同戶籍地址
                    </label>
                </div>
            </div>
        </section>
        
        <section class="section">
            <div class="section-title">
                <h4>申請人</h4>
            </div>
            
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="form-label">申請人姓名</label>
                        <input type="text" class="form-control" value="<%= zh_lorem_name %>" disabled readonly />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="form-label">申請人與幼兒關係</label>
                        <input type="text" class="form-control" value="父女" disabled readonly />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="" class="form-label">申請人 Email</label>
                        <input type="text" class="form-control" value="<%= lorem_email %>" disabled readonly />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="form-label">申請人聯絡電話(住家)</label>
                        <input type="text" class="form-control" value="04-12345678" disabled readonly />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="form-label">申請人聯絡電話(公司)</label>
                        <input type="text" class="form-control" value="04-12345678" disabled readonly />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="form-label">申請人聯絡電話(手機)</label>
                        <input type="text" class="form-control" id="" value="0912345678" disabled readonly />
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section">
            <div class="section-title">
                <h4>第二位聯絡人</h4>
            </div>
            
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="form-label">第二位聯絡人姓名</label>
                        <input type="text" class="form-control" value="<%= zh_lorem_name %>" disabled readonly />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="form-label">第二位聯絡人與幼兒關係</label>
                        <input type="text" class="form-control" value="母女" disabled readonly />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="form-label">第二位聯絡人 Email</label>
                        <input type="text" class="form-control" value="<%= lorem_email %>" disabled readonly />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="form-label">第二位聯絡人聯絡電話(住家)</label>
                        <input type="text" class="form-control" value="04-12345678" disabled readonly />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="form-label">第二位聯絡人聯絡電話(公司)</label>
                        <input type="text" class="form-control" value="04-12345678" disabled readonly />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="form-label">第二位聯絡人聯絡電話(手機)</label>
                        <input type="text" class="form-control" id="" value="0912345678" disabled readonly />
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section">
            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="checkAgree" checked disabled />
                <label class="form-check-label" for="checkAgree">
                    我同意
                </label>
                <a class="d-inline-block ms-1" href="#" data-bs-toggle="modal" data-bs-target="#attentionModal" title="注意事項">注意事項</a>
            </div>
            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="checkSuspension" checked disabled />
                <label class="form-check-label" for="checkSuspension">
                    父母一方有以本身請嬰幼兒之名義申辦育嬰留職停薪，同意於正式入托起三十日內，提供復職證明，未提出者，同意退托。
                </label>
            </div>
        </section>
        
        <section class="section">
            <div class="section-title">
                <h4>佐證資料</h4>
            </div>
            <div class="upload-wrapper fluid-wrapper register-upload">
                <div class="upload-item">
                    <div class="item-bd">
                        <h4>臺中市公設民營東區大致國小托嬰中心</h4>
                        <p>設置於社會住宅或里 、社區活動中心之公托，該社會住宅住戶 或 里、社區別活動中心之設籍居民。</p>
                        <div class="form-check mb-1">
                            <input class="form-check-input" type="radio" name="flex1Radio" id="flex1Radio3" checked disabled />
                            <label class="form-check-label" for="flex1Radio3">
                                自行上傳佐證資料
                            </label>
                        </div>
                    </div>
                    <div class="ft-action">
                        <span>
                            <div class="file-pill">
                                <!-- 避免檔名過長有限制最大寬度 192px，超出時會字元會省略 -->
                                <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg" title="{連結名稱}">避免檔名過長有限制最大寬度.jpg</a>
                                <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除" disabled>
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </span>
                        <span>
                            <div class="file-pill">
                                <!-- 避免檔名過長有限制最大寬度 192px，超出時會字元會省略 -->
                                <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg" title="{連結名稱}">避免檔名過長有限制最大寬度.jpg</a>
                                <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除" disabled>
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </span>
                        <span class="last-time">最後更新時間 : 2024-08-02 12:00</span>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section">
            <div class="section-title">
                <h4>佐證資料</h4>
            </div>
            <div class="upload-wrapper fluid-wrapper register-upload">
                <div class="upload-item">
                    <div class="item-bd">
                        <h4>臺中市公設民營東區大致國小托嬰中心</h4>
                        <p>設置於社會住宅或里 、社區活動中心之公托，該社會住宅住戶 或 里、社區別活動中心之設籍居民。</p>
                        <div class="form-check mb-1">
                            <input class="form-check-input" type="radio" name="flex2Radio" id="flex2Radio8" checked disabled />
                            <label class="form-check-label" for="flex2Radio8">
                                自行上傳佐證資料
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <div class="form-action">
            <button type="button" class="btn btn-lg btn-light">上一步</button>
            <button type="submit" class="btn btn-lg btn-primary">送出申請</button>
        </div>
        
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="attentionModal" tabindex="-1" aria-labelledby="attentionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="attentionModalLabel">注意事項</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><%= lorem_sentence %></p>
                <p><%= lorem_sentence %></p>
                <ol>
                    <% (1..6).map do |i| %>
                    <li><%= lorem_sentence %></li>
                    <% end %>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<!-- mobile 視窗指定卷軸位置 -->
<script>
$(document).ready(function() {
    // 判斷是否為小視窗
    if ($(window).width() <= 768) {
        // 設定橫向卷軸到指定的 .current 元素位置
        var currentItem = $('.step-item.current');
        if (currentItem.length) {
            var scrollPosition = currentItem.position().left;
            $('.scrollbar-inner').scrollLeft(scrollPosition);
        }
    }
});
</script>

<% end %>










