<!-- template: 登記報名 - 申請表 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container-lg">
	<div class="page-content d-block">
        
        <!--div class="page-title">
            <h3>申請表</h3>
        </div-->
        
        <div class="step-wrapper">
            <div class="scrollbar-inner">
                <ul class="step-menu menu-item">
                    <li class="step-item done">
                        <span class="number">1</span>
                        <span class="description">申請人驗證</span>
                    </li>
                    <li class="step-item current">
                        <span class="number">2</span>
                        <span class="description">申請表</span>
                    </li>
                    <li class="step-item">
                        <span class="number">3</span>
                        <span class="description">選擇托育機構</span>
                    </li>
                    <li class="step-item">
                        <span class="number">4</span>
                        <span class="description">選擇身分別</span>
                    </li>
                    <li class="step-item">
                        <span class="number">5</span>
                        <span class="description">上傳佐證資料</span>
                    </li>
                    <li class="step-item">
                        <span class="number">6</span>
                        <span class="description">送出申請</span>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="notice-wrapper">
            <p><%= lorem_paragraph %></p>
            <p><%= lorem_paragraph %></p>
        </div>
        
        <section class="section">
            <div class="section-title">
                <h4>幼兒</h4>
            </div>
            
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="formInput01" class="form-label">幼兒姓名 <span class="required">*</span></label>
                        <input type="text" class="form-control" id="formInput01" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="formInput02" class="form-label">身分證字號 <span class="required">*</span></label>
                        <input type="text" class="form-control" id="formInput02" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="formInput03" class="form-label">生日 <span class="required">*</span></label>
                        <input type="date" class="form-control" id="formInput03" name="trip-start1" value="2016-01-01" min="2016-01-01" max="2024-12-31">
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="form-label">幼兒於候補期間照顧情形 <span class="required">*</span></label>
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="careSituation" id="careSituation1" />
                        <label class="form-check-label" for="careSituation1">
                            父母或監護人自行照顧
                        </label>
                    </div>
                    <div class="check-situation">
                        <label class="form-label">是否育嬰留職停薪</label>
                        <div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="careSuspension" id="careSuspensionYes" />
                                <label class="form-check-label" for="careSuspensionYes">
                                    是
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="careSuspension" id="careSuspensionNo" />
                                <label class="form-check-label" for="careSuspensionNo">
                                    否
                                </label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="careSituation" id="careSituation2" />
                        <label class="form-check-label" for="careSituation2">
                            祖父母
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="careSituation" id="careSituation3" />
                        <label class="form-check-label" for="careSituation3">
                            其他三等親內親屬
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="careSituation" id="careSituation4" />
                        <label class="form-check-label" for="careSituation4">
                            準公托
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="careSituation" id="careSituation5" />
                        <label class="form-check-label" for="careSituation5">
                            私托
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="careSituation" id="careSituation6" />
                        <label class="form-check-label" for="careSituation6">
                            保母
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="careSituation" id="careSituation7" />
                        <label class="form-check-label" for="careSituation7">
                            其他
                        </label>
                    </div>
                    <div class="check-situation check-other">
                        <input type="text" class="form-control" id="" placeholder="請輸入其他" />
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="form-label">幼兒報名其他公托情形</label>
                <div>
                    <span class="childcare-span">臺中市森林種籽托嬰中心</span>
                    <span class="childcare-span">居家托育嬰幼兒教室</span>
                </div>
            </div>
            
            <div class="form-group">
                <label class="form-label">戶籍地址 <span class="required">*</span></label>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="mb-2">
                            <select class="form-select" aria-label="選擇縣市">
                                <option selected>請選擇縣市</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="mb-2">
                            <select class="form-select" aria-label="選擇區域">
                                <option selected>請選擇區域</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-2">
                            <input type="text" class="form-control" id="" placeholder="請輸入地址" />
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="form-label">通訊地址 <span class="required">*</span></label>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">
                        同戶籍地址
                    </label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="mb-2">
                            <select class="form-select" aria-label="選擇縣市">
                                <option selected>請選擇縣市</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="mb-2">
                            <select class="form-select" aria-label="選擇區域">
                                <option selected>請選擇區域</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-2">
                            <input type="text" class="form-control" id="" placeholder="請輸入地址" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section">
            <div class="section-title">
                <h4>申請人</h4>
            </div>
            
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="formInput05" class="form-label">申請人姓名 <span class="required">*</span></label>
                        <input type="text" class="form-control" id="formInput05" placeholder="請輸入"/>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="formInput06" class="form-label">申請人與幼兒關係 <span class="required">*</span></label>
                        <input type="text" class="form-control" id="formInput06" placeholder="請輸入"/>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="" class="form-label">申請人 Email</label>
                        <input type="text" class="form-control" id="" value="<%= lorem_email %>" disabled readonly />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="formInput07" class="form-label">申請人聯絡電話(住家)</label>
                        <input type="text" class="form-control" id="formInput07" placeholder="住家電話"/>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="formInput08" class="form-label">申請人聯絡電話(公司)</label>
                        <input type="text" class="form-control" id="formInput08" placeholder="公司電話"/>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="" class="form-label">申請人聯絡電話(手機)</label>
                        <input type="text" class="form-control" id="" value="0912345678" disabled readonly />
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section">
            <div class="section-title">
                <h4>第二位聯絡人</h4>
            </div>
            
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="formInput10" class="form-label">第二位聯絡人姓名 <span class="required">*</span></label>
                        <input type="text" class="form-control" id="formInput10" placeholder="請輸入"/>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="formInput11" class="form-label">第二位聯絡人與幼兒關係 <span class="required">*</span></label>
                        <input type="text" class="form-control" id="formInput11" placeholder="請輸入"/>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="formInput12" class="form-label">第二位聯絡人 Email</label>
                        <input type="email" class="form-control" id="formInput12" placeholder="請輸入"/>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="formInput13" class="form-label">第二位聯絡人聯絡電話(住家)</label>
                        <input type="text" class="form-control" id="formInput13" placeholder="住家電話"/>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="formInput14" class="form-label">第二位聯絡人聯絡電話(公司)</label>
                        <input type="text" class="form-control" id="formInput14" placeholder="公司電話"/>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="formInput15" class="form-label">第二位聯絡人聯絡電話(手機)</label>
                        <input type="text" class="form-control" id="formInput15" placeholder="手機號碼"/>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section">
            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="checkAgree" />
                <label class="form-check-label" for="checkAgree">
                    我同意
                </label>
                <a class="d-inline-block ms-1" href="#" data-bs-toggle="modal" data-bs-target="#attentionModal" title="注意事項">注意事項</a>
            </div>
            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="checkSuspension" />
                <label class="form-check-label" for="checkSuspension">
                    父母一方有以本身請嬰幼兒之名義申辦育嬰留職停薪，同意於正式入托起三十日內，提供復職證明，未提出者，同意退托。
                </label>
            </div>
        </section>
        
        <div class="form-action">
            <button type="button" class="btn btn-lg btn-primary">儲存</button>
            <button type="button" class="btn btn-lg btn-light">下一步</button>
        </div>
        
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="attentionModal" tabindex="-1" aria-labelledby="attentionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="attentionModalLabel">注意事項</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><%= lorem_sentence %></p>
                <p><%= lorem_sentence %></p>
                <ol>
                    <% (1..6).map do |i| %>
                    <li><%= lorem_sentence %></li>
                    <% end %>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<!-- mobile 視窗指定卷軸位置 -->
<script>
$(document).ready(function() {
    // 判斷是否為小視窗
    if ($(window).width() <= 768) {
        // 設定橫向卷軸到指定的 .current 元素位置
        var currentItem = $('.step-item.current');
        if (currentItem.length) {
            var scrollPosition = currentItem.position().left;
            $('.scrollbar-inner').scrollLeft(scrollPosition);
        }
    }
});
</script>

<% end %>










