
<div class="table-estimate-bar">
    <div class="btn-depth-0">
	    <button type="button" class="btn btn-sm btn-outline-success" data-toggle="modal" data-target="#newItemModal">新增工作階段</button>
		<button type="button" class="btn btn-sm btn-outline-info">套用範本</button>
		<button type="button" class="btn btn-sm btn-outline-info">加入範本</button>
	</div>
	<div class="percentage">
        <ul class="menu-item object-schedule">
            <li>
                <div class="schedule-pie"><img class="" src="../assets/fake/pie.png"></div>
                <div class="object">
                    <span class="neme">Eason</span>
                    <span>專案部經理</span>
                </div>
            </li>
            <li>
                <div class="schedule-pie"><img class="" src="../assets/fake/pie.png"></div>
                <div class="object">
                    <span class="neme">Amber</span>
                    <span>專案經理</span>
                </div>
            </li>
        </ul>
	</div>
</div>
<div class="table-responsive text-nowrap">
    <table class="table table-bordered table-estimate mb-0">
        <thead>
            <tr>
                <th><span>項次</span></th>
				<th class="text-left">工作項目</th>
				<th class="text-left">使用人力 / 工時</th>
				<th class="text-left">交付項目</th>
				<th class="text-left">其他成本</th>
				<th>評估天數</th>
				<th>操作</th>
            </tr>
        </thead>
        <tbody>
			<tr>
                <td colspan="6" class="colspan">
					<h5>1. 第一階段（110年3月31日前）</h5>
				</td>
				<td>
                    <div class="btn-group table-btn-group btn-group-sm unshadow">
                        <a class="btn btn-white" role="button" title="上移"><i class="fa fa-chevron-up"></i></a>
                        <a class="btn btn-white" role="button" title="下移"><i class="fa fa-chevron-down"></i></a>
                        <a class="btn btn-white" role="button" title="編輯"><i class="fa fa-pencil"></i></a>
						<a class="btn btn-white" role="button" title="刪除"><i class="fa fa-trash"></i></a>
						<a class="btn btn-white" role="button" title="新增子項目" data-toggle="modal" data-target="#newItemModal"><i class="fa fa-plus"></i></a>
                    </div>
				</td>
            </tr>
            <tr>
                <td class="text-center">1.1</td>
				<td class="step-subject">
				    <h6>專案啟動及專案規劃</h6>
					<div class="topic"><%= zh_lorem_paragraph %></div>
				</td>
				<td>
				    <ol class="indent-menu">
					    <li>專案經理 <a href="#" class="modal-link" data-toggle="modal" data-target="#evaluationModal">4 D</a></li>
						<li>系統分析師 <a href="#" class="modal-link" data-toggle="modal" data-target="#evaluationModal">2 D</a></li>
						<li>專案負責人 <a href="#" class="modal-link" data-toggle="modal" data-target="#evaluationModal">1 D</a></li>
					</ol>
				</td>
                <td>
				    <ol class="indent-menu">
						<li>專案計畫書 <a href="#" class="modal-link" data-toggle="modal" data-target="#evaluationModal">2 D</a></li>
					</ol>
				</td>
                <td class="text-break">交通費 (台北 -台東 3次) NT 2000</td>
                <td class="text-center">
					<a href="#" class="modal-link" data-toggle="modal" data-target="#evaluationModal">24 D</a>
				</td>
				<td>
                    <div class="btn-group table-btn-group btn-group-sm unshadow">
                        <a class="btn btn-white" role="button" title="上移"><i class="fa fa-chevron-up"></i></a>
                        <a class="btn btn-white" role="button" title="下移"><i class="fa fa-chevron-down"></i></a>
                        <a class="btn btn-white" role="button" title="編輯"><i class="fa fa-pencil"></i></a>
						<a class="btn btn-white" role="button" title="刪除"><i class="fa fa-trash"></i></a>
                    </div>
				</td>
            </tr>
			<tr>
                <td class="text-center">1.2</td>
				<td class="step-subject">
				    <h6>系統分析會議</h6>
					<div><%= zh_lorem_sentence %></div>
				</td>
				<td>
				    <ol class="indent-menu">
						<li>系統分析師 <a href="#" class="modal-link" data-toggle="modal" data-target="#evaluationModal">2 D</a></li>
					</ol>
				</td>
                <td>
				    <ol class="indent-menu">
						<li>專案計畫書 <a href="#" class="modal-link" data-toggle="modal" data-target="#evaluationModal">2 D</a></li>
					</ol>
				</td>
                <td class="text-break"></td>
                <td class="text-center">
					<a href="#" class="modal-link" data-toggle="modal" data-target="#evaluationModal">4 D</a>
				</td>
				<td>
                    <div class="btn-group table-btn-group btn-group-sm unshadow">
                        <a class="btn btn-white" role="button" title="上移"><i class="fa fa-chevron-up"></i></a>
                        <a class="btn btn-white" role="button" title="下移"><i class="fa fa-chevron-down"></i></a>
                        <a class="btn btn-white" role="button" title="編輯"><i class="fa fa-pencil"></i></a>
						<a class="btn btn-white" role="button" title="刪除"><i class="fa fa-trash"></i></a>
                    </div>
				</td>
            </tr>
        </tbody>
		
		<tbody>
			<tr>
                <td colspan="6" class="colspan">
					<h5>2. 第二階段（110年9月30日前）</h5>
				</td>
				<td>
                    <div class="btn-group table-btn-group btn-group-sm unshadow">
                        <a class="btn btn-white" role="button" title="上移"><i class="fa fa-chevron-up"></i></a>
                        <a class="btn btn-white" role="button" title="下移"><i class="fa fa-chevron-down"></i></a>
                        <a class="btn btn-white" role="button" title="編輯"><i class="fa fa-pencil"></i></a>
						<a class="btn btn-white" role="button" title="刪除"><i class="fa fa-trash"></i></a>
						<a class="btn btn-white" role="button" title="新增子項目" data-toggle="modal" data-target="#newItemModal"><i class="fa fa-plus"></i></a>
                    </div>
				</td>
            </tr>
            <tr>
                <td class="text-center">2.1</td>
				<td class="step-subject">
				    <h6>雛形系統開發</h6>
					<div class="topic"><%= zh_lorem_sentence %></div>
				</td>
				<td>
				    <ol class="indent-menu">
						<li>後端工程師 <a href="#" class="modal-link" data-toggle="modal" data-target="#evaluationModal">20 D</a></li>
						<li>專案負責人 <a href="#" class="modal-link" data-toggle="modal" data-target="#evaluationModal">10 D</a></li>
					</ol>
				</td>
                <td>
				    <ol class="indent-menu">
						<li>前台雛形 <a href="#" class="modal-link" data-toggle="modal" data-target="#evaluationModal">12 D</a></li>
						<li>後台雛形 <a href="#" class="modal-link" data-toggle="modal" data-target="#evaluationModal">16 D</a></li>
					</ol>
				</td>
                <td class="text-break"></td>
                <td class="text-center">
					<a href="#" class="modal-link" data-toggle="modal" data-target="#evaluationModal">28 D</a>
				</td>
				<td>
                    <div class="btn-group table-btn-group btn-group-sm unshadow">
                        <a class="btn btn-white" role="button" title="上移"><i class="fa fa-chevron-up"></i></a>
                        <a class="btn btn-white" role="button" title="下移"><i class="fa fa-chevron-down"></i></a>
                        <a class="btn btn-white" role="button" title="編輯"><i class="fa fa-pencil"></i></a>
						<a class="btn btn-white" role="button" title="刪除"><i class="fa fa-trash"></i></a>
                    </div>
				</td>
            </tr>
			<tr>
                <td class="text-center">2.2</td>
				<td class="step-subject">
				    <h6>系統開發</h6>
					<div class="topic"><%= zh_lorem_sentence %></div>
				</td>
				<td>
				    <ol class="indent-menu">
						<li>系統分析師 <a href="#" class="modal-link" data-toggle="modal" data-target="#evaluationModal">2 D</a></li>
					</ol>
				</td>
                <td>
				    <ol class="indent-menu">
						<li>專案計畫書 <a href="#" class="modal-link" data-toggle="modal" data-target="#evaluationModal">2 D</a></li>
					</ol>
				</td>
                <td class="text-break"></td>
                <td class="text-center">
					<a href="#" class="modal-link" data-toggle="modal" data-target="#evaluationModal">4 D</a>
				</td>
				<td>
                    <div class="btn-group table-btn-group btn-group-sm unshadow">
                        <a class="btn btn-white" role="button" title="上移"><i class="fa fa-chevron-up"></i></a>
                        <a class="btn btn-white" role="button" title="下移"><i class="fa fa-chevron-down"></i></a>
                        <a class="btn btn-white" role="button" title="編輯"><i class="fa fa-pencil"></i></a>
						<a class="btn btn-white" role="button" title="刪除"><i class="fa fa-trash"></i></a>
                    </div>
				</td>
            </tr>
			<tr>
                <td class="text-center">2.3</td>
				<td class="step-subject">
				    <h6>系統安裝</h6>
					<div class="topic"><%= zh_lorem_sentence %></div>
				</td>
				<td>
				    <ol class="indent-menu">
						<li>系統分析師 <a href="#" class="modal-link" data-toggle="modal" data-target="#evaluationModal">2 D</a></li>
					</ol>
				</td>
                <td>
				    <ol class="indent-menu">
						<li>專案計畫書 <a href="#" class="modal-link" data-toggle="modal" data-target="#evaluationModal">2 D</a></li>
					</ol>
				</td>
                <td class="text-break"></td>
                <td class="text-center">
					<a href="#" class="modal-link" data-toggle="modal" data-target="#evaluationModal">4 D</a>
				</td>
				<td>
                    <div class="btn-group table-btn-group btn-group-sm unshadow">
                        <a class="btn btn-white" role="button" title="上移"><i class="fa fa-chevron-up"></i></a>
                        <a class="btn btn-white" role="button" title="下移"><i class="fa fa-chevron-down"></i></a>
                        <a class="btn btn-white" role="button" title="編輯"><i class="fa fa-pencil"></i></a>
						<a class="btn btn-white" role="button" title="刪除"><i class="fa fa-trash"></i></a>
                    </div>
				</td>
            </tr>
			<tr>
                <td class="text-center">2.4</td>
				<td class="step-subject">
				    <h6>教育訓練</h6>
					<div class="topic"><%= zh_lorem_sentence %></div>
				</td>
				<td>
				    <ol class="indent-menu">
						<li>系統分析師 <a href="#" class="modal-link" data-toggle="modal" data-target="#evaluationModal">2 D</a></li>
					</ol>
				</td>
                <td>
				    <ol class="indent-menu">
						<li>專案計畫書 <a href="#" class="modal-link" data-toggle="modal" data-target="#evaluationModal">2 D</a></li>
					</ol>
				</td>
                <td class="text-break"></td>
                <td class="text-center">
					<a href="#" class="modal-link" data-toggle="modal" data-target="#evaluationModal">4 D</a>
				</td>
				<td>
                    <div class="btn-group table-btn-group btn-group-sm unshadow">
                        <a class="btn btn-white" role="button" title="上移"><i class="fa fa-chevron-up"></i></a>
                        <a class="btn btn-white" role="button" title="下移"><i class="fa fa-chevron-down"></i></a>
                        <a class="btn btn-white" role="button" title="編輯"><i class="fa fa-pencil"></i></a>
						<a class="btn btn-white" role="button" title="刪除"><i class="fa fa-trash"></i></a>
                    </div>
				</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="proposal-action">
	<a href="#" class="btn btn-link"><i class="fa fa-long-arrow-left"></i>回列表</a>
    <button type="button" class="btn btn-secondary">儲存</button>
</div>

<% content_for :js do %>
<script>
</script>
<% end %>