<!-- template: 實習心得 - 列表 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="page-content" id="maincontent">
    <div class="container-xl">
        <div class="section-title">
            <h3>實習心得<i></i><i></i></h3>
            <div class="page-select2">
                <select class="form-select" id="select-field" data-placeholder="輸入關鍵字檢索">
                    <option></option>
                    <option>Reactive</option>
                    <option>Solution</option>
                    <option>Conglomeration</option>
                    <option>Algoritm</option>
                    <option>Holistic</option>
                </select>
            </div>
        </div>
        <div class="experience-list-wrapper">
            <ul class="experience-list menu-item">
                
                <li class="experience-item">
                    <div class="inner">
                        <div class="avatar">
                            
                            <!-- 後台請註明：圖檔比例為正方形，e.g. 1024 x 1024 (px)，最小解析度 512 x 512 (px) -->
                            <!-- 後台圖檔上傳時請提供相片裁切工具並維持正方形比例 -->
                            <img src="https://i.pravatar.cc/512?img=49" class="d-block w-100" alt="..." />
                            
                        </div>
                        <div class="information">
                            <div class="blend-wrap">
                                
                                <!-- 要給 title -->
                                <span class="author" title="姓名"><%= zh_lorem_name %></span>
                                
                                <!-- a title 請前綴 "實習機構" -->
                                <a href="#" class="partner-link" data-bs-toggle="tooltip" data-bs-title="實習機構 德鐵信可" title="實習機構 德鐵信可">
                                    <img class="partner-logo" src="../assets/partner/db_schenker.png" alt="德鐵信可">
                                </a>
                            </div>
                            
                            <div class="intro-wrap">
                                
                                <!-- 要給 title -->
                                <span class="public" title="心得分享時間">
                                    <i class="far fa-calendar-alt me-1"></i>
                                    2024-03-21 12:00
                                </span>
                                
                                <!-- 最多 64 個字元 -->
                                <p class="experience-summary">今年景氣不佳，中國粗鋼前10個月生產8.75億噸，今年肯定會超過去年的10.1億噸。市場需求疲弱，中國產能全開，整個鋼鐵市場殺成...</p>
                            </div>
                            
                            <a href="#" class="experience-link" title="閱覽心得">閱覽心得</a>

                        </div>
                    </div>
                </li>
                
                <% (51..59).map do |i| %>
                <li class="experience-item">
                    <div class="inner">
                        <div class="avatar">
                            
                            <!-- 後台請註明：圖檔比例為正方形，e.g. 1024 x 1024 (px)，最小解析度 512 x 512 (px) -->
                            <!-- 後台圖檔上傳時請提供相片裁切工具並維持正方形比例 -->
                            <img src="https://i.pravatar.cc/512?img=<%= i %>" class="d-block w-100" alt="..." />
                            
                        </div>
                        <div class="information">
                            <div class="blend-wrap">
                                
                                <!-- 要給 title -->
                                <span class="author" title="姓名"><%= zh_lorem_name %><%= zh_lorem_name %></span>
                                
                                <!-- a title 請前綴 "實習機構" -->
                                <a href="#" class="partner-link" data-bs-toggle="tooltip" data-bs-title="實習機構 {連結名稱}" title="實習機構 {連結名稱}">
                                    <img class="partner-logo" src="../assets/partner/tsmc.png" alt="台積電">
                                </a>
                            </div>
                            
                            <div class="intro-wrap">
                                
                                <!-- 要給 title -->
                                <span class="public" title="心得分享時間">
                                    <i class="far fa-calendar-alt me-1"></i>
                                    2024-03-21 12:00
                                </span>
                                
                                <!-- 最多 64 個字元 -->
                                <p class="experience-summary">眼看英國和歐盟的壟斷監管機構遲遲不給交易放行，Adobe 最終決定放棄對 Figma 的 200 億美元大收購。在此之前，雙方已...</p>
                            </div>
                            
                            <a href="#" class="experience-link" title="閱覽心得">閱覽心得</a>

                        </div>
                    </div>
                </li>
                <% end %>
                
            </ul>
            <nav aria-label="...">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#"><span aria-hidden="true">&raquo;</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<% content_for :js do %>

<!-- Select2 -->
<script src="../javascripts/select2.full.min.js"></script>
<script>
$( '#select-field' ).select2( {
    theme: 'bootstrap-5'
} );
</script>

<!-- Tooltips -->
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

<% end %>

