<!-- template: 主辦團隊介紹 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="page-content" id="maincontent">
    <div class="container-xl">
        
        <div class="customized-wrapper">
            
            <section class="content-section">
                <div class="section-hd">
                    <h3 class="hd-title">督導並協調總體任務</h3>
                </div>
                <ul class="menu-item team-list">
                    <li class="team-item">
                        <div class="link-team">
                            <span class="avatar">
                                <img src="https://i.pravatar.cc/512?img=2" class="d-block w-100" alt="..." />
                            </span>
                            <div class="link-ft">
                                <span class="team_name">徐瑋勵</span>
                                <span class="team_title">主任</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            
            <section class="content-section">
                <div class="section-hd">
                    <h3 class="hd-title">綜理並協作總體業務</h3>
                </div>
                <ul class="menu-item team-list">
                    <li class="team-item">
                        <div class="link-team">
                            <span class="avatar">
                                <img src="https://i.pravatar.cc/512?img=3" class="d-block w-100" alt="..." />
                            </span>
                            <div class="link-ft">
                                <span class="team_name">林鳳琪</span>
                                <span class="team_title">執行長</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            
            <section class="content-section">
                <div class="section-hd">
                    <h3 class="hd-title">執行團隊 <small>(電話：02-3366-2046)</small></h3>
                </div>
                <ul class="menu-item team-list">
                    <% (31..33).map do |i| %>
                    <li class="team-item">
                        <div class="link-team">
                            <span class="avatar">
                                <img src="https://i.pravatar.cc/512?img=<%= i %>" class="d-block w-100" alt="..." />
                            </span>
                            <div class="link-ft">
                                <span class="team_name"><%= zh_lorem_name %></span>
                                <span class="team_title">資深專員</span>
                                <span class="team_email"><a href="mailto:jlluo@ntu.edu.tw">jlluo@ntu.edu.tw</a></span>
                            </div>
                        </div>
                    </li>
                    <% end %>
                </ul>
            </section>
            
            <section class="content-section">
                <div class="section-hd">
                    <h3 class="hd-title">支援團隊 <small>(電話：02-3366-2046)</small></h3>
                </div>
                <ul class="menu-item team-list">
                    <% (41..44).map do |i| %>
                    <li class="team-item">
                        <div class="link-team">
                            <span class="avatar">
                                <img src="https://i.pravatar.cc/512?img=<%= i %>" class="d-block w-100" alt="..." />
                            </span>
                            <div class="link-ft">
                                <span class="team_name"><%= zh_lorem_name %></span>
                                <span class="team_title">資深專員</span>
                                <span class="team_email"><a href="mailto:jlluo@ntu.edu.tw">jlluo@ntu.edu.tw</a></span>
                            </div>
                        </div>
                    </li>
                    <% end %>
                </ul>
            </section>
            
        </div>
        
    </div>
</div>


<% content_for :js do %>

<% end %>

