<!-- NCTU-Scholarship: 具結書  -->

<div class="container">
	<hgroup class="mb-4">
		<h4><%= lorem_sentence %></h4>
		<h3><span class="badge badge-warning">請閱讀並同意下列具結書</span></h3>
	</hgroup>
	<div class="pt-4">
	    <p><%= lorem_sentences(3) %></p>
		<p><%= lorem_sentences(5) %></p>
		<p><%= lorem_sentences(6) %></p>
		<p><%= lorem_sentences(2) %></p>
	</div>
	<div class="text-center">
		<a href="data_verification.html" class="btn btn-default">同意</a>
		<a href="overview.html" class="btn btn-blue-grey">不同意</a>
	</div>
</div>

