<!-- NCTU-Scholarship: 申請結果查詢  -->

<div class="container">
	<hgroup class="mb-4 step-hd">
		<h5>108 交大國際生新生獎學金</h5>
	</hgroup>
	<div class="result-wrap">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="schedule-tab" data-toggle="tab" href="#schedule" role="tab" aria-controls="schedule" aria-selected="true">審查進度/結果</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="application-tab" data-toggle="tab" href="#application" role="tab" aria-controls="application" aria-selected="false">申請資料</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="tuition-tab" data-toggle="tab" href="#tuition" role="tab" aria-controls="tuition" aria-selected="false">延遲繳學雜費申請</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			
			<!-- 審查進度/結果 -->
			<div class="tab-pane fade show active" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">
				<p>您已完成各申請步驟，並送出申請，經審查文件，有下列文件需補繳，請按<span class="text-warning font-weight-bold px-1">修改</span>重新上傳文件。</p>
				<h5>資格審查文件</h5>
				<p class="mb-3"><%= lorem_sentences(3) %></p>
				<div class="additional-documents">
					<div class="document-item">
						<div class="document-hd">
							<h6>1. NCTU 申請文件 form</h6>
							<p>上傳時間 <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
						</div>
						<div class="document-ft">
							<a href="#" class="btn btn-secondary btn-xs">說明</a>
							<a href="#" class="btn btn-info btn-xs">檢視</a>
							<a href="#" class="btn btn-warning btn-xs">修改</a>
						</div>
					</div>
					<div class="additional-description">
					    <%= lorem_sentences(3) %>
					</div>
				</div>
				<div class="additional-documents">
					<div class="document-item">
						<div class="document-hd">
							<h6>2. <%= lorem_sentence %></h6>
							<p>上傳時間 <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
						</div>
						<div class="document-ft">
							<a href="#" class="btn btn-secondary btn-xs">說明</a>
							<a href="#" class="btn btn-info btn-xs">檢視</a>
							<a href="#" class="btn btn-warning btn-xs">修改</a>
						</div>
					</div>
					<div class="additional-description">
					    <%= lorem_sentences(3) %>
					</div>
				</div>
			</div>
			
			<!-- 申請資料 -->
			<div class="tab-pane fade" id="application" role="tabpanel" aria-labelledby="application-tab">
				<div class="flow-wrap">
					<h5>個人資料</h5>
					<p class="mb-0"><%= lorem_sentences(3) %></p>
					<button type="button" class="btn btn-sm btn-primary mx-0" data-toggle="modal" data-target="#basicModal">View</button>
				</div>
				
				<div class="flow-wrap">
					<h5>入台證資料</h5>
					<p class="mb-0"><%= lorem_sentences(3) %></p>
					<button type="button" class="btn btn-sm btn-primary mx-0" data-toggle="modal" data-target="#basicModal2">View</button>
				</div>
				
				<div class="flow-wrap">
					<h5>學業及操行成績</h5>
					<p class="mb-3"><%= lorem_sentences(3) %></p>
					<div class="grade-wrap">
						<div class="w-50">
							<h6>操行成績</h6>
							<span>107-1 為 80 分</span>
							<span>107-2 為 80 分</span>
						</div>
						<div class="w-50">
							<h6>學業成績</h6>
							<span>107-1 為 80 分</span>
							<span>107-2 為 80 分</span>
						</div>
					</div>
					<button type="button" class="btn btn-sm btn-primary mx-0" data-toggle="modal" data-target="#basicModal3">學業成績平均分數明細</button>
				</div>
				
				<div class="flow-wrap">
					<h5>繳交文件</h5>
					<p class="mb-0">需上傳繳交 10 個文件，尚缺 0 個文件</p>
					<p class="mb-0">待補件 1 件</p>
					<button type="button" class="btn btn-sm btn-primary mx-0" data-toggle="modal" data-target="#basicModal4">View</button>
				</div>
				
				<div class="flow-wrap">
					<h5>線上推薦信</h5>
					<p class="mb-0">推薦人已完成填寫</p>
					<p class="text-danger mb-0">推薦人尚未完成填寫</p>
					<button type="button" class="btn btn-sm btn-primary mx-0" data-toggle="modal" data-target="#basicModal5">View</button>
				</div>
			</div>
			
			<!-- 延遲繳學雜費申請 -->
			<div class="tab-pane fade" id="tuition" role="tabpanel" aria-labelledby="tuition-tab">
				<form>
					<div class="late-payment">
						<div class="form-row">
							<div class="form-group col-6">
								<label>學號</label>
								<div>750750</div>
							</div>
							<div class="form-group col-6">
								<label>申請日期</label>
								<div>YYYY / MM / DD</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-6">
								<label>姓名</label>
								<div>柯米克</div>
							</div>
							<div class="form-group col-6">
								<label>就讀學位</label>
								<div>學士班</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-6">
								<label>系所</label>
								<div>工學院土木工程系 ２ 年級</div>
							</div>
							<div class="form-group col-6">
								<label>手機號碼</label>
								<div>921888888</div>
							</div>
						</div>
						<div class="form-group">
							<label>預計繳交學雜費日期</label>
							<div>123456789</div>
						</div>
						<div class="form-group">
							<label for="controlTextarea1">申請主旨</label>
							<textarea class="form-control rounded-0" id="controlTextarea1" rows="3"></textarea>
							<p class="form-text text-muted">請簡要陳述請求事項</p>
						</div>
						<div class="form-group">
							<label for="controlTextarea2">詳細說明</label>
							<textarea class="form-control rounded-0" id="controlTextarea2" rows="6"></textarea>
						</div>
						<div class="text-center">
							<a href="/" class="btn btn-default btn-lg mr-5 waves-effect waves-light">送出申請</a>
							<a data-toggle="modal" data-target="#basicModal6" class="">列印</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<%= render :partial => "/partials/review" %>





















