<!-- NCTU-Scholarship: 資格檢查不符 - 警告  -->

<div class="container">
	<hgroup class="mb-4">
		<h4><%= lorem_sentence %></h4>
		<h3><span class="badge badge-warning">申請資格可能不符</span></h3>
	</hgroup>
	<div class="mb-5">
	    <p><%= lorem_sentences(5) %></p>
		<p><%= lorem_sentences(6) %></p>
	</div>
	<hr />
	<div class="pt-4">
	    <p><%= lorem_sentences(3) %></p>
		<p><%= lorem_sentences(5) %></p>
		<p><%= lorem_sentences(6) %></p>
		<p><%= lorem_sentences(2) %></p>
	</div>
	<div class="text-center">
		<a href="consent.html" class="btn btn-default">我符合資格、繼續申請</a>
		<a href="overview.html" class="btn btn-blue-grey">取消</a>
	</div>
</div>

