<% I18n.locale = "zh-TW" %>
<!doctype html>
<html lang="<%= I18n.locale %>" class="no-js">
<head>
    <%= render :partial => "/partials/head" %>
</head>
<body>
	<div class="workspace" canvas="container">
        <div class="pages general-pages">
            <%= render :partial => "/partials/header_login" %>
            <div class="content">
                <%= yield %>
            </div>
            <a id="backtop"></a>
        </div>
		<%= render :partial => "/partials/footer" %>
	</div>
	
    <script src="../javascripts/jquery-3.6.0.min.js"></script>
    <script src="../javascripts/popper.min.js"></script>
    <script src="../javascripts/bootstrap.bundle.js"></script>
    
    <!-- Back to top -->
    <script>
        var btn = $('#backtop');

        $(window).scroll(function() {
          if ($(window).scrollTop() > 600) {
            btn.addClass('show');
          } else {
            btn.removeClass('show');
          }
        });

        btn.on('click', function(e) {
          e.preventDefault();
          $('html, body').animate({scrollTop:0}, '300');
        });
    </script>
	
    <!-- sidenav scrollbar -->
    <script src="../javascripts/jquery.scrollbar.min.js"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('.scrollbar-inner').scrollbar();
        });
	</script>
	
    <%= yield :js %>
</body>
</html>
