<!-- TMU-SAP: 教職員-檢視申請表  -->

<div class="container">
    <h3>審查結果</h3>
    <div class="mb-4">
        <div class="form-wrap">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">審查人員</label>
                <div class="col-sm-9">
                    <div class="ans-control">秘書處 林XX</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">審查結果</label>
                <div class="col-sm-9">
                    <div class="ans-control">退補件</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">退補件說明</label>
                <div class="col-sm-9">
                    <div class="ans-control"><%= zh_lorem_paragraph %></div>
                </div>
            </div>
        </div>
        <div class="form-action text-center">
            <button onclick="location.href='index.html';" type="button" class="btn purple-gradient btn-lg">關閉</button>
            <button onclick="location.href='new_form.html';"  type="button" class="btn blue-gradient btn-lg">修改重送</button>
        </div>
    </div>
    <h3>申請資料</h3>
    <form class="preview">
        <div class="form-wrap">
            <div class="form-title mb-4">
                <h5>1. 學術活動基本資料檔</h5>
            </div>
            <div class="form-group row">
                <label for="text_1" class="col-sm-3 col-form-label">活動名稱</label>
                <div class="col-sm-9">
                    <div class="ans-control"><%= zh_lorem_sentence %></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="text_2" class="col-sm-3 col-form-label">活動名稱(英文)</label>
                <div class="col-sm-9">
                    <div class="ans-control"><%= lorem_sentence %></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="text_3" class="col-sm-3 col-form-label">活動說明</label>
                <div class="col-sm-9">
                    <div class="ans-control"><%= zh_lorem_paragraph %></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="text_4" class="col-sm-3 col-form-label">活動說明(英文)</label>
                <div class="col-sm-9">
                    <div class="ans-control"><%= lorem_paragraph %></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="text_5" class="col-sm-3 col-form-label">是否線上報名</label>
                <div class="col-sm-9 form-inline">
                    <div class="form-check">
                        <div class="ans-control">是</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="text_6" class="col-sm-3 col-form-label">開放人數</label>
                <div class="col-sm-4">
                    <div class="ans-control">2000</div>
                </div>
            </div>
            <div class="form-group row">
                <label for="text_7" class="col-sm-3 col-form-label">開始日期</label>
                <div class="col-sm-4">
                    <div class="ans-control">2018/12/01 09:00:00</div>
                </div>
            </div>
            <div class="form-group row">
                <label for="text_8" class="col-sm-3 col-form-label">結束日期</label>
                <div class="col-sm-4">
                    <div class="ans-control">2018/12/01 18:00:00</div>
                </div>
            </div>
            <div class="form-group row">
                <label for="text_9" class="col-sm-3 col-form-label">活動地點</label>
                <div class="col-sm-9">
                    <div class="ans-control">110台北市信義區仁愛路四段505號</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">活動類別</label>
                <div class="col-sm-4">
                    <div class="ans-control">研討會</div>
                </div> 
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">舉辦單位</label>
                <div class="col-sm-9">
                    <div class="ans-control">醫學系</div>
                </div>
            </div>
            <div class="form-group row">
                <label for="text_10" class="col-sm-3 col-form-label">公開媒體別</label>
                <div class="col-sm-9 form-inline">
                    <div class="ans-control">學術活動網、iTMU App、電視牆</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">是否播放電視牆</label>
                <div class="col-sm-9 form-inline">
                    <div class="ans-control">是</div>
                </div>
            </div>
            <div class="form-group row"> 
                <label for="" class="col-sm-3 col-form-label">發送 iTMU 簡訊</label>
                <div class="col-sm-9 form-inline">
                    <div class="ans-control">是</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">活動介紹檔案</label>
                <div class="col-sm-9">
                    <div class="ans-control">
                        <button class="btn btn-success btn-xs un-shadows float-left">檢視</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-wrap">
            <div class="form-title mb-4">
                <h5>2. iTMU 簡訊內容檔</h5>
            </div>
            <div class="form-group row">
                <label for="text_21" class="col-sm-3 col-form-label">推播時間</label>
                <div class="col-sm-4">
                    <div class="ans-control">2018/12/01 09:00:00</div>
                </div>
            </div>
            <div class="form-group row">
                <label for="text_22" class="col-sm-3 col-form-label">Itmu 發送內容</label>
                <div class="col-sm-9">
                    <div class="ans-control"><%= zh_lorem_paragraph %></div>
                </div>
            </div>
        </div>
        
        <div class="form-wrap">
            <div class="form-title mb-4">
                <h5>3. 電視牆內容檔</h5>
            </div>
            <div class="form-group row">
                <label for="text_23" class="col-sm-3 col-form-label">開始播放日期</label>
                <div class="col-sm-4">
                    <div class="ans-control">2018/12/01 09:00:00</div>
                </div>
            </div>
            <div class="form-group row">
                <label for="text_24" class="col-sm-3 col-form-label">結束播放日期</label>
                <div class="col-sm-4">
                    <div class="ans-control">2018/12/01 21:00:00</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">活動介紹檔案</label>
                <div class="col-sm-9">
                    <div class="ans-control">
                        <button class="btn btn-success btn-xs un-shadows float-left">檢視</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-wrap">
            <div class="form-title mb-4">
                <h5>4. 學術活動網內容檔</h5>
            </div>
            <div class="form-group row">
                <label for="text_25" class="col-sm-3 col-form-label">是否線上報名</label>
                <div class="col-sm-9 form-inline">
                    <div class="ans-control">是</div>
                </div>
            </div>
            <div class="form-group row">
                <label for="text_26" class="col-sm-3 col-form-label">開放人數</label>
                <div class="col-sm-4">
                    <div class="ans-control">2000</div>
                </div>
            </div>
            <div class="form-group row">
                <label for="text_27" class="col-sm-3 col-form-label">是否開放瀏覽報名人數</label>
                <div class="col-sm-9 form-inline">
                    <div class="ans-control">是</div>
                </div>
            </div>
            <div class="form-group row">
                <label for="text_28" class="col-sm-3 col-form-label">參考連結</label>
                <div class="col-sm-9">
                    <div class="ans-control"><a href="https://www.google.com.tw/" target="_blank">google.com</a></div>
                </div>
            </div>
        </div>
        
    </form>
</div>

<% content_for :js do %>

<script>
	$(document).ready(function() {
		$('.mdb-select').material_select();
	});
</script>

<% end %>