<!-- template: 首頁 -->

<div class="container-lg">
	<div class="index-content">
        
	    <div class="important-block">
            <div class="important-inner">
                <h4>Important</h4>
                <p>Verify that the website is operated by a legitimate pharmacy or medical device dealer.</p>
                <p>Review whether the website discloses complete information, including the medical device license number, product name, pharmacy name, manufacturer name and address, pharmacy (bureau) license number, manufacturing date and expiration or shelf life, pharmacy (bureau) consultation hotline, etc.</p>
            </div>
            <img src="../assets/exclamation-octagon.svg">
        </div>
        
        <section class="section">
            <div class="section-title">
                <h4>Number of Records in Database</h4>
            </div>
            <div class="records-wrap">
                <div class="records-item">
                    <div class="item-inner">
                        <h5>510(k)</h5>
                        <span>167,889</span>
                    </div>
                </div>
                <div class="records-item">
                    <div class="item-inner">
                        <h5>De Novo</h5>
                        <span>407</span>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section row">
            <div class="col-6">
                <div class="section-title">
                    <h4>Established Favorites</h4>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th class="text-center">Amount</th>
                                <th class="text-end">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% (1..3).map do |i| %>
                            <tr>
                                <th scope="row"><%= i %></th>
                                <td><%= lorem_words(4) %></td>
                                <td class="text-center">1<%= i %></td>
                                <td class="text-end">2024-05-2<%= i %></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <div class="text-end"><a href="#" class="btn btn-outline-primary btn-rounded">more</a></div>
            </div>
            
            <div class="col-6">
                <div class="section-title">
                    <h4>Ongoing Smart Search</h4>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th class="text-end">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% (1..3).map do |i| %>
                            <tr>
                                <th scope="row"><%= i %></th>
                                <td><%= lorem_words(4) %></td>
                                <td class="text-end">2024-05-2<%= i %></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <div class="text-end"><a href="#" class="btn btn-outline-primary btn-rounded">more</a></div>
            </div>
        </section>
        
        <section class="section">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="medical-tab" data-bs-toggle="tab" data-bs-target="#medical-tab-pane" type="button" role="tab" aria-controls="medical-tab-pane" aria-selected="true">Medical Specialty</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="regulation-tab" data-bs-toggle="tab" data-bs-target="#regulation-tab-pane" type="button" role="tab" aria-controls="regulation-tab-pane" aria-selected="false">Regulation</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="product-tab" data-bs-toggle="tab" data-bs-target="#product-tab-pane" type="button" role="tab" aria-controls="product-tab-pane" aria-selected="false">Product Code</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="medical-tab-pane" role="tabpanel" aria-labelledby="medical-tab" tabindex="0">
                    <div class="table-responsive mt-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>No.</th>
                                    <th>Information</th>
                                    <th class="text-end">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% (1..3).map do |i| %>
                                <tr>
                                    <th scope="row"><%= i %></th>
                                    <td>86<%= i %></td>
                                    <td><%= lorem_words(4) %></td>
                                    <td class="text-end">9999<%= i %></td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade" id="regulation-tab-pane" role="tabpanel" aria-labelledby="regulation-tab" tabindex="0">
                    <div class="table-responsive mt-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>No.</th>
                                    <th>Information</th>
                                    <th class="text-end">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% (1..3).map do |i| %>
                                <tr>
                                    <th scope="row"><%= i %></th>
                                    <td>86<%= i %></td>
                                    <td><%= lorem_words(4) %></td>
                                    <td class="text-end">9999<%= i %></td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade" id="product-tab-pane" role="tabpanel" aria-labelledby="product-tab" tabindex="0">
                    <div class="table-responsive mt-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>No.</th>
                                    <th>Information</th>
                                    <th class="text-end">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% (1..3).map do |i| %>
                                <tr>
                                    <th scope="row"><%= i %></th>
                                    <td>86<%= i %></td>
                                    <td><%= lorem_words(4) %></td>
                                    <td class="text-end">9999<%= i %></td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </section>
        
	</div>
</div>



<% content_for :js do %>

<% end %>

