<!-- template: 固定方案 -->

<div class="container-lg">

    <div class="plan-wrapper">
        
        <div class="plan-sidebar">
            <div class="supplier-bar">
                <div class="logo-wrap">
                    <img src="https://prairie-institute.fr/wp-content/uploads/2022/02/Nature_journal_logo.svg.png">
                </div>
                <h5 class="supplier-name">nature.com Journals</h5>
                <span class="supplier-info">
                    <a href="#">詳細 <i class="fas fa-angle-right"></i></a>
                </span>
            </div>
        </div>
        
        <div class="plan-main">
            <div class="d-flex justify-content-between align-items-baseline">
                <h3 class="plan-title">Nature</h3>
                <span><button type="button" class="btn btn-light btn-rounded"><i class="fas fa-print"></i> 列印資料庫系統</button></span>
            </div>
            <h5 class="mb-4">訂購基本資訊</h5>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="formInput1" class="form-label">會員單位</label>
                        <input type="text" class="form-control" id="formInput1" value="成功大學" disabled readonly>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="" class="form-label">Nature 會員類別</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="" class="form-label">會員 tier</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="formInput2" class="form-label">FTE 人數</label>
                        <input type="number" class="form-control" id="formInput2" value="250">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="formInput3" class="form-label">Science FTE 人數</label>
                        <input type="number" class="form-control" id="formInput3" value="3122">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="" class="form-label">New_Pricing</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="form-label">訂購日期</label>
                        
                        <!-- Date Range Picker https://www.daterangepicker.com/ 不 work，煩請工程師協助，或用你們習慣的套件 -->
                        <input type="text" name="daterange" class="form-control" value="01/01/2018 - 01/15/2018" />
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="formInput4" class="form-label">新訂 AJ_Discount</label>
                        <input type="number" class="form-control" id="formInput4">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="formInput5" class="form-label">新訂 NB_Discount</label>
                        <input type="number" class="form-control" id="formInput5">
                    </div>
                </div>
            </div>
            
            <div class="confidential-wrap">
                <div class="accordion" id="accordionDatabase">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDatabase" aria-expanded="false" aria-controls="collapseDatabase">
                                <h5 class="mb-0">資料庫介紹</h5>
                            </button>
                        </h2>
                        <div class="probe-wrap">
                            <h4 class="text-danger mb-3">價格涉及機密，請勿外傳</h4>
                            <div class="form-group">
                                <label for="formInput1" class="form-label">聯絡方式</label>
                                <input type="text" class="form-control" id="formInput1" value="0223456789" Disabled readonly />
                            </div>
                        </div>
                        <div id="collapseDatabase" class="accordion-collapse collapse" data-bs-parent="#accordionDatabase">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="formInput2" class="form-label">製作公司</label>
                                            <input type="text" class="form-control" id="formInput2" value="EBSCO International, Inc." Disabled readonly />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="formInput2" class="form-label">內容說明</label>
                                            <input type="text" class="form-control" id="formInput2" value="<%= lorem_sentence %>" Disabled readonly />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="formInput3" class="form-label">主題範疇</label>
                                            <input type="text" class="form-control" id="formInput3" value="<%= lorem_sentence %>" Disabled readonly />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="formInput4" class="form-label">收錄年限</label>
                                            <input type="text" class="form-control" id="formInput4" value="1975-" Disabled readonly />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="formInput5" class="form-label">引進模式</label>
                                            <input type="text" class="form-control" id="formInput5" value="<%= lorem_sentence %>" Disabled readonly />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="formInput6" class="form-label">使用方法</label>
                                            <input type="text" class="form-control" id="formInput6" value="<%= lorem_sentence %>" Disabled readonly />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="formInput7" class="form-label">使用期限</label>
                                            <input type="text" class="form-control" id="formInput7" value="01/2024-12/2024" Disabled readonly />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="formInput7" class="form-label">費用</label>
                                            <input type="text" class="form-control" id="formInput7" value="9999999" Disabled readonly />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" Disabled readonly>
備註內容區塊說明文字
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <section class="section">
                <div class="block-title d-flex justify-content-between align-items-baseline">
                    <h4>期刊　續訂、刪刊、更換區</h4>
                    <span><button type="button" class="btn btn-sm btn-secondary btn-rounded"><i class="fas fa-print"></i> 複製上次訂閱內容</button></span>
                </div>
                
                <div class="mb-4">
                    <div class="table-responsive">
                        <table class="table table-bordered align-middle">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 40px;">#</th>
                                    <th>選擇續訂刊物(未勾選擇視為刪刊)</th>
                                    <th>更換刊物選擇(若無換刊則無須選擇)</th>
                                    <th class="text-end">今年度價格 EUR</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% (1..6).map do |i| %>
                                <tr>
                                    <th class="text-center"><%= i %></th>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                            <label class="form-check-label" for="flexCheckDefault">Nature <%= lorem_words(3) %></label>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </td>
                                    <td class="text-end text-nowrap">€11,837</td>
                                </tr>
                                <% end %>
                                <tr>
                                    <th class="text-center">7</th>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                            <label class="form-check-label" for="flexCheckDefault">Nature <%= lorem_words(3) %> <span class="text-danger">(轉出)</span></label>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </td>
                                    <td class="text-end text-nowrap">€11,837</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section class="section">
                <div class="block-title">
                    <h4>今年新刊　訂購區</h4>
                </div>
                
                <div class="mb-4">
                    <div class="table-responsive">
                        <table class="table table-bordered align-middle">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 40px;">#</th>
                                    <th>選擇訂購期刊</th>
                                    <th class="text-end">訂購價格</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="text-center">1</th>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                            <label class="form-check-label" for="flexCheckDefault">Nature <%= lorem_words(3) %></label>
                                        </div>
                                    </td>
                                    <td class="text-end text-nowrap">€11,837</td>
                                </tr>
                                <tr>
                                    <th class="text-center">2</th>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                            <label class="form-check-label" for="flexCheckDefault">Nature <%= lorem_words(3) %></label>
                                        </div>
                                    </td>
                                    <td class="text-end text-nowrap">€5,635</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            
            <section class="section">
                <div class="block-title d-flex justify-content-between align-items-baseline">
                    <h4>舊刊新訂　訂購區</h4>
                    <span><button type="button" class="btn btn-sm btn-secondary btn-rounded"><i class="fas fa-print"></i> 複製上次訂閱內容</button></span>
                </div>
                
                <div class="mb-4">
                    <div class="table-responsive">
                        <table class="table table-bordered align-middle">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 40px;">#</th>
                                    <th>請選擇訂購期刊</th>
                                    <th class="text-end">今年度價格 EUR</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% (1..20).map do |i| %>
                                <tr>
                                    <th class="text-center"><%= i %></th>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                            <label class="form-check-label" for="flexCheckDefault">Nature <%= lorem_words(3) %></label>
                                        </div>
                                    </td>
                                    <td class="text-end text-nowrap">€<%= i %>,635</td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            
            <section class="section">
                <div class="block-title">
                    <h4>初估金額</h4>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered align-middle text-nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="text-end">系統預計算</th>
                                <th class="text-end">單位議價總金額輸入</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>NA期刊群組優惠</td>
                                <td class="text-end">€153069</td>
                                <td class="text-end"><input type="text" class="form-control short-control text-end" id="tdInput1" value="153069" /></td>
                            </tr>
                            <tr>
                                <td>AJ期刊群組優惠</td>
                                <td class="text-end">€0</td>
                                <td class="text-end"><input type="text" class="form-control short-control text-end" id="tdInput1" value="0" /></td>
                            </tr>
                            <tr>
                                <td class="bg-success-subtle py-3"></td>
                                <td class="bg-success-subtle text-end py-3">
                                    合計：€153069
                                    <span class="d-block">NT $5,332,894</span>
                                </td>
                                <td class="bg-success-subtle text-end py-3">
                                    合計：€153069
                                    <span class="d-block">NT $5,332,894</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            
            <section class="section">
                <div class="block-title">
                    <h4>備註</h4>
                </div>
                <textarea class="form-control" id="exampleFormControlTextarea2" rows="6"></textarea>
            </section>
            
            <div class="form-action">
                <button type="submit" class="btn btn-lg btn-primary">儲存</button>
                <button type="button" class="btn btn-lg btn-light">預覽訂購資料</button>
            </div>
            
        </div>
        
    </div>

</div>

<% content_for :js do %>

<!-- date range picker -->
<script src="../javascripts/daterangepicker.js"></script>
<script>
$(function () {
    $('input[name="daterange"]').daterangepicker(
        {
            opens: "left",
        },
        function (start, end, label) {
            console.log("A new date selection was made: " + start.format("YYYY-MM-DD") + " to " + end.format("YYYY-MM-DD"));
        }
    );
});
</script>
<% end %>













