<!-- template: 提昇教師研究教學服務獎勵 -->

<div class="container-lg">
	<div class="page-content">
		<div class="scrollspy-wrap">
		    <main class="main">
                <div data-bs-spy="scroll" data-bs-target="#navbar-application" data-bs-smooth-scroll="true" class="" tabindex="0">
                    <div class="page-title">
                        <h3>填寫申請表</h3>
                    </div>
                    <div id="item-1">
                        <h4>Item 1</h4>
                        <p><%= lorem_paragraphs(5) %></p>
                    </div>
                    <div id="item-1-1">
                        <h5>Item 1-1</h5>
                        <p><%= lorem_paragraphs(5) %></p>
                    </div>
                    <div id="item-1-2">
                        <h5>Item 1-2</h5>
                        <p><%= lorem_paragraphs(3) %></p>
                    </div>
                    <div id="item-2">
                        <h4>Item 2</h4>
                        <p><%= lorem_paragraphs(3) %></p>
                    </div>
                    <div id="item-3">
                        <h4>Item 3</h4>
                        <p><%= lorem_paragraphs(3) %></p>
                    </div>
                    <div id="item-3-1">
                        <h5>Item 3-1</h5>
                        <p><%= lorem_paragraphs(3) %></p>
                    </div>
                    <div id="item-3-2">
                        <h5>Item 3-2</h5>
                        <p><%= lorem_paragraphs(3) %></p>
                    </div>
                </div>
			</main>
			<div class="scrollspy-side">
                <nav id="navbar-application" class="flex-column align-items-stretch">
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link level-start" href="#item-1">壹、研究</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link" href="#item-1-1">管院甲等以上期刊或SSCI/SCI/TSSCI期刊論文</a>
                            <a class="nav-link" href="#item-1-2">近十年Google All Citations引用次數超過(含)300次</a>
                        </nav>
                        <a class="nav-link level-start" href="#item-2">貳、教學</a>
                        <a class="nav-link level-start" href="#item-3">參、服務</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link" href="#item-3-1">系級</a>
                            <a class="nav-link" href="#item-3-2">院級</a>
                        </nav>
                    </nav>
                </nav>
			</div>
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>

