<div off-canvas="slidebar-2 right reveal" class="slidebars">
	<div class="editor-switch-wrapper">
		<div class="editor-switch">
			<p class="label">啟用編輯</p>
			<div>
                <input type="checkbox" id="switch" class='switch'/>
                <label for="switch"></label>
			</div>
		</div>
		<p class="description"><%= lorem_sentence %></p>
	</div>
	<div class="message-wrapper">
		<h5>錯誤訊息</h5>
	    <p class="description"><%= lorem_sentences(2) %></p>
		<ul class="error-item">
			<li>
				<div class="item-wrap">
                    <div class="label">帳號不存在</div>
					<div class="btn-wrap">
                        <div class="btn-group">
                            <button type="button" class="btn btn-xd btn-white" title="預覽" data-toggle="modal" data-target="#previewModal"><i class="fa fa-eye"></i></button>
                            <button type="button" class="btn btn-xd btn-white" title="編輯" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil"></i></button>
                        </div>
					</div>
				</div>
			</li>
			<li>
				<div class="item-wrap">
                    <div class="label">換行測試<%= zh_lorem_words(15) %></div>
					<div class="btn-wrap">
                        <div class="btn-group">
                            <button type="button" class="btn btn-xd btn-white" title="預覽" data-toggle="modal" data-target="#previewModal"><i class="fa fa-eye"></i></button>
                            <button type="button" class="btn btn-xd btn-white" title="編輯" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil"></i></button>
                        </div>
					</div>
				</div>
			</li>
			<% 5.times do %>
		    <li>
				<div class="item-wrap">
                    <div class="label"><%= zh_lorem_words(5) %></div>
					<div class="btn-wrap">
                        <div class="btn-group">
                            <button type="button" class="btn btn-xd btn-white" title="預覽" data-toggle="modal" data-target="#previewModal"><i class="fa fa-eye"></i></button>
                            <button type="button" class="btn btn-xd btn-white" title="編輯" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil"></i></button>
                        </div>
					</div>
				</div>
			</li>
			<li>
				<div class="item-wrap">
                    <div class="label"><%= zh_lorem_words(6) %></div>
					<div class="btn-wrap">
                        <div class="btn-group">
                            <button type="button" class="btn btn-xd btn-white" title="預覽" data-toggle="modal" data-target="#previewModal"><i class="fa fa-eye"></i></button>
                            <button type="button" class="btn btn-xd btn-white" title="編輯" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil"></i></button>
                        </div>
					</div>
				</div>
			</li>
			<li>
				<div class="item-wrap">
                    <div class="label"><%= zh_lorem_words(4) %></div>
					<div class="btn-wrap">
                        <div class="btn-group">
                            <button type="button" class="btn btn-xd btn-white" title="預覽" data-toggle="modal" data-target="#previewModal"><i class="fa fa-eye"></i></button>
                            <button type="button" class="btn btn-xd btn-white" title="編輯" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil"></i></button>
                        </div>
					</div>
				</div>
			</li>
			<% end %>
		</ul>
	</div>
</div>