<!-- oia-yuntech: 個資同意書 -->

<div class="container">
    <div class="mb-5">
		<h4 class="card-title">個資同意書</h4>
		<p class="card-text"><%= lorem_sentences(3) %></p>
		<p class="card-text"><%= lorem_sentences(5) %></p>
		<p class="card-text"><%= lorem_sentences(3) %></p>
		<p class="card-text"><%= lorem_sentences(5) %></p>
		<p class="card-text"><%= lorem_sentences(5) %></p>
	</div>
	<div class="form-action">
		<a href="/" class="btn btn-default mr-5">我同意上述規定</a>
		<a href="/" class="text-black-50">不同意</a>
	</div>
</div>

