<!-- oia-yuntech: 審查 -->

<div class="container">
	<div class="main-wrap">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="application_information-tab" data-toggle="tab" href="#application_information" role="tab" aria-controls="application_information" aria-selected="true">申請資料</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="admission_result-tab" data-toggle="tab" href="#admission_result" role="tab" aria-controls="admission_result" aria-selected="false">審查結果 (推薦未完成)</a>
				<!-- (推薦未完成) 請拿掉-->
			</li>
			<li class="nav-item">
				<a class="nav-link" id="admission_result-tab2" data-toggle="tab" href="#admission_result2" role="tab" aria-controls="admission_result2" aria-selected="false">審查結果 (推薦完成、未公告)</a>
				<!-- (推薦完成、未公告) 請拿掉-->
			</li>
			<li class="nav-item">
				<a class="nav-link" id="admission_result-tab3" data-toggle="tab" href="#admission_result3" role="tab" aria-controls="admission_result3" aria-selected="false">審查結果 (需補件)</a>
				<!-- (需補件) 請拿掉-->
			</li>
			<li class="nav-item">
				<a class="nav-link" id="admission_result-tab4" data-toggle="tab" href="#admission_result4" role="tab" aria-controls="admission_result4" aria-selected="false">審查結果 (錄取)</a>
				<!-- (錄取) 請拿掉-->
			</li>
			<li class="nav-item">
				<a class="nav-link" id="admission_result-tab5" data-toggle="tab" href="#admission_result5" role="tab" aria-controls="admission_result5" aria-selected="false">審查結果 (不錄取)</a>
				<!-- (不錄取) 請拿掉-->
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			
			<div class="tab-pane fade show active" id="application_information" role="tabpanel" aria-labelledby="application_information-tab">
                <div class="document-upload mb-3">
                    <div class="document-item">
                        <div class="document-hd">
                            <div class="title-wrap">
                                <h4>1. 申請表</h4>
                                <a href="#" class="btn-floating btn-sm btn-success" title="檢視申請表"><i class="fa fa-file-text-o"></i></a>
                            </div>
                            <p>填寫線上申請表</p>
                        </div>
                        <div class="document-ft">
                            <span class="badge badge-success">完成</span>
                            <p class="date">最後修改 2020/04/05 18:00</p>
                        </div>
                    </div>
                    <div class="document-item">
                        <div class="document-hd">
                            <div class="title-wrap">
                                <h4>2. 推薦信</h4>
								<a href="#" class="btn-floating btn-sm btn-success" title="檢視推薦人"><i class="fa fa-file-text-o"></i></a>
                            </div>
                            <p>設定推薦人及指定推薦系所</p>
                        </div>
                        <div class="document-ft">
                            <span class="badge badge-success">完成</span>
                        </div>
                    </div>
                    <div class="document-item">
                        <div class="document-hd">
                            <div class="title-wrap">
                                <h4>3. 上傳繳交文件</h4>
                                <a href="#" class="btn-floating btn-sm btn-success" title="檢視上傳文件"><i class="fa fa fa-file-text-o"></i></a>
                            </div>
                            <p>列印各系所的申請文件</p>
                        </div>
                        <div class="document-ft">
                            <span class="badge badge-success">完成</span>
                        </div>
                    </div>
                </div>
			</div>

			<div class="tab-pane fade" id="admission_result" role="tabpanel" aria-labelledby="admission_result-tab">
                <div class="alert alert-danger mb-4" role="alert">
                    Graduation Diploma / Certificate 拒絕了您車輛工程所碩士班的推薦，請設定其他推薦人。
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
				<p>您已完成各申請步驟，並送出申請，目前尚有 2 封推薦信未填寫完成，本單位所有推薦人完成線上推薦後，開始審查作業。</p>
                <div class="section-wrap progress-wrap">
                    <div class="data-block">
                        <div class="data-head">
                            <h5>105M20101 機械工程系學士班</h5>
                        </div>
                        <div class="document-upload">
                            <div class="document-item status_warning">
                                <div class="document-hd">
                                    <div class="title-wrap">
                                        <h5>1. Graduation Diploma / Certificate</h5>
                                    </div>
                                    <p class="upload-time">通知時間
                                        <i class="fa fa-clock-o"></i>
                                        <span class="date">2020/02/28 18:20</span>
                                    </p>
                                </div>
                                <div class="document-ft">
                                    未開啟郵件
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="data-block">
                        <div class="data-head">
                            <h5>105M20101 機械工程系學士班</h5>
                        </div>
                        <div class="document-upload">
                            <div class="document-item status_warning">
                                <div class="document-hd">
                                    <div class="title-wrap">
                                        <h5>1. Graduation Diploma / Certificate</h5>
                                    </div>
                                    <p class="upload-time">拒絕時間
                                        <i class="fa fa-clock-o"></i>
                                        <span class="date">2020/02/28 18:20</span>
                                    </p>
                                </div>
                                <div class="document-ft">
                                    拒絕推薦
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="application_s2.html" class="btn btn-secondary">變更推薦人</a>
                </div>
			</div>
			
			<div class="tab-pane fade" id="admission_result2" role="tabpanel" aria-labelledby="admission_result-tab2">
                <p>您已完成各申請步驟，並送出申請，本單位已開始審查作業。</p>
				<div class="awall mt-4">
					<p>尚未公告錄取結果說明</p>
				    <p><%= lorem_sentences(2) %></p>
					<p><%= lorem_sentences(3) %></p>
				</div>
			</div>
			
			<div class="tab-pane fade" id="admission_result3" role="tabpanel" aria-labelledby="admission_result-tab3">
                <p class="mb-5">您已完成各申請步驟，並送出申請，經審查文件，有下列文件需補繳，請按"修改" 重新上傳文件。</p>
				<div class="section-wrap">
                    <div class="form-section mb-3">
                        <h4 class="block-title">資格審查文件</h4>
                        <div class="awall transparent">
                            <p>補件說明(由OIA審查人員後端輸入) <%= zh_lorem_sentences(5) %></p>
                        </div>
                        <div class="document-upload">
                            <div class="document-item">
                                <div class="document-hd">
                                    <div class="title-wrap">
                                        <h5>1. 健康檢查報告</h5>
                                        <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="說明"><i class="fa fa-info"></i></button>
                                    </div>
                                    <p class="upload-time">上傳時間
                                        <i class="fa fa-clock-o"></i>
                                        <span class="date">2020/02/28 18:20</span>
                                    </p>
                                </div>
                                <div class="document-ft md-form">
                                    <a href="#" class="btn btn-info btn-xs">檢視</a>
                                    <a href="#" class="btn btn-warning btn-xs">修改</a>
                                </div>
                            </div>
                            <div class="document-info">
                                針對此文件的補件說明，例如非指定格式 <%= zh_lorem_sentences(5) %>
                            </div>
                        </div>
                    </div>
                    <div class="form-section mb-3">
                        <h4 class="block-title">105B10201 資訊工程學系學士班</h4>
                        <div class="awall transparent">
                            <p>補件說明(由OIA審查人員後端輸入) <%= zh_lorem_sentences(5) %></p>
                        </div>
                        <div class="document-upload">
                            <div class="document-item">
                                <div class="document-hd">
                                    <div class="title-wrap">
                                        <h5>1. 申請表</h5>
                                        <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="說明"><i class="fa fa-info"></i></button>
                                    </div>
                                    <p class="upload-time">上傳時間
                                        <i class="fa fa-clock-o"></i>
                                        <span class="date">2020/02/28 18:20</span>
                                    </p>
                                </div>
                                <div class="document-ft md-form">
                                    <a href="#" class="btn btn-info btn-xs">檢視</a>
                                    <a href="#" class="btn btn-warning btn-xs">修改</a>
                                </div>
                            </div>
                            <div class="document-info">
                                針對此文件的補件說明，例如申請表未簽名 <%= zh_lorem_sentences(5) %>
                            </div>
                            <div class="document-item">
                                <div class="document-hd">
                                    <div class="title-wrap">
                                        <h5>2. 留學計劃書</h5>
                                        <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="說明"><i class="fa fa-info"></i></button>
                                    </div>
                                    <p class="upload-time">上傳時間
                                        <i class="fa fa-clock-o"></i>
                                        <span class="date">2020/02/28 18:20</span>
                                    </p>
                                </div>
                                <div class="document-ft md-form">
                                    <a href="#" class="btn btn-info btn-xs">檢視</a>
                                    <a href="#" class="btn btn-warning btn-xs">修改</a>
                                </div>
                            </div>
                            <div class="document-info">
                                針對此文件的補件說明，例如申請表未簽名 <%= zh_lorem_sentences(5) %>
                            </div>
                        </div>
                    </div>
				</div>
				
                <div class="text-center">
                    <a href="#" class="btn btn-secondary">送出補繳文件</a>
                </div>

			</div>
			
			<div class="tab-pane fade" id="admission_result4" role="tabpanel" aria-labelledby="admission_result-tab4">
				<h4 class="block-title">審查結果公布</h4>
				<div class="awall">
					<p><%= zh_lorem_sentences(4) %></p>
					<p><%= lorem_sentences(4) %></p>
				</div>
				<table class="table mb-5">
				    <thead>
					    <tr>
						    <th>申請序號</th>
							<th>申請系組</th>
							<th>錄取結果</th>
							<th>雲科大獎學金</th>
						</tr>
					</thead>
					<tbody>
					    <tr>
						    <td>105B02001</td>
							<td>應用數學系學士班</td>
							<td>錄取</td>
							<td>Type A</td>
						</tr>
						<tr>
						    <td>105B03002</td>
							<td>物理學系學士班</td>
							<td>不錄取</td>
							<td>123</td>
						</tr>
					</tbody>
				</table>
				<div class="awall lighten">
					<h5>獎學金獲獎說明</h5>
					<p><%= lorem_sentences(4) %></p>
				</div>
				<div class="awall lighten">
					<h5>入學確認說明</h5>
					<p><%= lorem_sentences(4) %></p>
				</div>
				<div class="mb-5">
					<div class="form-group">
						<label>是否確認入學 應用數學系學士班？</label>
						<div>
							<div class="custom-control custom-radio">
								<input type="radio" class="custom-control-input" id="admissionYes" name="PersonalGender">
								<label class="custom-control-label" for="admissionYes">是，我確定要入學應用數學系學士班</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" class="custom-control-input" id="admissionNo" name="PersonalGender">
								<label class="custom-control-label" for="admissionNo">否，我要放棄入學資格</label>
								<div id="hideandseek" style="display: none;">
								    <textarea class="form-control mt-2" id="exampleFormControlTextarea" rows="4" placeholder="放棄原因"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-action text-left">
					<a href="/" class="btn btn-default">送出</a>
					<div class="addition-right">
                        <a href="/">下載錄取通知</a>
                        <a href="/">上傳簽名錄取通知書</a>
					</div>
				</div>
			</div>
			
			<div class="tab-pane fade" id="admission_result5" role="tabpanel" aria-labelledby="admission_result-tab5">
				<h4 class="block-title">審查結果公布</h4>
				<table class="table mb-5">
				    <thead>
					    <tr>
						    <th>申請序號</th>
							<th>申請系組</th>
							<th>錄取結果</th>
						</tr>
					</thead>
					<tbody>
					    <tr>
						    <td>105B02001</td>
							<td>應用數學系學士班</td>
							<td>不錄取</td>
						</tr>
						<tr>
						    <td>105B03002</td>
							<td>物理學系學士班</td>
							<td>不錄取</td>
						</tr>
					</tbody>
				</table>
				<div class="awall lighten">
					<h5>不錄取說明</h5>
					<p><%= lorem_sentences(4) %></p>
				</div>
			</div>
			
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{吃該項目標題} 說明</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><%= lorem_sentences(5) %></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>
<script>
$(document).ready(function() {
   $('input[type="radio"]').click(function() {
       if($(this).attr('id') == 'admissionNo') {
            $('#hideandseek').show();           
       }
       else {
            $('#hideandseek').hide();   
       }
   });
});
</script>
<% end %>