<!-- template: 績效 - 優華語獎學金生研習情形 -->

<div class="container-lg">
    <div class="project-title performance-title">
        <h3><span>年度 112，第 2 季績效回報</span></h3>
        <div class="university">
            <span class="ch">加州大學爾灣分校</span>
            <span class="en">University of California, Irvine</span>
        </div>
    </div>
</div>

<div class="container-lg">
	<div class="page-content performance-content">
	    <aside class="aside">
			<div class="scrollbar-inner">
		        <div class="sidenav">
                    <ul class="side-navigation menu-item">
                        <li>
							<a class="nav-item" href="#">
							    <span class="link-inner">基本資料</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">選任華語教學赴任情形</span>
							</a>
						</li>
						<li>
							<a class="nav-item current" href="#">
								<span class="link-inner">優華語獎學金生研習情形</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">大手攜小手辦理情形</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">推廣華語文測驗</span>
							</a>
						</li>
                    </ul>
				</div>
			</div>
            <div class="procedures_nav-ft">
                <a href="" class="btn btn-lg btn-block btn-primary">送出本季績效回報</a>
            </div>
		</aside>
		<main class="main">
            <div class="mb-8">
                <div class="section-title">
                    <h4>前一季總優華語獎學金生人數</h4>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover text-nowrap text-center align-middle">
                        <thead>
                            <tr>
                                <th>學生姓名</th>
                                <th>社會性別</th>
                                <th>國籍</th>
                                <th>年齡</th>
                                <th>就讀科系名稱</th>
                                <th>來臺日期</th>
                                <th>預計離臺日期</th>
                                <th>來臺月數</th>
                                <th>分班依據</th>
                                <th>華語程度<br>(CEFR)(前)</th>
                                <th>課堂使用教材</th>
                                <th>課程內容程度</th>
                                <th>華語程度<br>(CEFR)(後)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% (1..4).map do |i| %>
                               <tr>
                                <td><%= zh_lorem_name %></td>
                                <td>男性</td>
                                <td>臺灣</td>
                                <td>23</td>
                                <td>中文系</td>
                                <td>2024-06-04</td>
                                <td>2024-08-04</td>
                                <td>2</td>
                                <td><%= zh_lorem_words(4) %></td>
                                <td><%= zh_lorem_words(2) %></td>
                                <td><%= zh_lorem_words(4) %></td>
                                <td><%= zh_lorem_words(4) %></td>
                                <td><%= zh_lorem_words(2) %></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div class="section-title">
                    <h4>本季新增優華語獎學金生人數</h4>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover text-nowrap text-center align-middle">
                        <thead>
                            <tr>
                                <th></th>
                                <th>學生姓名</th>
                                <th>社會性別</th>
                                <th>國籍</th>
                                <th>年齡</th>
                                <th>就讀科系名稱</th>
                                <th>來臺日期</th>
                                <th>預計離臺日期</th>
                                <th>來臺月數</th>
                                <th>分班依據</th>
                                <th>華語程度<br>(CEFR)(前)</th>
                                <th class="text-start">課堂使用教材</th>
                                <th>課程內容程度</th>
                                <th>華語程度<br>(CEFR)(後)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% (1..4).map do |i| %>
                            <tr>
                                <td>
                                    <a href="#" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#scholarshipModal">編輯</a>
                                    <a href="#" class="btn btn-sm btn-outline-danger">刪除</a>
                                </td>
                                <td><%= zh_lorem_name %></td>
                                <td>男性</td>
                                <td>臺灣</td>
                                <td>23</td>
                                <td>中文系</td>
                                <td>2024-06-04</td>
                                <td>2024-08-04</td>
                                <td>2</td>
                                <td><%= zh_lorem_words(4) %></td>
                                <td><%= zh_lorem_words(2) %></td>
                                <td><%= zh_lorem_words(4) %></td>
                                <td><%= zh_lorem_words(4) %></td>
                                <td><%= zh_lorem_words(2) %></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <div class="text-start">
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#scholarshipModal"><i class="fas fa-plus"></i> 新增一筆人員</button>
                </div>
            </div>
		</main>
	</div>
</div>

<!-- Scholarship Student Modal -->
<div class="modal fade" id="scholarshipModal" tabindex="-1" aria-labelledby="scholarshipModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="scholarshipModalLabel">建立優華語獎學金生</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label for="scholarshipForm1" class="form-label"><span class="required">*</span>學生姓名</label>
                            <input type="text" class="form-control" id="scholarshipForm1" />
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label class="form-label"><span class="required">*</span>社會性別</label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="genderOptions" id="genderRadio1" value="option1" />
                                    <label class="form-check-label" for="genderRadio1">男性</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="genderOptions" id="genderRadio2" value="option2" />
                                    <label class="form-check-label" for="genderRadio2">女性</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="genderOptions" id="genderRadio3" value="option3" />
                                    <label class="form-check-label" for="genderRadio3">其他</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label for="scholarshipForm2" class="form-label"><span class="required">*</span>國籍</label>
                            <input type="text" class="form-control" id="scholarshipForm2" />
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label for="scholarshipForm3" class="form-label"><span class="required">*</span>年齡</label>
                            <input type="text" class="form-control" id="scholarshipForm3" />
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label for="scholarshipForm4" class="form-label"><span class="required">*</span>就讀科系名稱</label>
                            <input type="text" class="form-control" id="scholarshipForm4" />
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-6">
                        <div class="mb-4">
                            <label class="form-label"><span class="required">*</span>來臺日期</label>
                            <div class="d-flex align-items-center">
                                <span><input type="text" class="form-control" /></span>
                                <span class="ps-1 pe-3">年</span>
                                <span><input type="text" class="form-control" /></span>
                                <span class="ps-1">月</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label class="form-label"><span class="required">*</span>預計離臺日期</label>
                            <div class="d-flex align-items-center">
                                <span><input type="text" class="form-control" /></span>
                                <span class="ps-1 pe-3">年</span>
                                <span><input type="text" class="form-control" /></span>
                                <span class="ps-1">月</span>
                            </div>
                            <span class="form-text">若尚未確認離臺日期，請以預估日期填寫</span>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label class="form-label"><span class="required">*</span>學生入學前分班依據</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label class="form-label"><span class="required">*</span>學生研習前華語程度(CEFR)</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label class="form-label"><span class="required">*</span>課堂使用教材</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label class="form-label"><span class="required">*</span>課程內容程度</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label class="form-label"><span class="required">*</span>學生研習後華語程度(CEFR)</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary">儲存</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<% end %>
