<!-- NTU-Joint: 首頁導覽  -->

<div class="container">
	<div class="operation-wrapper">
        <div class="row">
            <div class="col-7">
                <h4 class="font-700">Note</h4>
				<p><%= lorem_sentences(3) %></p>
                <p><%= lorem_sentences(8) %></p>
                <p><%= lorem_sentences(5) %></p>
				<p><%= lorem_sentences(5) %></p>
            </div>
            <div class="col-5">
                <div class="open-wrap">
                    <h4 class="text-danger font-500">Open application start date</h4>
                    <h6 class="font-500 text-muted">January 31, 2020 08:00 to February 28, 2020 23:59 <br />Taiwan (GMT+8)</h6>
                    <div class="active-wrap">
                        <div class="btn-wrap">
                            <a class="btn btn-recommended" href="#">Recommended list<i class="fa fa-arrow-circle-right"></i></a>
                            <p class="introduction"><%= lorem_sentences(1) %></p>
                        </div>
						<div class="btn-wrap">
                            <a class="btn btn-upload" href="#">Upload<i class="fa fa-arrow-circle-right"></i></a>
                            <p class="introduction"><%= lorem_sentences(1) %></p>
                        </div>
						<div class="btn-wrap">
                            <a class="btn btn-information" href="#">Basic Information<i class="fa fa-arrow-circle-right"></i></a>
                            <p class="introduction"><%= lorem_sentences(1) %></p>
                        </div>
                        <div class="btn-wrap">
                            <a class="btn btn-history" href="#">History<i class="fa fa-arrow-circle-right"></i></a>
                            <p class="introduction"><%= lorem_sentences(1) %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>

