<!-- ntuoia: 年度報告 (en only) -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container">
	<div class="pages-row">
        <div id="slide-out" class="sidenav custom-scrollbar">
            <div id="accordian_nav">
                <ul>
                    <li class="has-child">
                        <h3>
                            <a href="#">Degree Student</a>
                        </h3>
                        <ul>
                            <li><a href="#">Check Your Eligibility</a></li>
                            <li><a href="#">2021 September Entry</a></li>
                            <li><a href="#">2021 February Entry</a></li>
                            <li><a href="#">Online Application FAQ</a></li>
                        </ul>
                    </li>
                    <li class="has-child">
                        <h3>
                            <a href="#">Dual Degree Student</a>
                        </h3>
                        <ul>
                            <li><a href="#">Today's tasks</a></li>
                            <li>
                                <a href="#">DrillDown</a>
                                <ul>
                                    <li><a href="#">Today's tasks</a></li>
                                    <li><a href="#">Urgent</a></li>
                                    <li><a href="#">Overdues</a></li>
                                    <li><a href="#">Recurring</a></li>
                                    <li><a href="#">Settings</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Overdues</a>
                                <ul>
                                    <li><a href="#">Today's tasks</a></li>
                                    <li><a href="#">Urgent</a></li>
                                    <li><a href="#">Overdues</a></li>
                                    <li><a href="#">Recurring</a></li>
                                    <li><a href="#">Settings</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Recurring</a></li>
                            <li><a href="#">Settings</a></li>
                        </ul>
                    </li>
                    <li class="has-child active">
                        <h3>
                            <a href="#">Exchange Student Program</a>
                        </h3>
                        <ul>
                            <li><a href="#">2020/2021 Admissions</a></li>
                            <li><a href="#">2019/2020 Admissions</a></li>
                            <li><a href="#">Exchange Students at NTU</a></li>
                            <li class="current"><a href="#">Exchange Reports / Blogs</a></li>
                        </ul>
                    </li>
					<li><!-- 單一連結適用 .current 規則-->
                        <h3>
                            <a href="#">單一連結</a>
                        </h3>
                    </li>
                    <li class="has-child">
                        <h3>
                            <a href="#">訪問學生計畫</a>
                        </h3>
                        <ul>
                            <li><a href="#">Global favs</a></li>
                            <li><a href="#">My favs</a></li>
                            <li><a href="#">Team favs</a></li>
                            <li><a href="#">Settings</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
		</div>
		<main class="main">
		    <div class="main-inner">
                <div class="title-wrap">
                    <h3 class="section-title">Statistics</h3>
                </div>
				<h4>2013 Annual Reports</h4>
				<div class="scroll-links">
					<ul class="smooth-scroll flow-btn  menu-item">
					    <li>
							<a href="#smooth_organization" class="link-item">
								<span class="en">Organization</span>
							</a>
						</li>
						<li>
							<a href="#smooth_teacher" class="link-item">
								<span class="en">Teacher</span>
							</a>
						</li>
						<li>
							<a href="#smooth_student" class="link-item">
								<span class="en">Student</span>
							</a>
						</li>
						<li>
							<a href="#smooth_research" class="link-item">
								<span class="en">Research</span>
							</a>
						</li>
						<li>
							<a href="#smooth_international" class="link-item">
								<span class="en">International</span>
							</a>
						</li>
						<li>
							<a href="#smooth_supporting" class="link-item">
								<span class="en">Administration Supporting</span>
							</a>
						</li>
						<li>
							<a href="#smooth_financial" class="link-item">
								<span class="en">Financial</span>
							</a>
						</li>
						<li>
							<a href="#smooth_compared" class="link-item">
								<span class="en">Compared with other universities</span>
							</a>
						</li>
						<li>
							<a href="#smooth_addendum" class="link-item">
								<span class="en">Addendum</span>
							</a>
						</li>
					</ul>
				</div>
				
				<div id="smooth_organization" class="output-block">
                    <div class="output-head">
                        <h3>Organization</h3>
                    </div>
					<div class="table-responsive">
                        <table class="table td-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Table</th>
                                    <th>Table Name</th>
                                    <th>Year</th>
                                    <th>File</th>
                                </tr>
                            </thead>
                            <tbody>
								<% (1..4).each do |n| %>
                                <tr>
                                    <td><%= n %></td>
                                    <td><%= lorem_sentence %></td>
                                    <td>1945-2013</td>
                                    <td><a href="#">WORD</a></td>
                                </tr>
								<% end %>
                            </tbody>
                        </table>
					</div>
				</div>
				
				<div id="smooth_teacher" class="output-block">
                    <div class="output-head">
                        <h3>Teacher</h3>
                    </div>
					<div class="table-responsive">
                        <table class="table td-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Table</th>
                                    <th>Table Name</th>
                                    <th>Year</th>
                                    <th>File</th>
                                </tr>
                            </thead>
                            <tbody>
								<% (1..19).each do |n| %>
                                <tr>
                                    <td><%= n %></td>
                                    <td><%= lorem_sentence %></td>
                                    <td>2013</td>
                                    <td><a href="#">WORD</a></td>
                                </tr>
								<% end %>
                            </tbody>
                        </table>
					</div>
				</div>
				
				<div id="smooth_student" class="output-block">
                    <div class="output-head">
                        <h3>Student</h3>
                    </div>
					<div class="table-responsive">
                        <table class="table td-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Table</th>
                                    <th>Table Name</th>
                                    <th>Year</th>
                                    <th>File</th>
                                </tr>
                            </thead>
                            <tbody>
								<% (1..4).each do |n| %>
                                <tr>
                                    <td><%= n %></td>
                                    <td><%= lorem_sentence %></td>
                                    <td>2013</td>
                                    <td><a href="#">WORD</a></td>
                                </tr>
								<% end %>
                            </tbody>
                        </table>
					</div>
				</div>
				
				<div id="smooth_research" class="output-block">
                    <div class="output-head">
                        <h3>Research</h3>
                    </div>
					<div class="table-responsive">
                        <table class="table td-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Table</th>
                                    <th>Table Name</th>
                                    <th>Year</th>
                                    <th>File</th>
                                </tr>
                            </thead>
                            <tbody>
								<% (1..4).each do |n| %>
                                <tr>
                                    <td><%= n %></td>
                                    <td><%= lorem_sentence %></td>
                                    <td>2013</td>
                                    <td><a href="#">WORD</a></td>
                                </tr>
								<% end %>
                            </tbody>
                        </table>
					</div>
				</div>
				
				<div id="smooth_international" class="output-block">
                    <div class="output-head">
                        <h3>International</h3>
                    </div>
					<div class="table-responsive">
                        <table class="table td-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Table</th>
                                    <th>Table Name</th>
                                    <th>Year</th>
                                    <th>File</th>
                                </tr>
                            </thead>
                            <tbody>
								<% (1..4).each do |n| %>
                                <tr>
                                    <td><%= n %></td>
                                    <td><%= lorem_sentence %></td>
                                    <td>2013</td>
                                    <td><a href="#">WORD</a></td>
                                </tr>
								<% end %>
                            </tbody>
                        </table>
					</div>
				</div>
				
				<div id="smooth_supporting" class="output-block">
                    <div class="output-head">
                        <h3>Administration Supporting</h3>
                    </div>
					<div class="table-responsive">
                        <table class="table td-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Table</th>
                                    <th>Table Name</th>
                                    <th>Year</th>
                                    <th>File</th>
                                </tr>
                            </thead>
                            <tbody>
								<% (1..4).each do |n| %>
                                <tr>
                                    <td><%= n %></td>
                                    <td><%= lorem_sentence %></td>
                                    <td>2013</td>
                                    <td><a href="#">WORD</a></td>
                                </tr>
								<% end %>
                            </tbody>
                        </table>
					</div>
				</div>
				
				<div id="smooth_financial" class="output-block">
                    <div class="output-head">
                        <h3>Financial</h3>
                    </div>
					<div class="table-responsive">
                        <table class="table td-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Table</th>
                                    <th>Table Name</th>
                                    <th>Year</th>
                                    <th>File</th>
                                </tr>
                            </thead>
                            <tbody>
								<% (1..4).each do |n| %>
                                <tr>
                                    <td><%= n %></td>
                                    <td><%= lorem_sentence %></td>
                                    <td>2013</td>
                                    <td><a href="#">WORD</a></td>
                                </tr>
								<% end %>
                            </tbody>
                        </table>
					</div>
				</div>
				
				<div id="smooth_compared" class="output-block">
                    <div class="output-head">
                        <h3>Compared with other universities</h3>
                    </div>
					<div class="table-responsive">
                        <table class="table td-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Table</th>
                                    <th>Table Name</th>
                                    <th>Year</th>
                                    <th>File</th>
                                </tr>
                            </thead>
                            <tbody>
								<% (1..4).each do |n| %>
                                <tr>
                                    <td><%= n %></td>
                                    <td><%= lorem_sentence %></td>
                                    <td>2013</td>
                                    <td><a href="#">WORD</a></td>
                                </tr>
								<% end %>
                            </tbody>
                        </table>
					</div>
				</div>
				
				<div id="smooth_addendum" class="output-block">
                    <div class="output-head">
                        <h3>Addendum</h3>
                    </div>
					<div class="table-responsive">
                        <table class="table td-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Table</th>
                                    <th>Table Name</th>
                                    <th>Year</th>
                                    <th>File</th>
                                </tr>
                            </thead>
                            <tbody>
								<% (1..4).each do |n| %>
                                <tr>
                                    <td><%= n %></td>
                                    <td><%= lorem_sentence %></td>
                                    <td>2013</td>
                                    <td><a href="#">WORD</a></td>
                                </tr>
								<% end %>
                            </tbody>
                        </table>
					</div>
				</div>
				
			</div>
		</main>
    </div>
</div>



<% content_for :js do %>

<% end %>
































