<!-- ntuoia: 本處成員 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container">
	<div class="pages-row">
	    <div class="sidenav">
			<%= render :partial => "/partials/accordian_nav" %>
		</div>
		<main class="main">
		    <div class="main-inner">
                <div class="title-wrap">
                    <h3 class="section-title">本處成員</h3>
                </div>
			</div>
			<div id="tabsParent" class="members-wrapper">
				<div class="league-wrapper">
                    <section class="m-league">
                        <div class="members-group">
                            <div class="department">
                                <a class="d-link member_tabs active" href="#tab1">
                                    <div class="department-head">
                                        <h4>國際長</h4>
                                    </div>
                                    <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                </a>
                            </div>
                            <div class="department">
                                <a class="d-link member_tabs" href="#tab2">
                                    <div class="department-head">
                                        <h4>副國際長</h4>
                                    </div>
                                    <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                </a>
                            </div>
                        </div>
                    </section>
                    <section class="m-league">
                        <h5 class="group-title">國際長室</h5>
                        <div class="members-group">
                            <div class="department">
                                <a class="d-link member_tabs" href="#tab3">
                                    <div class="department-head">
                                        <h4>綜合業務股</h4>
                                    </div>
                                    <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                </a>
                            </div>
                            <div class="department">
                                <a class="d-link member_tabs" href="#tab4">
                                    <div class="department-head">
                                        <h4>研究分析股</h4>
                                    </div>
                                    <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                </a>
                            </div>
                        </div>
                    </section>
					<section class="m-league">
                        <h5 class="group-title">國際學生組</h5>
                        <div class="members-group">
                            <div class="department">
                                <a class="d-link member_tabs" href="#tab5">
                                    <div class="department-head">
                                        <h4>境外招生股</h4>
                                    </div>
                                    <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                </a>
                            </div>
                            <div class="department">
                                <a class="d-link member_tabs" href="#tab6">
                                    <div class="department-head">
                                        <h4>短期研修股</h4>
                                    </div>
                                    <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                </a>
                            </div>
							<div class="department">
                                <a class="d-link member_tabs" href="#tab7">
                                    <div class="department-head">
                                        <h4>國際生入學股</h4>
                                    </div>
                                    <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                </a>
                            </div>
                            <div class="department">
                                <a class="d-link member_tabs" href="#tab8">
                                    <div class="department-head">
                                        <h4>海外教育股</h4>
                                    </div>
                                    <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                </a>
                            </div>
							<div class="department">
                                <a class="d-link member_tabs" href="#tab9">
                                    <div class="department-head">
                                        <h4>國際生短期研修股</h4>
                                    </div>
                                    <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                </a>
                            </div>
                            <div class="department">
                                <a class="d-link member_tabs" href="#tab10">
                                    <div class="department-head">
                                        <h4>堉璘獎學金專案辦公室</h4>
                                    </div>
                                    <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                </a>
                            </div>
                        </div>
                    </section>
					<section class="m-league">
                        <h5 class="group-title">國際合作組</h5>
                        <div class="members-group">
                            <div class="department">
                                <a class="d-link member_tabs" href="#tab11">
                                    <div class="department-head">
                                        <h4>交流計畫股</h4>
                                    </div>
                                    <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                </a>
                            </div>
                            <div class="department">
                                <a class="d-link member_tabs" href="#tab12">
                                    <div class="department-head">
                                        <h4>全球關係股</h4>
                                    </div>
                                    <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                </a>
                            </div>
                        </div>
                    </section>
					<div class="allin">
					    <a href="#">全覽</a>
					</div>
				</div>
				<div class="members-output">
					<div class="tab-content">
						
						<div class="tabBody active" id="tab1">
                            <div class="output-head">
                                <h3>國際長</h3>
                            </div>
							<div class="output-content">
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/500/500">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">國際長 <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">袁孝維</span>
												<span class="en">Prof. Hsiao-Wei Yuan</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    oia@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007
												</li>
											</ul>
                                        </div>
									</a>
								</div>
							</div>
						</div>
						
						<div class="tabBody" id="tab2">
                            <div class="output-head">
                                <h3>副國際長</h3>
                            </div>
							<div class="output-content">
								<% (1..2).each do |n| %>
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/400/400">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">副國際長 <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">林璧鳳</span>
												<span class="en">Prof. Bi-Fong Lin, Ph.D.</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    bifong@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007
												</li>
											</ul>
                                        </div>
									</a>
								</div>
								<% end %>
							</div>
						</div>
						
						<div class="tabBody" id="tab3">
                            <div class="output-head">
                                <h3>綜合業務股</h3>
                            </div>
							<div class="output-content">
								<% (1..5).each do |n| %>
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/600/600">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">組長兼秘書 <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">吳熙君</span>
												<span class="en">Karen Wu</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    hcw0605@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007 #399
												</li>
											</ul>
                                        </div>
									</a>
								</div>
								<% end %>
							</div>
						</div>
						
						<div class="tabBody" id="tab4">
                            <div class="output-head">
                                <h3>研究分析股</h3>
                            </div>
							<div class="output-content">
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/300/300">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">股長 <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">陳瓊芬</span>
												<span class="en">Josephine Chen</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    chiungfen@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007 #214
												</li>
											</ul>
                                        </div>
									</a>
								</div>
							</div>
						</div>
						
						<div class="tabBody" id="tab5">
                            <div class="output-head">
                                <h3>境外招生股</h3>
                            </div>
							<div class="output-content">
								<% (1..4).each do |n| %>
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/640/640">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">經理兼國際學生組總監 <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">郭芠</span>
												<span class="en">Winni Kuo</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    winnikuo@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007 #204
												</li>
											</ul>
                                        </div>
									</a>
								</div>
								<% end %>
							</div>
						</div>
						
						<div class="tabBody" id="tab6">
                            <div class="output-head">
                                <h3>短期研修股</h3>
                            </div>
							<div class="output-content">
								<% (1..6).each do |n| %>
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/900/900">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">股長 <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">王湜吟</span>
												<span class="en">Margaret Wang</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    winnikuo@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007 #204
												</li>
											</ul>
                                        </div>
									</a>
								</div>
								<% end %>
							</div>
						</div>
						
						<div class="tabBody" id="tab7">
                            <div class="output-head">
                                <h3>國際生入學股</h3>
                            </div>
							<div class="output-content">
								<% (1..4).each do |n| %>
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/800/800">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">國際學生組總監兼股長 <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">叢肇廷</span>
												<span class="en">Andrew Tsung</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    winnikuo@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007 #204
												</li>
											</ul>
                                        </div>
									</a>
								</div>
								<% end %>
							</div>
						</div>
						
						<div class="tabBody" id="tab8">
                            <div class="output-head">
                                <h3>海外教育股</h3>
                            </div>
							<div class="output-content">
								<% (1..6).each do |n| %>
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/700/700">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">股長 <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">高繼吟</span>
												<span class="en">Jean Kao</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    winnikuo@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007 #204
												</li>
											</ul>
                                        </div>
									</a>
								</div>
								<% end %>
							</div>
						</div>
						
						<div class="tabBody" id="tab9">
                            <div class="output-head">
                                <h3>國際生短期研修股</h3>
                            </div>
							<div class="output-content">
								<% (1..6).each do |n| %>
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/400/400">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">股長 <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">高繼吟</span>
												<span class="en">Jean Kao</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    winnikuo@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007 #204
												</li>
											</ul>
                                        </div>
									</a>
								</div>
								<% end %>
							</div>
						</div>
						
						<div class="tabBody" id="tab10">
                            <div class="output-head">
                                <h3>堉璘獎學金專案辦公室</h3>
                            </div>
							<div class="output-content">
								<% (1..3).each do |n| %>
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/300/300">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">股長 <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">叢肇廷</span>
												<span class="en">Andrew Tsung</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    winnikuo@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007 #204
												</li>
											</ul>
                                        </div>
									</a>
								</div>
								<% end %>
							</div>
						</div>
						
						<div class="tabBody" id="tab11">
                            <div class="output-head">
                                <h3>交流計畫股</h3>
                            </div>
							<div class="output-content">
								<% (1..3).each do |n| %>
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/600/600">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">國際合作組總監兼股長 <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">邱思璇</span>
												<span class="en">Cher Chiu</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    winnikuo@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007 #204
												</li>
											</ul>
                                        </div>
									</a>
								</div>
								<% end %>
							</div>
						</div>
						
						<div class="tabBody" id="tab12">
                            <div class="output-head">
                                <h3>全球關係股</h3>
                            </div>
							<div class="output-content">
								<% (1..5).each do |n| %>
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/500/500">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">股長 <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">黃子瑜</span>
												<span class="en">Tzu-Yu Huang</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    winnikuo@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007 #204
												</li>
											</ul>
                                        </div>
									</a>
								</div>
								<% end %>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</main>
    </div>
</div>



<% content_for :js do %>
<script>
	//Members Tabs, from stackoverflow https://tinyurl.com/yydyyh78
    $(document).ready(function(){
        $('.tabBody.active').show(); //initially show the `tabBody` which has active class
    })

    //click event to each `tabs` element
    $('.member_tabs').on('click',function(e){
        e.preventDefault();
        $('.member_tabs').removeClass('active'); //remove active class from all the tabs
        $(this).addClass('active'); //add active to current clicked element
        var target=$(this).attr('href'); //get its href attrbute
        $('.tabBody').hide('fast').removeClass('active'); //remove active from tabBody and hide all of them
        $(target).show('slow').addClass('active'); //show target tab and add active class to it
    })
</script>
<% end %>
































