<!-- ntuoia: table four (select switch) 語系 - 中 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container">
	<div class="pages-row">
	    <%= render :partial => "/partials/accordian_nav" %>
		<main class="main">
		    <div class="main-inner">
                <div class="title-wrap">
                    <h3 class="section-title">國立臺灣大學出國交換學校一覽表</h3>
                </div>
				<div class="section-awall">
                    <p class="text-danger">交換名額依兩校出國及來校學生人數而異，為了延續臺大與姊妹校的長久合作，提供同學更多出國機會，同學需依照所錄取之交換期前往就讀。除特殊情事，並獲得雙方學校承辦人同意，不得申請延長或縮短交換期。</p>
					<p class="text-danger">110學年度（2021/2022年度）之學校資訊更新後，會於列表中加註"updated"。</p>
					<ul>
					    <li>合約名額：兩校簽約初始名額，非當年度甄選名額。</li>
						<li>甄選名額：本年度甄選名額，以學年計，若僅收1學期學生，名額為0.5，可視為預計錄取之最小值。</li>
						<li>甄選人次：本年度甄選人數，以人頭計，可視為預計錄取之最大值。</li>
						<li>參考範例：例如xx大學，合約名額5名、甄選名額2名、甄選人次3名，表示與該校最初簽訂每學年交換5名學生（或每學期10名），然因該校未薦送足額學生至本校（導致交換不平衡），故本次甄選名額僅有2名，另依今年度該校招收學生條件，2名名額的使用為1名交換一學年，2名限交換一學期，故該校甄選人次共有3名。</li>
					</ul>
                </div>
				<div class="output-block">
                    <div class="output-head short">
                        <h3>交換學生計畫學校一覽表</h3>
                    </div>
                    <div class="select-container">
                        <select class="mdb-select md-form" searchable="Search here..">
                            <option value="0" selected>全部</option>
                            <option value="1">巴西</option>
                            <option value="2">加拿大</option>
                            <option value="3">智利</option>
                            <option value="4">墨西哥</option>
                            <option value="5">美國</option>
                        </select>
                        <label class="mdb-main-label">請選擇國家</label>
                    </div>
					<div class="table-responsive">
                        <table class="table td-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th><span class="ch">學校</span></th>
									<th>
                                        <span class="ch">合約名額</span>
                                        <span class="en text-black-50">非甄選名額</span>
                                    </th>
                                    <th class="w80">
                                        <span class="ch">甄選名額</span>
                                        <span class="en text-black-50">2020/2021</span>
                                    </th>
                                    <th>
                                        <span class="ch">甄選人次 </span>
                                        <span class="en text-black-50">2020/2021</span>
                                    </th>
                                    <th class="w160">
                                        <span class="ch">申請資料</span>
                                    </th>
                                </tr>
                            </thead>
							
							<thead>
                                <tr>
                                    <th class="country-column" colspan="5">巴西</th>
                                </tr>
                            </thead>
                            <tbody>
								<% (1..3).each do |n| %>
                                <tr>
                                    <td>
										<span class="lang"><a href="#" target="_blank">里約熱內盧天主教大學</a></span>
										<span class="lang">since 2014 ~</span>
									</td>
									<td>3 名</td>
                                    <td>3 名</td>
                                    <td>6 名</td>
                                    <td><a href="#">申請資料</a></td>
                                </tr>
								<% end %>
                            </tbody>
							
							<thead>
                                <tr>
                                    <th class="country-column" colspan="5">加拿大</th>
                                </tr>
                            </thead>
                            <tbody>
								<% (1..11).each do |n| %>
                                <tr>
                                    <td>
										<span class="lang"><a href="#" target="_blank">魁北克大學蒙特婁分校</a></span>
										<span class="lang">since 2016 ~</span>
									</td>
									<td>3 名</td>
                                    <td>3 名</td>
                                    <td>6 名</td>
                                    <td><a href="#">申請資料</a></td>
                                </tr>
								<% end %>
                            </tbody>
							
							<thead>
                                <tr>
                                    <th class="country-column" colspan="5">智利</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
										<span class="lang"><a href="#" target="_blank">智利天主教大學</a></span>
										<span class="lang">since 2007 ~</span>
									</td>
									<td>3 名</td>
                                    <td>3 名</td>
                                    <td>6 名</td>
                                    <td><a href="#">申請資料</a></td>
                                </tr>
                            </tbody>
							
							<thead>
                                <tr>
                                    <th class="country-column" colspan="5">美國</th>
                                </tr>
                            </thead>
                            <tbody>
								<% (1..30).each do |n| %>
                                <tr>
                                    <td>
										<span class="lang"><a href="#" target="_blank">紐約州立大學 阿爾伯尼分校</a></span>
										<span class="lang">since 2007 ~</span>
									</td>
									<td>3 名</td>
                                    <td>3 名</td>
                                    <td>6 名</td>
                                    <td><a href="#">申請資料</a></td>
                                </tr>
								<% end %>
                            </tbody>
							
							<thead>
                                <tr>
                                    <th class="country-column" colspan="5">南非</th>
                                </tr>
                            </thead>
                            <tbody>
								<% (1..2).each do |n| %>
                                <tr>
                                    <td>
										<span class="lang"><a href="#" target="_blank">開普敦大學</a></span>
										<span class="lang">since 2017 ~</span>
									</td>
									<td>3 名</td>
                                    <td>3 名</td>
                                    <td>6 名</td>
                                    <td><a href="#">申請資料</a></td>
                                </tr>
								<% end %>
                            </tbody>
							<tfoot>
							    <tr>
								    <td class="total" colspan="5">
									    <span class="lang">合計： 42 個國家，256 所學校，837 合約名額，617 甄選名額，1144 甄選人次</span>
									</td>
								</tr>
							</tfoot>
                        </table>
					</div>
				</div>
				<div class="output-block">
                    <div class="output-head short">
                        <h3>訪問學生計畫</h3>
                    </div>
					<div class="table-responsive">
                        <table class="table td-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th><span class="ch">學校</span></th>
                                    <th class="w80">
                                        <span class="ch">甄選名額</span>
                                        <span class="en text-black-50">2020/2021</span>
                                    </th>
                                    <th>
                                        <span class="ch">甄選人次 </span>
                                        <span class="en text-black-50">2020/2021</span>
                                    </th>
                                    <th class="w160">
                                        <span class="ch">申請資料</span>
                                    </th>
                                </tr>
                            </thead>
							
							<thead>
                                <tr>
                                    <th class="country-column" colspan="5">美國</th>
                                </tr>
                            </thead>
                            <tbody>
								<% (1..3).each do |n| %>
                                <tr>
                                    <td><a href="#" target="_blank">加州大學戴維斯分校</a></td>
                                    <td>10 名</td>
                                    <td>20 名</td>
                                    <td><a href="#">申請資料</a></td>
                                </tr>
								<% end %>
                            </tbody>
							
							<thead>
                                <tr>
                                    <th class="country-column" colspan="5">澳大利亞</th>
                                </tr>
                            </thead>
                            <tbody>
								<% (1..3).each do |n| %>
                                <tr>
                                    <td><a href="#" target="_blank">墨爾本大學</a></td>
                                    <td>3 名</td>
                                    <td>6 名</td>
                                    <td><a href="#">申請資料</a></td>
                                </tr>
								<% end %>
                            </tbody>
							<tfoot>
							    <tr>
								    <td class="total" colspan="4">
									    <span class="lang">合計： 2 個國家，6 所學校，46 甄選名額，82 甄選人次</span>
									</td>
								</tr>
							</tfoot>
                        </table>
					</div>
				</div>
				<div class="output-block">
                    <div class="output-head short">
                        <h3>注意事項</h3>
                    </div>
					<div class="output-awall">
						<p><%= lorem_sentences(3) %></p>
						<p><%= lorem_sentences(5) %></p>
					</div>
				</div>
				<div class="output-block">
                    <div class="output-head short">
                        <h3>各地區業務承辦人</h3>
                    </div>
					<div class="output-awall">
						<p><%= lorem_sentences(3) %></p>
						<p><%= lorem_sentences(5) %></p>
					</div>
				</div>
			</div>
		</main>
    </div>
</div>



<% content_for :js do %>
<script>
// Material Select Initialization
$(document).ready(function () {
    $(".mdb-select").materialSelect();
});
</script>
<% end %>
































