<!-- NTU-OSA: Post Template  -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item active">公告</li>
		</ol>
	</nav>
	
	<main class="main">
		<article class="article">
			<h2 class="post-title">6/17-6/22 Semarang University 夏季文化營 「Java is the Little Asia」</h2>
			<div class="post-meta">
			    <div class="date-author">
					<span class="date"><i class="fa fa-clock-o"></i> 2019-05-08</span>
				</div>
				<div class="post-share">
					<ul class="menu-item">
						<li><a href="#"><img class="icon-share" src="../assets/icon-print2.svg" alt="列印" title="列印"></a></li>
						<li><a href="#"><img class="icon-share" src="../assets/icon-facebook.svg" alt="分享到Facebook" title="Facebook"></a></li>
						<li><a href="#"><img class="icon-share" src="../assets/icon-twitter.svg" alt="分享到twitter" title="twitter"></a></li>
						<li><a href="#"><img class="icon-share" src="../assets/icon-line.svg" alt="分享到Line" title="Line"></a></li>
					</ul>
				</div>
			</div>
			
			<div class="post-single">
				<h3>h3 title 標題加一般段落</h3>
				<p><%= zh_lorem_paragraphs(5) %></p>

				<h3>UL 列表</h3>
				<ul>
				    <li><%= zh_lorem_sentence %></li>
					<li><%= zh_lorem_sentence %></li>
					<li><%= zh_lorem_sentence %></li>
				</ul>
				
				<h3>OL 列表</h3>
				<ol>
				    <li><%= zh_lorem_sentence %></li>
					<li><%= zh_lorem_sentence %></li>
					<li><%= zh_lorem_sentence %></li>
				</ol>
				
				<h3>大圖加段落</h3>
				<img src="../assets/fake/03.jpg" alt="測試" title="測試">
				<p><%= zh_lorem_paragraphs(5) %></p>
				
				<p><%= zh_lorem_paragraphs(5) %></p>
				<img src="../assets/fake/03.jpg" alt="測試" title="測試">
				
				<div class="text-runaround">
					<h3>文繞圖置左</h3>
				    <img src="../assets/fake/04.jpg" alt="測試" title="測試">
					<p><%= zh_lorem_paragraphs(10) %></p>
				</div>
				
				<div class="text-runaround right">
				    <img src="../assets/fake/04.jpg" alt="測試" title="測試">
					<p><%= zh_lorem_paragraphs(10) %></p>
				</div>
				
				<div class="photo-gallery">
					<h3>多圖並列</h3>
					<div class="img-group">
				        <img src="../assets/fake/04.jpg" alt="測試" title="測試">
						<img src="../assets/fake/04.jpg" alt="測試" title="測試">
						<img src="../assets/fake/04.jpg" alt="測試" title="測試">
						<img src="../assets/fake/04.jpg" alt="測試" title="測試">
						<img src="../assets/fake/04.jpg" alt="測試" title="測試">
					</div>
					<p>圖片固定為三張一列，不足的右邊會被空出來，使用者上傳的照片長寬比例必須一致,請在後台標註讓使用者知道這點，否則排列有可能會爛掉。</p>
				</div>
				
				<div class="photo-gallery upright">
					<h3>直立多圖並列</h3>
					<div class="img-group">
				        <img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
						<img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
						<img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
						<img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
						<img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
					</div>
					<p>圖片固定為四張一列，不足的右邊會被空出來，使用者上傳的照片長寬比例必須一致，請在後台標註讓使用者知道這點，否則排列有可能會爛掉。</p>
				</div>
				
				<h3>表格</h3>
				<div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <% 5.times do %>
                                <th>測試用表格</th>
                                <% end %>
                            </tr>
                        </thead>
                        <tbody>
                            <% 5.times do %>
                            <tr>
                                <% 5.times do %>
                                <td><%= zh_lorem_sentence %></td>
                                <% end %>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
				</div>
				
				<h3>表格內容不斷行</h3>
				<p>容器加上 .text-nowrap</p>
				<div class="table-responsive text-nowrap">
                    <table>
                        <thead>
                            <tr>
                                <% 5.times do %>
                                <th>測試用表格</th>
                                <% end %>
                            </tr>
                        </thead>
                        <tbody>
                            <% 5.times do %>
                            <tr>
                                <% 5.times do %>
                                <td><%= zh_lorem_sentence %></td>
                                <% end %>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
				</div>
				
			</div>
			
			<div class="post-ft">
			    <!--div class="view-amount" title="瀏覽人次">
					<spn class="label"><i class="fa fa-eye"></i></spn>
					<spn>9999</spn>
				</div-->
				<div class="file-dl">
					<spn class="label">計畫申請表</spn>
					<a href="#" title="PDF">PDF</a>
					<a href="#" title="DOCX">DOCX</a>
					<a href="#" title="ODF">ODF</a>
				</div>
			</div>
		</article>
	</main>
	
</div>


<% content_for :js do %>

<% end %>





















































