<!-- template: 接待志工報名 - 申請表 -->

<div class="container-lg">
	<div class="page-content d-block">
        
        <div class="page-title">
            <h3>申請表</h3>
        </div>
        <div class="bg-light p-4 mb-4">
            <h5 class="text-danger">注意事項</h5>
            <ul>
                <li><%= lorem_sentence %></li>
                <li><%= lorem_sentence %></li>
                <li><%= lorem_sentence %></li>
            </ul>
        </div>
        
        <section class="section">
            <div class="section-title">
                <h4>個人資料</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="exampleInput01" class="form-label">
                            <span class="required">*</span> 學號
                        </label>
                        <div class="d-flex">
                            <div>
                                <input id="exampleInput01" class="form-control" type="text" value="9876543" disabled readonly>
                                <div class="form-text mt-1">
                                    <a href="#" class="btn btn-sm btn-light">
                                        <i class="fas fa-redo"></i>
                                    </a>
                                    曾經線上報名志工者取得舊報名資料
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInput02" class="form-label">
                            <span class="required">*</span> 中文姓名
                        </label>
                        <input id="exampleInput02" class="form-control" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInput03" class="form-label">
                            <span class="required">*</span> 英文姓名
                        </label>
                        <input id="exampleInput03" class="form-control" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInput05" class="form-label">
                            <span class="required">*</span> 出生日期
                        </label>
                        <input type="date" class="form-control" id="exampleInput05" name="trip-start1" value="1970-01-01" min="2024-01-01" max="2024-12-31">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInput04" class="form-label">
                            <span class="required">*</span> 身分證字號 (居留證號碼)
                        </label>
                        <input id="exampleInput04" class="form-control" type="text">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="form-label">
                            <span class="required">*</span> 性別
                        </label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">男</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">女</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="form-label">
                            <span class="required">*</span> 學院
                        </label>
                        <div class="row">
                            <div class="col-md-4 mb-2">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-md-8 mb-2">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="form-label">
                            <span class="required">*</span> 系所
                        </label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="form-label">
                            <span class="required">*</span> 年級
                        </label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section">
            <div class="section-title">
                <h4>地址和聯絡方式</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="exampleInput11" class="form-label">
                            <span class="required">*</span> 聯絡住址
                        </label>
                        <input id="exampleInput11" class="form-control" type="text">
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInput12" class="form-label">聯絡電話</label>
                        <input id="exampleInput12" class="form-control" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInput13" class="form-label">
                            <span class="required">*</span> 手機
                        </label>
                        <input id="exampleInput13" class="form-control" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInput14" class="form-label">
                            <span class="required">*</span> Email
                        </label>
                        <input id="exampleInput14" class="form-control" type="email">
                        <div class="form-text">所有重要信息將寄至學校信箱，請勤收學校信箱</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInput15" class="form-label">Email</label>
                        <input id="exampleInput15" class="form-control" type="email">
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section">
            <div class="section-title">
                <h4>其他</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="form-label">語言能力</label>
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">英文</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox2">日文</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                                <label class="form-check-label" for="inlineCheckbox3">韓文 </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                                <label class="form-check-label" for="inlineCheckbox4">德文 </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                                <label class="form-check-label" for="inlineCheckbox5">西班牙文 </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                                <label class="form-check-label" for="inlineCheckbox6">其他</label>
                            </div>
                            <div><input id="" class="form-control" type="text"></div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInput22" class="form-label">曾是接待志工接待過</label>
                        <input id="exampleInput22" class="form-control" type="text">
                        <div class="form-text">僅需填寫最近一學期接待之 1 名訪問研究生姓名</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="form-label">
                            <span class="required">*</span> 願意接待性別
                        </label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio11" value="option1">
                                <label class="form-check-label" for="inlineRadio11">同性別</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio12" value="option2">
                                <label class="form-check-label" for="inlineRadio12">不拘</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio13" value="option3">
                                <label class="form-check-label" for="inlineRadio13">男</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio14" value="option4">
                                <label class="form-check-label" for="inlineRadio14">女</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="form-label">
                            <span class="required">*</span> 可接待人數
                        </label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio21" value="option1">
                                <label class="form-check-label" for="inlineRadio21">1 人</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio22" value="option2">
                                <label class="form-check-label" for="inlineRadio22">2 人</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio23" value="option3">
                                <label class="form-check-label" for="inlineRadio23">不拘</label>
                            </div>
                        </div>
                        <div class="form-text">要修習服務學習二課程的同學僅能選擇接待 2 人或不拘</div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="exampleInput23" class="form-label">
                            <span class="required">*</span> 參與志工動機
                        </label>
                        <textarea class="form-control" id="exampleInput23" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </section>
        
        <div class="bg-warning bg-opacity-10 p-4 my-5">
            <h5 class="text-danger">注意事項</h5>
            <ul>
                <li><%= lorem_sentence %></li>
                <li><%= lorem_sentence %></li>
                <li><%= lorem_sentence %></li>
                <li><%= lorem_sentence %></li>
                <li><%= lorem_sentence %></li>
                <li><%= lorem_sentence %></li>
                <li><%= lorem_sentence %></li>
                <li><%= lorem_sentence %></li>
            </ul>
        </div>
        
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">
                    我已閱讀並充分了解注意事項之所有內容，並同意尊重國際事務處的配對結果
                </label>
            </div>
        </div>
        
        <div class="form-action">
            <button type="submit" class="btn btn-lg btn-primary">送出</button>
        </div>
        
	</div>
</div>



<% content_for :js do %>

<% end %>

