<!-- NISA-IS: 單筆公告 & FAQ  -->

<div class="container">
	<section class="section">
		<h4 class="block-title">Announcement</h4>
		<article class="article">
		    <h3 class="title"><%= lorem_sentence %></h3>
			<p class="date">2018/10/22</p>
			<div class="content">
			    <p><%= lorem_sentences(5) %></p>
				<p><%= lorem_sentences(10) %></p>
				<p><%= lorem_sentences(8) %></p>
				<p><%= lorem_sentences(5) %></p>
			</div>
		</article>
	</section>
</div>