<!-- NISA-IS: 步驟一 - 具結書  -->

<div class="container">
	<h4 class="block-title">Appeal process</h4>
	<div class="step-bar five-step">
		<ul>
			<li class="active">
				<span>
					<span class="step">1</span>
					<h4>Consent</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">2</span>
					<h4>Appeal</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">3</span>
					<h4>Mail Verification</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">4</span>
					<h4>Complete</h4>
				</span>
			</li>
		</ul>
	</div>
	<div class="step-container">
		<div class="awall mt-0">
		    <p><%= lorem_sentences(5) %></p>
			<ol>
			    <li><%= lorem_sentences(3) %></li>
				<li><%= lorem_sentences(2) %></li>
				<li><%= lorem_sentences(2) %></li>
				<li><%= lorem_sentences(3) %></li>
				<li><%= lorem_sentences(4) %></li>
				<li><%= lorem_sentences(3) %></li>
				<li><%= lorem_sentences(2) %></li>
				<li><%= lorem_sentences(4) %></li>
				<li><%= lorem_sentences(3) %></li>
				<li><%= lorem_sentences(2) %></li>
			</ol>
			<p><%= lorem_sentences(3) %></p>
		</div>
		<div class="text-center">
			<a href="step2.html" class="btn btn-cyan btn-lg mr-5">Agree</a>
			<a href="overview.html" class="text-black-50">disagree</a>
		</div>
	</div>
</div>

