<!-- ietw: 明信片交流活動專區 - 活動介紹 -->

<div class="content-wrapper">
    <div class="container-xl">
        
        <div class="page-row">
            <aside class="sidenav">
                <a accesskey="L" href="#accesskey_left_nav" tabindex="0" title="左側目錄" id="accesskey_left_nav" class="ackey d-block">:::</a>
                
                <ul class="nav-pills menu-item">
                    <li><a href="#" class="nav-link" title="{連結名稱}">明信片展示牆</a></li>
                    <li><a href="#" class="nav-link active" title="{連結名稱}">活動介紹</a></li>
                    <li><a href="#" class="nav-link" title="{連結名稱}">製作明信片</a></li>
                </ul>
                
            </aside>
            <main class="main">
                <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>
                
                <div class="post-content">
                    <h2>h2 title 標題</h2>
                    <h3>h3 title 標題加一般段落</h3>
                    <h4>h4 title 標題加一般段落</h4>
                    <p><%= zh_lorem_paragraphs(2) %></p>

                    <h3>UL 列表</h3>
                    <ul>
                        <li><%= zh_lorem_sentence %></li>
                        <li><%= zh_lorem_sentence %></li>
                        <li><%= zh_lorem_sentence %></li>
                    </ul>

                    <h3>OL 列表</h3>
                    <ol>
                        <li><%= zh_lorem_sentence %></li>
                        <li><%= zh_lorem_sentence %></li>
                        <li><%= zh_lorem_sentence %></li>
                    </ol>

                    <div class="video-wrapper">
                        <div class="videobox">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/kt4Z2AA5Kj0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>

                    <img src="../assets/fake/03.jpg" alt="測試" title="測試">
                    <p><%= zh_lorem_paragraphs(5) %></p>

                    <p><%= zh_lorem_paragraphs(5) %></p>

                    <div>
                        <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                        <p><%= zh_lorem_paragraphs(10) %></p>
                    </div>

                    <h3>表格</h3>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <% 5.times do %>
                                    <th>測試用表格</th>
                                    <% end %>
                                </tr>
                            </thead>
                            <tbody>
                                <% 5.times do %>
                                <tr>
                                    <% 5.times do %>
                                    <td><%= zh_lorem_sentence %></td>
                                    <% end %>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>

                    <h3>表格內容不斷行</h3>
                    <p>容器加上 <code>.text-nowrap</code></p>
                    <div class="table-responsive text-nowrap">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <% 5.times do %>
                                    <th>測試用表格</th>
                                    <% end %>
                                </tr>
                            </thead>
                            <tbody>
                                <% 5.times do %>
                                <tr>
                                    <% 5.times do %>
                                    <td><%= zh_lorem_sentence %></td>
                                    <% end %>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
		</div>
	</div>
</div>



<% content_for :js do %>


<% end %>




