<!-- admin-page: 虎科 UI - 教師作業及輔導歷程 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
	
    <div class="col-block block-tabs">
        <ul class="nav nav-tabs" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-1" data-bs-toggle="tab" href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1" aria-selected="false">工作行事曆</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-2" data-bs-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2" aria-selected="false">待辦事項</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-3" data-bs-toggle="tab" href="#ex1-tabs-3" role="tab" aria-controls="ex1-tabs-3" aria-selected="false">輔導作業</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="ex1-tab-4" data-bs-toggle="tab" href="#ex1-tabs-4" role="tab" aria-controls="ex1-tabs-4" aria-selected="true">教師作業及輔導歷程</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-5" data-bs-toggle="tab" href="#ex1-tabs-5" role="tab" aria-controls="ex1-tabs-5" aria-selected="false">視覺化儀表板</a>
            </li>
        </ul>

        <div class="block-content tab-content p-4" id="ex1-content">
            <div class="tab-pane fade" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
				<p><%= lorem_sentence %></p>
                <p><%= lorem_sentences(5) %></p>
				<p><%= lorem_sentences(5) %></p>
            </div>
            <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                <p><%= lorem_sentences(5) %></p>
				<p><%= lorem_sentences(5) %></p>
            </div>
            <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                <p><%= lorem_sentences(5) %></p>
				<p><%= lorem_sentences(5) %></p>
            </div>
            
            
            <div class="tab-pane fade show active" id="ex1-tabs-4" role="tabpanel" aria-labelledby="ex1-tab-4">
                
                <h4 class="mb-3">教師作業及輔導歷程</h4>
                
                <div class="p-4 bg-light rounded">
                    <div class="d-flex">
                        <div class="me-2">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>請選擇聘任單位</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="me-2">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>請選擇教師</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="me-2">
                            <button type="button" class="btn btn-outline-primary">查詢</button>
                        </div>
                    </div>
                    
                    <!-- 元件 -->
                    <div class="horizontal-info mt-5">
                        <ul class="menu-item">
                            <li>
                                <span class="label">教師編號</span>
                                <span class="output">EA1234</span>
                            </li>
                            <li>
                                <span class="label">姓名</span>
                                <span class="output">弓長張</span>
                            </li>
                            <li>
                                <span class="label">學院</span>
                                <span class="output">工程學院</span>
                            </li>
                            <li>
                                <span class="label">系所</span>
                                <span class="output">機械與電腦輔助工程系</span>
                            </li>
                            <li>
                                <span class="label">Email</span>
                                <span class="output">abcdef@email.com</span>
                            </li>
                        </ul>
                    </div>
                    <!-- 元件結束 -->
                    
                </div>
                
                <section class="log-section">
                    <h4 class="mb-3">輔導歷程</h4>
                    
                    <div class="d-flex mb-5">
                        <div class="me-2">
                            <input type="date" class="form-control" id="hangUpForm2" name="trip-start2" value="2024-01-20" min="2024-01-01" max="2024-12-31">
                        </div>
                        <div class="me-2"> - </div>
                        <div class="me-2">
                            <input type="date" class="form-control" id="hangUpForm2" name="trip-start2" value="2024-01-20" min="2024-01-01" max="2024-12-31">
                        </div>
                        <div class="me-2">
                            <button type="button" class="btn btn-outline-primary">查詢</button>
                        </div>
                    </div>
                    
                    <!-- 元件 -->
                    <div class="log-step">
                        
                        <!-- 數量超過視窗寬度出現 scrollbar -->
                        <div class="scrollbar-inner">
                            
                            <ul class="menu-item">
                                <li>
                                    
                                    <!-- a counseling-link -->
                                    <a href="#" class="counseling-link">
                                        <span class="step"><i></i></span>
                                        <span class="type">電話紀錄</span>
                                        <span class="date">2024-10-12</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="counseling-link">
                                        <span class="step"><i></i></span>
                                        <span class="type">郵件紀錄</span>
                                        <span class="date">2024-11-12</span>
                                    </a>
                                </li>
                                <% (1..4).map do |i| %>
                                <li>
                                    <a href="#" class="counseling-link">
                                        <span class="step"><i></i></span>
                                        <span class="type">會議紀錄</span>
                                        <span class="date">2024-12-01</span>
                                    </a>
                                </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                    <!-- 元件結束 -->
                    
                </section>
                
                <section class="log-section">
                    <div class="d-flex justify-content-between mb-4 pb-2 border-bottom">
                        <h5 class="fw-bold mb-0">研習申請紀錄</h5>
                    </div>
                    
                    <div class="mb-5">
                        <div class="mb-4 text-center"><a href="#" class="btn btn-light btn-rounded">abcd123456 <%= lorem_words(6) %></a></div>

                        <!-- 元件 -->
                        <div class="log-step">
                            <ul class="menu-item">
                                
                                <!-- li item-step -->
                                <li class="item-step">
                                    <span class="step"><i></i></span>
                                    <span class="type">送出申請</span>
                                    <span class="date">2024-10-12 12:00</span>
                                    <span class="name"><%= zh_lorem_name %></span>
                                </li>
                                <li class="item-step">
                                    <span class="step"><i></i></span>
                                    <span class="type">初審通過</span>
                                    <span class="date">2024-10-12 12:00</span>
                                    <span class="name"><%= lorem_name %></span>
                                </li>
                                <li class="item-step">
                                    <span class="step"><i></i></span>
                                    <span class="type">複審通過</span>
                                    <span class="date">2024-10-12 12:00</span>
                                    <span class="name"><%= zh_lorem_name %></span>
                                </li>
                            </ul>
                        </div>
                        <!-- 元件結束 -->
                        
                    </div>
                    
                    <div class="mb-5">
                        <div class="mb-4 text-center"><a href="#" class="btn btn-light btn-rounded">abcd123456 <%= lorem_words(6) %></a></div>

                        <!-- 元件 -->
                        <div class="log-step">
                            <ul class="menu-item">
                                
                                <!-- li item-step -->
                                <li class="item-step">
                                    <span class="step"><i></i></span>
                                    <span class="type">送出申請</span>
                                    <span class="date">2024-10-12 12:00</span>
                                    <span class="name"><%= lorem_name %></span>
                                </li>
                                <li class="item-step">
                                    <span class="step"><i></i></span>
                                    <span class="type">初審通過</span>
                                    <span class="date">2024-10-12 12:00</span>
                                    <span class="name"><%= zh_lorem_name %></span>
                                </li>
                                <li class="item-step">
                                    <span class="step"><i></i></span>
                                    <span class="type">複審通過</span>
                                    <span class="date">2024-10-12 12:00</span>
                                    <span class="name"><%= lorem_name %></span>
                                </li>
                            </ul>
                        </div>
                        <!-- 元件結束 -->
                        
                    </div>
                    
                    <div class="text-center">
                        <a href="#" calss="btn btn-link">查看全部 <i class="fas fa-chevron-right"></i></a>
                    </div>
                    
                </section>
                
                <section class="log-section">
                    <div class="d-flex justify-content-between mb-4 pb-2 border-bottom">
                        <h5 class="fw-bold mb-0">成果認定申請紀錄</h5>
                        <span>最新輪次通過認定日數 : 180 日</span>
                    </div>
                    
                    <div class="mb-5">
                        <div class="mb-4 text-center"><a href="#" class="btn btn-light btn-rounded">abcd123456 認定時數 : 8日</a></div>

                        <!-- 元件 -->
                        <div class="log-step">
                            <ul class="menu-item">
                                
                                <!-- li item-step -->
                                <li class="item-step">
                                    <span class="step"><i></i></span>
                                    <span class="type">送出申請</span>
                                    <span class="date">2024-10-12 12:00</span>
                                    <span class="name"><%= lorem_name %></span>
                                </li>
                                <li class="item-step">
                                    <span class="step"><i></i></span>
                                    <span class="type">初審通過</span>
                                    <span class="date">2024-10-12 12:00</span>
                                    <span class="name"><%= zh_lorem_name %></span>
                                </li>
                                <li class="item-step">
                                    <span class="step"><i></i></span>
                                    <span class="type">複審通過</span>
                                    <span class="date">2024-10-12 12:00</span>
                                    <span class="name"><%= zh_lorem_name %></span>
                                </li>
                            </ul>
                        </div>
                        <!-- 元件結束 -->
                        
                    </div>
                    
                    <div class="mb-5">
                        <div class="mb-4 text-center"><a href="#" class="btn btn-light btn-rounded">abcd123456 認定時數 : 100日</a></div>

                        <!-- 元件 -->
                        <div class="log-step">
                            <ul class="menu-item">
                                
                                <!-- li item-step -->
                                <li class="item-step">
                                    <span class="step"><i></i></span>
                                    <span class="type">送出申請</span>
                                    <span class="date">2024-10-12 12:00</span>
                                    <span class="name"><%= zh_lorem_name %></span>
                                </li>
                                <li class="item-step">
                                    <span class="step"><i></i></span>
                                    <span class="type">初審通過</span>
                                    <span class="date">2024-10-12 12:00</span>
                                    <span class="name"><%= lorem_name %></span>
                                </li>
                                <li class="item-step">
                                    <span class="step"><i></i></span>
                                    <span class="type">複審通過</span>
                                    <span class="date">2024-10-12 12:00</span>
                                    <span class="name"><%= lorem_name %></span>
                                </li>
                            </ul>
                        </div>
                        <!-- 元件結束 -->
                        
                    </div>
                    
                    <div class="text-center">
                        <a href="#" calss="btn btn-link">查看全部 <i class="fas fa-chevron-right"></i></a>
                    </div>
                    
                </section>
                
            </div>
            
            
            <div class="tab-pane fade" id="ex1-tabs-5" role="tabpanel" aria-labelledby="ex1-tab-5">
                <p><%= lorem_sentences(5) %></p>
				<p><%= lorem_sentences(5) %></p>
            </div>
        </div>
    </div>
</main>

<% content_for :js do %>

<% end %>