<!-- NCTU-Scholarship: 獲獎  -->

<div class="container">
	<div class="row">
	    <div class="col-3">
			<aside class="aside">
				<div class="avatar-wrap">
					<div class="avatar">
						<img src="../assets/default-avatar.svg" class="img-fluid" alt="">
					</div>
					<h5>
						林信丰 Shin-Feng Lin
						<small><span>網路與資訊系統博士學位學程系所</span>2 年級</small>
					</h5>
				</div>
				<ul class="personal-menu menu-item">
					<li><a href="personal-announcement.html">個人公告</a></li>
					<li><a href="overview.html">獎學金總攬</a></li>
					<li><a href="profile.html">個人資料維護</a></li>
				</ul>
				<div class="award-wrap">
					<h5>獲獎</h5>
					<ul class="personal-menu menu-item">
						<li class="current"><a href="award.html"><%= lorem_sentence %></a></li>
						<li><a href="award.html"><%= lorem_sentence %></a></li>
					</ul>
				</div>
				<div class="contact-wrap">
					<ul class="personal-menu menu-item">
						<li><i class="fa fa-mobile"></i>0936542765</li>
						<li><i class="fa fa-phone"></i>03-8634106</li>
						<li><i class="fa fa-envelope-o"></i>johansson@mail.ndhu.edu.tw</li>
					</ul>
				</div>
			</aside>
		</div>
		<div class="col-9">
			<h4 class="block-title">獲獎獎學金</h4>
			<table class="table text-center">
				<thead>
					<tr>
						<th class="text-left">獎學金名稱</th>
						<th>獲獎學期</th>
						<th>領獎學期數</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-left font-weight-bold"><%= lorem_sentence %></td>
						<td>102-1</td>
						<td>2</td>
					</tr>
				</tbody>
			</table>
			
			<section class="section">
			    <h5>每月發放</h5>
				<div class="table-responsive">
					<table class="table keep-all text-center">
						<thead>
							<tr>
								<th class="text-left">學期</th>
								<th>104-1</th>
								<th>104-2</th>
								<th>105-1</th>
								<th>105-2</th>
								<th>106-1</th>
								<th>106-2</th>
								<th>107-1</th>
								<th>107-2</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th class="text-left">獲獎金額</th>
								<% 6.times do %>
								<td>20000</td>
								<% end %>
								<td>無</td>
								<td>無</td>
							</tr>
							<tr>
								<th class="text-left">國際處發放金額</th>
								<% 6.times do %>
								<td>10000</td>
								<% end %>
								<td>無</td>
								<td>無</td>
							</tr>
							<tr>
								<th class="text-left">院系補助金額</th>
								<% 6.times do %>
								<td>10000</td>
								<% end %>
								<td>無</td>
								<td>無</td>
							</tr>
							<tr>
								<th class="text-left">補助月份</th>
								<td>104/09-105/02</td>
								<td>105/03-105/08</td>
								<td>105/09-106/02</td>
								<td>106/03-106/08</td>
								<td>106/09-107/02</td>
								<td>107/03-107/08</td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
			
			<section class="section">
			    <h5>住宿費減免</h5>
				<div class="table-responsive">
					<table class="table keep-all text-center">
						<thead>
							<tr>
								<th class="text-left">學期</th>
								<th>104-1</th>
								<th>104-2</th>
								<th>105-1</th>
								<th>105-2</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th class="text-left">住宿費</th>
								<td><i class="fa fa-check"></i></td>
								<td><i class="fa fa-check"></i></td>
								<td><i class="fa fa-check"></i></td>
								<td><i class="fa fa-check"></i></td>
							</tr>
							<tr>
								<th class="text-left">暑助費</th>
								<td></td>
								<td><i class="fa fa-check"></i></td>
								<td></td>
								<td><i class="fa fa-check"></i></td>
							</tr>
							<tr>
								<th class="text-left">補助月份</th>
								<td>104/09</td>
								<td>105/03</td>
								<td>105/09</td>
								<td>105/08</td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
			
			<section class="section">
			    <h5>學雜費減免</h5>
				<div class="table-responsive">
					<table class="table keep-all text-center">
						<thead>
							<tr>
								<th class="text-left">學期</th>
								<th>104-1</th>
								<th>104-2</th>
								<th>105-1</th>
								<th>105-2</th>
								<th>106-1</th>
								<th>106-2</th>
								<th>107-1</th>
								<th>107-2</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th class="text-left">獲獎金額</th>
								<% 6.times do %>
								<td>全免</td>
								<% end %>
								<td>無</td>
								<td>無</td>
							</tr>
							<tr>
								<th class="text-left">國際處發放金額</th>
								<% 8.times do %>
								<td>2000</td>
								<% end %>
							</tr>
							<tr>
								<th class="text-left">補助月份</th>
								<td>104/09-105/02</td>
								<td>105/03-105/08</td>
								<td>105/09-106/02</td>
								<td>106/03-106/08</td>
								<td>106/09-107/02</td>
								<td>107/03-107/08</td>
								<td>107/09-108/02</td>
								<td>108/03-108/08</td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
			
		</div>
	</div>
</div>

<div class="modal fade" id="scholarshipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= lorem_sentence %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><%= lorem_paragraph %></p>
				<p><%= lorem_paragraph %></p>
				<p><%= lorem_paragraph %></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>