<!-- NTUST-Scholarship: 申請結果查詢  -->

<div class="container">
	<hgroup class="mb-4 step-hd">
		<h5>108 交大國際生新生獎學金</h5>
	</hgroup>
	<div class="result-wrap">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="schedule-tab" data-toggle="tab" href="#schedule" role="tab" aria-controls="schedule" aria-selected="true">審查進度/結果</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="application-tab" data-toggle="tab" href="#application" role="tab" aria-controls="application" aria-selected="false">申請資料</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			
			<!-- 審查進度/結果 -->
			<div class="tab-pane fade show active" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">
				<h5><%= lorem_sentence %></h5>
				<p class="mb-3"><%= lorem_sentences(3) %></p>
				<p class="mb-0"><%= lorem_sentences(3) %></p>
				<p class="mb-0"><%= lorem_sentences(3) %></p>
			</div>
			
			<!-- 申請資料 -->
			<div class="tab-pane fade" id="application" role="tabpanel" aria-labelledby="application-tab">
				<div class="flow-wrap">
					<h5>個人資料</h5>
					<p class="mb-0"><%= lorem_sentences(3) %></p>
					<button type="button" class="btn btn-sm btn-primary mx-0" data-toggle="modal" data-target="#basicModal">View</button>
				</div>
				
				<div class="flow-wrap">
					<h5>繳交文件</h5>
					<p class="mb-0">需上傳繳交 10 個文件，尚缺 0 個文件</p>
					<p class="mb-0">待補件 1 件</p>
					<button type="button" class="btn btn-sm btn-primary mx-0" data-toggle="modal" data-target="#basicModal4">View</button>
				</div>
				
				<div class="flow-wrap">
					<h5>線上推薦信</h5>
					<p class="mb-0">設定指導教授</p>
					<button type="button" class="btn btn-sm btn-primary mx-0" data-toggle="modal" data-target="#basicModal5">View</button>
				</div>
			</div>
		</div>
	</div>
</div>

<%= render :partial => "/partials/review" %>





















