<!-- NTU-OSA: 關於我們單頁 sample (非本單位使用)  -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item active">關於我們</li>
		</ol>
	</nav>
	<main class="main">
		<div class="row">
			<div class="col-lg-3 sidenav">
				<div class="sticky">
					<ul class="collapsible smooth-scroll menu-item">
						<li><a href="#team1" class="collapsible-header waves-effect">主任</a></li>
						<li><a href="#team2" class="collapsible-header waves-effect"><%= zh_lorem_words(3) %>組</a></li>
						<li><a href="#team3" class="collapsible-header waves-effect"><%= zh_lorem_words(4) %>組</a></li>
						<li><a href="#team4" class="collapsible-header waves-effect"><%= zh_lorem_words(5) %>組</a></li>
						<li><a href="#team5" class="collapsible-header waves-effect"><%= zh_lorem_words(3) %>組</a></li>
						<li><a href="#team6" class="collapsible-header waves-effect"><%= zh_lorem_words(5) %>組</a></li>
						<li class="asingle-backtop"><a href="#AU" class="collapsible-header waves-effect">Back to top</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="about-container">
                    <div id="team1" class="position-wrapper asingle">
                        <div class="position-title">
                            <h4>主任</h4>
                        </div>
                        <ul class="card-wrapper menu-item">
                            <li class="card-item">
                                <div class="card">
                                    <div class="card-head">
                                        <h5>廖士程</h5>
                                        <h5>中心主任</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="avatar">
                                            <img src="https://placekeanu.com/512/512" alt="member name">
                                        </div>
                                        <ul class="menu-item individual">
                                            <li>
                                                <p class="label">連絡電話</p>
                                                <ul class="menu-item">
                                                    <li>02-33662181 #10</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <p class="label">電子信箱</p>
                                                <ul class="menu-item">
                                                    <li>account@ntu.edu.tw</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="team2" class="position-wrapper asingle">
                        <div class="position-title">
                            <h4><%= zh_lorem_words(5) %></h4>
                        </div>
                        <ul class="card-wrapper menu-item">
                            <li class="card-item">
                                <div class="card">
                                    <div class="card-head">
                                        <h5><%= zh_lorem_words(3) %></h5>
                                        <h5><%= zh_lorem_words(4) %>師</h5>
                                    </div>
                                    <div class="card-body">
										<div class="avatar">
                                            <img src="https://placekeanu.com/512/512" alt="member name">
                                        </div>
                                        <ul class="menu-item individual">
                                            <li>
                                                <p class="label">連絡電話</p>
                                                <ul class="menu-item">
                                                    <li>02-33662181 #10</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <p class="label">主要業務</p>
                                                <ul class="menu-item">
                                                    <li><%= zh_lorem_words(5) %></li>
                                                    <li><%= zh_lorem_words(5) %></li>
                                                    <li><%= zh_lorem_words(5) %></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <% (1..4).map do |i| %>
                            <li class="card-item">
                                <div class="card">
                                    <div class="card-head">
                                        <h5><%= zh_lorem_words(3) %></h5>
                                        <h5><%= zh_lorem_words(4) %>師</h5>
                                    </div>
                                    <div class="card-body">
										<div class="avatar">
                                            <img src="https://placekeanu.com/256/256" alt="member name">
                                        </div>
                                        <ul class="menu-item individual">
                                            <li>
                                                <p class="label">連絡電話</p>
                                                <ul class="menu-item">
                                                    <li>02-33662181 #10</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <p class="label">主要業務</p>
                                                <ul class="menu-item">
                                                    <li><%= zh_lorem_words(5) %></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <% end %>
                        </ul>
                    </div>
					
					<div id="team3" class="position-wrapper asingle">
                        <div class="position-title">
                            <h4><%= zh_lorem_words(5) %></h4>
                        </div>
                        <ul class="card-wrapper menu-item">
                            <% (1..4).map do |i| %>
                            <li class="card-item">
                                <div class="card">
                                    <div class="card-head">
                                        <h5><%= zh_lorem_words(3) %></h5>
                                        <h5><%= zh_lorem_words(4) %>師</h5>
                                    </div>
                                    <div class="card-body">
										<div class="avatar">
                                            <img src="https://placekeanu.com/320/320" alt="member name">
                                        </div>
                                        <ul class="menu-item individual">
                                            <li>
                                                <p class="label">連絡電話</p>
                                                <ul class="menu-item">
                                                    <li>02-33662181 #10</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <p class="label">主要業務</p>
                                                <ul class="menu-item">
                                                    <li><%= zh_lorem_words(5) %></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <% end %>
                        </ul>
                    </div>
					
					<div id="team4" class="position-wrapper asingle">
                        <div class="position-title">
                            <h4><%= zh_lorem_words(5) %></h4>
                        </div>
                        <ul class="card-wrapper menu-item">
                            <% (1..3).map do |i| %>
                            <li class="card-item">
                                <div class="card">
                                    <div class="card-head">
                                        <h5><%= zh_lorem_words(3) %></h5>
                                        <h5><%= zh_lorem_words(4) %>師</h5>
                                    </div>
                                    <div class="card-body">
										<div class="avatar">
                                            <img src="https://placekeanu.com/768/768" alt="member name">
                                        </div>
                                        <ul class="menu-item individual">
                                            <li>
                                                <p class="label">連絡電話</p>
                                                <ul class="menu-item">
                                                    <li>02-33662181 #10</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <p class="label">主要業務</p>
                                                <ul class="menu-item">
                                                    <li><%= zh_lorem_words(5) %></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <% end %>
                        </ul>
                    </div>
					
					<div id="team5" class="position-wrapper asingle">
                        <div class="position-title">
                            <h4><%= zh_lorem_words(5) %></h4>
                        </div>
                        <ul class="card-wrapper menu-item">
                            <% (1..3).map do |i| %>
                            <li class="card-item">
                                <div class="card">
                                    <div class="card-head">
                                        <h5><%= zh_lorem_words(3) %></h5>
                                        <h5><%= zh_lorem_words(4) %>師</h5>
                                    </div>
                                    <div class="card-body">
										<div class="avatar">
                                            <img src="https://placekeanu.com/320/320" alt="member name">
                                        </div>
                                        <ul class="menu-item individual">
                                            <li>
                                                <p class="label">連絡電話</p>
                                                <ul class="menu-item">
                                                    <li>02-33662181 #10</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <p class="label">主要業務</p>
                                                <ul class="menu-item">
                                                    <li><%= zh_lorem_words(5) %></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <% end %>
                        </ul>
                    </div>
					
					<div id="team6" class="position-wrapper asingle">
                        <div class="position-title">
                            <h4><%= zh_lorem_words(5) %></h4>
                        </div>
                        <ul class="card-wrapper menu-item">
                            <% (1..3).map do |i| %>
                            <li class="card-item">
                                <div class="card">
                                    <div class="card-head">
                                        <h5><%= zh_lorem_words(3) %></h5>
                                        <h5><%= zh_lorem_words(4) %>師</h5>
                                    </div>
                                    <div class="card-body">
										<div class="avatar">
                                            <img src="https://placekeanu.com/1024/1024" alt="member name">
                                        </div>
                                        <ul class="menu-item individual">
                                            <li>
                                                <p class="label">連絡電話</p>
                                                <ul class="menu-item">
                                                    <li>02-33662181 #10</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <p class="label">主要業務</p>
                                                <ul class="menu-item">
                                                    <li><%= zh_lorem_words(5) %></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <% end %>
                        </ul>
                    </div>

				</div>
			</div>
		</div>
	</main>
</div>


<% content_for :js do %>
<script>
$(function () {
	$(".sticky").sticky({
		topSpacing: 30,
		zIndex: 2,
		stopper: "footer.footer",
		minWidth: 992
	});
    jQuery(document).ready(function($) {
        var alterClass = function() {
            var ww = document.body.clientWidth;
            if (ww < 992) {
                $('.sticky').addClass('sticky-fix');
            } else if (ww >= 992) {
                $('.sticky').removeClass('sticky-fix');
            };
        };
        $(window).resize(function() {
            alterClass();
        });
        //Fire it when the page first loads:
        alterClass();
    });
});
</script>
<% end %>





















































