<!-- template: 個資告知函 -->

<div class="container-lg">
    <section class="section">
        <div class="section-title">
            <h3>同意具結書及個資同意書</h3>
        </div>
        <div class="consent-wrapper">
            <p><%= zh_lorem_paragraphs(5) %></p>
            <p><%= zh_lorem_paragraphs(6) %></p>
            <p><%= zh_lorem_paragraphs(8) %></p>
            <p><%= zh_lorem_paragraphs(5) %></p>
            <p><%= zh_lorem_paragraphs(6) %></p>
            <p><%= zh_lorem_paragraphs(8) %></p>
            <p><%= zh_lorem_paragraphs(5) %></p>
            <p><%= zh_lorem_paragraphs(6) %></p>
            <p><%= zh_lorem_paragraphs(8) %></p>
        </div>
        
        <div class="form-action">
            <button type="button" class="btn btn-lg btn-primary">同意</button>
            <button type="button" class="btn btn-lg btn-light">不同意</button>
        </div>
        
    </section>

</div>


<% content_for :js do %>



<% end %>

