<!-- ntuoia: 編輯模式樣板  -->

<div class="container">
	<div style="padding: 3rem 0">
	    <p><%= lorem_sentences(10) %></p>
		<p><%= lorem_sentences(10) %></p>
		<p><%= lorem_sentences(20) %></p>
		<p><%= lorem_sentences(10) %></p>
		<p><%= lorem_sentences(10) %></p>
		<p><%= lorem_sentences(20) %></p>
	</div>
</div>

<% content_for :js do %>

<% end %>