<!-- oia-yzu: 交流生 - 錄取結果/新生入學調查表 -->

<div class="container">
	<div class="main-wrap">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link" id="application_information-tab" data-toggle="tab" href="#application_information" role="tab" aria-controls="application_information" aria-selected="true">申請資料</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="review_result-tab" data-toggle="tab" href="#review_result" role="tab" aria-controls="review_result" aria-selected="false">補繳文件</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" id="admission_result-tab" data-toggle="tab" href="#admission_result" role="tab" aria-controls="admission_result" aria-selected="false">錄取結果</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="admission_survey-tab" data-toggle="tab" href="#admission_survey" role="tab" aria-controls="admission_survey" aria-selected="false">新生入學調查表</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="upload_documents-tab" data-toggle="tab" href="#upload_documents" role="tab" aria-controls="upload_documents" aria-selected="false">上傳入學繳交文件</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			
			<div class="tab-pane fade" id="application_information" role="tabpanel" aria-labelledby="application_information-tab">
                <div class="data-block mb-5">
                    <div class="form-wrapper">
                        <h4 class="wrapper-title">Basic information</h4>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <label for="Chinesefullname"><span class="required">*</span>Chinese Name</label>
                                    <p class="output">陳曉明</p>
                                    <small class="form-text text-muted">Please provide your name as stated on your passport or national ID</small>
                                </div>
                                <div class="col-6">
                                    <label for="Englishfullname"><span class="required">*</span>English name</label>
                                    <p class="output">Chen Xiaoming</p>
                                    <small class="form-text text-muted">Please provide your name as stated on your passport or national ID</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="d-block"><span class="required">*</span>Gender</label>
                                    <p class="output">Male</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label><span class="required">*</span>Date of Birth</label>
                                    <div class="form-row">
                                        <p class="output">2002/05/28</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label><span class="required">*</span>Country of Birth</label>
                                    <p class="output">United States of America</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label><span class="required">*</span>Nationality</label>
                                    <p class="output">United States of America</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <label for="Hometown"><span class="required">*</span>Hometown</label>
                                    <p class="output">United States of America</p>
                                    <small class="form-text text-muted">中國以外國家似乎沒有籍貫的習慣，而且是必填欄位</small>
                                </div>
                                <div class="col-6">
                                    <label for="Hometown2"><span class="required">*</span>Hometown Place?
                                    <p class="output">United States of America</p>
                                    <small class="form-text text-muted">籍貫地又更混淆</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mailingAddress"><span class="required">*</span>Mailing Address</label>
                            <p class="output">285 Fulton St, New York, NY 10007 USA</p>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label><span class="required">*</span>Tel</label>
                                    <p class="output">+1 844-696-1776</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label><span class="required">*</span>Mobile</label>
                                    <p class="output">(626)555-1212</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="personalEmail"><span class="required">*</span>E-mail</label>
                            <p class="output">usersemail@somemail.com</p>
                        </div>
                    </div>
                    <div class="form-wrapper">
                        <h4 class="wrapper-title">Chinese Language Proficiency Assessment</h4>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="d-block"><span class="required">*</span>Listen</label>
                                    <p class="output">Excellent</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="d-block"><span class="required">*</span>Speak</label>
                                    <p class="output">Good</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="d-block"><span class="required">*</span>Read</label>
                                    <p class="output">Passable</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="d-block"><span class="required">*</span>Write</label>
                                    <p class="output">Poor</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="languageRemark">Remark</label>
                            <textarea class="form-control rounded-0" id="languageRemark" rows="4"><%= lorem_sentences(3) %></textarea>
                        </div>
                    </div>
                </div>

                <div class="data-block mb-5">
                    <table class="table table-vertical-middle">
                        <thead>
                            <tr>
                                <th class="text-center">Priority</th>
                                <th>School Name</th>
                                <th>College & Department</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="font-700 text-center">1</td>
                                <td>National Taiwan University</td>
                                <td>Department of Engineering</td>
                            </tr>
                            <tr>
                                <td class="font-700 text-center">2</td>
                                <td>ational Chiao Tung University</td>
                                <td>Department of Physics</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
			</div>

			<div class="tab-pane fade" id="review_result" role="tabpanel" aria-labelledby="review_result-tab">
				<p>---------- 省略 ----------</p>
			</div>
			
			<div class="tab-pane fade show active" id="admission_result" role="tabpanel" aria-labelledby="admission_result-tab">
				<div class="mb-4">
					<h5 class="font-weight-bold">東京大學 陳XX 設計學院 工業設計系 交換 1 學期 申請序號 10504002</h5>
					<h6 class="text-success">恭喜您!已錄取 xxxxxxx 系所</h6>
					<p><%= lorem_sentences(4) %></p>
				</div>
				<div class="mb-5">
					<div class="form-group">
						<label>是否確認入學 應用數學系學士班？</label>
						<div>
							<div class="custom-control custom-radio">
								<input type="radio" class="custom-control-input" id="yes" name="PersonalGender">
								<label class="custom-control-label" for="yes">是，我確定要入學應用數學系學士班</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" class="custom-control-input" id="no" name="PersonalGender">
								<label class="custom-control-label" for="no">否，我要放棄入學資格</label>
								<textarea class="form-control mt-2" id="exampleFormControlTextarea" rows="4" placeholder="放棄原因"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center">
					<a href="/" class="btn btn-primary mr-2">Send results</a>
					<a href="/" class="btn btn-light">Download notice</a>
				</div>
			</div>
			
			<div class="tab-pane fade" id="admission_survey" role="tabpanel" aria-labelledby="admission_survey-tab">
				<h5 class="font-weight-bold">列印入學許可</h5>
				<div class="awall mb-5">
					<p><%= lorem_sentences(6) %></p>
					<p><%= lorem_sentences(4) %></p>
					<p class="text-right"><button class="btn btn-sm btn-light">列印</button></p>
				</div>
				<div class="mb-5">
					<h5 class="font-weight-bold">抵臺資訊</h5>
					<div class="form-group">
						<label><span class="required">*</span> 抵台資訊</label>
						<div>
							<div class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" id="arrivedInTaiwan" name="ArrivalInformation">
								<label class="custom-control-label" for="arrivedInTaiwan">已抵達臺灣</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" id="ArrivalFlightInformation" name="ArrivalInformation">
								<label class="custom-control-label" for="ArrivalFlightInformation">抵台班機資訊</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" id="NotConfirmed" name="ArrivalInformation">
								<label class="custom-control-label" for="NotConfirmed">抵台班機尚未確認</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label><span class="required">*</span> 到校交通</label>
						<div>
							<div class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" id="ApplyFor" name="SchoolTraffic">
								<label class="custom-control-label" for="ApplyFor">申請接機 <span class="form-text text-muted d-inline"> (請填寫確切抵臺持間，接機服務酌收部分交通費用)</span></label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" id="byYourself" name="SchoolTraffic">
								<label class="custom-control-label" for="byYourself">自行到校</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for=""><span class="required">*</span> 抵臺時間</label>
						<div class="row">
							<div class="col">
								<input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker">
							</div>
							<div class="col">
								<input placeholder="Selected time" type="text" id="input_endtime" class="form-control timepicker">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col">
								<label for="airline"><span class="required">*</span> 航空公司</label>
								<input type="text" class="form-control" id="airline" placeholder="">
							</div>
							<div class="col">
								<label for="flight"><span class="required">*</span> 班機</label>
								<input type="text" class="form-control" id="flight" placeholder="">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="airportTerminal"><span class="required">*</span> 機場航廈</label>
						<select id="airportTerminal" class="browser-default custom-select">
							<option selected>Please choose</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</div>
				</div>
				<div class="mb-5">
					<h5 class="font-weight-bold">個人資訊</h5>
					<div class="form-group">
						<label for="">Phone number</label>
						<div class="row">
							<div class="col">
								<input type="text" class="form-control" placeholder="Country code">
							</div>
							<div class="col">
								<input type="text" class="form-control" placeholder="Area code">
							</div>
							<div class="col">
								<input type="text" class="form-control" placeholder="Number">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="twAddress">Taiwan address</label>
						<input type="text" class="form-control" id="twAddress" placeholder="">
					</div>
				</div>
				<div class="mb-5">
					<h5 class="font-weight-bold">在臺聯絡人</h5>
					<div class="form-group">
						<div class="row">
							<div class="col">
								<label for="contactName">姓名</label>
								<input type="text" class="form-control" id="contactName" placeholder="">
							</div>
							<div class="col">
								<label for="contactEmail">電子郵件</label>
								<input type="text" class="form-control" id="contactEmail" placeholder="">
							</div>
						</div>
					</div>
				</div>
				<div class="mb-5">
					<h5 class="font-weight-bold">宿舍申請</h5>
					<div class="form-group">
					    <p><%= lorem_sentences(8) %></p>
					</div>
					<div class="form-group">
						<label><span class="required">*</span> 您是否需要申請本校宿舍</label>
						<div>
							<div class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" id="ansYes" name="SchoolTraffic">
								<label class="custom-control-label" for="ansYes">是</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" id="ansNo" name="SchoolTraffic">
								<label class="custom-control-label" for="ansNo">否</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label><span class="required">*</span> 申請宿舍種類</label>
						<div>
							<div class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" id="insideFour" name="SchoolTraffic">
								<label class="custom-control-label" for="insideFour">校內4人宿舍</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" id="outsideTwo" name="SchoolTraffic">
								<label class="custom-control-label" for="outsideTwo">校外2人套房</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" id="outsideOne" name="SchoolTraffic">
								<label class="custom-control-label" for="outsideOne">校外單人套房</label>
							</div>
						</div>
					</div>
				</div>
				<div class="mb-5">
					<h5 class="font-weight-bold">保險調查</h5>
					<div class="form-group">
					    <p><%= lorem_sentences(8) %></p>
					</div>
					<div class="form-group">
						<label><span class="required">*</span> 您是否需要申請本校宿舍</label>
						<div>
							<div class="custom-control custom-radio">
								<input type="radio" class="custom-control-input" id="ansYes" name="SchoolTraffic">
								<label class="custom-control-label" for="ansYes">是</label>
								<a href="/" class="btn btn-xs btn-secondary">上傳保險資料</a>
								<a href="/" class="btn btn-xs btn-info">檢視</a>
								<span class="form-text text-muted d-inline">上傳時間:2019/02/12 18:20</span>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" class="custom-control-input" id="ansNo" name="SchoolTraffic">
								<label class="custom-control-label" for="ansNo">否 
								<span class="form-text text-muted d-inline"> (由學校協助投保)</span>
								<a href="/">投保說明</a></label>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center mt-5">
					<a href="/" class="btn btn-primary">儲存</a>
				</div>
			</div>
			
			<div class="tab-pane fade" id="upload_documents" role="tabpanel" aria-labelledby="upload_documents-tab">
				<div class="mb-4">
					<h5 class="font-weight-bold">上傳入學繳交文件</h5>
					<p>請上傳下列各項文件，限制 PDF 格式，個別檔案請勿大於 5MB。</p>
				</div>
				<div class="awall mb-5">
					注意事項說明內容
					<p><%= lorem_sentences(6) %></p>
					<p><%= lorem_sentences(4) %></p>
					<p><%= lorem_sentences(6) %></p>
				</div>
				<div class="document-upload">

					<div class="document-item">
						<div class="document-hd">
							<h6>2. 入學繳交文件 <small><a href="#" class="btn btn-secondary btn-xs waves-effect waves-light">說明</a></small></h6>
						</div>
						<div class="document-ft">
							<form class="md-form">
								<div class="file-field">
									<a class="btn-floating btn-sm purple-gradient mt-0 float-left">
										<i class="fa fa-cloud-upload" aria-hidden="true"></i>
										<input type="file">
									</a>
									<div class="file-path-wrapper">
									   <input class="file-path validate" type="text" placeholder="上傳">
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="document-item">
						<div class="document-hd">
							<h6>2. 申請繳交文件 <small><a href="#" class="btn btn-secondary btn-xs waves-effect waves-light">說明</a></small></h6>
						</div>
						<div class="document-ft">
							<form class="md-form">
								<div class="file-field">
									<a class="btn-floating btn-sm purple-gradient mt-0 float-left">
										<i class="fa fa-cloud-upload" aria-hidden="true"></i>
										<input type="file">
									</a>
									<div class="file-path-wrapper">
									   <input class="file-path validate" type="text" placeholder="上傳">
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="document-item">
						<div class="document-hd">
							<h6>3. 申請繳交文件2 <small><a href="#" class="btn btn-secondary btn-xs waves-effect waves-light">說明</a></small></h6>
							<p>Upload time <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
						</div>
						<div class="document-ft">
							<a href="#" class="btn btn-info btn-xs">檢視</a>
							<a href="#" class="btn btn-warning btn-xs">編輯</a>
						</div>
					</div>

				</div>
			</div>
			
		</div>
	</div>
</div>

