<!-- oia-yzu: 首頁卡片式公告樣板 -->

<div class="container">
	<h4 class="block-title">首頁卡片式公告樣板</h4>
	<ul class="menu-item ann-list">
		<li>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><a><%= lorem_sentence %></a></h4>
                    <p class="card-text"><%= lorem_sentences(3) %></p>
                    <a href="#" class="btn btn-success">Button</a>
                </div>
            </div>
		</li>
		<% (1..2).each do |n| %>
	    <li>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><a><%= lorem_sentence %></a></h4>
                    <p class="card-text"><%= lorem_sentences(3) %></p>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
            </div>
		</li>
		<% end %>
		<li>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><a><%= lorem_sentence %></a></h4>
                    <p class="card-text"><%= lorem_sentences(3) %></p>
                    <a href="#" class="btn btn-info">Button</a>
                </div>
            </div>
		</li>
	</ul>
</div>

