<!-- tigp: 具結書 -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
    <div class="my-5">
		<h3>Declaration</h3>
		<p><%= lorem_sentences(3) %></p>
		<p><%= lorem_sentences(5) %></p>
		<p><%= lorem_sentences(3) %></p>
		<p><%= lorem_sentences(5) %></p>
		<p><%= lorem_sentences(3) %></p>
	</div>
	<div class="text-center">
		<a href="/" class="btn btn-primary mr-5">Agree</a>
		<a href="/" class="text-black-50">Disagree</a>
	</div>
</div>

