<!-- tigp: 初審結果 -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<div class="examine-container">
	    <div class="row">
		    <div class="tabs-column col-0 col-lg-3">
			    <ul class="nav-examine menu-item">
					<!-- 以下並非正確翻譯請跟客戶確認正確 wording -->
                    <li class="nav-item">
                        <a class="examine-link" href="examine_application.html">
							<span>Application Preview</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_recommendation.html">
							<span>Recommendation Letters</span>
							<span class="badge badge-pill badge-secondary">1/3</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_document.html">
							<span>Re-submit Document</span>
							<span class="badge badge-pill badge-danger">1</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link current" href="examine_preliminary.html">
							<span>Preliminary Review</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_review.html">
							<span>Secondary Review</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_survey.html">
							<span>Entrance Survey</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_upload.html">
							<span>Contract Upload</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_result.html">
							<span>Result</span>
						</a>
                    </li>
				</ul>
			</div>
			<div class="content-column col-12 col-lg-9">
			    <div class="content-container">
					<div class="examine_nav">
                        <div class="button_container" id="toggle_examine"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>
                        <div class="overlay" id="overlay_examine">
                            <nav class="overlay-menu">
                                <ul>
                                    <li><a href="examine_application.html">Application Preview</a></li>
                                    <li><a href="examine_recommendation.html">Recommendation Letters <span class="badge badge-pill badge-secondary">1/3</span></a></li>
                                    <li><a href="examine_document.html">Re-submit Document <span class="badge badge-pill badge-danger">1</span></a></li>
                                    <li><a href="examine_preliminary.html">Preliminary review</a></li>
                                    <li><a href="examine_review.html">Review</a></li>
                                    <li><a href="examine_survey.html">Entrance survey</a></li>
                                    <li><a href="examine_upload.html">Contract Upload</a></li>
                                    <li><a href="examine_result.html">Result</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="block-title">
                        <h4 class="h-title">Preliminary Review</h4>
                    </div>
                    <div class="editor-wall">
						<h5>Congratulations</h5>
                        <p><%= lorem_sentences(5) %></p>
                        <ul>
                            <li><%= lorem_sentences(1) %></li>
                            <li><%= lorem_sentences(1) %></li>
							<li><%= lorem_sentences(1) %></li>
                        </ul>
                        <p><%= lorem_sentences(3) %></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :js do %>
<script>
$("#toggle_examine").click(function () {
    $(this).toggleClass("active");
    $("#overlay_examine").toggleClass("open");
});
</script>
<% end %>