<!-- NCTU-OASIS: 個資同意書  -->

<div class="container">
    <div class="section-hd">
        <h4 class="block-title">Personal collection consent</h4>
		<h6 class="font-700">National Chiao Tung University Personal Information Collection, Processing and Utilization Notice and Consent Form</h6>
    </div>
	<div class="pt-4">
	    <p><%= lorem_sentences(3) %></p>
        <ul>
            <li>
				<h6 class="font-700"><%= lorem_sentence %></h6>
				<ol>
				    <li><%= lorem_sentence %></li>
					<li><%= lorem_sentence %></li>
				</ol>
			</li>
            <li><%= lorem_paragraph %></li>
            <li><%= lorem_paragraph %></li>
        </ul>
		<h5 class="font-700"><%= lorem_sentence %></h5>
		<p><%= lorem_sentences(5) %></p>
		<p><%= lorem_sentences(2) %></p>
	</div>
	<div class="text-center">
		<a href="data_verification.html" class="btn btn-default mr-5">Agree</a>
		<a href="overview.html" class="text-black-50">Disagree</a>
	</div>
</div>

