<!-- NCTU-OASIS: 審查 - 錄取 -->

<div class="container review-container">
    <ul class="nav nav-tabs review-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="true">Review</a>
        </li>
		<li class="nav-item">
            <a class="nav-link" id="recommend-tab" data-toggle="tab" href="#recommend" role="tab" aria-controls="recommend" aria-selected="true">Recommended progress </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="documents-tab" data-toggle="tab" href="#documents" role="tab" aria-controls="documents" aria-selected="false">Make up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="result-tab" data-toggle="tab" href="#result" role="tab" aria-controls="result" aria-selected="false">Result <span class="badge badge-pill badge-default un-shadows">Announced</span></a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
            <div class="data-block mb-5">
                <p><%= lorem_paragraphs(10) %></p>
                <p><%= lorem_paragraphs(20) %></p>
                <p><%= lorem_paragraphs(50) %></p>
                <p><%= lorem_paragraphs(20) %></p>
            </div>
        </div>
		
		<div class="tab-pane fade" id="recommend" role="tabpanel" aria-labelledby="recommend-tab">
            <div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">
                Suchart Chiwong rejected the recommendation of your {{OOO Department OOO Group (degree)}}, please set other referees.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="document-upload">
                <div class="document-item recommend-item">
					<div class="document-number">1</div>
                    <div class="document-hd">
                        <h5 class="font-400">Sky Wang <span class="badge badge-pill badge-warning">Mail not open</span></h5>
                        <p class="font-300 text-muted">Name of the application department Name of the group (degree)</p>
                    </div>
                    <div class="document-ft">
                        Notification time <i class="fa fa-clock-o"></i> 2018/12/12 18:20
						<a href="#" class="btn btn-sm btn-outline-primary btn-rounded waves-effect un-shadows text-lowercase">Send a notification</a>
                    </div>
                </div>
				<div class="document-item recommend-item">
					<div class="document-number">2</div>
                    <div class="document-hd">
                        <h5 class="font-400">Suchart Chiwong <span class="badge badge-pill badge-danger">Refusal</span></h5>
                        <p class="font-300 text-muted">Name of the application department Name of the group (degree)</p>
                    </div>
                    <div class="document-ft">
                        Refusal time <i class="fa fa-clock-o"></i> 2018/12/12 18:20
                    </div>
                </div>
            </div>
            <a href="#" class="add-btn">
                <span class="btn btn-sm btn-blue-grey btn-rounded"><i class="fa fa-plus"></i></span>
                <span class="text-black-50">Add a new one</span>
            </a>
        </div>
		
        <div class="tab-pane fade" id="documents" role="tabpanel" aria-labelledby="documents-tab">
            <div class="alert alert-warning" role="alert">The following documents are subject to review after review, please modify and re-upload</div>
			
			<h5 class="mt-5 font-700">Qualification document</h5>
			<p class="mb-4"><%= lorem_paragraph %></p>
            <div class="document-upload">
                <div class="document-item">
                    <div class="document-hd">
                        <h5 class="font-300"><%= lorem_words(5) %></h5>
                        <p class="font-300 text-muted">Upload time <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
                    </div>
                    <div class="document-ft">
                        <a href="#" class="btn btn-secondary btn-xs" data-toggle="modal" data-target="#basicExampleModal">Description</a>
                        <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">View</a>
                        <a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#basicExampleModal">Edit</a>
                    </div>
                </div>
            </div>
			
			<h5 class="mt-5 font-700">Degree/College Name/Department Name Requirements Document</h5>
			<p class="mb-4"><%= lorem_paragraph %></p>
            <div class="document-upload">
                <div class="document-item">
                    <div class="document-hd">
                        <h5 class="font-300"><%= lorem_words(5) %></h5>
                        <p class="font-300 text-muted">Upload time <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
                    </div>
                    <div class="document-ft">
                        <a href="#" class="btn btn-secondary btn-xs" data-toggle="modal" data-target="#basicExampleModal">Description</a>
                        <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">View</a>
                        <a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#basicExampleModal">Edit</a>
                    </div>
                </div>
				<div class="document-item">
                    <div class="document-hd">
                        <h5 class="font-300"><%= lorem_words(5) %></h5>
                        <p class="font-300 text-muted">Upload time <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
                    </div>
                    <div class="document-ft">
                        <a href="#" class="btn btn-secondary btn-xs" data-toggle="modal" data-target="#basicExampleModal">Description</a>
                        <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">View</a>
                        <a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#basicExampleModal">Edit</a>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4">
                <a href="#" class="btn btn-default btn-lg">Submit</a>
            </div>
		</div>
		
        <div class="tab-pane fade show active" id="result" role="tabpanel" aria-labelledby="result-tab">
            <div>
                <p><%= lorem_paragraphs(2) %></p>
                <p><%= lorem_paragraphs(3) %></p>
            </div>
			<table class="table">
			    <thead>
				    <tr>
					    <th>Serial</th>
						<th>Application number</th>
						<th>Application group</th>
						<th>Distribution</th>
						<th>Scholarship</th>
					</tr>
				</thead>
				<tbody>
				    <tr>
					    <td>2</td>
						<td>108AG0098B2MBA-1</td>
						<td>Degree / College Name / Department Name</td>
						<td>Distribution</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<form class="mt-5 mb-5">
				<label class="font-700 h5 mb-3">Deadline for admission to school survey 2019-06-09 23:59</label>
                <div class="form-check mb-2">
                    <input type="radio" class="form-check-input" id="willingnessYes" name="willingnessRadios" value="Value1">
                    <label class="form-check-label" for="willingnessYes">Yes, I am sure I want to enter school.</label>
                </div>
				<div id="Value1" class="pl-4">
				    <p class="mt-4 mb-2">Please confirm the following basic information is correct, if not correct, please modify</p>
                    <div class="form-group">
                        <label for="referrerNameOne"><span class="required">*</span>Name</label>
                        <input type="text" class="form-control" id="referrerNameOne" placeholder="">
						<small class="form-text text-muted">Send the admission notice to use the name, please check if it is the same as the passport.</small>
                    </div>
					<div class="form-group">
						<label><span class="required">*</span>Mailing  Address</label>
						<div class="form-row">
						    <div class="col-4">
							    <input type="text" class="form-control" placeholder="Postal/Zip Code">
							</div>
							<div class="col-8">
							    <input type="text" class="form-control" placeholder="Address">
							</div>
						</div>
						<small class="form-text text-muted"><%= lorem_paragraph %></small>
                    </div>
				</div>
				<div class="form-check">
                    <input type="radio" class="form-check-input" id="willingnessNo" name="willingnessRadios" value="Value2">
                    <label class="form-check-label" for="willingnessNo">No, I want to give up admission.</label>
                </div>
				<div id="Value2" class="pl-4">
					<input type="text" class="form-control mt-3" placeholder="The reason">
				</div>
                <div class="mt-5 mb-5">
                    <p><%= lorem_paragraphs(2) %></p>
                    <p><%= lorem_paragraphs(3) %></p>
                </div>
                <div class="text-center mt-4">
                    <a href="#" class="btn btn-default btn-lg">Submit</a>
                </div>
			</form>
		</div>
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Modal 相關設定請參考 <a href="https://mdbootstrap.com/docs/jquery/modals/basic/" btn-lg">Mdbootstrap</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-sm btn-default">Save changes</button>
            </div>
        </div>
    </div>
</div>
					
<% content_for :js do %>
<script>
$(document).ready(function() {
    $("div[id^='Value']").hide();
    $("input[name='willingnessRadios']").click(function() {
        change_selection();
    });
    change_selection();
});

function change_selection() {
    var selected_value = $("input[name='willingnessRadios']:checked").val();
    $("div[id^='Value']").fadeOut(200).delay(200);
    $("#" + selected_value).fadeIn(200);
}
</script>
<% end %>