<!-- NCTU-OASIS: 具結書  -->

<div class="container">
    <div class="section-hd">
        <h4 class="block-title">Application for a Recognizance</h4>
    </div>
	<div class="pt-4">
	    <p><%= lorem_sentences(3) %></p>
        <ul>
            <li><%= lorem_paragraph %></li>
            <li><%= lorem_paragraph %></li>
            <li><%= lorem_paragraph %></li>
        </ul>
		<h4><%= lorem_sentence %></h4>
		<p><%= lorem_sentences(5) %></p>
		<p><%= lorem_sentences(2) %></p>
	</div>
	<div class="text-center">
		<a href="data_verification.html" class="btn btn-default mr-5">Agree</a>
		<a href="overview.html" class="text-black-50">Disagree</a>
	</div>
</div>

