<!-- NCTU-OASIS: 申請步驟一  -->

<div class="container">
	<div class="step-bar four-step">
		<ul>
			<li class="active">
				<span>
					<span class="step">1</span>
					<h4>Application form</h4>
					<p class="brief">Fill in the online application form</p>
				</span>
			</li>
			<li>
				<span>
					<span class="step">2</span>
					<h4>Referrer</h4>
					<p class="brief">Set recommendation letter recommender</p>
				</span>
			</li>
			<li>
				<span>
					<span class="step">3</span>
					<h4>Upload files</h4>
					<p class="brief">Upload the documents required for the application</p>
				</span>
			</li>
			<li>
				<span>
					<span class="step">4</span>
					<h4>Send an application</h4>
					<p class="brief">Preview and send out application materials</p>
				</span>
			</li>
		</ul>
	</div>
	<div class="step-container">
		<div class="row">
		    <div class="col-3">
                <ul class="nav nav-tabs step-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="personal-tab" data-toggle="tab" href="#personal" role="tab" aria-controls="personal" aria-selected="true"><span>Personal information</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><span>Family & Emergency</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="program-tab" data-toggle="tab" href="#program" role="tab" aria-controls="program" aria-selected="false"><span>Program of study</span></a>
                    </li>
					
					<li class="nav-item">
                        <a class="nav-link" id="education-tab" data-toggle="tab" href="#education" role="tab" aria-controls="education" aria-selected="false"><span>Education background</span></a>
                    </li>
					
					<li class="nav-item">
                        <a class="nav-link" id="scholarship-tab" data-toggle="tab" href="#scholarship" role="tab" aria-controls="scholarship" aria-selected="false"><span>Scholarship status</span></a>
                    </li>
					
					<li class="nav-item">
                        <a class="nav-link" id="language-tab" data-toggle="tab" href="#language" role="tab" aria-controls="language" aria-selected="false"><span>Language proficiency</span></a>
                    </li>
					
					<li class="nav-item">
                        <a class="nav-link" id="experience-tab" data-toggle="tab" href="#experience" role="tab" aria-controls="experience" aria-selected="false"><span>Work experience</span></a>
                    </li>
					
					<li class="nav-item">
                        <a class="nav-link" id="honors-tab" data-toggle="tab" href="#honors" role="tab" aria-controls="honors" aria-selected="false"><span>Academic honors & Extracurricular activities</span></a>
                    </li>
                </ul>
			</div>
			<div class="col-9">
				<div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="personal-tab">
                        <%= render :partial => "/partials/personal" %>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                       <%= render :partial => "/partials/emergency" %>
                    </div>
                    <div class="tab-pane fade" id="program" role="tabpanel" aria-labelledby="program-tab">
                       <%= render :partial => "/partials/study" %>
                    </div>
					<div class="tab-pane fade" id="education" role="tabpanel" aria-labelledby="education-tab">
                       <%= render :partial => "/partials/education" %>
                    </div>
					<div class="tab-pane fade" id="scholarship" role="tabpanel" aria-labelledby="scholarship-tab">
                       <%= render :partial => "/partials/scholarship" %>
                    </div>
					<div class="tab-pane fade" id="language" role="tabpanel" aria-labelledby="language-tab">
						<%= render :partial => "/partials/language" %>
                    </div>
					<div class="tab-pane fade" id="experience" role="tabpanel" aria-labelledby="experience-tab">
						<%= render :partial => "/partials/experience" %>
                    </div>
					<div class="tab-pane fade" id="honors" role="tabpanel" aria-labelledby="honors-tab">
						<%= render :partial => "/partials/honors" %>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>

