<!-- NCTU-OASIS: 資訊調查  -->

<div class="container">
    <div class="section-hd">
        <h4 class="block-title">Questionnaire</h4>
    </div>
	<form>
		<div class="mb-5">
			<h6 class="font-weight-bold">What is the source of the information you have obtained for this admissions application?</h6>
            <div class="form-check mb-1">
                <input type="checkbox" class="form-check-input" id="nctuCheck1">
                <label class="form-check-label" for="nctuCheck1"><%= lorem_sentence %></label>
            </div>
			<div class="form-check mb-1">
                <input type="checkbox" class="form-check-input" id="nctuCheck2">
                <label class="form-check-label" for="nctuCheck2"><%= lorem_sentence %></label>
            </div>
			<div class="form-check mb-1">
                <input type="checkbox" class="form-check-input" id="nctuCheck3">
                <label class="form-check-label" for="nctuCheck3"><%= lorem_sentence %></label>
            </div>
			<div class="form-check mb-1">
                <input type="checkbox" class="form-check-input" id="nctuCheck4">
                <label class="form-check-label" for="nctuCheck4"><%= lorem_sentence %></label>
            </div>
		</div>
		<div class="mb-5">
			<h6 class="font-weight-bold">What is the source of your future tuition fees?</h6>
            <div class="form-check mb-1">
                <input type="checkbox" class="form-check-input" id="nctuCheck5">
                <label class="form-check-label" for="nctuCheck5"><%= lorem_sentence %></label>
            </div>
			<div class="form-check mb-1">
                <input type="checkbox" class="form-check-input" id="nctuCheck6">
                <label class="form-check-label" for="nctuCheck6"><%= lorem_sentence %></label>
            </div>
			<div class="form-check mb-1">
                <input type="checkbox" class="form-check-input" id="nctuCheck7">
                <label class="form-check-label" for="nctuCheck7"><%= lorem_sentence %></label>
            </div>
			<div class="form-check mb-1">
                <input type="checkbox" class="form-check-input" id="nctuCheck8">
                <label class="form-check-label" for="nctuCheck8"><%= lorem_sentence %></label>
            </div>
		</div>
	</form>
	<div class="text-center">
		<a href="#" class="btn btn-default">Submit</a>
	</div>
</div>

