<!-- event-page: 活動花絮 -->

<main class="main">
	<div class="container">
        <div class="registration-hd">
			<hgroup>
                <h3 class="main-title">2020 年僑務委員會海外商會幹部暨青商培訓班</h3>
                <h5 class="sub-title">2020 Overseas Chamber of Commerce Cadre and Youth Business Training Program</h5>
			</hgroup>
        </div>
		<div class="registration-wrapper">
            <a href="#" class="btn btn-white" title="回上一頁">
                <i class="fa fa-long-arrow-left"></i>
                回上一頁
            </a>
            <div id="mdb-lightbox-ui"></div>
            <div class="mdb-lightbox">

                <figure class="col-sm-6 col-md-4 col-lg-3">
                    <a href="../assets/fake/06.jpg" data-size="600x450">
                        <img src="../assets/fake/06.jpg" class="img-fluid" alt="圖片描述">
                    </a>
                    <!--p class="album-title"><span><%= lorem_words(4) %></span></p-->
                </figure>

                <figure class="col-sm-6 col-md-4 col-lg-3">
                    <a href="../assets/fake/07.jpg" data-size="2101x3152">
                        <img src="../assets/fake/07.jpg" class="img-fluid" alt="圖片描述">
                    </a>
                    <!--p class="album-title"><span><%= lorem_words(4) %></span></p-->
                </figure>
				
				<% (1..4).map do |i| %>
                <figure class="col-sm-6 col-md-4 col-lg-3">
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(133).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(133).jpg" class="img-fluid" alt="圖片描述">
                    </a>
                    <!--p class="album-title"><span><%= lorem_words(4) %></span></p-->
                </figure>

                <figure class="col-sm-6 col-md-4 col-lg-3">
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(131).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(131).jpg" class="img-fluid" alt="圖片描述">
                    </a>
                    <!--p class="album-title"><span><%= lorem_words(4) %></span></p-->
                </figure>

                <figure class="col-sm-6 col-md-4 col-lg-3">
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(130).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(130).jpg" class="img-fluid" alt="圖片描述">
                    </a>
                    <!--p class="album-title"><span><%= lorem_words(4) %></span></p-->
                </figure>

                <figure class="col-sm-6 col-md-4 col-lg-3">
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(132).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(132).jpg" class="img-fluid" alt="圖片描述">
                    </a>
                    <!--p class="album-title"><span><%= lorem_words(4) %></span></p-->
                </figure>

                <figure class="col-sm-6 col-md-4 col-lg-3">
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(134).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(134).jpg" class="img-fluid" alt="圖片描述">
                    </a>
                    <!--p class="album-title"><span><%= lorem_words(4) %></span></p-->
                </figure>

                <figure class="col-sm-6 col-md-4 col-lg-3">
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(1).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(1).jpg" class="img-fluid" alt="圖片描述">
                    </a>
                    <!--p class="album-title"><span><%= lorem_words(4) %></span></p-->
                </figure>
				<% end %>
            </div>
		</div>
    </div>
</main>



<% content_for :js do %>
<script>
$(function () {
	// MDB Lightbox Init
    $("#mdb-lightbox-ui").load("../mdb-addons/mdb-lightbox-ui.html");
});
</script>
<% end %>
