<!-- NTU-Bike: 公開首頁  -->

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="page-title">最新公告</h2>
            <ul class="announcement-list">
				<% (1..3).map do |i| %>
			    <li>
				    <span class="date">
					    <i class="fa fa-clock-o"></i>2018 年 5 月 3 日, 星期四
					</span>
					<p><%= zh_lorem_paragraph %></p>
				</li>
				<% end %>
			</ul>
			<p class="text-right mb-5">
				<a class="more" href="/">more <i class="fa fa-angle-right"></i>
</a>
			</p>
        </div>
    </div>
	<div class="nav-cards pt-3">
        <div class="card">
			<h5 class="card-header light-blue lighten-1 white-text text-uppercase font-weight-bold text-center py-4">拖吊車輛公告</h5>
		    <div class="card-body">
				<p class="card-text"><%= zh_lorem_paragraph %></p>
				<a href="#" class="btn btn-sm btn-outline-info btn-rounded waves-effect">前往</a>
			</div>
		</div>
		<div class="card">
			<h5 class="card-header light-blue lighten-1 white-text text-uppercase font-weight-bold text-center py-4">廢棄車輛公告</h5>
		    <div class="card-body">
				<p class="card-text"><%= zh_lorem_paragraph %></p>
				<a href="#" class="btn btn-sm btn-outline-info btn-rounded waves-effect">前往</a>
			</div>
		</div>
		<div class="card">
			<h5 class="card-header light-blue lighten-1 white-text text-uppercase font-weight-bold text-center py-4">拍賣車輛公告</h5>
		    <div class="card-body">
				<p class="card-text"><%= zh_lorem_paragraph %></p>
				<a href="#" class="btn btn-sm btn-outline-info btn-rounded waves-effect">前往</a>
			</div>
		</div>
	</div>
	<div class="alert alert-secondary">
		您尚未登入不可操作以下功能。<a href="/">登入</a>
	</div>
	<div class="nav-cards pt-3">
		<div class="card">
			<h5 class="card-header grey white-text text-uppercase font-weight-bold text-center py-4">自行車證申請</h5>
		    <div class="card-body">
				<p class="card-text"><%= zh_lorem_paragraph %></p>
			</div>
		</div>
		<div class="card">
			<h5 class="card-header grey white-text text-uppercase font-weight-bold text-center py-4">車輛遺失通報</h5>
		    <div class="card-body">
				<p class="card-text"><%= zh_lorem_paragraph %></p>
			</div>
		</div>
    </div>
</div>

<% content_for :js do %>
<script src="../javascripts/jquery.alphaindex.js"></script>
<script src="../javascripts/jquery.fancybox.js"></script>
<script>
    $('.datepicker').pickadate();
    
    $('#my-list').makeAlphaIndex()
    $('.alpha-index-bar').addClass("col-3");
    $('.alpha-index-list').addClass("col-9");
</script>
<% end %>