
<!-- ntu: 學生 - 首頁 (未登入) -->

<div class="container-lg">
	<div class="page-content">
	    <aside class="aside offcanvas-collapse">
			<div class="scrollbar-inner">
				<div class="user-wrapper unlogin">
					<a href="#">Login</a>
					<span class="separate">or</span>
					<a href="#" class="link-register">Register</a>
				</div>
			</div>
		</aside>
		<div id="widget-overlay"></div>
		<main class="main">
		    <div class="precautions-wrapper">
			    <h3 class="precautions-title">Precautions</h3>
				<p><%= lorem_paragraph %></p>
				<ol>
					<% (1..3).map do |i| %>
				    <li><%= lorem_sentence %></li>
					<% end %>
				</ol>
			</div>
			<section class="lessons-section">
			    <h4 class="section-title">
					<span>Seasonal Programs</span>
				</h4>
				<div class="lessons-group">
					<% (1..4).map do |i| %>
					<div class="flex-box">
                        <div class="lessons-item">
                            <div class="event-img">
                                <img src="../assets/fake/e-0<%= i %>.jpg">
                            </div>
                            <h5 class="event-title">2022 Spring Quarter</h5>
                            <ul class="menu-item info-group">
                                <li>
                                    <span class="label">Course Duration</span>
                                    <span class="detail">2022/06/01 ~ 2022/09/31</span>
                                </li>
                                <li>
                                    <span class="label">Application Deadline</span>
                                    <span class="detail">full entry</span>
                                </li>
                                <li>
                                    <span class="label">Date of Enrollment</span>
                                    <span class="detail">2022/09/31</span>
                                </li>
                                <li>
                                    <span class="label">Tuition Fees</span>
                                    <span class="detail">40000</span>
                                </li>
                                <li>
                                    <span class="label">Registration Fees</span>
                                    <span class="detail">2500</span>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-apply">Apply</a>
                        </div>
					</div>
					<% end %>
				</div>
				<span class="section-ft">
				    <a href="#" class="readmore">Read more <i class="fas fa-chevron-circle-right"></i></a>
				</span>
			</section>
			
			<section class="lessons-section">
			    <h4 class="section-title">
					<span>One-to-One Lessons</span>
				</h4>
				<div class="lessons-group">
					<% (3..3).map do |i| %>
					<div class="flex-box">
                        <div class="lessons-item">
                            <div class="event-img">
                                <img src="../assets/fake/e-0<%= i %>.jpg">
                            </div>
                            <h5 class="event-title">2022 Spring Quarter</h5>
                            <ul class="menu-item info-group">
                                <li>
                                    <span class="label">Course Duration</span>
                                    <span class="detail">2022/06/01 ~ 2022/09/31</span>
                                </li>
                                <li>
                                    <span class="label">Application Deadline</span>
                                    <span class="detail">full entry</span>
                                </li>
                                <li>
                                    <span class="label">Date of Enrollment</span>
                                    <span class="detail">2022/09/31</span>
                                </li>
                                <li>
                                    <span class="label">Tuition Fees</span>
                                    <span class="detail">40000</span>
                                </li>
                                <li>
                                    <span class="label">Registration Fees</span>
                                    <span class="detail">2500</span>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-apply">Apply</a>
                        </div>
					</div>
					<% end %>
				</div>
				<span class="section-ft">
				    <a href="#" class="readmore">Read more <i class="fas fa-chevron-circle-right"></i></a>
				</span>
			</section>
			
			<section class="lessons-section">
			    <h4 class="section-title">
					<span>Customized Lessons</span>
				</h4>
				<div class="lessons-group">
					<% (2..3).map do |i| %>
					<div class="flex-box">
                        <div class="lessons-item">
                            <div class="event-img">
                                <img src="../assets/fake/e-0<%= i %>.jpg">
                            </div>
                            <h5 class="event-title">2022 Spring Quarter</h5>
                            <ul class="menu-item info-group">
                                <li>
                                    <span class="label">Course Duration</span>
                                    <span class="detail">2022/06/01 ~ 2022/09/31</span>
                                </li>
                                <li>
                                    <span class="label">Application Deadline</span>
                                    <span class="detail">full entry</span>
                                </li>
                                <li>
                                    <span class="label">Date of Enrollment</span>
                                    <span class="detail">2022/09/31</span>
                                </li>
                                <li>
                                    <span class="label">Tuition Fees</span>
                                    <span class="detail">40000</span>
                                </li>
                                <li>
                                    <span class="label">Registration Fees</span>
                                    <span class="detail">2500</span>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-apply">Apply</a>
                        </div>
					</div>
					<% end %>
				</div>
				<span class="section-ft">
				    <a href="#" class="readmore">Read more <i class="fas fa-chevron-circle-right"></i></a>
				</span>
			</section>
		</main>
	</div>
</div>



<% content_for :js do %>
    <!-- sidenav scrollbar -->
    <script src="../javascripts/jquery.scrollbar.min.js"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('.scrollbar-inner').scrollbar();
        });
	</script>

    <!-- sidenav open -->
	<script>
        (function () {
          'use strict'

          document.querySelector('#navbarSideCollapse').addEventListener('click', function () {
            document.querySelector('.offcanvas-collapse').classList.toggle('open')
          })
        })()
	</script>

    <!-- sidenav close -->
    <script>
        $("#widget-overlay").click(function(){
            $(".offcanvas-collapse").removeClass("open");
        });
	</script>
<% end %>

