<!-- template: 同意具結書及個資同意書 -->

<div class="container-lg">
	<div class="page-content">
		<main class="main">
			<section class="section">
                <div class="section-title">
                    <h4>同意具結書及個資同意書</h4>
                </div>
                <div class="notice-wrapper notice-white">
                    <p>依照後端設定顯示</p>
                    <p><%= lorem_paragraph %></p>
					<p><%= lorem_paragraph %></p>
                    <ol>
                        <% (1..3).map do |i| %>
                        <li><%= lorem_sentence %></li>
                        <% end %>
                    </ol>
                </div>
            </section>
            <section class="section">
                <div class="section-title">
                    <h4>集點規則說明</h4>
                </div>
                <div class="notice-wrapper notice-white">
                    <p>依照後端設定顯示</p>
                    <p><%= lorem_paragraph %></p>
					<p><%= lorem_paragraph %></p>
                    <ol>
                        <% (1..3).map do |i| %>
                        <li><%= lorem_sentence %></li>
                        <% end %>
                    </ol>
                </div>
            </section>
            <div class="form-action">
				<button type="button" class="btn btn-lg btn-light">不同意</button>
                <button type="button" class="btn btn-lg btn-primary">同意</button>
			</div>
		</main>
	</div>
</div>



<% content_for :js do %>

<% end %>
