<!-- ietw: 台日交流 (客製化) - 貴賓名錄 -->

<%= render :partial => "/partials/breadcrumb" %>
<div class="sidenav-overlay"></div>
<div class="content-wrapper">
    <div class="container">
	    <div class="pages-row">
			
			<!-- 側欄選單 -->
            <div class="sidenav">
                <div class="scrollbar-inner">
                    <a accesskey="L" href="#accesskey_left_nav" tabindex="0" title="左側目錄" id="accesskey_left_nav" class="ackey d-none d-xl-block">:::</a>
                    <div id="accordian_nav" class="sidenav-inner">
                        <h5 class="fw-bold nav-title">臺日教育交流</h5>
                        <ul>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">20 週年紀念活動</a>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">得獎名單</a>
                                </h4>
                            </li>
							<li>
                                <h4>
                                    <a href="#" class="current" title="{連結名稱}">貴賓名錄</a>
                                </h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 主要內容 -->
            <main class="main">
                <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

                <article class="page-article ee-customized">
					<div class="post-head">
						<div class="ee-title">
							<img src="../assets/ee-banner00.jpg" class="d-block w-100" alt="..." />
                            <h2>貴賓名錄</h2>
						</div>
					</div>
					
					<div class="post-content">
						<div class="guest-wrapper">
							<div class="guest-block">
							    <div class="guest-hd">
									<h5 class="block-title">教育部</h5>
								</div>
								<ul class="menu-item">
									<% (1..7).map do |i| %>
								    <li>
									    <span><%= zh_lorem_name %></span>
										<span class="title">職稱</span>
									</li>
									<% end %>
								</ul>
							</div>
							<div class="guest-block">
							    <div class="guest-hd">
									<h5 class="block-title">臺中市立臺中第二高級中等學校</h5>
								</div>
								<ul class="menu-item">
									<% (1..4).map do |i| %>
								    <li>
									    <span><%= zh_lorem_name %></span>
										<span class="title"><%= lorem_words(3) %></span>
									</li>
									<% end %>
								</ul>
							</div>
							<% (1..2).map do |i| %>
							<div class="guest-block">
							    <div class="guest-hd">
									<h5 class="block-title"><%= lorem_words(3) %></h5>
								</div>
								<ul class="menu-item">
									<% (1..4).map do |i| %>
								    <li>
									    <span><%= zh_lorem_name %></span>
										<span class="title"><%= lorem_words(3) %></span>
									</li>
									<% end %>
								</ul>
							</div>
							<div class="guest-block">
							    <div class="guest-hd">
									<h5 class="block-title"><%= lorem_words(3) %></h5>
								</div>
								<ul class="menu-item">
									<% (1..6).map do |i| %>
								    <li>
									    <span><%= zh_lorem_name %></span>
										<span class="title"><%= lorem_words(3) %></span>
									</li>
									<% end %>
								</ul>
							</div>
							<div class="guest-block">
							    <div class="guest-hd">
									<h5 class="block-title"><%= lorem_words(3) %></h5>
								</div>
								<ul class="menu-item">
									<% (1..5).map do |i| %>
								    <li>
									    <span><%= zh_lorem_name %></span>
										<span class="title"><%= lorem_words(3) %></span>
									</li>
									<% end %>
								</ul>
							</div>
							<% end %>
						</div>
						<div class="illustration">
						    <img src="../assets/ee-banner03.jpg" class="d-block w-100" alt="..." />
						</div>
					</div>
				</article>
				
            </main>
			
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>




