<!-- NFU-CR: 選課 demo  -->

<div class="page-content">
	<section class="select-group">
		<div class="container">
			<div class="row">
				<div class="col-4 m-b-3">
					<select class="mdb-select md-form">
						<option value="8" disabled selected>電機工程系日間部四技部</option>
						<option value="10">電機工程系進修推廣部四技部</option>
						<option value="11">電機工程系進修推廣部四技部攜手專班</option>
					</select>
				</div>
				<div class="col-4 m-b-3">
					<select class="mdb-select md-form">
						<option value="1" disabled selected>請選擇目標人才</option>
						<option value="2">電機工程-教育目標_2</option>
						<option value="3">軟體開發及程式設計人才</option>
					</select>
				</div>
			</div>
		</div>
	</section>
	<section class="select-result">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="radar-wrap">
                        <div class="chart-wrapper chart1">
                            <h3 class="radar-title">專業職能</h3>
							<div class="w-100 mb-4">
                                <canvas id="myChart"></canvas>
							</div>
							<ol class="desc">
								<% 7.times do %>
								<li><%= zh_lorem_sentences 2 %></li>
								<% end %>
							</ol>
                        </div>
						<div class="chart-wrapper chart2">
                            <h3 class="radar-title">共通職能</h3>
							<div class="w-100 mb-4">
                                <canvas id="myChart2"></canvas>
							</div>
							<ol class="desc">
								<% 7.times do %>
								<li><%= zh_lorem_sentences 2 %></li>
								<% end %>
							</ol>
                        </div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="course-wrap">
					    <div class="course-pick">
							<h5>已選擇課程</h5>
							<p>未選擇課程前區塊應該隱藏</p>
						    <ul class="pick-list">
							    <li class="row">
									<div class="col">
										<label for="">課程名稱</label>
										<select class="browser-default">
											<option value="" disabled selected>選擇分數</option>
											<option value="1">A</option>
											<option value="2">B</option>
											<option value="3">C</option>
											<option value="4">D</option>
											<option value="5">E</option>
											<option value="6">F</option>
										</select>
									</div>
									<span class="col-1">
										<a href="" class="btn-remove" title="移除"><i class="fa fa-times-circle"></i></a>
									</span>
								</li>
								<li class="row">
									<div class="col">
										<label for="">不確定字串長度</label>
										<select class="browser-default">
											<option value="" disabled selected>選擇分數</option>
											<option value="1">A</option>
											<option value="2">B</option>
											<option value="3">C</option>
											<option value="4">D</option>
											<option value="5">E</option>
											<option value="6">F</option>
										</select>
									</div>
									<span class="col-1">
										<a href="" class="btn-remove" title="移除"><i class="fa fa-times-circle"></i></a>
									</span>
								</li>
								<% 7.times do %>
								<li class="row">
									<div class="col">
										<label for=""><%= lorem_words 3 %></label>
										<select class="browser-default">
											<option value="" disabled selected>選擇分數</option>
											<option value="1">A</option>
											<option value="2">B</option>
											<option value="3">C</option>
											<option value="4">D</option>
											<option value="5">E</option>
											<option value="6">F</option>
										</select>
									</div>
									<span class="col-1">
										<a href="" class="btn-remove" title="移除"><i class="fa fa-times-circle"></i></a>
									</span>
								</li>
								<% end %>
							</ul>
						</div>
						<div class="course-list">
							<h5>選擇課程</h5>
							<p>被選擇的課程會從列表中消失，從已選擇課程名單中移除時才會再回到列表</p>
						    <ul>
							    <li class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
									<label class="form-check-label" for="inlineCheckbox1"><%= lorem_words 2 %></label>
								</li>
								<li class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
									<label class="form-check-label" for="inlineCheckbox2"><%= lorem_words 3 %></label>
								</li>
								<li class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
									<label class="form-check-label" for="inlineCheckbox3"><%= lorem_words 3 %></label>
								</li>
								<li class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
									<label class="form-check-label" for="inlineCheckbox4"><%= lorem_words 2 %></label>
								</li>
								<li class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
									<label class="form-check-label" for="inlineCheckbox5"><%= lorem_words 3 %></label>
								</li>
								
								<li class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
									<label class="form-check-label" for="inlineCheckbox6"><%= lorem_words 2 %></label>
								</li>
								<li class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7">
									<label class="form-check-label" for="inlineCheckbox7"><%= lorem_words 3 %></label>
								</li>
								<li class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option8">
									<label class="form-check-label" for="inlineCheckbox8"><%= lorem_words 3 %></label>
								</li>
								<li class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="option9">
									<label class="form-check-label" for="inlineCheckbox9"><%= lorem_words 2 %></label>
								</li>
								<li class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="option10">
									<label class="form-check-label" for="inlineCheckbox10"><%= lorem_words 3 %></label>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>




<% content_for :js do %>
<script src="../javascripts/Chart.bundle.min.js"></script>
<script>
	$(document).ready(function() {		
		$('.mdb-select').material_select();
	});
	
	var data =  {
		labels: ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K"],
		datasets: [{
			label: "My First dataset",
			borderColor: "rgba(54,131,207,0.5)",
			backgroundColor: "rgba(54,131,207,0.2)",
			pointBackgroundColor: "rgba(54,131,207,1)",
			data: [65, 85, 77, 49, 62, 90, 88, 58, 64, 41, 91]
		}]
	}
	var ctx = document.getElementById("myChart");
	var myChart = new Chart(ctx, {
		type: 'radar',
		data: data,
		options: {
		  responsive:true,
				legend: {
						display: false,
					},
					title: {
						display: false,
						text: '專業職能',
						size: 24
					},
					scale: {
						display: true,
						reverse: false,
						ticks: {
							min: 0,
							max: 100,
							maxTicksLimit: 5
						}
					}
	
		}
	});
	
	var data =  {
		labels: ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K"],
		datasets: [{
			label: "My Second dataset",
			borderColor: "rgba(220,71,159,0.5)",
			backgroundColor: "rgba(220,71,159,0.2)",
			pointBackgroundColor: "rgba(220,71,159,1)",
			data: [65, 59, 90, 81, 56, 55, 40, 66, 59, 90, 81]
		}]
	}
	var ctx = document.getElementById("myChart2");
	var myChart = new Chart(ctx, {
		type: 'radar',
		data: data,
		options: {
		  responsive:true,
				legend: {
						display: false,
					},
					title: {
						display: false,
						text: '共通職能',
						size: 24
					},
					scale: {
						display: true,
						reverse: false,
						ticks: {
							min: 0,
							max: 100,
							maxTicksLimit: 5
						}
					}
	
		}
	});
</script>
<% end %>