
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">常見問題</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="menu-item ans-menu">
					<li class="item">
					    <h5 class="subject"><%= lorem_words(6) %></h5>
						<div class="ans">
							<p>此 modal 為公告與常見問題共用</p>
						    <p><%= lorem_sentence %></p>
						</div>
					</li>
					<li class="item">
					    <h5 class="subject"><%= lorem_words(6) %></h5>
						<div class="ans">
						    <p><%= lorem_sentences(2) %></p>
							<p><%= lorem_sentences(6) %></p>
						</div>
					</li>
				    <li class="item item-focus">
					    <h5 class="subject">僑生學籍系統資料應如何申請更正？</h5>
						<div class="ans">
							<p>在 li 加入 .item-focus 樣式</p>
						    <p><%= lorem_sentence %></p>
							<ol>
                                <li><%= lorem_sentence %></li>
                                <li><%= lorem_sentence %></li>
                                <li><%= lorem_sentence %></li>
                            </ol>
						</div>
					</li>
					<li class="item">
					    <h5 class="subject"><%= lorem_words(6) %></h5>
						<div class="ans">
						    <p><%= lorem_sentence %></p>
						</div>
					</li>
					<li class="item">
					    <h5 class="subject">僑務委員會海外青年技術訓練班參加招生學校作業須知</h5>
						<div class="ans">
						    <p><%= lorem_sentence %></p>
							<ul>
                                <li><%= lorem_sentence %></li>
                                <li><%= lorem_sentence %></li>
                                <li><%= lorem_sentence %></li>
                            </ul>
							<p><%= lorem_sentence %></p>
						</div>
					</li>
					<li class="item">
					    <h5 class="subject"><%= lorem_words(8) %></h5>
						<div class="ans">
						    <p><%= lorem_sentence %></p>
							<h5>學籍系統資料申請</h5>
							<p><%= lorem_sentence %></p>
						</div>
					</li>
				</ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-md btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
