		<div class="data-block mb-5">
            <div class="form-wrapper">
                <h4 class="wrapper-title">Basic information</h4>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="Chinesefullname"><span class="required">*</span>Chinese Name</label>
                            <p class="output">陳曉明</p>
                            <small class="form-text text-muted">Please provide your name as stated on your passport or national ID</small>
                        </div>
                        <div class="col-6">
                            <label for="Englishfullname"><span class="required">*</span>English name</label>
                            <p class="output">Chen Xiaoming</p>
                            <small class="form-text text-muted">Please provide your name as stated on your passport or national ID</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="d-block"><span class="required">*</span>Gender</label>
                            <p class="output">Male</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label><span class="required">*</span>Date of Birth</label>
                            <div class="form-row">
                                <p class="output">2002/05/28</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label><span class="required">*</span>Country of Birth</label>
                            <p class="output">United States of America</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label><span class="required">*</span>Nationality</label>
                            <p class="output">United States of America</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="Hometown"><span class="required">*</span>Hometown</label>
                            <p class="output">United States of America</p>
                            <small class="form-text text-muted">中國以外國家似乎沒有籍貫的習慣，而且是必填欄位</small>
                        </div>
                        <div class="col-6">
                            <label for="Hometown2"><span class="required">*</span>Hometown Place?
                            <p class="output">United States of America</p>
                            <small class="form-text text-muted">籍貫地又更混淆</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mailingAddress"><span class="required">*</span>Mailing Address</label>
                    <p class="output">285 Fulton St, New York, NY 10007 USA</p>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label><span class="required">*</span>Tel</label>
                            <p class="output">+1 844-696-1776</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label><span class="required">*</span>Mobile</label>
                            <p class="output">(626)555-1212</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="personalEmail"><span class="required">*</span>E-mail</label>
                    <p class="output">usersemail@somemail.com</p>
                </div>
            </div>
            <div class="form-wrapper">
                <h4 class="wrapper-title">Chinese Language Proficiency Assessment</h4>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="d-block"><span class="required">*</span>Listen</label>
                            <p class="output">Excellent</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="d-block"><span class="required">*</span>Speak</label>
                            <p class="output">Good</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="d-block"><span class="required">*</span>Read</label>
                            <p class="output">Passable</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="d-block"><span class="required">*</span>Write</label>
                            <p class="output">Poor</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="languageRemark">Remark</label>
                    <textarea class="form-control rounded-0" id="languageRemark" rows="4"><%= lorem_sentences(3) %></textarea>
                </div>
			</div>
		</div>
		
		<div class="data-block mb-5">
            <table class="table table-vertical-middle">
                <thead>
                    <tr>
                        <th class="text-center">Priority</th>
                        <th>School Name</th>
                        <th>College & Department</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="font-700 text-center">1</td>
                        <td>National Taiwan University</td>
                        <td>Department of Engineering</td>
                    </tr>
                    <tr>
                        <td class="font-700 text-center">2</td>
                        <td>ational Chiao Tung University</td>
                        <td>Department of Physics</td>
                    </tr>
                </tbody>
            </table>
		</div>
			
		<div class="data-block mb-5">
            <h4 class="wrapper-title">Common document</h4>
            <div class="document-upload">
                <div class="document-item">
                    <div class="document-hd">
                        <h5 class="font-500"><%= lorem_words(5) %></h5>
                        <p class="font-300 text-muted">Upload time <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
                    </div>
                    <div class="document-ft">
                        <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">View</a>
                    </div>
                </div>
                <div class="document-item">
                    <div class="document-hd">
                        <h5 class="font-500"><%= lorem_words(5) %></h5>
                        <p class="font-300 text-muted">Upload time <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
                    </div>
                    <div class="document-ft">
                        <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">View</a>
                    </div>
                </div>
                <div class="document-item">
                    <div class="document-hd">
                        <h5 class="font-500"><%= lorem_words(5) %></h5>
                        <p class="font-300 text-muted">Upload time <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
                    </div>
                    <div class="document-ft">
                        <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">View</a>
                    </div>
                </div>
            </div>

            <div class="volunteer-ranking">
                <span class="num">1</span>
                <div class="volunteer-school">
                    <p class="university">National Taiwan University</p>
                    <p class="brief">Department of Engineering <span>request documents</span></p>
                </div>
            </div>
            <div class="document-upload">
                <div class="document-item">
                    <div class="document-hd">
                        <h5 class="font-500"><span class="required font-700">*</span><%= lorem_words(5) %></h5>
                        <p class="font-300 text-muted">Upload time <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
                    </div>
                    <div class="document-ft">
                        <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">View</a>
                    </div>
                </div>
                <div class="document-item">
                    <div class="document-hd">
                        <h5 class="font-500"><span class="required font-700">*</span><%= lorem_words(5) %></h5>
                        <p class="font-300 text-muted">Upload time <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
                    </div>
                    <div class="document-ft">
                        <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">View</a>
                    </div>
                </div>
                <div class="document-item">
                    <div class="document-hd">
                        <h5 class="font-500">Other favorable documents</h5>
                        <p class="font-300 text-muted">Upload time <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
                    </div>
                    <div class="document-ft">
                        <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">View</a>
                        <a href="#" class="btn-floating btn-xs btn-danger" title="Video link"><i class="fa fa-play"></i></a>
                    </div>
                </div>
                <div class="document-item">
                    <div class="document-hd">
                        <h5 class="font-500">Recommended files</h5>
                        <p class="font-300 text-muted">Upload by teacher <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
                    </div>
                </div>
            </div>

            <div class="volunteer-ranking">
                <span class="num">2</span>
                <div class="volunteer-school">
                    <p class="university">National Taiwan Normal University</p>
                    <p class="brief">College of Bio-Resources & Agriculture <span>request documents</span></p>
                </div>
            </div>
            <div class="document-upload">
                <div class="document-item">
                    <div class="document-hd">
                        <h5 class="font-500"><span class="required font-700">*</span><%= lorem_words(5) %></h5>
                        <p class="font-300 text-muted">Upload time <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
                    </div>
                    <div class="document-ft">
                        <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">View</a>
                    </div>
                </div>
                <div class="document-item">
                    <div class="document-hd">
                        <h5 class="font-500"><span class="required font-700">*</span><%= lorem_words(5) %></h5>
                        <p class="font-300 text-muted">Upload time <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
                    </div>
                    <div class="document-ft">
                        <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">View</a>
                    </div>
                </div>
                <div class="document-item">
                    <div class="document-hd">
                        <h5 class="font-500">Other favorable documents</h5>
                        <p class="font-300 text-muted">Upload time <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
                    </div>
                    <div class="document-ft">
                        <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">View</a>
                        <a href="#" class="btn-floating btn-xs btn-danger" title="Video link"><i class="fa fa-play"></i></a>
                    </div>
                </div>
                <div class="document-item">
                    <div class="document-hd">
                        <h5 class="font-500">Recommended files</h5>
                        <p class="font-300 text-muted">Upload by teacher <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
                    </div>
                </div>
            </div>
		</div>