<!-- template: 首頁 -->

<div class="container-lg">
    
    <div class="home-top">
        
        <div class="submission">
            <div class="video-wrapper">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/JbqcUJV7y3I?si=NeLZeFjjToe9tlCE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            
            <!-- 後台請提供 16:9 圖片裁切工具，裁切後才能使用，並提醒使用者 {建議圖片解析度最少 1200x675} -->
            <!--div class="img-wrap">
                <img class="img-fluid" src="../assets/fake/1600x900.jpg">
            </div-->
            
        </div>
        
        <div class="announcement">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-news-tab" data-bs-toggle="pill" data-bs-target="#pills-news" type="button" role="tab" aria-controls="pills-news" aria-selected="true">最新消息</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-teacher-tab" data-bs-toggle="pill" data-bs-target="#pills-teacher" type="button" role="tab" aria-controls="pills-teacher" aria-selected="false">教師可申請計畫</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-company-tab" data-bs-toggle="pill" data-bs-target="#pills-company" type="button" role="tab" aria-controls="pills-company" aria-selected="false">企業可申請計畫</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                
                <div class="tab-pane fade show active" id="pills-news" role="tabpanel" aria-labelledby="pills-news-tab" tabindex="0">
                    
                    <ul class="menu-item content-list">
                        <li>
                            <span class="date">2024-11-16</span>
                            <a href="#">北商會計資訊系再傳捷報大學部學生考上會計師</a>
                        </li>
                        <li>
                            <span class="date">2024-11-03</span>
                            <a href="#">國立臺北商業大學國際行銷學院應用外語系專任/專案教師(英文)</a>
                        </li>
                        <li>
                            <span class="date">2024-10-25</span>
                            <a href="#">英屬開曼群島商第一化成控股股份有限公司</a>
                        </li>
                        <li>
                            <span class="date">2024-10-24</span>
                            <a href="#">臺中科大2025應用英語系第四屆學術研討會</a>
                        </li>
                    </ul>
                    
                    <div class="list-more">
                        <a href="#" class="btn-more"><span>更多</span></a>
                    </div>
                        
                </div>

                <div class="tab-pane fade" id="pills-teacher" role="tabpanel" aria-labelledby="pills-teacher-tab" tabindex="0">

                    <ul class="menu-item content-list">
                        <% (1..4).map do |i| %>
                        <li>
                            <span class="date">2024-10-25</span>
                            <a href="#"><%= lorem_words(10) %></a>
                        </li>
                        <% end %>
                    </ul>
                    
                    <div class="list-more">
                        <a href="#" class="btn-more"><span>更多</span></a>
                    </div>
                    
                </div>

                <div class="tab-pane fade" id="pills-company" role="tabpanel" aria-labelledby="pills-company-tab" tabindex="0">

                    <ul class="menu-item content-list">
                        <% (1..4).map do |i| %>
                        <li>
                            <span class="date">2024-10-25</span>
                            <a href="#"><%= lorem_words(10) %></a>
                        </li>
                        <% end %>
                    </ul>
                    
                    <div class="list-more">
                        <a href="#" class="btn-more"><span>更多</span></a>
                    </div>
                    
                </div>
                
            </div>
        </div>
        
    </div>
    
    <div class="home-partner">
        
        <div class="section-title">
            <h3>找老師</h3>
        </div>
        
        <ul class="menu-item partner-list">
            
            <li>
                <a href="#" class="partner-page">
                    
                    <!-- 後台請提供正方形圖片裁切工具，裁切後才能使用，並提醒使用者 {建議圖片解析度最少 512x512} -->
                    <span class="img-wrap">
                        <img class="avatar" src="../assets/fake/07.jpg">
                    </span>
                    <span class="h5">
                        <span class="name"><%= zh_lorem_name %></span>
                        <span class="title">副教授</span>
                    </span>
                    <span class="department">國際行銷學院</span>
                    <span class="plus"><span></span></span>
                    
                    <!-- 專長筆數請全部列出，超過第三筆 js 會自動省略符 -->
                    <div class="skill">
                        <span class="item">科技與社會</span>
                        <span class="item">社區營造</span>
                    </div>
                </a>
            </li>
            
            <li>
                <a href="#" class="partner-page">
                    
                    <!-- 後台請提供正方形圖片裁切工具，裁切後才能使用，並提醒使用者 {建議圖片解析度最少 512x512} -->
                    <span class="img-wrap">
                        <img class="avatar" src="../assets/fake/08.jpg">
                    </span>
                    <span class="h5">
                        <span class="name"><%= zh_lorem_name %></span>
                        <span class="title">副教授</span>
                    </span>
                    <span class="department">人工智慧與商業應用</span>
                    <span class="plus"><span></span></span>
                    
                    <!-- 專長筆數請全部列出，超過第三筆 js 會自動省略符 -->
                    <div class="skill">
                        <span class="item">超世紀封神榜</span>
                        <span class="item">怒戰天神</span>
                        <span class="item">阿凡達</span>
                        <span class="item">阿凡達234</span>
                    </div>
                </a>
            </li>
            
            <li>
                <a href="#" class="partner-page">
                    
                    <!-- 後台請提供正方形圖片裁切工具，裁切後才能使用，並提醒使用者 {建議圖片解析度最少 512x512} -->
                    <span class="img-wrap">
                        <img class="avatar" src="../assets/fake/06.jpg">
                    </span>
                    <span class="h5">
                        <span class="name"><%= zh_lorem_name %></span>
                        <span class="title">副教授</span>
                    </span>
                    <span class="department">人工智慧與商業應用</span>
                    <span class="plus"><span></span></span>
                    
                    <!-- 專長筆數請全部列出，超過第三筆 js 會自動省略符 -->
                    <div class="skill">
                        <span class="item">魔鬼終結者未來救贖</span>
                        <span class="item">鋼鐵英雄</span>
                        <span class="item">德州殺戮戰場</span>
                        <span class="item">聖母峰</span>
                        <span class="item">鋼鐵英雄</span>
                        <span class="item">德州殺戮戰場</span>
                        <span class="item">聖母峰</span>
                        
                    </div>
                </a>
            </li>
            
            <% (1..5).map do |i| %>
            <li>
                <a href="#" class="partner-page">
                    
                    <!-- 後台請提供正方形圖片裁切工具，裁切後才能使用，並提醒使用者 {建議圖片解析度最少 512x512} -->
                    <span class="img-wrap">
                        <img class="avatar" src="../assets/fake/0<%= i %>.jpg">
                    </span>
                    <span class="h5">
                        <span class="name"><%= zh_lorem_name %></span>
                        <span class="title">老師</span>
                    </span>
                    <span class="department">創意科技與產品設計系</span>
                    <span class="plus"><span></span></span>
                    
                    <!-- 專長筆數請全部列出，超過第三筆 js 會自動省略符 -->
                    <div class="skill">
                        <span class="item">數位多媒體設計</span>
                        <span class="item">藝術與設計</span>
                        <span class="item">創意科技與產品設計</span>
                    </div>
                </a>
            </li>
            <% end %>
        </ul>
        
        <div class="list-more mt-5">
            <a href="#" class="btn-more"><span>查詢更多</span></a>
        </div>
    </div>
    
</div>

<div class="home-fillin slide-animation">
    <a href="#" class="btn-fillin"><span>填報產學需求</span></a>
</div>

<% content_for :js do %>

<!-- 專長超出筆數省略 -->
<script>
$(document).ready(function() {
    $('.partner-page').each(function() {
        const items = $(this).find('.skill .item');
        if (items.length > 3) {
            items.slice(3).hide(); // 隱藏第四筆及後續的項目
            $(this).find('.skill').append('<span class="item">...</span>'); // 添加 "..." 提示
        }
    });
});
</script>

<% end %>

