<!-- admin-page: 報名設定 - 邀請名單管理 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
		<h2>邀請名單管理</h2>
		<p>提供設定白名單內容，如需變更驗證欄位請置基本設定變更。<span class="text-danger">下為範例以實際 datatables 為準</span></p>
    </div>
    <form>
        <div class="col-block">
            <div class="block-content expansion">
                <div class="dt-toolbar dt-toolbar-stick">
                    <div class="dt-toolbar-l">
                        <div class="btn-group btn-group-sm unshadow">
                            <a class="btn btn-white" role="button"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            <a class="btn btn-white" role="button"><i class="fa fa-times" aria-hidden="true"></i></a>
                            <a class="btn btn-white" role="button">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                    <label class="custom-control-label" for="defaultUnchecked"></label>
                                </div>
                            </a>
                        </div>
                        <div class="btn-group btn-group-sm unshadow">
                            <a class="btn btn-white" role="button"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            <a class="btn btn-white" role="button"><i class="fa fa-list" aria-hidden="true"></i></a>
                            <a class="btn btn-white" role="button"><i class="fa fa-cog" aria-hidden="true"></i></a>
                        </div>
                        <div class="d-inline-block">
                            <select class="browser-default custom-select dt-custom-select">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
						<div class="btn-group btn-group-sm unshadow">
                            <a class="btn btn-white" href="#adSearch" role="button">匯入名單</a>
                        </div>
						<div class="btn-group btn-group-sm unshadow">
                            <a class="btn btn-danger" role="button"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="dt-toolbar-r">
                        <div class="btn-group btn-group-sm unshadow">
                            <a class="btn btn-white" role="button"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            <a class="btn btn-white" role="button"><i class="fa fa-list" aria-hidden="true"></i></a>
                            <a class="btn btn-white" role="button"><i class="fa fa-cog" aria-hidden="true"></i></a>
                        </div>
                        <div class="d-inline-block">
                            <select class="browser-default custom-select dt-custom-select">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="d-inline-block">
                            <select class="browser-default custom-select dt-custom-select">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="dataTables_filter d-inline-block toolbar-search-wrap">
                            <input type="search" class="toolbar-search form-control form-control-sm" placeholder="Search" aria-controls="jesdaDataTable">
                            <!-- btn-search-remove 清除按鈕在進行搜尋後才會出現 -->
                            <!-- button type="button" class="btn btn-search-remove" title="清除搜尋"><i class="fa fa-times"></i></button -->
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 50px;" class="text-center">#</th>
                            <th>Name</th>
                            <th style="width: 15%;" class="hidden-xs">Access</th>
                            <th style="width: 100px;" class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% (1..6).map do |i| %>
                        <tr>
                            <td class="text-center"><%= i %></td>
                            <td><%= lorem_name %></td>
                            <td class="hidden-xs">
                                <% if i % 2 == 0 %>
                                <span class="label label-warning"><%= lorem_word %></span>
                                <% else %>
                                <span class="label label-primary"><%= lorem_word %></span>
                                <% end %>
                            </td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default" data-original-title="Edit Client"><i class="fa fa-pencil"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default" data-original-title="Remove Client"><i class="fa fa-times"></i></button>
                                </div>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</main>

<% content_for :js do %>
<script>
    $('.datepicker').datepicker();
</script>
<% end %>
