<!-- template: 補件 -->

<div class="container-lg">
	<div class="page-content">
	    <aside class="aside">
			<div class="scrollbar-inner">
		        <div class="sidenav">
                    <ul class="side-navigation menu-item">
                        <li>
							<a class="nav-item" href="#">
							    <span class="link-inner">個人資料維護</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">瀏覽申請紀錄</span>
							</a>
						</li>
						<li>
							<a class="nav-item current" href="#">
								<span class="link-inner">補件作業</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">繳交學費</span>
							</a>
						</li>
                    </ul>
				</div>
			</div>
		</aside>
		<main class="main">
			<div class="page-title">
			    <h3>補件作業</h3>
			</div>
			<section class="section">
                <div class="section-title">
                    <h4>課程名稱1補件項目</h4>
                </div>
                <div class="notice-wrapper">
                    <h4 class="notice-title">注意事項</h4>
                    <p><%= lorem_paragraph %></p>
					<p><%= lorem_paragraph %></p>
                </div>
                <div class="upload-wrapper fluid-wrapper">
                    <!-- 檔案上傳後多出 .file-pill，當再次上傳時則覆蓋上一筆，點選檔名另開視窗觀看文件 -->
                    <div class="upload-item">
                        <h4>課程大綱</h4>
						<div class="additional-info">
                            <p><%= zh_lorem_paragraph %></p>
						</div>
                        <div class="form-group">
                              <input class="form-control" type="file" id="photoFile">
                        </div>
                        <div class="upload-ft">
                            <div class="ft-left">
                                <span>
                                    <button type="button" class="btn btn-secondary">Upload</button>
                                </span>
                                <span>
                                    <div class="file-pill">
                                        <!-- 避免檔名過長有限制最大寬度 140px，超出時會字元會省略 -->
                                        <a href="#" target="_blank" class="filename">file_name.jpg</a>
                                        <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </span>
                            </div>
                            <button type="button" class="btn btn-history btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#uploadHistory"><i class="fas fa-history"></i> 上傳紀錄</button>
                        </div>
                    </div>
                    <div class="upload-item">
                        <h4>期末教學意見調查</h4>
                        <div class="additional-info">
                            <p><%= lorem_paragraph %></p>
						</div>
                        <div class="form-group">
                              <input class="form-control" type="file" id="passportFile">
                        </div>
                        <div class="upload-ft">
                            <div class="ft-left">
                                <span>
                                    <button type="button" class="btn btn-secondary">Upload</button>
                                </span>
								<span>
                                    <div class="file-pill">
                                        <!-- 避免檔名過長有限制最大寬度 140px，超出時會字元會省略 -->
                                        <a href="#" target="_blank" class="filename">file_name.jpg</a>
                                        <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </span>
                            </div>
                            <button type="button" class="btn btn-history btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#uploadHistory"><i class="far fa-eye"></i> 檢視</button>
                        </div>
                    </div>
                    <div class="upload-item">
                        <h4>Alien Resident Certificate</h4>
                        <div class="additional-info">
                            <p><%= lorem_paragraph %></p>
						</div>
                        <div class="form-group">
                              <input class="form-control" type="file" id="passportFile">
                        </div>
                        <div class="upload-ft">
                            <div class="ft-left">
                                <span>
                                    <button type="button" class="btn btn-secondary">Upload</button>
                                </span>
                            </div>
                            <button type="button" class="btn btn-history btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#uploadHistory"><i class="fas fa-history"></i> 上傳紀錄</button>
                        </div>
                    </div>
                </div>
			</section>

		</main>
	</div>
</div>

<%= render :partial => "/partials/upload-history" %>

<% content_for :js do %>

<% end %>
