<!-- NTU-OSA: 服務項目 -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item active">服務項目</li>
		</ol>
	</nav>
	<main class="main">
	    <div class="service-wrapper">
			<div class="row">
				<div class="col-lg-3 col-md-4">
					<div class="sticky">
                        <ul class="service-sidenav smooth-scroll menu-item">
                            <li><a href="#sev1" title="個別諮商">個別諮商</a></li>
                            <li><a href="#sev2" title="心理測驗">心理測驗</a></li>
                            <li><a href="#sev3" title="院系輔導">院系輔導</a></li>
                            <li><a href="#sev4" title="身心普查">身心普查</a></li>
                            <li><a href="#sev5" title="身心障礙學生服務">身心障礙學生服務</a></li>
                            <li><a href="#sev6" title="心理健康促進">心理健康促進</a></li>
                            <li><a href="#sev7" title="團體/工作坊">團體/工作坊</a></li>
							<li class="backtop"><a href="#AU" title="Back to top"><i class="fa fa-angle-double-up"></i> Back to top</a></li>
                        </ul>
					</div>
				</div>
				<div class="col-lg-9 col-md-8">
                    <div class="section-title">
                        <h3>服務項目</h3>
                    </div>
				    <div id="sev1" class="service-item">
					    <h3>個別諮商</h3>
						<p><%= lorem_paragraph %></p>
						<p><%= lorem_paragraph %></p>
						<p><%= lorem_paragraph %></p>
					</div>
					<div id="sev2" class="service-item">
					    <h3>心理測驗</h3>
						<p><%= lorem_paragraph %></p>
						<p><%= lorem_paragraph %></p>
						<p><%= lorem_paragraph %></p>
					</div>
					<div id="sev3" class="service-item">
					    <h3>院系輔導</h3>
						<p><%= lorem_paragraph %></p>
						<p><%= lorem_paragraph %></p>
						<p><%= lorem_paragraph %></p>
					</div>
					<div id="sev4" class="service-item">
					    <h3>身心普查</h3>
						<p><%= lorem_paragraph %></p>
						<p><%= lorem_paragraph %></p>
						<p><%= lorem_paragraph %></p>
					</div>
					<div id="sev5" class="service-item">
					    <h3>身心障礙學生服務</h3>
						<p><%= lorem_paragraph %></p>
						<p><%= lorem_paragraph %></p>
						<p><%= lorem_paragraph %></p>
					</div>
					<div id="sev6" class="service-item">
					    <h3>心理健康促進</h3>
						<p><%= lorem_paragraph %></p>
						<p><%= lorem_paragraph %></p>
						<p><%= lorem_paragraph %></p>
					</div>
					<div id="sev7" class="service-item">
					    <h3>團體/工作坊</h3>
						<p><%= lorem_paragraph %></p>
						<p><%= lorem_paragraph %></p>
						<p><%= lorem_paragraph %></p>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>


<% content_for :js do %>
<script>
$(function () {
	$(".sticky").sticky({
		topSpacing: 30,
		zIndex: 2,
		stopper: "footer.footer",
		minWidth: 991
	});
    jQuery(document).ready(function($) {
        var alterClass = function() {
            var ww = document.body.clientWidth;
            if (ww < 767) {
                $('.sticky').addClass('sticky-fix');
            } else if (ww >= 767) {
                $('.sticky').removeClass('sticky-fix');
            };
        };
        $(window).resize(function() {
            alterClass();
        });
        //Fire it when the page first loads:
        alterClass();
    });
});
</script>
<% end %>





















































