<!-- NTU-OSA: 關於我們 -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item active">關於我們</li>
		</ol>
	</nav>
	<main class="main">
	    <div class="about-container">
            <div class="section-title">
                <h3>關於我們</h3>
            </div>
			<div class="position-wrapper">
			    <div class="position-title">
					<h4>主任</h4>
				</div>
				<ul class="card-wrapper menu-item">
					<li class="card-item">
                        <div class="card">
                            <div class="card-head">
                                <h5>廖士程</h5>
                                <h5>中心主任</h5>
                            </div>
                            <div class="card-body">
                                <ul class="menu-item individual">
                                    <li>
                                        <p class="label">連絡電話</p>
                                        <ul class="menu-item">
                                            <li>02-33662181 #10</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <p class="label">電子信箱</p>
                                        <ul class="menu-item">
                                            <li>account@ntu.edu.tw</li>
                                        </ul>
                                    </li>
                                </ul>
								<a href="member.html" class="more" title="更多"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
					</li>
				</ul>
			</div>
			<div class="position-wrapper">
			    <div class="position-title">
					<h4><%= zh_lorem_words(5) %></h4>
				</div>
				<ul class="card-wrapper menu-item">
					<li class="card-item">
                        <div class="card">
                            <div class="card-head">
                                <h5><%= zh_lorem_words(3) %></h5>
                                <h5><%= zh_lorem_words(4) %>師</h5>
                            </div>
                            <div class="card-body">
                                <ul class="menu-item individual">
                                    <li>
                                        <p class="label">連絡電話</p>
                                        <ul class="menu-item">
                                            <li>02-33662181 #10</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <p class="label">主要業務</p>
                                        <ul class="menu-item">
                                            <li><%= zh_lorem_words(5) %></li>
                                            <li><%= zh_lorem_words(5) %></li>
                                            <li><%= zh_lorem_words(5) %></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
					</li>
					
					<% (1..7).map do |i| %>
					<li class="card-item">
                        <div class="card">
                            <div class="card-head">
                                <h5><%= zh_lorem_words(3) %></h5>
                                <h5><%= zh_lorem_words(4) %>師</h5>
                            </div>
                            <div class="card-body">
                                <ul class="menu-item individual">
                                    <li>
                                        <p class="label">連絡電話</p>
                                        <ul class="menu-item">
                                            <li>02-33662181 #10</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <p class="label">主要業務</p>
                                        <ul class="menu-item">
                                            <li><%= zh_lorem_words(5) %></li>
                                        </ul>
                                    </li>
                                </ul>
								<a href="member.html" class="more" title="更多"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
					</li>
					<% end %>
				</ul>
			</div>
			<div class="position-wrapper">
			    <div class="position-title">
					<h4><%= zh_lorem_words(5) %></h4>
				</div>
				<ul class="card-wrapper menu-item">
					<% (1..7).map do |i| %>
					<li class="card-item">
                        <div class="card">
                            <div class="card-head">
                                <h5><%= zh_lorem_words(3) %></h5>
                                <h5><%= zh_lorem_words(4) %>師</h5>
                            </div>
                            <div class="card-body">
                                <ul class="menu-item individual">
                                    <li>
                                        <p class="label">連絡電話</p>
                                        <ul class="menu-item">
                                            <li>02-33662181 #10</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <p class="label">主要業務</p>
                                        <ul class="menu-item">
                                            <li><%= zh_lorem_words(5) %></li>
                                        </ul>
                                    </li>
                                </ul>
								<a href="member.html" class="more" title="更多"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
					</li>
					<% end %>
				</ul>
			</div>
		</div>
	</main>
</div>


<% content_for :js do %>

<% end %>





















































