<!-- tigp: 首頁 - 雙學程 (未登入) -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<div class="launch-date">
	    <strong>Launch</strong>
		2020-09-15 00:00 ~ 2020-09-15 00:00
	</div>
	<div class="guide-wrapper">
		<div class="guide-summary">
            <h4 class="guide-title">PROGRAM GUIDE FOR ON-LINE APPLICATION </h4>
            <p class="grey-text">Please click on the item to view details, And due to the complexity of the application process, we will not provide responsive to mobile devices to ensure data accuracy until the application process is completed. (需要在此處說明接下來的申請步驟，因考量表單複雜度將不支援 RWD)</p>
		</div>
	    <ul class="program-guide menu-item">
		    <li>
				<a class="btn-modal" data-toggle="modal" data-target="#basicExampleModal">
					<span class="serial-box"><span class="serial">1</span></span>
					<span class="item-bd">
                        <span class="item">
							Chemical Biology and Molecular Biophysics Molecular and Biological Agricultural Sciences Chemical Biology and Molecular Biophysics
                            <span class="svg-info">
                                <svg version="1.1" id="alert-circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background: new 0 0 20 20;" xml:space="preserve">
                                    <path class="st0" d="M0,0h20v20H0C0,20,0,0,0,0z" />
                                    <circle class="st1" cx="10" cy="10" r="9" />
                                    <line class="st1" x1="10" y1="6" x2="10" y2="10" />
                                    <line class="st1" x1="10" y1="14" x2="10" y2="14" />
                                </svg>
                            </span>
						</span>
					</span>
				</a>
			</li>
			<li>
				<a class="btn-modal" data-toggle="modal" data-target="#basicExampleModal">
					<span class="serial-box"><span class="serial">2</span></span>
					<span class="item-bd">
                        <span class="item">
							Molecular and Biological Agricultural Sciences
                            <span class="svg-info">
                                <svg version="1.1" id="alert-circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background: new 0 0 20 20;" xml:space="preserve">
                                    <path class="st0" d="M0,0h20v20H0C0,20,0,0,0,0z" />
                                    <circle class="st1" cx="10" cy="10" r="9" />
                                    <line class="st1" x1="10" y1="6" x2="10" y2="10" />
                                    <line class="st1" x1="10" y1="14" x2="10" y2="14" />
                                </svg>
                            </span>
						</span>
					</span>
				</a>
			</li>
			<% (3..9).each do |n| %>
			<li>
				<a class="btn-modal" data-toggle="modal" data-target="#basicExampleModal">
					<span class="serial-box"><span class="serial"><%= n %></span></span>
					<span class="item-bd">
                        <span class="item">
							<%= lorem_sentence %>
                            <span class="svg-info">
                                <svg version="1.1" id="alert-circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background: new 0 0 20 20;" xml:space="preserve">
                                    <path class="st0" d="M0,0h20v20H0C0,20,0,0,0,0z" />
                                    <circle class="st1" cx="10" cy="10" r="9" />
                                    <line class="st1" x1="10" y1="6" x2="10" y2="10" />
                                    <line class="st1" x1="10" y1="14" x2="10" y2="14" />
                                </svg>
                            </span>
						</span>
					</span>
				</a>
			</li>
			<% end %>
			
			<% (10..12).each do |n| %>
			<li class="joint">
				<a class="btn-modal" data-toggle="modal" data-target="#basicExampleModal">
					<span class="serial-box"><span class="serial"><%= n %></span></span>
					<span class="item-bd">
                        <span class="item">
							(Joint recruitment) <%= lorem_sentence %>
                            <span class="svg-info">
                                <svg version="1.1" id="alert-circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background: new 0 0 20 20;" xml:space="preserve">
                                    <path class="st0" d="M0,0h20v20H0C0,20,0,0,0,0z" />
                                    <circle class="st1" cx="10" cy="10" r="9" />
                                    <line class="st1" x1="10" y1="6" x2="10" y2="10" />
                                    <line class="st1" x1="10" y1="14" x2="10" y2="14" />
                                </svg>
                            </span>
						</span>
					</span>
				</a>
			</li>
			<% end %>
		</ul>
	</div>
	<div class="btn-custom">
	    <a href="../general/deposition.html" class="flat-btn">
			<!-- 申請中與審查中 wording 應更改為 Continue & Result -->
			APPLY <i class="fa fa-arrow-circle-o-right"></i>
		</a>
	</div>
</div>

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2021</h3>
	</div>
	<div class="launch-date">
	    <strong>Launch</strong>
		2020-09-15 00:00 ~ 2020-09-15 00:00
	</div>
	<div class="guide-wrapper">
		<div class="guide-summary">
            <h4 class="guide-title">PROGRAM GUIDE FOR ON-LINE APPLICATION </h4>
            <p class="grey-text">Please click on the item to view details, And due to the complexity of the application process, we will not provide responsive to mobile devices to ensure data accuracy until the application process is completed. (需要在此處說明接下來的申請步驟，因考量表單複雜度將不支援 RWD)</p>
		</div>
	    <ul class="program-guide menu-item">
		    <li>
				<a class="btn-modal" data-toggle="modal" data-target="#basicExampleModal">
					<span class="serial-box"><span class="serial">1</span></span>
					<span class="item-bd">
                        <span class="item">
							Chemical Biology and Molecular Biophysics Molecular and Biological Agricultural Sciences Chemical Biology and Molecular Biophysics
                            <span class="svg-info">
                                <svg version="1.1" id="alert-circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background: new 0 0 20 20;" xml:space="preserve">
                                    <path class="st0" d="M0,0h20v20H0C0,20,0,0,0,0z" />
                                    <circle class="st1" cx="10" cy="10" r="9" />
                                    <line class="st1" x1="10" y1="6" x2="10" y2="10" />
                                    <line class="st1" x1="10" y1="14" x2="10" y2="14" />
                                </svg>
                            </span>
						</span>
					</span>
				</a>
			</li>
			<li>
				<a class="btn-modal" data-toggle="modal" data-target="#basicExampleModal">
					<span class="serial-box"><span class="serial">2</span></span>
					<span class="item-bd">
                        <span class="item">
							Molecular and Biological Agricultural Sciences
                            <span class="svg-info">
                                <svg version="1.1" id="alert-circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background: new 0 0 20 20;" xml:space="preserve">
                                    <path class="st0" d="M0,0h20v20H0C0,20,0,0,0,0z" />
                                    <circle class="st1" cx="10" cy="10" r="9" />
                                    <line class="st1" x1="10" y1="6" x2="10" y2="10" />
                                    <line class="st1" x1="10" y1="14" x2="10" y2="14" />
                                </svg>
                            </span>
						</span>
					</span>
				</a>
			</li>
			<% (3..9).each do |n| %>
			<li>
				<a class="btn-modal" data-toggle="modal" data-target="#basicExampleModal">
					<span class="serial-box"><span class="serial"><%= n %></span></span>
					<span class="item-bd">
                        <span class="item">
							<%= lorem_sentence %>
                            <span class="svg-info">
                                <svg version="1.1" id="alert-circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background: new 0 0 20 20;" xml:space="preserve">
                                    <path class="st0" d="M0,0h20v20H0C0,20,0,0,0,0z" />
                                    <circle class="st1" cx="10" cy="10" r="9" />
                                    <line class="st1" x1="10" y1="6" x2="10" y2="10" />
                                    <line class="st1" x1="10" y1="14" x2="10" y2="14" />
                                </svg>
                            </span>
						</span>
					</span>
				</a>
			</li>
			<% end %>
			
			<% (10..12).each do |n| %>
			<li class="joint">
				<a class="btn-modal" data-toggle="modal" data-target="#basicExampleModal">
					<span class="serial-box"><span class="serial"><%= n %></span></span>
					<span class="item-bd">
                        <span class="item">
							(Joint recruitment) <%= lorem_sentence %>
                            <span class="svg-info">
                                <svg version="1.1" id="alert-circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background: new 0 0 20 20;" xml:space="preserve">
                                    <path class="st0" d="M0,0h20v20H0C0,20,0,0,0,0z" />
                                    <circle class="st1" cx="10" cy="10" r="9" />
                                    <line class="st1" x1="10" y1="6" x2="10" y2="10" />
                                    <line class="st1" x1="10" y1="14" x2="10" y2="14" />
                                </svg>
                            </span>
						</span>
					</span>
				</a>
			</li>
			<% end %>
		</ul>
	</div>
	<div class="btn-custom">
	    <a href="../general/deposition.html" class="flat-btn">
			<!-- 申請中與審查中 wording 應更改為 Continue & Result -->
			APPLY <i class="fa fa-arrow-circle-o-right"></i>
		</a>
	</div>
</div>
