<!-- template: 論文計劃書審查作業 - 送出申請 -->

<div class="container-fix">
    <div class="page-content fixed">
        <div class="subject-head">
            <h3>Global MBA, Application for Thesis Proposal Approval</h3>
        </div>
        <div class="page-content-inner">
            <aside class="aside">
                <ul class="menu-item step-menu">
                    <li>
                        <a href="#" class="item-wrap">1.<%= lorem_words(3) %></a>
                        <ul class="menu-item">
                            <li>
                                <a href="#" class="item-wrap">1.1 <%= lorem_words(4) %></a>
                            </li>
                            <li>
                                <a href="#" class="item-wrap">1.2 <%= lorem_words(2) %></a>
                            </li>
                            <li>
                                <a href="#" class="item-wrap">1.3 <%= lorem_words(3) %></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="item-wrap current">2. <%= lorem_words(4) %></span>
                    </li>
                    <li>
                        <span class="item-wrap">3. <%= lorem_words(2) %></span>
                    </li>
                    <li>
                        <span class="item-wrap">4. <%= lorem_words(3) %></span>
                    </li>
                </ul>
            </aside>
            <main class="main">
                <div class="page-title">
                    <h3>Apply</h3>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label fw-bold">Student ID</label>
                            <div class="form-output">M11100112345</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label fw-bold">專班名稱</label>
                            <div class="form-output">國立臺灣大學管理學院企業管理碩士專班</div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label fw-bold">English of the special class</label>
                            <div class="form-output">Global MBA College of Management National Taiwan University</div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="" class="form-label fw-bold">Thesis topic</label>
                            <input type="text" class="form-control" id="" value="電源接地平面之模型化與地訊抑制" disabled  readonly>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="" class="form-label fw-bold">Dissertation topic in English</label>
                            <input type="text" class="form-control" id="" value="Modeling for Power/Ground Planes and  Suppression of Ground Bounce" disabled  readonly>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="" class="form-label fw-bold">Author name</label>
                            <input type="text" class="form-control" id="" value="史嘉蕾" disabled  readonly>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="" class="form-label fw-bold">Author English name</label>
                            <input type="text" class="form-control" id="" value="Scarlett Ingrid Johansson" disabled  readonly>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label fw-bold">Student ID</label>
                            <div class="table-responsive">
                                <table class="table align-middle">
                                    <thead>
                                        <tr class="bg-light">
                                            <th>Serial</th>
                                            <th class="keep-all">Type of advisor</th>
                                            <th>Advisor</th>
                                            <th>Application time</th>
                                            <th>How to apply</th>
                                            <th>State</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>ABC1234</td>
                                            <td>Advisor</td>
                                            <td class="keep-all">史嘉蕾 Scarlett Johansson</td>
                                            <td class="keep-all">2023-09-01 12:00</td>
                                            <td>Upload the consent form of the thesis supervisor</td>
                                            <td>Uploaded</td>
                                        </tr>
                                        <tr>
                                            <td>ABC1235</td>
                                            <td>Advisor</td>
                                            <td class="keep-all">史嘉蕾 Scarlett Johansson</td>
                                            <td class="keep-all">2023-09-02 12:00</td>
                                            <td>Online</td>
                                            <td>Approved</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="" class="form-label fw-bold">Thesis Proposal</label>
                            <div class="form-output"><a href="#"><i class="fas fa-cloud-download-alt"></i> Download</a></div>
                        </div>
                    </div>
                </div>
                <div class="form-action">
                    <button type="button" class="btn btn-lg btn-light">Previous</button>
                    <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                </div>
            </main>
        </div>
    </div>
</div>



<% content_for :js do %>
<% end %>
