<!-- template: 畢業申請作業 - 畢業審查文件上傳 -->

<div class="container-fix">
    <div class="page-content fixed">
        <div class="subject-head">
            <h3>Graduation Plan</h3>
        </div>
        <div class="page-content-inner">
            <aside class="aside">
                <ul class="menu-item step-menu">
                    <li>
                        <a href="#" class="item-wrap">1.<%= lorem_words(3) %></a>
                        <ul class="menu-item">
                            <li>
                                <a href="#" class="item-wrap">1.1 <%= lorem_words(4) %></a>
                            </li>
                            <li>
                                <a href="#" class="item-wrap">1.2 <%= lorem_words(2) %></a>
                            </li>
                            <li>
                                <a href="#" class="item-wrap">1.3 <%= lorem_words(3) %></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="item-wrap current">2. <%= lorem_words(4) %></span>
                    </li>
                    <li>
                        <span class="item-wrap">3. <%= lorem_words(2) %></span>
                    </li>
                    <li>
                        <span class="item-wrap">4. <%= lorem_words(3) %></span>
                    </li>
                </ul>
            </aside>
            <main class="main">
                <div class="page-title">
                    <h3>Graduation Review File Upload</h3>
                </div>
                <div class="upload-wrapper fluid-wrapper">
                    <div class="upload-item">
                        <h4 class="mb-3">Transcript (PDF)</h4>
                        <p><a href="#"><i class="fas fa-cloud-download-alt"></i> Download</a></p>
                        <div class="form-group">
                            <input class="form-control" type="file" id="photoFile">
                            <div class="form-text">File Name Rules: Student ID_Transcript.pdf</div>
                        </div>
                    </div>
                    
                    <div class="upload-item">
                        <h4 class="mb-3">Course Selection Results for This Semester (PDF)</h4>
                        <p><a href="#"><i class="fas fa-cloud-download-alt"></i> Template Download</a></p>
                        <div class="form-group">
                            <input class="form-control" type="file" id="photoFile">
                            <div class="form-text">File Name Rules: Student ID_Transcript.pdf</div>
                        </div>
                    </div>
                    
                    <% (1..3).map do |i| %>
                    <div class="upload-item">
                        <h4 class="mb-3"><%= lorem_sentence %></h4>
                        <p><a href="#"><i class="fas fa-cloud-download-alt"></i> Template Download</a></p>
                        <div class="form-group">
                            <input class="form-control" type="file" id="photoFile">
                            <div class="form-text">File Name Rules: Student ID_Transcript.pdf</div>
                        </div>
                    </div>
                    <% end %>
                </div>
                
                <div class="form-action">
                    <button type="button" class="btn btn-lg btn-light">Previous</button>
                    <button type="button" class="btn btn-lg btn-primary">keep in</button>
                    <button type="button" class="btn btn-lg btn-light">Next</button>
                </div>
            </main>
        </div>
    </div>
</div>



<% content_for :js do %>
<% end %>
