<!-- tigp: 申請首頁  -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<div class="application-container">
		<div class="row">
		    <div class="step-column col-3">
                <ul class="nav-step menu-item">
                    <li class="nav-item">
                        <a class="step-link" href="program_application.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Program Application</span>
						</a>
                    </li>
                    <li class="nav-item">
                        <a class="step-link" href="personal_information.html">
							<img class="status icon-check" src="../assets/iconmonstr-check-mark-8.svg">
							<span>Personal Information</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="education_background.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Education Background</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="english_proficiency.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>English Proficiency</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="uploading_documents.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Uploading Documents</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="academic_achievement.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Academic Achievement</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="work_experiences.html">
							<span>Work Experiences</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="recommendation_letters.html">
							<span>Recommendation Letters <strong>(1/3)</strong></span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="survey.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Survey</span>
						</a>
                    </li>
                </ul>
			</div>
			<div class="content-column col-9">
				<div class="content-container">
					<div class="editor-wall">
                        <h3>Precautions</h3>
                        <p>這邊應該再說明一次申請過程將不支援 RWD，以及提醒申請者左方的必填項目。</p>
                        <p><span class="w-wrap"><span class="required">*</span></span> : Required information to be provided</p>
                        <p><span class="w-wrap text-success"><i class="fa fa-check"></i></span> : Information is complete</p>
                        <p>Once all the required information is complete, you would be ready for preview and submission.</p>
                        <p><%= lorem_sentences(5) %></p>
                        <ol>
                            <% (1..6).each do |n| %>
                            <li><%= lorem_sentence %></li>
                            <% end %>
                        </ol>
                        <p><%= lorem_sentences(3) %></p>
                        <p><%= lorem_sentences(8) %></p>
                        <p><%= lorem_sentences(5) %></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="btn-custom">
	    <a href="../general/deposition.html" class="flat-btn disabled">
			Preview <i class="fa fa-arrow-circle-o-right"></i>
		</a>
		<div class="extra">
		    <p><span class="w-wrap"><span class="required">*</span></span> : Required information to be provided</p>
			<p><span class="w-wrap text-success"><i class="fa fa-check"></i></span> : Information is complete</p>
			<p>Once all the required information is complete, you would be ready for preview and submission.</p>
		</div>
	</div>
</div>

