<!-- tigp: english proficiency  -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<div class="application-container">
		<div class="row">
		    <div class="step-column col-3">
                <ul class="nav-step menu-item">
                    <li class="nav-item">
                        <a class="step-link" href="program_application.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Program Application</span>
						</a>
                    </li>
                    <li class="nav-item">
                        <a class="step-link" href="personal_information.html">
							<img class="status icon-check" src="../assets/iconmonstr-check-mark-8.svg">
							<span>Personal Information</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="education_background.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Education Background</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link current" href="english_proficiency.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>English Proficiency</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="uploading_documents.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Uploading Documents</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="academic_achievement.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Academic Achievement</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="work_experiences.html">
							<span>Work Experiences</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="recommendation_letters.html">
							<span>Recommendation Letters <strong>(1/3)</strong></span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="survey.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Survey</span>
						</a>
                    </li>
                </ul>
			</div>
			<div class="content-column col-9">
				<div class="content-container">
					<div class="editor-wall">
						<h4><%= lorem_sentence %></h4>
                        <p><%= lorem_sentences(8) %></p>
                        <p><%= lorem_sentences(5) %></p>
						<h4><%= lorem_sentence %></h4>
                        <p><%= lorem_sentences(10) %></p>
					</div>
					<hr class="my-5">
					<form>
						<div class="form-group mb-5">
						    <label>English Proficiency Test Name</label>
							<div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="proficiencyTOEFL">
                                    <label class="custom-control-label" for="proficiencyTOEFL">TOEFL</label>
                                </div>
								<div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="proficiencyIELTSAcademic">
                                    <label class="custom-control-label" for="proficiencyIELTSAcademic">IELTS Academic</label>
                                </div>
								<div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="proficiencyGEPT">
                                    <label class="custom-control-label" for="proficiencyGEPT">GEPT (High-Intermediate Level)</label>
                                </div>
								<div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="proficiencyTOEIC">
                                    <label class="custom-control-label" for="proficiencyTOEIC">TOEIC (Listening and Reading)</label>
                                </div>
								<div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="proficiencyGRE">
                                    <label class="custom-control-label" for="proficiencyGRE">GRE</label>
                                </div>
								<div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="proficiencyWAIVER">
                                    <label class="custom-control-label" for="proficiencyWAIVER">WAIVER</label>
                                </div>
							</div>
						</div>
						
						<!-- 以下 show / hide 邏輯超出守備範圍煩請前端協助 (包括 Test Report 的 checkbox) -->
						
						<div class="degree-container">
                            <section class="degree-section">
                                <div class="degree-head">
                                    <h4>TOEFL</h4>
                                </div>
                                <div class="degree-inner">
                                    <div class="form-group">
                                        <label>Test Report (upload in PDF format)</label>
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
                                                <div class="d-inline-block">
                                                    <div class="d-flex flex-wrap align-items-center">
                                                        <div class="file-wrapper">
                                                            <div class="file-name">
                                                                Dani_Box_Mini_manual.pdf
                                                            </div>
                                                            <button type="button" class="btn btn-cancel" title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="custom-control custom-checkbox mt-2">
                                            <input type="checkbox" class="custom-control-input degree_unavailable" id="degreeUnavailable">
                                            <label class="custom-control-label" for="degreeUnavailable">Currently unavailable, and the diploma will be issued from the University on</label>
                                        </div>
                                        <div class="unavailable-container extend-con hide">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control mb-0" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Type of Test</label>
                                        <div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" id="testInternet" name="testType">
                                                <label class="custom-control-label" for="testInternet">Internet-based</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" id="testPaper" name="testType">
                                                <label class="custom-control-label" for="testPaper">Paper-based</label>
                                            </div>
                                        </div>
                                    </div>
									<div class="form-group">
                                        <label for="degreeUniversityName">Date Taken or Expected</label>
                                        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                            <input placeholder="Select date" type="text" id="example" class="form-control" />
                                            <label for="example"></label>
                                            <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                        </div>
                                    </div>
									<div class="form-group">
										<label>Score</label>
                                        <div class="form-row">
                                            <div class="col-3">
												<label for="scoreSpeaking" class="font-weight-normal">Speaking</label>
												<input type="text" class="form-control" id="scoreSpeaking">
                                            </div>
											<div class="col-3">
												<label for="scoreWriting" class="font-weight-normal">Writing</label>
												<input type="text" class="form-control" id="scoreWriting">
                                            </div>
											<div class="col-3">
												<label for="scoreListening" class="font-weight-normal">Listening</label>
												<input type="text" class="form-control" id="scoreListening">
                                            </div>
											<div class="col-3">
												<label for="scoreReading" class="font-weight-normal">Reading</label>
												<input type="text" class="form-control" id="scoreReading">
                                            </div>
                                        </div>
									</div>
                                    <div class="form-group">
                                        <label for="totalScore">Total Score</label>
                                        <input type="text" class="form-control" id="totalScore" placeholder="">
                                    </div>
									<div class="form-group">
                                        <label>Please confirm the test score has sent or will send to TIGP, Academia Sinica (code:7142) by ETS</label>
                                        <div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" id="scoreSentYes" name="scoreSent">
                                                <label class="custom-control-label" for="scoreSentYes">Yes, I did / will</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" id="scoreSentNo" name="scoreSent">
                                                <label class="custom-control-label" for="scoreSentNo">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
						</div>
						
						<div class="degree-container">
                            <section class="degree-section">
                                <div class="degree-head">
                                    <h4>IELTS Academic</h4>
                                </div>
                                <div class="degree-inner">
                                    <div class="form-group">
                                        <label>Test Report (upload in PDF format)</label>
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
                                                <div class="d-inline-block">
                                                    <div class="d-flex flex-wrap align-items-center">
                                                        <div class="file-wrapper">
                                                            <div class="file-name">
                                                                Dani_Box_Mini_manual.pdf
                                                            </div>
                                                            <button type="button" class="btn btn-cancel" title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="custom-control custom-checkbox mt-2">
                                            <input type="checkbox" class="custom-control-input degree_unavailable" id="degreeUnavailable">
                                            <label class="custom-control-label" for="degreeUnavailable">Currently unavailable, and the diploma will be issued from the University on</label>
                                        </div>
                                        <div class="unavailable-container extend-con hide">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control mb-0" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
									<div class="form-group">
                                        <label for="degreeUniversityName">Date Taken or Expected</label>
                                        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                            <input placeholder="Select date" type="text" id="example" class="form-control" />
                                            <label for="example"></label>
                                            <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="totalScore">Total Score</label>
                                        <input type="text" class="form-control" id="totalScore" placeholder="">
                                    </div>
									<div class="form-group">
                                        <label>Please confirm the test score has sent or will send to TIGP, Academia Sinica (code:7142) by ETS</label>
                                        <div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" id="scoreSentYes" name="scoreSent">
                                                <label class="custom-control-label" for="scoreSentYes">Yes, I did / will</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" id="scoreSentNo" name="scoreSent">
                                                <label class="custom-control-label" for="scoreSentNo">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
						</div>
						
						<div class="degree-container">
                            <section class="degree-section">
                                <div class="degree-head">
                                    <h4>GEPT (High-Intermediate Level)</h4>
                                </div>
                                <div class="degree-inner">
                                    <div class="form-group">
                                        <label>Test Report (upload in PDF format)</label>
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
                                                <div class="d-inline-block">
                                                    <div class="d-flex flex-wrap align-items-center">
                                                        <div class="file-wrapper">
                                                            <div class="file-name">
                                                                Dani_Box_Mini_manual.pdf
                                                            </div>
                                                            <button type="button" class="btn btn-cancel" title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="custom-control custom-checkbox mt-2">
                                            <input type="checkbox" class="custom-control-input degree_unavailable" id="degreeUnavailable">
                                            <label class="custom-control-label" for="degreeUnavailable">Currently unavailable, and the diploma will be issued from the University on</label>
                                        </div>
                                        <div class="unavailable-container extend-con hide">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control mb-0" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
									<div class="form-group">
                                        <label for="degreeUniversityName">Date Taken or Expected</label>
                                        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                            <input placeholder="Select date" type="text" id="example" class="form-control" />
                                            <label for="example"></label>
                                            <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                        </div>
                                    </div>
									<div class="form-group">
										<label>Score</label>
                                        <div class="form-row">
                                            <div class="col-3">
												<label for="scoreSpeaking" class="font-weight-normal">Speaking</label>
												<input type="text" class="form-control" id="scoreSpeaking">
                                            </div>
											<div class="col-3">
												<label for="scoreWriting" class="font-weight-normal">Writing</label>
												<input type="text" class="form-control" id="scoreWriting">
                                            </div>
											<div class="col-3">
												<label for="scoreListening" class="font-weight-normal">Listening</label>
												<input type="text" class="form-control" id="scoreListening">
                                            </div>
											<div class="col-3">
												<label for="scoreReading" class="font-weight-normal">Reading</label>
												<input type="text" class="form-control" id="scoreReading">
                                            </div>
                                        </div>
									</div>
                                    <div class="form-group">
                                        <label>Total Score</label>
                                        <div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" id="scorePass" name="totalScore">
                                                <label class="custom-control-label" for="scorePass">Pass</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" id="scoreFail" name="totalScore">
                                                <label class="custom-control-label" for="scoreFail">Fail</label>
                                            </div>
                                        </div>
                                    </div>
									<div class="form-group">
                                        <label>Please confirm the test score has sent or will send to TIGP, Academia Sinica (code:7142) by ETS</label>
                                        <div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" id="scoreSentYes" name="scoreSent">
                                                <label class="custom-control-label" for="scoreSentYes">Yes, I did / will</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" id="scoreSentNo" name="scoreSent">
                                                <label class="custom-control-label" for="scoreSentNo">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
						</div>
						
						<div class="degree-container">
                            <section class="degree-section">
                                <div class="degree-head">
                                    <h4>TOEIC (Listening and Reading)</h4>
                                </div>
                                <div class="degree-inner">
                                    <div class="form-group">
                                        <label>Test Report (upload in PDF format)</label>
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
                                                <div class="d-inline-block">
                                                    <div class="d-flex flex-wrap align-items-center">
                                                        <div class="file-wrapper">
                                                            <div class="file-name">
                                                                Dani_Box_Mini_manual.pdf
                                                            </div>
                                                            <button type="button" class="btn btn-cancel" title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="custom-control custom-checkbox mt-2">
                                            <input type="checkbox" class="custom-control-input degree_unavailable" id="degreeUnavailable">
                                            <label class="custom-control-label" for="degreeUnavailable">Currently unavailable, and the diploma will be issued from the University on</label>
                                        </div>
                                        <div class="unavailable-container extend-con hide">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control mb-0" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
									<div class="form-group">
                                        <label for="degreeUniversityName">Date Taken or Expected</label>
                                        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                            <input placeholder="Select date" type="text" id="example" class="form-control" />
                                            <label for="example"></label>
                                            <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                        </div>
                                    </div>
									<div class="form-group">
										<label>Score</label>
                                        <div class="form-row">
											<div class="col-6">
												<label for="scoreListening" class="font-weight-normal">Listening</label>
												<input type="text" class="form-control" id="scoreListening">
                                            </div>
											<div class="col-6">
												<label for="scoreReading" class="font-weight-normal">Reading</label>
												<input type="text" class="form-control" id="scoreReading">
                                            </div>
                                        </div>
									</div>
                                    <div class="form-group">
                                        <label for="totalScore">Total Score</label>
                                        <input type="text" class="form-control" id="totalScore" placeholder="">
                                    </div>
									<div class="form-group">
                                        <label>Please confirm the test score has sent or will send to TIGP, Academia Sinica (code:7142) by ETS</label>
                                        <div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" id="scoreSentYes" name="scoreSent">
                                                <label class="custom-control-label" for="scoreSentYes">Yes, I did / will</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" id="scoreSentNo" name="scoreSent">
                                                <label class="custom-control-label" for="scoreSentNo">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
						</div>
						
						<div class="degree-container">
                            <section class="degree-section">
                                <div class="degree-head">
                                    <h4>GRE</h4>
                                </div>
                                <div class="degree-inner">
                                    <div class="form-group">
                                        <label>Test Report (upload in PDF format)</label>
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
                                                <div class="d-inline-block">
                                                    <div class="d-flex flex-wrap align-items-center">
                                                        <div class="file-wrapper">
                                                            <div class="file-name">
                                                                Dani_Box_Mini_manual.pdf
                                                            </div>
                                                            <button type="button" class="btn btn-cancel" title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="custom-control custom-checkbox mt-2">
                                            <input type="checkbox" class="custom-control-input degree_unavailable" id="degreeUnavailable">
                                            <label class="custom-control-label" for="degreeUnavailable">Currently unavailable, and the diploma will be issued from the University on</label>
                                        </div>
                                        <div class="unavailable-container extend-con hide">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control mb-0" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
									<div class="form-group">
                                        <label for="degreeUniversityName">Date Taken or Expected</label>
                                        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                            <input placeholder="Select date" type="text" id="example" class="form-control" />
                                            <label for="example"></label>
                                            <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                        </div>
                                    </div>
									<div class="form-group">
										<label>Verbal</label>
                                        <div class="form-row">
											<div class="col-6">
												<label for="verbalScore" class="font-weight-normal">Score</label>
												<input type="text" class="form-control" id="verbalScore">
                                            </div>
											<div class="col-6">
												<label for="verbalPercentile" class="font-weight-normal">Percentile</label>
												<input type="text" class="form-control" id="verbalPercentile">
                                            </div>
                                        </div>
									</div>
									<div class="form-group">
										<label>Quantitative</label>
                                        <div class="form-row">
											<div class="col-6">
												<label for="quantitativeScore" class="font-weight-normal">Score</label>
												<input type="text" class="form-control" id="quantitativeScore">
                                            </div>
											<div class="col-6">
												<label for="quantitativePercentile" class="font-weight-normal">Percentile</label>
												<input type="text" class="form-control" id="quantitativePercentile">
                                            </div>
                                        </div>
									</div>
									<div class="form-group">
										<label>Analytical Writing</label>
                                        <div class="form-row">
											<div class="col-6">
												<label for="analyticalScore" class="font-weight-normal">Score</label>
												<input type="text" class="form-control" id="analyticalScore">
                                            </div>
											<div class="col-6">
												<label for="analyticalPercentile" class="font-weight-normal">Percentile</label>
												<input type="text" class="form-control" id="analyticalPercentile">
                                            </div>
                                        </div>
									</div>
                                    
									<div class="form-group">
                                        <label>Please confirm the test score has sent or will send to TIGP, Academia Sinica (code:7142) by ETS</label>
                                        <div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" id="scoreSentYes" name="scoreSent">
                                                <label class="custom-control-label" for="scoreSentYes">Yes, I did / will</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" id="scoreSentNo" name="scoreSent">
                                                <label class="custom-control-label" for="scoreSentNo">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
						</div>
						
						<div class="degree-container">
                            <section class="degree-section">
                                <div class="degree-head">
                                    <h4>WAIVER</h4>
                                </div>
                                <div class="degree-inner">
                                    <div class="form-group">
                                        <label>Upload official certificate</label>
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
                                                <div class="d-inline-block">
                                                    <div class="d-flex flex-wrap align-items-center">
                                                        <div class="file-wrapper">
                                                            <div class="file-name">
                                                                Dani_Box_Mini_manual.pdf
                                                            </div>
                                                            <button type="button" class="btn btn-cancel" title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
										<small class="form-text text-muted">Please upload your passport, degree or official certificate by the Office of Registrar in PDF format</small>
                                    </div>
                                </div>
                            </section>
						</div>
						
                        <div class="form-action">
                            <a href="/" class="btn btn-primary mr-2">Save</a>
                            <a href="application_home.html" class="btn btn-link">Home</a>
                        </div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="btn-custom">
	    <a href="../general/deposition.html" class="flat-btn disabled">
			Preview <i class="fa fa-arrow-circle-o-right"></i>
		</a>
	</div>
</div>

<% content_for :js do %>
<script>
    $('.datepicker').datepicker();
	
    $(function () {
        $(".degree_unavailable").click(function () {
            if ($(this).is(":checked")) {
                $(".unavailable-container").show();
            } else {
                $(".unavailable-container").hide();
            }
        });
    });
</script>
<% end %>