<!-- tigp: preview  -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<div class="application-container">
		<div class="content-column">
			<div class="preview-wrapper">
				<h3 class="preview-title">Program Application</h3>
                <div class="form-group">
                    <label>What is your highest edcuation degree?</label>
                    <div class="output">Master</div>
                </div>
                <div class="form-group">
                    <label>Course category selection</label>
                    <div class="output">All-in-one course</div>
                </div>
				<div class="form-group">
                    <div class="form-row table-th-num">
                        <div class="col-3">Research Area</div>
                        <div class="col-3">Potential Advisor</div>
                        <div class="col-6">Program/ University Department</div>
                    </div>
                    <ol class="num-list">
                        <li>
                            <div class="form-row">
                                <div class="col-3">
									<div class="output">Chemistry</div>
                                </div>
                                <div class="col-3">
									<div class="output">Sheng-hong Chen</div>
                                </div>
                                <div class="col-6">
									<div class="output">Nano / NTHU Engineering and System Science</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-row">
                                <div class="col-3">
									<div class="output">Bio</div>
                                </div>
                                <div class="col-3">
									<div class="output">Pei-Lin Chen</div>
                                </div>
                                <div class="col-6">
									<div class="output">Nano / NTU Physics</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-row">
                                <div class="col-3">
									<div class="output">Physics</div>
                                </div>
                                <div class="col-3">
									<div class="output">Ying Chih Chang</div>
                                </div>
                                <div class="col-6">
									<div class="output">Nano / NTU Chemistry</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-row">
                                <div class="col-3">
									<div class="output">Materials</div>
                                </div>
                                <div class="col-3">
									<div class="output">Chia-Fu Chou</div>
                                </div>
                                <div class="col-6">
									<div class="output">Nano / NTHU Engineering and System Science</div>
                                </div>
                            </div>
                        </li>
                    </ol>
				</div>
			</div>
			
			<div class="preview-wrapper">
			    <h3 class="preview-title">Personal Information</h3>
                <div class="form-section">
				    <h4 class="section-title">Personal Information</h4>
					<div class="row">
					    <div class="col-6">
                            <div class="form-group">
                                <label>English name</label>
                                <div class="output">Scarlett Ingrid Johansson</div>
                            </div>
                            <div class="form-group">
                                <label>Chinese Name</label>
                                <div class="output">史嘉蕾喬韓森</div>
                            </div>
                            <div class="form-group">
                                <label>E-mail Address</label>
                                <div class="output">scarlettjohansson@gmail.com</div>
                            </div>
                            <div class="form-group">
                                <label>Citizenship</label>
                                <div class="output">United States of America</div>
                            </div>
						</div>
                        <div class="col-6">
                            <img src="../assets/fake/sj.jpg" class="avatar-pic avatar-recent" alt="Personal recent photo">
                        </div>
					</div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Taiwanese ID Number</label>
                                <div class="output">A123456789</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Taiwan Alien Resident Certificate (ARC)</label>
                                <div class="output">097123456780</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Passport Number</label>
                                <div class="output">533380006</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Date of Birth</label>
                                <div class="output">1984.11.22</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Gender</label>
                                <div class="output">Female</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Marital</label>
                                <div class="output">Married</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Telephone Number</label>
                        <div class="output">mobile 002-1-408-3213333</div>
                    </div>
				</div>
				<div class="form-section">
				    <h4 class="section-title">Permanent Postal Mailing Address</h4>
                    <div class="form-group">
                        <label>Address Line 1</label>
                        <div class="output">No. 75, Lane 12, Section 2, Academia Road, Nankang Distract, </div>
                    </div>
                    <div class="form-row">
                        <div class="col-2">
                            <div class="form-group">
								<label>Postal Code</label>
                                <div class="output">11529</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
								<label>City / Town</label>
                                <div class="output">New York City</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
								<label>State</label>
                                <div class="output">New York</div>
                            </div>
                        </div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Country</label>
                                <div class="output">United States of America</div>
                            </div>
                        </div>
                    </div>
				</div>
				<div class="form-section">
				    <h4 class="section-title">Current Postal Mailing Address</h4>
                    <div class="form-group">
                        <label>Address Line 1</label>
                        <div class="output">No. 75, Lane 12, Section 2, Academia Road, Nankang Distract, </div>
                    </div>
                    <div class="form-row">
                        <div class="col-2">
                            <div class="form-group">
								<label>Postal Code</label>
                                <div class="output">11529</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
								<label>City / Town</label>
                                <div class="output">New York City</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
								<label>State</label>
                                <div class="output">New York</div>
                            </div>
                        </div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Country</label>
                                <div class="output">United States of America</div>
                            </div>
                        </div>
                    </div>
				</div>
				<div class="form-section">
				    <h4 class="section-title">Emergency Contact Information</h4>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
								<label>Name</label>
                                <div class="output">Colin Jost</div>
                            </div>
                        </div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Relationship of individual</label>
                                <div class="output">Partner</div>
                            </div>
                        </div>
                    </div>
					<div class="form-group">
                        <label>Telephone Number</label>
                        <div class="output">mobile 002-1-408-3213333</div>
                    </div>
					<div class="form-group">
                        <label>Address</label>
                        <div class="output">The same with current postal mailling address above</div>
                    </div>
				</div>
				<div class="form-section">
				    <h4 class="section-title">National Defense Service Information</h4>
                    <div class="form-group">
                        <label>Are you currently serving National Defense Service?</label>
                        <div class="output">Yes</div>
						<div class="extend-con">
                            <div class="form-group">
								<label>Please upload a letter of agreement from your organization</label>
                                <div class="output">Dani_Box_Mini_manual.pdf</div>
                            </div>
							<div class="form-group">
								<label>The expected month for finishing the service</label>
                                <div class="output">2020.12.31</div>
                            </div>
						</div>
                    </div>
				</div>
				<div class="form-section">
				    <h4 class="section-title">Some Information</h4>
					<div class="form-group">
                        <label>Are you currently applying for other university?</label>
                        <div class="output">Yes</div>
						<div class="extend-con">
                            <div class="form-group">
								<label>Please provide the name of university you have applied</label>
                                <div class="output">Pennsylvania State University--University Park</div>
                            </div>
						</div>
                    </div>
					<div class="form-group">
                        <label>Have you ever applied for TIGP International Internship Program (IIP)?</label>
                        <div class="output">Yes, I got admission</div>
						<div class="extend-con">
                            <div class="form-group">
								<label>In year, In program</label>
                                <div class="output">2019, Social Networks and Human-Centered Computing</div>
                            </div>
						</div>
						<div class="extend-con">
                            <div class="form-group">
								<label>Enrolled Year, Enrolled program</label>
                                <div class="output">2020, Chemical Biology and Molecular Biophysics</div>
                            </div>
							<div class="form-group">
								<label>The reason why you reapply</label>
								<div class="output"><%= lorem_sentence %></div>
                            </div>
						</div>
                    </div>
				</div>
			</div>
			
			<div class="preview-wrapper">
			    <h3 class="preview-title">Education Background</h3>
				<div class="form-section">
				    <h4 class="section-title">Bachelor's degree-1</h4>
					<div class="row">
						<div class="col-6">
                            <div class="form-group">
                                <label>Name of University</label>
                                <div class="output">Columbia University in the City of New York</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Location</label>
                                <div class="output">Democratic Republic of the Congo</div>
                            </div>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
                            <div class="form-group">
                                <label>Date of Entrance and Completion</label>
                                <div class="output">2018.07.01 - 2020.06.30</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Major</label>
                                <div class="output"><%= lorem_sentence %></div>
                            </div>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
                            <div class="form-group">
                                <label>National University Ranking Number</label>
                                <div class="output">50</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>World University Ranking Number</label>
                                <div class="output">100</div>
                            </div>
						</div>
					</div>
                    <div class="form-group">
                        <label>Grade Point Average</label>
                        <div class="output">100</div>
                    </div>
					<div class="row">
						<div class="col-6">
                            <div class="form-group">
                                <label>Diploma (upload in PDF format)</label>
                                <div class="output">Dani_Box_Mini_manual.pdf</div>
								<div class="output">Currently unavailable, and the diploma will be issued from the University on 2020.12.31</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Transcript (Upload in PDF format)</label>
                                <div class="output">Dani_Box_Mini_manual.pdf</div>
                            </div>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
                            <div class="form-group">
                                <label>Syllabi of the Core Courses (Upload in PDF format)</label>
                                <div class="output">Dani_Box_Mini_manual.pdf</div>
                            </div>
							<div class="form-group">
                                <label>The Abstract of Your Degree Thesis (Upload in PDF format)</label>
                                <div class="output">Dani_Box_Mini_manual.pdf</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Research Topic</label>
                                <div class="output">
								    <ol>
									    <li><%= lorem_sentences(1) %></li>
										<li><%= lorem_sentences(2) %></li>
										<li><%= lorem_sentences(1) %></li>
									</ol>
								</div>
                            </div>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
                            <div class="form-group">
                                <label>The Name of Your Thesis Advisor</label>
                                <div class="output">Morgan Freeman</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Official Website of your Thesis Advisor</label>
                                <div class="output">https://www.facebook.com/MorganFreeman/</div>
                            </div>
						</div>
					</div>
				</div>
				<div class="form-section">
				    <h4 class="section-title">Master's degree-1</h4>
					<p>------------ Master 與 Doctor 同上，以下省略 ------------</p>
				</div>
				<p class="deep-orange-text">All of my statements about educational background is true and complete to the best of my knowledge. I acknowledge that hiding important information which can affect the equality in admissions will be considered as cheating.</p>
			</div>
			
			<div class="preview-wrapper">
			    <h3 class="preview-title">English Proficiency</h3>
                <div class="form-group">
                    <label>English Proficiency Test Name</label>
                    <div class="output">
					    <span class="d-inline-block mr-3">TOEFL</span>
						<span class="d-inline-block mr-3">IELTS Academic</span>
						<span class="d-inline-block mr-3">GEPT (High-Intermediate Level)</span>
						<span class="d-inline-block mr-3">TOEIC (Listening and Reading)</span>
						<span class="d-inline-block mr-3">GRE</span>
						<span class="d-inline-block mr-3">WAIVER</span>
					</div>
                </div>
				<div class="form-section">
				    <h4 class="section-title">TOEFL</h4>
                    <div class="form-group">
                        <label>Test Report (upload in PDF format)</label>
                        <div class="output">Dani_Box_Mini_manual.pdf</div>
                        <div class="output">Currently unavailable, and the diploma will be issued from the University on 2020.12.31</div>
                    </div>
					<div class="row">
						<div class="col-6">
							<div class="form-group">
                                <label>Type of Test</label>
                                <div class="output">Internet-based</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Date Taken or Expected</label>
                                <div class="output">2020.12.31</div>
                            </div>
						</div>
					</div>
					<div>
						<label class="font-weight-bold">Score</label>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="font-weight-normal mr-2">Speaking</label>
                                    <div class="output d-inline-block">100</div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="font-weight-normal mr-2">Writing</label>
                                    <div class="output d-inline-block">100</div>
                                </div>
                            </div>
							<div class="col-3">
                                <div class="form-group">
                                    <label class="font-weight-normal mr-2">Listening</label>
                                    <div class="output d-inline-block">100</div>
                                </div>
                            </div>
							<div class="col-3">
                                <div class="form-group">
                                    <label class="font-weight-normal mr-2">Reading</label>
                                    <div class="output d-inline-block">100</div>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="row">
						<div class="col-6">
							<div class="form-group">
                                <label>Total Score</label>
                                <div class="output">100</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Please confirm the test score has sent or will send to TIGP, Academia Sinica (code:7142) by ETS</label>
                                <div class="output">Yes, I did / will</div>
                            </div>
						</div>
					</div>
				</div>
				<div class="form-section">
				    <h4 class="section-title">IELTS Academic</h4>
                    <div class="form-group">
                        <label>Test Report (upload in PDF format)</label>
                        <div class="output">Dani_Box_Mini_manual.pdf</div>
                        <div class="output">Currently unavailable, and the diploma will be issued from the University on 2020.12.31</div>
                    </div>
					<div class="row">
						<div class="col-6">
							<div class="form-group">
                                <label>Type of Test</label>
                                <div class="output">Internet-based</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Date Taken or Expected</label>
                                <div class="output">2020.12.31</div>
                            </div>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<div class="form-group">
                                <label>Total Score</label>
                                <div class="output">100</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Please confirm the test score has sent or will send to TIGP, Academia Sinica (code:7142) by ETS</label>
                                <div class="output">Yes, I did / will</div>
                            </div>
						</div>
					</div>
				</div>
				<div class="form-section">
				    <h4 class="section-title">GEPT (High-Intermediate Level)</h4>
					<div class="row">
						<div class="col-6">
                            <div class="form-group">
                                <label>Test Report (upload in PDF format)</label>
                                <div class="output">Dani_Box_Mini_manual.pdf</div>
                                <div class="output">Currently unavailable, and the diploma will be issued from the University on 2020.12.31</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Date Taken or Expected</label>
                                <div class="output">2020.12.31</div>
                            </div>
						</div>
					</div>
					<div>
						<label class="font-weight-bold">Score</label>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="font-weight-normal mr-2">Speaking</label>
                                    <div class="output d-inline-block">100</div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="font-weight-normal mr-2">Writing</label>
                                    <div class="output d-inline-block">100</div>
                                </div>
                            </div>
							<div class="col-3">
                                <div class="form-group">
                                    <label class="font-weight-normal mr-2">Listening</label>
                                    <div class="output d-inline-block">100</div>
                                </div>
                            </div>
							<div class="col-3">
                                <div class="form-group">
                                    <label class="font-weight-normal mr-2">Reading</label>
                                    <div class="output d-inline-block">100</div>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="row">
						<div class="col-6">
							<div class="form-group">
                                <label>Total Score</label>
                                <div class="output">Pass</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Please confirm the test score has sent or will send to TIGP, Academia Sinica (code:7142) by ETS</label>
                                <div class="output">Yes, I did / will</div>
                            </div>
						</div>
					</div>
				</div>
				<div class="form-section">
				    <h4 class="section-title">TOEIC (Listening and Reading)</h4>
					<div class="row">
						<div class="col-6">
                            <div class="form-group">
                                <label>Test Report (upload in PDF format)</label>
                                <div class="output">Dani_Box_Mini_manual.pdf</div>
                                <div class="output">Currently unavailable, and the diploma will be issued from the University on 2020.12.31</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Date Taken or Expected</label>
                                <div class="output">2020.12.31</div>
                            </div>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
                            <div>
                                <label class="font-weight-bold">Score</label>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="font-weight-normal mr-2">Listening</label>
                                            <div class="output d-inline-block">100</div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="font-weight-normal mr-2">Reading</label>
                                            <div class="output d-inline-block">100</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
						</div>
						<div class="col-6">
							<div class="form-group">
                                <label>Total Score</label>
                                <div class="output">100</div>
                            </div>
						</div>
					</div>
                    <div class="form-group">
                        <label>Please confirm the test score has sent or will send to TIGP, Academia Sinica (code:7142) by ETS</label>
                        <div class="output">Yes, I did / will</div>
                    </div>
				</div>
				<div class="form-section">
				    <h4 class="section-title">GRE</h4>
					<div class="row">
						<div class="col-6">
                            <div class="form-group">
                                <label>Test Report (upload in PDF format)</label>
                                <div class="output">Dani_Box_Mini_manual.pdf</div>
                                <div class="output">Currently unavailable, and the diploma will be issued from the University on 2020.12.31</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Date Taken or Expected</label>
                                <div class="output">2020.12.31</div>
                            </div>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
                            <div>
                                <label class="font-weight-bold">Verbal</label>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="font-weight-normal mr-2">Score</label>
                                            <div class="output d-inline-block">100</div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="font-weight-normal mr-2">Percentile</label>
                                            <div class="output d-inline-block">100</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
						</div>
						<div class="col-6">
                            <div>
                                <label class="font-weight-bold">Quantitative</label>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="font-weight-normal mr-2">Score</label>
                                            <div class="output d-inline-block">100</div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="font-weight-normal mr-2">Percentile</label>
                                            <div class="output d-inline-block">100</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
                            <div>
                                <label class="font-weight-bold">Verbal</label>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="font-weight-normal mr-2">Score</label>
                                            <div class="output d-inline-block">100</div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="font-weight-normal mr-2">Percentile</label>
                                            <div class="output d-inline-block">100</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
                    <div class="form-group">
                        <label>Please confirm the test score has sent or will send to TIGP, Academia Sinica (code:7142) by ETS</label>
                        <div class="output">Yes, I did / will</div>
                    </div>
				</div>
				<div class="form-section">
				    <h4 class="section-title">WAIVER</h4>
                    <div class="form-group">
                        <label>Test Report (upload in PDF format)</label>
                        <div class="output">Dani_Box_Mini_manual.pdf</div>
                    </div>
				</div>
			</div>
			
			<div class="preview-wrapper">
			    <h3 class="preview-title">Uploading Documents</h3>
				<div class="form-section">
				    <h4 class="section-title">Common document</h4>
                    <div class="form-group">
                        <label>State of Purpose Upload (upload in PDF format)</label>
                        <div class="output">Dani_Box_Mini_manual.pdf</div>
                    </div>
				</div>
				<div class="form-section">
				    <h4 class="section-title">Chemical Biology and Molecular Biophysics</h4>
                    <div class="form-group">
                        <label>Self-Evaluation Upload (upload in PDF format)</label>
                        <div class="output">Dani_Box_Mini_manual.pdf</div>
                    </div>
					<div class="form-group">
                        <label><%= lorem_sentence %></label>
                        <div class="output">Dani_Box_Mini_manual.pdf</div>
                    </div>
				</div>
			</div>
			
			<div class="preview-wrapper">
			    <h3 class="preview-title">Academic Achievement</h3>
				<div class="form-section">
				    <h4 class="section-title">Publication-1</h4>
                    <div class="form-group">
                        <label>Topic</label>
                        <div class="output"><%= lorem_sentence %></div>
                    </div>
					<div class="row">
					    <div class="col-6">
                            <div class="form-group">
                                <label>Date</label>
                                <div class="output">2019.12.31</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Accepted by</label>
                                <div class="output">Random House</div>
                            </div>
						</div>
					</div>
					<div class="row">
					    <div class="col-6">
                            <div class="form-group">
                                <label>Upload Document</label>
                                <div class="output">Dani_Box_Mini_manual.pdf</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Published in an SCI/ SSCI journal?</label>
                                <div class="output">
									Yes, SSCI (Social Science Citation Index) journal. Impact Factor:
									<p><%= lorem_sentence %></p>
								</div>
                            </div>
						</div>
					</div>
				</div>
				<div class="form-section">
				    <h4 class="section-title">Research Thesis-1</h4>
                    <div class="form-group">
                        <label>Topic</label>
                        <div class="output"><%= lorem_sentence %></div>
                    </div>
					<div class="row">
					    <div class="col-6">
                            <div class="form-group">
                                <label>Date</label>
                                <div class="output">2019.12.31</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Advisor</label>
                                <div class="output">Samuel Leroy Jackson</div>
                            </div>
						</div>
					</div>
					<div class="row">
					    <div class="col-6">
                            <div class="form-group">
                                <label>Institution</label>
                                <div class="output">AVENGERS S.T.A.T.I.O.N</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Upload Document</label>
                                <div class="output">Dani_Box_Mini_manual.pdf</div>
                            </div>
						</div>
					</div>
				</div>
				<div class="form-section">
				    <h4 class="section-title">Award-1</h4>
                    <div class="form-group">
                        <label>Topic</label>
                        <div class="output"><%= lorem_sentence %></div>
                    </div>
					<div class="row">
					    <div class="col-6">
                            <div class="form-group">
                                <label>Date</label>
                                <div class="output">2019.12.31</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Issuted by</label>
                                <div class="output">Nobel priset</div>
                            </div>
						</div>
					</div>
                    <div class="form-group">
                        <label>Upload Document</label>
                        <div class="output">Dani_Box_Mini_manual.pdf</div>
                    </div>
				</div>
				<div class="form-section">
				    <h4 class="section-title">Patent-1</h4>
                    <div class="form-group">
                        <label>Topic</label>
                        <div class="output"><%= lorem_sentence %></div>
                    </div>
					<div class="row">
					    <div class="col-6">
                            <div class="form-group">
                                <label>Date</label>
                                <div class="output">2019.12.31</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Patent No.</label>
                                <div class="output">us d487 709 s</div>
                            </div>
						</div>
					</div>
                    <div class="form-group">
                        <label>Upload Document</label>
                        <div class="output">Dani_Box_Mini_manual.pdf</div>
                    </div>
				</div>
				<div class="form-section">
				    <h4 class="section-title">Other Evidence-1</h4>
                    <div class="form-group">
                        <label>Topic</label>
                        <div class="output"><%= lorem_sentence %></div>
                    </div>
					<div class="row">
					    <div class="col-6">
                            <div class="form-group">
                                <label>Date</label>
                                <div class="output">2019.12.31</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Upload Document</label>
                                <div class="output">Dani_Box_Mini_manual.pdf</div>
                            </div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="preview-wrapper">
			    <h3 class="preview-title">Work Experiences</h3>
				<div class="form-section">
				    <h4 class="section-title">Experience-1</h4>
					<div class="row">
					    <div class="col-6">
                            <div class="form-group">
                                <label>Employer</label>
                                <div class="output">Walt Disney</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Institute/ Company Name</label>
                                <div class="output">The Walt Disney Company</div>
                            </div>
						</div>
					</div>
					<div class="row">
					    <div class="col-6">
                            <div class="form-group">
                                <label>Position</label>
                                <div class="output">Burbank, California</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Employment Duration</label>
                                <div class="output">2010.06.30 - 2020.08.31</div>
                            </div>
						</div>
					</div>
					<div class="form-group">
                        <label>Description of Work Content</label>
                        <div class="output"><%= lorem_sentences(5) %></div>
                    </div>
				</div>
				<div class="form-section">
				    <h4 class="section-title">Experience-2</h4>
					<div class="row">
					    <div class="col-6">
                            <div class="form-group">
                                <label>Employer</label>
                                <div class="output">Walt Disney</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Institute/ Company Name</label>
                                <div class="output">The Walt Disney Company</div>
                            </div>
						</div>
					</div>
					<div class="row">
					    <div class="col-6">
                            <div class="form-group">
                                <label>Position</label>
                                <div class="output">Burbank, California</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>Employment Duration</label>
                                <div class="output">2010.06.30 - 2020.08.31</div>
                            </div>
						</div>
					</div>
					<div class="form-group">
                        <label>Description of Work Content</label>
                        <div class="output"><%= lorem_sentences(5) %></div>
                    </div>
				</div>
			</div>
			
			<div class="preview-wrapper">
			    <h3 class="preview-title">Recommendation Letters</h3>
				<ol>
				    <li>
					    <h5>William Bradley Pitt</h5>
						<p class="text-muted">Send 2020/02/28 18:20</p>
					</li>
					<li>
					    <h5>Kate Winslet</h5>
						<p class="text-muted">Send 2020/02/28 18:20</p>
					</li>
					<li>
					    <h5>Leonardo Wilhelm DiCaprio</h5>
						<p class="text-muted">Send 2020/02/28 18:20</p>
					</li>
					<li>
					    <h5>Ryan Rodney Reynolds</h5>
						<p class="text-muted">Send 2020/02/28 18:20</p>
					</li>
					<li>
					    <h5>Deadpool</h5>
						<p class="text-muted">Send 2020/02/28 18:20</p>
					</li>
				</ol>
			</div>
			
			<div class="preview-wrapper">
			    <h3 class="preview-title">Survey</h3>
                <div class="form-group">
                    <label>Please check multiple options if you heard about TIGP through various ways</label>
                    <div class="output">
                        <ol>
                            <li>(Internet) TIGP Website</li>
							<li>(Personal Networks) Friend/Colleague at my university</li>
							<li>(Personal Networks) Professor/Advisor at my university</li>
							<li>(Internet) E-mail Announcement from TIGP Office</li>
							<li>(Internet) Facebook</li>
							<li>(Internet) Journal Ad - FindAPhD</li>
							<li>(Internet) Scholarship Website(s) (scholarship-positions.com, leadlearners.org, etc.)</li>
							<li>(Other) Internship Program (IIP) at TIGP</li>
							<li>(Other) Embassy/Taipei Economic and Cultural Office</li>
							<li>(Other) TIGP Booth at Education Fair</li>
                        </ol>
					</div>
                </div>
			</div>
		</div>
	</div>
	<div class="btn-custom">
	    <a href="../general/deposition.html" class="flat-btn">
			Submit <i class="fa fa-arrow-circle-o-right"></i>
		</a>
	</div>
</div>















