<!-- oia-yzu: 姊妹校 - 提名作業  -->

<div class="container">
	<h4 class="block-title">2019 秋季班 交換生提名作業</h4>
	<p><i class="fa fa-calendar"></i> 提名作業期間 : 2019-05-01 ~ 2019-05-31</p>
	<div class="awall mb-5">
		<p><%= lorem_sentences(6) %></p>
		<p><%= lorem_sentences(2) %></p>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Status</th>
				<th></th>
				<th>Contract level</th>
				<th>Project name</th>
				<th>Signing date</th>
				<th class="text-center">Quota</th>
				<th class="text-center">Nominated</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><h6><span class="badge badge-pill badge-danger">undone</span></h6></td>
				<td><a href="nomination-list.html" class="btn btn-xs btn-primary">Nomination</a></td>
				<td>School</td>
				<td><%= lorem_words(6) %></td>
				<td>2019/01/02</td>
				<td class="text-center">10</td>
				<td class="text-center">5</td>
			</tr>
			<tr>
				<td><h6><span class="badge badge-pill badge-danger">未完成</span></h6></td>
				<td><a href="nomination-list.html" class="btn btn-xs btn-primary">提名學生</button></td>
				<td>Department</td>
				<td><%= lorem_words(6) %></td>
				<td>2019/01/02</td>
				<td class="text-center">10</td>
				<td class="text-center">5</td>
			</tr>
			<% 5.times do %>
			<tr>
				<td><h6><span class="badge badge-pill badge-success">done</span></h6></td>
				<td><a href="nomination-list.html" class="btn btn-xs btn-primary">提名學生</button></td>
				<td>College</td>
				<td><%= lorem_words(6) %></td>
				<td>2019/01/02</td>
				<td class="text-center">10</td>
				<td class="text-center">5</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>