<!-- oia-nkust: 姊妹校 - 首頁  -->

<div class="container">
	<h4 class="block-title">Announcement</h4>
	<ul class="wrap-list menu-item">
		<li>
			<p class="date">2019/10/22</p>
			<h5 class="title">說明</h5>
			<p class="summary">
			    請參考學位生頁面，所有表格、表單、列表等等都有範例，包括獨立的登入頁面，登入後 <strong class="red-text">進入系統</strong>、<strong class="red-text">修改聯絡資料</strong> 等連結請放在登入帳號的下拉選單中。
			</p>
		</li>
		<% 6.times do %>
		<li>
			<p class="date">2018/10/22</p>
			<h5 class="title"><%= lorem_sentence %></h5>
			<p class="summary">
				<%= lorem_paragraph %>...
				<a href="/" class="more" data-toggle="modal" data-target="#basicModal">more</a>
			</p>
		</li>
		<% end %>
	</ul>
</div>

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= lorem_sentence %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<p class="date">2018/10/22</p>
                <p><%= lorem_paragraph %></p>
				<p><%= lorem_paragraph %></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>