<!-- template: 精選心得 -->

<div class="container-lg">
	<div class="page-content" id="maincontent">
        <div class="section-title">
            <h4>精選心得</h4>
        </div>
        
        <ul class="nav nav-tabs" id="reportTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="host-tab" data-bs-toggle="tab" data-bs-target="#host-tab-pane" type="button" role="tab" aria-controls="host-tab-pane" aria-selected="true">計畫主持人</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="student-tab" data-bs-toggle="tab" data-bs-target="#student-tab-pane" type="button" role="tab" aria-controls="student-tab-pane" aria-selected="false">學生</button>
            </li>
        </ul>
        <div class="tab-content pt-5" id="reportTabContent">
            
            <div class="tab-pane fade show active" id="host-tab-pane" role="tabpanel" aria-labelledby="host-tab" tabindex="0">
                
                <div class="report-toolbar">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label class="col-form-label">年度</label>
                        </div>
                        <div class="col-auto">
                            <select class="form-select" aria-label="年度">
                                <option selected>全部</option>
                                <option value="1">112</option>
                                <option value="2">111</option>
                                <option value="3">110</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <label class="col-form-label">補助年度</label>
                        </div>
                        <div class="col-auto">
                            <select class="form-select" aria-label="補助年度">
                                <option selected>全部</option>
                                <option value="1">112</option>
                                <option value="2">111</option>
                                <option value="3">110</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" id="" placeholder="搜尋範圍：學校、姓名、研修國家">
                        <button type="button" class="btn btn-primary">查詢</button>
                    </div>
                </div>
                
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="text-nowrap">
                                <th>#</th>
                                <th>年度</th>
                                <th>補助年度</th>
                                <th>學海計畫</th>
                                <th>領域別</th>
                                <th>學校</th>
                                <th>姓名</th>
                                <th>研修國家</th>
                                <th class="text-center">內容</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% (1..20).map do |i| %>
                            <tr class="text-nowrap">
                                <td><%= i %></td>
                                <td>11<%= i %></td>
                                <td>10<%= i %></td>
                                <td>學海築夢</td>
                                <td>餐旅、運動休閒管理</td>
                                <td>中華大學學校財團法人中華大學</td>
                                <td><%= zh_lorem_name %></td>
                                <td>澳大利亞</td>
                                <td class="text-center"><a href="#" class="icon-pdf" title="PDF"><i class="far fa-file-pdf"></i><span class="sr-only">PDF</span></a></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                
                <nav aria-label="...">
                    <ul class="pagination justify-content-end align-items-center">
                        <li class="page-item me-3">符合條件有 115 筆</li>
                        <li class="page-item disabled">
                            <a class="page-link" title="上一頁">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item" aria-current="page">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" title="下一頁">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                
            </div>
            
            <div class="tab-pane fade" id="student-tab-pane" role="tabpanel" aria-labelledby="student-tab" tabindex="0">
            
                <div class="report-toolbar">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label class="col-form-label">年度</label>
                        </div>
                        <div class="col-auto">
                            <select class="form-select" aria-label="年度">
                                <option selected>全部</option>
                                <option value="1">112</option>
                                <option value="2">111</option>
                                <option value="3">110</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <label class="col-form-label">補助年度</label>
                        </div>
                        <div class="col-auto">
                            <select class="form-select" aria-label="補助年度">
                                <option selected>全部</option>
                                <option value="1">112</option>
                                <option value="2">111</option>
                                <option value="3">110</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" id="" placeholder="搜尋範圍：學校、姓名、研修國家">
                        <button type="button" class="btn btn-primary">查詢</button>
                    </div>
                </div>
                
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="text-nowrap">
                                <th>#</th>
                                <th>年度</th>
                                <th>補助年度</th>
                                <th>學海計畫</th>
                                <th>領域別</th>
                                <th>學校</th>
                                <th>姓名</th>
                                <th>研修國家</th>
                                <th class="text-center">內容</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% (1..20).map do |i| %>
                            <tr class="text-nowrap">
                                <td><%= i %></td>
                                <td>11<%= i %></td>
                                <td>10<%= i %></td>
                                <td>學海築夢</td>
                                <td>餐旅、運動休閒管理</td>
                                <td>中華大學學校財團法人中華大學</td>
                                <td><%= zh_lorem_name %></td>
                                <td>澳大利亞</td>
                                <td class="text-center">
                                    <a href="#" class="icon-pdf" title="PDF"><i class="far fa-file-pdf"></i><span class="sr-only">PDF</span></a>
                                    <a href="#" class="icon-pdf" title="PDF"><i class="far fa-file-pdf"></i><span class="sr-only">PDF</span></a>
                                    <a href="#" class="icon-youtube" title="YOUTUBE"><i class="fab fa-youtube"></i><span class="sr-only">YOUTUBE</span></a>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                
                <nav aria-label="...">
                    <ul class="pagination justify-content-end align-items-center">
                        <li class="page-item me-3">符合條件有 115 筆</li>
                        <li class="page-item disabled">
                            <a class="page-link" title="上一頁">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item" aria-current="page">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" title="下一頁">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            
            </div>
            
        </div>
	</div>
</div>



<% content_for :js do %>

<% end %>

