<!-- ntuoia: 客製化表格 (前後台) -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container">
	<div class="pages-row">
	    <%= render :partial => "/partials/accordian_nav" %>
		<main class="main">
		    <div class="main-inner">
                <article class="article">
					<div class="post-head">
						<h2 class="post-title">客製化表格</h2>
					</div>
                    <div class="post-single">
						<div id="dfree-body">
							<p>無論前後台，插入表格務必外包一層 div <code>.table-responsive</code> ，在行動裝置才能提供卷軸。組件請自行命名。</p>
							後台請引用 css
							<pre class="grey lighten-3 px-3 mb-5 line-numbers language-html">
.table {
	.th-main {
		background: $main_color;
		color: #fff;
	}
	.th-secondary {
		background: $secondary_color;
	}
	.th-third {
		background: #002169;
		color: #fff;
	}
	.th-fourth {
		background: #c2182d;
		color: #fff;
	}
}
							</pre>
							<h3>一般表格</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="th-main">
                                        <tr>
                                            <% 5.times do %>
                                            <th>Thead</th>
                                            <% end %>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% 3.times do %>
                                        <tr>
                                            <% 5.times do %>
                                            <td><%= lorem_words(5) %></td>
                                            <% end %>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
							
							<div class="table-responsive">
                                <table class="table">
                                    <thead class="th-secondary">
                                        <tr>
                                            <% 5.times do %>
                                            <th>Thead</th>
                                            <% end %>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% 3.times do %>
                                        <tr>
                                            <% 5.times do %>
                                            <td><%= lorem_words(5) %></td>
                                            <% end %>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
							
							<div class="table-responsive">
                                <table class="table">
                                    <thead class="th-third">
                                        <tr>
                                            <% 5.times do %>
                                            <th>Thead</th>
                                            <% end %>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% 3.times do %>
                                        <tr>
                                            <% 5.times do %>
                                            <td><%= lorem_words(5) %></td>
                                            <% end %>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
							
							<div class="table-responsive">
                                <table class="table">
                                    <thead class="th-fourth">
                                        <tr>
                                            <% 5.times do %>
                                            <th>Thead</th>
                                            <% end %>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% 3.times do %>
                                        <tr>
                                            <% 5.times do %>
                                            <td><%= lorem_words(5) %></td>
                                            <% end %>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
							
							<h3>條紋表格</h3>
							
							<div class="table-responsive">
                                <table class="table table-striped">
                                    <thead class="th-main">
                                        <tr>
                                            <% 5.times do %>
                                            <th>Thead</th>
                                            <% end %>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% 5.times do %>
                                        <tr>
                                            <% 5.times do %>
                                            <td><%= lorem_words(3) %></td>
                                            <% end %>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
							
							<div class="table-responsive">
                                <table class="table table-striped">
                                    <thead class="th-secondary">
                                        <tr>
                                            <% 5.times do %>
                                            <th>Thead</th>
                                            <% end %>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% 5.times do %>
                                        <tr>
                                            <% 5.times do %>
                                            <td><%= lorem_words(3) %></td>
                                            <% end %>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
							
							<div class="table-responsive">
                                <table class="table table-striped">
                                    <thead class="th-third">
                                        <tr>
                                            <% 5.times do %>
                                            <th>Thead</th>
                                            <% end %>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% 5.times do %>
                                        <tr>
                                            <% 5.times do %>
                                            <td><%= lorem_words(3) %></td>
                                            <% end %>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
							
							<div class="table-responsive">
                                <table class="table table-striped">
                                    <thead class="th-fourth">
                                        <tr>
                                            <% 5.times do %>
                                            <th>Thead</th>
                                            <% end %>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% 5.times do %>
                                        <tr>
                                            <% 5.times do %>
                                            <td><%= lorem_words(3) %></td>
                                            <% end %>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
						</div>
                    </div>
                </article>
			</div>
		</main>
    </div>
</div>

<% content_for :js do %>

<% end %>
































