<!-- ntuoia: 客製化表格 - Part2 (前台) -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container">
	<div class="pages-row">
	    <%= render :partial => "/partials/accordian_nav" %>
		<main class="main">
		    <div class="main-inner">
                <article class="article">
					<div class="post-head">
						<h2 class="post-title">客製化表格 Part2</h2>
					</div>
                    <div class="post-single">
						<div id="dfree-body">
							<h3>招聘格式範本</h3>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
											<th>徵人單位</th>
                                            <td><%= lorem_words(5) %></td>
                                        </tr>
										<tr>
											<th>職稱</th>
                                            <td><%= lorem_words(5) %></td>
                                        </tr>
										<tr>
											<th>名額</th>
                                            <td><%= lorem_words(5) %></td>
                                        </tr>
										<tr>
											<th>資格條件</th>
                                            <td><%= lorem_words(5) %></td>
                                        </tr>
										<tr>
											<th>工作項目</th>
                                            <td><%= lorem_words(5) %></td>
                                        </tr>
										<tr>
											<th>開始上班日期</th>
                                            <td><%= lorem_words(5) %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
							<h3>蜂巢表格</h3>
							<div class="table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
											<th>實習日期</th>
                                            <td><%= lorem_words(5) %></td>
                                        </tr>
										<tr>
											<th>報名期限</th>
                                            <td>
											    <table class="table text-center">
													<thead>
													    <tr>
														    <th>Program</th>
															<th>Application</th>
															<th>Deposit Deadline</th>
															<th>Fee Deadline</th>
														</tr>
													</thead>
													<tbody>
													    <tr>
														    <td>ACPs</td>
															<td>March 1</td>
															<td>March 1</td>
															<td>March 22</td>
														</tr>
													</tbody>
												</table>
											</td>
                                        </tr>
										<tr>
											<th>報名資格</th>
                                            <td><%= lorem_words(5) %></td>
                                        </tr>
										<tr>
											<th>名額</th>
                                            <td><%= lorem_words(5) %></td>
                                        </tr>
										<tr>
											<th>費用</th>
                                            <td>
											    <table class="table">
													<thead>
													    <tr>
														    <th>名稱</th>
															<th>金額</th>
															<th>幣別</th>
															<th>說明</th>
														</tr>
													</thead>
													<tbody>
													    <tr>
														    <th>臺大行政計畫費</th>
															<td>2,000</td>
															<td>新臺幣</td>
															<td>於辦理訪問學生/暑期生身份時至國際事務處時一併領取繳費單至出納組繳費</td>
														</tr>
														<tr>
														    <th>Application Fee</th>
															<td>200</td>
															<td>美金</td>
															<td>*獲姊妹校錄取後逕向姊妹校繳交*臺大生透過本處申請可享 Tuition Fee 與 Internship Program Fee 85 折優惠</td>
														</tr>
													</tbody>
												</table>
											</td>
                                        </tr>
										<tr>
											<th>課程說明</th>
                                            <td><%= lorem_words(5) %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
						</div>
                    </div>
                </article>
			</div>
		</main>
    </div>
</div>

<% content_for :js do %>

<% end %>
































