<!-- ntuoia: 本處成員 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container">
	<div class="pages-row">
	    <%= render :partial => "/partials/accordian_nav" %>
		<main class="main">
		    <div class="main-inner">
                <div class="title-wrap">
                    <h3 class="section-title">本處成員</h3>
                </div>
			</div>
			<div class="accordion md-accordion members-wrapper" id="accordionEx" role="tablist" aria-multiselectable="true">
				<div class="league-wrapper">
                    <section class="m-league">
                        <div class="members-group">
							<div class="member-card">
                                <div class="department" role="tab" id="mHeading1">
                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseM1" aria-expanded="true" aria-controls="collapseM1" class="d-link member_tabs">
                                        <div class="department-head">
                                            <h4>國際長</h4>
                                        </div>
                                        <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                    </a>
                                </div>
                                <div id="collapseM1" class="collapse" role="tabpanel" aria-labelledby="mHeading1" data-parent="#accordionEx">
                                    <div class="card-body">
                                        <div class="output-content">
                                            <div class="members-brief">
                                                <a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                                    <div class="photo">
                                                        <img src="http://placekitten.com/500/500">
                                                    </div>
                                                    <div class="info">
                                                        <h5 class="position">國際長 <i class="fa fa-info-circle"></i></h5>
                                                        <h5 class="name">
                                                            <span class="ch">袁孝維</span>
                                                            <span class="en">Prof. Hsiao-Wei Yuan</span>
                                                        </h5>
                                                        <ul class="menu-item contact-item">
                                                            <li>
                                                                <i class="fa fa-envelope-o"></i>
                                                                oia@ntu.edu.tw
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-phone"></i>
                                                                +886 (0)2-3366-2007
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
							</div>
							<div class="member-card">
                                <div class="department" role="tab" id="mHeading2">
                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseM2" aria-expanded="true" aria-controls="collapseM2" class="d-link member_tabs">
                                        <div class="department-head">
                                            <h4>副國際長</h4>
                                        </div>
                                        <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                    </a>
                                </div>
                                <div id="collapseM2" class="collapse" role="tabpanel" aria-labelledby="mHeading2" data-parent="#accordionEx">
                                    <div class="card-body">
                                        <div class="output-content">
                                            <div class="members-brief">
                                                <a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                                    <div class="photo">
                                                        <img src="http://placekitten.com/400/400">
                                                    </div>
                                                    <div class="info">
                                                        <h5 class="position">副國際長兼任加州班導師 <i class="fa fa-info-circle"></i></h5>
                                                        <h5 class="name">
                                                            <span class="ch">林璧鳳</span>
                                                            <span class="en">Prof. Bi-Fong Lin, Ph.D.</span>
                                                        </h5>
                                                        <ul class="menu-item contact-item">
                                                            <li>
                                                                <i class="fa fa-envelope-o"></i>
                                                                bifong@ntu.edu.tw
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-phone"></i>
                                                                +886 (0)2-3366-2007
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="members-brief">
                                                <a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                                    <div class="photo">
                                                        <img src="http://placekitten.com/640/640">
                                                    </div>
                                                    <div class="info">
                                                        <h5 class="position">副國際長 <i class="fa fa-info-circle"></i></h5>
                                                        <h5 class="name">
                                                            <span class="ch">林致廷</span>
                                                            <span class="en">Prof. Chih-Ting Lin</span>
                                                        </h5>
                                                        <ul class="menu-item contact-item">
                                                            <li>
                                                                <i class="fa fa-envelope-o"></i>
                                                                timlin@ntu.edu.tw
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-phone"></i>
                                                                +886 (0)2-3366-2007
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
							</div>
                        </div>
                    </section>
                    <section class="m-league">
                        <h5 class="group-title">國際長室</h5>
                        <div class="members-group">
							<div class="member-card">
                                <div class="department" role="tab" id="mHeading3">
                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseM3" aria-expanded="true" aria-controls="collapseM3" class="d-link member_tabs">
                                        <div class="department-head">
                                            <h4>綜合業務股</h4>
                                        </div>
                                        <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                    </a>
                                </div>
                                <div id="collapseM3" class="collapse" role="tabpanel" aria-labelledby="mHeading3" data-parent="#accordionEx">
                                    <div class="card-body">
                                        <div class="output-content">
                                        <% (1..5).each do |n| %>
                                        <div class="members-brief">
                                            <a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                                <div class="photo">
                                                    <img src="http://placekitten.com/600/600">
                                                </div>
                                                <div class="info">
                                                    <h5 class="position">組長兼秘書 <i class="fa fa-info-circle"></i></h5>
                                                    <h5 class="name">
                                                        <span class="ch">吳熙君</span>
                                                        <span class="en">Karen Wu</span>
                                                    </h5>
                                                    <ul class="menu-item contact-item">
                                                        <li>
                                                            <i class="fa fa-envelope-o"></i>
                                                            hcw0605@ntu.edu.tw
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-phone"></i>
                                                            +886 (0)2-3366-2007 #399
                                                        </li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </div>
                                        <% end %>
                                        </div>
                                    </div>
                                </div>
							</div>
							<div class="member-card">
                                <div class="department" role="tab" id="mHeading4">
                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseM4" aria-expanded="true" aria-controls="collapseM4" class="d-link member_tabs">
                                        <div class="department-head">
                                            <h4>研究分析股</h4>
                                        </div>
                                        <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                    </a>
                                </div>
                                <div id="collapseM4" class="collapse" role="tabpanel" aria-labelledby="mHeading4" data-parent="#accordionEx">
                                    <div class="card-body">
                                        <div class="output-content">
                                            <div class="members-brief">
                                                <a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                                    <div class="photo">
                                                        <img src="http://placekitten.com/300/300">
                                                    </div>
                                                    <div class="info">
                                                        <h5 class="position">股長 <i class="fa fa-info-circle"></i></h5>
                                                        <h5 class="name">
                                                            <span class="ch">陳瓊芬</span>
                                                            <span class="en">Josephine Chen</span>
                                                        </h5>
                                                        <ul class="menu-item contact-item">
                                                            <li>
                                                                <i class="fa fa-envelope-o"></i>
                                                                chiungfen@ntu.edu.tw
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-phone"></i>
                                                                +886 (0)2-3366-2007 #214
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
							</div>
                        </div>
                    </section>
					<section class="m-league">
                        <h5 class="group-title">國際學生組</h5>
                        <div class="members-group">
							<div class="member-card">
                                <div class="department" role="tab" id="mHeading5">
                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseM5" aria-expanded="true" aria-controls="collapseM5" class="d-link member_tabs">
                                        <div class="department-head">
                                            <h4>境外招生股</h4>
                                        </div>
                                        <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                    </a>
                                </div>
                                <div id="collapseM5" class="collapse" role="tabpanel" aria-labelledby="mHeading5" data-parent="#accordionEx">
                                    <div class="card-body">
                                        <div class="output-content">
                                            <% (1..4).each do |n| %>
                                            <div class="members-brief">
                                                <a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                                    <div class="photo">
                                                        <img src="http://placekitten.com/640/640">
                                                    </div>
                                                    <div class="info">
                                                        <h5 class="position">經理兼國際學生組總監 <i class="fa fa-info-circle"></i></h5>
                                                        <h5 class="name">
                                                            <span class="ch">郭芠</span>
                                                            <span class="en">Winni Kuo</span>
                                                        </h5>
                                                        <ul class="menu-item contact-item">
                                                            <li>
                                                                <i class="fa fa-envelope-o"></i>
                                                                winnikuo@ntu.edu.tw
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-phone"></i>
                                                                +886 (0)2-3366-2007 #204
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
							</div>
							
							<div class="member-card">
                                <div class="department" role="tab" id="mHeading6">
                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseM6" aria-expanded="true" aria-controls="collapseM6" class="d-link member_tabs">
                                        <div class="department-head">
                                            <h4>短期研修股</h4>
                                        </div>
                                        <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                    </a>
                                </div>
                                <div id="collapseM6" class="collapse" role="tabpanel" aria-labelledby="mHeading6" data-parent="#accordionEx">
                                    <div class="card-body">
                                        <div class="output-content">
                                            <% (1..6).each do |n| %>
                                            <div class="members-brief">
                                                <a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                                    <div class="photo">
                                                        <img src="http://placekitten.com/900/900">
                                                    </div>
                                                    <div class="info">
                                                        <h5 class="position">股長 <i class="fa fa-info-circle"></i></h5>
                                                        <h5 class="name">
                                                            <span class="ch">王湜吟</span>
                                                            <span class="en">Margaret Wang</span>
                                                        </h5>
                                                        <ul class="menu-item contact-item">
                                                            <li>
                                                                <i class="fa fa-envelope-o"></i>
                                                                winnikuo@ntu.edu.tw
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-phone"></i>
                                                                +886 (0)2-3366-2007 #204
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
							</div>
							
							<div class="member-card">
                                <div class="department" role="tab" id="mHeading7">
                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseM7" aria-expanded="true" aria-controls="collapseM7" class="d-link member_tabs">
                                        <div class="department-head">
                                            <h4>國際生入學股</h4>
                                        </div>
                                        <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                    </a>
                                </div>
                                <div id="collapseM7" class="collapse" role="tabpanel" aria-labelledby="mHeading7" data-parent="#accordionEx">
                                    <div class="card-body">
                                        <div class="output-content">
                                            <% (1..4).each do |n| %>
                                            <div class="members-brief">
                                                <a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                                    <div class="photo">
                                                        <img src="http://placekitten.com/800/800">
                                                    </div>
                                                    <div class="info">
                                                        <h5 class="position">國際學生組總監兼股長 <i class="fa fa-info-circle"></i></h5>
                                                        <h5 class="name">
                                                            <span class="ch">叢肇廷</span>
                                                            <span class="en">Andrew Tsung</span>
                                                        </h5>
                                                        <ul class="menu-item contact-item">
                                                            <li>
                                                                <i class="fa fa-envelope-o"></i>
                                                                winnikuo@ntu.edu.tw
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-phone"></i>
                                                                +886 (0)2-3366-2007 #204
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
							</div>
							
							<div class="member-card">
                                <div class="department" role="tab" id="mHeading8">
                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseM8" aria-expanded="true" aria-controls="collapseM8" class="d-link member_tabs">
                                        <div class="department-head">
                                            <h4>海外教育股</h4>
                                        </div>
                                        <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                    </a>
                                </div>
                                <div id="collapseM8" class="collapse" role="tabpanel" aria-labelledby="mHeading8" data-parent="#accordionEx">
                                    <div class="card-body">
                                        <div class="output-content">
                                            <% (1..6).each do |n| %>
                                            <div class="members-brief">
                                                <a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                                    <div class="photo">
                                                        <img src="http://placekitten.com/700/700">
                                                    </div>
                                                    <div class="info">
                                                        <h5 class="position">股長 <i class="fa fa-info-circle"></i></h5>
                                                        <h5 class="name">
                                                            <span class="ch">高繼吟</span>
                                                            <span class="en">Jean Kao</span>
                                                        </h5>
                                                        <ul class="menu-item contact-item">
                                                            <li>
                                                                <i class="fa fa-envelope-o"></i>
                                                                winnikuo@ntu.edu.tw
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-phone"></i>
                                                                +886 (0)2-3366-2007 #204
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
							</div>
							
							<div class="member-card">
                                <div class="department" role="tab" id="mHeading9">
                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseM9" aria-expanded="true" aria-controls="collapseM9" class="d-link member_tabs">
                                        <div class="department-head">
                                            <h4>國際生短期研修股</h4>
                                        </div>
                                        <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                    </a>
                                </div>
                                <div id="collapseM9" class="collapse" role="tabpanel" aria-labelledby="mHeading9" data-parent="#accordionEx">
                                    <div class="card-body">
                                        <div class="output-content">
                                            <% (1..6).each do |n| %>
                                            <div class="members-brief">
                                                <a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                                    <div class="photo">
                                                        <img src="http://placekitten.com/400/400">
                                                    </div>
                                                    <div class="info">
                                                        <h5 class="position">股長 <i class="fa fa-info-circle"></i></h5>
                                                        <h5 class="name">
                                                            <span class="ch">高繼吟</span>
                                                            <span class="en">Jean Kao</span>
                                                        </h5>
                                                        <ul class="menu-item contact-item">
                                                            <li>
                                                                <i class="fa fa-envelope-o"></i>
                                                                winnikuo@ntu.edu.tw
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-phone"></i>
                                                                +886 (0)2-3366-2007 #204
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
							</div>
							
							<div class="member-card">
                                <div class="department" role="tab" id="mHeading10">
                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseM10" aria-expanded="true" aria-controls="collapseM10" class="d-link member_tabs">
                                        <div class="department-head">
                                            <h4>堉璘獎學金專案辦公室</h4>
                                        </div>
                                        <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                    </a>
                                </div>
                                <div id="collapseM10" class="collapse" role="tabpanel" aria-labelledby="mHeading10" data-parent="#accordionEx">
                                    <div class="card-body">
                                        <div class="output-content">
                                            <% (1..3).each do |n| %>
                                            <div class="members-brief">
                                                <a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                                    <div class="photo">
                                                        <img src="http://placekitten.com/300/300">
                                                    </div>
                                                    <div class="info">
                                                        <h5 class="position">股長 <i class="fa fa-info-circle"></i></h5>
                                                        <h5 class="name">
                                                            <span class="ch">叢肇廷</span>
                                                            <span class="en">Andrew Tsung</span>
                                                        </h5>
                                                        <ul class="menu-item contact-item">
                                                            <li>
                                                                <i class="fa fa-envelope-o"></i>
                                                                winnikuo@ntu.edu.tw
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-phone"></i>
                                                                +886 (0)2-3366-2007 #204
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
							</div>
                        </div>
                    </section>
					<section class="m-league">
                        <h5 class="group-title">國際合作組</h5>
                        <div class="members-group">
							<div class="member-card">
                                <div class="department" role="tab" id="mHeading11">
                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseM11" aria-expanded="true" aria-controls="collapseM11" class="d-link member_tabs">
                                        <div class="department-head">
                                            <h4>交流計畫股</h4>
                                        </div>
                                        <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                    </a>
                                </div>
                                <div id="collapseM11" class="collapse" role="tabpanel" aria-labelledby="mHeading11" data-parent="#accordionEx">
                                    <div class="card-body">
                                    <div class="output-content">
                                        <% (1..3).each do |n| %>
                                        <div class="members-brief">
                                            <a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                                <div class="photo">
                                                    <img src="http://placekitten.com/600/600">
                                                </div>
                                                <div class="info">
                                                    <h5 class="position">國際合作組總監兼股長 <i class="fa fa-info-circle"></i></h5>
                                                    <h5 class="name">
                                                        <span class="ch">邱思璇</span>
                                                        <span class="en">Cher Chiu</span>
                                                    </h5>
                                                    <ul class="menu-item contact-item">
                                                        <li>
                                                            <i class="fa fa-envelope-o"></i>
                                                            winnikuo@ntu.edu.tw
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-phone"></i>
                                                            +886 (0)2-3366-2007 #204
                                                        </li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </div>
                                        <% end %>
                                    </div>
                                    </div>
                                </div>
							</div>
							
							<div class="member-card">
                                <div class="department" role="tab" id="mHeading12">
                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseM12" aria-expanded="true" aria-controls="collapseM12" class="d-link member_tabs">
                                        <div class="department-head">
                                            <h4>全球關係股</h4>
                                        </div>
                                        <p class="brief"><%= zh_lorem_sentences(3) %></p>
                                    </a>
                                </div>
                                <div id="collapseM12" class="collapse" role="tabpanel" aria-labelledby="mHeading12" data-parent="#accordionEx">
                                    <div class="card-body">
                                        <div class="output-content">
                                            <% (1..5).each do |n| %>
                                            <div class="members-brief">
                                                <a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                                    <div class="photo">
                                                        <img src="http://placekitten.com/500/500">
                                                    </div>
                                                    <div class="info">
                                                        <h5 class="position">股長 <i class="fa fa-info-circle"></i></h5>
                                                        <h5 class="name">
                                                            <span class="ch">黃子瑜</span>
                                                            <span class="en">Tzu-Yu Huang</span>
                                                        </h5>
                                                        <ul class="menu-item contact-item">
                                                            <li>
                                                                <i class="fa fa-envelope-o"></i>
                                                                winnikuo@ntu.edu.tw
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-phone"></i>
                                                                +886 (0)2-3366-2007 #204
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
							</div>
                        </div>
                    </section>
					<!--div class="allin">
					    <a href="#">全覽</a>
					</div-->
				</div>
				<!-- 成員照片只能是正方形，解析度建議至少 640*640 -->
			</div>
		</main>
    </div>
</div>



<% content_for :js do %>

<% end %>
































