<!-- admin-page: 派工單 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
	
    <div class="job-ticket-wrapper">
		<div class="ticket-item done">
		    <div class="item-hd">
				<a href="#" class="item-link">
				    <span class="h4">Debug</span>
					<span class="bookkeeping">簿記-2022-07-17.B1.debug1</span>
				</a>
			</div>
			<div class="item-bd">
				<div class="d-flex justify-content-between align-items-center">
					<div class="d-flex align-items-center">
                        <div class="avatar-wrap">
                            <div class="avatar">
                                <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                            </div>
                            <div class="ps-2">
                                <span>史佳麗</span>
                                <small class="d-block text-black-50">專案部經理</small>
                            </div>
                        </div>
                        <div class="course">
							<div class="period">
                                <span>2022/02/15 14:00</span>
                                <span>2022/02/17 14:00</span>
							</div>
							<span class="period-total">2D</span>
						</div>
					</div>
                    <div class="bd-end">
                        <a class="btn btn-rounded btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#adminChat">
                            <i class="far fa-comment"></i>
                        </a>
                    </div>
				</div>
			</div>
		</div>
		<div class="ticket-item">
		    <div class="item-hd">
				<a href="#" class="item-link">
				    <span class="h4">工作檢核</span>
					<span class="bookkeeping">簿記-2022-07-17.B1.check1</span>
				</a>
			</div>
			<div class="item-bd">
				<div class="d-flex justify-content-between align-items-center">
					<div class="d-flex align-items-center">
                        <div class="avatar-wrap">
                            <div class="avatar">
                                <img alt="Pic" src="https://i2.wp.com/short-biography.com/wp-content/uploads/blake-lively/Blake-Ellender-Brown.jpg">
                            </div>
                            <div class="ps-2">
                                <span>布蕾克</span>
                                <small class="d-block text-black-50">副理</small>
                            </div>
                        </div>
                        <div class="course">未開始</div>
					</div>
                    <div class="bd-end">
						<span class="badge rounded-pill text-bg-danger">3</span>
                        <a class="btn btn-rounded btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#adminChat">
                            <i class="far fa-comment"></i>
                        </a>
                    </div>
				</div>
			</div>
		</div>
    </div>
	
    <div class="col-block block-tabs">
        <ul class="nav nav-tabs" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="ex1-tab-1" data-bs-toggle="tab" href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1" aria-selected="true">Tab 1</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-2" data-bs-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2" aria-selected="false">Tab 2</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-3" data-bs-toggle="tab" href="#ex1-tabs-3" role="tab" aria-controls="ex1-tabs-3" aria-selected="false">Tab 3</a>
            </li>
        </ul>

        <div class="block-content tab-content" id="ex1-content">
            <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
				<p><%= lorem_sentence %></p>
                <p><%= lorem_sentences(5) %></p>
				<p><%= lorem_sentences(5) %></p>
            </div>
            <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                <%= lorem_sentences(5) %>
            </div>
            <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                <%= lorem_sentences(5) %>
            </div>
        </div>
    </div>
</main>

<% content_for :js do %>

<% end %>