<!-- NTU-OSA: 首頁  -->

<div class="container">
    <div class="sticky mistaken-ui">
        <a href="#" title="我要掛號" class="err">
			<!-- 有英文版圖片 registered-en.png  -->
            <img src="../assets/icons/registered.png" alt="我要掛號" title="我要掛號">
        </a>
    </div>
	
	<div id="carousel-ntu" class="carousel slide carousel-fade section-container" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-ntu" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-ntu" data-slide-to="1"></li>
			<li data-target="#carousel-ntu" data-slide-to="2"></li>
		</ol>
		<!-- 後台上稿請註明圖片尺寸寬高為 555px x 410px，非標準尺寸獎有可能導致圖片失真、跑版的情況發生  -->
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active">
				<div class="view">
					<img class="w-50" src="../assets/fake/01.jpg" alt="First slide" title="First slide">
                    <div class="carousel-caption">
						<h3><a href="/" title="轉知馬來西亞拉曼大學">轉知馬來西亞拉曼大學</a></h3>
                        <p>轉知馬來西亞拉曼大學(Universiti Tunku Abdul Rahman)於108年7月27日至7月28日辦理青年發展會議(International Youth Development Conference)，敬邀各國學生參與，有興趣者歡迎逕自報名聯繫..</p>
                    </div>
				</div>
			</div>

			<div class="carousel-item">
				<div class="view">
					<img class="d-block w-50" src="../assets/fake/02.jpg" alt="Second slide" title="Second slide">
                    <div class="carousel-caption">
						<h3>Item title no link</h3>
                        <p>Secondary text</p>
                    </div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="view">
					<img class="d-block w-50" src="../assets/fake/03.jpg" alt="Third slide" title="Third slide">
                    <div class="carousel-caption">
						<h3><a href="/" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                        <p>Donec in eleifend ante. Nunc rutrum sit amet dolor vitae auctor. Etiam diam ex, egestas eget rhoncus ut, commodo a lacus. Phasellus ante quam, sagittis vitae porttitor et, tempus non mauris. Sed a leo mollis, consequat sem maximus, scelerisque sem. Suspendisse porta sem sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu aliquam est. Vestibulum at est nec sem porta vulputate non eu libero. Nunc vulputate, sem at elementum bibendum, enim augue volutpat risus, eu interdum arcu velit cursus orci. Nullam lobortis, magna eu vulputate rhoncus, dolor tortor consequat lorem, vitae accumsan nibh quam quis dui. Nam sed malesuada nunc. </p>
                    </div>
				</div>
			</div>

		</div>
		<a class="carousel-control-prev" href="#carousel-ntu" role="button" data-slide="prev">
			<i class="fa fa-angle-left" aria-hidden="true"></i>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carousel-ntu" role="button" data-slide="next">
			<i class="fa fa-angle-right" aria-hidden="true"></i>
			<span class="sr-only">Next</span>
		</a>
	</div>
	
	<section class="announcement-container section-container">
		<div class="row">
			<div class="col-12 col-lg-6 col-xl-8">
                <div class="announcement-wrap">
                    <ul class="nav nav-tabs" id="gocfsTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link outpatient-tab active" id="outpatient-tab" data-toggle="tab" href="#outpatient" role="tab" aria-controls="outpatient" aria-selected="true" title="門診醫療">門診醫療</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link latest-tab" id="latest-tab" data-toggle="tab" href="#latest" role="tab" aria-controls="permits" aria-selected="false" title="最新消息">最新消息</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link guardian-tab" id="guardian-tab" data-toggle="tab" href="#guardian" role="tab" aria-controls="guardian" aria-selected="false" title="衛教訊息">衛教訊息</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="gocfsTabContent">
                        <div class="tab-pane fade show active" id="outpatient" role="tabpanel" aria-labelledby="outpatient-tab">
                            <ul class="announcement-list menu-item">
								<li class="announcement-item has-pin">
                                    <span class="date"><i class="fa fa-fire"></i>2019-08-27</span>
                                    <h5><a href="#" title="<%= lorem_sentence %>"><%= lorem_sentence %></a></h5>
                                </li>
								<li class="announcement-item has-pin">
                                    <span class="date"><i class="fa fa-fire"></i>2019-08-27</span>
                                    <h5><a href="#" title="<%= lorem_sentence %>"><%= lorem_sentence %></a></h5>
                                </li>
                                <% (1..3).map do |i| %>
                                <li class="announcement-item">
                                    <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
                                    <h5><a href="#" title="<%= lorem_sentence %>"><%= lorem_sentence %></a></h5>
                                </li>
                                <% end %>
                            </ul>
                            <div class="section-ft ft-more">
                                <a href="#" class="more" title="更多公告">MORE <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="latest" role="tabpanel" aria-labelledby="latest-tab">
                            <ul class="announcement-list menu-item">
                                <% (1..5).map do |i| %>
                                <li class="announcement-item">
                                    <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
                                    <h5><a href="#" title="<%= zh_lorem_sentence %>"><%= zh_lorem_sentence %></a></h5>
                                </li>
                                <% end %>
                            </ul>
                            <div class="section-ft ft-more">
                                <a href="#" class="more" title="更多公告">MORE <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="guardian" role="tabpanel" aria-labelledby="guardian-tab">
                            <ul class="announcement-list menu-item">
                                <% (1..5).map do |i| %>
                                <li class="announcement-item">
                                    <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
                                    <h5><a href="#" title="<%= lorem_sentence %>"><%= lorem_sentence %></a></h5>
                                </li>
                                <% end %>
                            </ul>
                            <div class="section-ft ft-more">
                                <a href="#" class="more" title="更多公告">MORE <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-12 col-lg-6 col-xl-4">
				<div class="links-wrap">
                    <div class="section-title">
                        <h3>更多連結</h3>
                    </div>
                    <ul class="links-list menu-item">
                        <li>
                            <a class="link-item" href="#" title="高教深耕補助"><span>高教深耕補助</span></a>
                        </li>
                        <li>
                            <a class="link-item" href="#" title="服務標準作業流程">服務標準作業流程</a>
                        </li>
                        <li>
                            <a class="link-item" href="#" title="表單下載">表單下載</a>
                        </li>
                        <li>
                            <a class="link-item" href="#" title="學校衛生委員會">學校衛生委員會</a>
                        </li>
                        <li>
                            <a class="link-item" href="#" title="法令規章">法令規章</a>
                        </li>
                        <li>
                            <a class="link-item" href="#" title="藥品查詢">藥品查詢</a>
                        </li>
                        <li>
                            <a class="link-item" href="#" title="城中保健服務">城中保健服務</a>
                        </li>
                        <li>
                            <a class="link-item" href="#" title="活動報名">活動報名</a>
                        </li>
                    </ul>
				</div>
			</div>
		</div>
	</section>
	
	<section class="bookmark-container section-container">
        <div class="section-title goose">
            <h3>快速連結</h3>
        </div>
		<ul class="bookmark-list menu-item">
		    <li>
			    <a href="#" title="門診時刻表">
				    <img alt="門診時刻表"  title="門診時刻表" src="../assets/icons/ab1.jpg">
				</a>
			</li>
			<li>
			    <a href="#" title="網路掛號">
				    <img alt="網路掛號"  title="網路掛號" src="../assets/icons/ab2.jpg">
				</a>
			</li>
			<li>
			    <a href="#" title="緊急救護宣導短片">
				    <img alt="緊急救護宣導短片"  title="緊急救護宣導短片" src="../assets/icons/ab3.jpg">
				</a>
			</li>
			<li>
			    <a href="#" title="臺大校園傳染病管制網">
				    <img alt="臺大校園傳染病管制網"  title="臺大校園傳染病管制網" src="../assets/icons/ab4.jpg">
				</a>
			</li>
			<li>
			    <a href="#" title="學士新生體檢說明">
				    <img alt="學士新生體檢說明"  title="學士新生體檢說明" src="../assets/icons/ab5.jpg">
				</a>
			</li>
			<li>
			    <a href="#" title="整合式E化健康促進系統">
				    <img alt="整合式E化健康促進系統"  title="整合式E化健康促進系統" src="../assets/icons/ab6.jpg">
				</a>
			</li>
			<li>
			    <a href="#" title="照片分享">
				    <img alt="照片分享"  title="照片分享" src="../assets/icons/ab7.jpg">
				</a>
			</li>
			<li>
			    <a href="#" title="國立臺灣大學傳染病防治研究及教育中心">
				    <img alt="國立臺灣大學傳染病防治研究及教育中心"  title="國立臺灣大學傳染病防治研究及教育中心" src="../assets/icons/ab8.jpg">
				</a>
			</li>
		</ul>
	</section>
	
	<section class="media-container section-container">
	    <div class="row">
		    <div class="col-12 col-xl-8 col-lg-6">
                <div class="propaganda-wrap">
                    <div class="section-title scarlet">
                        <h3>宣導專區</h3>
                    </div>
                    <div class="propaganda-bd">
                        <ul class="propaganda-list menu-item">
                            <li>
                                <a href="#" title="新南向人員健康服務中心">
                                    <img alt="新南向人員健康服務中心"  title="新南向人員健康服務中心" src="../assets/icons/st.png">
									<span>新南向人員健康服務中心</span>
                                </a>
                            </li>
							<li>
                                <a href="#" title="城中校區保健服務">
                                    <img alt="城中校區保健服務"  title="城中校區保健服務" src="../assets/icons/nurse.png">
									<span>城中校區保健服務</span>
                                </a>
                            </li>
							<li>
                                <a href="#" title="保健中心看診進度查詢">
                                    <img alt="保健中心看診進度查詢"  title="保健中心看診進度查詢" src="../assets/icons/calendar.png">
									<span>保健中心看診進度查詢</span>
                                </a>
                            </li>
							<li>
                                <a href="#" title="打敗登革熱">
                                    <img alt="打敗登革熱"  title="打敗登革熱" src="../assets/icons/mosquito1.png">
									<span>打敗登革熱</span>
                                </a>
                            </li>
							<li>
                                <a href="#" title="認識麻疹及德國麻疹">
                                    <img alt="認識麻疹及德國麻疹"  title="認識麻疹及德國麻疹" src="../assets/icons/rash.png">
									<span>認識麻疹及德國麻疹</span>
                                </a>
                            </li>
							<li>
                                <a href="#" title="QR Code專區">
                                    <img alt="QR Code專區"  title="QR Code專區" src="../assets/icons/qr.png">
									<span>QR Code專區</span>
                                </a>
                            </li>
						</ul>
                    </div>
                </div>
			</div>
			<div class="col-12 col-xl-4 col-lg-6">
				<div class="activity_reveal-wrapper">
                    <div class="section-title darkly">
                        <h3>近期活動</h3>
                    </div>
                    <div class="activity_reveal-inner">
						<ul class="activity_reveal-list menu-item">
						    <li class="activity_reveal-item">
							    <div class="period">
								    <span class="mon">Sep</span>
									<span class="date">02</span>
								</div>
								<div class="heading">
									<a href="#"><span><%= zh_lorem_sentence %></span></a>
								</div>
							</li>
							<li class="activity_reveal-item">
							    <div class="period">
								    <span class="mon">Aug</span>
									<span class="date">11</span>
								</div>
								<div class="heading">
									<a href="#"><span><%= zh_lorem_sentence %></span></a>
								</div>
							</li>
							<li class="activity_reveal-item">
							    <div class="period">
								    <span class="mon">Jul</span>
									<span class="date">28</span>
								</div>
								<div class="heading">
									<a href="#"><span><%= lorem_sentence %></span></a>
								</div>
							</li>
							<li class="activity_reveal-item">
							    <div class="period">
								    <span class="mon">Jun</span>
									<span class="date">31</span>
								</div>
								<div class="heading">
									<a href="#"><span><%= lorem_sentence %></span></a>
								</div>
							</li>
							<li class="activity_reveal-item">
							    <div class="period">
								    <span class="mon">Oct</span>
									<span class="date">25</span>
								</div>
								<div class="heading">
									<a href="#"><span><%= lorem_sentence %></span></a>
								</div>
							</li>
						</ul>
                    </div>
                    <div class="section-ft en-more">
                        <a href="#" class="more" title="更多活動">more <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
				</div>
			</div>
		</div>
	</section>
</div>

<% content_for :js do %>
<script>
$(function () {
	$(".err").sticky({
		topSpacing: 30,
		zIndex: 5,
		stopper: "footer.footer",
		minHeight: 480
	});
});
</script>
<% end %>





















































