<!-- template: 訊息公告 - 明細 -->

<!-- 支援 rwd 緣故，使用者使用 table 時，請在 table 外層自動加上 <div class="table-responsive text-nowrap"> 容器 -->

<div class="container-lg">
    <div class="page-content d-block">
        <article class="article">
            
            <div class="article-head">
                <h2>訊息公告文字標題川普要台灣繳保護費英追風者</h2>
                <span class="date"><i class="far fa-calendar-alt"></i> 2024-11-02</span>
            </div>
            
            <div  class="post-single">
                <h3>h3 title 標題加一般段落</h3>
                <p><%= zh_lorem_paragraphs(5) %></p>

                <h3>UL 列表</h3>
                <ul>
                    <li><%= zh_lorem_sentence %></li>
                    <li><%= zh_lorem_sentence %></li>
                    <li><%= zh_lorem_sentence %></li>
                </ul>

                <h3>OL 列表</h3>
                <ol>
                    <li><%= zh_lorem_sentence %></li>
                    <li><%= zh_lorem_sentence %></li>
                    <li><%= zh_lorem_sentence %></li>
                </ol>

                <p><%= zh_lorem_paragraphs(5) %></p>

                <h3>表格內容不斷行</h3>

                <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <% 5.times do %>
                                <th>測試用表格</th>
                                <% end %>
                            </tr>
                        </thead>
                        <tbody>
                            <% 5.times do %>
                            <tr>
                                <% 5.times do %>
                                <td><%= zh_lorem_sentence %></td>
                                <% end %>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                
                <p><%= zh_lorem_paragraphs(5) %></p>

            </div>
            
            <div  class="file-wrapper">
                <h5>檔案下載</h5>
                <a href="#" class="file-link">
                    <i class="fas fa-cloud-download-alt"></i>
                    Download_FileName.pdf
                </a>
                
                <a href="#" class="file-link">
                    <i class="fas fa-cloud-download-alt"></i>
                    <%= lorem_words(6) %>
                </a>
                
                <a href="#" class="file-link">
                    <i class="fas fa-cloud-download-alt"></i>
                    <%= lorem_words(5) %>
                </a>
            </div>
            
            <div class="form-action">
                <span class="backhome"><a href="#" class="btn btn-lg btn-link"><i class="fas fa-long-arrow-alt-left"></i> 公告列表</a></span>
            </div>
        </article>
    </div>
</div>



<% content_for :js do %>

<% end %>

