<!-- template: 找專家/找合作 - 教師資料明細 -->

<div class="container-lg">
	<div class="page-content profile-content">
        
	    <aside class="profile-aside">
            
            <!-- 後台請提供正方形圖片裁切工具，裁切後才能使用，並提醒使用者 {建議圖片解析度最少 512x512} -->
            <div class="img-wrap">
                <img class="avatar" src="../assets/fake/01.jpg">
            </div>
            <div class="name"><%= zh_lorem_name %> <span>教授</span></div>
            <div class="department">創意科技與產品設計系</div>
            <ul class="menu-item info-item">
                
                <!-- li 要給 title -->
                <li title="電話">
                    <span class="label"><i class="fas fa-phone-alt"></i></span>
                    <span class="output">0922156541</span>
                </li>
                <li title="傳真">
                    <span class="label"><i class="fas fa-fax"></i></span>
                    <span class="output">0221556686</span>
                </li>
                <li title="信箱">
                    <span class="label"><i class="far fa-envelope"></i></span>
                    <span class="output"><%= lorem_email %></span>
                </li>
            </ul>
            
            <ul class="nav nav-detail flex-column" id="profileTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">教師資料</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="patent-tab" data-bs-toggle="tab" data-bs-target="#patent-tab-pane" type="button" role="tab" aria-controls="patent-tab-pane" aria-selected="false">
                        <span>專利資料</span>
                        <span class="badge text-bg-secondary">4</span>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="paper-tab" data-bs-toggle="tab" data-bs-target="#paper-tab-pane" type="button" role="tab" aria-controls="paper-tab-pane" aria-selected="false">
                        <span>論文資料</span>
                        <span class="badge text-bg-secondary">5</span>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="plan-tab" data-bs-toggle="tab" data-bs-target="#plan-tab-pane" type="button" role="tab" aria-controls="plan-tab-pane" aria-selected="false">
                        <span>計畫資料</span>
                        <span class="badge text-bg-secondary">6</span>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="transfer-tab" data-bs-toggle="tab" data-bs-target="#transfer-tab-pane" type="button" role="tab" aria-controls="transfer-tab-pane" aria-selected="false">
                        <span>技轉資料</span>
                        <span class="badge text-bg-secondary">99</span>
                    </button>
                </li>
            </ul>
            
		</aside>
        
		<main class="main">
            <div class="partner-frame">
                <div class="tab-content tab-profile" id="profileTabContent">

                    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

                        <section class="section">
                            <div class="section-title">
                                <h4>研發領域</h4>
                            </div>
                            <ul class="menu-item item-inline-block">
                                <% (1..3).map do |i| %>
                                <li><%= zh_lorem_words(7) %></li>
                                <li><%= lorem_words(5) %></li>
                                <% end %>
                            </ul>
                        </section>

                        <section class="section">
                            <div class="section-title">
                                <h4>專長</h4>
                            </div>
                            <ul class="menu-item item-inline-block">
                                <% (1..3).map do |i| %>
                                <li><%= zh_lorem_words(7) %></li>
                                <li><%= lorem_words(5) %></li>
                                <% end %>
                            </ul>
                        </section>

                        <section class="section">
                            <div class="section-title">
                                <h4>經歷</h4>
                            </div>
                            <ul class="double-item profile-item">
                                <li>
                                    <%= lorem_words(5) %>
                                    <ol>
                                        <li>
                                            <%= lorem_words(4) %>
                                        </li>
                                        <li>
                                            <%= lorem_words(6) %>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <%= lorem_words(6) %>
                                    <ol>
                                        <li>
                                            <%= lorem_words(5) %>
                                        </li>
                                        <li>
                                            <%= lorem_words(3) %>
                                        </li>
                                    </ol>
                                </li>
                            </ul>
                        </section>

                        <section class="section">
                            <div class="section-title">
                                <h4>學歷</h4>
                            </div>
                            <ul class="profile-item">
                                <li>MBA, University of Wisconsin, USA</li>
                                <li>Bachelor in Industrial Economics, Tamkang University, Taiwan</li>
                            </ul>
                        </section>

                        <section class="section">
                            <div class="section-title">
                                <h4>證照</h4>
                            </div>
                            <ul class="profile-item">
                                <li>CSQE</li>
                                <li><%= lorem_words(6) %></li>
                                <li><%= lorem_words(6) %></li>
                            </ul>
                        </section>

                        <section class="section">
                            <div class="section-title">
                                <h4>書籍製作</h4>
                            </div>
                            <ul class="profile-item">
                                <% (1..3).map do |i| %>
                                <li><%= lorem_words(8) %></li>
                                <li><%= lorem_words(6) %></li>
                                <% end %>
                            </ul>
                        </section>

                    </div>

                    <div class="tab-pane fade" id="patent-tab-pane" role="tabpanel" aria-labelledby="patent-tab" tabindex="0">
                        
                        <section class="section mb-0">
                            <div class="section-title">
                                <h4>專利資料</h4>
                            </div>
                            <div class="table-responsive text-nowrap">
                                <table class="table align-middle">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>核准編號</th>
                                            <th>申請人</th>
                                            <th>專利名稱</th>
                                            <th>國別</th>
                                            <th>類型</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% (1..4).map do |i| %>
                                        <tr>
                                            <td><%= i %></td>
                                            <td>123456</td>
                                            <td><%= zh_lorem_name %></td>
                                            <td><%= lorem_sentence %></td>
                                            <td><%= lorem_sentence %></td>
                                            <td><%= lorem_sentence %></td>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table> 
                            </div>
                        </section>

                    </div>

                    <div class="tab-pane fade" id="paper-tab-pane" role="tabpanel" aria-labelledby="paper-tab" tabindex="0">
                        
                        <section class="section mb-0">
                            <div class="section-title">
                                <h4>專利資料</h4>
                            </div>
                            <div class="table-responsive text-nowrap">
                                <table class="table align-middle">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>論文名稱</th>
                                            <th class="text-center">檔案下載</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% (1..6).map do |i| %>
                                        <tr>
                                            <td><%= i %></td>
                                            <td><%= lorem_sentence %></td>
                                            <td class="text-center">
                                                <a href="#" class="btn btn-outline-primary btn-rounded"><i class="fas fa-cloud-download-alt"></i></a>
                                            </td>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table> 
                            </div>
                        </section>
                    
                    </div>

                    <div class="tab-pane fade" id="plan-tab-pane" role="tabpanel" aria-labelledby="plan-tab" tabindex="0">
                    
                        <section class="section mb-0">
                            <div class="section-title">
                                <h4>計畫資料</h4>
                            </div>
                            <div class="table-responsive text-nowrap">
                                <table class="table align-middle">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>簽訂年度</th>
                                            <th>計畫名稱</th>
                                            <th>合作單位</th>
                                            <th class="text-end">計畫金額</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% (1..15).map do |i| %>
                                        <tr>
                                            <td><%= i %></td>
                                            <td>2025</td>
                                            <td><%= lorem_sentence %></td>
                                            <td><%= lorem_sentence %></td>
                                            <td class="text-end">999999</td>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table> 
                            </div>
                        </section>
                    
                    </div>

                    <div class="tab-pane fade" id="transfer-tab-pane" role="tabpanel" aria-labelledby="transfer-tab" tabindex="0">
                    
                        <section class="section mb-0">
                            <div class="section-title">
                                <h4>技轉資料</h4>
                            </div>
                            <div class="table-responsive text-nowrap">
                                <table class="table align-middle">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>簽訂年度</th>
                                            <th>計畫名稱</th>
                                            <th>合作單位</th>
                                            <th class="text-end">計畫金額</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% (1..8).map do |i| %>
                                        <tr>
                                            <td><%= i %></td>
                                            <td>2025</td>
                                            <td><%= lorem_sentence %></td>
                                            <td><%= lorem_sentence %></td>
                                            <td class="text-end">999999</td>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table> 
                            </div>
                        </section>
                    
                    </div>

                </div>
            </div>
            
            <div class="form-action">
                <button type="button" class="btn btn-lg btn-primary">我要洽詢</button>
				<span class="backhome"><a href="#" class="btn btn-lg btn-link"><i class="fas fa-long-arrow-alt-left"></i> 回列表</a></span>
			</div>
		</main>
        
	</div>
</div>



<% content_for :js do %>

<% end %>

