<!-- NTU-Bike: 登入  -->

<div class="container">
    <div class="row">
		<div class="col-8">
            <main class="main-block">
                <h4 class="form-title mt-0">公告</h4>
                <p><%= zh_lorem_sentences 10 %></p>
                <p><%= zh_lorem_sentences 10 %></p>
                <p><%= lorem_sentences 10 %></p>
            </main>
        </div>
        <div class="col-4">
            <aside class="aside-block">
                <h5 class="form-title mt-0">申請報名</h5>
                <p><%= zh_lorem_sentences 5 %></p>
                <p><%= lorem_sentences 5 %></p>
                <button type="button" class="btn btn-primary">註冊帳號</button>
            </aside>
        </div>
	</div>
</div>