<input type="checkbox" class="sr-only sidebar-ctrler" id="v-nav-primary" checked>
<div class="vertical_nav sidebar sidebar--primary">
    <div class="sidebar__header media">
        <div class="logo-left">
            <h1 class="logo"><a class="logo__link" href="/"><img class="logo__img" src="../assets/etalk-white.svg" alt="back" title="admin" style="width: 48px;" /></a></h1>
        </div>
        <div class="media-body text-end">
            <label class="sidebar-ctrler--label" for="v-nav-primary"><i class="fa fa-ellipsis-v"></i></label>
        </div>
    </div>
    <div class="menu">
        <div class="sidebar-scroll">
            <ul class="nav">
                <li class="">
                    <a href="../dashborad/index.html">
						<i class="fa fa-tachometer-alt" title="Dashboard"></i>
                        <span class="menu-label">Dashboard</span>
                    </a>
                </li>
				<li class="has-sub">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fa fa-university" title="Jesda"></i>
                        <span class="menu-label">Jesda</span>
						<i class="fa fa-angle-left leftNavIcon"></i>
                    </a>
                    <ul>
						<li><a href="../login-jesda/login_jesda.html">Jesda Login</a></li>
						<li><a href="../login/role.html">選擇角色</a></li>
                        <li><a href="../ui/three-column-vertical_tabs.html">三欄垂直 tabs</a></li>
						<li><a href="../jesda/proposal_project.html">提案時數評估</a></li>
						<li><a href="../jesda/proposal_management.html">提案管理</a></li>
						<li><a href="../jesda/job-ticket.html">派工單</a></li>
                    </ul>
                </li>
                <li class="title">
                    <span class="menu-label">DOC</span>
                </li>
				<li class="has-sub">
                    <a class="nav-ctrler waves-effect" href="###">
						<i class="fas fa-bars" title="SideNav"></i>
                        <span class="menu-label">Sidenav</span>
						<i class="fa fa-angle-left leftNavIcon"></i>
                    </a>
                    <ul>
						<li><a href="../sidenav/style1.html">Style 1</a></li>
						<li><a href="../sidenav/style2.html">Style 2</a></li>
						<li><a href="../sidenav/style3.html">Style 3</a></li>
						<li><a href="../sidenav/style4.html">Style 4+5</a></li>
                    </ul>
                </li>
				<li class="has-sub">
                    <a class="nav-ctrler waves-effect" href="###">
						<i class="fas fa-sign-in-alt" title="Login Page"></i>
                        <span class="menu-label">Login</span>
						<i class="fa fa-angle-left leftNavIcon"></i>
                    </a>
                    <ul>
						<li><a href="../login/style.html">區塊風格</a></li>
						<li><a href="../login/s1.html">One (Clouds)</a></li>
						<li><a href="../login/s2.html">Two (Light)</a></li>
						<li><a href="../login/s3.html">Three (Torn)</a></li>
						<li><a href="../login/s4.html">four (Cube)</a></li>
						<li><a href="../login/s5.html">Five (Breathe)</a></li>
                        <li><a href="../login/s6.html">Six (Breathe)</a></li>
						<li><a href="../login/role2.html">選擇角色</a></li>
                        <li><a href="../login/Etalk.html">Etalk</a></li>
                    </ul>
                </li>
				<li class="has-sub">
                    <a class="nav-ctrler waves-effect" href="###">
						<i class="fab fa-vuejs" title="Vue"></i>
                        <span class="menu-label">Veu / Element</span>
						<i class="fa fa-angle-left leftNavIcon"></i>
						<p class="nav-brief">form / table</p>
                    </a>
                    <ul>
						<li><a href="../vue/forms.html">Forms</a></li>
                        <li><a href="../vue/column-form.html">Column Forms</a></li>
						<li><a href="../vue/table.html">Table</a></li>
						<li><a href="../vue/table-size.html">Table Size</a></li>
                    </ul>
                </li>
				<!--li class="">
                    <a target="_blank" class="waves-effect" href="https://mdbootstrap.com/docs/standard/getting-started/installation/">
                        <i class="fa fa-file-alt" title="MDB4"></i>
                        <span class="menu-label">MDB5 官方文件</span>
						<p class="nav-brief">這裡是說明文案</p>
                    </a>
                </li-->
                <li class="has-sub">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fab fa-uikit" title="UI Elements"></i>
                        <span class="menu-label">UI Elements</span>
                        <i class="fa fa-angle-left leftNavIcon"></i>
						<p class="nav-brief">基本元件</p>
                    </a>
                    <ul>
                        <li><a href="../ui/overview.html">Overview</a></li>
                        <li><a href="../ui/grid.html">Grid</a></li>
                        <li><a href="../ui/block.html">Block</a></li>
                        <li><a href="../ui/typography.html">Typography / Color</a></li>
                        <li><a href="../ui/button.html">Buttons</a></li>
                        <li><a href="../ui/alerts.html">Alerts / Wells</a></li>
                        <li><a href="../ui/tabs.html">Block tabs</a></li>
                        <li><a href="../ui/pagination.html">Pagination</a></li>
                        <li><a href="../ui/forms.html">Forms</a></li>
                        <li><a href="../ui/column-form.html">Column Forms</a></li>
						<li><a href="../ui/profile1.html">Profile 1</a></li>
						<li><a href="../ui/profile2.html">Profile 2</a></li>
						<li><a href="../ui/vertical_tabs.html">Vertical Tabs</a></li>
                        <li><a href="../ui/vertical_sticky_tabs.html">Sticky Vertical Tabs</a></li>
						<li><a href="../ui/404.html">404 error</a></li>
						<li><a href="../ui/treelist.html">Tree List</a></li>
						<li><a href="../ui/form-output.html">Form output</a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fas fa-puzzle-piece" title="Component"></i>
                        <span class="menu-label">Component</span>
                        <i class="fa fa-angle-left leftNavIcon"></i>
						<p class="nav-brief">客製版面及元件</p>
                    </a>
                    <ul>
                        <li><a href="../component/personal-info-layer.html">個人資訊 layer</a></li>
                        <li><a href="../component/component.html">客製化元件</a></li>
                    </ul>
                </li>
                <li class="has-sub ">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fa fa-table" title="Tables"></i>
                        <span class="menu-label">Tables</span>
                        <i class="fa fa-angle-left leftNavIcon"></i>
                    </a>
                    <ul>
                        <li><a href="../table/style.html">Style</a></li>
                        <li><a href="../table/datatables.html">DataTables</a></li>
						<li><a href="../table/adsearch.html">Adsearch V2</a></li>
						<li><a href="../table/adsearch_v3.html">Adsearch V3</a></li>
                    </ul>
                </li>
				<li class="has-sub">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fab fa-elementor" title="General"></i>
                        <span class="menu-label">General</span>
						<i class="fa fa-angle-left leftNavIcon"></i>
                    </a>
                    <ul>
                        <li><a href="../general/curriculum_review.html">審查作業</a></li>
                        <li><a href="../ui/timeline.html">Timeline</a></li>
						<li><a href="../ui/progress-timeline.html">作業進度表</a></li>
                        <li><a href="../general/counseling-process.html">NFU 輔導歷程</a></li>
                        <li><a href="../general/teacher-info.html">NFU 教師基本資料</a></li>
                        <li><a href="../general/services-form.html">NFU 深耕申請表</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="../demo/index.html">
                        <i class="fa fa-bars" title="Bars"></i>
                        <span class="menu-label">雙側欄</span>
                    </a>
                </li>
				<li class="has-sub">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fa fa-map" title="Site Map"></i>
                        <span class="menu-label">Site Map</span>
						<i class="fa fa-angle-left leftNavIcon"></i>
                    </a>
                    <ul>
                        <li><a href="../ui/sitemap.html">Sitemap</a></li>
                        <li><a href="../ui/slickmap.html">Slickmap</a></li>
                    </ul>
                </li>
				<li class="has-sub">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fa fa-edit" title="Frontend Editor"></i>
                        <span class="menu-label">Frontend Editor</span>
						<i class="fa fa-angle-left leftNavIcon"></i>
                    </a>
                    <ul>
                        <li><a href="../frontend-editor/formEditor_template.html">FrontendEditor</a></li>
                        <li><a href="../frontend-editor/webEditor.html">WebEditor</a></li>
                    </ul>
                </li>
                <!-- DATA from /jesda-prototype/adminui/view_helpers.rb -->
                <!-- <% sidebar_items.each_with_index do |item, index| %>
                    <% if item[:header] %>
                        <% if item[:divider] %>
                            <li class="divider"></li>
                        <% else %>
                            <li class="title">
                                <span class="menu-label"><%= item[:title] %></span>
                            </li>
                        <% end %>
                    <% else %>
                        <li class="<%= item[:active] ? '' : '' %>
                                   <%= item[:sub] ? 'has-sub' : '' %> ">
                            <a class="<%= item[:sub] ? 'nav-ctrler waves-effect' : '' %>" href="<%= item[:sub] ? '###' : item[:href] %>">
                                <i class="fa <%=item[:icon]%>" title="<%=item[:title]%>"></i>
                                <span class="menu-label"><%=item[:title]%></span>
                                <% if item[:sub] %>
                                    <i class="fa fa-angle-left leftNavIcon"></i>
                                <% end %>
                            </a>
                            <% if item[:sub] %>
                                <ul>
                                    <% item[:sub].each do |subitem| %>
                                    <li><a href="<%= subitem[:href] %>"><%= subitem[:title] %></a></li>
                                    <% end %>
                                </ul>
                            <% end %>
                        </li>
                    <% end %>
                <% end %>-->
            </ul>
        </div>
    </div>
</div>
