<!-- template: 來校: 學生 - application result -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <%= render :partial => "/partials/header-incoming" %>
        
        <div class="content">
            <div class="container-lg">
                <div class="page-content has-sticky">

                    <%= render :partial => "/partials/incoming-result-sidebar" %>
                    
                    <main class="main">
                        
                        <div class="mb-5">
                            <div class="page-title">
                                <h3>Application Result</h3>
                            </div>
                            
                            <!-- 未錄取請自行修改文案及 sidenav 選項 -->
                            <h5>Congratulation! you are accepted by NTU. Below is your entry information.</h5>
                            
                            <div class="form-group attending-form-group">
                                <label class="form-label">Will you be attending the program?</label>
                                <div class="mt-1">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="attendingYes" value="option1" checked>
                                        <label class="form-check-label" for="attendingYes">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="attendingNo" value="option2">
                                        <label class="form-check-label" for="attendingNo">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="attending-yes-wrapper">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">Acceptance Letter</label>
                                        <div>Admission Letter to be issued</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">Delivery date</label>
                                        <div>2024/06/30</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">Delivery company</label>
                                        <div>UPS</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">Tracking number</label>
                                        <div>987654-123456</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">NTU Student ID Number</label>
                                        <div>0810792</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">Level of study</label>
                                        <div>Master</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">Department</label>
                                        <div>Department of Business Administration</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">Duration</label>
                                        <div>One Semester</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">General Chinese Course</label>
                                        <div>Applied</div>
                                    </div>
                                </div>
                            </div>
                            
                            <section class="section">
                                <div class="section-title">
                                    <h4>Student Volunteer</h4>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="form-label">Name (Chinese)</label>
                                            <input class="form-control" type="text" value="史嘉蕾喬韓森" disabled readonly>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="form-label">Name (Engliah)</label>
                                            <input class="form-control" type="text" value="Scarlett Ingrid Johansson" disabled readonly>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="form-label">Phone Number</label>
                                            <input class="form-control" type="text" value="987654321" disabled readonly>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="form-label">Mobile Number</label>
                                            <input class="form-control" type="text" value="0123456789" disabled readonly>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="form-label">E-mail</label>
                                            <input class="form-control" type="text" value="justice-fischer@gmail.com" disabled readonly>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            
                            <section class="section">
                                <div class="section-title">
                                    <h4>Document download for admission-related certificates</h4>
                                </div>
                                <div class="upload-wrapper fluid-wrapper">
                                    <div class="upload-item">
                                        <h5 class="fw-medium">NTU Acceptance Letter in Chinese Version (Visa purpose)</h5>
                                        <p>Note: You need the official hard copy to apply for the visa, this digital formate is for your reference.</p>
                                        <div class="ft-action">
                                            <span>
                                                <button type="button" class="btn btn-outline-primary btn-rounded">Download</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="upload-wrapper fluid-wrapper">
                                    <div class="upload-item">
                                        <h5 class="fw-medium">Acceptance Letter in English Version (issued by College of Management, NTU)</h5>
                                        <div class="ft-action">
                                            <span>
                                                <button type="button" class="btn btn-outline-primary btn-rounded">Download</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        
                        <div class="attending-no-wrapper">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Please select the reason for not enrolling</option>
                                <option value="1"><%= lorem_sentence %></option>
                                <option value="2"><%= lorem_sentence %></option>
                                <option value="3"><%= lorem_sentence %></option>
                            </select>
                        </div>
                        
                        <div class="form-action">
                            <button type="submit" class="btn btn-lg btn-primary btn-submit">Confirm and Submit</button>
                            <div class="action-submitted">You already submitted this form. <span>2024/07/31 11:56</span></div>
                        </div>

                    </main>
                </div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>
    <!-- wrapper show/hide -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const attendingYes = document.getElementById('attendingYes');
            const attendingNo = document.getElementById('attendingNo');
            const attendingYesWrapper = document.querySelector('.attending-yes-wrapper');
            const attendingNoWrapper = document.querySelector('.attending-no-wrapper');

            // 函數用於切換 .attending-yes-wrapper 和 .attending-no-wrapper 的顯示/隱藏
            function toggleAttendingWrapper() {
                if (attendingYes.checked) {
                    attendingYesWrapper.style.display = 'block';
                    attendingNoWrapper.style.display = 'none';
                } else if (attendingNo.checked) {
                    attendingYesWrapper.style.display = 'none';
                    attendingNoWrapper.style.display = 'block';
                }
            }

            // 監聽 radio 按鈕的變化事件
            attendingYes.addEventListener('change', toggleAttendingWrapper);
            attendingNo.addEventListener('change', toggleAttendingWrapper);

            // 初始化設定
            toggleAttendingWrapper();
        });
    </script>
<% end %>
