<!-- template: 來校: 學生 - exchange practical documents -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <%= render :partial => "/partials/header-incoming" %>
        
        <div class="content">
            <div class="container-lg">
                <div class="page-content has-sticky">
                    
                    <%= render :partial => "/partials/incoming-app-sidebar" %>
                    
                    <main class="main">
                        <div class="page-title">
                            <h3>Exchange Practical Documents</h3>
                        </div>
                        
                        <div class="upload-wrapper fluid-wrapper">
                            <div class="upload-item">
                                <h5 class="fw-medium">Student Handbook</h5>
                                <p><%= lorem_sentence %></p>
                                <div class="ft-action">
                                    <span>
                                        <button type="button" class="btn btn-outline-primary btn-rounded">Download</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="upload-wrapper fluid-wrapper">
                            <div class="upload-item">
                                <h5 class="fw-medium">Important Dates1</h5>
                                <p><%= lorem_paragraph %></p>
                                <div class="ft-action">
                                    <span>
                                        <button type="button" class="btn btn-outline-primary btn-rounded">Download</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="upload-wrapper fluid-wrapper">
                            <div class="upload-item">
                                <h5 class="fw-medium">Important Dates2</h5>
                                <p><%= lorem_sentence %></p>
                                <div class="ft-action">
                                    <span>
                                        <button type="button" class="btn btn-outline-primary btn-rounded">Download</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-action">
                            <button type="submit" class="btn btn-lg btn-primary">View and Submit</button>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>

<% end %>
