<!-- template: 來校: 學生 - leaving ntu -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <%= render :partial => "/partials/header-incoming" %>
        
        <div class="content">
            <div class="container-lg">
                <div class="page-content has-sticky">

                    <%= render :partial => "/partials/incoming-result-sidebar" %>
                    
                    <main class="main">
                        
                        <div class="mb-5">
                            <div class="page-title">
                                <h3>Leaving NTU</h3>
                            </div>
                            
                            <div class="alert alert-warning" role="alert">
                                De-registration period is from 2022-12-01 00:00 ~ 2024-06-30 00:00 (Taiwan Time, GMT+8)
                            </div>
                            
                            <div class="mb-5">Please complete the de-registration process by  a week after the final exam (Fall in early June, Spring in Mid December ). It is strongly suggested that you plan ealier to complete the de-registration.</div>

                            <div class="de-registration-wrapper">
                                
                                <div class="wrap-item">
                                    <div class="item-start">
                                        <h4>1. <%= lorem_sentence %></h4>
                                        <a href="#" class="btn btn-outline-primary btn-rounded">Click here</a>
                                    </div>
                                    <div class="item-end">
                                        <div><span class="badge rounded-pill text-bg-success">Success</span></div>
                                    </div>
                                </div>
                                
                                <div class="wrap-item">
                                    <div class="item-start">
                                        <h4>2. <%= lorem_sentence %></h4>
                                        <a href="#" class="btn btn-outline-primary btn-rounded">Click here</a>
                                    </div>
                                    <div class="item-end">
                                        <div>Off-campus</div>
                                        <div>
                                            <span class="d-block text-secondary">submitted:</span>
                                            <span class="d-block">2024-11-14 09:24:35</span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="wrap-item">
                                    <div class="item-start">
                                        <h4>3. <%= lorem_sentence %></h4>
                                        <a href="#" class="btn btn-outline-secondary btn-rounded">Print</a>
                                    </div>
                                    <div class="item-end"></div>
                                </div>
                                
                                <div class="wrap-item">
                                    <div class="item-start">
                                        <h4>4. <%= lorem_sentence %></h4>
                                        <a href="#" class="btn btn-outline-info btn-rounded">View</a><a href="#" class="btn btn-outline-danger btn-rounded">Delete</a>
                                    </div>
                                    <div class="item-end">
                                        <div><span class="badge rounded-pill text-bg-success">Success</span></div>
                                        <div>
                                            <span class="d-block text-secondary">Uploaded at:</span>
                                            <span class="d-block">2024-11-14 09:24:35</span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="wrap-item">
                                    <div class="item-start">
                                        <h4>5. <%= lorem_sentence %></h4>
                                        <a href="#" class="btn btn-outline-primary btn-rounded">Click here</a>
                                    </div>
                                    <div class="item-end">
                                        <div><span class="badge rounded-pill text-bg-success">Success</span></div>
                                        <div>2024-11-14</div>
                                    </div>
                                </div>
                                
                                <div class="wrap-item">
                                    <div class="item-start">
                                        <h4>6. <%= lorem_sentence %></h4>
                                        <p><%= lorem_sentence %></p>
                                        <a href="#" class="btn btn-outline-primary btn-rounded">Please select the date here</a>
                                    </div>
                                    <div class="item-end">
                                        <div><span class="badge rounded-pill text-bg-success">Success</span></div>
                                        <div>2024-11-14</div>
                                    </div>
                                </div>
                                
                                <div class="wrap-item">
                                    <div class="item-start">
                                        <h4>7. <%= lorem_sentence %></h4>
                                        <p class="mb-4"><%= lorem_sentence %> <a class="btn btn-outline-primary btn-rounded ms-1" href="#">Download</a></p>
                                        <div class="d-flex">
                                            <div><input class="form-control" type="file" id=""></div>
                                            <div class="ms-2"><button type="button" class="btn btn-secondary">Upload</button></div>
                                        </div>
                                    </div>
                                    <div class="item-end">
                                        <div><span class="badge rounded-pill text-bg-success">Success</span></div>
                                        <div>2024-11-14</div>
                                    </div>
                                </div>
                                
                                <div class="wrap-item">
                                    <div class="item-start">
                                        <h4>8. <%= lorem_sentence %></h4>
                                        <p><%= lorem_sentence %></p>
                                    </div>
                                    <div class="item-end"></div>
                                </div>
                                
                            </div>
                            
                        </div>
                        
                        <div class="form-action">
                            <button type="submit" class="btn btn-lg btn-primary btn-submit">Confirm and Submit</button>
                            <div class="action-submitted">You already submitted this form. <span>2024/07/31 11:56</span></div>
                        </div>

                    </main>
                </div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>

<% end %>
