<!-- template: 來校: 學生 - other documents stamp application -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <%= render :partial => "/partials/header-incoming" %>
        
        <div class="content">
            <div class="container-lg">
                <div class="page-content has-sticky">

                    <%= render :partial => "/partials/incoming-result-sidebar" %>
                    
                    <main class="main">
                        
                        <div class="mb-5">
                            <div class="page-title">
                                <h3>Uploaded Documents</h3>
                            </div>

                            <div class="mb-5">
                                <a href="#" class="btn btn-lg btn-success btn-rounded px-4 fw-semibold">APPLY</a>
                            </div>
                            
                            <div class="table-responsive">
                                <table class="table align-middle">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Date</th>
                                            <th>Purpose</th>
                                            <th>Status</th>
                                            <th>Download</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-nowrap"><button type="button" class="btn btn-sm btn-danger">Del</button></td>
                                            <td class="text-nowrap">2024/08/15 11:00</td>
                                            <td><%= lorem_sentence %></td>
                                            <td>Processing</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-nowrap"></td>
                                            <td class="text-nowrap">2024/08/15 11:00</td>
                                            <td><%= lorem_sentence %></td>
                                            <td>Complete</td>
                                            <td><a href="#">Download</a></td>
                                        </tr>
                                        <tr>
                                            <td class="text-nowrap"></td>
                                            <td class="text-nowrap">2024/08/15 11:00</td>
                                            <td><%= lorem_sentence %></td>
                                            <td>Rejected</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-nowrap">
                                                <a href="#" class="btn btn-sm btn-primary">Upload</a>
                                                <button type="button" class="btn btn-sm btn-danger">Del</button>
                                            </td>
                                            <td class="text-nowrap"></td>
                                            <td></td>
                                            <td>Resubmitted</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </main>
                </div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>

<% end %>
