<!-- template: 來校: 學生 - pre arrival survey -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <%= render :partial => "/partials/header-incoming" %>
        
        <div class="content">
            <div class="container-lg">
                <div class="page-content has-sticky">

                    <%= render :partial => "/partials/incoming-result-sidebar" %>
                    
                    <main class="main">
                        
                        <div class="mb-5">
                            <div class="page-title">
                                <h3>Pre-arrival Survey</h3>
                            </div>
                            
                            <h5 class="mb-4"><i class="fas fa-info-circle"></i> <%= lorem_sentence %></h5>
                            
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="hangUpForm1" class="form-label"><%= lorem_words(6) %></label>
                                        <input type="date" class="form-control" id="hangUpForm1" name="trip-start1" value="2024-01-20" min="2024-01-01" max="2024-12-31">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="hangUpForm2" class="form-label"><%= lorem_words(6) %></label>
                                        <input class="form-control" type="time" id="hangUpForm2" name="appt">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="exampleTextarea1" class="form-label"><%= lorem_words(6) %></label>
                                        <textarea class="form-control" id="exampleTextarea1" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="exampleTextarea2" class="form-label"><%= lorem_words(6) %></label>
                                        <textarea class="form-control" id="exampleTextarea2" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label"><%= lorem_words(6) %></label>
                                        <div class="mt-1">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="radioAirport" id="inlineRadio1" value="option1" />
                                                <label class="form-check-label" for="inlineRadio1">TPE</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="radioAirport" id="inlineRadio2" value="option2" />
                                                <label class="form-check-label" for="inlineRadio2">TSA</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="radioAirport" id="inlineRadio3" value="option3" />
                                                <label class="form-check-label" for="inlineRadio3">KHH</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label"><%= lorem_words(6) %></label>
                                        <div class="mt-1">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="radioTerminal" id="inlineRadio4" value="option1" />
                                                <label class="form-check-label" for="inlineRadio4">1</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="radioTerminal" id="inlineRadio5" value="option2" />
                                                <label class="form-check-label" for="inlineRadio5">2</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="exampleInput10" class="form-label"><%= lorem_words(6) %></label>
                                        <input type="text" class="form-control" id="exampleInput10">
                                    </div>
                                </div>
                            </div>
                            
                            <hr class="hr-lg">
                            
                            <div class="mt-3">
                                <label class="form-label">Accommodation</label>
                                <div><%= lorem_sentence %></div>
                            </div

                        </div>
                        
                        <div class="form-action">
                            <button type="submit" class="btn btn-lg btn-dark btn-submit">Save</button>
                            <button type="submit" class="btn btn-lg btn-primary btn-submit">Confirm and Submit</button>
                            <div class="action-submitted">You already submitted this form. <span>2024/07/31 11:56</span></div>
                        </div>

                    </main>
                </div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>

<% end %>
