<!-- template: 來校: 學生 - view and submit -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <%= render :partial => "/partials/header-incoming" %>
        
        <div class="content">
            <div class="container-lg">
                <div class="page-content has-sticky">
                    
                    <%= render :partial => "/partials/incoming-app-sidebar" %>
                    
                    <main class="main">
                        <div>
                            <div class="pages-wrapper">
                                <div class="page-title">
                                    <h3>Application</h3>
                                </div>
                                <section class="section">
                                    <div class="section-title">
                                        <h4>Home University</h4>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">
                                            I am from <span class="required">*</span>
                                        </label>
                                        <div class="row">
                                            <div class="col-3">
                                                <input class="form-control" type="text" value="Asia" disabled readonly>
                                            </div>
                                            <div class="col-3">
                                                <input class="form-control" type="text" value="Japan" disabled readonly>
                                            </div>
                                            <div class="col-6">
                                                <input class="form-control" type="text" value="University of Tsukuba" disabled readonly>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section class="section">
                                    <div class="section-title">
                                        <h4>Personal Information</h4>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">
                                            Full Name in English
                                        </label>
                                        <div class="row">
                                            <div class="col-4">
                                                <input class="form-control" type="text" value="Scarlett" disabled readonly>
                                            </div>
                                            <div class="col-4">
                                                <input class="form-control" type="text" value="Ingrid" disabled readonly>
                                            </div>
                                            <div class="col-4">
                                                <input class="form-control" type="text" value="Johansson" disabled readonly>
                                            </div>
                                        </div>
                                        <div class="form-text">must be the same as shown on your passport</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInput01" class="form-label">
                                            Full Name in Chinese (if available)
                                        </label>
                                        <div class="w-50">
                                            <input id="exampleInput01" class="form-control" type="text" value="史嘉蕾喬韓森" disabled readonly>
                                        </div>
                                        <div class="form-text">This will be your official name and cannot be changed after successful submitting. If you do not have a Chinese name now, it is acceptable to leave it blank. If you have problem typing your name in the system, you may handwrite and send it to the exchange program coordinator.</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="hangUpForm1" class="form-label">Date of Birth</label>
                                                <input id="hangUpForm1" class="form-control" type="text" value="1984/11/22" disabled readonly>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="form-label">Gender</label>
                                                <div class="mt-1">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" disabled />
                                                        <label class="form-check-label" for="inlineRadio1">Male</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" checked disabled />
                                                        <label class="form-check-label" for="inlineRadio2">Female</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">
                                            Native Language(s)
                                        </label>
                                        <div class="row">
                                            <div class="col-6">
                                                <input class="form-control" type="text" value="English" disabled readonly>
                                            </div>
                                            <div class="col-6">
                                                <input class="form-control" type="text" value="Spanish" disabled readonly>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section class="section">
                                    <div class="section-title">
                                        <h4>Contact Information</h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="form-label">
                                                    Cell Phone Number
                                                </label>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <input class="form-control" type="text" value="002" disabled readonly>
                                                    </div>
                                                    <div class="col-8">
                                                        <input class="form-control" type="text" value="987654321" disabled readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="form-label">
                                                    Home Phone Number
                                                </label>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <input class="form-control" type="text" value="002" disabled readonly>
                                                    </div>
                                                    <div class="col-8">
                                                        <input class="form-control" type="text" value="987654321" disabled readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">
                                            Email
                                        </label>
                                        <input class="form-control" type="text" value="<%= lorem_email %>" disabled readonly>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">
                                            Mailing Address
                                        </label>
                                        <div class="row">
                                            <div class="col-12 mb-4">
                                                <input class="form-control" type="text" value="6801 Hollywood Blvd, Hollywood" disabled readonly>
                                            </div>
                                            <div class="col-4">
                                                <input class="form-control" type="text" value="California" disabled readonly>
                                            </div>
                                            <div class="col-6">
                                                <input class="form-control" type="text" value="United States" disabled readonly>
                                            </div>
                                            <div class="col-2">
                                                <input class="form-control" type="text" value=" 90028" disabled readonly>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section class="section">
                                    <div class="section-title">
                                        <h4>Emergency Contact</h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="exampleInput11" class="form-label">
                                                    Full Name
                                                </label>
                                                <input class="form-control" type="text" value="Colin Kelly Jost" disabled readonly>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="exampleInput12" class="form-label">
                                                    Relation with Applicant
                                                </label>
                                                <input class="form-control" type="text" value="Husband" disabled readonly>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="form-label">
                                                    Cell Phone Number
                                                </label>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <input class="form-control" type="text" value="002" disabled readonly>
                                                    </div>
                                                    <div class="col-8">
                                                        <input class="form-control" type="text" value="987654321" disabled readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="form-label">
                                                    Home Phone Number
                                                </label>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <input class="form-control" type="text" value="002" disabled readonly>
                                                    </div>
                                                    <div class="col-8">
                                                        <input class="form-control" type="text" value="987654321" disabled readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInput13" class="form-label">
                                            Email
                                        </label>
                                        <input id="exampleInput13" class="form-control" type="email" value="<%= lorem_email %>" disabled readonly>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">
                                            Mailing Address
                                        </label>
                                        <div class="row">
                                            <div class="col-12 mb-4">
                                                <input class="form-control" type="text" value="6801 Hollywood Blvd, Hollywood" disabled readonly>
                                            </div>
                                            <div class="col-4">
                                                <input class="form-control" type="text" value="California" disabled readonly>
                                            </div>
                                            <div class="col-6">
                                                <input class="form-control" type="text" value="United States" disabled readonly>
                                            </div>
                                            <div class="col-2">
                                                <input class="form-control" type="text" value=" 90028" disabled readonly>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>

                            <div class="pages-wrapper">
                                <div class="page-title">
                                    <h3>Nationality</h3>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="form-label">Nationality</label>
                                            <input class="form-control" type="text" value="United States" disabled readonly>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="exampleInput21" class="form-label">Passport number</label>
                                            <input class="form-control" type="text" value="000000000-999999999" disabled readonly>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label class="form-label">Do you have a Taiwan passport?</label>
                                        <div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked disabled>
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Yes，The Taiwanese passport number：
                                                </label>
                                                <div class="w-50 mt-1"><input class="form-control" type="text" value="000000000-999999999" disabled readonly></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pages-wrapper">
                                <div class="page-title">
                                    <h3>Exchange Information</h3>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="form-label">Exchange duration</label>
                                            <div>OneYear</div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="form-label">Level of study</label>
                                            <div>Master</div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="form-label">Department (Institute)</label>
                                            <div><%= lorem_sentence %></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pages-wrapper">
                                <div class="page-title">
                                    <h3>Chinese Language Proficiency</h3>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Do you plan to enroll in General Chinese Courses at NTU?</label>
                                    <div class="mt-1">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="coursesYes" value="option1" checked readonly>
                                            <label class="form-check-label" for="coursesYes">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="coursesNo" value="option2" disabled>
                                            <label class="form-check-label" for="coursesNo">No</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="chinese-courses-wrapper">
                                    <div class="form-group">
                                        <label class="form-label">a. Is any part of your ethnic background Chinese?</label>
                                        <div class="mt-1">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="backgroundYes" value="option1" checked readonly>
                                                <label class="form-check-label" for="backgroundYes">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="backgroundNo" value="option2" disabled>
                                                <label class="form-check-label" for="backgroundNo">No</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">b. Have you ever studied Chinese in school?</label>
                                        <div class="mt-1">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="studiedYes" value="option1" disabled>
                                                <label class="form-check-label" for="studiedYes">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="studiedNo" value="option2" checked readonly>
                                                <label class="form-check-label" for="studiedNo">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pages-wrapper">
                                <div class="page-title">
                                    <h3>Accommodation</h3>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Do you wish to apply for the on-campus dormitory?</label>
                                    <div class="mt-1">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="dormitoryYes" value="option1" checked readonly>
                                            <label class="form-check-label" for="dormitoryYes" >Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="dormitoryNo" value="option2" disabled>
                                            <label class="form-check-label" for="dormitoryNo">No</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="dormitory-yes-wrapper">
                                    <div>
                                        <label class="form-label">Please choose your order of preference on the following options:</label>
                                        <div class="form-group">
                                            <label class="form-label fw-normal">1st Choice</label>
                                            <input class="form-control" type="text" value="<%= lorem_sentence %>" disabled readonly>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label fw-normal">2nd Choice</label>
                                            <input class="form-control" type="text" value="<%= lorem_sentence %>" disabled readonly>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label fw-normal">3rd Choice</label>
                                            <input class="form-control" type="text" value="<%= lorem_sentence %>" disabled readonly>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label fw-normal">4th Choice</label>
                                            <input class="form-control" type="text" value="<%= lorem_sentence %>" disabled readonly>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label fw-normal">5th Choice</label>
                                            <input class="form-control" type="text" value="<%= lorem_sentence %>" disabled readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pages-wrapper">
                                <div class="page-title">
                                    <h3>Required documents</h3>
                                </div>
                                <h5 class="fw-medium">Passport size photo in digital format</h5>
                                <div class="avatar-wrapper">
                                    <div class="inner">
                                        <div class="avatar">
                                            <img class="profile-pic" src="../../assets/fake/s.jpg" />
                                        </div>
                                    </div>
                                </div>

                                <div class="upload-wrapper fluid-wrapper">
                                    <div class="upload-item">
                                        <h5 class="fw-medium">Official Transcript of Academic Records</h5>
                                        <input class="form-control" type="text" value="file_name.pdf" disabled readonly>
                                    </div>
                                    <div class="upload-item">
                                        <h5 class="fw-medium">Curriculum Vitae</h5>
                                        <p>English version,PDFfile only, other  formats are not accepted</p>
                                        <input class="form-control" type="text" value="file_name.pdf" disabled readonly>
                                    </div>
                                    <div class="upload-item">
                                        <h5 class="fw-medium">Passport</h5>
                                        <ol>
                                            <li>Upload thepage Showing Name and Date of Birth.</li>
                                            <li>Make sure your passport is valid for at least 6 months after entering Taiwan.</li>
                                        </ol>
                                        <input class="form-control" type="text" value="file_name.pdf" disabled readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-action">
                            <button type="submit" class="btn btn-lg btn-primary">Confirm and Submit</button>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>

<% end %>
