<!-- NFU-TE: Step1 - 後臺用  -->

<div class="container">
	<!--div class="step-bar">
		<ul>
			<li class="active">
				<span>
					<span class="step">1</span>
					<h4>填寫各項評鑑項目</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">2</span>
					<h4>產生合併檔案</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">3</span>
					<h4>預覽評鑑檔案</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">4</span>
					<h4>完成並送出評鑑</h4>
				</span>
			</li>
		</ul>
	</div-->
	<div class="person-info">
		<span>員工編號</span><span>0001</span>
		<span>姓名</span><span>陳聰明</span>
		<span>級別</span><span>教授</span>
		<span>狀態</span><span>已送出</span>
		<span>送出/收件時間</span><span>2018/12/01 15:00</span>
		<span>填寫方式</span><span>線上</span>
	</div>
	<div class="review-wrap">
		<h5>學院審查結果</h5>
		<div class="mb-3">
			<div class="form-check form-check-inline">
				<input type="radio" class="form-check-input" id="reviewInline1" name="inlineMaterialRadiosExample">
				<label class="form-check-label" for="reviewInline1">未處理</label>
			</div>

			<div class="form-check form-check-inline">
				<input type="radio" class="form-check-input" id="reviewInline2" name="inlineMaterialRadiosExample">
				<label class="form-check-label" for="reviewInline2">通過，送校評鑑</label>
			</div>

			<div class="form-check form-check-inline">
				<input type="radio" class="form-check-input" id="reviewInline3" name="inlineMaterialRadiosExample">
				<label class="form-check-label" for="reviewInline3">需補件，退系所</label>
			</div>

			<div class="form-check form-check-inline">
				<input type="radio" class="form-check-input" id="reviewInline4" name="inlineMaterialRadiosExample">
				<label class="form-check-label" for="reviewInline4">不通過</label>
			</div>
		</div>
		<div class="form-group">
			<textarea class="form-control" id="exampleFormControlTextarea2" rows="3" placeholder="補件說明"></textarea>
		</div>
	</div>
	
	<div class="review-wrap has-bg">
	    <div class="row">
		    <div class="col-6">
			    <h5>系所審查結果</h5>
				<div class="mb-3">
					<div class="form-check form-check-inline">
						<input type="radio" class="form-check-input" id="reviewInline1" name="inlineMaterialRadiosExample">
						<label class="form-check-label" for="reviewInline1">未處理</label>
					</div>

					<div class="form-check form-check-inline">
						<input type="radio" class="form-check-input" id="reviewInline2" name="inlineMaterialRadiosExample">
						<label class="form-check-label" for="reviewInline2">通過，送學院審查</label>
					</div>

					<div class="form-check form-check-inline">
						<input type="radio" class="form-check-input" id="reviewInline3" name="inlineMaterialRadiosExample">
						<label class="form-check-label" for="reviewInline3">不通過</label>
					</div>
					
					<div class="form-check form-check-inline">
						<input type="radio" class="form-check-input" id="reviewInline4" name="inlineMaterialRadiosExample">
						<label class="form-check-label" for="reviewInline4">需補件</label>
					</div>
				</div>
				<div class="form-group">
					<textarea class="form-control" id="exampleFormControlTextarea2" rows="3" placeholder="補件說明"></textarea>
				</div>
			</div>
			<div class="col-6">
			    <h5>學院審查結果</h5>
				<div class="mb-3">
					<div class="form-check form-check-inline">
						<input type="radio" class="form-check-input" id="reviewInline1" name="inlineMaterialRadiosExample">
						<label class="form-check-label" for="reviewInline1">未處理</label>
					</div>

					<div class="form-check form-check-inline">
						<input type="radio" class="form-check-input" id="reviewInline2" name="inlineMaterialRadiosExample">
						<label class="form-check-label" for="reviewInline2">通過</label>
					</div>

					<div class="form-check form-check-inline">
						<input type="radio" class="form-check-input" id="reviewInline3" name="inlineMaterialRadiosExample">
						<label class="form-check-label" for="reviewInline3">需補件，退系所</label>
					</div>
					
					<div class="form-check form-check-inline">
						<input type="radio" class="form-check-input" id="reviewInline4" name="inlineMaterialRadiosExample">
						<label class="form-check-label" for="reviewInline4">需補件</label>
					</div>
				</div>
				<div class="form-group">
					<textarea class="form-control" id="exampleFormControlTextarea2" rows="3" placeholder="補件說明"></textarea>
				</div>
			</div>
		</div>
	</div>
	
	<div class="mb-5">
		<h5>教師評鑑分數</h5>
		<table class="table percentage-table">
			<thead>
				<tr>
					<th>選擇類型</th>
					<th>一、教學</th>
					<th>二、研究</th>
					<th>三、服務/一般服務</th>
					<th>四、產學服務</th>
					<th>總分</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="materialUnchecked1" name="materialExampleRadios">
							<label class="form-check-label" for="materialUnchecked1">教學型</label>
						</div>
					</td>
					<td>
						<div class="form-inline">
							<span class="percentage">60%*</span>
							<input type="text" id="" class="form-control form-control-sm">
							<span class="equal">=</span>
							<input type="text" id="" class="form-control form-control-sm">
						</div>
					</td>
					<td>
						<div class="form-inline">
							<span class="percentage">30%*</span>
							<input type="text" id="" class="form-control form-control-sm">
							<span class="equal">=</span>
							<input type="text" id="" class="form-control form-control-sm">
						</div>
					</td>
					<td>
						<div class="form-inline">
							<span class="percentage">10%*</span>
							<input type="text" id="" class="form-control form-control-sm">
							<span class="equal">=</span>
							<input type="text" id="" class="form-control form-control-sm">
						</div>
					</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="materialUnchecked2" name="materialExampleRadios">
							<label class="form-check-label" for="materialUnchecked2">研究型</label>
						</div>
					</td>
					<td>
						<div class="form-inline">
							<span class="percentage">40%*</span>
							<input type="text" id="" class="form-control form-control-sm">
							<span class="equal">=</span>
							<input type="text" id="" class="form-control form-control-sm">
						</div>
					</td>
					<td>
						<div class="form-inline">
							<span class="percentage">50%*</span>
							<input type="text" id="" class="form-control form-control-sm">
							<span class="equal">=</span>
							<input type="text" id="" class="form-control form-control-sm">
						</div>
					</td>
					<td>
						<div class="form-inline">
							<span class="percentage">10%*</span>
							<input type="text" id="" class="form-control form-control-sm">
							<span class="equal">=</span>
							<input type="text" id="" class="form-control form-control-sm">
						</div>
					</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="materialUnchecked3" name="materialExampleRadios">
							<label class="form-check-label" for="materialUnchecked3">一般服務型</label>
						</div>
					</td>
					<td>
						<div class="form-inline">
							<span class="percentage">40%*</span>
							<input type="text" id="" class="form-control form-control-sm">
							<span class="equal">=</span>
							<input type="text" id="" class="form-control form-control-sm">
						</div>
					</td>
					<td>
						<div class="form-inline">
							<span class="percentage">30%*</span>
							<input type="text" id="" class="form-control form-control-sm">
							<span class="equal">=</span>
							<input type="text" id="" class="form-control form-control-sm">
						</div>
					</td>
					<td>
						<div class="form-inline">
							<span class="percentage">30%*</span>
							<input type="text" id="" class="form-control form-control-sm">
							<span class="equal">=</span>
							<input type="text" id="" class="form-control form-control-sm">
						</div>
					</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="materialUnchecked4" name="materialExampleRadios">
							<label class="form-check-label" for="materialUnchecked4">產學服務型</label>
						</div>
					</td>
					<td>
						<div class="form-inline">
							<span class="percentage">40%*</span>
							<input type="text" id="" class="form-control form-control-sm">
							<span class="equal">=</span>
							<input type="text" id="" class="form-control form-control-sm">
						</div>
					</td>
					<td>
						<div class="form-inline">
							<span class="percentage">20%*</span>
							<input type="text" id="" class="form-control form-control-sm">
							<span class="equal">=</span>
							<input type="text" id="" class="form-control form-control-sm">
						</div>
					</td>
					<td>
						<div class="form-inline">
							<span class="percentage">10%*</span>
							<input type="text" id="" class="form-control form-control-sm">
							<span class="equal">=</span>
							<input type="text" id="" class="form-control form-control-sm">
						</div>
					</td>
					<td>
						<div class="form-inline">
							<span class="percentage">30%*</span>
							<input type="text" id="" class="form-control form-control-sm">
							<span class="equal">=</span>
							<input type="text" id="" class="form-control form-control-sm">
						</div>
					</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
		
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="teaching-tab" data-toggle="tab" href="#teaching" role="tab" aria-controls="teaching" aria-selected="true">一、教學</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="research-tab" data-toggle="tab" href="#research" role="tab" aria-controls="research" aria-selected="false">二、研究</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="service-tab" data-toggle="tab" href="#service" role="tab" aria-controls="service" aria-selected="false">三、服務/一般服務</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="industry-tab" data-toggle="tab" href="#industry" role="tab" aria-controls="industry" aria-selected="false">四、產學服務</a>
		</li>
	</ul>
	<div class="tab-content tab-hasborder" id="myTabContent">
		<div class="tab-pane fade show active" id="teaching" role="tabpanel" aria-labelledby="teaching-tab">
			<h5 class="pane-title">教學綜合評分表 (最高得100分) <small>評鑑期間為評鑑當期不計，往前推算三年六學期</small></h5>
			<div class="row">
				<div class="col-5">
					<p class="type-title">基本要求 (最高60分)</p>
					<ul class="menu-item evaluation-list">
						<li>
							<h5 class="serial"><span class="badge cyan">T-1-1</span></h5>
							<div class="d-flex">
								<span class="detail"><%= zh_lorem_paragraphs(1) %></span>
								<span class="self-evaluation">
									<input type="text" id="" class="form-control form-control-sm" placeholder="自評分數">
									<input type="text" id="" class="form-control form-control-sm" placeholder="系所評分">
									<input type="text" id="" class="form-control form-control-sm" placeholder="學院評分">
								</span>
							</div>
						</li>
						<li>
							<h5 class="serial"><span class="badge cyan">T-1-2</span></h5>
							<div class="d-flex">
								<span class="detail"><%= zh_lorem_paragraphs(1) %></span>
								<span class="self-evaluation">
									<input type="text" id="" class="form-control form-control-sm" placeholder="自評分數">
									<input type="text" id="" class="form-control form-control-sm" placeholder="系所評分">
								</span>
							</div>
						</li>
						<li>
							<h5 class="serial"><span class="badge cyan">T-1-3</span></h5>
							<div class="d-flex">
								<span class="detail"><%= zh_lorem_paragraphs(1) %></span>
								<span class="self-evaluation">
									<input type="text" id="" class="form-control form-control-sm" placeholder="自評分數">
								</span>
							</div>
						</li>
					</ul>
					<p class="type-title">教學表現項目 (最高40分為上限)</p>
					<p class="type-subtitle">分項一、教學獲獎(本項不受三年內限制)<span>表T-2-1</span></p>
					<ul class="menu-item evaluation-list">
						<li>
							<h5 class="serial"><span class="badge cyan">T-2-1</span></h5>
							<div class="d-flex">
								<span class="detail"><%= zh_lorem_paragraphs(1) %></span>
								<span class="self-evaluation">
									<input type="text" id="" class="form-control form-control-sm" placeholder="自評分數">
								</span>
							</div>
						</li>
						<li>
							<h5 class="serial"><span class="badge cyan">T-2-2</span></h5>
							<div class="d-flex">
								<span class="detail"><%= zh_lorem_paragraphs(1) %></span>
								<span class="self-evaluation">
									<input type="text" id="" class="form-control form-control-sm" placeholder="自評分數">
								</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-7">
					<div class="mb-4">
						<p class="type-title">(1)佐證資料列表</p>
						<div class="mb-4">
							<div class="md-form d-inline"><input type="text" id="" class="w-40"></div>
							學年度上學期，授課總時數：
							<div class="md-form d-inline"><input type="text" id="" class="w-40"></div>
							，授課不足時數：
							<div class="md-form d-inline"><input type="text" id="" class="w-40"></div>
						</div>
						<table class="table table-center table-evidence">
							<thead>
								<tr>
									<th>課程名稱</th>
									<th>開課<br />班級</th>
									<th>上課<br />時數</th>
									<th>修課<br />人數</th>
									<th colspan="2" class="text-center">
										必/選修
										<div class="d-flex">
											<span class="w-50">必</span>
											<span class="w-50">選</span>
										</div>
									</th>
									<th>教學評<br />量分數</th>
									<th>
										備註
										<a href="#" data-toggle="tooltip" title="佐證資料序號"><i class="fa fa-info-circle"></i></a>
									</th>
									<th>編輯</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>通識</td>
									<td>A-1</td>
									<td>168</td>
									<td>999</td>
									<td></td>
									<td><i class="fa fa-check"></i></td>
									<td>999</td>
									<td>
										<select class="browser-default custom-select">
											<option selected>請選擇</option>
											<option value="1">T-1-1</option>
											<option value="2">T-1-2</option>
											<option value="3">T-1-3</option>
										</select>
									</td>
									<td>
										<button type="button" class="btn btn-xs btn-white" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil"></i></button>
									</td>
								</tr>
								<tr>
									<td>工程管理</td>
									<td>A-1</td>
									<td>168</td>
									<td>999</td>
									<td><i class="fa fa-check"></i></td>
									<td></td>
									<td>999</td>
									<td>
										<select class="browser-default custom-select">
											<option selected>請選擇</option>
											<option value="1">T-1-1</option>
											<option value="2">T-1-2</option>
											<option value="3">T-1-3</option>
										</select>
									</td>
									<td>
										<button type="button" class="btn btn-xs btn-white" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil"></i></button>
									</td>
								</tr>
								<tr>
									<td>通識</td>
									<td>A-1</td>
									<td>168</td>
									<td>999</td>
									<td></td>
									<td><i class="fa fa-check"></i></td>
									<td>999</td>
									<td>
										<select class="browser-default custom-select">
											<option selected>請選擇</option>
											<option value="1">T-1-1</option>
											<option value="2">T-1-2</option>
											<option value="3">T-1-3</option>
										</select>
									</td>
									<td>
										<button type="button" class="btn btn-xs btn-white" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil"></i></button>
									</td>
								</tr>
							</tbody>
						</table>
				    </div>
					<div class="mb-4">
						<p class="type-title">(2)請提供各學期、各課程教學評量表，或期末學生成績單影印做為佐證資料。</p>
						<table class="table">
							<thead>
								<tr>
									<th>編輯/刪除</th>
									<th>檔案名稱</th>
									<th>佐證資料序號</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<a class="" data-toggle="modal" data-target="#uploadModal"><i class="fa fa-pencil"></i></a>
										<a class=""><i class="fa fa-trash"></i></a>
									</td>
									<td>學生成績單001.pdf</td>
									<td></td>
								</tr>
							</tbody>
						</table>
						<button type="button" class="btn btn-sm btn-default">新增檔案</button>
					</div>
					<div class="mb-4">
					    <p class="type-title">(3)其他作證檔案</p>
						<table class="table">
							<thead>
								<tr>
									<th class="w90">編輯/刪除</th>
									<th>說明</th>
									<th class="w90">檢視檔案</th>
									<th class="w90">對應項目</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<a class="" data-toggle="modal" data-target="#otherModal"><i class="fa fa-pencil"></i></a>
										<a class=""><i class="fa fa-trash"></i></a>
									</td>
									<td>Integer nunc nisi, aliquet et magna id, fermentum interdum nulla. Nunc eget condimentum sapien. Nulla eget enim et eros feugiat ullamcorper. Fusce varius scelerisque elit, non egestas elit pretium et.</td>
									<td class="text-center"><a herf="/" class=""><i class="fa fa-eye"></i></a></td>
									<td class="text-center">T-1-1</td>
								</tr>
								<tr>
									<td>
										<a class="" data-toggle="modal" data-target="#otherModal"><i class="fa fa-pencil"></i></a>
										<a class=""><i class="fa fa-trash"></i></a>
									</td>
									<td>Integer nunc nisi, aliquet et magna id, fermentum interdum nulla. Nunc eget condimentum sapien.</td>
									<td class="text-center"><a herf="/" class=""><i class="fa fa-eye"></i></a></td>
									<td class="text-center">T-1-1</td>
								</tr>
							</tbody>
						</table>
						<button type="button" class="btn btn-sm btn-default">新增檔案</button>
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		<div class="tab-pane fade" id="research" role="tabpanel" aria-labelledby="research-tab">
			Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
		</div>
		
		<div class="tab-pane fade" id="service" role="tabpanel" aria-labelledby="service-tab">
			Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.
		</div>
		
		<div class="tab-pane fade" id="industry" role="tabpanel" aria-labelledby="industry-tab">
			Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
		</div>
	</div>
	
	<div class="action-ft">
	    <button class="btn purple-gradient btn-lg">送出</button>
		<button class="btn btn-link btn-lg">取消</button>
	</div>
	
	
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
	<div class="modal-dialog modal-dialog-centered modal-lgg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">佐證資料表</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-evidence">
					<thead>
						<tr>
							<th>課程名稱</th>
							<th>開課班級</th>
							<th>上課時數</th>
							<th>修課人數</th>
							<th colspan="2" class="text-center">
								必/選修
								<div class="d-flex">
									<span class="w-50">必</span>
									<span class="w-50">選</span>
								</div>
							</th>
							<th>教學評量分數</th>
							<th>
								備註
								<a href="#" data-toggle="tooltip" title="佐證資料序號"><i class="fa fa-info-circle"></i></a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input class="form-control form-control-sm" type="text" placeholder=""></td>
							<td><input class="form-control form-control-sm" type="text" placeholder=""></td>
							<td><input class="form-control form-control-sm w90" type="text" placeholder=""></td>
							<td><input class="form-control form-control-sm w90" type="text" placeholder=""></td>
							<td>
								<div class="form-check pl-2">
									<input type="radio" class="form-check-input" id="gg1" name="tg1">
									<label class="form-check-label" for="gg1"></label>
								</div>
							</td>
							<td>
								<div class="form-check  pl-0">
									<input type="radio" class="form-check-input" id="gg2" name="tg1">
									<label class="form-check-label" for="gg2"></label>
								</div>
							</td>
							<td><input class="form-control form-control-sm w90" type="text" placeholder=""></td>
							<td class="w120">
								<div class="d-flex">
								    <strong class="pt-2 pr-1">T-1-</strong>
									<select class="browser-default d-inline">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
									</select>
								</div>
							</td>
						</tr>
						
						<tr>
							<td><input class="form-control form-control-sm" type="text" placeholder=""></td>
							<td><input class="form-control form-control-sm" type="text" placeholder=""></td>
							<td><input class="form-control form-control-sm w90" type="text" placeholder=""></td>
							<td><input class="form-control form-control-sm w90" type="text" placeholder=""></td>
							<td>
								<div class="form-check pl-2">
									<input type="radio" class="form-check-input" id="gg3" name="tg2">
									<label class="form-check-label" for="gg3"></label>
								</div>
							</td>
							<td>
								<div class="form-check  pl-0">
									<input type="radio" class="form-check-input" id="gg4" name="tg2">
									<label class="form-check-label" for="gg4"></label>
								</div>
							</td>
							<td><input class="form-control form-control-sm w90" type="text" placeholder=""></td>
							<td class="w120">
								<div class="d-flex">
								    <strong class="pt-2 pr-1">T-1-</strong>
									<select class="browser-default d-inline">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
									</select>
								</div>
							</td>
						</tr>
						
						<tr>
							<td><input class="form-control form-control-sm" type="text" placeholder=""></td>
							<td><input class="form-control form-control-sm" type="text" placeholder=""></td>
							<td><input class="form-control form-control-sm w90" type="text" placeholder=""></td>
							<td><input class="form-control form-control-sm w90" type="text" placeholder=""></td>
							<td>
								<div class="form-check pl-2">
									<input type="radio" class="form-check-input" id="gg5" name="tg3">
									<label class="form-check-label" for="gg5"></label>
								</div>
							</td>
							<td>
								<div class="form-check  pl-0">
									<input type="radio" class="form-check-input" id="gg6" name="tg3">
									<label class="form-check-label" for="gg6"></label>
								</div>
							</td>
							<td><input class="form-control form-control-sm w90" type="text" placeholder=""></td>
							<td class="w120">
								<div class="d-flex">
								    <strong class="pt-2 pr-1">T-1-</strong>
									<select class="browser-default d-inline">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
									</select>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">關閉</button>
				<button type="button" class="btn btn-primary">儲存</button>
			</div>
		</div>
	</div>
</div>



<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
	<div class="modal-dialog modal-dialog-centered modal-lgg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">由XXXX系統取得的資料</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-center">
					<thead>
						<tr>
							<th>論文名稱</th>
							<th>日期</th>
							<th>對應項目</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
							<td>2018/12/31</td>
							<td>
								<select class="browser-default custom-select">
									<option selected>未設定 (無)</option>
									<option value="1">T-1-1</option>
									<option value="2">T-1-2</option>
									<option value="3">T-1-3</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
							<td>2018/12/31</td>
							<td>
								<select class="browser-default custom-select">
									<option selected>未設定 (無)</option>
									<option value="1">T-1-1</option>
									<option value="2">T-1-2</option>
									<option value="3">T-1-3</option>
								</select>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">關閉</button>
				<button type="button" class="btn btn-primary">儲存</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="otherModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
	<div class="modal-dialog modal-dialog-centered modal-lgg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">其他作證檔案</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="exampleFormControlTextarea1">做證資料說明</label>
						<textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="3"></textarea>
					</div>
					<div class="form-group">
						<label for="">對應項目</label>
						<select class="browser-default custom-select w-50">
							<option selected>未設定 (無)</option>
							<option value="1">T-1-1</option>
							<option value="2">T-1-2</option>
							<option value="3">T-1-3</option>
						</select>
					</div>
					<div class="form-group">
						<label for="">作證檔案</label>
						<div class="input-group w-50">
							<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroupFileAddon01">上傳</span>
							</div>
							<div class="custom-file">
								<input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
								<label class="custom-file-label" for="inputGroupFile01">選擇檔案</label>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">關閉</button>
				<button type="button" class="btn btn-primary">儲存</button>
			</div>
		</div>
	</div>
</div>


<% content_for :js do %>
<script>
	$(function () {
	    $('[data-toggle="tooltip"]').tooltip()
	})
</script>
<% end %>