<% I18n.locale = "zh-TW" %>
<!doctype html>
<html lang="<%= I18n.locale %>" class="no-js">
<head>
    <%= render :partial => "/partials/backend_head" %>
</head>
<body class="fixed-sn darkness-skin">
	<% if content_for? :header %>
		<%= yield :header %>
	<% else %>
		<%= render :partial => "/partials/student_header" %>
	<% end %>
	<div class="content-wrapper">
		<%= yield %>
	</div>
	<%= render :partial => "/partials/backend_footer" %>
    <script src="../javascripts/jquery-3.3.1.min.js"></script>
    <script src="../javascripts/popper.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/mdb.min.js"></script>
    <script>
        // SideNav Initialization
        $(".button-collapse").sideNav();

        var container = document.querySelector('.custom-scrollbar');
        Ps.initialize(container, {
            wheelSpeed: 2,
            wheelPropagation: true,
            minScrollbarLength: 20
        });
    </script>
    <%= yield :js %>
</body>
</html>
