<!-- nthu-mobile: 申請單列表 -->

<div class="page">
    <div class="page-wrapper">
        <%= render :partial => "/partials/header" %>
        <div class="content-wrapper">
			<%= render :partial => "/partials/breadcrumb" %>
            <div class="container">
                <select class="mdb-select md-form">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
			    <ul class="menu-item application-list">
					<li>
					    <a href="#" class="btn">
						    <i class="fa fa-file-text-o mr-1"></i>
							人員處理表
						</a>
					</li>
					<li>
					    <a href="#" class="btn">
						    <i class="fa fa-file-text-o mr-1"></i>
							<%= zh_lorem_words(7) %>
						</a>
					</li>
					<li>
					    <a href="#" class="btn">
						    <i class="fa fa-file-text-o mr-1"></i>
							<%= zh_lorem_words(9) %>
						</a>
					</li>
					<li>
					    <a href="#" class="btn">
						    <i class="fa fa-file-text-o mr-1"></i>
							<%= zh_lorem_words(6) %>
						</a>
					</li>
					<li>
					    <a href="#" class="btn">
						    <i class="fa fa-file-text-o mr-1"></i>
							<%= zh_lorem_words(12) %>
						</a>
					</li>
					<li>
					    <a href="#" class="btn">
						    <i class="fa fa-file-text-o mr-1"></i>
							<%= zh_lorem_words(5) %>
						</a>
					</li>
					<li>
					    <a href="#" class="btn">
						    <i class="fa fa-file-text-o mr-1"></i>
							<%= zh_lorem_words(10) %>
						</a>
					</li>
				</ul>
			</div>
        </div>
    </div>
</div>
