<!-- nthu-mobile: 待審查 - 簽核流程 -->

<div class="page">
    <div class="page-wrapper">
        <%= render :partial => "/partials/header" %>
        <div class="content-wrapper">
			<%= render :partial => "/partials/breadcrumb" %>
            <div class="btn-group btn-group-bar">
				<!-- 勿改 wording 變長會跑版 -->
                <a href="#" class="btn">申請表</a>
                <a href="#" class="btn current">簽核流程</a>
                <a href="#" class="btn">審查結果</a>
            </div>
            <div class="container">
                <main class="main">
				    <h5 class="text-center mt-4">行政業務電腦化需求提案單</h5>
                    <div class="signoff-wrapper">
					    <div class="signoff-item">
							<!-- dd 寬度固定，勿超過五個全形否則會跑版 -->
                            <dl>
                                <dt>申請人</dt>
                                <dd>史佳麗 <span class="text-muted">代理 韓喬森</span></dd>
                                <dt>送件時間</dt>
                                <dd>2021-09-30 12:00</dd>
                            </dl>
						</div>
						<div class="signoff-item">
                            <dl>
                                <dt>單位主管</dt>
                                <dd>萊恩雷諾斯</dd>
                                <dt>送件時間</dt>
                                <dd>2021-09-30 12:00</dd>
								<dt>審查結果</dt>
                                <dd>同意</dd>
								<dt>審查意見</dt>
                                <dd><%= zh_lorem_paragraph %></dd>
                            </dl>
							<div class="signoff-inner">
							    <h6>會辦人事室</h6>
								<div>
                                    <div class="inner-level">
										<!-- .signoff-item 編號為自動生成，.level-number 必須程式判斷另外加 -->
                                        <span class="level-number">2-1-1</span>
                                        <dl>
                                            <dt>登記桌</dt>
                                            <dd>雷諾斯</dd>
                                            <dt>送件時間</dt>
                                            <dd>2021-09-30 12:00</dd>
                                            <dt>審查結果</dt>
                                            <dd>分辨</dd>
                                            <dt>審查意見</dt>
                                            <dd><%= zh_lorem_sentence %></dd>
                                        </dl>
                                    </div>
									<!-- .step-current 可加在 .signoff-item 或 .inner-level 裡，.signoff-warning 同上 -->
                                    <div class="inner-level step-current">
                                        <span class="level-number">2-1-2</span>
                                        <dl>
                                            <dt>承辦人員</dt>
                                            <dd>雷諾斯</dd>
                                            <dt>送件時間</dt>
                                            <dd>2021-09-30 12:00</dd>
                                            <dt>審查結果</dt>
                                            <dd>分辨</dd>
                                            <dt>審查意見</dt>
                                            <dd><%= zh_lorem_sentence %></dd>
                                        </dl>
                                    </div>
								</div>
							</div>
						</div>
						<div class="signoff-item signoff-warning">
                            <dl>
                                <dt>上層主管</dt>
                                <dd>迪士尼</dd>
								<dt>送件時間</dt>
                                <dd>2021-09-30 12:00</dd>
                                <dt>審查結果</dt>
                                <dd>退回上一關卡</dd>
                            </dl>
						</div>
						<div class="signoff-item signoff-null">
							<!-- dd 必須有內容，勿留空欄位會跑版 -->
                            <dl>
                                <dt>單位主管</dt>
                                <dd>萊恩</dd>
								<dt>送件時間</dt>
                                <dd>尚未送件</dd>
                                <dt>審查結果</dt>
                                <dd>尚無結果</dd>
                            </dl>
						</div>
					</div>
				</main>
			</div>
        </div>
    </div>
</div>

<% content_for :js do %>
<% end %>