<!-- admin-page: 臺大保管組 / 單筆財產標籤設定 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header mb-3">
        <h1>單筆財產標籤設定</h1>
    </div>
    <div class="property-label-wrapper">
        
        <div class="left-bar">
            <div class="mb-4">
                <div class="info-group mb-3">
                    <div class="row form-group">
                        <label class="col-3 col-form-label text-right">申請序號</label>
                        <div class="col-9 form-output">YYYY0001 (目前狀態：處理中)</div>
                    </div>
                </div>

                <div class="form-group">
                    <textarea class="form-control" id="" rows="3"></textarea>
                </div>

                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="使用人姓名">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <select class="form-select" aria-label="Default select example">
                                <option selected="">標籤大小</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" placeholder="設備資訊">
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="使用人姓名">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <select class="form-select" aria-label="Default select example">
                                <option selected="">標籤大小</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" placeholder="設備資訊">
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs step-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="create-tab" data-bs-toggle="tab" data-bs-target="#create-tab-pane" type="button" role="tab" aria-controls="create-tab-pane" aria-selected="true"><strong class="text-uppercase">Step1.</strong> 建立標籤</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="print-tab" data-bs-toggle="tab" data-bs-target="#print-tab-pane" type="button" role="tab" aria-controls="print-tab-pane" aria-selected="false"><strong class="text-uppercase">Step2.</strong> 標籤列印設定</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                
                <div class="tab-pane fade show active" id="create-tab-pane" role="tabpanel" aria-labelledby="create-tab" tabindex="0">

                    <div class="row">
                        <label class="form-label">選擇財產編號</label>
                        <div class="col-6">
                            <div class="form-group">
                                <select class="selectpicker form-control" data-live-search="true">
                                    <option selected>blah blah blah</option>
                                    <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
                                    <option data-tokens="mustard">Burger, Shake and a Smile</option>
                                    <option data-tokens="frosting">Sugar, Spice and all things nice</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <select class="selectpicker form-control" data-live-search="true">
                                    <option selected>blah blah blah</option>
                                    <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
                                    <option data-tokens="mustard">Burger, Shake and a Smile</option>
                                    <option data-tokens="frosting">Sugar, Spice and all things nice</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-2">
                            <div class="form-group">
                                <label for="exampleInputText1" class="form-label">數量</label>
                                <input type="text" class="form-control" id="exampleInputText1">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="" class="form-label">選擇使用單位</label>
                                <div>
                                    <select class="selectpicker form-control" data-live-search="true">
                                        <option selected>blah blah blah</option>
                                        <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
                                        <option data-tokens="mustard">Burger, Shake and a Smile</option>
                                        <option data-tokens="frosting">Sugar, Spice and all things nice</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="" class="form-label">使用人</label>
                                <div>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-dark" style="margin-top: 32px;">新增</button>
                        </div>
                    </div>
                    
                    <h4>案件財產標籤清單</h4>
                    
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-striped align-middle bg-body">
                            <thead class="table-light">
                                <tr class="keep-all">
                                    <th>序號</th>
                                    <th>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                                            <label class="form-check-label" for="flexCheckChecked"></label>
                                        </div>
                                    </th>
                                    <th>主附</th>
                                    <th>財產名稱</th>
                                    <th>標籤編號</th>
                                    <th>校號起</th>
                                    <th>單位名稱</th>
                                    <th>使用人</th>
                                    <th>文件套印頁數</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% (1..7).map do |i| %>
                                <tr>
                                    <th class="text-center"><%= i %></th>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked<%= i %>" />
                                            <label class="form-check-label" for="flexCheckChecked<%= i %>"></label>
                                        </div>
                                    </td>
                                    <td>主</td>
                                    <td>個人電腦</td>
                                    <td>314010100<%= i %></td>
                                    <td>8382<%= i %></td>
                                    <td>電機工程學系</td>
                                    <td>王oo</td>
                                    <td>
                                        <div class="d-flex">
                                            <div class="me-1 flex-grow-1">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>Open this select menu</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <div style="max-width: 44px;">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="d-flex mt-1">
                        <div class="me-2">
                            <button type="button" class="btn btn-danger">刪除</button>
                            <button type="button" class="btn btn-primary">儲存並跳到step2</button>
                        </div>
                        <div class="btn-group shadow-0 me-2" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline-secondary">匯出編號資料</button>
                            <button type="button" class="btn btn-outline-secondary">匯入資料</button>
                        </div>
                        <div class="btn-group shadow-0" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-dark">回審查作業畫面(上一頁)</button>
                            <button type="button" class="btn btn-dark">回審查文件及查詢</button>
                        </div>
                    </div>

                </div>
                
                <div class="tab-pane fade" id="print-tab-pane" role="tabpanel" aria-labelledby="print-tab" tabindex="0">
                    
                    <div class="d-flex justify-content-end mb-2">
                        <div>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>批次選擇標籤類別</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered align-middle bg-body">
                            <thead class="table-light">
                                <tr class="keep-all">
                                    <th>#</th>
                                    <th>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                                            <label class="form-check-label" for="flexCheckChecked"></label>
                                        </div>
                                    </th>
                                    <th>列印標籤類別</th>
                                    <th>標籤</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="text-center">1</th>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked11" />
                                            <label class="form-check-label" for="flexCheckChecked11"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span class="pe-1">3140101001-83826</span>
                                        <span class="pe-1">個人電腦</span>
                                        <span class="pe-1">OOOOO單位</span>
                                        <span class="pe-1">王OO</span>
                                    </td>
                                    <td><span class="badge rounded-pill text-bg-success text-uppercase">new</span></td>
                                </tr>
                                <tr>
                                    <th class="text-center">2</th>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked12" />
                                            <label class="form-check-label" for="flexCheckChecked12"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span class="pe-1">3140101001-83826</span>
                                        <span class="pe-1">個人電腦</span>
                                        <span class="pe-1">OOOOO單位</span>
                                        <span class="pe-1">王OO</span>
                                    </td>
                                    <td><span class="badge rounded-pill text-bg-success text-uppercase">new</span></td>
                                </tr>
                                <tr>
                                    <th class="text-center">3</th>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked12" />
                                            <label class="form-check-label" for="flexCheckChecked12"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">3140101001-83827  個人電腦  OOOOO單位  王OO</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </td>
                                    <td><button type="button" class="btn btn-sm btn-danger">刪除</button></td>
                                </tr>
                                <tr>
                                    <th class="text-center">4</th>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked12" />
                                            <label class="form-check-label" for="flexCheckChecked12"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <span class="me-1" style="width: 140px;">
                                                <input type="text" class="form-control" id="" value="3140101001">
                                            </span>
                                            <span class="me-1" style="width: 100px;">
                                                <input type="text" class="form-control" id="" value="83821">
                                            </span>
                                            <span>
                                                <input type="text" class="form-control" id="" placeholder="blah blah blah">
                                            </span>
                                        </div>
                                    </td>
                                    <td><button type="button" class="btn btn-sm btn-danger">刪除</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="d-grid">
                        <button type="button" class="btn btn-info">新增一筆列印規則</button>
                    </div>
                    
                    <div class="d-flex mt-4">
                        <div class="me-2">
                            <button type="button" class="btn btn-primary">儲存</button>
                            <button type="button" class="btn btn-dark">回審查文件及查詢</button>
                        </div>
                        <div class="btn-group shadow-0" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline-secondary">下載列印資料</button>
                            <button type="button" class="btn btn-outline-secondary">列印已勾選標籤</button>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        
        <div class="right-content">
            <div class="d-flex mb-3">
                <div>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="viewer-wrapper">
                PDF VIEWER
            </div>
        </div>
        
    </div>
</main>



<% content_for :js do %>

<% end %>