<!-- Culroc-BK: 公告 -->

<div class="container">
    <main class="main-content">
		
		<!-- 社公告請套用 group-article -->
		<article class="group-article">
			<div class="article-hd">
				<h4><%= lorem_sentence %></h4>
				<p class="date"><i class="fa fa-clock-o"></i> 107/01/01 12:00</p>
			</div>
			<div class="article-bd">
			    <p><%= zh_lorem_sentences(5) %></p>
				<p><%= zh_lorem_sentences(10) %></p>
				<p><%= zh_lorem_sentences(7) %></p>
				<p><%= zh_lorem_sentences(8) %></p>
			</div>
			<div class="article-ft">
			    <a href="announcement-list.html" class="back"><i class="fa fa-arrow-left"></i> 返回列表</a>
			</div>
		</article>
		
		<!-- 協會公告請套用 comity-article -->
		<!--article class="comity-article">
			<div class="article-hd">
				<h4><%= lorem_sentence %></h4>
				<p class="date"><i class="fa fa-clock-o"></i> 107/01/01 12:00</p>
			</div>
			<div class="article-bd">
			    <p><%= zh_lorem_sentences(5) %></p>
				<p><%= zh_lorem_sentences(10) %></p>
				<p><%= zh_lorem_sentences(7) %></p>
				<p><%= zh_lorem_sentences(8) %></p>
			</div>
			<div class="article-ft">
			    <a href="announcement-list.html" class="back"><i class="fa fa-arrow-left"></i> 返回列表</a>
			</div>
		</article-->
		
	</main>
</div>