<!-- backend-rwd: UI / Grid -->
<%= render :partial => "/partials/backend_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h1>Grid</h1>
        <p><%= lorem_sentences(5) %></p>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-block">
                <div class="block-content"><code>col-12</code></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="col-block">
                <div class="block-header has-border"><code>col-4</code></div>
                <div class="block-content"><code>col-4</code></div>
                <div class="block-footer has-border"><code>col-4</code></div>
            </div>
        </div>
        <div class="col-4">
            <div class="block-header"><code>col-4</code></div>
            <div class="block-content"><code>col-4</code></div>
            <div class="block-footer"><code>col-4</code></div>
        </div>
        <div class="col-4">
            <div class="block-content">
                <code>col-4</code>
                <%= lorem_sentences(5) %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="col-block">
                <div class="block-content"><code>col-8</code></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="col-block">
                <div class="block-header has-border"><%= lorem_sentences(1) %></div>
                <div class="block-content"><code>col-3</code></div>
            </div>
        </div>
        <div class="col-3">
            <div class="col-block">
                <div class="block-content"><code>col-3</code></div>
            </div>
        </div>
        <div class="col-3">
            <div class="col-block">
                <div class="block-content"><%= lorem_sentences(5) %></div>
            </div>
        </div>
        <div class="col-3">
            <div class="col-block">
                <div class="block-content"><%= lorem_sentences(5) %></div>
            </div>
        </div>
    </div>
    <h4 class="content-heading">區塊 <code>.block</code> 內的 grid</h4>
    <div class="row">
        <div class="col-block">
            <div class="col-3">
                <div class="block-header"><%= lorem_sentences(1) %></div>
                <div class="block-content"><%= lorem_sentences(5) %></div>
            </div>
            <div class="col-3">
                <div class="block-content"><%= lorem_sentences(5) %></div>
            </div>
            <div class="col-3">
                <div class="block-content"><%= lorem_sentences(5) %></div>
            </div>
            <div class="col-3">
                <div class="block-content"><%= lorem_sentences(5) %></div>
            </div>
        </div>
    </div>
</main>