<!-- //ntuoia: 本處成員 - 英文版 -->

<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
	<a href="#" data-activates="slide-out" class="button-collapse"></a>
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item"><a href="#">Current Students</a></li>
			<li class="breadcrumb-item"><a href="#">Overview</a></li>
			<li class="breadcrumb-item"><a href="#">Campus Life</a></li>
			<li class="breadcrumb-item active">Facilities and Services</li>
        </ol>
    </div>
</nav>

<div class="container">
	<div class="pages-row">
	    <%= render :partial => "/partials/accordian_nav_en" %>
		<main class="main">
		    <div class="main-inner">
                <div class="title-wrap">
                    <h3 class="section-title">Members</h3>
                </div>
			</div>
			<div id="tabsParent" class="members-wrapper">
				<div class="league-wrapper">
                    <section class="m-league">
                        <div class="members-group">
                            <div class="department">
                                <a class="d-link member_tabs active" href="#tab1">
                                    <div class="department-head">
                                        <h4>Vice President for International Affairs</h4>
                                    </div>
                                    <p class="brief"><%= lorem_sentences(2) %></p>
                                </a>
                            </div>
                            <div class="department">
                                <a class="d-link member_tabs" href="#tab2">
                                    <div class="department-head">
                                        <h4>Associate and Assistant Vice President for International Affairs</h4>
                                    </div>
                                    <p class="brief"><%= lorem_sentences(2) %></p>
                                </a>
                            </div>
                        </div>
                    </section>
                    <section class="m-league">
                        <h5 class="group-title">Vice President Office</h5>
                        <div class="members-group">
                            <div class="department">
                                <a class="d-link member_tabs" href="#tab3">
                                    <div class="department-head">
                                        <h4>General Affairs</h4>
                                    </div>
                                    <p class="brief"><%= lorem_sentences(2) %></p>
                                </a>
                            </div>
                            <div class="department">
                                <a class="d-link member_tabs" href="#tab4">
                                    <div class="department-head">
                                        <h4>Projects</h4>
                                    </div>
                                    <p class="brief"><%= lorem_sentences(2) %></p>
                                </a>
                            </div>
                        </div>
                    </section>
					<section class="m-league">
                        <h5 class="group-title">International Students</h5>
                        <div class="members-group">
                            <div class="department">
                                <a class="d-link member_tabs" href="#tab5">
                                    <div class="department-head">
                                        <h4>Global Recruitment</h4>
                                    </div>
                                    <p class="brief"><%= lorem_sentences(2) %></p>
                                </a>
                            </div>
                            <div class="department">
                                <a class="d-link member_tabs" href="#tab6">
                                    <div class="department-head">
                                        <h4>International Student Services</h4>
                                    </div>
                                    <p class="brief"><%= lorem_sentences(2) %></p>
                                </a>
                            </div>
							<div class="department">
                                <a class="d-link member_tabs" href="#tab7">
                                    <div class="department-head">
                                        <h4>Global Admission</h4>
                                    </div>
                                    <p class="brief"><%= lorem_sentences(2) %></p>
                                </a>
                            </div>
                            <div class="department">
                                <a class="d-link member_tabs" href="#tab8">
                                    <div class="department-head">
                                        <h4>Study Abroad </h4>
                                    </div>
                                    <p class="brief"><%= lorem_sentences(2) %></p>
                                </a>
                            </div>
							<div class="department">
                                <a class="d-link member_tabs" href="#tab9">
                                    <div class="department-head">
                                        <h4>Plus Academy</h4>
                                    </div>
                                    <p class="brief"><%= lorem_sentences(2) %></p>
                                </a>
                            </div>
                            <div class="department">
                                <a class="d-link member_tabs" href="#tab10">
                                    <div class="department-head">
                                        <h4>Lin's Scholarship NTU Project</h4>
                                    </div>
                                    <p class="brief"><%= lorem_sentences(2) %></p>
                                </a>
                            </div>
                        </div>
                    </section>
					<section class="m-league">
                        <h5 class="group-title">Global Cooperation</h5>
                        <div class="members-group">
                            <div class="department">
                                <a class="d-link member_tabs" href="#tab11">
                                    <div class="department-head">
                                        <h4>Global Partnerships</h4>
                                    </div>
                                    <p class="brief"><%= lorem_sentences(2) %></p>
                                </a>
                            </div>
                            <div class="department">
                                <a class="d-link member_tabs" href="#tab12">
                                    <div class="department-head">
                                        <h4>Global Relations</h4>
                                    </div>
                                    <p class="brief"><%= lorem_sentences(2) %></p>
                                </a>
                            </div>
                        </div>
                    </section>
					<div class="allin">
					    <a href="#">View all</a>
					</div>
				</div>
				<!-- 成員照片只能是正方形，解析度建議至少 640*640 -->
				<div class="members-output">
					<div class="tab-content">
						
						<div class="tabBody active" id="tab1">
                            <div class="output-head">
                                <h3>Vice President for International Affairs</h3>
                            </div>
							<div class="output-content">
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/500/500">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">Vice President for International Affairs <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">袁孝維</span>
												<span class="en">Prof. Hsiao-Wei Yuan</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    oia@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007
												</li>
											</ul>
                                        </div>
									</a>
								</div>
							</div>
						</div>
						
						<div class="tabBody" id="tab2">
                            <div class="output-head">
                                <h3>Associate and Assistant Vice President for International Affairs</h3>
                            </div>
							<div class="output-content">
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/400/400">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">Associate Vice President for International Affairs & UCEAP/CSUIP Faculty Mentor <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">林璧鳳</span>
												<span class="en">Prof. Bi-Fong Lin, Ph.D.</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    bifong@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007
												</li>
											</ul>
                                        </div>
									</a>
								</div>
								<div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/640/640">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">Assistant Vice President for International Affairs <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">林致廷</span>
												<span class="en">Prof. Chih-Ting Lin</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    timlin@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007
												</li>
											</ul>
                                        </div>
									</a>
								</div>
							</div>
						</div>
						
						<div class="tabBody" id="tab3">
                            <div class="output-head">
                                <h3>General Affairs</h3>
                            </div>
							<div class="output-content">
								<% (1..5).each do |n| %>
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/600/600">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">Secretary <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">吳熙君</span>
												<span class="en">Karen Wu</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    hcw0605@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007 #399
												</li>
											</ul>
                                        </div>
									</a>
								</div>
								<% end %>
							</div>
						</div>
						
						<div class="tabBody" id="tab4">
                            <div class="output-head">
                                <h3>Projects</h3>
                            </div>
							<div class="output-content">
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/300/300">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">Director <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">陳瓊芬</span>
												<span class="en">Josephine Chen</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    chiungfen@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007 #214
												</li>
											</ul>
                                        </div>
									</a>
								</div>
							</div>
						</div>
						
						<div class="tabBody" id="tab5">
                            <div class="output-head">
                                <h3>Global Recruitment</h3>
                            </div>
							<div class="output-content">
								<% (1..4).each do |n| %>
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/640/640">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">Manager & Head of Global Students Division <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">郭芠</span>
												<span class="en">Winni Kuo</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    winnikuo@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007 #204
												</li>
											</ul>
                                        </div>
									</a>
								</div>
								<% end %>
							</div>
						</div>
						
						<div class="tabBody" id="tab6">
                            <div class="output-head">
                                <h3>International Student Services</h3>
                            </div>
							<div class="output-content">
								<% (1..6).each do |n| %>
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/900/900">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">Director <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">王湜吟</span>
												<span class="en">Margaret Wang</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    winnikuo@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007 #204
												</li>
											</ul>
                                        </div>
									</a>
								</div>
								<% end %>
							</div>
						</div>
						
						<div class="tabBody" id="tab7">
                            <div class="output-head">
                                <h3>Global Admission</h3>
                            </div>
							<div class="output-content">
								<% (1..4).each do |n| %>
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/800/800">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">Head of Global Students Division <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">叢肇廷</span>
												<span class="en">Andrew Tsung</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    winnikuo@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007 #204
												</li>
											</ul>
                                        </div>
									</a>
								</div>
								<% end %>
							</div>
						</div>
						
						<div class="tabBody" id="tab8">
                            <div class="output-head">
                                <h3>Study Abroad</h3>
                            </div>
							<div class="output-content">
								<% (1..6).each do |n| %>
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/700/700">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">Director <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">高繼吟</span>
												<span class="en">Jean Kao</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    winnikuo@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007 #204
												</li>
											</ul>
                                        </div>
									</a>
								</div>
								<% end %>
							</div>
						</div>
						
						<div class="tabBody" id="tab9">
                            <div class="output-head">
                                <h3>Plus Academy</h3>
                            </div>
							<div class="output-content">
								<% (1..6).each do |n| %>
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/400/400">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">Director <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">高繼吟</span>
												<span class="en">Jean Kao</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    winnikuo@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007 #204
												</li>
											</ul>
                                        </div>
									</a>
								</div>
								<% end %>
							</div>
						</div>
						
						<div class="tabBody" id="tab10">
                            <div class="output-head">
                                <h3>Lin's Scholarship NTU Project</h3>
                            </div>
							<div class="output-content">
								<% (1..3).each do |n| %>
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/300/300">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">Director <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">叢肇廷</span>
												<span class="en">Andrew Tsung</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    winnikuo@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007 #204
												</li>
											</ul>
                                        </div>
									</a>
								</div>
								<% end %>
							</div>
						</div>
						
						<div class="tabBody" id="tab11">
                            <div class="output-head">
                                <h3>Global Partnerships</h3>
                            </div>
							<div class="output-content">
								<% (1..3).each do |n| %>
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/600/600">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">Head of Global Engagement Division <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">邱思璇</span>
												<span class="en">Cher Chiu</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    winnikuo@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007 #204
												</li>
											</ul>
                                        </div>
									</a>
								</div>
								<% end %>
							</div>
						</div>
						
						<div class="tabBody" id="tab12">
                            <div class="output-head">
                                <h3>Global Relations</h3>
                            </div>
							<div class="output-content">
								<% (1..5).each do |n| %>
							    <div class="members-brief">
									<a href="#" class="modal-link" data-toggle="modal" data-target="#basicMemberModal">
                                        <div class="photo">
                                            <img src="http://placekitten.com/500/500">
                                        </div>
                                        <div class="info">
                                            <h5 class="position">Director <i class="fa fa-info-circle"></i></h5>
											<h5 class="name">
											    <span class="ch">黃子瑜</span>
												<span class="en">Tzu-Yu Huang</span>
											</h5>
											<ul class="menu-item contact-item">
											    <li>
													<i class="fa fa-envelope-o"></i>
												    winnikuo@ntu.edu.tw
												</li>
												<li>
													<i class="fa fa-phone"></i>
												    +886 (0)2-3366-2007 #204
												</li>
											</ul>
                                        </div>
									</a>
								</div>
								<% end %>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</main>
    </div>
</div>



<% content_for :js do %>
<script>
	//Members Tabs, from stackoverflow https://tinyurl.com/yydyyh78
    $(document).ready(function(){
        $('.tabBody.active').show(); //initially show the `tabBody` which has active class
    })

    //click event to each `tabs` element
    $('.member_tabs').on('click',function(e){
        e.preventDefault();
        $('.member_tabs').removeClass('active'); //remove active class from all the tabs
        $(this).addClass('active'); //add active to current clicked element
        var target=$(this).attr('href'); //get its href attrbute
        $('.tabBody').hide('fast').removeClass('active'); //remove active from tabBody and hide all of them
        $(target).show('slow').addClass('active'); //show target tab and add active class to it
    })
</script>
<% end %>
































