<input type="checkbox" class="sr-only sidebar-ctrler" id="v-nav-primary" checked>
<div class="vertical_nav sidebar sidebar--primary">
    <div class="sidebar__header media">
        <div class="logo-left">
            <h1 class="logo"><a class="logo__link" href="/"><img class="logo__img" src="../assets/logo@2x.png" alt="back" title="admin" width="73" height="20" /></a></h1>
        </div>
        <div class="media-body text-right">
            <label class="sidebar-ctrler--label" for="v-nav-primary"><i class="fa fa-ellipsis-v"></i></label>
        </div>
    </div>
    <div class="menu">
        <div class="sidebar-scroll">
            <ul class="nav">
                <li class="">
                    <a class="waves-effect" href="../dashborad/index.html">
                        <i class="fa fa-tachometer" title="Dashboard"></i>
                        <span class="menu-label">Dashboard</span>
                    </a>
                </li>
                <li class="title">
                    <span class="menu-label">DOC</span>
                </li>
                <li class="has-sub">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fa fa-file-text-o" title="UI Elements"></i>
                        <span class="menu-label">UI Elements</span>
                        <i class="fa fa-angle-left leftNavIcon"></i>
                    </a>
                    <ul>
                        <li><a class="waves-effect" href="../ui/overview.html">Overview</a></li>
                        <li><a class="waves-effect" href="../ui/grid.html">Grid</a></li>
                        <li><a class="waves-effect" href="../ui/block.html">Block</a></li>
                        <li><a class="waves-effect" href="../ui/typography.html">Typography / Color</a></li>
                        <li><a class="waves-effect" href="../ui/button.html">Buttons</a></li>
                        <li><a class="waves-effect" href="../ui/alerts.html">Alerts / Wells</a></li>
                        <li><a class="waves-effect" href="../ui/tabs.html">Block tabs</a></li>
                        <li><a class="waves-effect" href="../ui/pagination.html">Pagination</a></li>
                        <li><a class="waves-effect" href="../ui/forms.html">Forms</a></li>
                        <li><a class="waves-effect" href="../ui/column-form.html">Column Forms</a></li>
						<li><a class="waves-effect" href="../ui/profile1.html">Profile 1</a></li>
						<li><a class="waves-effect" href="../ui/profile2.html">Profile 2</a></li>
						<li><a class="waves-effect" href="../ui/vertical_tabs.html">Vertical Tabs</a></li>
                        <li><a class="waves-effect" href="../ui/vertical_sticky_tabs.html">Sticky Vertical Tabs</a></li>
						<li><a class="waves-effect" href="../ui/404.html">404 error</a></li>
						<li><a class="waves-effect" href="../ui/treelist.html">Tree List</a></li>
                    </ul>
                </li>
                <li class="has-sub ">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fa fa-table" title="Tables"></i>
                        <span class="menu-label">Tables</span>
                        <i class="fa fa-angle-left leftNavIcon"></i>
                    </a>
                    <ul>
                        <li><a class="waves-effect" href="../table/style.html">Style</a></li>
                        <li><a class="waves-effect" href="../table/datatables.html">DataTables</a></li>
						<li><a class="waves-effect" href="../table/adsearch.html">Adsearch V2</a></li>
						<li><a class="waves-effect" href="../table/adsearch_v3.html">Adsearch V3</a></li>
                    </ul>
                </li>
                <li class="">
                    <a class="waves-effect" href="../demo/index.html">
                        <i class="fa fa-bars" title="Bars"></i>
                        <span class="menu-label">雙側欄</span>
                    </a>
                </li>
				<li class="has-sub">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fa fa-map" title="Site Map"></i>
                        <span class="menu-label">Site Map</span>
						<i class="fa fa-angle-left leftNavIcon"></i>
                    </a>
                    <ul>
                        <li><a class="waves-effect" href="../ui/sitemap.html">Sitemap</a></li>
                        <li><a class="waves-effect" href="../ui/slickmap.html">Slickmap</a></li>
                    </ul>
                </li>
				<li class="">
                    <a class="waves-effect" href="../ui/timeline.html">
                        <i class="fa fa-history" title="Timeline"></i>
                        <span class="menu-label">Timeline</span>
                    </a>
                </li>
                <li class="">
                    <a class="waves-effect" href="../ui/progress-timeline.html">
                        <i class="fa fa-tasks" title="作業進度表"></i>
                        <span class="menu-label">作業進度表</span>
                    </a>
                </li>
				<li class="">
                    <a class="waves-effect" href="../doc/javascript.html">
                        <i class="fa fa-code" title="JavaScript"></i>
                        <span class="menu-label">JavaScript</span>
                    </a>
                </li>
                <li class="">
                    <a class="waves-effect" href="../login/index.html">
                        <i class="fa fa-sign-in" title="Login"></i>
                        <span class="menu-label">Login</span>
                    </a>
                </li>
				<li class="has-sub">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fa fa-university" title="Site Map"></i>
                        <span class="menu-label">NTU</span>
						<i class="fa fa-angle-left leftNavIcon"></i>
                    </a>
                    <ul>
                        <li><a class="waves-effect" href="../login/login_ntu.html">NTU Login</a></li>
                        <li><a class="waves-effect" href="../workbench/s1.html">系統索引</a></li>
						<li><a class="waves-effect" href="../workbench/s2.html">院系單位索引</a></li>
                    </ul>
                </li>
				<li class="has-sub">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fa fa-university" title="Site Map"></i>
                        <span class="menu-label">TIGP</span>
						<i class="fa fa-angle-left leftNavIcon"></i>
                    </a>
                    <ul>
                        <li><a class="waves-effect" href="../login2/login_sinica.html">TIGP Login</a></li>
                        <li><a class="waves-effect" href="../tigp/ui.html">TIGP UI</a></li>
						<li><a class="waves-effect" href="../tigp/vertical_sticky_tabs.html">TIGP 作業流程</a></li>
                    </ul>
                </li>
				<li class="has-sub">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fa fa-university" title="Site Map"></i>
                        <span class="menu-label">NTHU</span>
						<i class="fa fa-angle-left leftNavIcon"></i>
                    </a>
                    <ul>
                        <li><a class="waves-effect" href="../login3/login_nthu.html">NTHU Login</a></li>
                        <li><a class="waves-effect" href="../nthu/sys-manage.html">清大系統管理</a></li>
                    </ul>
                </li>
				<li class="has-sub">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fa fa-university" title="Site Map"></i>
                        <span class="menu-label">Jesda</span>
						<i class="fa fa-angle-left leftNavIcon"></i>
                    </a>
                    <ul>
                        <li><a class="waves-effect" href="../ui/three-column-vertical_tabs.html">三欄垂直 tabs</a></li>
                    </ul>
                </li>
                <!-- DATA from /jesda-prototype/adminui/view_helpers.rb -->
                <!-- <% sidebar_items.each_with_index do |item, index| %>
                    <% if item[:header] %>
                        <% if item[:divider] %>
                            <li class="divider"></li>
                        <% else %>
                            <li class="title">
                                <span class="menu-label"><%= item[:title] %></span>
                            </li>
                        <% end %>
                    <% else %>
                        <li class="<%= item[:active] ? '' : '' %>
                                   <%= item[:sub] ? 'has-sub' : '' %> ">
                            <a class="<%= item[:sub] ? 'nav-ctrler waves-effect' : '' %>" href="<%= item[:sub] ? '###' : item[:href] %>">
                                <i class="fa <%=item[:icon]%>" title="<%=item[:title]%>"></i>
                                <span class="menu-label"><%=item[:title]%></span>
                                <% if item[:sub] %>
                                    <i class="fa fa-angle-left leftNavIcon"></i>
                                <% end %>
                            </a>
                            <% if item[:sub] %>
                                <ul>
                                    <% item[:sub].each do |subitem| %>
                                    <li><a class="waves-effect" href="<%= subitem[:href] %>"><%= subitem[:title] %></a></li>
                                    <% end %>
                                </ul>
                            <% end %>
                        </li>
                    <% end %>
                <% end %>-->
            </ul>
        </div>
    </div>
</div>
