<!-- admin-page: UI / Grid -->
<div class="breadcrumb-block row block">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active">Data</li>
        </ol>
    </nav>
</div>

<div class="main">
    <div class="page-header">
        <h2>Grid</h2>
        <p>與前台 backend 使用方式相同，最後一個 grid 需要添加 <code>.col-last</code></p>
    </div>
    <div class="row">
        <div class="col-12 block col-last">
            <div class="block-content"><code>col-12</code></div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 block">
            <div class="block-content"><code>col-4</code></div>
        </div>
        <div class="col-4 block">
            <div class="block-content"><code>col-4</code></div>
        </div>
        <div class="col-4 col-last">
            <div class="block-content">
                <code>col-4</code>
                <%= lorem_sentences(5) %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 block">
            <div class="block-content"><code>col-8</code></div>
        </div>
    </div>
    <h4 class="content-heading">區塊 <code>.block</code> 內的 grid</h4>
    <div class="row block">
        <div class="col-3">
            <div class="block-content"><%= lorem_sentences(5) %></div>
        </div>
        <div class="col-3">
            <div class="block-content"><%= lorem_sentences(5) %></div>
        </div>
        <div class="col-3">
            <div class="block-content"><%= lorem_sentences(5) %></div>
        </div>
        <div class="col-3 col-last">
            <div class="block-content"><%= lorem_sentences(5) %></div>
        </div>
    </div>
</div>