<!-- admin-page: 三欄垂直 tabs -->

<% content_for :replace_css do %>
    <link rel="stylesheet" media="screen" href="../stylesheets/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" media="screen, projection, print" href="../stylesheets/mdb.css">
    <link rel="stylesheet" media="screen, projection, print" href="../stylesheets/backend.css">
    <link rel="stylesheet" media="screen, projection, print" href="../stylesheets/jquery.fancybox.css">
    <!-- tree 套件 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css"
    />
    <style>
      .vakata-context {
        z-index: 999 !important;
      }
    </style>
    <!-- tree 套件結束 -->
<% end %>

<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
	
    <div class="page-header">
        <h2>三欄垂直 tabs</h2>
    </div>
	<div class="row">
		<div class="col-3">
            <div class="col-block">
                <div class="three-column has-tabs">
                    <div class="vertical-tabs">
                        <ul class="vertical-tab-item menu-item">
                            <% (1..2).each do |n| %>
                            <li><a href="#"><%= lorem_words(2) %></a></li>
                            <% end %>
							<li><a href="#" class="current">功能</a></li>
							<% (1..8).each do |n| %>
                            <li><a href="#"><%= lorem_words(2) %></a></li>
                            <% end %>
                        </ul>
                    </div>
					<div class="tree-wrapper">
                        <!-- tree 套件 -->
                        <div class="js-tree">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-success btn-sm" onclick="tree_create();">
                                        <i class="fa fa-plus"></i>
                                        <!-- 新增 -->
                                    </button>
                                    <button type="button" class="btn btn-warning btn-sm" onclick="tree_rename();">
                                        <i class="fa fa-pencil"></i>
                                        <!-- 重新命名 -->
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" onclick="tree_delete();">
                                        <i class="fa fa-times"></i>
                                        <!-- 移除 -->
                                    </button>
                                </div>
                                <div class="col-md-12" style="text-align: right;">
                                    <input type="text" value="" style="box-shadow: inset 0 0 4px #eee; width: 100%; margin: 10px 0; padding: 6px 12px; border-radius: 4px; border: 1px solid silver; font-size: 1.1em;" id="tree_q" placeholder="Search" />
                                </div>
                            </div>
                            <div id="jstree_demo" class="demo">
                                <ul>
                                    <li data-jstree='{ "opened" : true }'>
                                        Root node
                                        <ul>
                                            <li data-jstree='{ "selected" : true }'>
                                                Child node 1
                                            </li>
                                            <li>Child node 2</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- tree 套件結束 -->
                    </div>
				</div>
            </div>
		</div>
		<div class="col-3">
		    <div class="col-block">
			    <div class="block-content">
                    <form>
                        <div class="form-group">
                            <label for="sysCode"><span class="required"></span>系統代碼</label>
                            <input type="email" class="form-control" id="sysCode" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="functionName"><span class="required"></span>功能名稱</label>
                            <input type="text" class="form-control" id="functionName">
                        </div>
						<div class="form-group">
                            <label for="functionDescription">功能說明</label>
                            <textarea class="form-control" id="functionDescription" rows="4"></textarea>
                        </div>
						<div class="form-group">
                            <label for="featureLabel">特性標籤</label>
                            <input type="text" class="form-control" id="featureLabel">
                        </div>
                        <button type="submit" class="btn btn-primary">儲存</button>
						<button type="button" class="btn btn-link">關閉</button>
                    </form>
				</div>
			</div>
		</div>
		<div class="col-6">
            <div class="col-block">
                <div class="three-column has-tabs tabs-right">
                    <div class="vertical-tabs">
                        <ul class="vertical-tab-item menu-item">
                            <% (1..6).each do |n| %>
                            <li><a href="#"><%= lorem_words(2) %></a></li>
                            <% end %>
							<li><a href="#" class="current">工作任務</a></li>
							<% (1..2).each do |n| %>
                            <li><a href="#"><%= lorem_words(2) %></a></li>
                            <% end %>
                        </ul>
                    </div>
					<div class="content-wrapper">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Access</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% (1..6).map do |i| %>
                                <tr>
                                    <td><%= i %></td>
                                    <td><%= lorem_name %></td>
                                    <td class="hidden-xs">
                                        <% if i % 2 == 0 %>
                                        <span class="label label-warning"><%= lorem_word %></span>
                                        <% else %>
                                        <span class="label label-primary"><%= lorem_word %></span>
                                        <% end %>
                                    </td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-info" data-original-title="Edit Client"><i class="fa fa-pencil"></i></button>
                                            <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-info" data-original-title="Remove Client"><i class="fa fa-times"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
				</div>
            </div>
		</div>
	</div>
	
</main>

<% content_for :js do %>
<script src="../javascripts/jquery.fancybox.min.js"></script>
<script>
    $(function () {
		$('.sidebar-ctrler--label').on('click', function() {
            $('.page').toggleClass('page-pad-left')
        })
    });
    $(function() {
        // scroll 多少開始 fixed
        let topSpacing = 204;
        $('.page').scroll(function() {
            let top = $('.page').scrollTop();
            if (top > topSpacing) {
                $('.sticky-vertical_tabs').addClass('sticky-fixed')
            } else {
                $('.sticky-vertical_tabs').removeClass('sticky-fixed')
            }
        });
    });
</script>

<!-- tree 套件 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
 <script>
   function tree_create() {
     var ref = $("#jstree_demo").jstree(true),
       sel = ref.get_selected();
     // 這裡 sel 為父層(所點選) id
     if (!sel.length) {
       return false;
     }
     sel = sel[0];
     sel = ref.create_node(sel);
     // 這裡 sel 為子層(所新增) id
     console.log("新增", sel);
     if (sel) {
       // 編輯名稱
       ref.edit(sel);
     }
   }
   function tree_rename() {
     var ref = $("#jstree_demo").jstree(true),
       sel = ref.get_selected();
     if (!sel.length) {
       return false;
     }
     sel = sel[0];
     // 編輯名稱
     ref.edit(sel);
   }
   function tree_delete() {
     var ref = $("#jstree_demo").jstree(true),
       sel = ref.get_selected();
     if (!sel.length) {
       return false;
     }
     ref.delete_node(sel);
     console.log("刪除", sel);
   }

   $(function () {
     var to = false;
     $("#tree_q").keyup(function () {
       if (to) {
         clearTimeout(to);
       }
       to = setTimeout(function () {
         var v = $("#tree_q").val();
         $("#jstree_demo").jstree(true).search(v);
         console.log("搜尋", v);
       }, 250);
     });
     // tree init
     $("#jstree_demo")
       .jstree({
         core: {
           animation: 0,
           check_callback: true,
           force_text: true,
           themes: { stripes: true },
         },
         types: {
           "#": { max_children: 1, max_depth: 4, valid_children: ["root"] },
           root: {
             valid_children: ["default"],
           },
           default: { valid_children: ["default", "file"] },
           file: { icon: "glyphicon glyphicon-file", valid_children: [] },
         },
         plugins: [
           "contextmenu",
           "dnd",
           "search",
           "state",
           "types",
           "wholerow",
         ],
         contextmenu: {
           items: function ($node) {
             var tree = $("#jstree_demo").jstree(true);
             return {
               Create: {
                 separator_before: false,
                 separator_after: false,
                 label: "新增",
                 action: function (obj) {
                   tree_create();
                 },
               },
               Rename: {
                 separator_before: false,
                 separator_after: false,
                 label: "重新命名",
                 action: function (obj) {
                   tree_rename();
                 },
               },
               Remove: {
                 separator_before: false,
                 separator_after: false,
                 label: "移除",
                 action: function (obj) {
                   tree_delete();
                 },
               },
             };
           },
         },
       })
       .bind("move_node.jstree", function (e, data) {
         console.log("移動", e, data);
       })
       .bind("select_node.jstree", function (e, data) {
         console.log("點選", e, data);
       });
   });
 </script>
 <!-- tree 套件結束 -->
<% end %>