<!-- admin-page: Timeline -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>Timeline</h2>
    </div>
    <div class="timeline timeline-cross">
        <ul>
            <li class="time-warning">
                <div class="timeline-circ"></div>
                <div class="card">
                    <div class="card-body small-padding">
                        <span class="timeline-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 2018 年 5 月 3 日, 星期四</span>
                        <span class="text-medium">申請 <a href="###">未送出</a> 來自 <span class="info">工業工程學研究所</span></span>
                    </div>
                </div>
            </li>
            <li class="time-warning">
                <div class="timeline-circ"></div>
                <div class="card">
                    <div class="card-body small-padding">
                        <span class="timeline-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 2018 年 5 月 3 日, 星期四</span>
                        <span class="text-medium">審查結果 <a href="###">未通過</a> 來自 <span class="info">生醫電子與資訊學研究所</span></span>
                    </div>
                </div>
            </li>
            <li class="time-success">
                <div class="timeline-circ"></div>
                <div class="card">
                    <div class="card-body small-padding">
                        <span class="timeline-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 2018 年 5 月 3 日, 星期四</span>
                        <span class="text-medium">錄取作業 <a href="###">已發布</a> 來自 <span class="info">生物環境系統工程學系</span></span>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-circ"></div>
                <div class="card">
                    <div class="card-body small-padding">
                        <span class="timeline-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 2018 年 5 月 3 日, 星期四</span>
                        <span class="text-medium"><%= zh_lorem_sentence %> <a href="###"><%= zh_lorem_sentence %></a> 來自 <span class="info"><%= lorem_email %></span></span>
                    </div>
                </div>
            </li>
            <li class="time-warning">
                <div class="timeline-circ"></div>
                <div class="card">
                    <div class="card-body small-padding">
                        <span class="timeline-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 2018 年 5 月 3 日, 星期四</span>
                        <span class="text-medium"><%= zh_lorem_sentence %> <a href="###"><%= zh_lorem_sentence %></a> 來自 <span class="info"><%= zh_lorem_paragraph %></span></span>
                    </div>
                </div>
            </li>
            <li class="time-danger">
                <div class="timeline-circ"></div>
                <div class="card">
                    <div class="card-body small-padding">
                        <span class="timeline-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 2018 年 5 月 3 日, 星期四</span>
                        <span class="text-medium"><%= zh_lorem_paragraph %> <a href="###"><%= zh_lorem_sentence %></a> 來自 <span class="info"><%= zh_lorem_paragraph %></span></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">block timeline</div>
                <div class="block-content">
                    <div class="timeline block-timeline">
                        <ul>
                            <li class="time-warning">
                                <div class="timeline-circ"></div>
                                <div class="card">
                                    <div class="card-body small-padding">
                                        <span class="timeline-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 2018 年 5 月 3 日, 星期四</span>
                                        <span class="text-medium">申請 <a href="###">未送出</a> 來自 <span class="info">工業工程學研究所</span></span>
                                    </div>
                                </div>
                            </li>
                            <li class="time-warning">
                                <div class="timeline-circ"></div>
                                <div class="card">
                                    <div class="card-body small-padding">
                                        <span class="timeline-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 2018 年 5 月 3 日, 星期四</span>
                                        <span class="text-medium">審查結果 <a href="###">未通過</a> 來自 <span class="info">生醫電子與資訊學研究所</span></span>
                                    </div>
                                </div>
                            </li>
                            <li class="time-success">
                                <div class="timeline-circ"></div>
                                <div class="card">
                                    <div class="card-body small-padding">
                                        <span class="timeline-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 2018 年 5 月 3 日, 星期四</span>
                                        <span class="text-medium">錄取作業 <a href="###">已發布</a> 來自 <span class="info">生物環境系統工程學系</span></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-circ"></div>
                                <div class="card">
                                    <div class="card-body small-padding">
                                        <span class="timeline-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 2018 年 5 月 3 日, 星期四</span>
                                        <span class="text-medium"><%= zh_lorem_sentence %> <a href="###"><%= zh_lorem_sentence %></a> 來自 <span class="info"><%= lorem_email %></span></span>
                                    </div>
                                </div>
                            </li>
                            <li class="time-warning">
                                <div class="timeline-circ"></div>
                                <div class="card">
                                    <div class="card-body small-padding">
                                        <span class="timeline-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 2018 年 5 月 3 日, 星期四</span>
                                        <span class="text-medium"><%= zh_lorem_sentence %> <a href="###"><%= zh_lorem_sentence %></a> 來自 <span class="info"><%= zh_lorem_paragraph %></span></span>
                                    </div>
                                </div>
                            </li>
                            <li class="time-danger">
                                <div class="timeline-circ"></div>
                                <div class="card">
                                    <div class="card-body small-padding">
                                        <span class="timeline-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 2018 年 5 月 3 日, 星期四</span>
                                        <span class="text-medium"><%= zh_lorem_paragraph %> <a href="###"><%= zh_lorem_sentence %></a> 來自 <span class="info"><%= zh_lorem_paragraph %></span></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="col-block">
                <div class="block-header has-border">block timeline</div>
                <div class="block-content">
                    <div class="timeline block-timeline">
                        <ul>
                            <li class="time-warning">
                                <div class="timeline-circ"></div>
                                <div class="card">
                                    <div class="card-body small-padding">
                                        <span class="timeline-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 2018 年 5 月 3 日, 星期四</span>
                                        <span class="text-medium">申請 <a href="###">未送出</a> 來自 <span class="info">工業工程學研究所</span></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-circ"></div>
                                <div class="card">
                                    <div class="card-body small-padding">
                                        <span class="timeline-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 2018 年 5 月 3 日, 星期四</span>
                                        <span class="text-medium"><%= zh_lorem_sentence %> <a href="###"><%= zh_lorem_sentence %></a> 來自 <span class="info"><%= lorem_email %></span></span>
                                    </div>
                                </div>
                            </li>
                            <li class="time-warning">
                                <div class="timeline-circ"></div>
                                <div class="card">
                                    <div class="card-body small-padding">
                                        <span class="timeline-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 2018 年 5 月 3 日, 星期四</span>
                                        <span class="text-medium"><%= zh_lorem_sentence %> <a href="###"><%= zh_lorem_sentence %></a> 來自 <span class="info"><%= zh_lorem_paragraph %></span></span>
                                    </div>
                                </div>
                            </li>
                            <li class="time-danger">
                                <div class="timeline-circ"></div>
                                <div class="card">
                                    <div class="card-body small-padding">
                                        <span class="timeline-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 2018 年 5 月 3 日, 星期四</span>
                                        <span class="text-medium"><%= zh_lorem_paragraph %> <a href="###"><%= zh_lorem_sentence %></a> 來自 <span class="info"><%= zh_lorem_paragraph %></span></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="col-block">
                <div class="block-header has-border">block timeline</div>
                <div class="block-content">
                    <div class="timeline block-timeline">
                        <ul>
                            <li class="time-warning">
                                <div class="timeline-circ"></div>
                                <div class="card">
                                    <div class="card-body small-padding">
                                        <span class="timeline-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 2018 年 5 月 3 日, 星期四</span>
                                        <span class="text-medium">申請 <a href="###">未送出</a> 來自 <span class="info">工業工程學研究所</span></span>
                                    </div>
                                </div>
                            </li>
                            <li class="time-warning">
                                <div class="timeline-circ"></div>
                                <div class="card">
                                    <div class="card-body small-padding">
                                        <span class="timeline-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 2018 年 5 月 3 日, 星期四</span>
                                        <span class="text-medium">審查結果 <a href="###">未通過</a> 來自 <span class="info">生醫電子與資訊學研究所</span></span>
                                    </div>
                                </div>
                            </li>
                            <li class="time-success">
                                <div class="timeline-circ"></div>
                                <div class="card">
                                    <div class="card-body small-padding">
                                        <span class="timeline-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 2018 年 5 月 3 日, 星期四</span>
                                        <span class="text-medium">錄取作業 <a href="###">已發布</a> 來自 <span class="info">生物環境系統工程學系</span></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-circ"></div>
                                <div class="card">
                                    <div class="card-body small-padding">
                                        <span class="timeline-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 2018 年 5 月 3 日, 星期四</span>
                                        <span class="text-medium"><%= zh_lorem_sentence %> <a href="###"><%= zh_lorem_sentence %></a> 來自 <span class="info"><%= lorem_email %></span></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>