<!-- admin-page: UI / Typography -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<div class="main">
    <div class="page-header">
        <h1>Typography</h1>
        <p>Bootstrap style</p>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3 class="block-title">Headings <small>Bold</small></h3>
                </div>
                <div class="block-content">
                    <h1 class="font-w400">h1. Bootstrap heading</h1>
                    <h2 class="font-w400">h2. Bootstrap heading</h2>
                    <h3 class="font-w400">h3. Bootstrap heading</h3>
                    <h4 class="font-w400">h4. Bootstrap heading</h4>
                    <h5 class="font-w400">h5. Bootstrap heading</h5>
                    <h6 class="font-w400">h6. Bootstrap heading</h6>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3 class="block-title">Headings <small>Light</small></h3>
                </div>
                <div class="block-content">
                    <h1>h1. Bootstrap heading</h1>
                    <h2>h2. Bootstrap heading</h2>
                    <h3>h3. Bootstrap heading</h3>
                    <h4>h4. Bootstrap heading</h4>
                    <h5>h5. Bootstrap heading</h5>
                    <h6>h6. Bootstrap heading</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3 class="block-title">Labels</h3>
                </div>
                <div class="block-content">
                    <p>
                        <span class="badge badge-default">Default</span>
                        <span class="badge badge-primary">Primary</span>
                        <span class="badge badge-success">Success</span>
                        <span class="badge badge-info">Info</span>
                        <span class="badge badge-warning">Warning</span>
                        <span class="badge badge-danger">Danger</span>
                    </p>
                    <p>
                        <span class="badge badge-default"><i class="fa fa-home"></i> Home</span>
                        <span class="badge badge-primary"><i class="fa fa-cog"></i> Settings</span>
                        <span class="badge badge-success"><i class="fa fa-check"></i> Great!</span>
                        <span class="badge badge-info"><i class="fa fa-info-circle"></i> More Info</span>
                        <span class="badge badge-warning"><i class="fa fa-exclamation-circle"></i>  Attention</span>
                        <span class="badge badge-danger"><i class="fa fa-times-circle"></i> Error</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3 class="block-title">Badges</h3>
                </div>
                <div class="block-content">
                    <p>
                        <h1>This is the first heading <span class="badge red">New</span></h1>
                        <button type="button" class="btn btn-primary">
                            Notifications <span class="badge badge-light">4</span>
                        </button>
                        <a href="#">Messages <span class="badge badge-secondary">3</span></a>
                    </p>
                    <p>
                        <span class="badge badge-secondary"><i class="fa fa-home"></i> 100</span>
                        <span class="badge badge-secondary"><i class="fa fa-cog"></i> 1250</span>
                        <span class="badge badge-secondary"><i class="fa fa-check"></i> 6320</span>
                        <span class="badge badge-secondary"><i class="fa fa-info-circle"></i> 250</span>
                        <span class="badge badge-secondary"><i class="fa fa-exclamation-circle"></i>  151</span>
                        <span class="badge badge-secondary"><i class="fa fa-times-circle"></i> 630</span>
                    </p>
                    <p>
                        <span class="badge-pill badge-default"><i class="fa fa-home"></i> 100</span>
                        <span class="badge-pill badge-primary"><i class="fa fa-cog"></i> 1250</span>
                        <span class="badge-pill badge-success"><i class="fa fa-check"></i> 6320</span>
                        <span class="badge-pill badge-info"><i class="fa fa-info-circle"></i> 250</span>
                        <span class="badge-pill badge-warning"><i class="fa fa-exclamation-circle"></i>  151</span>
                        <span class="badge-pill badge-danger"><i class="fa fa-times-circle"></i> 630</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3 class="block-title">Links</h3>
                </div>
                <div class="block-content">
                    <div class="row">
                        <div class="col-4"><a href="/">Default link</a></div>
                        <div class="col-4"><a href="/" class="badge badge-primary">Label link</a></div>
                        <div class="col-4"><a href="/" class="btn btn-primary">btn link</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">        
        <div class="col-4">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3 class="block-title">Contextual Colors</h3>
                </div>
                <div class="block-content">
                    <p class="text-success">This text has the success color..</p>
                    <p class="text-info">This text has the info color..</p>
                    <p class="text-warning">This text has the warning color..</p>
                    <p class="text-danger">This text has the danger color..</p>
                    <p class="text-muted">This text has the muted color..</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3 class="block-title">Contextual Backgrounds</h3>
                </div>
                <div class="block-content">
                    <p class="content-mini content-mini-full bg-success">Success</p>
                    <p class="content-mini content-mini-full bg-info">Info</p>
                    <p class="content-mini content-mini-full bg-warning">Warning</p>
                    <p class="content-mini content-mini-full bg-danger">Danger</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3 class="block-title">Highlight</h3>
                </div>
                <div class="block-content">
                    <div class="row">
                        <p>You can use the mark tag to <mark>highlight</mark> text.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-block">
            <div class="block-header">
                <h3 class="block-title">List</h3>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="block-content">
                        <h3 class="push">Unordered List</h3>
                        <ul>
                            <li><%= lorem_sentence %></li>
                            <li><%= lorem_sentence %></li>
                            <li>
                                Sublist
                                <ul>
                                    <li>First subitem</li>
                                    <li>Second subitem</li>
                                    <li>Third subitem</li>
                                </ul>
                            </li>
                            <li><%= lorem_sentence %></li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div class="block-content">
                        <h3 class="push">Ordered List</h3>
                        <ol>
                            <li><%= lorem_sentence %></li>
                            <li><%= lorem_sentence %></li>
                            <li>
                                Sublist
                                <ol>
                                    <li>First subitem</li>
                                    <li>Second subitem</li>
                                    <li>Third subitem</li>
                                </ol>
                            </li>
                            <li><%= lorem_sentence %></li>
                        </ol>
                    </div>
                </div>
                <div class="col-3">
                    <div class="block-content">
                        <h3 class="push">Icon List</h3>
                        <ul class="fa-ul">
                            <li><i class="fa fa-check fa-li"></i> <%= lorem_sentence %></li>
                            <li><i class="fa fa-check fa-li"></i> <%= lorem_sentence %></li>
                            <li>
                                Sublist
                                <ul class="fa-ul">
                                    <li><i class="fa fa-angle-right fa-li"></i> First subitem</li>
                                    <li><i class="fa fa-angle-right fa-li"></i> Second subitem</li>
                                    <li><i class="fa fa-angle-right fa-li"></i> Third subitem</li>
                                </ul>
                            </li>
                            <li><i class="fa fa-check fa-li"></i> <%= lorem_sentence %></li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div class="block-content">
                        <h3 class="push">Unstyled List</h3>
                        <ul class="fa-ul">
                            <li><%= lorem_sentence %></li>
                            <li><%= lorem_sentence %></li>
                            <li>
                                Sublist
                                <ul>
                                    <li>First subitem</li>
                                    <li>Second subitem</li>
                                    <li>Third subitem</li>
                                </ul>
                            </li>
                            <li><%= lorem_sentence %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>