<!-- admin-page: UI / Typography -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<div class="main">
    <div class="page-header">
        <h1>Typography / Color</h1>
        <p>Bootstrap style</p>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3 class="block-title">Headings <small>Bold</small></h3>
                </div>
                <div class="block-content">
                    <h1 class="font-w400">h1. Bootstrap heading</h1>
                    <h2 class="font-w400">h2. Bootstrap heading</h2>
                    <h3 class="font-w400">h3. Bootstrap heading</h3>
                    <h4 class="font-w400">h4. Bootstrap heading</h4>
                    <h5 class="font-w400">h5. Bootstrap heading</h5>
                    <h6 class="font-w400">h6. Bootstrap heading</h6>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3 class="block-title">Headings <small>Light</small></h3>
                </div>
                <div class="block-content">
                    <h1>h1. Bootstrap heading</h1>
                    <h2>h2. Bootstrap heading</h2>
                    <h3>h3. Bootstrap heading</h3>
                    <h4>h4. Bootstrap heading</h4>
                    <h5>h5. Bootstrap heading</h5>
                    <h6>h6. Bootstrap heading</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3 class="block-title">Labels</h3>
                </div>
                <div class="block-content">
                    <p>
                        <span class="badge badge-default">Default</span>
                        <span class="badge badge-primary">Primary</span>
                        <span class="badge badge-success">Success</span>
                        <span class="badge badge-info">Info</span>
                        <span class="badge badge-warning">Warning</span>
                        <span class="badge badge-danger">Danger</span>
                    </p>
                    <p>
                        <span class="badge badge-default"><i class="fa fa-home"></i> Home</span>
                        <span class="badge badge-primary"><i class="fa fa-cog"></i> Settings</span>
                        <span class="badge badge-success"><i class="fa fa-check"></i> Great!</span>
                        <span class="badge badge-info"><i class="fa fa-info-circle"></i> More Info</span>
                        <span class="badge badge-warning"><i class="fa fa-exclamation-circle"></i>  Attention</span>
                        <span class="badge badge-danger"><i class="fa fa-times-circle"></i> Error</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3 class="block-title">Badges</h3>
                </div>
                <div class="block-content">
                    <p>
                        <h1>This is the first heading <span class="badge red">New</span></h1>
                        <button type="button" class="btn btn-primary">
                            Notifications <span class="badge badge-light">4</span>
                        </button>
                        <a href="#">Messages <span class="badge badge-secondary">3</span></a>
                    </p>
                    <p>
                        <span class="badge badge-secondary"><i class="fa fa-home"></i> 100</span>
                        <span class="badge badge-secondary"><i class="fa fa-cog"></i> 1250</span>
                        <span class="badge badge-secondary"><i class="fa fa-check"></i> 6320</span>
                        <span class="badge badge-secondary"><i class="fa fa-info-circle"></i> 250</span>
                        <span class="badge badge-secondary"><i class="fa fa-exclamation-circle"></i>  151</span>
                        <span class="badge badge-secondary"><i class="fa fa-times-circle"></i> 630</span>
                    </p>
                    <p>
                        <span class="badge-pill badge-default"><i class="fa fa-home"></i> 100</span>
                        <span class="badge-pill badge-primary"><i class="fa fa-cog"></i> 1250</span>
                        <span class="badge-pill badge-success"><i class="fa fa-check"></i> 6320</span>
                        <span class="badge-pill badge-info"><i class="fa fa-info-circle"></i> 250</span>
                        <span class="badge-pill badge-warning"><i class="fa fa-exclamation-circle"></i>  151</span>
                        <span class="badge-pill badge-danger"><i class="fa fa-times-circle"></i> 630</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3 class="block-title">Links</h3>
                </div>
                <div class="block-content">
                    <div class="row">
                        <div class="col-4"><a href="/">Default link</a></div>
                        <div class="col-4"><a href="/" class="badge badge-primary">Label link</a></div>
                        <div class="col-4"><a href="/" class="btn btn-primary">btn link</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">        
        <div class="col-4">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3 class="block-title">Contextual Colors</h3>
                </div>
                <div class="block-content">
					<p class="red-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<p class="pink-text">Impedit architecto, totam hic sunt eum odio, deleniti.</p>
					<p class="purple-text">Similique ex, expedita minus assumenda a magni beatae dolorum itaque.</p>
					<p class="deep-purple-text">Veritatis eum libero nam, adipisci, necessitatibus eos.</p>
					<p class="indigo-text">Sapiente, ea. Molestias sunt nihil saepe numquam quas perferendis.</p>
					<p class="blue-text">Sapiente sit, possimus maiores, quo alias corporis cum eum nesciunt.</p>
					<p class="light-blue-text">Corrupti adipisci, praesentium iusto eos, iure debitis modi.</p>
					<p class="cyan-text">Odio autem veritatis aliquam consequuntur ea voluptatibus.</p>
					<p class="teal-text">Similique, adipisci ea, sequi magnam sit inventore.</p>
					<p class="green-text">Eos et vitae, odit deserunt dignissimos voluptas.</p>
					<p class="light-green-text">Fugit nihil numquam inventore accusantium tenetur ex est.</p>
					<p class="lime-text">Sed odit inventore illum excepturi officia, reiciendis numquam modi.</p>
					<p class="yellow-text">At odio animi distinctio, aut enim tempora nobis error odit mollitia.</p>
					<p class="amber-text">Quo at accusamus vel earum hic, inventore non, minima sint.</p>
					<p class="orange-text">Iusto odit eos distinctio temporibus voluptates ad, illo repellat.</p>
					<p class="deep-orange-text">Quas fugit fuga assumenda nihil esse et culpa reiciendis voluptatum.</p>
					<p class="brown-text">Excepturi iusto amet sunt illo ad debitis quibusdam eius, consequatur.</p>
					<p class="grey-text">Non sint nulla incidunt, odit repellat tempore, veniam ratione fugit.</p>
					<p class="blue-grey-text">Eius, provident. Quo similique, repellat atque voluptas explicabo odio.</p>
					<p class="white-text">In consequuntur error, non consequatur expedita maxime dolorum.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3 class="block-title">Contextual Backgrounds</h3>
                </div>
                <div class="block-content">
                    <p class="content-mini content-mini-full bg-success">Success</p>
                    <p class="content-mini content-mini-full bg-info">Info</p>
                    <p class="content-mini content-mini-full bg-warning">Warning</p>
                    <p class="content-mini content-mini-full bg-danger">Danger</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3 class="block-title">Highlight</h3>
                </div>
                <div class="block-content">
                    <div class="row">
                        <p>You can use the mark tag to <mark>highlight</mark> text.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
		<div class="col-md-3">
			<div class="color-block p-3 danger-color z-depth-2">
				<h6 class="mb-0 text-white">danger-color</h6>
				<h6 class="mb-0 text-white">#ff4444</h6>
			</div>
			<div class="color-block-dark p-3 danger-color-dark z-depth-2">
				<h6 class="mb-0 text-white">danger-color-dark</h6>
				<h6 class="mb-0 text-white">#CC0000</h6>
			</div>

		</div>

		<div class="col-md-3">
			<div class="color-block p-3 warning-color z-depth-2">
				<h6 class="mb-0 text-white">warning-color</h6>
				<h6 class="mb-0 text-white">#ffbb33</h6>
			</div>
			<div class="color-block-dark p-3 warning-color-dark z-depth-2">
				<h6 class="mb-0 text-white">warning-color-dark</h6>
				<h6 class="mb-0 text-white">#FF8800</h6>
			</div>

		</div>

		<div class="col-md-3">
			<div class="color-block p-3 success-color z-depth-2">
				<h6 class="mb-0 text-white">success-color</h6>
				<h6 class="mb-0 text-white">#00C851</h6>
			</div>
			<div class="color-block-dark p-3 success-color-dark z-depth-2">
				<h6 class="mb-0 text-white">success-color-dark</h6>
				<h6 class="mb-0 text-white">#007E33</h6>
			</div>

		</div>

		<div class="col-md-3">

			<div class="color-block p-3 info-color z-depth-2">
				<h6 class="mb-0 text-white">info-color</h6>
				<h6 class="mb-0 text-white">#33b5e5</h6>
			</div>
			<div class="color-block-dark p-3 info-color-dark z-depth-2">
				<h6 class="mb-0 text-white">info-color-dark</h6>
				<h6 class="mb-0 text-white">#0099CC</h6>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="color-block p-3 default-color z-depth-2">
				<h6 class="mb-0 text-white">default-color</h6>
				<h6 class="mb-0 text-white">#2BBBAD</h6>
			</div>
			<div class="color-block-dark p-3 default-color-dark z-depth-2">
				<h6 class="mb-0 text-white">default-color-dark</h6>
				<h6 class="mb-0 text-white">#00695c</h6>
			</div>

		</div>

		<div class="col-md-4">
			<div class="color-block p-3 primary-color z-depth-2">
				<h6 class="mb-0 text-white">primary-color</h6>
				<h6 class="mb-0 text-white">#4285F4</h6>
			</div>
			<div class="color-block-dark p-3 primary-color-dark z-depth-2">
				<h6 class="mb-0 text-white">primary-color-dark</h6>
				<h6 class="mb-0 text-white">#0d47a1</h6>
			</div>

		</div>

		<div class="col-md-4">
			<div class="color-block p-3 secondary-color z-depth-2">
				<h6 class="mb-0 text-white">secondary-color</h6>
				<h6 class="mb-0 text-white">#aa66cc</h6>
			</div>
			<div class="color-block-dark p-3 secondary-color-dark z-depth-2">
				<h6 class="mb-0 text-white">secondary-color-dark</h6>
				<h6 class="mb-0 text-white">#9933CC</h6>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="color-block p-3 elegant-color z-depth-2">
				<h6 class="mb-0 text-white">elegant-color</h6>
				<h6 class="mb-0 text-white">#2E2E2E</h6>
			</div>
			<div class="color-block-dark p-3 elegant-color-dark z-depth-2">
				<h6 class="mb-0 text-white">elegant-color-dark</h6>
				<h6 class="mb-0 text-white">#212121</h6>
			</div>

		</div>

		<div class="col-md-3">
			<div class="color-block p-3 stylish-color z-depth-2">
				<h6 class="mb-0 text-white">stylish-color</h6>
				<h6 class="mb-0 text-white">#4B515D</h6>
			</div>
			<div class="color-block-dark p-3 stylish-color-dark z-depth-2">
				<h6 class="mb-0 text-white">stylish-color-dark</h6>
				<h6 class="mb-0 text-white">#3E4551</h6>
			</div>

		</div>

		<div class="col-md-3">
			<div class="color-block p-3 unique-color z-depth-2">
				<h6 class="mb-0 text-white">unique-color</h6>
				<h6 class="mb-0 text-white">#3F729B</h6>
			</div>
			<div class="color-block-dark p-3 unique-color-dark z-depth-2">
				<h6 class="mb-0 text-white">unique-color-dark</h6>
				<h6 class="mb-0 text-white">#1C2331</h6>
			</div>

		</div>

		<div class="col-md-3">
			<div class="color-block p-3 special-color z-depth-2">
				<h6 class="mb-0 text-white">special-color</h6>
				<h6 class="mb-0 text-white">#37474F</h6>
			</div>
			<div class="color-block-dark p-3 special-color-dark z-depth-2">
				<h6 class="mb-0 text-white">special-color-dark</h6>
				<h6 class="mb-0 text-white">#263238</h6>
			</div>

		</div>
	</div>
    <div class="row">
        <div class="col-block">
            <div class="block-header">
                <h3 class="block-title">List</h3>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="block-content">
                        <h3 class="push">Unordered List</h3>
                        <ul>
                            <li><%= lorem_sentence %></li>
                            <li><%= lorem_sentence %></li>
                            <li>
                                Sublist
                                <ul>
                                    <li>First subitem</li>
                                    <li>Second subitem</li>
                                    <li>Third subitem</li>
                                </ul>
                            </li>
                            <li><%= lorem_sentence %></li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div class="block-content">
                        <h3 class="push">Ordered List</h3>
                        <ol>
                            <li><%= lorem_sentence %></li>
                            <li><%= lorem_sentence %></li>
                            <li>
                                Sublist
                                <ol>
                                    <li>First subitem</li>
                                    <li>Second subitem</li>
                                    <li>Third subitem</li>
                                </ol>
                            </li>
                            <li><%= lorem_sentence %></li>
                        </ol>
                    </div>
                </div>
                <div class="col-3">
                    <div class="block-content">
                        <h3 class="push">Icon List</h3>
                        <ul class="fa-ul">
                            <li><i class="fa fa-check fa-li"></i> <%= lorem_sentence %></li>
                            <li><i class="fa fa-check fa-li"></i> <%= lorem_sentence %></li>
                            <li>
                                Sublist
                                <ul class="fa-ul">
                                    <li><i class="fa fa-angle-right fa-li"></i> First subitem</li>
                                    <li><i class="fa fa-angle-right fa-li"></i> Second subitem</li>
                                    <li><i class="fa fa-angle-right fa-li"></i> Third subitem</li>
                                </ul>
                            </li>
                            <li><i class="fa fa-check fa-li"></i> <%= lorem_sentence %></li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div class="block-content">
                        <h3 class="push">Unstyled List</h3>
                        <ul class="fa-ul">
                            <li><%= lorem_sentence %></li>
                            <li><%= lorem_sentence %></li>
                            <li>
                                Sublist
                                <ul>
                                    <li>First subitem</li>
                                    <li>Second subitem</li>
                                    <li>Third subitem</li>
                                </ul>
                            </li>
                            <li><%= lorem_sentence %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>