<!-- admin-page: Table / Styles2 -->
<%= render :partial => "/partials/admin_breadcrumb" %>
<main class="main">
    <div class="page-header">
        <h2>Table Styles</h2>
        <p>Bootstrap & MDBootstrap style</p>
    </div>
    <div class="col-block">
        <div class="block-header bg-darkgray">
            <h4>接待家庭</h4>
        </div>
        <div class="block-content expansion">
            <div class="mb-4">
                <h5 class="ms-3 mt-4 fw-bold">會員</h5>
                <table class="table table-vertical-middle">
                    <thead>
                        <tr>
                            <th style="width: 50px;" class="text-center">#</th>
                            <th>Name</th>
                            <th style="width: 15%;" class="hidden-xs">Access</th>
                            <th style="width: 100px;" class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% (1..6).map do |i| %>
                        <tr>
                            <td class="text-center"><%= i %></td>
                            <td><%= lorem_name %></td>
                            <td class="hidden-xs">
                                <% if i % 2 == 0 %>
                                <span class="label label-warning"><%= lorem_word %></span>
                                <% else %>
                                <span class="label label-primary"><%= lorem_word %></span>
                                <% end %>
                            </td>
                            <td class="text-center">
                                <div class="btn-group btn-group-sm unshadow">
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-white" data-original-title="Edit Client"><i class="fas fa-pencil-alt"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-white" data-original-title="Remove Client"><i class="fa fa-times"></i></button>
                                </div>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div>
                <h5 class="ms-3 mt-4 fw-bold">活動</h5>
                <table class="table table-vertical-middle">
                    <thead>
                        <tr>
                            <th style="width: 50px;" class="text-center">#</th>
                            <th>Name</th>
                            <th style="width: 15%;" class="hidden-xs">Access</th>
                            <th style="width: 100px;" class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% (1..6).map do |i| %>
                        <tr>
                            <td class="text-center"><%= i %></td>
                            <td><%= lorem_name %></td>
                            <td class="hidden-xs">
                                <% if i % 2 == 0 %>
                                <span class="label label-warning"><%= lorem_word %></span>
                                <% else %>
                                <span class="label label-primary"><%= lorem_word %></span>
                                <% end %>
                            </td>
                            <td class="text-center">
                                <div class="btn-group btn-group-sm unshadow">
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-white" data-original-title="Edit Client"><i class="fas fa-pencil-alt"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-white" data-original-title="Remove Client"><i class="fa fa-times"></i></button>
                                </div>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="col-block">
        <div class="block-header bg-darkgray">
            <h4>大專院校</h4>
        </div>
        <div class="block-content expansion">
            <div class="mb-4">
                <h5 class="ms-3 mt-4 fw-bold">會員</h5>
                <table class="table table-vertical-middle">
                    <thead>
                        <tr>
                            <th style="width: 50px;" class="text-center">#</th>
                            <th>Name</th>
                            <th style="width: 15%;" class="hidden-xs">Access</th>
                            <th style="width: 100px;" class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% (1..6).map do |i| %>
                        <tr>
                            <td class="text-center"><%= i %></td>
                            <td><%= lorem_name %></td>
                            <td class="hidden-xs">
                                <% if i % 2 == 0 %>
                                <span class="label label-warning"><%= lorem_word %></span>
                                <% else %>
                                <span class="label label-primary"><%= lorem_word %></span>
                                <% end %>
                            </td>
                            <td class="text-center">
                                <div class="btn-group btn-group-sm unshadow">
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-white" data-original-title="Edit Client"><i class="fas fa-pencil-alt"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-white" data-original-title="Remove Client"><i class="fa fa-times"></i></button>
                                </div>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div>
                <h5 class="ms-3 mt-4 fw-bold">活動</h5>
                <table class="table table-vertical-middle">
                    <thead>
                        <tr>
                            <th style="width: 50px;" class="text-center">#</th>
                            <th>Name</th>
                            <th style="width: 15%;" class="hidden-xs">Access</th>
                            <th style="width: 100px;" class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% (1..6).map do |i| %>
                        <tr>
                            <td class="text-center"><%= i %></td>
                            <td><%= lorem_name %></td>
                            <td class="hidden-xs">
                                <% if i % 2 == 0 %>
                                <span class="label label-warning"><%= lorem_word %></span>
                                <% else %>
                                <span class="label label-primary"><%= lorem_word %></span>
                                <% end %>
                            </td>
                            <td class="text-center">
                                <div class="btn-group btn-group-sm unshadow">
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-white" data-original-title="Edit Client"><i class="fas fa-pencil-alt"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-white" data-original-title="Remove Client"><i class="fa fa-times"></i></button>
                                </div>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>


<% content_for :js do %>
    <script>
		$(document).ready(function() {
		   $('.mdb-select').materialSelect();
		 });
    </script>
<% end %>