<!-- template: 歷史認證情形 -->

<div class="container-lg">
    <%= render :partial => "/partials/breadcrumb" %>
    
	<div class="page-content">
	    <aside class="aside offcanvas-collapse">
			<div class="scrollbar-inner">
		        <div class="sidenav">
                    <ul class="side-navigation menu-item">
                        <li>
							<a class="nav-item current" href="#">歷史認證紀錄</a>
						</li>
						<li>
							<a class="nav-item" href="#">服務/研習申請紀錄</a>
						</li>
						<li>
							<a class="nav-item" href="#">成果認定申請紀錄</a>
						</li>
                    </ul>
				</div>
			</div>
		</aside>
		<div id="widget-overlay"></div>
        
		<main class="main">
            
            <span class="sidemenu-toggler">
                <button class="navbar-toggler button-widget" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                    <span class="hamburger">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </span>
                </button>
            </span>
            
            <div class="page-title">
			    <h3>歷史申請與認證查詢</h3>
			</div>
            
            <div class="basic-notice">
                <p><%= lorem_paragraph %></p>
                <p><%= lorem_paragraph %></p>
            </div>
            
            <div class="table-responsive text-nowrap">
                <table class="table align-middle border-dashed">
                    <thead>
                        <tr>
                            <th></th>
                            <th>認定輪次</th>
                            <th class="text-center">認證天數</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <% (1..9).map do |i| %>
                        <tr>
                            <td><a href="#" class="btn btn-sm btn-outline-secondary btn-rounded">檢視申請紀錄</a></td>
                            <td>2024/01/0<%= i %> ~ 2025/12/31</td>
                            <td class="text-center">1<%= i %>0</td>
                        </tr>
                        <% end %>
                        
                    </tbody>
                </table>
            </div>
            
            <nav aria-label="...">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link">上一頁</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">下一頁</a>
                    </li>
                </ul>
            </nav>
		</main>
	</div>
</div>



<% content_for :js do %>

<% end %>

