<!-- template: 歷史認證情形 - 深耕服務/深度研習申請紀錄 -->

<div class="container-lg">
    <%= render :partial => "/partials/breadcrumb" %>
    
	<div class="page-content">
	    <aside class="aside offcanvas-collapse">
			<div class="scrollbar-inner">
		        <div class="sidenav">
                    <ul class="side-navigation menu-item">
                        <li>
							<a class="nav-item" href="#">歷史認證紀錄</a>
						</li>
						<li>
							<a class="nav-item current" href="#">服務/研習申請紀錄</a>
						</li>
						<li>
							<a class="nav-item" href="#">成果認定申請紀錄</a>
						</li>
                    </ul>
				</div>
			</div>
		</aside>
		<div id="widget-overlay"></div>
        
		<main class="main">
            
            <span class="sidemenu-toggler">
                <button class="navbar-toggler button-widget" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                    <span class="hamburger">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </span>
                </button>
            </span>
            
            <div class="page-title">
			    <h3>歷史申請與認證查詢</h3>
			</div>
            
            <div class="basic-notice">
                <p><%= lorem_paragraph %></p>
                <p><%= lorem_paragraph %></p>
            </div>
            
            <div class="search-bar">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="查詢" aria-describedby="button-addon" />
                    <button class="btn btn-secondary" type="button" id="button-addon"><i class="fas fa-search"></i></button>
                </div>
            </div>
            
            <div class="table-responsive text-nowrap">
                <table class="table align-middle border-dashed">
                    <thead>
                        <tr>
                            <th></th>
                            <th>申請序號</th>
                            <th>實地服務或研究主題</th>
                            <th>執行期程</th>
                            <th class="text-end">審查狀態</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <% (1..5).map do |i| %>
                        <tr>
                            <td><a href="#" class="btn btn-sm btn-info btn-rounded">檢視</a></td>
                            <td>ABC1234</td>
                            <td><%= lorem_words(7) %></td>
                            <td>2024/01/01 ~ 2024/12/31</td>
                            <td class="text-end">{字串}</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="btn btn-sm btn-warning btn-rounded">補件</a></td>
                            <td>XYZ9876</td>
                            <td><%= lorem_words(7) %></td>
                            <td>2024/01/01 ~ 2024/12/31</td>
                            <td class="text-end">{字串}</td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            
            <nav aria-label="...">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link">上一頁</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">下一頁</a>
                    </li>
                </ul>
            </nav>
		</main>
	</div>
</div>



<% content_for :js do %>

<% end %>

