<!-- template: 最新消息(單篇) -->

<div class="container-lg">
    <%= render :partial => "/partials/breadcrumb" %>
    
	<div class="page-content d-block">
        
        <article class="article">
            
            <div class="article-title">
                <h3>助園區廠商培育優質科技產業人才虎科大參與中科人才培育計畫</h3>
                <span class="date"><i class="far fa-clock"></i>2022-01-01</span>
            </div>
            
            <div class="posted-wrapper">
                <h4><%= zh_lorem_sentence %></h4>
                <% (1..2).map do |i| %>
                <h5><%= zh_lorem_sentence %></h5>
                <p><%= zh_lorem_paragraphs(4) %></p>
                <p><%= zh_lorem_paragraphs(6) %></p>
                <% end %>
            </div>
            
            <div class="attach-files">
                <% (1..3).map do |i| %>
                <a href="#"><span><%= lorem_words(2) %>.pdf</span></a>
                <% end %>
            </div>
            
            <div class="text-center">
                <button type="button" class="btn btn-lg btn-dark btn-rounded">
                    <i class="fas fa-long-arrow-alt-left"></i>
                    返回
                </button>
            </div>
            
        </article>
        
	</div>
</div>


<% content_for :js do %>


<% end %>










