<!-- template: 成果認定 - 申請表預覽 -->

<div class="container-lg">
    <%= render :partial => "/partials/breadcrumb" %>

	<div class="page-content d-block">
        
        <div class="step-wrapper">
            <div class="scrollbar-inner">
                <ul class="step-menu menu-item">
                    <li class="step-item done">
                        <span class="number">1</span>
                        <span class="description">填寫申請表</span>
                    </li>
                    <li class="step-item done">
                        <span class="number">2</span>
                        <span class="description">選擇研習期間</span>
                    </li>
                    <li class="step-item done">
                        <span class="number">3</span>
                        <span class="description">上傳附件</span>
                    </li>
                    <li class="step-item current">
                        <span class="number">4</span>
                        <span class="description">送出申請</span>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="basic-notice">
            <p><%= lorem_paragraph %></p>
            <p><%= lorem_paragraph %></p>
        </div>
        
        <div class="application-date">
            申請日期<span>2024-08-10</span>
        </div>
        
        <section class="section">
            <div class="section-title">
                <h4>申請人</h4>
            </div>
            
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label class="form-label">主聘單位</label>
                        <div>材料與光電科學學系前瞻應用材料</div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label class="form-label">教師姓名</label>
                        <div><%= zh_lorem_name %></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label class="form-label">聯絡電話</label>
                        <div>0912345678</div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <div><%= lorem_email %></div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section">
            <div class="section-title">
                <h4>認定輪次</h4>
            </div>
            <p>僅提供追認輪次及當輪次之認定，並以追認輪次為優先選項</p>
            
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="resultsDate" id="inlineRadio1" value="option1" disabled readonly/>
                    <label class="form-check-label" for="inlineRadio1">2010/01/01 ~ 2015/12/31</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="resultsDate" id="inlineRadio2" value="option2" checked disabled readonly/>
                    <label class="form-check-label" for="inlineRadio2">2016/01/01 ~ 2021/12/31</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="resultsDate" id="inlineRadio3" value="option3" disabled readonly/>
                    <label class="form-check-label" for="inlineRadio3">2022/01/01 ~ 2027/12/31</label>
                </div>
            </div>

        </section>
        
        <section class="section">
            <div class="section-title">
                <h4>執行成果內容</h4>
            </div>
            <div class="form-group">
                <label class="form-label">形式類別</label>
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="resultsContent1" disabled readonly/>
                        <label class="form-check-label" for="resultsContent1">
                            形式一：教師至合作機構或產業實地服務或研究
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="resultsContent2" disabled readonly/>
                        <label class="form-check-label" for="resultsContent2">
                            形式二：教師至合作機構或產業進行產學合作計畫案
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="resultsContent3" checked disabled readonly/>
                        <label class="form-check-label" for="resultsContent3">
                            形式三：教師參與學校與合作機構或產業共同規劃辦理之深度實務研習
                        </label>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section">
            <div class="section-title">
                <h4>教師進行產業研習或研究成效</h4>
            </div>
            <div class="form-group">
                <label class="form-label">對產業發展有貢獻之成果</label>
                <div class="has-other">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="resultsContribution1" checked disabled readonly/>
                        <label class="form-check-label" for="resultsContribution1">
                            技術移轉
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="resultsContribution2" disabled readonly/>
                        <label class="form-check-label" for="resultsContribution2">
                            商品化
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="resultsContribution3" disabled readonly/>
                        <label class="form-check-label" for="resultsContribution3">
                            專利申請
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="resultsContribution4" checked disabled readonly/>
                        <label class="form-check-label" for="resultsContribution3">
                            輔導產業申請相關計畫
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="resultsContribution5" checked disabled readonly/>
                        <label class="form-check-label" for="resultsContribution5">
                            協助產業參與相關競賽或展覽
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="resultsContribution6" disabled readonly/>
                        <label class="form-check-label" for="resultsContribution6">
                            協助產業技術升級
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="resultsContribution7" checked disabled readonly/>
                        <label class="form-check-label" for="resultsContribution7">
                            協助產業增加產值
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="resultsContribution8" disabled readonly/>
                        <label class="form-check-label" for="resultsContribution8">
                            協助產業員工訓練
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="resultsContribution9" disabled readonly/>
                        <label class="form-check-label" for="resultsContribution9">
                            協助產業改善顧客服務
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="resultsContribution10" checked disabled readonly/>
                        <label class="form-check-label" for="resultsContribution10">
                            其他
                        </label>
                    </div>
                    <div class="check-input"><input type="text" class="form-control" value="<%= zh_lorem_words(8) %>"  id=""></div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="form-label">對產業發展有貢獻之成果</label>
                <div class="has-other">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="resultsTeaching1" checked disabled readonly />
                        <label class="form-check-label" for="resultsTeaching1">
                            技術報告升等
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="resultsTeaching2" disabled readonly />
                        <label class="form-check-label" for="resultsTeaching2">
                            實務課程開設
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="resultsTeaching3" checked disabled readonly />
                        <label class="form-check-label" for="resultsTeaching3">
                            實務教材製作
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="resultsTeaching4" checked disabled readonly />
                        <label class="form-check-label" for="resultsTeaching4">
                            產業新知導入教學
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="resultsTeaching5" checked disabled readonly />
                        <label class="form-check-label" for="resultsTeaching5">
                            實務專題指導
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="resultsTeaching6" disabled readonly />
                        <label class="form-check-label" for="resultsTeaching6">
                            產業提供校外實習機會
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="resultsTeaching7" checked disabled readonly />
                        <label class="form-check-label" for="resultsTeaching7">
                            產業提供業師協同教學
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="resultsTeaching8" disabled readonly />
                        <label class="form-check-label" for="resultsTeaching8">
                            其他
                        </label>
                    </div>
                    <div class="check-input"><input type="text" class="form-control" id=""></div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="form-label">教師所進行的產業研習或研究合作機構之類型</label>
                <div class="has-other">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="institutionType1" checked disabled readonly />
                        <label class="form-check-label" for="institutionType1">
                            政府機關
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="institutionType2" checked disabled readonly />
                        <label class="form-check-label" for="institutionType2">
                            企業
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="institutionType3" disabled readonly />
                        <label class="form-check-label" for="institutionType3">
                            財團法人或社團法人
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="institutionType4" checked disabled readonly />
                        <label class="form-check-label" for="institutionType4">
                            公私立醫療機構或護理機構
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="institutionType5" disabled readonly />
                        <label class="form-check-label" for="institutionType5">
                            執行業務之事務所
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="institutionType6" disabled readonly />
                        <label class="form-check-label" for="institutionType6">
                            其他單位
                        </label>
                    </div>
                    <div class="check-input"><input type="text" class="form-control" id=""></div>
                </div>
            </div>
        </section>
        
        <section class="section">
            
            <div class="page-title">
                <h3>選擇研習期間</h3>
            </div>
            
            <div class="section-title">
                <h4>形式一：教師至合作機構或產業實地服務或研究</h4>
            </div>
            <div class="form-group">
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="formCheck01" disabled readonly />
                        <label class="form-check-label" for="formCheck01">
                            2024-01-01 ~ 2024-08-01 <%= zh_lorem_words(12) %>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="formCheck02" checked disabled readonly />
                        <label class="form-check-label" for="formCheck02">
                            2025-01-01 ~ 2025-08-01 <%= zh_lorem_words(16) %>
                        </label>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section">
            <div class="section-title">
                <h4>形式二：教師至合作機構或產業進行產學合作計畫案</h4>
            </div>
            
            <div class="table-responsive text-nowrap">
                
                <!-- table 有多 .table-preview -->
                <table class="table table-preview">
                    <thead>
                        <tr>
                            <th></th>
                            <th>計畫核定編號</th>
                            <th>計畫名稱</th>
                            <th>計畫起訖日期</th>
                            <th class="text-center">累計期間</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% (1..2).map do |i| %>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="formCheck1<%= i %>" checked disabled readonly />
                                    <label class="form-check-label" for="formCheck1<%= i %>"></label>
                                </div>
                            </td>
                            <td>11<%= i %>--AZ-59</td>
                            <td><%= zh_lorem_words(20) %></td>
                            <td>2021/01/01 ~ 2021/12/31</td>
                            <td class="text-center">12 月</td>
                        </tr>
                        <% end %>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="formCheck13" disabled readonly />
                                    <label class="form-check-label" for="formCheck13"></label>
                                </div>
                            </td>
                            <td>113--AZ-59</td>
                            <td><%= zh_lorem_words(20) %></td>
                            <td>2021/01/01 ~ 2021/12/31</td>
                            <td class="text-center">12 月</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        
        <section class="section">
            <div class="section-title">
                <h4>形式三：教師參與學校與合作機構或產業共同規劃辦理之深度實務研習</h4>
            </div>
            <div class="form-group">
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="formCheck03" disabled readonly />
                        <label class="form-check-label" for="formCheck03">
                            2024-01-01 ~ 2024-08-01 <%= zh_lorem_words(15) %>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="formCheck04" checked disabled readonly />
                        <label class="form-check-label" for="formCheck04">
                            2025-01-01 ~ 2025-08-01 <%= zh_lorem_words(17) %>
                        </label>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section">
            
            <div class="page-title">
                <h3>上傳附件</h3>
            </div>
            
            <div class="section-title">
                <h4>形式一：教師至合作機構或產業實地服務或研究</h4>
            </div>
            <div class="upload-wrapper register-upload">
                <div class="upload-item">
                    <div class="item-bd">
                        <h5 class="mb-3">2024-01-01 ~ 2024-08-01 <%= zh_lorem_words(12) %></h5>
                        <h4 class="mb-0">執行成果報告書</h4>
                    </div>
                    
                    <!-- 上傳檔案前沒有 .ft-action -->
                    <div class="ft-action">
                        <span>
                            <div class="file-pill file-preview">
                                <!-- 避免檔名過長有限制最大寬度 192px，超出時會字元會省略 -->
                                <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg" title="{連結名稱}">避免檔名過長有限制最大寬度.jpg</a>
                            </div>
                        </span>
                        <span class="last-time">最後更新時間 : 2024-08-02 12:00</span>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- 這塊 preview 不知道需不需要保留 -->
        <section class="section">
            <div class="section-title">
                <h4>形式二：教師至合作機構或產業進行產學合作計畫案</h4>
            </div>
            <h5 class="mb-3">校內計畫編號校內計畫編號 / 產學計畫案名稱產學計畫案名稱</h5>
            <ul class="menu-item upload-file-list">
                <% (1..2).map do |i| %>
                <li><a href="#" class="files-link"><%= zh_lorem_words(9) %>.pdf</a></li>
                <li><a href="#" class="files-link"><%= zh_lorem_words(7) %>.pdf</a></li>
                <li><a href="#" class="files-link"><%= zh_lorem_words(11) %>.pdf</a></li>
                <% end %>
                <li><a href="#" class="files-link"><%= zh_lorem_words(8) %>.pdf</a></li>
            </ul>
        </section>
        
        <section class="section">
            <div class="section-title">
                <h4>形式三：教師參與學校與合作機構或產業共同規劃辦理之深度實務研習</h4>
            </div>
            <div class="upload-wrapper register-upload">
                <div class="upload-item">
                    <div class="item-bd">
                        <h5 class="mb-3">2024-01-01 ~ 2024-08-01 <%= zh_lorem_words(12) %></h5>
                        <h4 class="mb-0">研習證明</h4>
                    </div>
                    
                    <!-- 上傳檔案前沒有 .ft-action -->
                    <div class="ft-action">
                        <span>
                            <div class="file-pill file-preview">
                                <!-- 避免檔名過長有限制最大寬度 192px，超出時會字元會省略 -->
                                <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg" title="{連結名稱}">避免檔名過長有限制最大寬度.jpg</a>
                            </div>
                        </span>
                        <span class="last-time">最後更新時間 : 2024-08-02 12:00</span>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section">
            <div class="section-title">
                <h4>個別累計與混合累計期間</h4>
            </div>
            <ul class="menu-item recognition-total">
                <li>
                    <span>形式一</span>
                    <span>120 日</span>
                </li>
                <li>
                    <span>形式二</span>
                    <span>180 日 / 6 個月</span>
                </li>
                <li>
                    <span>形式三</span>
                    <span>120 日</span>
                </li>
            </ul>
        </section>

        <div class="form-action">
            <button type="button" class="btn btn-lg btn-light">上一步</button>
            <button type="submit" class="btn btn-lg btn-primary">送出申請</button>
        </div>
        
	</div>
</div>

<% content_for :js do %>

<!-- mobile 視窗指定卷軸位置 -->
<script>
$(document).ready(function() {
    // 判斷是否為小視窗
    if ($(window).width() <= 768) {
        // 設定橫向卷軸到指定的 .current 元素位置
        var currentItem = $('.step-item.current');
        if (currentItem.length) {
            var scrollPosition = currentItem.position().left;
            $('.scrollbar-inner').scrollLeft(scrollPosition);
        }
    }
});
</script>

<% end %>










