<!-- template: 深度實務研習 - 申請表預覽 -->



<div class="container-lg">
    <%= render :partial => "/partials/breadcrumb" %>

	<div class="page-content d-block">
        
        <div class="step-wrapper">
            <div class="scrollbar-inner">
                <ul class="step-menu menu-item">
                    <li class="step-item done">
                        <span class="number">1</span>
                        <span class="description">深度研習申請表</span>
                    </li>
                    <li class="step-item current">
                        <span class="number">2</span>
                        <span class="description">預覽送出</span>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="basic-notice">
            <p><%= lorem_paragraph %></p>
            <p><%= lorem_paragraph %></p>
        </div>
        
        <div class="application-date">
            申請日期<span>2024-08-10</span>
        </div>
        
        <section class="section">
            <div class="section-title">
                <h4>申請人</h4>
            </div>
            
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label class="form-label">主聘單位</label>
                        <div>材料與光電科學學系前瞻應用材料</div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label class="form-label">教師姓名</label>
                        <div><%= zh_lorem_name %></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label class="form-label">聯絡電話</label>
                        <div>0912345678</div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <div><%= lorem_email %></div>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="form-label">執行期程</label>
                <div class="form-period">
                    <div>
                        <input type="date" class="form-control" id="period01" name="trip-start1" value="2024-01-01" disabled readonly>
                    </div>
                    <span>至</span>
                    <div>
                        <input type="date" class="form-control" id="period02" name="trip-start2" value="2024-12-31" disabled readonly>
                    </div>
                </div>
                <div class="period-total">總計：<span>365</span>日</div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="formInput21" class="form-label">辦理單位(學校)</label>
                        <input type="text" class="form-control" id="formInput21" value="<%= lorem_words(4) %>" disabled readonly />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="formInput22" class="form-label">研習課程名稱</label>
                        <input type="text" class="form-control" id="formInput22" value="<%= lorem_words(6) %>" disabled readonly />
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section">
            <div class="section-title">
                <h4>深度實務研習領域</h4>
            </div>
            
            <div class="form-group">
                <div class="has-other">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox01" value="option01" disabled readonly/>
                        <label class="form-check-label" for="inlineCheckbox01">教育</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox02" value="option02" disabled readonly/>
                        <label class="form-check-label" for="inlineCheckbox02">藝術及人文</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox03" value="option03" checked disabled readonly/>
                        <label class="form-check-label" for="inlineCheckbox03">社會科學、新聞學及圖書資訊</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox04" value="option04" disabled readonly/>
                        <label class="form-check-label" for="inlineCheckbox04">商業、管理及法律</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox05" value="option05" checked disabled readonly/>
                        <label class="form-check-label" for="inlineCheckbox05">自然科學、數學及統計</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox06" value="option06" disabled readonly/>
                        <label class="form-check-label" for="inlineCheckbox06">資訊通訊科技</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox07" value="option07" checked disabled readonly/>
                        <label class="form-check-label" for="inlineCheckbox07">工程、製造及營造</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox08" value="option08" checked disabled readonly/>
                        <label class="form-check-label" for="inlineCheckbox08">農業、林業、漁業及獸醫</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox09" value="option09" disabled readonly/>
                        <label class="form-check-label" for="inlineCheckbox09">醫藥衛生及社會福利</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="option10" disabled readonly/>
                        <label class="form-check-label" for="inlineCheckbox10">服務</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option11" checked disabled readonly />
                        <label class="form-check-label" for="inlineCheckbox11">其它</label>
                    </div>
                    <div class="check-input"><input type="text" class="form-control" id="" value="書劍恩仇錄" disabled readonly/></div>
                </div>
            </div>
        </section>
        
        <!-- "有填成效數則該項目成效內容為必填" 功能麻煩前端協助 -->
        <section class="section">
            <div class="section-title">
                <h4>深度實務研習預期效益</h4>
            </div>
            <p>請依據實地深耕服務或研究情形擇合適項目填寫，至少填寫一項成效。<span class="text-danger">預期成效請填入數字，預期成效內容上限 30 字。</span></p>
            
            <h4 class="fw-bold mb-3 text-black-50">量化成效</h4>
            <h5 class="text-contrasting mb-3">實務教學</h5>
            
            <div class="row-efficacy row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-label">製作教材數</label>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" placeholder="預期成效" value="999" disabled readonly />
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="" placeholder="預期成效內容" value="<%= zh_lorem_words(30) %>" disabled readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-label">開授相關課程數</label>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" placeholder="預期成效" value="999" disabled readonly />
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="" placeholder="預期成效內容" value="<%= zh_lorem_words(10) %>" disabled readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-label">指導專題學生數</label>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" placeholder="預期成效" value="999" disabled readonly />
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="" placeholder="預期成效內容" value="<%= zh_lorem_words(10) %>" disabled readonly />
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-label">產業新知導入教學</label>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" placeholder="預期成效" value="999" disabled readonly />
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="" placeholder="預期成效內容" value="<%= zh_lorem_words(15) %>" disabled readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <h5 class="text-contrasting mb-3">產業發展</h5>
            <div class="row-efficacy row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-label">產學合作簽約數</label>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" placeholder="預期成效" value="999" disabled readonly />
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="" placeholder="預期成效內容" value="<%= zh_lorem_words(15) %>" disabled readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-label">產學合作金額數</label>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" placeholder="預期成效" value="999" disabled readonly />
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="" placeholder="預期成效內容" value="<%= zh_lorem_words(15) %>" disabled readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-label">技術移轉數</label>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" placeholder="預期成效" value="999" disabled readonly />
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="" placeholder="預期成效內容" value="<%= zh_lorem_words(15) %>" disabled readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-label">協助產業員工訓練</label>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" placeholder="預期成效" value="999" disabled readonly />
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="" placeholder="預期成效內容" value="<%= zh_lorem_words(15) %>" disabled readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label for="formTextarea02" class="form-label">質化成效</label>
                  <textarea class="form-control" id="formTextarea02" rows="4" placeholder="請簡述深耕服務產業研習或研究預期成效，上限 200 字" disabled readonly><%= zh_lorem_words(200) %></textarea>
            </div>
            
            <div class="upload-wrapper register-upload">
                <div class="upload-item">
                    <div class="item-bd">
                        <h4 class="mb-0">深度實務研習內容</h4>
                    </div>
                    <div class="ft-action">
                        <span>
                            <div class="file-pill file-preview">
                                <!-- 避免檔名過長有限制最大寬度 192px，超出時會字元會省略 -->
                                <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg" title="{連結名稱}">避免檔名過長有限制最大寬度.jpg</a>
                            </div>
                        </span>
                        <span class="last-time">最後更新時間 : 2024-08-02 12:00</span>
                    </div>
                </div>
            </div>
        </section>

        <div class="form-action">
            <button type="button" class="btn btn-lg btn-light">上一步</button>
            <button type="submit" class="btn btn-lg btn-primary">送出申請</button>
        </div>
        
	</div>
</div>

<% content_for :js do %>

<!-- mobile 視窗指定卷軸位置 -->
<script>
$(document).ready(function() {
    // 判斷是否為小視窗
    if ($(window).width() <= 768) {
        // 設定橫向卷軸到指定的 .current 元素位置
        var currentItem = $('.step-item.current');
        if (currentItem.length) {
            var scrollPosition = currentItem.position().left;
            $('.scrollbar-inner').scrollLeft(scrollPosition);
        }
    }
});
</script>

<% end %>










