<!-- template: 深耕服務 - 申請表預覽 -->



<div class="container-lg">
    <%= render :partial => "/partials/breadcrumb" %>

	<div class="page-content d-block">
        
        <div class="step-wrapper">
            <div class="scrollbar-inner">
                <ul class="step-menu menu-item">
                    <li class="step-item done">
                        <span class="number">1</span>
                        <span class="description">深耕服務申請表</span>
                    </li>
                    <li class="step-item current">
                        <span class="number">2</span>
                        <span class="description">預覽送出</span>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="basic-notice">
            <p><%= lorem_paragraph %></p>
            <p><%= lorem_paragraph %></p>
        </div>
        
        <div class="application-date">
            申請日期<span>2024-08-10</span>
        </div>
        
        <section class="section">
            <div class="section-title">
                <h4>申請人</h4>
            </div>
            
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label class="form-label">主聘單位</label>
                        <div>材料與光電科學學系前瞻應用材料</div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label class="form-label">教師姓名</label>
                        <div><%= zh_lorem_name %></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label class="form-label">聯絡電話</label>
                        <div>0912345678</div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <div><%= lorem_email %></div>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="form-label">執行期程</label>
                <div class="form-period">
                    <div>
                        <input type="date" class="form-control" id="period01" name="trip-start1" value="2024-01-01" disabled readonly>
                    </div>
                    <span>至</span>
                    <div>
                        <input type="date" class="form-control" id="period02" name="trip-start2" value="2024-12-31" disabled readonly>
                    </div>
                </div>
                <div class="period-total">總計：<span>365</span>日</div>
            </div>
        </section>
        
        <section class="section">
            <div class="section-title">
                <h4>實地服務或研究機構簡介</h4>
            </div>
            
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <label for="formInput01" class="form-label">機構名稱</label>
                        <input type="text" class="form-control" id="formInput01" value="<%= lorem_words(4) %>" disabled readonly/>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-5">
                    <div class="form-group">
                        <label for="formInput02" class="form-label">地址</label>
                        <input type="text" class="form-control" id="formInput02" value="300新竹市東區園區二路9號" disabled readonly/>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="form-group">
                        <label for="formInput03" class="form-label">聯絡人</label>
                        <input type="text" class="form-control" id="formInput03" value="<%= zh_lorem_name %>" disabled readonly/>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="form-group">
                        <label for="formInput04" class="form-label">聯絡電話</label>
                        <input type="text" class="form-control" id="formInput04" value="0912345678" disabled readonly/>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-6 col-lg-2">
                    <div class="form-group">
                        <label for="formInput05" class="form-label">資本額</label>
                        <input type="text" class="form-control" id="formInput05" value="425000000" disabled readonly/>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="form-group">
                        <label for="formInput06" class="form-label">員工人數</label>
                        <input type="text" class="form-control" id="formInput06" value="999999" disabled readonly/>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-8">
                    <div class="form-group">
                        <label for="formInput07" class="form-label">營業範圍</label>
                        <input type="text" class="form-control" id="formInput07" value="F102020 食用油脂批發業, F102170 食品什貨批發業, F109070 文教﹑樂器﹑育樂用品批發業, F113050 電腦及事務性機器設備批發業, F118010 資訊軟體批發業, F203010 食品什貨﹑飲料零售業, F209060 文教﹑樂器﹑育樂用品零售業, F213030 電腦及事務性機器設備零售業, F218010 資訊軟體零售業, F401010 國際貿易業, I103060 管理顧問業, I301010 資訊軟體服務業, I301020 資料處理服務業, I301030 電子資訊供應服務業, I401010 一般廣告服務業, ZZ99999 除許可業務外,得經營法令非禁止或限制之業務" disabled readonly/>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label for="formTextarea01" class="form-label">產學合作現況與需求</label>
                  <textarea class="form-control" id="formTextarea01" rows="3" disabled readonly>《倚天屠龍記》為香港作家金庸所著的一部武俠小說，「射鵰三部曲」之一，為其三部曲之最後一部。作為跨越宋元兩個朝代的武俠傳奇故事的結局篇，其他二部包括《射鵰英雄傳》、《神鵰俠侶》是同一個時期（南宋）的故事，角色也互相熟識；到《倚天屠龍記》主線故事(除了首兩回的序幕)時，已過了快九十年，屬於元末的故事。《倚天》書中角色有許多為《射鵰》和《神鵰》之故人、後人及傳人。 </textarea>
            </div>
            
            <div class="form-group">
                <label for="formTextarea02" class="form-label">參與研習服務之動機</label>
                  <textarea class="form-control" id="formTextarea02" rows="3" disabled readonly>時代背景為元朝末年，《神鵰俠侶》結尾的近百年後。故事圍繞兩樣兵器屠龍刀和倚天劍。出場的真實歷史人物包括張三丰、朱元璋、陳友諒、常遇春、徐達、汝陽王察罕帖木兒、王保保、韓林兒等等。設定中的當時社會之焦點主要是以明教為首的「邪派」和以少林、武當為首的正派之爭，以及明教起義軍和元朝蒙古朝廷的對抗。涉及的武林秘笈包括《九陽真經》、《九陰真經》、《七傷拳譜》等等。小說前兩章延續《神鵰俠侶》的結尾，描述南宋末年郭襄、張君寶的經歷以及武當派的起源。故事正式情節從第三章開始，時為元順帝至元二年三月廿四日（1336年5月5日）。 </textarea>
            </div>
        </section>
        
        <section class="section">
            <div class="section-title">
                <h4>實地服務或研究主題</h4>
            </div>
            
            <div class="form-group rwd-50">
                <label for="formInput08" class="form-label">主題</label>
                <input type="text" class="form-control" id="formInput08" value="飛雪連天射白鹿，笑書神俠倚碧鴛" disabled readonly/>
            </div>
            
            <div class="form-group">
                <label class="form-label">深耕服務領域</label>
                <div class="has-other">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox01" value="option01" disabled readonly/>
                        <label class="form-check-label" for="inlineCheckbox01">教育</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox02" value="option02" disabled readonly/>
                        <label class="form-check-label" for="inlineCheckbox02">藝術及人文</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox03" value="option03" checked disabled readonly/>
                        <label class="form-check-label" for="inlineCheckbox03">社會科學、新聞學及圖書資訊</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox04" value="option04" disabled readonly/>
                        <label class="form-check-label" for="inlineCheckbox04">商業、管理及法律</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox05" value="option05" checked disabled readonly/>
                        <label class="form-check-label" for="inlineCheckbox05">自然科學、數學及統計</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox06" value="option06" disabled readonly/>
                        <label class="form-check-label" for="inlineCheckbox06">資訊通訊科技</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox07" value="option07" checked disabled readonly/>
                        <label class="form-check-label" for="inlineCheckbox07">工程、製造及營造</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox08" value="option08" checked disabled readonly/>
                        <label class="form-check-label" for="inlineCheckbox08">農業、林業、漁業及獸醫</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox09" value="option09" disabled readonly/>
                        <label class="form-check-label" for="inlineCheckbox09">醫藥衛生及社會福利</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="option10" disabled readonly/>
                        <label class="form-check-label" for="inlineCheckbox10">服務</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option11" checked disabled readonly />
                        <label class="form-check-label" for="inlineCheckbox11">其它</label>
                    </div>
                    <div class="check-input"><input type="text" class="form-control" id="" value="書劍恩仇錄" disabled readonly/></div>
                </div>
            </div>
        </section>
        
        <!-- "有填成效數則該項目成效內容為必填" 功能麻煩前端協助 -->
        <section class="section">
            <div class="section-title">
                <h4>實地服務或研究預期效益</h4>
            </div>
            <p>請依據實地深耕服務或研究情形擇合適項目填寫，至少填寫一項成效。<span class="text-danger">預期成效請填入數字，預期成效內容上限 30 字。</span></p>
            
            <h4 class="fw-bold mb-3 text-black-50">量化成效</h4>
            <h5 class="text-contrasting mb-3">實務教學</h5>
            
            <div class="row-efficacy row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-label">製作教材數</label>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" placeholder="預期成效" value="999" disabled readonly />
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="" placeholder="預期成效內容" value="<%= zh_lorem_words(30) %>" disabled readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-label">開授相關課程數</label>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" placeholder="預期成效" value="999" disabled readonly />
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="" placeholder="預期成效內容" value="<%= zh_lorem_words(10) %>" disabled readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-label">指導專題學生數</label>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" placeholder="預期成效" value="999" disabled readonly />
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="" placeholder="預期成效內容" value="<%= zh_lorem_words(10) %>" disabled readonly />
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-label">產業新知導入教學</label>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" placeholder="預期成效" value="999" disabled readonly />
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="" placeholder="預期成效內容" value="<%= zh_lorem_words(15) %>" disabled readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <h5 class="text-contrasting mb-3">產業發展</h5>
            <div class="row-efficacy row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-label">產學合作簽約數</label>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" placeholder="預期成效" value="999" disabled readonly />
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="" placeholder="預期成效內容" value="<%= zh_lorem_words(15) %>" disabled readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-label">產學合作金額數</label>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" placeholder="預期成效" value="999" disabled readonly />
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="" placeholder="預期成效內容" value="<%= zh_lorem_words(15) %>" disabled readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-label">技術移轉數</label>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" placeholder="預期成效" value="999" disabled readonly />
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="" placeholder="預期成效內容" value="<%= zh_lorem_words(15) %>" disabled readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-label">協助產業員工訓練</label>
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" placeholder="預期成效" value="999" disabled readonly />
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="" placeholder="預期成效內容" value="<%= zh_lorem_words(15) %>" disabled readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label for="formTextarea02" class="form-label">質化成效</label>
                  <textarea class="form-control" id="formTextarea02" rows="4" placeholder="請簡述深耕服務產業研習或研究預期成效，上限 200 字" disabled readonly><%= zh_lorem_words(200) %></textarea>
            </div>
            
            <div class="upload-wrapper register-upload">
                <div class="upload-item">
                    <div class="item-bd">
                        <h4 class="mb-0">實地深耕服務或研究規劃內容</h4>
                    </div>
                    <div class="ft-action">
                        <span>
                            <div class="file-pill file-preview">
                                <!-- 避免檔名過長有限制最大寬度 192px，超出時會字元會省略 -->
                                <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg" title="{連結名稱}">避免檔名過長有限制最大寬度.jpg</a>
                            </div>
                        </span>
                        <span class="last-time">最後更新時間 : 2024-08-02 12:00</span>
                    </div>
                </div>
                
                <div class="upload-item">
                    <div class="item-bd">
                        <h4 class="mb-0">教師至合作機構或產業實地服務或研究契約</h4>
                    </div>
                    
                    <div class="ft-action">
                        <span>
                            <div class="file-pill file-preview">
                                <!-- 避免檔名過長有限制最大寬度 192px，超出時會字元會省略 -->
                                <a href="#" target="_blank" class="filename filename-preview" title="避免檔名過長有限制最大寬度.jpg" title="{連結名稱}">避免檔名過長有限制最大寬度.jpg</a>
                            </div>
                        </span>
                        <span class="last-time">最後更新時間 : 2024-08-02 12:00</span>
                    </div>
                    
                </div>
            </div>
            
        </section>

        <div class="form-action">
            <button type="button" class="btn btn-lg btn-light">上一步</button>
            <button type="submit" class="btn btn-lg btn-primary">送出申請</button>
        </div>
        
	</div>
</div>

<% content_for :js do %>

<!-- mobile 視窗指定卷軸位置 -->
<script>
$(document).ready(function() {
    // 判斷是否為小視窗
    if ($(window).width() <= 768) {
        // 設定橫向卷軸到指定的 .current 元素位置
        var currentItem = $('.step-item.current');
        if (currentItem.length) {
            var scrollPosition = currentItem.position().left;
            $('.scrollbar-inner').scrollLeft(scrollPosition);
        }
    }
});
</script>

<% end %>










