<% I18n.locale = "zh-TW" %>
<!doctype html>
<html lang="<%= I18n.locale %>" class="no-js">
<head>
    <%= render :partial => "/partials/admin_head" %>
</head>
<body>
    <div class="workspace" canvas="container">
    <% if content_for? :sidebar %>
        <%= yield :sidebar %>
    <% else %>
        <%= render :partial => "/partials/admin_sidebar" %>
    <% end %>
    <div class="page">
        <div class="page-inner">
            <div class="page-wrapper">
                <% if content_for? :header %>
                    <%= yield :header %>
                <% else %>
                    <%= render :partial => "/partials/admin_header" %>
                <% end %>
                <div class="content-wrapper clearfix">
                    <%= yield %>
                </div>
            </div>
            <%= render :partial => "/partials/admin_footer" %>
        </div>
    </div>
    </div>
    <%= render :partial => "/partials/simpler_sidebar" %>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/mdb.min.js"></script>
    <script src="/javascripts/sidenav.js"></script>
    <script src="/javascripts/slidebars.min.js"></script>
    <script src="/javascripts/slidebars.scripts.js"></script>
    <!--
    <script src="/javascripts/vertical-responsive-menu.js"></script>
    -->
    <script src="/javascripts/jquery.slimscroll.js"></script>
    <script>
        $('.sidebar-scroll').slimscroll({
            height: '100%'
        });
    </script>
    <!--[if lt IE 10]>
        <script src="/javascripts/jquery-placeholder-fixed.js"></script>
        <script type="text/javascript">
            $(function() {
                $("input").placeholder();
            });
    </script>
    <![endif]-->
    <!--%= livereload_js if ENV["RACK_ENV"] != "production" && defined?(App)%-->
    <%= yield :js %>
</body>
</html>
