		<h4 class="wrapper-title">Common document</h4>
		<div class="document-upload">
		    <div class="document-item">
			    <div class="document-hd">
				    <h5 class="font-500"><%= lorem_words(5) %></h5>
					<p class="font-300 text-muted">Upload time <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
				</div>
				<div class="document-ft">
					<a href="#" class="btn btn-success btn-xs" data-toggle="modal" data-target="#basicExampleModal">Template</a>
					<a href="#" class="btn btn-secondary btn-xs" data-toggle="modal" data-target="#basicExampleModal">Description</a>
					<a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">View</a>
					<a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#basicExampleModal">Edit</a>
				</div>
			</div>
			<div class="document-item">
			    <div class="document-hd">
				    <h5 class="font-500"><%= lorem_words(5) %></h5>
					<p class="font-300 text-muted">Upload time <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
				</div>
				<div class="document-ft">
					<a href="#" class="btn btn-secondary btn-xs" data-toggle="modal" data-target="#basicExampleModal">Description</a>
					<a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">View</a>
					<a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#basicExampleModal">Edit</a>
				</div>
			</div>
			<div class="document-item">
			    <div class="document-hd">
				    <h5 class="font-500"><%= lorem_words(5) %></h5>
					<p class="font-300 text-muted">Upload time <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
				</div>
                <div class="document-ft clearfix">
                    <a href="#" class="btn btn-xs btn-secondary btn-custom" data-toggle="modal" data-target="#basicExampleModal">Description</a>
                    <div class="file-wrap">
                        <form class="md-form">
                            <div class="file-field">
                                <div class="btn btn-primary btn-xs float-left">
                                    <span>Select</span>
                                    <input type="file">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Upload your file">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
			</div>
		</div>
		
		<div class="volunteer-ranking">
		    <span class="num">1</span>
            <div class="volunteer-school">
			    <p class="university">National Taiwan University</p>
				<p class="brief">Department of Engineering <span>request documents</span></p>
			</div>
		</div>
		<div class="document-upload">
		    <div class="document-item">
			    <div class="document-hd">
				    <h5 class="font-500"><span class="required font-700">*</span><%= lorem_words(5) %></h5>
					<p class="font-300 text-muted">Upload time <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
				</div>
				<div class="document-ft">
					<a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">View</a>
					<a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#basicExampleModal">Edit</a>
				</div>
			</div>
			<div class="document-item">
			    <div class="document-hd">
				    <h5 class="font-500"><span class="required font-700">*</span><%= lorem_words(5) %></h5>
					<p class="font-300 text-muted">Upload time <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
				</div>
				<div class="document-ft">
					<a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">View</a>
					<a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#basicExampleModal">Edit</a>
				</div>
			</div>
			<div class="document-item">
			    <div class="document-hd">
				    <h5 class="font-500">Other favorable documents</h5>
					<p class="font-300 text-muted">Upload time <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
				</div>
                <div class="document-ft clearfix">
                    <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">View</a>
					<a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#basicExampleModal">Edit</a>
					<a href="#" class="btn-floating btn-xs btn-danger" title="Video link"><i class="fa fa-play"></i></a>
                </div>
			</div>
			<div class="document-item">
			    <div class="document-hd">
				    <h5 class="font-500">Recommended files</h5>
					<p class="font-300 text-muted">Upload by teacher <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
				</div>
			</div>
		</div>
		
		<div class="volunteer-ranking">
		    <span class="num">2</span>
            <div class="volunteer-school">
			    <p class="university">National Taiwan Normal University</p>
				<p class="brief">College of Bio-Resources & Agriculture <span>request documents</span></p>
			</div>
		</div>
		<div class="document-upload">
		    <div class="document-item">
			    <div class="document-hd">
				    <h5 class="font-500"><span class="required font-700">*</span><%= lorem_words(5) %></h5>
					<p class="font-300 text-muted">Upload time <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
				</div>
				<div class="document-ft">
					<a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">View</a>
					<a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#basicExampleModal">Edit</a>
				</div>
			</div>
			<div class="document-item">
			    <div class="document-hd">
				    <h5 class="font-500"><span class="required font-700">*</span><%= lorem_words(5) %></h5>
					<p class="font-300 text-muted">Upload time <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
				</div>
				<div class="document-ft">
					<a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">View</a>
					<a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#basicExampleModal">Edit</a>
				</div>
			</div>
			<div class="document-item">
			    <div class="document-hd">
				    <h5 class="font-500">Other favorable documents</h5>
					<p class="font-300 text-muted">Upload time <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
				</div>
                <div class="document-ft clearfix">
                    <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">View</a>
					<a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#basicExampleModal">Edit</a>
					<a href="#" class="btn-floating btn-xs btn-danger" title="Video link"><i class="fa fa-play"></i></a>
                </div>
			</div>
			<div class="document-item">
			    <div class="document-hd">
				    <h5 class="font-500">Recommended files</h5>
					<p class="font-300 text-danger">Teacher has not uploaded</p>
				</div>
			</div>
		</div>
		
		
