<!-- tdrf: 活動首頁 -->

<div class="title-wrapper">
	<div class="container-lg">
		<span class="serial-number">COURSE-00149</span>
	    <h2><span class="date">2022/06/15</span> 專業人員/免費《110年上市後醫療器材子法規及QMS系統說明會 II》</h2>
	</div>
</div>

<div class="container-lg">
    <div class="theme-wrapper">
		<div class="theme-inner">
            <main class="theme-main">
			    <h4 class="block-tile">課程資訊</h4>
				<div class="event-posts">
                    <h2>h2 title 標題</h3>
                    <h3>h3 title 標題加一般段落</h3>
                    <p><%= zh_lorem_paragraphs(2) %></p>

                    <h3>UL 列表</h3>
                    <ul>
                        <li><%= zh_lorem_sentence %></li>
                        <li><%= zh_lorem_sentence %></li>
                        <li><%= zh_lorem_sentence %></li>
                    </ul>

                    <h3>OL 列表</h3>
                    <ol>
                        <li><%= zh_lorem_sentence %></li>
                        <li><%= zh_lorem_sentence %></li>
                        <li><%= zh_lorem_sentence %></li>
                    </ol>

                    <h3>大圖加段落</h3>
                    <p>文章內圖片因應 rwd 會自動 100% 寬，當螢幕寬度變化時才能自動縮放，除非設定如下方示範的文繞圖，在外層容器加上 <code>.text-runaround</code> 或 <code>.text-runaround .right</code></p>
                    <img src="../assets/fake/03.jpg" alt="測試" title="測試">
                    <p><%= zh_lorem_paragraphs(3) %></p>

                    <p><%= zh_lorem_paragraphs(2) %></p>

                    <div class="text-runaround">
                        <h3>文繞圖置左</h3>
                        <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                        <p><%= zh_lorem_paragraphs(6) %></p>
                    </div>

                    <div class="text-runaround right">
                        <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                        <p><%= zh_lorem_paragraphs(5) %></p>
                    </div>

                    <h3>table</h3>
                    <p>文章所有 table 須加上 <code>.table</code>，特性為寬度 100% 以及基本樣式，更多樣式可參考 <a href="https://getbootstrap.com/docs/5.1/content/tables/">Bootstrap</a>，另外所有 table 需在外層包一層 <code>.table-responsive</code>，可設定系統自動生或使用者自行 coding</p>

                    <h3>表格</h3>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="text-nowrap">
                                <tr>
                                    <% 5.times do %>
                                    <th>測試用表格</th>
                                    <% end %>
                                </tr>
                            </thead>
                            <tbody>
                                <% 5.times do %>
                                <tr>
                                    <% 5.times do %>
                                    <td><%= zh_lorem_sentence %></td>
                                    <% end %>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>

                    <h3>表格內容不斷行</h3>
                    <p>容器加上 <code>.text-nowrap</code></p>
                    <div class="table-responsive text-nowrap">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <% 5.times do %>
                                    <th>測試用表格</th>
                                    <% end %>
                                </tr>
                            </thead>
                            <tbody>
                                <% 5.times do %>
                                <tr>
                                    <% 5.times do %>
                                    <td><%= zh_lorem_sentence %></td>
                                    <% end %>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                    <div class="photo-gallery">
                        <h3>多圖並列</h3>
                        <p><code>.img-group</code> 圖片固定為三張一列，<span style="color:red;">使用者上傳的照片長寬比例必須一致</span>，請在後台標註讓使用者知道這點，否則排列會爛掉。</p>
                        <div class="img-group">
                            <img src="../assets/fake/05.jpg" alt="測試" title="測試">
                            <img src="../assets/fake/06.jpg" alt="測試" title="測試">
                            <img src="../assets/fake/07.jpg" alt="測試" title="測試">
                            <img src="../assets/fake/06.jpg" alt="測試" title="測試">
                            <img src="../assets/fake/05.jpg" alt="測試" title="測試">
                        </div>
                    </div>
					<h3>Lightbox</h3>
					<p><code>.bs-lightbox</code>，容器固定為 16:9，圖片長寬不限，為寬高比過大的容器下方會留白(圖六)。</p>
					<div class="bs-lightbox">
						<ul class="menu-item">
						    <li>
                                <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="lightbox-gallery" class="lightbox-item">
                                    <img src="https://unsplash.it/1200/768.jpg?image=251" class="img-fluid">
                                </a>
							</li>
							<li>
                                <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="lightbox-gallery" class="lightbox-item">
                                    <img src="https://unsplash.it/1200/768.jpg?image=252" class="img-fluid">
                                </a>
							</li>
							<li>
                                <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="lightbox-gallery" class="lightbox-item">
                                    <img src="https://unsplash.it/1200/768.jpg?image=253" class="img-fluid">
                                </a>
							</li>
							<li>
                                <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="lightbox-gallery" class="lightbox-item">
                                    <img src="https://unsplash.it/1200/768.jpg?image=254" class="img-fluid">
                                </a>
							</li>
							<li>
                                <a href="../assets/fake/fake-01.jpg" data-toggle="lightbox" data-gallery="lightbox-gallery" class="lightbox-item">
                                    <img src="../assets/fake/fake-01.jpg" class="img-fluid">
                                </a>
							</li>
							<li>
                                <a href="../assets/fake/03.jpg" data-toggle="lightbox" data-gallery="lightbox-gallery" class="lightbox-item">
                                    <img src="../assets/fake/03.jpg" class="img-fluid">
                                </a>
							</li>
						</ul>
					</div>
				</div>
			</main>
            <aside class="theme-aside">
			    <div class="aside-block">
				    <h4 class="block-tile">課程資訊</h4>
					<ul class="menu-item re-info">
					    <li>
						    <span class="label">課程形式</span>
							<span class="info">實體課程</span>
						</li>
						<li>
						    <span class="label">報名截止日</span>
							<span class="info">2022/05/29</span>
						</li>
						<li>
						    <span class="label">上課開始日</span>
							<span class="info">2022/06/15</span>
						</li>
						<li>
						    <span class="label">上課結束日</span>
							<span class="info">2022/07/20</span>
						</li>
						<li>
						    <span class="label">是否收費</span>
							<span class="info">否</span>
						</li>
						<li>
						    <span class="label">招生人數</span>
							<span class="info">20</span>
						</li>
						<li>
						    <span class="label">聯絡信箱</span>
							<span class="info"><a href="mailto:tdrf-event@tdrf.org.tw">tdrf-event@tdrf.org.tw</a></span>
						</li>
						<li>
						    <span class="label">聯絡電話</span>
							<span class="info">02-12345678#123</span>
						</li>
					</ul>
				</div>
				
				<div class="aside-block">
				    <h4 class="block-tile">課程資訊</h4>
					<ol class="menu-item training-conditions">
					    <li>
						    <span class="num"><span class="circle">1</span></span>
							<span class="conditions">完成簽到退、點名</span>
						</li>
						<li>
						    <span class="num"><span class="circle">2</span></span>
							<span class="conditions">完成前、後測</span>
						</li>
						<li>
						    <span class="num"><span class="circle">3</span></span>
							<span class="conditions">完成結訓問卷</span>
						</li>
						<li>
						    <span class="num"><span class="circle">4</span></span>
							<span class="conditions">上課時數達到標準</span>
						</li>
						<li>
						    <span class="num"><span class="circle">5</span></span>
							<span class="conditions">測驗分數達到標準</span>
						</li>
					</ol>
				</div>
				
				<div class="aside-block">
				    <h4 class="block-tile">檔案下載</h4>
					<ul class="menu-item file-download">
					    <li>
							<a class="dl-item" href="#"><i class="fas fa-cloud-download-alt"></i> 課表</a>
						</li>
						<li>
							<a class="dl-item" href="#"><i class="fas fa-cloud-download-alt"></i> 相關檔案.zip</a>
						</li>
						<li>
							<a class="dl-item" href="#"><i class="fas fa-cloud-download-alt"></i> Lorem ipsum dolor</a>
						</li>
					</ul>
				</div>
			</aside>
		</div>
		<div class="apply d-grid">
		    <button type="button" class="btn btn-lg btn-tdrf">我要報名</button>
		</div>
	</div>
</div>


<% content_for :js do %>
    <script src="../javascripts/bs5-lightbox.min"></script>
<% end %>