<% I18n.locale = "zh-TW" %>
<!doctype html>
<html lang="<%= I18n.locale %>" class="no-js">
<head>
    <%= render :partial => "/partials/head" %>
</head>
<body>
	<div class="workspace" canvas="container">
        <div class="pages">
            <%= render :partial => "/partials/header" %>
            <div class="content">
                <%= yield %>
            </div>
        </div>
        <%= render :partial => "/partials/footer" %>
	</div>
	
    <!-- Modal -->
    <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{吃該上傳項目的標題} 說明</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><%= lorem_sentences(5) %></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
	
	<%= render :partial => "/partials/simpler_sidebar" %>
    <script src="../javascripts/jquery-3.4.1.min.js"></script>
    <script src="../javascripts/popper.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/mdb.min.js"></script>
	<script src="../javascripts/slidebars.min.js"></script>
	<script src="../javascripts/slidebars.scripts.js"></script>
    <%= yield :js %>
</body>
</html>
