<!-- oia-nkust: 入學調查 -->

<div class="container">
	<div class="main-wrap">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link" id="application_information-tab" data-toggle="tab" href="#application_information" role="tab" aria-controls="application_information" aria-selected="true">Application information</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="review_result-tab" data-toggle="tab" href="#review_result" role="tab" aria-controls="review_result" aria-selected="false">Review result</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" id="admission_survey-tab" data-toggle="tab" href="#admission_survey" role="tab" aria-controls="admission_survey" aria-selected="false">Admission survey</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="freshman_announcement-tab" data-toggle="tab" href="#freshman_announcement" role="tab" aria-controls="freshman_announcement" aria-selected="false">Freshman announcement</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			
			<div class="tab-pane fade" id="application_information" role="tabpanel" aria-labelledby="application_information-tab">
				<div class="mb-4">
					<p>---------- 省略 ----------</p>
				</div>
			</div>

			<div class="tab-pane fade" id="review_result" role="tabpanel" aria-labelledby="review_result-tab">
				<div class="mb-4">
					<p>---------- 省略 ----------</p>
				</div>
			</div>
			
			<div class="tab-pane fade show active" id="admission_survey" role="tabpanel" aria-labelledby="admission_survey-tab">
				<div class="document-upload mb-5">
					<div class="document-item">
						<div class="document-hd">
							<h5>1. Edit contact information <span class="badge badge-warning">undone</span></h5>
						</div>
						<div class="document-ft">
							<button type="button" class="btn btn-dark btn-xs" data-toggle="modal" data-target="#contactInformation">
								Update
							</button>
						</div>
					</div>
					<div class="document-item">
						<div class="document-hd">
							<h5>2. Query assigned volunteer groups <span class="badge badge-warning">Not announced</span></h5>
						</div>
						<div class="document-ft">
							<button type="button" class="btn btn-dark btn-xs" data-toggle="modal" data-target="#volunteerGroup">
								Open
							</button>
						</div>
					</div>
					<div class="document-item">
						<div class="document-hd">
							<h5>3. Download admission documents <span class="badge badge-warning">Not downloaded</span></h5>
						</div>
						<div class="document-ft">
							<button type="button" class="btn btn-dark btn-xs" data-toggle="modal" data-target="#downloadFile">
								Downloaded
							</button>
						</div>
					</div>
					<div class="document-item">
						<div class="document-hd">
							<h5>4. Fill in the flight information <span class="badge badge-warning">undone</span></h5>
						</div>
						<div class="document-ft">
							<a href="#" class="btn btn-dark btn-xs">fill in</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="tab-pane fade" id="freshman_announcement" role="tabpanel" aria-labelledby="freshman_announcement-tab">
				<div class="mb-4">
					<p>---------- 省略 ----------</p>
				</div>
			</div>
			
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="contactInformation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contact information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div class="mb-4">
				    <p><%= lorem_sentences(4) %></p>
				</div>
				<form>
				    <div class="mb-5">
					    <h4><span class="required">*</span> Personal information</h4>
						<div class="form-group">
							<label for="">Phone number</label>
							<div class="row">
								<div class="col">
									<input type="text" class="form-control" placeholder="Country code">
								</div>
								<div class="col">
									<input type="text" class="form-control" placeholder="Area code">
								</div>
								<div class="col">
									<input type="text" class="form-control" placeholder="Number">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="Email">Email</label>
							<input type="text" class="form-control" id="Email" placeholder="">
						</div>
					</div>
					<div class="mb-5">
					    <h4><span class="required">*</span> Emergency Contact</h4>
						<div class="form-group">
							<div class="row">
								<div class="col">
									<label for="fullname">Name</label>
									<input type="text" class="form-control" id="fullname" placeholder="">
								</div>
								<div class="col">
									<label for="relationship">Relationship</label>
									<input type="text" class="form-control" id="relationship" placeholder="">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="">Phone number</label>
							<div class="row">
								<div class="col">
									<input type="text" class="form-control" placeholder="Country code">
								</div>
								<div class="col">
									<input type="text" class="form-control" placeholder="Area code">
								</div>
								<div class="col">
									<input type="text" class="form-control" placeholder="Number">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="Email">Email</label>
							<input type="text" class="form-control" id="Email" placeholder="">
						</div>
					</div>
					<div class="mb-5">
					    <h4>Contact information in Taiwan</h4>
						<div class="form-group">
							<div class="row">
								<div class="col">
									<label for="fullname">Name</label>
									<input type="text" class="form-control" id="fullname" placeholder="">
								</div>
								<div class="col">
									<label for="relationship">Relationship</label>
									<input type="text" class="form-control" id="relationship" placeholder="">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="">Phone number</label>
							<div class="row">
								<div class="col">
									<input type="text" class="form-control" placeholder="Country code">
								</div>
								<div class="col">
									<input type="text" class="form-control" placeholder="Area code">
								</div>
								<div class="col">
									<input type="text" class="form-control" placeholder="Number">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="Email">Email</label>
							<input type="text" class="form-control" id="Email" placeholder="">
						</div>
					</div>
				</form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-sm btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="volunteerGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Volunteer group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div class="mb-4">
				    <p><%= lorem_sentences(4) %></p>
				</div>
				<table class="table">
				    <thead>
					    <tr>
						    <th></th>
							<th>Job title</th>
							<th>English name</th>
							<th>Chinese name</th>
							<th>Gender</th>
							<th>Department</th>
							<th>Cellphone </th>
							<th>Phone</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
					    <tr>
						    <td>1</td>
							<td>General Coordinator</td>
							<td>Hong Jiaming</td>
							<td>洪嘉明</td>
							<td>male</td>
							<td>Bachelor of Applied Mathematics</td>
							<td>091234567</td>
							<td>0223456789</td>
							<td>email@email.com</td>
						</tr>
						<% (1..5).each do |n| %>
							<tr>
								<td>3</td>
								<td>Member</td>
								<td><%= lorem_name %></td>
								<td><%= zh_lorem_name %></td>
								<td>male</td>
								<td>Bachelor of Applied Mathematics</td>
								<td>091234567</td>
								<td>0223456789</td>
								<td><%= lorem_email %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="downloadFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Download admission documents</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div class="mb-4">
				    <p><%= lorem_sentences(4) %></p>
				</div>
				<div class="document-upload">
					<div class="document-item">
						<div class="document-hd">
							<h6>1. Admission requirements</h6>
							<p>Download time <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
						</div>
						<div class="document-ft">
							<a href="#" class="btn btn-dark btn-xs">Download</a>
						</div>
					</div>
					<div class="document-item">
						<div class="document-hd">
							<h6>2. Admission documents</h6>
							<p>Download time <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
						</div>
						<div class="document-ft">
							<a href="#" class="btn btn-dark btn-xs">Download</a>
						</div>
					</div>
					<div class="document-item">
						<div class="document-hd">
							<h6>3. Admission documents</h6>
							<p>Download time <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
						</div>
						<div class="document-ft">
							<a href="#" class="btn btn-dark btn-xs">Download</a>
						</div>
					</div>
					<div class="document-item">
						<div class="document-hd">
							<h6>4. <%= lorem_words(4) %></h6>
							<p>Download time <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
						</div>
						<div class="document-ft">
							<a href="#" class="btn btn-info btn-xs waves-effect waves-light">Info</a>
							<a href="#" class="btn btn-dark btn-xs">Download</a>
						</div>
					</div>
					<div class="document-item">
						<div class="document-hd">
							<h6>5. <%= lorem_words(4) %></h6>
							<p>Download time <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
						</div>
						<div class="document-ft">
							<a href="#" class="btn btn-info btn-xs waves-effect waves-light">Info</a>
							<a href="#" class="btn btn-dark btn-xs">Download</a>
						</div>
					</div>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

























































