<!-- NTU-OSA: Post Template with sidenav  -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item active">新生書院</li>
		</ol>
	</nav>
	<main class="main">
		<div class="row">
			<div class="col-md-3 sidenav">
				<div class="sticky">
					<ul class="collapsible collapsible-accordion menu-item">
						<li><a href="#" class="collapsible-header waves-effect current">書院活動宗旨</a></li>
						<li><a href="#" class="collapsible-header waves-effect">各學院分梯次及日期區間</a></li>
						<li><a href="#" class="collapsible-header waves-effect">報到日期、時間、地點</a></li>
						<li><a href="#" class="collapsible-header waves-effect">課程表</a></li>
						<li><a href="#" class="collapsible-header waves-effect">抽獎資訊</a></li>
						<li><a class="collapsible-header waves-effect arrow-r">書院團隊介紹<i class="fa fa-angle-down rotate-icon"></i></a>
							<div class="collapsible-body">
								<ul>
									<li><a class="waves-effect" href="#">課外組團隊</a></li>
									<li><a class="waves-effect" href="#">籌借人員團隊</a></li>
									<li><a class="waves-effect" href="#">隊輔團隊照片</a></li>
								</ul>
							</div>
						</li>
						<li><a href="#" class="collapsible-header waves-effect">常見問題</a></li>
						<li><a href="#" class="collapsible-header waves-effect">重要文件下載</a></li>
						<li><a href="#" class="collapsible-header waves-effect">學生手冊</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-9">
				<article class="article">
					<div class="post-meta">
						<div class="section-title">
							<h3>書院活動宗旨</h3>
						</div>
						<div class="post-share">
							<ul class="menu-item">
								<li><a href="#"><img class="icon-share" src="../assets/icon-print2.svg" alt="列印" title="列印"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-facebook.svg" alt="分享到Facebook" title="Facebook"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-twitter.svg" alt="分享到twitter" title="twitter"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-line.svg" alt="分享到Line" title="Line"></a></li>
							</ul>
						</div>
					</div>
					
                    <div class="post-single">
                        <div class="menber-info">
                            <h3>成員</h3>

                            <div class="info-group">
                                <div class="menber-avatar">
                                    <img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
                                </div>
                                <div class="menber-introduction">
                                    <h5>史嘉莉</h5>
                                    <div class="item">
                                        <span>職稱</span>
                                        <span>大師</span>
                                    </div>
                                    <div class="item">
                                        <span>信箱</span>
                                        <span>123@123.com</span>
                                    </div>
                                    <div class="item">
                                        <span>電話</span>
                                        <span>33662063</span>
                                    </div>
                                    <div class="item">
                                        <span>職掌</span>
                                        <ul>
                                            <li>開課審查委員會</li>
                                            <li>開課審查委員會</li>
                                            <li>開課審查委員會</li>
											<li>開課審查委員會</li>
                                            <li>開課審查委員會</li>
                                            <li>開課審查委員會</li>
											<li>開課審查委員會</li>
                                            <li>開課審查委員會</li>
                                            <li>開課審查委員會</li>
                                        </ul>
                                    </div>
                                    <div class="item">
                                        <span>代理人</span>
                                        <span>喬韓森</span>
                                    </div>
                                </div>
                            </div>
							
							<div class="info-group">
                                <div class="menber-avatar">
                                    <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                                </div>
                                <div class="menber-introduction">
                                    <h5>史嘉莉</h5>
                                    <div class="item">
                                        <span>職稱</span>
                                        <span>大師</span>
                                    </div>
                                    <div class="item">
                                        <span>信箱</span>
                                        <span>123@123.com</span>
                                    </div>
                                    <div class="item">
                                        <span>電話</span>
                                        <span>33662063</span>
                                    </div>
                                    <div class="item">
                                        <span>職掌</span>
                                        <ul>
                                            <li>開課審查委員會</li>
                                            <li>開課審查委員會</li>
                                            <li>開課審查委員會</li>
											<li>開課審查委員會</li>
                                            <li>開課審查委員會</li>
                                            <li>開課審查委員會</li>
											<li>開課審查委員會</li>
                                            <li>開課審查委員會</li>
                                            <li>開課審查委員會</li>
                                        </ul>
                                    </div>
                                    <div class="item">
                                        <span>代理人</span>
                                        <span>喬韓森</span>
                                    </div>
                                </div>
                            </div>

                        </div>
						
						
                        <h3>h3 title 標題加一般段落</h3>
                        <p><%= zh_lorem_paragraphs(5) %></p>

                        <h3>UL 列表</h3>
                        <ul>
                            <li><%= zh_lorem_sentence %></li>
                            <li><%= zh_lorem_sentence %></li>
                            <li><%= zh_lorem_sentence %></li>
                        </ul>

                        <h3>OL 列表</h3>
                        <ol>
                            <li><%= zh_lorem_sentence %></li>
                            <li><%= zh_lorem_sentence %></li>
                            <li><%= zh_lorem_sentence %></li>
                        </ol>

                        <h3>大圖加段落</h3>
                        <img src="../assets/fake/03.jpg" alt="測試" title="測試">
                        <p><%= zh_lorem_paragraphs(5) %></p>

                        <p><%= zh_lorem_paragraphs(5) %></p>
                        <img src="../assets/fake/03.jpg" alt="測試" title="測試">

                        <div class="text-runaround">
                            <h3>文繞圖置左</h3>
                            <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                            <p><%= zh_lorem_paragraphs(10) %></p>
                        </div>

                        <div class="text-runaround right">
                            <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                            <p><%= zh_lorem_paragraphs(10) %></p>
                        </div>

                        <div class="photo-gallery">
                            <h3>多圖並列</h3>
                            <div class="img-group">
                                <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                                <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                                <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                                <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                                <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                            </div>
                            <p>圖片固定為三張一列，不足的右邊會被空出來，使用者上傳的照片長寬比例必須一致,請在後台標註讓使用者知道這點，否則排列有可能會爛掉。</p>
                        </div>

                        <div class="photo-gallery upright">
                            <h3>直立多圖並列</h3>
                            <div class="img-group">
                                <img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
                                <img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
                                <img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
                                <img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
                                <img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
                            </div>
                            <p>圖片固定為四張一列，不足的右邊會被空出來，使用者上傳的照片長寬比例必須一致，請在後台標註讓使用者知道這點，否則排列有可能會爛掉。</p>
                        </div>

                        <h3>表格</h3>
                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <% 5.times do %>
                                        <th>測試用表格</th>
                                        <% end %>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% 5.times do %>
                                    <tr>
                                        <% 5.times do %>
                                        <td><%= zh_lorem_sentence %></td>
                                        <% end %>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>

                        <h3>表格內容不斷行</h3>
                        <p>容器加上 .text-nowrap</p>
                        <div class="table-responsive text-nowrap">
                            <table>
                                <thead>
                                    <tr>
                                        <% 5.times do %>
                                        <th>測試用表格</th>
                                        <% end %>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% 5.times do %>
                                    <tr>
                                        <% 5.times do %>
                                        <td><%= zh_lorem_sentence %></td>
                                        <% end %>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
						
						<div class="album-gallery">
                            <h3>相簿</h3>
                            <div class="img-group">
                                <a href="#" class="album-item">
									<div class="image-wrapper">
									    <img src="../assets/fake/01.jpg" alt="測試" title="測試">
									</div>
									<p>相簿名稱</p>
								</a>
                                <a href="#" class="album-item">
									<div class="image-wrapper">
									    <img src="../assets/fake/002.jpg" alt="測試" title="測試">
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
								</a>
								<a href="#" class="album-item">
									<div class="image-wrapper">
									    <img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
									</div>
									<p>相簿名稱</p>
								</a>
								<a href="#" class="album-item">
									<div class="image-wrapper">
									    <img src="../assets/fake/01.jpg" alt="測試" title="測試">
									</div>
									<p>相簿名稱</p>
								</a>
                                <a href="#" class="album-item">
									<div class="image-wrapper">
									    <img src="http://placekitten.com/200/300" alt="測試" title="測試">
									</div>
									<p>相簿名稱</p>
								</a>
                            </div>
							<p>相簿圖片容器為標準的 16:9，代表 user 上傳或選擇的封面照任何尺寸都可以</p>
                        </div>
						
						<div class="album-gallery upright">
                            <h3>直立相簿</h3>
                            <div class="img-group">
                                <a href="#" class="album-item">
									<div class="image-wrapper">
									    <img src="../assets/fake/01.jpg" alt="測試" title="測試">
									</div>
									<p>相簿名稱</p>
								</a>
                                <a href="#" class="album-item">
									<div class="image-wrapper">
									    <img src="http://placekitten.com/720/1280" alt="測試" title="測試">
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
								</a>
								<a href="#" class="album-item">
									<div class="image-wrapper">
									    <img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
									</div>
									<p>相簿名稱</p>
								</a>
								<a href="#" class="album-item">
									<div class="image-wrapper">
									    <img src="http://placekitten.com/180/320" alt="測試" title="測試">
									</div>
									<p>相簿名稱</p>
								</a>
                                <a href="#" class="album-item">
									<div class="image-wrapper">
									    <img src="http://placekitten.com/360/640" alt="測試" title="測試">
									</div>
									<p>相簿名稱</p>
								</a>
								<a href="#" class="album-item">
									<div class="image-wrapper">
									    <img src="http://placekitten.com/540/960" alt="測試" title="測試">
									</div>
									<p>相簿名稱</p>
								</a>
                            </div>
                        </div>

                    </div>
					<div class="post-ft">
						<span></span>
						<div class="view-amount" title="瀏覽人次">
							<span class="label"><i class="fa fa-eye"></i></span>
							<span>9999</span>
						</div>
					</div>
				</article>
			</div>
		</div>
	</main>
</div>


<% content_for :js do %>
<script>
$(function () {
	$(".sticky").sticky({
		topSpacing: 30,
		zIndex: 2,
		stopper: "#YourStopperId"
	});
});
</script>
<% end %>





















































