<!-- NTU-OSA: 社團總覽  -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item active">社團總覽</li>
		</ol>
	</nav>
	
	<main class="main">
		<section class="section-container search-club-wrap">
            <form class="form-inline active-cyan-4">
                <input class="form-control" type="text" placeholder="搜尋社團" aria-label="Search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </form>
			<div class="view-all">
				<span class="text">or</span>
				<a href="#" class="all-link">瀏覽全部社團 <i class="fa fa-chevron-circle-right"></i></a>
			</div>
		</section>
		<section class="club-classification">
            <div class="section-title">
                <h3>社團分類</h3>
            </div>
		    <ul class="menu-item">
			    <li>
				    <a href="#">
						<img src="../assets/club/01@2x.jpg" alt="體適能" title="體適能">
					</a>
				</li>
				<li>
				    <a href="#">
						<img src="../assets/club/02@2x.jpg" alt="服務性" title="服務性">
					</a>
				</li>
				<li>
				    <a href="#">
						<img src="../assets/club/03@2x.jpg" alt="聯誼性" title="聯誼性">
					</a>
				</li>
				<li>
				    <a href="#">
						<img src="../assets/club/04@2x.jpg" alt="康樂性" title="康樂性">
					</a>
				</li>
				<li>
				    <a href="#">
						<img src="../assets/club/05@2x.jpg" alt="學術性" title="學術性">
					</a>
				</li>
				<li>
				    <a href="#">
						<img src="../assets/club/06@2x.jpg" alt="學藝性" title="學藝性">
					</a>
				</li>
				<li>
				    <a href="#">
						<img src="../assets/club/07@2x.jpg" alt="自治性" title="自治性">
					</a>
				</li>
				<li>
				    <a href="#">
						<img src="../assets/club/08@2x.jpg" alt="綜合性" title="綜合性">
					</a>
				</li>
			</ul>
		</section>
		<div class="row">
		    <div class="col-xl-9">
                <div class="section-title">
                    <h3>社團活動</h3>
                </div>
				<ul class="event-item menu-item">
				    <li class="clearfix">
					    <div class="event-date">
						    <div class="date-start">
							    <span class="date-month">NOV</span>
								<span class="date-th">10</span>
								<span class="start">start</span>
							</div>
							<div class="date-end">
							    <span class="date-month">NOV</span>
								<span class="date-th">10</span>
								<span class="end">end</span>
							</div>
						</div>
						<div class="info">
						    <h5>臺大羅浮群二十五週年團慶行前會</h5>
							<p class="club-name">
							    <i class="fa fa-user-circle-o"></i>
								自然保育社
							</p>
							<p class="event-location">
							    <i class="fa fa-map-marker"></i>
								台北市大安區羅斯福路四段1號
							</p>
						</div>
					</li>
					<li class="clearfix">
					    <div class="event-date">
						    <div class="date-start">
							    <span class="date-month">NOV</span>
								<span class="date-th">13</span>
								<span class="start">start</span>
							</div>
							<div class="date-end">
							    <span class="date-month">NOV</span>
								<span class="date-th">13</span>
								<span class="end">end</span>
							</div>
						</div>
						<div class="info">
						    <h5><%= zh_lorem_sentence %></h5>
							<p class="club-name">
							    <i class="fa fa-user-circle-o"></i>
								貳樓餐廳社
							</p>
							<p class="event-location">
							    <i class="fa fa-map-marker"></i>
								台北市內湖區內湖路一段 300 號
							</p>
						</div>
					</li>
					<li class="clearfix">
					    <div class="event-date">
						    <div class="date-start">
							    <span class="date-month">NOV</span>
								<span class="date-th">20</span>
								<span class="start">start</span>
							</div>
							<div class="date-end">
							    <span class="date-month">NOV</span>
								<span class="date-th">21</span>
								<span class="end">end</span>
							</div>
						</div>
						<div class="info">
						    <h5><%= zh_lorem_sentence %></h5>
							<p class="club-name">
							    <i class="fa fa-user-circle-o"></i>
								臺北松山機場社
							</p>
							<p class="event-location">
							    <i class="fa fa-map-marker"></i>
								10548 台北市松山區敦化北路 340-9 號
							</p>
						</div>
					</li>
					<li class="clearfix">
					    <div class="event-date">
						    <div class="date-start">
							    <span class="date-month">DEC</span>
								<span class="date-th">24</span>
								<span class="start">start</span>
							</div>
							<div class="date-end">
							    <span class="date-month">DEC</span>
								<span class="date-th">25</span>
								<span class="end">end</span>
							</div>
						</div>
						<div class="info">
						    <h5><%= lorem_sentence %></h5>
							<p class="club-name">
							    <i class="fa fa-user-circle-o"></i>
								老四川社
							</p>
							<p class="event-location">
							    <i class="fa fa-map-marker"></i>
								10491 台北市中山區長安東路二段 112 號
							</p>
						</div>
					</li>
					<li class="clearfix">
					    <div class="event-date">
						    <div class="date-start">
							    <span class="date-month">DEC</span>
								<span class="date-th">31</span>
								<span class="start">start</span>
							</div>
							<div class="date-end">
							    <span class="date-month">JAN</span>
								<span class="date-th">01</span>
								<span class="end">end</span>
							</div>
						</div>
						<div class="info">
						    <h5><%= zh_lorem_sentences(2) %></h5>
							<p class="club-name">
							    <i class="fa fa-user-circle-o"></i>
								臺北青田郵局社
							</p>
							<p class="event-location">
							    <i class="fa fa-map-marker"></i>
								106 台北市大安區和平東路一段 155 號
							</p>
						</div>
					</li>
					<li class="clearfix">
					    <div class="event-date">
						    <div class="date-start">
							    <span class="date-month">JAN</span>
								<span class="date-th">01</span>
								<span class="start">start</span>
							</div>
							<div class="date-end">
							    <span class="date-month">JAN</span>
								<span class="date-th">08</span>
								<span class="end">end</span>
							</div>
						</div>
						<div class="info">
						    <h5><%= zh_lorem_sentence %></h5>
							<p class="club-name">
							    <i class="fa fa-user-circle-o"></i>
								銘翔藝廊社
							</p>
							<p class="event-location">
							    <i class="fa fa-map-marker"></i>
								106 台北市大安區泰順街 44 巷 4 號 1 樓
							</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-xl-3">
			    <a href="#" class="btn btn-download"><i class="fa fa-cloud-download"></i> 下載所有社團資訊</a>
			</div>
		</div>
	</main>
	
</div>


<% content_for :js do %>

<% end %>





















































